extends /shared/layout

block content
   +pageTitle

   +pod('')
      .uk-width-medium-5-10
         p Symbiosis is a relationship between two or more organisms that live closely together. There are several types or classes of symbiosis:
         dl
            dt Commensalism
            dd One organism benefits and the other is neither harmed nor helped.
            dt Mutualism
            dd Both organisms benefit. An obligate mutualist cannot survive without its partner; a facultative mutualist can survive on its own.
            dt Parasitism
            dd One organism (the parasite) benefits and the other (the host) is harmed.
         
         
      .uk-width-medium-5-10
         p.
            To be successful, a symbiotic relationship requires a great deal of balance. Even parasitism, where one partner is 
            harmed, is balanced so that the host lives long enough to allow the parasite to spread and reproduce.
         p.
            These delicate relationships are the product of long years of co-evolution. Bacteria were the first living things on 
            the planet, and all of Earth's other creatures have been living and evolving with them for hundreds of millions of 
            years. Today, microbes are essential for many organisms' basic functions, including nourishment, reproduction, and 
            protection.

   .uk-width-1-1.uk-text-center
      iframe.uk-responsive-width(src='//player.vimeo.com/video/108950069', width='920', height='518', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
   
   +pod('Microbes Can Alter Behavior')
      .uk-width-medium-5-10
         p.
            Toxoplasma is a parasitic protist that can infect a range of animals, including mice, rats, and people. But to 
            reproduce sexually, it must infect a cat. In an amazing and complex relationship, the parasite enters the brain of 
            infected rodents, where it changes the host's behavior, making it more likely to be caught and eaten by a cat!
         p.
            Mice infected with toxoplasma lose their fear of cats. They are more active, and more likely to spend time exploring 
            open spaces. In one study, male rats were actually attracted to the smell of cat urine.
            
      .uk-width-medium-5-10
         p.
            Once inside the cat, the protist enters cells in the intestinal wall, reproduces sexually, and releases cysts that are 
            carried out with the cat's feces. From there, the cysts are picked up and eaten by the next host.
         p.
            Infected people behave differently too. Toxoplasma infection is correlated with mental conditions including 
            schizophrenia, obsessive-compulsive disorder, and autism. The link between toxoplasma infection and schizophrenia 
            is stronger than for any single gene identified to date.
         
   +pod('Microbes May Help Drive Evolution')
      .uk-width-1-1.uk-container-center
         p.lg-inset.
            Different types of wolbachia bacteria infect a range of animals that include insects and roundworms. In some species, 
            the bacteria cause sexual incompatibility. Infected parents can reproduce with each other, and so can uninfected 
            parents. But an infected parent and uninfected parent can't reproduce together. Wolbachia infection may create the 
            "reproductive isolation" necessary for one species to diverge into two.
   
   +pod('Microbes Are Important For Human Health')
      .uk-width-medium-6-10
         p.
            Human breast milk contains oligosaccharides, short chains of sugar molecules that provide absolutely no nutritional 
            benefit to babies. Why do mothers spend energy making these molecules? It's to feed microbes that are important for 
            the baby's developing immune system.
         p.
            Formula-fed babies—who presumably have fewer of these beneficial, oligosaccharide-eating, immune-boosting microbes—are 
            more likely than breast-fed babies to suffer from allergies. Early studies suggest that when babies drink formula that 
            is supplemented with oligosaccharides similar to those found in breast milk, they become less likely to suffer from 
            skin allergies and eczema during the first two years of life.
      
      .uk-width-medium-4-10
         +well
            p.
               To learn more about how microbes keep us healthy, visit <a href="../friends/">Your Microbial Friends</a>.
