extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src='images/diverseEyes.jpg', alt='diverse eyes', width='350', height='288')
      .uk-width-medium-6-10
         p
            | Given the variety of eyes found throughout the animal kingdom, evolutionary biologists once thought eyes had evolved
            | independently dozens or even hundreds of times. Thanks to DNA sequencing and other molecular tools, we know today that
            | modern eyes are built from many of the same genes. Ancient &quot;toolkit&quot; genes (such as opsins, 
            em Pax
            | , and 
            em Otx
            | ) first evolved
            |          in a primitive ancestor that gave rise to all animals with eyes. These genes have been preserved throughout evolution,
            |          and today we still find them at work in all types of eyes. The diversity of modern animal eyes is the result of
            |          refinements and specializations built on top of this basic genetic framework.
         p
            | Not all eye features are built using the same genes. Lenses, for example, are refinements that arose when different
            | genes were recruited to perform a similar task in different organisms. Similarly, shielding pigments arose from a
            | variety of genes.
         p
            | Molecular analysis has shown that many genes in the eye, whether shared among organisms or not, had other functions
            | first. They were later recruited to take on second jobs.
   +pod('All Eyes Use Opsins')
      .uk-width-medium-4-10
         p
            | Opsins detect light. Before being recruited into the eye, opsins had a variety of other jobs. In modern organisms
            | that don&apos;t have eyes&mdash;such as archaea, fungi, green algae, protists, and simple animals&mdash;members of the opsin
            | family act as ion pumps, sensory molecules, light-gated ion channels, and circadian-rhythm regulators.
         p
            | Light-detecting opsins had to evolve only once. The thousand or more modern animal opsins are all modified versions of
            | one that was present in a shared ancestor that lived more than 600 million years ago. Different opsins detect a variety
            | of intensities and wavelengths of light. Many species have multiple opsins, allowing them to see a broad range of
            | wavelengths, thus forming the basis of color vision. Each animal&apos;s opsins are tuned to the wavelengths of light that are
            | most important to its lifestyle and environment.
      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='images/photoreceptors.jpg', width='490', height='358', alt='Photoreceptors')
   +pod('Genes Are Universal Regulators')
      .uk-width-medium-5-10
         figure
            img.lg-no-shadow(src='images/pax6.jpg', alt='Pax 6', style='margin: 0 auto;')
            p
               | Defects in the 
               em Pax6
               |  gene cause the loss of eye structures in humans, mice, and fruit flies.
               | Mouse photos reprinted by permission from Macmillan Publishers Ltd: Nature 354(6354):522-5, &copy;1991.
               | Human and fruit fly photos reprinted under Open Access License; Originally published in Washington, N. L.
               | et al, PLoS One Biology 7(11): e1000247. doi:10.1371/journal.pbio.1000247
      .uk-width-medium-5-10
         p
            | For eyes to function properly, many different proteins must interact. Pax proteins are regulators: they attach
            | directly to the DNA and turn on the necessary genes in the right place at the right time. These regulators perform
            | similar jobs in animals as diverse as insects and vertebrates, so they must have evolved before the two lineages
            | split. In fact, nearly every animal that grows eyes does so with the help of 
            em Pax
            |  genes. Even organisms without eyes,
            |          such as sponges, have 
            em Pax
            |  genes; this finding suggests that Pax proteins originally controlled other processes and
            |          were later recruited into the eye.
         p
            | In the mid-1990s, researchers were suprised to discover that fruit flies, mice, and humans who were born missing
            | eye structures had defects in the same gene. This gene, called 
            em Pax6
            |  (or eyeless in flies), is required for normal eye
            |          development in all animals with bilateral symmetry. Even in eyes that look very different, 
            em Pax6
            |  functions in much the
            |          same way. When placed in a fly, the mouse 
            em Pax6
            |  gene activates all the genes necessary to form a normal, functional fly
            |          eye (not a mouse eye).
   +pod('Crystallins Have Diverse Origins')
      .uk-width-medium-4-10
         p
            | Tightly packed into a nearly crystal array, crystallin proteins make up the lens and cornea, the transparent
            | light-gathering structures in many types of eyes. While all crystallins share many featuresthey&apos;re water
            | soluble, transparent, and stable at high concentrationsthey have an enormously diverse evolutionary history;
            | different crystallins have evolved independently from a broad assortment of stress proteins and metabolic enzymes.
         p
            | In some animals, crystallins participate in a type of job sharing: at low concentrations in other parts of the body,
            | they still carry out their original stress or metabolic roles. In other animals, the original gene has been duplicated.
            | One copy still does its old job while the other copy has been modified by natural selection into a high-performing lens
            | protein. This theme of &quot;duplication and divergence&quot; is common throughout evolution.
         p
            | Not only do diverse crystallins act alike, they are also controlled by the same regulatory genes:
            a(href='../newtricks/')
               | regulatory
               | switches
            |  where Pax proteins can attach have evolved independently in front of unrelated crystallin genes.
      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='images/human-duck.jpg', width='489', height='331', alt='Human and Duck comparison')
   +pod('Shielding Pigments Come in Many Forms')
      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='images/scales.jpg', width='490', height='331', alt='Scales')
            p
               | Many pigments that provide shielding in the eye also color other parts of the body. Starting at
               | top left: tiger fur, elephant skin, red blood cells, peacock feathers, spider body, snake scales,
               | moth scales, dog fur.
      .uk-width-medium-4-10
         p
            | In simple eyes, dark pigments shield the photoreceptors, giving tiny, transparent animals more information about light
            | direction. In more-complex eyes, pigments absorb light after it passes through photoreceptors, preventing it from scattering
            | and degrading image quality, as well as from damaging sensitive tissues.
         p
            | A wide variety of dark-colored molecules act as shielding pigments in different types of eyes, and many eyes contain more
            | than one type of pigment. Common eye pigments include melanin (in vertebrates, cnidaria, planaria, and some nematodes),
            | ommachromes (in molluscs and arthropods), pterins, guanidine, and hemoglobin.
         p
            | As with crystallins, many genes involved in pigment production are also active in other parts of the body: melanins
            | color skin, fur, and feathers; pterins color butterfly scales; ommachromes color spiders&apos; bodies; hemoglobin transports
            | oxygen in the blood.
   +references
      .uk-width-1-1
         a.togglelink References
         .togglediv
            p
               | Arendt, D., Hausen, H., Purschke, G. (2009). The &apos;division of labour&apos; model of eye evolution.
               a(href='http://rstb.royalsocietypublishing.org/content/364/1531/2809.long')
                  | Philosophical
                  | Transactions of the Royal Society of London, Biological Sciences, 364(1531), 2809-2817. doi:10.1098/rstb.2009.0104
            p
               | Lamb, T. D., Collin, S. P., Pugh, Jr., E. N. (2007).
               a(href='http://www.nature.com/nrn/journal/v8/n12/abs/nrn2283.html')
                  | Evolution
                  | of the vertebrate eye: opsins, photoreceptors, retina and eye cup. Nature Reviews Neuroscience, 9(12), 960-976 (subscription required).
                  | doi:10.1038/nrn2283
            p
               | National Library of Medicine &amp; John Hopkins University (2001, April 3). MIM *100660
               | ALDEHYDE DEHYDROGENASE, FAMILY 3, SUBFAMILY A, MEMBER 1; ALDH3A1. Online Mendelian Inheritance in Man. Retrieved May 7, 2010,
               | from
               a(href='http://www.ncbi.nlm.nih.gov/omim/100660') http://www.ncbi.nlm.nih.gov/omim/100660
            p
               | Nilsson, D.-E. (2009). The evolution of eyes and visually guided behaviour.
               a(href='http://rstb.royalsocietypublishing.org/content/364/1531/2833.long')
                  | Philosophical
                  | Transactions of the Royal Society of London, Biological Sciences, 364(1531), 2833-2847. doi:10.1098/rstb.2009.0083
            p
               | Shubin, N., Tabin, C., &amp; Carroll, S. (2009).
               a(href='http://www.nature.com/nature/journal/v457/n7231/full/nature07891.html')
                  | Deep
                  | homology and the origins of evolutionary novelty. Nature, 457, 818-823 (subscription required). doi:10.1038/nature07891
            p
               | Tsai, M., Koo, J., &amp; Howell, P. L. (2005).
               a(href='http://pubs.acs.org/doi/full/10.1021/bi050346s?cookieSet=1')
                  | Recovery of
                  | argininosuccinate lyase activity in duck &delta;1 crystallin. Biochemistry 44(25), 9034-9044. doi:10.1021/bi050346s
            p
               | Vopalensky, P. &amp; Kozmik, Z. (2009). Eye evolution: common use and independent recruitment of genetic
               | components.
               a(href='http://rstb.royalsocietypublishing.org/content/364/1531/2819.long')
                  | Philosophical Transactions of the Royal
                  | Society of London, Biological Sciences, 364(1531), 2819-2832. doi:10.1098/rstb.2009.0079
   +bottom-menu("",'hhmi')
