extends /shared/modal
block modal-content

   +pod('Trouble-shooting')
      .uk-width-1-1
         p.q 1. I don&apos;t think I&apos;m seeing DNA. What should I be looking for?
         p
            | Look closely. Your DNA may be lingering between the two layers of alcohol and pea soup. Try to help the DNA rise to the top, alcohol layer. Dip a wooden stick
            | into the pea soup and slowly pull upward into the alcohol layer. Also, look very closely at the alcohol layer for tiny bubbles. Even if your yield of DNA is low,
            | clumps of DNA may be loosely attached to the bubbles.
         p.q 2. What can I do to increase my yield of DNA?
         p
            strong Allow more time for each step to complete.
            |  Make sure to let the detergent sit for at least five minutes. If the cell and nuclear membranes are still intact,
            | the DNA will be stuck in the bottom layer. Or, try letting the test tube of pea mixture and alcohol sit for 30-60 minutes. You may see more DNA precipitate
            | into the alcohol layer over time.
         p
            strong Keep it cold.
            |  Using ice-cold water and ice-cold alcohol will increase your yield of DNA. The cold water protects the DNA by slowing down enzymes that can break
            | it apart. The cold alcohol helps the DNA precipitate (solidify and appear) more quickly.
         p
            strong Make sure that you started with enough DNA.
            |  Many food sources of DNA, such as grapes, also contain a lot of water. If the blended cell soup is too watery, there won&apos;t
            | be enough DNA to see. To fix this, go back to the first step and add less water. The cell soup should be opaque, meaning that you can&apos;t see through it.
   +pod('Understanding the Science behind the Protocol')
      |    
      .uk-width-1-1
         p.q 3. Why add salt? What is its purpose?
         p
            | Salty water helps the DNA precipitate (solidify and appear) when alcohol is added.
         p.q 4.    Why is cold water better than warm water for extracting DNA?
         p
            | Cold water helps keep the DNA intact during the extraction process. How? Cooling slows down enzymatic reactions. This protects DNA from enzymes that can destroy it.
         p
            | Why would a cell contain enzymes that destroy DNA? These enzymes are present in the cell cytoplasm (not the nucleus) to destroy the DNA of viruses that may
            | enter our cells and make us sick. A cell&apos;s DNA is usually protected from such enzymes (called DNases) by the nuclear membrane, but adding detergent destroys that membrane.
         p.q 5.&#x9;How is the cell wall of plant cells broken down? 
         p It is broken down by the motion and physical force of the blender.
         p.q 6.&#x9;What enzyme is found in meat tenderizer?
         p
            | The two most common enzymes used in meat tenderizer are Bromelain and Papain. These two enzymes are extracted from pineapple and papaya, respectively.
            | They are both proteases, meaning they break apart proteins. Enzymatic cleaning solutions for contact lenses also contain proteases to remove protein
            | build-up. These proteases include Subtilisin A (extracted from a bacteria) and Pancreatin (extracted from the pancreas gland of a hog).
         p.q
            | 7.&#x9;How much pineapple juice or contact lens solution should I use to replace the meat tenderizer?
         p
            | You just need a drop or two, because a little bit of enzyme will go a long way. Enzymes are fast and powerful!
         p.q 8.&#x9;Why does the DNA clump together?
         p
            | DNA precipitates when in the presence of alcohol, which means it doesn&apos;t dissolve in alcohol. This causes the DNA to clump together when there is a lot of it.
            | And, usually, cells contain a lot of it!
         p
            | For example, each cell in the human body contains 46 chromosomes (or 46 DNA molecules). If you lined up those DNA molecules end to end, a single cell would contain
            | six feet of DNA! If the human body is made of about 100 trillion cells, each of which contains six feet of DNA, our bodies contain more than a billion miles of DNA!
         p.q 9.&#x9;How can we confirm the white, stringy stuff is DNA?
         p
            | There is a protocol that would allow you to stain nucleic acids, but the chemical used would need to be handled by a teacher or an adult.
            | So, for now, you&apos;ll just have to trust that the molecules precipitating in the alcohol are nucleic acids.
         p.q 10.&#x9;Isn&apos;t the white, stringy stuff actually a mix of DNA and RNA?
         p
            | That&apos;s exactly right! The procedure for DNA extraction is really a procedure for nucleic acid extraction.
         p.q 11.&#x9;How long will my DNA last? Will it eventually degrade and disappear?
         p
            | Your DNA may last for years if you store it in alcohol in a tightly-sealed container. If it is shaken, the DNA strands will break into smaller pieces, making the DNA harder to see.
            | If it disappears it&apos;s likely because enzymes are still present that are breaking apart the DNA in your sample.
         p
            | Using more sophisticated chemicals in a lab, it is possible to obtain a sample of DNA that is very pure. DNA purified in this way is actually quite stable
            | and will remain intact for months or years.
   +pod('Comparing the DNA Extracted from Different Cell Types')
      |    
      .uk-width-1-1
         p.q 12.&#x9;Does chromosome number noticeably affect the mass of DNA you&apos;ll see?
         p
            | Cells with more chromosomes contain relatively more DNA, but the difference will not likely be noticeable to the eye. The amount of DNA you will see depends
            | more on the ratio of DNA to cell volume.
         p
            | For example, plant seeds yield a lot of DNA because they have very little water in the cell cytoplasm. That is, they have a small volume. So the DNA is relatively
            | concentrated. You don&apos;t have to use very many seeds to get a lot of DNA!
         p.q 13.&#x9;Why are peas used in this experiment? Are they the best source of DNA?
         p
            | Peas are a good source of DNA because they are a seed. But, we also chose the pea for historical reasons. Gregor Mendel, the father of genetics, did his first
            | experiments with the pea plant.
         p.q
            | 14.&#x9;How does the experiment compare when using animal cells instead of plant cells?
         p
            | The DNA molecule is structurally the same in all living things, including plants and animals. That being said, the product obtained from this extraction protocol
            | may look slightly different depending on whether it was extracted from a plant or an animal. For example, you may have more contaminants (proteins, carbohydrates)
            | causing the DNA to appear less string-like, or the amount of DNA that precipitates may vary.
         p.q 15.&#x9;What sources might I use to extract DNA from animal cells?
         p
            | Good sources for animal cells include chicken liver, calf thymus, meats and eggs (from chicken or fish).
         p.q 16.&#x9;Why do peas require meat tenderizer, but wheat germ does not?
         p
            | We at the GSLC have done a fair amount of testing with the split pea protocol and the wheat germ protocol. We have found no difference in the &quot;product&quot; (nucleic acids)
            | that is observable, whether using meat tenderizer or not. So, the step was left out of the wheat germ protocol, but kept in the split pea protocol just for fun.
         p
            | Even though it&apos;s not necessary, it may be doing something we can&apos;t see. For example, perhaps by using the meat tenderizer you get a purer sample of DNA, with less
            | protein contaminating the sample.
   +pod('Real-life Applications of the Science of DNA Extraction')
      |    
      .uk-width-1-1
         p.q 17.&#x9;Can you extract human DNA using this protocol?
         p
            | Yes, in theory. The same basic materials are required, but the protocol would need to be scaled down (using smaller volumes of water, soap and alcohol).
            | This is because you&apos;re not likely starting the protocol with the required amount&mdash;1/2 cup&mdash;of human cells! That means that you will not extract an amount
            | of DNA large enough to visualize with the naked eye. If you wanted to see it, you would need a centrifuge to spin down (to the bottom of the tube) the
            | small amount of DNA present in the sample.
         p.q 18.&#x9;What can be done with my extracted DNA?
         |  
         p
            | This sample could be used for gel electrophoresis, for example, but all you will see is a smear. The DNA you have extracted is genomic, meaning that you have
            | the entire collection of DNA from each cell. Unless you cut the DNA with restriction enzymes, it is too long and stringy to move through the pores of the gel.
         p
            | A scientist with a lab purified sample of genomic DNA might also try to sequence it or use it to perform a PCR reaction. But, your sample is likely not pure enough
            | for these experiments to really work.
         p.q
            | 19.&#x9;How is DNA extraction useful to scientists? When do they use such a protocol, and why is it important?
         p
            | The extraction of DNA from a cell is often a first step for scientists who need to obtain and study a gene. The total cell DNA is used as a pattern to make copies
            | (called clones) of a particular gene. These copies can then be separated away from the total cell DNA, and used to study the function of that individual gene.
         p
            | Once the gene has been studied, genomic DNA taken from a person might be used to diagnose him or her with a genetic disease. Alternatively, genomic DNA might be used to
            | mass produce a gene or protein important for treating a disease. This last application requires techniques that are referred to as recombinant DNA technology or genetic engineering.
         |   
         p.q 20.&#x9;Can I use a microscope to see the DNA that I extract?
         p
            | Unfortunately, a microscope will not allow you to see the double helical structure of the DNA molecule. You&apos;ll only see a massive mess of many, many DNA
            | molecules clumped together. In fact, the width of the DNA double helix is approximately one billionth of a meter! This is much too small to see, even with
            | the most powerful microscope. Instead, a technique called X-ray crystallography can be used to produce a picture of the DNA molecule. It was by looking at
            | such a picture (taken by Rosalind Franklin) that James Watson and Francis Crick were able to figure out what the DNA molecule looks like.
   
