extends /shared/layout
block content
   +pageTitle
   +pod('The Adolescent Brain is Still Developing')
 
      .uk-width-medium-4-10
         p
            | A researcher says that she will pay her teenage daughter $1,000 if she doesn&apos;t do any drugs until she is 21.
         |    
         p
            | Why doesn&apos;t she want her daughter to NEVER try drugs? She knows that during adolescence the brain is particularly susceptible to lifetime addiction because it is still developing. Furthermore, she understands that adolescence is a risk-taking period during which her daughter is more likely to try drugs. So if she can keep her daughter drug-free during adolescence, her daughter will more than likely stay drug-free for life.
         |     
         p
            | The prefrontal cortex, which handles reasoning, grows during the pre-teen years. But it is pruned back during adolescence, increasing impulsive, risk-taking behavior&mdash;and susceptibility to addiction.
         |        
         +well
            p Teens who start drinking by age 13 have a 43% chance of becoming alcoholics. 
        
            p Those who start drinking at 21 have only a 10% chance.
      |    
      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='brains.jpg', alt='Brains')
            
   +pod('The Adolescent Brain Is Wired for Risk-taking')
      |    
      .uk-width-medium-4-10
         p
            | Adolescence is a risk-taking period during which teens are more likely to try drugs. The part of the brain responsible for reasoning and decision-making becomes less active during this period. Evolutionarily, this change is attributed to the need for offspring to leave the safety of the nest, taking risks to find a life of their own.
         |        
         .mediaSunk
            p Why is the adolescent brain more prone to risk-taking? --Dr. Glen Hanson
            |             
            audio(controls='')
               source(src='adolescence.mp3')
         br
         |        
         +well
            p 90% of smokers started at or before age 18.
      |    
      .uk-width-medium-6-10
         figure
         img.lg-no-shadow(src='smoking_girl.jpg', alt='Girl Smoking')
   
   +photocredits
      p For brain images: Pault Thompson, Kiralee Hayashi, Arthur Toga, UCLA/Nitin Gogtay, Jay Giedd, Judy Rapoport/NIMH
   
   
