extends /shared/layout
block content
  +pageTitle
  +pod('')
    .uk-width-medium-5-10
      p
        | Drugs can relieve pain and cause feelings of pleasure. But they are also dangerous.
      p
        | At high doses, drugs can disrupt essential body functions, leading to overdose. In 2013, poisoning (largely due to drug overdose) overtook motor vehicle accidents as the leading cause of preventable death in the United States.
      p
        | It’s not just people with substance use disorders who are at risk. Anyone can overdose—including first-time and occasional users.
      p
        | But overdoses don’t have to be fatal. And they can be prevented altogether. Read on to learn what happens in the body during an overdose, key tips for prevention, and what to do if you witness an overdose.

    .uk-width-medium-5-10
      +well
        h3 Finding Help
        p If you or someone you know is suffering from substance use disorder or having suicidal thoughts, help is available:
        p Substance Abuse and Mental Health Services Administration 
          a(href="https://www.samhsa.gov/find-help/national-helpline") National Helpline:
          |  1-800-662-HELP (4357)
  
  +pod('Opioids')
    .uk-width-medium-4-10
      figure
        img.lg-no-shadow(src='images/1-brainstem.jpg', alt='brainstem')
        p Opioids bind receptors in the brainstem, causing breathing to slow down. During an overdose, a person can stop breathing completely.
      +well
        h3 Related Content
        p
          | To learn more about how tolerance works, visit 
          a(href="https://learn.genetics.utah.edu/beta/opioids/tolerance/") Opioids and Tolerance.
        p
          | Naloxone is an example of a broader initiative called harm reduction. Harm reduction involves teaching drug users and those around them how to stay as safe as possible. The goal is to prevent death from overdose and give people the chance to get treatment for substance use disorders. To learn more, including how naloxone works, visit 
          a(href="https://learn.genetics.utah.edu/content/addiction/mythsfacts/") Substance Use Disorder Myths and Facts.
    
    .uk-width-medium-6-10
      p
        | Opioids top the list of drugs that cause overdose-related deaths.
      p
        | Opioids bind to receptors in the area of the brain that controls breathing, blocking the signals that tell the body to inhale and exhale. If the dose is too high, breathing stops altogether, quickly leading to death.
      p
        | Opioids are particularly dangerous because tolerance to the drug’s effects builds at different rates in different areas of the brain. In areas that feel pain or pleasure, tolerance builds after as few as 2–3 doses. But tolerance to opioids’ effects on breathing builds more slowly. Over time, the dose needed to relieve pain or cause pleasure comes closer to a lethal dose. Tolerance is also lost quickly. Many overdoses happen when a person stops drug use for a time, then starts again with the same dose they used before.
      p
        | Beginning around 2010, synthetic opioids designed for use in hospitals became more broadly available in illegal markets. By 2016, they were the most common drug in overdose-related deaths in the US. These drugs are fast-acting and extremely potent. Compared to morphine, fentanyl is 50–100 times more powerful, and carfentanil is thousands of times more powerful. Too often, users take more of the drug than the mean to.
      p
        strong Prevention
      ul
        li Talk to your doctor. Ask questions and be upfront about personal risk factors.
        li Follow your prescription instructions.
        li Anyone who uses opioids regularly, or who is close to someone who does, should keep naloxone* around. 
        li Discuss an overdose plan with family, friends, and partners—including how to use naloxone. 
        li Know what you’re taking. What looks like a prescription pill or is sold as one substance may contain a powerful synthetic opioid
      p
        strong What to do for an Overdose
      ul
        li Try to wake the person up. Loudly call their name or rub your knuckles on their sternum. Check their eyes; pinpoint pupils are a telltale sign of opioid overdose.
        li Give naloxone, if available. 
        li Call 9-1-1, even if you’ve given naloxone. It can wear off before the opioids do.
        li Perform rescue breathing.
      p
        i *Naloxone is a medication that blocks the effects of opioid drugs. It restores breathing and saves lives. From 1996 to 2014, naloxone was used by everyday people to reverse more than 26,000 overdoses in the United States.

  +pod('Polydrug Cocktails: Opiates and Alcohol')
    .uk-width-medium-6-10
      p
        | Many overdoses involve more than one drug—and usually it’s two or more legal ones. In most of these cases no single drug is present at a lethal dose. It’s the combined effect of the drug cocktail that makes it dangerous.
      p
        | Alcohol and opioids are an especially deadly combination. Both act in the brainstem to slow breathing, but they act through different mechanisms. Normally, neurons in the brainstem receive a balance of excitatory and inhibitory signals, which keep us breathing at an appropriate rate. Alcohol acts by decreasing excitatory signals and increases inhibitory signals. Opioids add to the effect by making neurons less responsive to excitatory signals.
      p
        | In combination, alcohol and opioids strongly suppress breathing. Without oxygen, organs and tissues are damaged. Usually, the brain is affected first, and the damage may not be reversable.
      p
        strong Prevention
      ul
        li Avoid mixing drugs.
        li Know your body. Trust your own experience rather than trying to match friends’ drinking habits.

      p
        strong What to do for an Overdose
      ul
        li Call 9-1-1.
        li Try to keep the person conscious and sitting up. 
        li Turn an unconscious person on their side so they don’t choke on vomit.
        li Stay with the person. They might not “sleep it off.”

    .uk-width-medium-4-10
      figure
        img.lg-no-shadow(src="images/2-balance.jpg" alt="balances")
        p
          | (Top) Normally, excitatory and inhibitory signals are in balance, and breathing is controlled and regular. (Bottom) Under the influence of alcohol or opioids, excitatory and inhibitory signals are out of balance. Breathing is suppressed.

  +pod('Counterfeit Drugs')
    .uk-width-medium-4-10
      figure
        img(src='images/fentanyl-lethal-dose.jpg', alt='fentanyl lethal dose')
        p
          | This much fentanyl can kill you. It’s just 2 mg, and it’s lethal in most people. A lethal dose of carfentanil is 0.02 mg, the size of a grain of sand. Photo by the US Drug Enforcement Administration.

    .uk-width-medium-6-10
      p
        | Unless drugs come straight from a pharmacy, it can be hard to know what you’re getting. Substances sold as one drug may contain a substitute that is cheaper or more available. And when you don’t know what drug or drugs someone has taken, an overdose becomes more complicated.
      p
        | Some examples of substitutions:
      ul
        li "Bath salts" and related drugs (known as synthetic cathinones) are often sold as or added to ecstasy, cocaine, or methamphetamine.
        li Illegally manufactured fentanyl (an opioid) is often sold as or added to heroin or cocaine, pressed into counterfeit prescription pills, and even added to marijuana.
        li Marijuana is sometimes "enhanced" with PCP.
        li Substances sold as MDMA (ecstasy) often contain the related drug MDA, amphetamines, methamphetamine, or other stimulants.
      p
        | Drugs substituted with powerful synthetic opioids, such as fentanyl, are especially dangerous. Since the amount needed for a dose is so tiny, these drugs are hard to work with and measure. People putting the doses together may use too much or distribute it unevenly, making doses inaccurate or inconsistent. It’s easy to take a lethal amount without realizing it.

  +pod('Nicotine')
    .uk-width-medium-6-10
      p
        | Nicotine is a drug found in tobacco products (including cigarettes), and added to patches, gum, and liquid for e-cigarettes (taken by vaping). Most nicotine overdoses happen in children, because they are sensitive to smaller amounts of the drug.
      p
        | It’s very rare to overdose on cigarettes—though the wrong combination of nicotine patches, nicotine gum, and cigarettes can be dangerous. More recently, however, vaping has made nicotine overdose much more common.
      p
        | Nicotine binds to a family of receptors located all around the body, including in the brain, nerves, organs, and muscles. That’s why nicotine can affect many body functions.
      p
        | Most often, nicotine causes excitatory signals. As the level of nicotine increases, so do signs of poisoning like shaking, nausea, and vomiting. At high doses, nicotine can cause seizures and irregular heartbeat.
      p
        | When nicotine reaches a very high level, the effect of the drug changes. It now causes inhibitory signals. A lethal dose of nicotine can paralyze muscles. A person may have a heart attack or stop breathing.
      p
        strong Prevention
      ul
        li Keep nicotine gum and liquid nicotine (for e-cigarettes) up and away from children. Young children may think it’s candy.
        li Understand the instructions and dosage of your products.
      p
        strong What to do for an Overdose
      ul
        li If you suspect an overdose, call the American Association of Poison Control Center 1-800-222-1222.
        li Call 9-1-1 if the person is unconscious, can’t breathe, or has a seizure.

    .uk-width-medium-4-10
      figure
        img(src="images/Vaping Devices.jpg" alt="nicotine")
        p
          | From 2010 to 2014, the number of monthly calls to poison control involving e-cigarettes rose from one to 215. 51% involved children under age 5.

  +pod('Cocaine and Other Stimulants')
    .uk-width-medium-6-10
      figure
        img.lg-no-shadow(src='images/ChalkOutline.jpg', alt='chalk outline')

    .uk-width-medium-4-10
      p
        | Stimulants include cocaine, methamphetamine, and MDMA (ecstasy). They increase the levels of not only dopamine, but also norepinephrine. Norepinephrine increases a person’s overall activity. Their heart rate and blood pressure increase, and their blood vessels narrow.
      p
        | At high levels, stimulants can cause heart attack, overheating (hyperthermia), and brain damage. Even after a low dose of cocaine, a person is 24 times more likely than normal to have a heart attack. The “club drug” ecstasy is often used in hot, overcrowded conditions. This adds to the risk of overheating—the most common result of an ecstasy overdose.
      p
        strong Prevention
      ul
        li A healthy body equals better heart health. Try to eat, sleep, exercise, and stay hydrated.
        li Syringe and needle exchange programs provide sterile supplies to prevent the spread of diseases like HIV and hepatitis.
      p
        strong What to do for an Overdose
      ul
        li Move an overheated person to a cool location.
        li Give them water or a sports drink (do not do this if they had a seizure).
        li Encourage the person to take deep breaths.
        li If the person is unconscious, can’t breathe, or has a seizure, call 9-1-1.

  +references
    p
      | Centers for Disease Control and Prevention. New CDC study finds increase in e-cigarette-related calls to poison centers (2014). Retrieved from 
      a(href="https://www.cdc.gov/media/releases/2014/p0403-e-cigarette-poison.html") https://www.cdc.gov/media/releases/2014/p0403-e-cigarette-poison.html
      | .
    p
      | Centers for Disease Control and Prevention. Synthetic opioid overdose data (2018). Retrieved 27 June 2019 from 
      a(href="https://www.cdc.gov/drugoverdose/data/fentanyl.html") https://www.cdc.gov/drugoverdose/data/fentanyl.html
      | .
    p
      | Kim, J. W., &amp; Baum, C. R. (2015). Liquid nicotine toxicity. Pediatric Emergency Care, 31(7), 517-521.
    p
      | National Institute on Drug Abuse. Fentanyl and other synthetic opioids drug overdose deaths (2018). Retrieved 27 June 2019 from 
      a(href="https://www.drugabuse.gov/related-topics/trends-statistics/infographics/fentanyl-other-synthetic-opioids-drug-overdose-deaths") https://www.drugabuse.gov/related-topics/trends-statistics/infographics/fentanyl-other-synthetic-opioids-drug-overdose-deaths
      | .
    p
      | National Safety Council. Deaths by demographics (2017). Retrieved 27 June 2019 from 
      a(href="https://injuryfacts.nsc.org/all-injuries/deaths-by-demographics/deaths-by-age/data-details/") https://injuryfacts.nsc.org/all-injuries/deaths-by-demographics/deaths-by-age/data-details/
      | .
    p
      | Pattinson, K. T. S. (2008). Opioids and the control of respiration. British Journal of Anaesthesia, 100(6), 747-758.
    p
      | Schep, L. J., Slaughter, R. J., &amp; Beasley, D. M. G. (2009). Nicotinic plant poisoning. Clinical Toxicology, 47(8), 771-781.
    p
      | Wheeler, E., Jones, T. S., Gilbert, M. K., &amp; Davidson, P. J. (2015). Opioid overdose prevention programs providing naloxone to laypersons-United States, 2014. MMWR. Morbidity and mortality weekly report, 64(23), 631-635.
    p
      | White, J. M., &amp; Irvine, R. J. (1999). Mechanisms of fatal opioid overdose. Addiction, 94(7), 961-972.
      
      //- object#new_scott(classid='clsid:d27cdb6e-ae6d-11cf-96b8-444553540000', width='375', height='200')
      //-   param(name='movie', value='new_scott.swf')
      //-   | &#x9;&#x9;&#x9;
      //-   param(name='quality', value='high')
      //-   | &#x9;&#x9;&#x9;
      //-   param(name='bgcolor', value='#ffffff')
      //-   | &#x9;&#x9;&#x9;
      //-   param(name='play', value='true')
      //-   | &#x9;&#x9;&#x9;
      //-   param(name='loop', value='true')
      //-   | &#x9;&#x9;&#x9;
      //-   param(name='wmode', value='window')
      //-   | &#x9;&#x9;&#x9;
      //-   param(name='scale', value='showall')
      //-   | &#x9;&#x9;&#x9;
      //-   param(name='menu', value='true')
      //-   | &#x9;&#x9;&#x9;
      //-   param(name='devicefont', value='false')
      //-   | &#x9;&#x9;&#x9;
      //-   param(name='salign', value='')
      //-   | &#x9;&#x9;&#x9;
      //-   param(name='allowScriptAccess', value='sameDomain')
      //-   //if !IE
      //-   | &#x9;&#x9;&#x9;
      //-   object(type='application/x-shockwave-flash', data='new_scott.swf', width='375', height='200')
      //-     param(name='movie', value='new_scott.swf')
      //-     | &#x9;&#x9;&#x9;&#x9;
      //-     param(name='quality', value='high')
      //-     | &#x9;&#x9;&#x9;&#x9;
      //-     param(name='bgcolor', value='#ffffff')
      //-     | &#x9;&#x9;&#x9;&#x9;
      //-     param(name='play', value='true')
      //-     | &#x9;&#x9;&#x9;&#x9;
      //-     param(name='loop', value='true')
      //-     | &#x9;&#x9;&#x9;&#x9;
      //-     param(name='wmode', value='window')
      //-     | &#x9;&#x9;&#x9;&#x9;
      //-     param(name='scale', value='showall')
      //-     | &#x9;&#x9;&#x9;&#x9;
      //-     param(name='menu', value='true')
      //-     | &#x9;&#x9;&#x9;&#x9;
      //-     param(name='devicefont', value='false')
      //-     | &#x9;&#x9;&#x9;&#x9;
      //-     param(name='salign', value='')
      //-     | &#x9;&#x9;&#x9;&#x9;
      //-     param(name='allowScriptAccess', value='sameDomain')
      //-     // <![endif]
      //-     a(href='http://www.adobe.com/go/getflash')
      //-       img(src='http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif', alt='Get Adobe Flash player')
      //-     //if !IE
      //-     // <![endif]
  

