extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-1-1
         p
            | In 1968, doctors performed the first successful bone marrow
            | transplant. Bone marrow contains somatic stem cells that can produce all of the different cell
            | types that make up our blood. It is transplanted routinely to treat a variety of blood and bone
            | marrow diseases, blood cancers, and immune disorders. More recently, stem cells from the blood
            | stream (called peripheral blood stem cells) and umbilical cord stem cells have been used to
            | treat some of the same blood-based diseases.
   +pod('Somatic Stem Cell Therapy: Using a Bone Marrow Transplant to Cure Leukemia')
      .uk-width-medium-6-10
         p
            | Leukemia is a cancer of white blood cells, or leukocytes. Like other blood cells,
            | leukocytes develop from somatic stem cells. Mature leukocytes are released into the
            | bloodstream, where they work to fight off infections in our bodies.

         p
            | Leukemia results when leukocytes begin to grow and function abnormally, becoming
            | cancerous. These abnormal cells cannot fight off infection, and they interfere with
            | the functions of other organs.

         p
            | Successful treatment for leukemia depends on getting rid of all the abnormal leukocytes
            | in the patient, allowing healthy ones to grow in their place. One way to do this is through
            | chemotherapy, which uses potent drugs to target and kill the abnormal cells. When
            | chemotherapy alone can&apos;t eliminate them all, physicians sometimes turn to bone marrow transplants.

         p
            | In a bone marrow transplant, the patient&apos;s bone marrow stem cells are replaced with those
            | from a healthy, matching donor. To do this, all of the patient&apos;s existing bone marrow and
            | abnormal leukocytes are first killed using a combination of chemotherapy and radiation. Next,
            | a sample of donor bone marrow containing healthy stem cells is introduced into the patient&apos;s bloodstream.

         p
            | If the transplant is successful, the stem cells will migrate into the patient&apos;s bone marrow
            | and begin producing new, healthy leukocytes to replace the abnormal cells.

         p
            | New evidence suggests that bone marrow stem cells may be able to differentiate into cell
            | types that make up tissues outside of the blood, such as liver and muscle. Scientists are
            | exploring new uses for these stem cells that go beyond diseases of the blood.

      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src='images/BloodStemCells.jpg', alt='blood stem cell process')
   +pod('Peripheral Blood Stem Cells')
      .uk-width-medium-6-10
         figure
            img(src='images/bloodbagcrop.jpg', alt='Blood Bag')
      .uk-width-medium-4-10
         p
            | While most blood stem cells reside in the bone marrow, a small number are
            | present in the bloodstream. These peripheral blood stem cells, or PBSCs, can be used just like bone marrow
            | stem cells to treat leukemia, other cancers and various blood disorders.

         p
            | Since they can be obtained from drawn
            | blood, PBSCs are easier to collect than bone marrow stem cells, which must be extracted from within bones.
            | This makes PBSCs a less invasive treatment option than bone marrow stem cells. PBSCs are sparse in the bloodstream,
            | however, so collecting enough to perform a transplant can pose a challenge.
   +pod('Umbilical Cord Blood Stem Cells')
      .uk-width-medium-6-10
         p
            | Newborn infants no longer need their umbilical cords, so they have traditionally been discarded as a
            | by-product of the birth process. In recent years, however, the stem-cell&ndash;rich blood found in the umbilical
            | cord has proven useful in treating the same types of health problems as those treated using bone marrow stem cells and PBSCs.

         p
            | Umbilical cord blood stem cell transplants are less prone to rejection than either bone marrow or peripheral
            | blood stem cells. This is probably because the cells have not yet developed the features that can be recognized
            | and attacked by the recipient&apos;s immune system. Also, because umbilical cord blood lacks well-developed immune cells,
            | there is less chance that the transplanted cells will attack the recipient&apos;s body, a problem called graft versus host disease.

         p
            | Both the versatility and availability of umbilical cord blood stem cells makes them a potent resource for transplant therapies.

      .uk-width-medium-4-10
         figure
            img(src='images/newbornresize.jpg', alt='Newborn')
