extends /shared/layout
block content
   +pageTitle
   
   +pod('')
      .uk-width-1-1
         +vimeo('42578320', 898, 500)
         //- iframe.uk-responsive-width(src='http://player.vimeo.com/video/42578320', width='898', height='500', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
   
