extends /shared/layout
block content
   +pageTitle
   +pod('')
      iframe.uk-responsive-width(src="//player.vimeo.com/video/154124748", width="920", height="518", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)
   +pod('Memory is fallible')
      .uk-width-medium-6-10
         p.
            Maybe you've never mistaken a TV show for real life. But have you ever been in the middle of introducing one friend 
            to another and then awkwardly and inexplicably forgotten one of their names? Or walked into a room and completely 
            forgotten why you went in there?
         p.
            Memory is fallible. We've all experienced it one way or another. So why didn't evolution make our brains better at 
            remembering?
         p.
            It turns out that a quirk of memory that may seem like a "sin" in one context can actually be a virtue. If we 
            remembered everything, our minds would be cluttered with unimportant information. We would recall traumatic and sad 
            events just as sharply as when they happened. It's actually a good thing that memories tend to fade over time.
         +well
            p.
               How else might the so-called "sins of memory" be adaptive? Learn more in the 
               article <a target="_blank" href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3825831/">Memory: sins and virtues</a>, by 
               Daniel Schacter (available for free through PubMed Central).
      .uk-width-medium-4-10
         figure
            img(src="images/ptsd.jpg" alt="PTSD")
            p.
               The sins and virtues of memory are two sides of the same coin. The same memory system that helps us learn about the 
               dangers of the world can lead to the endless recall of traumatic memories, as in post-traumatic stress disorder (PTSD).
   +pod("Memory on trial")
      .uk-width-medium-6-10
         p.
            For as unreliable as our memory tends to be, we often put a lot of faith in it. Sometimes this can lead us into 
            arguments where we are later, embarrassingly, proven wrong. But memory's imperfections can lead to much more serious 
            consequences—like when people are sent to prison for something that they did not do.
         p.
            Judges and juries tend to believe eyewitness testimony. Yet research has shown that people are incredibly vulnerable 
            to false memories—even when they're planted unintentionally by people who mean well. Research has also shown that the 
            more a person repeats a piece of information, such as who they think they saw committing a crime, the more convinced 
            they become that it is true—even if they were uncertain at first.
         p.
            The Innocence Project is a non-profit organization dedicated to using DNA evidence to overturn wrongful convictions 
            and to reforming the justice system. According to their website, eyewitness misidentification was a factor in 72% of 
            the first 325 wrongful convictions that they helped to overturn. Importantly, these are just the cases where DNA 
            evidence from the crime was available. Eyewitness misidentification is a factor in many other cases that are much 
            harder to disprove.
      .uk-width-medium-4-10
         figure
            img(src="images/witness.jpg")
         +well
            h3 Related links
            p
               | The <a href="http://www.innocenceproject.org/">Innocence Project</a> website
               br
               | Innocence Project video on <a href="https://www.youtube.com/watch?v=DZsckuKiH94">Eyewitness Misidentification</a>
   +references
      p.
         Morgan, C.A. &amp; Southwick, S. (2014). Perspective: I believe what I remember, but it may not be true. <em>Neurobiology 
         of Learning and Memory</em>, 112, 101-103. doi:10.1016/j.nlm.2013.12.011
      p.
         Schacter, D.L. (1999). The seven sins of memory: insights from psychology and cognitive neuroscience. 
         <em>American Psychologist</em> 54, 3, 183-203. doi: 10.1037/0003-066X.54.3.182
      p.
         Schacter, D.L., Chiao, J.Y. &amp; Mitchell, J.P. (2003). The seven sins of memory: implications for self. 
         <em>Annals of the New York Academy of Sciences</em>, 1001, 226-239. doi: 10.1196/annals.1279.012
      p.
         The Innocence Project. <em>The causes of wrongful conviction</em>. Accessed 9 February, 2016, 
         from <a href="http://www.innocenceproject.org/causes-wrongful-conviction">http://www.innocenceproject.org/causes-wrongful-conviction</a>
