extends /shared/layout
block content
    +pageTitle
    +pod('')
        .uk-width-medium-4-10
            p
                | A category of precision medicine called genomic medicine uses information encoded within each person’s genome—our complete set of DNA instructions—to inform health care in a personalized way. Genomic information can reveal a hidden cause of disease and predict the risk for developing future disease.
            p
                | The short documentary 
                i One in a Million
                |  tells the story of Tyler, a boy who was seriously ill. By the time he was six years old he had lost his ability to walk, see, and hear but no one knew why. Using genomic medicine, his doctors were able to pinpoint the cause of his disease, leading to a treatment that improved his quality of life.
            +well
                p
                    | To learn more about how U of U health is advancing genomic medicine, visit the 
                    a(href="https://uofuhealth.utah.edu/center-genomic-medicine/") Center for Genomic Medicine Website
                    | .
        
        .uk-width-medium-6-10
            iframe(width="699" height="394" src="https://www.youtube.com/embed/WIupO5-F-28" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)