extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-6-10
         p
            | Our experiences have told us that, with a little work, we humans can clone just about anything we want, from frogs to sheep&mdash;and probably even ourselves.
         p
            | So we can clone things. But why would we want to? Below are some of the ways in which cloning might be useful.

      .uk-width-medium-4-10
         figure
            img(src='images/clonedcows.jpg', height='256', width='352', alt='cows')
            p
   +pod('Cloning in Medicine')
      .uk-width-medium-6-10
         p
            | Cloning for medical purposes has the potential to benefit large numbers of people. How might cloning be used in medicine?
         h3 Cloning animal models of disease
         p
            | Much of what researchers learn about human disease comes from studying animal models such as mice. Often, animal models are genetically engineered to carry disease-causing mutations in their genes. Creating these transgenic animals is a time-intensive process that requires trial-and-error and several generations of breeding. Cloning could help reduce the time needed to make a transgenic animal model, and the result would be a population of genetically identical animals for study.
         h3 Cloning to make stem cells
         p
            | Stem cells build, maintain, and repair the body throughout our lives. Because these are processes that stem cells do naturally, they can be manipulated to repair damaged or diseased organs and tissues. But stem cells transferred from one person to another (such as in a bone marrow transplant) are seen as foreign, and they usually trigger an immune response.
         p
            | Some researchers are looking at cloning as a way to create stem cells that are genetically identical to an individual. These cells could then be used for medical purposes, possibly even for growing whole organs. And stem cells cloned from someone with a disease could be grown in culture and studied to help researchers understand the disease and develop treatments.
         p
            | In 2013, scientists at Oregon Health and Science University were the first to use cloning techniques to successfully create human embryonic stem cells. The donor DNA came from an 8-month-old with a rare genetic disease.
         p
            | Find out more about
            a(href='/content/stemcells/')  Stem Cells
            | .

      .uk-width-medium-4-10
         figure
            img(src='images/clonedmouse.jpg', height='186', width='352', alt='mouse')
         figure
            img(src='images/stemcells.jpg', height='188', width='352', alt='stem cells')
         figure
            img(src='images/sheep.jpg', height='170', width='352', alt='sheep')

      .clear
   +pod('Reviving Endangered or Extinct Species')
      .uk-width-medium-6-10
         p
            | You might have seen the Jurassic Park movies. In the original feature film, based on the Michael Crichton novel, scientists use DNA preserved for tens of millions of years to clone dinosaurs. They run into trouble, however, when they realize that the cloned creatures were smarter and fiercer than expected. Could we really clone dinosaurs?
         p
            | In theory? Yes. You would need:
            ul
               li A well-preserved source of DNA from the extinct dinosaur, and
               li
                  | A closely related species, currently living, that could serve as an egg donor and surrogate mother.
         p  In reality? Probably not.
         p
            | It&apos;s extremely unlikely that dinosaur DNA could survive undamaged for such a long time. However, scientists have been working to clone species that became extinct more recently, using DNA from well-preserved tissue samples. A number of projects are underway to clone extinct species, including the wooly mammoth.
         p
            | In 2009, scientists had their first near-success resurrecting an extinct animal. Using goats as egg donors and surrogates, they made several clones of a wild mountain goat called the bucardo&mdash;but the longest-surviving clone died soon after birth. Even if the effort eventually succeeds, the only frozen tissue sample comes from a female, so it will only produce female clones. However, scientists speculate they may beable to remove one X chromosome and add a Y chromosome from a related goat species to make a male.
         p
            | Cloning endangered species is much easier, mainly because the surviving animals can donate healthy, living cells. In fact, several wild species have been cloned already, including two relatives of cattle called the guar and the banteng, mouflon sheep, deer, bison, and coyotes. However, some experts are skeptical that cloning can help a species recover. One big challenge endangered species face is the loss of genetic diversity, and cloning does nothing to address this problem. When a species has high genetic diversity, there is a better chance that some individuals would have genetic variations that could help them survive an environmental challenge such as an infectious disease. Cloning also does not address the problems that put the species in danger in the first place, such as habitat destruction and hunting. But cloning may be one more tool that conservation scientists can add to their toolbox.
         p
            | Learn more about
            a(href='/content/science/conservation/')  Conservation Genetics
            | .

      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src='images/torosaurus.jpg', alt='Torosaurus')
            p
         figure
            img(src='images/ibex.jpg', alt='bucardo')
            p
               | Left: the alpine ibex, a close cousin of the Bucardo.  Right: the last remaining Bucardo with the research team
               | before her eventual death.
               em She was blindfolded to shield her eyes from the photographer&apos;s flash.
               |  Image courtesy
               |          of Advanced Cell Technology.
   +pod('Reproducing a Deceased Pet')
      .uk-width-medium-6-10
         p
            | If you really wanted to, and if you had enough money, you could clone your beloved family cat. At least one biotechnology company in the United States has offered cat cloning services for the privileged and bereaved. But don&apos;t assume that your cloned kitty will be exactly the same as the one you know and love. An individual is a product of more than its genes&mdash;the environment plays an important role in shaping personality and many other traits.
         p
            | On December 22, 2001, a kitten named CC made history as the first cat&mdash;and the first domestic pet&mdash;ever to be cloned. CC and Rainbow, the donor of CC&apos;s genetic material, are pictured at the right.
         p
            | But do you notice something odd about this picture? If CC is a clone of Rainbow&mdash;an exact genetic copy&mdash;then why are they different colors?
         p
            | The answer lies in the X chromosome. In cats, a gene that helps determine coat color resides on this chromosome. Both CC and Rainbow, being females, have two X chromosomes. (Males have one X and one Y chromosome.) Since the two cats have the exact same X chromosomes, they have the same two coat color genes, one specifying black and the other specifying orange.
         p
            | Very early in her development, each of Rainbow&apos;s cells &quot;turned off&quot; oneentire X chromosome, thereby turning off either the black or the orange color gene. This process, called X-inactivation, happens normally in females, in order to prevent them from having twice as much X-chromosome activity as males. It also happens randomly, meaning that different cells turn off different X chromosomes.
         p
            | So like all female mammals, Rainbow developed as a mosaic. Each cell that underwent X-inactivation gave rise to a patch of cells that had oneor the other coat color gene inactivated. Some patches specified black,other patches specified orange, and still others specified white, due to more complex genetic events. This is how all calico cats, like Rainbow, get their markings.
         p
            | CC looks different because she was made from a somatic cell from Rainbow in which the X-chromosome with the orange gene had been inactivated; only the black gene was active. What&apos;s interesting is that, as CC developed, her cells did not change the inactivation pattern. Therefore, unlike Rainbow, CC developed without any cells that specified orange coat color. The result is CC&apos;s black and white tiger-tabby coat.

      .uk-width-medium-4-10
         figure
            img(src='images/ccrainbow.jpg', height='162', width='352', alt='CC and Rainbow')
            p
               | Left:  CC (or Carbon Copy). Right: Rainbow. Photo courtesy TAMU, College of Veterinary Medicine.
            p
               | Rainbow and CC are living proof that a clone will not look exactly like the donor of its genetic material.
   +pod('Cloning livestock')
      .uk-width-medium-6-10
         p
            | Programs are underway to clone agricultural animals, such as cattle and pigs, that are efficient producers of high-quality milk or meat.
         p
            | A group of researchers at Utah State University led by Dr. Ken White, Dean of College of Agriculture &amp; Applied Science, have been able to clone steer from slaughterhouse carcasses. Their aim isn&apos;t to produce animals for consumption&mdash;cloning is far more labor-intensive and expensive than conventional breeding methods. Instead, they want to use these animals as breeding stock.
         p
            | The important thing to know about beef cattle is that the quality and yield of their meat can be assessed only after they are slaughtered. And male animals are routinely neutered when they&apos;re a few days old. That is, their testes are removed, so they are unable to make sperm. But cells from a high-quality carcass can be cloned, giving rise to an animal that is able, though conventional breeding methods, to pass its superior genes to its offspring.
         p
            | Scientists have also cloned mules, a reproductively sterile hybrid of a male donkey and a female horse; dairy cows; and horses. One gelded racing horse, a male whose testes have been removed, has a clone that is available for breeding. Some of the cloned cows produce about twice as much milk as the average producer. And a cloned racing mule is ranked among the best in the world.

      .uk-width-medium-4-10
   +pod('Drug production')
      .uk-width-medium-6-10
         p
            | Farm animals such as cows, sheep, and goats are being genetically engineered to produce drugs or proteins that are useful in medicine. As an example, scientists could take cells from a cow that produces large amounts of milk and grow them in culture. Then they could insert a gene into the DNA of these cells that codes for a drug or a vaccine. If they take the nucleus from one of these cells and transfer it to a cow egg, it could develop into a cow that makes the drug in its milk. Since every cell in the cow would carry the drug gene, it could pass the gene to its offspring, creating a whole herd of drug-producing cows. Even better, we could avoid the issue of the genetic reshuffling that happensduring sexual reproduction and simply clone our drug-producing cow.

      .uk-width-medium-4-10
   +pod('Cloning Humans')
      .uk-width-medium-6-10
         p
            | The prospect of cloning humans is highly controversial, and it raises a number of ethical, legal, and social challenges that need to be considered.
         p
            | The vast majority of scientists and lawmakers view human reproductive cloning&mdash;cloning for the purpose of making a human baby&mdash;immoral. Supporters see it as a possible solution to infertility problems. Some even imagine making clones of geniuses, whose work could advance society. Far-fetched views describe farms filled with clones whose organs are harvested for transplantation&mdash;a truly horrific idea.
         p
            | For now, risks and technical challenges&mdash;as well as laws that make it illegal&mdash;will probably keep human reproductive cloning from becoming a reality. Even though many species have been cloned successfully, the process is still technically difficult and inefficient. The success rate in cloning is quite low: most embryos fail to develop, and many pregnancies end in miscarriage.
         p
            | Current efforts at human cloning are focused on creating embryonic stem cells for research and medicine, as described above. However, many feel that this type of therapeutic cloning comes dangerously close to human reproductive cloning. And once techniques become more streamlined and efficient, they fear that some may be tempted to take that next step.
         p
            | From a technical and moral standpoint, before human cloning becomes routine, we need to have a good idea of the risks involved.

      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src='images/clones.jpg', height='235', width='352', alt='clones')
            p
