extends /shared/layout
block content
   +pageTitle
   +pod('Artemia franciscana')
      .uk-width-medium-4-10
         p
            | At a maximum length of just over 1 cm (0.4 inch), brine shrimp are the largest animals that live in Great Salt Lake. Despite their small size, they are an important part of the lake&apos;s ecosystem. Each year millions of birds fatten up on brine shrimp as they prepare nest or migrate around the globe. These little creatures are also important for the local economy. The brine shrimp fishing industry brings in 70 to 100 million dollars annually. Brine shrimp cysts are sold around the world as food for fish and shellfish that are raised for human consumption.
      |     
      .uk-width-medium-6-10
         img(src='images/shrimp2.jpg', alt='Brine Shrimp', width='444', height='267')
   +pod('What brine shrimp eat')
      |    
      .uk-width-medium-3-10
         figure
            img.lg-no-shadow(src='images/dunaliella.jpg', alt='Dunaliella')
            
            p
               | Cyanobacteria &gt; (commonly called blue-green algae) are tiny single-celled photosynthetic bacteria. Some kinds of cyanobacteria live free-floating in the water, and others colonize the bottom of the lake.
            br
            
            img.lg-no-shadow(src='images/diatoms.jpg', alt='Diatoms')
      .uk-width-medium-3-10
         figure   
            p
               | &lt; 
               em Dunaliella
               |  are single-celled green algae. The species 
               em Dunaliella veridis
               |  thrives in the south arm of Great Salt Lake.
            br
            br
            br
            br

            img.lg-no-shadow(src='images/cyanobacteria.jpg', alt='Cyanobacteria')

            p
               | &lt; Diatoms are single-celled algae surrounded by a silica cell wall. They are tough and hard to digest. Adult brine shrimp can survive on them, but diatoms are too big for nauplii to eat. Diatoms are especially plentiful in the south arm during times of lower salinity.
 
      .uk-width-medium-4-10
         p
            | Brine shrimp are flexible in that they are able to cope with an ever changing environment, survive harsh conditions, and live on a variety of food sources.
         p
            | The food that keeps brine shrimp healthiest is the microscopic algae 
            em Dunaliella veridis
            | . 
            em Dunaliella
            |  are soft and nutritious, and they are usually plentiful early in the spring when brine shrimp hatch. But brine shrimp eat lots of other things too. They are passive filter feeders, which means they collect whatever is in the water and sweep it into their mouths. They take in anything and everything they can swallow, including cyanobacteria, archaea, bits of detritus and diatoms.
         p
            | The salinity of the lake water affects the types of microbes that are available for brine shrimp to eat. Schools of brine shrimp can be found in areas with lots of high quality food.

         +well
            p
               | When conditions in Great Salt Lake become especially hostile, dormant brine shrimp embryos can remain protected inside cysts until conditions improve. Learn more about the brine shrimp life cycle in:
            p
               a(href='../../artemia/') Interactive Explore: Brine Shrimp Life Cycle
   
   
