extends /shared/layout
block content
   +pageTitle

   style.
      p.credits {
      margin-bottom: 0px;
      margin-top: 0px;
      }
   +pod('')
      .uk-width-1-1_text
         p
            | Darwin, C.R. (1859). On the Origin of Species. iBooks.
            br
            a(href='https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewBook?id=361560384') https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewBook?id=361560384
         p
            | Darwin, C.R. (1868). The Variation of Animals and Plants Under Domestication, Vol. 1. iBooks.
            br
            a(href='https://itun.es/us/a7JDE.l') https://itun.es/us/a7JDE.l
         p
            | Domyan, E.T., Guernsey, M.W., Kronenberg, Z., Krishnan, S., Boissy, R.E., Vickrey, A.I., Rodgers, C., Cassidy, P., Leachman, S.A., Fondon, J.W., Yandell, M. &amp; Shapiro, M.D. (2014). Epistatic and combinatorial effects of pigmentary gene mutations in the domestic pigeon. Current Biology 24, 1-6. doi: 10.1016/j.cub.2014.01.020
         p
            | Hearing, V.J. (2011). Determination of melanin synthetic pathways. Journal of Investigative Dermatology, 131, E8-E11. doi:
         p
            | Hubbard, J.K., Uy, J.A.C., Hauber, M.E., Joekstra, H.E. &amp; Safran, R.J. (2010). Vertebrate pigmentation: from underlying genes to adaptive function. Trends in Genetics 26, 5, 231-239. doi: 10.1016/j.tig.2010.02.002
         p
            | Huntley, R.R. (1999). Ron Huntley&apos;s Rare Color Homing Pigeons. Retrieved nov 5, 2014, from
            br
            a(href='http://www.angelfire.com/ga/huntleyloft/Page1.html""') http://www.angelfire.com/ga/huntleyloft/Page1.html
         p
            | Levi, W.M. (1965). The encyclopedia of pigeon breeds (2nd ed.). Sumber, SC: Levi Publishing Co.
         p
            | Mumtaztic Pigeon Loft (n.d.). Retrieved Nov 5, 2014, from
            br
            a(href='http://mumtazticloft.com') http://mumtazticloft.com
         p Sell, A. (1994). Breeding and inheritance in pigeons. Hengersberg: Schober.
         p
            | Shapiro, M.D. &amp; Domyan, E.T. (2013). Quick Guide: Domestic Pigeons. Current Biology 23, R302-R303. doi: 10.1016/j.cub.2013.01.063
         p
            | Shapiro, M.D., Kronenberg, Z., Li, C., Domyan, E.T., Pan, H., Campbell, M., Tan, H., Huff, C.D., Hu, H., Vickrey, A.I., Nielsen, S.C.A., Stringham, S.A., Hu, H., Willerslev, E., Gilbert, M.T.P., Yandell, M., Zhang, G. &amp; Wang, J. (2013). Genomic diversity and evolution of the head crest in the rock pigeon. Science 339, 1063-1067. doi: 10.1126/science.1230422
