extends /shared/layout
block content
   +pageTitle
   +pod('Special Cases')
      .uk-width-medium-6-10
         p(style='text-decoration:underline') X-linked
         p 
            | X-linked genetic disorders almost exclusively affect males. All female children will be unaffected, though some may be carriers. Parents who wish to avoid X-linked disorders may screen for sex and only implant the female embryos. This option costs much less than a custom test for PGD.
         br
         p(style='text-decoration:underline') Immune system compatability
         p
            | It is possible to use PGD to identify an embryo that is a match to a relative who needs a kidney or blood marrow transplant. 
         p
            | Say a couple already has one child, and that child has a life-threatening condition that can only be cured with a bone marrow transplant. But no compatible donor is available. If the couple has another child, it is possible that through chance alone the child will be a match. But by using PGD to screen for specific combinations of immune genes, the couple can greatly increase the likelihood that the child will be a match.
         br
         p(style='text-decoration:underline') Deafness
         p
            | Some forms of deafness are inherited through variations in single genes. Some deaf parents hope to have a child who is also deaf. They consider deaf culture to be an important part of their lives, and they wish to have a child who can share that with them. 
         p
            | With the genetic basis of deafness becoming better understood, it is technically possible for deaf parents to use PGD to increase their chances of having a deaf child.
