extends /shared/layout
block content
   +pageTitle
   +pod('Surviving extremes and fluctuations')
      .uk-width-medium-6-10
         p
            | Great Salt Lake is always changing. Conditions vary with location, with the seasons, and from one year to the next. In order to survive, the plants, animals and microbes that live in and around Great Salt Lake must be able to adjust to their constantly changing environment. But they also must survive the lake&apos;s often extreme conditions.
         p Some of the challenges that the organisms of Great Salt Lake face include:
         p
            strong Salinity
            br
            | Great Salt Lake is between 3.5 and 8 times saltier than the ocean. The organisms that live in the water have special adaptations that allow them to survive such saline conditions.
         p
            strong Ultraviolet light
            |  
            br
            | Air blocks much of the sun&apos;s DNA-damaging ultraviolet light from reaching the surface of the earth. But at an elevation of 4,200 feet, there is less air above Great Salt Lake than there is at sea level, and ultraviolet light levels are about 15% higher.
      |    
      .uk-width-medium-4-10
         p
            strong Temperature
            |  
            br
            | Great Salt Lake is an average of just 14 feet deep, with a maximum depth of 33 feet. Its shallow depth means that much of its surface area is exposed to the air, and is subject to its seasonal temperature fluctuations. Water temperatures vary from below freezing in the winter to more than 80 degrees Fahrenheit in the summer.
         p
            strong Water level
            |  
            br
            | The water level changes a lot from year to year. When less water than normal flows into the lake, water levels drop and salinity rises. The shoreline recedes and wetlands dry up. Low water levels sometimes connect islands to the shore, exposing bird nesting areas to predators. During high precipitation years, lake levels rise and salinity drops. The shoreline expands and wetlands get covered by salt water, sometimes killing sensitive plants and destroying wildlife habitats. Even within a single year, it&apos;s normal for the water level to change by 2 to 3 feet. In some areas, a one foot change in elevation can cause the shoreline to move as much as one mile.
   +pod('A constantly moving shoreline')
      |    
      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='images/LakeLevels.jpg', alt='Lake Levels')  
            p
               | Illustration based on 
               em Major Levels of Great Salt Lake and Lake Bonneville
               | , published by the Utah Geological and Mineral Survey
      .uk-width-medium-4-10
         p
            | When a little more or a little less water than usual flows into Great Salt Lake, the shoreline moves a lot. A few consecutive years of below- or above-average precipitation can produce dramatic changes.
         p
            | Four years of above-average precipitation during the 1980s increased the lake level by 12 feet, submerging buildings and highways near the shoreline and increasing the lake&apos;s surface area by a third. Twenty years later, five years of drought caused a 10 foot drop in elevation, shrinking the lake to half its size.
         p
            | Changes in lake elevation are accompanied by changes in salinity. During wet years, incoming fresh water dilutes the salt water, and salinity decreases. During dry years, continued evaporation removes fresh water, and salinity increases.
            
   +pod('Great Salt Lake is broad and flat')
      |    
      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='images/Basins.jpg', alt='Basins')
             
      .uk-width-medium-4-10
         p
            | The reason the shoreline of Great Salt Lake shifts so dramatically is because it sits at the bottom of a broad and relatively flat basin. Think of pouring water into a plate versus a bowl.
         p
            | Like Great Salt Lake, Mono Lake and Pyramid Lake are terminal lakes in the Great Basin of the Western United States. But because they sit in deeper basins, fluctuating water levels affect their surface areas much less dramatically. Nevada&apos;s Pyramid Lake, for example, is only about 10% as large as Great Salt Lake, but it holds 25% more water.
         p
            | Great Salt Lake has a much greater surface-area-to-volume ratio than other lakes in the region. As a result, a tremendous amount of water -- an average of 2.6 billion gallons -- evaporates from the lake each day. This affects not only the lake&apos;s depth, but also the weather. Moisture from the lake produces lake effect snow during the winter, and afternoon thunderstorms during the summer.
            
   +pod('All drains do not lead to the ocean')
      .uk-width-medium-4-10
         p
            | Much of the water that falls to the ground makes its way through a watershed - a series of streams, rivers and lakes - to the ocean. Water flows downhill, and the ocean is at the bottom of the hill, right? But Great Salt Lake sits at the bottom of a &quot;closed basin&quot;. It&apos;s a terminal lake. The only way water can leave is through evaporation. So in this part of the world, all drains lead to Great Salt Lake. And what goes into the lake tends to stay in the lake.
         p
            | Most terminal lakes have a high mineral content and, like Great Salt Lake, are quite salty. Even though the water flowing into Great Salt Lake is fresh, it contains small amounts of dissolved minerals. As water evaporates from the lake, the minerals stay behind. Over many thousands of years, minerals have accumulated to very high levels. The saltiest regions of Great Salt Lake are nearly 9 times saltier than the ocean.
         figure
            p
               | The Great Salt Lake drainage basin covers about 22,000 square miles and includes most of Northern Utah as well as parts of Nevada, Idaho, and Wyoming. It includes three major river systems: Bear (blue), Ogden/Weber (purple), and Jordan (orange).
            |     
            p
               | Illustration based on 
               em Great Salt Lake, an overview of change
               | , p. 304, and a map compiled by Daniel Smith from the Utah Division of Oil, Gas and Mining.
      |    
      .uk-width-medium-6-10
         figure
            img(src='images/Rivers.jpg', alt='Rivers')
            p
            +well
               a(href='http://hiddenwaters.org/index.html') Hidden Water
               |  explores the drainages and irrigation systems that flow through Salt Lake City into Great Salt Lake.
      +references
         | Gwynn, J. W. (Ed.) (2002). 
         em
            | Great Salt Lake, an Overview of Change: A Special Publication of the Utah
            | Department of Natural Resources.
         |  Salt Lake City: Department of Natural Resources.
   
   
