extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-5-10
         p
            | Just as food gives us a jolt of pleasure by firing up the brain&apos;s reward pathway, so do our social interactions and environmental circumstances. If you have a great job, pleasant relationships, and are respected by your co-workers, you&apos;re going to feel pretty good. On the other hand, if you&apos;re bored with your job, have troubled relationships, and aren&apos;t respected by your co-workers, your reward pathway isn&apos;t getting much stimulation.
            
      .uk-width-medium-5-10       
         p
            | Individuals who don&apos;t receive enough natural rewards from their social environments are more likely to stimulate their neglected reward pathways with drugs.

      
   +pod('')
      .uk-width-1-1.uk-text-center
         iframe.uk-responsive-width(src='https://player.vimeo.com/video/103560506', width='900', height='506', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')

   +references
         p
            | Morgan, D. et al (2002). Social dominance in monkeys: dopamine D2 receptors and cocaine self-administration. Nature Neuroscience 5, 169-174. doi: 10.1038/nn798
         p
            i PET scan images courtesy Michael A. Nader, Ph.D., Wake Forest University School of Medicine
   
