   doctype html
   head
      meta(http-equiv='content-type', content='text/html; charset=utf-8')
      |  
      |     
      title Genetic Tests
      |     
      link(rel='stylesheet', type='text/css', href='counselors.css')
   |  
   img(src='images/adult.jpg', alt='Genetic Test', style='padding: 1em 0 0 1em;')
   | &#x9;&#x9;&#x9;
   p
      | Genetic tests can determine how
      | likely someone is to develop certain diseases (such as someone with
      | a family history of breast cancer), or even whether or not they
      | will develop it (such as Huntington&apos;s disease). Huntington&apos;s disease is
      | a genetic disease that is caused by inheriting a change (mutation) in a certain
      | gene that causes anyone
      | who inherits this mutation to develop the condition. People in
      | families with a history of Huntington&apos;s disease now have the option
      | of learning whether or not they have inherited this gene
      | mutation.
   | &#x9;&#x9;&#x9;
   | &#x9;&#x9;&#x9;
   p
      | Because these tests are often performed on people who do not
      | have the disease themselves, there are a number of issues that are important to
      | discuss before testing is performed. A
      | genetic counselor is specifically trained to review the pros and
      | cons of the testing (such as the impact it may have
      | on a persons health insurance) and help each person come to a
      | decision that is best for him or her. This often means asking
      | questions such as whether or not the individual wants to know, what he or she might
      | do with the information, and how he or she might react to
      | either result.
      br
   
