   doctype html
   head
      meta(http-equiv='content-type', content='text/html; charset=utf-8')
      |  
      |     
      title Cancer Screening
      |     
      link(rel='stylesheet', type='text/css', href='counselors.css')
   |  
   p
      | It can be valuable to look at ones family history
      | to determine whether the cancer in the family may have an
      | inherited component. Genetic counselors often work in clinics with
      | doctors (usually geneticists, oncologists, or gastroenterologists)
      | and focus on cancer risk. Having a family member with cancer does
      | not always mean that a persons cancer risk is high.
      | Collecting information about which family members had cancer, the type of cancer
      | and the age of diagnosis helps genetic counselors assess the chances that the
      | cancer is inherited.
   | &#x9;&#x9;&#x9;
   | &#x9;&#x9;&#x9;
   p
      | Genetic counselors also estimate the lifetime likelihood that an
      | individual will develop cancer based on the individuals
      | health and family history. The physician and genetic counselor provide
      | recommendations for screening; including the type of screening test
      | and the age at which an individual should be tested. For
      | some families, genetic testing may be available. Genetic testing,
      | usually performed with a blood sample, may provide
      | information about who in the family is at an increased risk for cancer
      | and who is at the average general population risk for developing
      | cancer.
   
