   doctype html
   head
      meta(http-equiv='content-type', content='text/html; charset=utf-8')
      |  
      |     
      title Support
      |     
      link(rel='stylesheet', type='text/css', href='counselors.css')
   |  
   img(src='images/pediatric.jpg', alt='Genetic Screening', style='padding: 1em 0 0 1em;')
   | &#x9;&#x9;&#x9;
   p
      | Genetic counselors are often part of a clinical team that can
      | help families answer this question. The first step in answering
      | this question is to clearly define what the rare genetic disorder
      | is. Genetic counselors will often collect information about the
      | relationship and health of other family members (called a
      | family history) as well as information about the
      | pregnancy, birth process and early childhood development of a child
      | who is being evaluated. Sometimes genetic counselors will help
      | research the physical findings or learn which laboratories are best
      | able to help make a diagnosis for a family. However, occasionally even
      | with best efforts, it is difficult to clearly define the genetic
      | disorder that a child has.
   | &#x9;&#x9;&#x9;
   | &#x9;&#x9;&#x9;
   p
      | Regardless of whether a disorder is clearly defined or not,
      | genetic counselors can often help families obtain support.
      | Sometimes, it is a matter of identifying local families who have
      | similar problems with parts of the disorder (such as a hearing or
      | learning problem). Other times, genetic counselors can help find
      | families in other parts of a state or even the country, especially
      | if the condition is rare. Often, genetic counselors will contact
      | their colleagues or tap into the 
      a(href='http://www.geneticalliance.org')
         | Alliance of Genetic Support
         | Groups
      |  to help families with questions such as this find each
      | &#x9;&#x9;&#x9;other.
      br
   
