   doctype html
   head
      meta(http-equiv='content-type', content='text/html; charset=utf-8')
      |  
      |     
      title MSAFP screening
      |     
      link(rel='stylesheet', type='text/css', href='counselors.css')
   |  
   img(src='images/prenatal.jpg', alt='Ultrasound Image', style='padding: 1em 0 0 1em;')
   | &#x9;&#x9;&#x9;
   p
      u M
      | aternal 
      u s
      | erum
      u a
      | lpha-
      u f
      | eto
      u p
      | rotein
      | &#x9;&#x9;&#x9;(MSAFP) screening is a blood test that looks at certain
      | &#x9;&#x9;&#x9;proteins to screen for
      | &#x9;&#x9;&#x9;certain types of birth defects like neural tube defects (such as
      | &#x9;&#x9;&#x9;spina bifida) and Down syndrome in pregnancy. This test is
      | &#x9;&#x9;&#x9;routinely offered to all pregnant women.
   | &#x9;&#x9;&#x9;
   | &#x9;&#x9;&#x9;
   | &#x9;&#x9;&#x9;
   p
      | A genetic counselor plays an important role in helping expectant
      | mothers and their families understand the difference between a
      | screening and a diagnostic test. MSAFP is a screening test, so
      | further testing may be needed to confirm a
      | diagnosis. If the results from the
      | MSAFP screening are not within the normal range, the genetic
      | counselor can explain what
      | additional testing/procedures (including ultrasound and
      | amniocentesis) may be performed to diagnose the problem and
      | provide support for the parents. Genetic counselors can help
      | families understand the role that MSAFP screening plays in detecting
      | possible birth defects, as well as the risks,
      | benefits and limitations of the additional testing.
   
