extends /shared/layout
block content
   +pageTitle

   +pod("")
      +vimeo('167950337')
         a.uk-button.uk-button-success(href="/content/basics/proteins/", data-uk-button)
            | Next Stop: What are Proteins?
   +pod("DNA is all the same chemical")
      .uk-width-medium-1-2
         p.
            The stringy stuff in the test tube is DNA. But you can't tell which one of these organisms it came from just by
            looking at it. That's because DNA looks exactly the same in every organism on Earth.
         p.
            All living things have DNA. And whether it comes from you, a pea plant, or your pet rat, it's all the same molecule.
            It's the order of the letters in the code that makes each organism different.
      .uk-width-medium-1-2
         figure
   +pod("The human genome")
      .uk-width-medium-1-2
         p.
            The order of building blocks in a strand of DNA makes up a "sequence." We can read a DNA sequence like letters in a
            book. In fact, we know the sequence of the entire human genome—all 3 billion letters. That's enough information to
            fill roughly 1,000 200-page books!
         p.
            Contained within the 3 billion letters of the human genome are about 21,000 genes. Most of our known genes code for
            proteins, but some code for RNA molecules.
      .uk-width-medium-1-2
         figure
   +pod("Your DNA makes you unique")
      .uk-width-medium-1-2
         p.
            All humans have the same genes arranged in the same order. And more than 99.9% of our DNA sequence is the same. But
            the few differences between us (all 1.4 million of them!) are enough to make each one of us unique. On average, a
            human gene will have 1-3 bases that differ from person to person. These differences can change the shape and function
            of a protein, or they can change how much protein is made, when it's made, or where it's made.
      .uk-width-medium-1-2
         figure
