extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-4-10
         p
            | Until its prohibition in 1937, extract of 
            em Cannabis sativa
            |  (marijuana) was one of the top three most prescribed medicines in the US. When it became illegal, its use as a medicine became restricted. Despite these regulations, research on the medical use of marijuana continued.
         p
            | In recent years, when some states decided to legalize smoked marijuana for certain patients, medical marijuana became a subject of contentious debate. Should patients be allowed to grow their own plants? Might medical use inevitably lead to recreational use?
      |    
      .uk-width-medium-6-10
         figure
            img(src='marijuana-is-medicine.jpg', alt='Marijuana Is Medicine')
            
   +pod('The Endocannabinoid System')
      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='endocannabinoids.jpg', alt='Endocannabinoids')    
            p
               | We have two types of cannabinoid receptors: CB1 receptors are expressed on the surface of neurons, and CB2 receptors are expressed on cells of the immune system.
      |    
      .uk-width-medium-4-10
         p
            | The active compounds in marijuana are similar to a class of molecules in our bodies called endocannabinoids. The endocannabinoid system influences our immune system, protects nerve cells from premature death, and influences mood, memory, appetite, sleep, sensation, and movement. Both endocannabinoids and the compounds in marijuana bind to proteins called cannabinoid receptors in the brain and throughout the body.
         |        
         .mediaSunk
            p.caption
               | &quot;Endocannabinoids regulate every one of the systems in our bodies.&quot; --Dr. Robert Melamede
            |             
            audio(controls='')
               source(src='Endocannabinoids (new).mp3')
   +pod('Defining Medical Marijuana')
      |    
      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='map.jpg', alt='Map')  
            p
               | As of October, 2013, 20 states plus Washington, DC, have legalized medical
               | marijuana. Two states (*) also allow recreational use. The trend is moving toward legalization. (The Wikipedia page Medical cannabis in the United States has up-to-date legal information.)
            p
               | Each state has its own regulations to control details such as allowable quantities and registration
               | requirements. However, in June of 2005, the Supreme Court ruled that individuals in all states can still be
               | prosecuted under federal law, under which medical marijuana remains illegal under the Controlled Substances Act
         |    
         .mediaSunk
            p.caption &quot;There are different kinds of pain.&quot; --Dr. Robert Melamede
            |             
            audio(controls='')
               source(src='Why_Cannibis_Mel (new).mp3')
      |    
      .uk-width-medium-4-10
         p
            | In 1970, Congress classified cannabis and THC (one of the active compounds in cannabis) as Schedule I drugs under the Controlled Substances Act. Schedule I drugs are defined by Congress as having no medicinal value. The one exception to this classification allows for use in FDA-approved research programs.
         p
            | Who can benefit? 
            br
            | Research suggests that there are conditions for which medical marijuana may be an effective treatment:
         ul
            li
               | Cancer - Relieves nausea during chemotherapy treatment, may prevent the spread of some cancers.
            |     
            li
               | HIV/AIDS - Increases appetite in patients experiencing severe weight loss, eases neurological symptoms.
            |     
            li
               | Neurological disorders (including spinal cord injury and multiple sclerosis) - Reduces pain and spasticity resulting from nerve damage.
            |     
            li
               | Inflammatory pain - Cannabinoids seem to be more effective than opiates in treating long-term, chronic pain. (Opiates are better for treating short-term acute pain.)
            |     
            li
               | Autoimmune diseases (such as arthritis) - Suppresses the immune system, decreasing pain and inflammation.
   +pod('Cannabinoid Delivery Methods')
      .uk-width-medium-6-10
         p
            | The active compounds in marijuana are available in several forms and can be administered in a variety of ways. Each delivery method has benefits and disadvantages.
         | Smoking
         |     
         ul(style='list-style-type:none;')
            li (+)  Delivers all of the plant&apos;s active compounds.
            |         
            li
               | (+) Easy to regulate dose (patients smoke until symptoms are eased, but are not intoxicated).
            |         
            li (&ndash;) No standardization. Amounts of active ingredients may vary.
            |         
            li (&ndash;) Burning marijuana produces toxins which can cause emphysema and lung cancer.
            |         
            li (&ndash;) Illegal in most states.
         | Marinol - Synthetic THC in pill form
         |     
         ul(style='list-style-type:none;')
            li (+) Legal in the US.
            |         
            li (+) Delivers some of the benefits of the whole plant.
            |         
            li (&ndash;) Difficult to control dose.
            |         
            li (&ndash;) Contains only one of the plant&apos;s active compounds (THC). 
            |         
            li
               | (&ndash;) Patients report fewer of the positive effects and more negative side effects.
         |  
         | Vaporizor    
         |     
         ul(style='list-style-type:none;')
            li (+) Converts the active compounds to inhalable form without releasing toxins.
            |         
            li (+) Delivers all of the plant&apos;s active compounds.
            |         
            li (+) Easy to control dose.
            |         
            li (&ndash;) No standardization. Amounts of active ingredients may vary.
            |         
            li (&ndash;) Illegal in most states.
         | Sativex (nabiximols) - Extract from plants delivered as a spray
         |     
         ul(style='list-style-type:none;')
            li (+) Contains all of the plant&apos;s active compounds.
            |         
            li (+) Concentrations of active ingredients are standardized.
            |         
            li (+) Relatively easy to regulate dose.
            |         
            li (+) Legally approved for the medical treatment of Multiple Sclerosis.
            |         
            li (&ndash;) Legal in a limited number of countries.
      |    
      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src='medicinal_marijuana.jpg', alt='Medicinal Marijuana')
            |        
            img.lg-no-shadow(src='cannabinoids.jpg', alt='Cannabinoids')    
            p
               | Marijuana contains approximately 66 active compounds with different properties, collectively called cannabinoids. Scientists are studying cannabinoids to understand their individual and combined effects and their potential benefits.
         |         
         .mediaSunk
            p.caption
               | &quot;Studies show that Sativex (marijuana extract) is not as addicting as legal prescription medications such as opiates.&quot; --Dr. William Notcutt, Director of Sativex trials
            |             
            audio(controls='')
               source(src='Sativex_Addiction (new).mp3')
   +pod('Social Implications')
      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src='bong_girl.jpg', alt='Girl With Bong')

      .uk-width-medium-6-10
         p
            | Some argue that Congress should change marijuana&apos;s classification under the Controlled Substances Act. If it were no longer a Schedule I drug, its medicinal benefits could be recognized legally. But if medical marijuana were legalized, there could be repercussions outside the realm of medicine.
         p
            | Opponents worry that legalizing medical marijuana might lead teens to believe that marijuana is safe for recreational use and increase availability of the drug. On the other hand, some supporters think changing the perception of marijuana from a party drug to a medication might make it less attractive to teens wanting to defy or rebel.
   +pod('Legal Implications')
      |    
      .uk-width-medium-4-10
         p
            | Legalized medical marijuana also presents lawmakers with challenges. How would federal, state, and local governments control and regulate the production, distribution, and sale of medical marijuana? Who would define what is recreational versus medical use of the drug, and how would that be enforced?
      |    
      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='capitol.jpg', alt='Capitol Building')
   
