extends /shared/layout
block content
   +pageTitle

   +pod('Shared Biochemistry')
      .uk-width-medium-1-1
         p Find links to more information and ideas for extensions that support lessons in the Shared Biochemistry module.
         p <strong>GFP videos</strong>
            ul
               li
                  a(href="https://www.youtube.com/watch?v=Sl2PRHGpYuU") A Green Light for Biology: Making the Invisible Visible (Secrets of the Sequence video series)
               li
                  a(href="https://www.youtube.com/watch?v=d-gUPSVX25U") Green Fluorescent Protein: What Is this Thing? (video)
         p <strong>Spider silk information</strong>
            ul
               li
                  a(href="https://boltthreads.com") Bolt Threads (website)
               li
                  a(href="https://www.youtube.com/watch?v=O8AyS1iZp0o") Fashion's Biotech Future (video)

               p <strong>Spider silk extension</strong>
                  ul
                     li Spiders make different kinds of silk that have different properties. Scientists have been able to learn from natural variations in spider silk proteins to make products that have different properties: stronger, softer, water-proof, etc. How do changes in the DNA sequences of spider silk genes lead to differences in the properties of spider silks?

         p <strong>More information about fireflies</strong>
            ul
               li
                  a(href="https://www.theguardian.com/books/gallery/2016/jun/08/night-workers-how-evolution-drives-the-firefly-dance-in-pictures") Images
               li
                  a(href="https://www.youtube.com/watch?v=RpywSqvXDqc") Video from Science Friday
         p <strong>PDB-101 (website)</strong>
            ul
               li Includes information about
                  a(href="http://pdb101.rcsb.org/motm/78")  luciferase
                  |,
                  a(href="http://pdb101.rcsb.org/motm/14")  insulin
                  |,
                  a(href="http://pdb101.rcsb.org/motm/42")  GFP
                  |, and more.
               li
                  | Browse the
                  a(href="http://pdb101.rcsb.org/browse")  Molecules of Life category
                  |  to learn more about proteins that are shared among all living things
               li
                  | Paper models of
                  a(href="http://pdb101.rcsb.org/learn/resources/paper_models")  DNA, GFP, insulin, tRNA, and more
         p <strong>Types of Proteins extension</strong>
            ul
               li How does protein shape contribute to protein function? Have students choose an example from this activity and research the connection between the protein's shape and its function. PDB-101 (above) is a good resource for this type of information.
         p <strong>Wet Lab</strong>
            ul
               li
                  a(href="http://teach.genetics.utah.edu/content/labs/DNA_Extraction.pdf") How to Extract DNA from Anything Living
                  |  — To emphasize that all living things contain DNA, use multiple sources, such as a plant (peas), an animal (chicken liver), and a fungus (mushrooms). The more diverse the better!


   +pod('Common Ancestry')
      .uk-width-medium-1-1
         p
         strong Ancestry of cetaceans
         p There are many videos and pieces of writing about the evolution of cetaceans. A few are listed below:

         ul
            li
               | Nature news and Views article: de Muizon, C. (2001). Walking with whales.  Nature 413, 259-260. doi:10.1038/35095137
            li
               | Website of University of Michigan researcher
               a(href="http://www-personal.umich.edu/~gingeric/PDGwhales/Whales.htm" target="_blank")  Philip Gingerich
               | , who has been researching ungulate and cetacean fossils for decades. Includes links to many of his publications.
            li
               | National Geographic article, August, 2010 issue (subscription required).
               a(href="http://ngm.nationalgeographic.com/2010/08/whale-evolution/mueller-text" target="_blank")  Valley of the Whales
               | , by Tom Mueller.
            li
               a(href="http://www.pbs.org/wgbh/evolution/library/03/4/l_034_05.html" target="_blank") PBS video
               |  (requires QuickTime 7 plugin); alternate
               a(href="https://www.youtube.com/watch?v=I2C-3PjNGok" target="_blank")  YouTube link
            li
               | National Geographic Channel:
               a(href="https://www.youtube.com/view_play_list?p=4D391B1E172D1005" target="_blank")  Whale Evolution

         p
         strong Milk caseins
         ul
            li
               | Where does milk come from? — Scientific American
               a(href="http://blogs.scientificamerican.com/thoughtomics/where-does-milk-come-from/" target="_blank")  blog entry
               |  explaining the origins of casein genes:

         p
         strong Ancestry of pandas
         ul
            li
               a(href="http://www.livescience.com/24788-oldest-panda-fossils.html" target="_blank") LiveScience article
               |  about the Kretzoiarctos fossil (2012)
            li
               | Brian Switek's
               a(href="https://www.wired.com/2010/04/life-in-the-trees-not-bamboo-shaped-the-pandas-thumb/" target="_blank")  2010 Wired article
               |  about Ailurus fulgens, a fossil from the ancestral line of the red panda: Life in the trees, not bamboo, shaped the panda's "thumb."
            li
               | Brian Switek's
               a(href="https://www.wired.com/2011/01/bears-and-bamboo-the-fossil-record-of-giant-pandas/" target="_blank")  2011 Wired article
               |  about the fossil history of the giant panda. Bears and bamboo: the fossil record of giant pandas. Note: In the first paragraph, the article refers to "panda porn."

         p
         strong Evidence for Common Ancestry
         ul
            li
               | The interactive phylogenetic tree
               a(href="/content/selection/tracktraits/" target="_blank")  Tracking Traits Through Time
               |  explores the animal family tree.
            li
               a(href="http://www.ucmp.berkeley.edu" target="_blank") The University of California Museum of Paleontology
               |  has an searchable online
               a(href="http://www.ucmp.berkeley.edu/science/collections.php" target="_blank")  image catalog
               |  of fossilized plants, animals, and microorganisms.

         p
         strong Phylogenetic tree
         ul
            li
               a(href="http://www.timetree.org" target="_blank") Time Tree
               |  has a tool that provides information and references about time since species diverged from a common ancestor. Also available for free download is a poster of the Timetree of Life.

   +pod('Heredity')
      .uk-width-medium-1-1
         p
         strong Variation in dogs
         ul
            li
               a(href="https://vimeo.com/19472436" target="_blank") Dogs Decoded
               |  — NOVA documentary

         p
         strong Variation in pigeons
         ul
            li
               a(href="http://learn.genetics.utah.edu/content/pigeons/" target="_blank") Pigeon Breeding: Genetics at Work
               |  — This module includes the pigeon-breeding puzzle game Pigeonetics, and more information about specific pigeon traits, genes, and alleles.

         p
         strong Human variation
         ul
            li
               a(href="http://learn.genetics.utah.edu/content/basics/haplotype" target="_blank") Mutation and Haplotypes
               |  explains how mutations accumulate in our DNA, and how scientists use DNA variations to understand human ancestry.

         p Several other pages on Learn.Genetics also have information that help clarify the connection between variations in DNA and human traits, as well as a molecular view of Mendelian inheritance patterns:
         ul
            li
               a(href="http://learn.genetics.utah.edu/content/basics/patterns/" target="_blank") What are dominant and recessive?
            li
               a(href="http://learn.genetics.utah.edu/content/basics/blood/" target="_blank") Genes and Blood Type
            li
               a(href="http://learn.genetics.utah.edu/content/basics/neurofibromin/" target="_blank") Test Neurofibromin Activity in a cell

   +pod('Natural Selection')
      .uk-width-medium-1-1
         p
         strong Rock Pocket Mice
         ul
            li
               | A short article summarizing research into
               a(href="https://uanews.arizona.edu/story/coats-different-color-desert-mice-offer-new-lessons-survival-fittest" target="_blank")  dark coat color alleles in two populations of mice

         p
         strong Stickleback Fish
         ul
            li
               a(href="http://life.bio.sunysb.edu/ee/belllab/loberg.html" target="_blank") The Michael Bell Lab
               |  at Stony Brook University studies the Stickleback in great detail.  This site contains the data and findings upon which activities in this module were based.
            li
               a(href="https://www.youtube.com/watch?v=tarrpNM-1VI/" target="_blank") Dragonfly larvae eating a stickleback
            li
               a(href="http://learn.genetics.utah.edu/content/selection/stickleback/" target="_blank") Stickleback Evolution
               |: an abbreviated summary of the Loberg Lake Stickleback story
            li
               a(href="https://www.youtube.com/watch?v=GAN8y9_tn1c" target="_blank") Stickleback Evolution in Lake Washington
               |  Science Café with Dr. Katie Peichel, University of Washington whose lab studies the stickleback.
            li
               a(href="https://www.youtube.com/watch?v=uikKXWWpjkU" target="_blank") Stickleback nesting behavior

         p
         strong Natural Selection
         ul
            li
               a(href="http://learn.genetics.utah.edu/content/selection/artificial/" target="_blank") Artificial vs. Natural Selection

   +pod('Speciation')
      .uk-width-medium-1-1
         p
         strong Defining 'Species'

         p Depending on what they're studying (for example, fossils, microbes, plants, or animals) biologists define species in different ways. The articles below delve into this topic a little more deeply.
         ul
            li What Is a Species? from the
               a(href='http://media.eol.org/info/468' target="_blank")  Encyclopedia of Life
            li What Is a Species? from
               a(href='https://www.scientificamerican.com/article/what-is-a-species/' target="_blank")  Scientific American
            li
               a(href="http://www.nature.com/scitable/topicpage/why-should-we-care-about-species-4277923" target="_blank") Why Should We Care about Species?
               |  from Scitable also explains why the definitions matter.

         p
         strong More about hawthorn and apple flies
         ul
            li
               a(href="https://www.washingtonpost.com/national/health-science/first-ever-hybrid-shark-discovered-off-australia/2012/01/03/gIQAPy00YP_story.html" target="_blank") All Hail the Apple Maggot!
               |  — a 2015 New York Times article by Olivia Judson about extinction and speciation, featuring apple and hawthorn flies

         p
         strong Other speciation Examples

         p Use these articles to supplement the examples used in the curriculum. Students can even summarize evidence on the Speciation Organizer as they read through the articles.

         ul
            li Grizzly bears and polar bears
               ul
                  li
                     a(href="http://sciencenordic.com/grizzly-polar-bear-hybrids-spotted-canadian-arctic" target="_blank") Grizzly polar bear hybrids spotted in Canadian Arctic
                     |  — a 2016 Science Nordic article by Catherine Jex
                  li
                     a(href="https://www.washingtonpost.com/news/animalia/wp/2016/05/23/love-in-the-time-of-climate-change-grizzlies-and-polar-bears-are-now-mating/" target="_blank") Love in the time of climate change
                     | : grizzlies and polar bears are now mating — a 2016 Washington Post article by Adam Popescu (Note that the particular bear that was hunted in May of 2016 was later found to be a
                     a(href="http://www.cbc.ca/news/canada/north/blonde-grizzly-hybrid-polar-1.3645547" target="_blank") blonde grizzly
                     | , not a hybrid. However, the article also includes a lot of useful information.)
            li
               | Common and Australian blacktip sharks.
               a(href="https://www.washingtonpost.com/national/health-science/first-ever-hybrid-shark-discovered-off-australia/2012/01/03/gIQAPy00YP_story.html" target="_blank")  First-ever hybrid shark discovered off Australia
               |  — a 2012 Washington Post article by Juliet Eilperin
            li
               a(href="https://www.wired.com/2016/09/giraffes-get-caught-great-genetics-nerd-fight/" target="_blank") Giraffes get caught up in the great genetics nerd fight
               |  — a Wired article by Marley Walker
            li
               a(href="http://www.smithsonianmag.com/smart-news/coywolves-are-taking-over-eastern-north-america-180957141/?no-ist" target="_blank") Coywolves are taking over eastern North America
               |  — In this 2015 Smithsonian article, Marissa Fessenden describes some of the history and genetic analysis of Eastern coyotes. The article includes links to other resources.
            li
               a(href="http://therattlingcrow.blogspot.com/2014/04/summer-and-winter-blackcaps-and.html" target="_blank") Summer and winter Blackcaps and evolution
               |  — a 2014 blog entry about two Eurasian blackcap populations, with links to two primary research articles
            li
               a(href="http://phys.org/news/2016-08-soapberry-bugs-host.html" target="_blank") What happens when soapberry bugs switch to a new host?
               |  — This 2016 article on phys.org by Kathy Keatley Garvey describes how a population of soapberry bugs has moved to a new host. It's a story very similar to that of hawthorn and apple flies.
            li
               a(href="https://www.scientificamerican.com/article/see-change-rapid-emergence/" target="_blank") Sea Change
               | : Rapid emergence of new sea star species illustrates evolution's power — This 2012 Scientific American article by Marissa Fessenden describes a case of rapid speciation in an Australian starfish.
