extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-6-10
         p
            | In
            a(href='../whatiscloning/')  What is cloning?
            |  we learned what it means to clone
            | &#x9;&#x9;an individual organism. Given its high profile in the popular media, the topic of cloning
            | &#x9;&#x9;brings up some common, and often confusing, misconceptions.
      .uk-width-medium-4-10
   +pod('Myth #1: Instant Clones')
      .uk-width-medium-6-10
         p
            | Let&apos;s say you wanted a clone to do your homework. After reviewing
            a(href='../whatiscloning/')  What is Cloning?
            |  and
            a(href='../clickandclone/')  Click and Clone
            | ,
            | &#x9;&#x9;you&apos;ve figured out, generally, how to make a clone. Knowing what you know, do you think this
            | &#x9;&#x9;approach would really help you finish your homework...this decade?

         p
            | A common belief is that a clone, if created, would magically appear at the same age as
            | the original. This simply isn&apos;t true. You remember that cloning is a way to create an
            | embryo, not a full-grown individual. The embryo, once created, must develop exactly the
            | same way as a regular embryo made by joining egg and sperm. Your clone would need
            | a surrogate mother and ample time to grow and fully develop into an individual.
      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src='images/instantclones.gif', alt='Instant clones')
            p
   +pod('Myth #2: Carbon Copies')
      .uk-width-medium-6-10
         p
            | Your beloved cat Frankie has been a loyal companion for years. Recently, though, Frankie has been showing
            | signs of old age, and you realize that your friend&apos;s days are numbered. You can&apos;t bear the
            | thought of living without her, so you contact a biotechnology company that advertises pet cloning services. For a
            | fee, this company will clone Frankie using DNA from a sample of her
            | somatic cells. You&apos;re thrilled:
            | you&apos;ll soon have a carbon copy of Frankiewe&apos;ll call her Frankie #2and you&apos;ll never have to live
            | without your pal! Right?
         | &#x9;&#x9;
         | &#x9;&#x9;
         p
            | Not exactly. Are you familiar with the phrase &quot;nature versus nurture?&quot; Basically, this means
            | that while genes help determine traits, environmental influences have a considerable impact
            | on shaping an individual&apos;s physical appearance and personality. For example, do you know any identical twins?
            | They are genetically the same, but do they really look and act exactly alike?
         | &#x9;&#x9;
         | &#x9;&#x9;
         p
            | So, even though Frankie #2 is genetically identical to the original Frankie, she will grow and develop
            | in a completely different environment than the original Frankie, she will have a different mother, and she will be exposed to
            | different experiences throughout her development and life. Therefore, there is only a slim chance that
            | Frankie #2 will closely resemble the Frankie you know and love.
         p
            | Another difference between a clone and the original is the mitochondria. Mitochondria are organelles that sit inside nearly every cell. Their job is to burn fuel (from the food we eat) to make energy. Mitochondria have their own chromosome, made of DNA and divided into genes, and they divide as our cells divide.
         p
            | We get our mitochondria from our mothers. Egg cells are packed with mitochondria, which are copied and distributed to new cells as they form. When a clone is made using nuclear transfer, the egg cell that&apos;s used to receive the donor nucleus is already filled with mitochondria contributed by the egg donor. As the clone develops, its cells will be filled with these mitochondria&mdash;and their genes&mdash;rather than the mitochondria from the DNA donor.

      .uk-width-medium-4-10
         figure
            img(src='images/twins.jpg', height='198', width='352', alt='twins')
            p
               | Nature vs. Nurture. Find out why twins become increasingly different as they age in
               a(href='/content/epigenetics/twins/')  Epigenetics
               | .
   +pod('Myth #3: Cloning is always an artificial process')
      .uk-width-medium-6-10
         p
            | Clones can be made in the lab through artificial embryo twinning or nuclear transfer. But these aren&apos;t the only ways to make a clone.
         p
            | Clones are simply identical genetic copies. Many organisms reproduce through cloning as a matter of course, through a process called asexual reproduction. Bacteria, yeast, and single-celled protozoa multiply by making copies of their DNA and dividing in two. Redwood and aspen trees send up shoots from their roots, which grow into trees that are genetically identical to the parent.
         p
            | In the animal world, the eggs of female aphids grow into identical genetic copies of their mother&mdash;without being fertilized by a male. If a starfish is chopped in half, both pieces can regenerate, forming two complete, genetically identical individuals. Even mammals form natural clones: identical twins are a common example in many species.
         p
            | Learn more about
            a(href='/content/basics/reproduction/')  Sexual and Asexual Reproduction.

      .uk-width-medium-4-10
   +pod('Myth #4: Cloning is a new technology')
      .uk-width-medium-6-10
         p
            | Humans have been cloning plants for at least a couple thousand years. Many of the fruits we eat&mdash;including bananas, grapes, and apples&mdash;come from artificially created clones. Unlike the complex process of cloning a mammal, cloning a plant can be as simple as cutting a branch from one tree and grafting it onto another.
         p
            | Animal cloning also has a long history. Artificial embryo twinning, which involves dividing an early embryo to form separate, genetically identical organisms, was first done in a vertebrate over 100 years ago. And the first successful nuclear transfer was done in a frog in the 1970s.
         p
            | Learn more about
            a(href='/content/cloning/clonezone/')  The History of Cloning
            | .

      .uk-width-medium-4-10
   +pod('Myth #5: Cloned animals live short lives and suffer from health problems')
      .uk-width-medium-6-10
         p
            | While animal cloning still has a high failure rate, and some well-known clones (including Dolly the sheep) have had health problems, clones are not necessarily &quot;damaged.&quot; Many live long, healthy lives. One racing mule clone was at one time ranked third in the world. And a barrel-racing horse clone was not only born healthy, but at two years old he was also collecting a stud fee of $4,000 for his owners.
         p
            | One reason for cloning&apos;s high failure rate seems to be incomplete resetting of the somatic cell&apos;s DNA. During egg and sperm formation, DNA is &quot;reset&quot; to a baseline or embryonic state. As the embryo develops, cells begin to differentiate into muscle, nerve, liver, and other types. Part of the differentiation process involves adding and removing chemical tags on the DNA, which keeps genes turned &quot;on&quot; that are necessary for the function of that cell type and keeps others turned &quot;off.&quot;
         p
            | Learn more about this process in
            a(href='/content/epigenetics/')  Epigenetics
            | .

      .uk-width-medium-4-10
