extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-5-10
         p
            | Birds with a &quot;wild-type&quot; pigment distribution have medium-toned heads, gradually fading to a lighter shade on the body and legs. In birds with the spread phenotype, the 
            a(href='../color/') major color
            |  is evenly distributed across all of the feathers.
         p
            | In the photos to the right, both birds are blue. The one on the right is also spread
      |     
      .uk-width-medium-5-10
         img(src='images/spread.jpg', alt='Spread', width='488', height='204')
   +pod('Alleles and Inheritance')
      |     
      .uk-width-medium-5-10
         img(src='images/spread-1.jpg', alt='Spread Gene', width='453', height='189')
      |     
      .uk-width-medium-5-10
         p
            | In pigeons, one gene controls whether a bird is spread or not. The 
            em spread
            |  gene comes in two versions, or alleles: &apos;spread&apos; and &apos;not spread.&apos;
         p
            | Pigeons inherit two copies of the 
            em spread
            |  gene, one from each parent. The two alleles together make up a bird&apos;s genotype. What we see, or the phenotype, is the physical outcome of these two alleles.
         p
            | The &apos;spread&apos; allele is dominant to the &apos;not spread&apos; allele, so a bird with even one &apos;spread&apos; allele will have a spread phenotype. The &apos;not spread&apos; allele is considered wild type: it&apos;s the allele that the wild ancestor to domestic pigeons had. The &apos;spread&apos; allele came along later as a natural genetic variation, and it was selected and propagated by breeders.
   +pod('Spread is Epistatic to Pattern')
      |     
      .uk-width-medium-5-10
         p
            | The &lsquo;spread&rsquo; allele masks or hides wing pattern. All birds have two 
            em pattern
            |  alleles, but a bird with a spread phenotype has no visible pattern phenotype. This masking is called 
            a(href='../epistasis/') epistasis
            | , and we say that spread is epistatic to pattern.
         p
            | Even though a spread bird has no visible pattern, we can show that the 
            em pattern
            |  alleles are still there. In the example to the right, a bird that has one &lsquo;spread&rsquo; allele (right) is crossed to a non-spread bird (left). The hidden 
            em pattern
            |  alleles&mdash;&apos;t-check&apos; and &apos;check&apos;, outlined in blue&mdash;are revealed in two of the possible offspring.
         p
            | As explained on the 
            a(href='../pattern/') pattern
            |  page, 
            em spread
            |  and 
            em pattern
            |  are also weakly 
            a(href='../geneticlinkage/') genetically linked
            | .
      |     
      .uk-width-medium-5-10
         img(src='images/spread-2.jpg', alt='Possible combinations of spread and pattern alleles in offspring', width='487', height='420')
         |  
         br
   +pod('Spread Influences Color')
      |     
      .uk-width-medium-5-10
         img(src='images/spread-3.jpg', alt='Spread is Epistatic to Color', width='351', height='337')
      |     
      .uk-width-medium-5-10
         p
            | Spread doesn&rsquo;t hide color the way it does pattern (see above), but it does influence the expression of the 
            em color
            |  alleles. So a spread bird isn&rsquo;t simply spread, it&rsquo;s spread plus a color: spread blue, spread brown, or spread ash-red.
         p
            | You can think of the &apos;spread&apos; allele as taking the color of the tail bar and spreading it across the entire bird. So while spread ash-red may seem like an unexpectedly light shade, the phenotype makes sense when you realize that ash-red birds have a light-colored tail bar.
         p
            | Breeders are often inconsistent in how they name different colors of pigeons. For instance, spread ash-red is sometimes called &quot;solid mealy,&quot; and spread blue is often called &quot;black.&quot; The color-naming inconsistencies probably date back to a time when we didn&apos;t understand the genetics of color and pattern as well as we do today. To add to the confusion, some colors are difficult to tell apart, and colors that are the same geneticically can look different phenotypically in different breeds.
   +pod('Exceptions to the Rules')
      |     
      .uk-width-medium-5-10
         p
            | While the dominance and epistasis patterns described above generally hold up, sometimes a bird with one &apos;spread&apos; allele and one &apos;not spread&apos; allele will have a hint of a wing pattern&mdash;especially ash-red birds. And male spread birds that have two different 
            em color
            |  alleles may show flecks of the more-recessive of the two. For instance, a spread bird that has &apos;ash-red&apos; and &apos;blue&apos;
            em color
            |  alleles may be mostly ash-red but with flecks of blue.
         p
            | This variability&mdash;often termed &ldquo;variable expressivity&rdquo;&mdash;is not very well understood, but it is typical of many traits. In human eye color, for example, we understand that the &lsquo;blue&rsquo; allele is recessive to the &lsquo;brown&rsquo; allele. But blue and brown eyes come in many shades that do not follow dominant or recessive inheritance patterns.
         p
            | Variations like these may come from individual differences in gene activity or from the influence of other genes.
         |         
         |         
         p
            a(href='../references/') References
      |     
      .uk-width-medium-5-10
   
   
