+minipod('What is colon cancer?')

   .uk-width-6-10
      p
         | Cells normally grow and divide just enough to grow or to replace damaged tissue.
         | But sometimes, the mechanisms that regulate cell growth stop working and cells divide out of control.
         | This out-of-control growth is called cancer.  Cancer that develops in the cells lining the colon (the first part of the large intestine), is called colon cancer.
      | &#x9;&#x9;
      | &#x9;&#x9;
      p
         | People who have a history of colon cancer in their family are at greater risk of getting the disease themselves. The risk increases when a relative has had the disease before age 50.  People in these families are considered high-risk,
         | because they may have inherited one of two rare genetic conditions: FAP (familial adenomatous polyposis) or HNPCC
         | (hereditary non-polyposis colon cancer).
      | &#x9;&#x9;
      | &#x9;&#x9;
      img(src='colon/images/coloncancer-gene.jpg', width='120', height='197', alt='Colon Cancer Gene', style='float:left; padding: 5px 25px 80px 0px;')
      p
         | FAP is caused by mutations of the APC (adenomatous polyposis coli) gene on chromosome 5.  APC is a tumor suppressor gene,
         | which means that it controls cell growth.  People who inherit a mutated form of this gene develop growths
         | called polyps in their colon.  By age 15, they may have hundreds of these polyps.  Polyps are not cancerous at first, but if they aren&apos;t treated, they will develop into colon cancer.
      | &#x9;&#x9;
      | &#x9;&#x9;
      p
         | HNPCC (also called Lynch syndrome) is caused by mutations in one of several genes that fix damaged DNA.
         | People who inherit one of these mutations have a much greater risk of accumulating mutations that will lead to
         | uncontrolled cell growth and cancer.
   |     
   .uk-width-medium-4-10
      img(src='colon/images/cancer.jpg', alt='cancer', width='200', height='290')
+minipod('How do people get colon cancer?')
   |    
   .uk-width-medium-6-10
      p
         | FAP and HNPCC are both inherited in an autosomal dominant pattern.  If a parent has FAP or HNPCC, his or her children have a 1 in 2 chance of inheriting the mutated gene.  A person who inherits a defective gene will not
         | necessarily develop a malignant cancer.  However, the APC gene strikingly predisposes one to colon cancer.
         | People who inherit one bad copy of the APC gene are practically guaranteed to develop colon cancer by age 40.
         | Similarly, people who inherit one bad copy of a gene associated with HNPCC have an 80 percent chance of getting
         | colon cancer.  HNPCC also increases a person&apos;s risk of developing other cancers, including ovarian,
         | stomach, brain, and liver.
      br
   |    
   .uk-width-medium-4-10
      img(src='colon/images/autosomal-dominant.jpg', alt='Autosomal Dominant', width='352', height='280')
+minipod('What are the symptoms of colon cancer?')
   |    
   .uk-width-medium-4-10
      img(src='colon/images/colonoscope.jpg', alt='Colonoscope', width='352', height='295')
   |    
   .uk-width-medium-6-10
      p
         | Colon cancer affects the stomach and bowels.  Common symptoms include diarrhea or constipation,
         | blood in the stool, vomiting, bloating, cramps, and unexplained weight loss.
      | &#x9;&#x9;
      h3 How do doctors diagnose colon cancer?
      | &#x9;&#x9;
      p
         | Even before a patient shows symptoms of colon cancer, his or her doctor can screen for the disease using one of several tests:
      | &#x9;&#x9;
      | &#x9;&#x9;
      ul
         li
            strong Fecal Occult Blood Test (FOBT)
            |  -  Colon cancer can sometimes cause tiny dots of blood,
            | &#x9;&#x9;&#x9;too small for the eye to see, in the feces.  The FOBT test uses a chemical to check the patient&apos;s
            | &#x9;&#x9;&#x9;stool sample for these traces of blood.
         | &#x9;&#x9;
         li
            strong Flexible-Sigmoidoscopy
            |  - Using a thin flexible tube called a simoidoscope,
            | &#x9;&#x9;&#x9;the doctor looks inside the patient&apos;s colon for growths called polyps.
         | &#x9;&#x9;
         li
            strong Double Contrast Barium Enema (DCBA)
            |  - A silvery-white metallic substance
            | &#x9;&#x9;&#x9;called barium is inserted into the patient&apos;s colon through the rectum.  The barium outlines the
            | &#x9;&#x9;&#x9;patient&apos;s colon on an x-ray screen.
         | &#x9;&#x9;
         li
            strong Colonoscopy
            |  - Using a thin instrument called a colonoscope, the doctor looks inside the patient&apos;s colon.
            | &#x9;&#x9;&#x9;During the procedure, the doctor removes pieces of tissue (called a biopsy) to test them for cancer.
            | &#x9;&#x9;&#x9;If the doctor finds any polyps, he or she can also remove them.  A newer method, called virtual colonoscopy,
            | &#x9;&#x9;&#x9;looks at the colon without going into the body, with an MRI or CT scan.
         | &#x9;&#x9;
         li
            strong DNA-Based stool test
            |  - This test examines DNA taken from a patient&apos;s stool sample
            | &#x9;&#x9;&#x9;to look for genetic defects associated with colon cancer.
+minipod('How is colon cancer treated?')
   |    
   .uk-width-medium-6-10
      p
         | Colon cancer is very treatable.  In fact, about 90 percent of patients survive the disease after treatment.
         | First, doctors stage the disease to see how far it has progressed.  If the cancer has not spread to
         | other tissues of the body, it can be treated with chemicals (chemotherapy) or radiation (powerful x-rays) to kill all rapidly dividing cells in the body, including cancer cells or surgery to remove the polyps and/or cancerous part of the colon
+minipod('Interesting facts about colon cancer')
   |    
   .uk-width-medium-6-10
      p
         | People who have FAP can develop hundreds and even thousands of polyps, whereas
         | people with HNPCC develop relatively few.
      | &#x9;&#x9;
      p
         | The progression from a benign to a malignant cancer typically requires multiple mutations that allow cells
         | to acquire new and abnormal characteristics, such as an increased growth rate, inability to adhere or stick to
         | neighboring cells, and propensity to migrate to other places in the body.  At least seven mutations
         | are required to produce a malignant colon tumor.
      | &#x9;&#x9;
      | &#x9;&#x9;
      p
         | Inherited cancers often provide clues about the genes mutated in noninherited (sporadic) cancers.
         | For example, mutations in the APC gene are found not only in FAP tumors but in 85% of all sporadic colon tumors as well.
   |    
   .uk-width-medium-4-10
      
      +well
         h3 More information
         a(href='http://www.ccalliance.org/ ') Colon Cancer Alliance
         br
         a(href='http://www.huntsmancancer.org/aboutHCI/intro~/famColonCancerClin.jsp') Familial Colon Cancer Research Clinic
