extend /shared/layout

block content
    +pageTitle
    +pod('')
        .uk-width-medium-5-10
            p
                | Both flowing plants and animal pollinators are incredibly diverse. One reason for this diversity is the close 
                | relationship they have with one another. Over many years, some flowers and pollinators have influenced each 
                | other's evolution. Today, when flower-pollinator pairs have traits that work very well together, it's a sign 
                | this kind of evolution may have happened.

        .uk-width-medium-5-10
            figure
                img(src="images/Visual2Labeled.png", alt = "butterfly on butterfly bush")
                p
                    | Flower-pollinator pairs often have sets of traits that favor one another. A well-matched pair tells us the two species may have influenced each other’s traits over time.
    
    +pod('Co-Evolution of Flowering Plants and Pollinators')
        .uk-width-medium-5-10
            .uk-container.uk-container-center
                div(style="padding-top:78.9%; position:relative; overflow:hidden;")
                    #controlledWidth1.uk-width-1-1(style="position:absolute; top:0;")
                        div(id="beehype_hype_container" style="margin:auto; position:relative; width:550px; height:434px; overflow:hidden; transform-origin:top left;" aria-live="polite")
                            script(type="text/javascript" charset="utf-8" src="BeeHype.hyperesources/beehype_hype_generated_script.js?87075")
            figure
                p
                    | Flowers and pollinators gradually adapt to one another over many generations.

        .uk-width-medium-5-10
            p
                | When the traits of one species evolve in response to the traits of another species, it's called co-evolution.
            p
                | Flowers and their pollinators affect one another's reproductive success. It's what makes them likely to co-evolve. The 
                | traits flowers have determine the traits that will give pollinators an advatage, and vice versa. Over many generations, 
                | favorable trait combinations become more common. Eventually, flower-pollinator pairs are very good at helping one another 
                | reproduce.
            p
                | Co-evolution occurs over time, when several conditions are in place.
                ul
                    li Traits must 
                        em vary in a population
                        | .
                    li Traits need to be 
                        em heritable
                        | , so they can be passed from parents to offspring.
                    li Some version of the trait must give a 
                        em reproductive advantage
                        | .
                    li Finally, two (or more) species must 
                        em closely interact
                        | . This is what make co-evolution different from other kinds of natural selection.
            p
                | Co-evolution is often due to a mutualistic relationship, like that between flowers and pollinators. But it can happen 
                | from other interactions as well. Other examples of co-evolution occur between predators and prey, parasites and hosts, 
                | and even viruses and the organisms they infect.
            +well
                p
                    | Explore the many traits that cause flowers and pollinators to favor one another in the 
                    a(href="https://learn.genetics.utah.edu/content/flowers/flowertraits/") Flower Traits Slideshow
                    | .
                p
                    | For more on variability, heritability, and reproductive advantage, visit the video 
                    a(href="https://learn.genetics.utah.edu/content/evolution/criteria") Recipe for Natural Selection
                    | .

    +pod('Is Co-Evolution Real?')
        .uk-width-medium-5-10
            figure
                img(src="images/Visual4.png", alt="graph of fly proboscis length")
                p
                    | Average fly proboscis (mouthpart) length and flower depth. Each dot is a different location. Modified from Anderson and Johnson 2008.

        .uk-width-medium-5-10
            p
                | Co-evolution is occurring right now. But the process is too slow for us to watch. How do we know it actually happens? If two species have 
                | corresponding traits, it's a good starting point. But to truly demonstrate co-evolution, researchers need more evidence.
            p
                | As one example, long-tongued flies, 
                em Prosoeca ganglbaueri
                | , and figwort flowers, 
                em Zaluzianskya microsiphon
                | , live together in several places in South Africa. The flies are the flowers' main pollinator. They feed from the flowers' deep nectar tubes. 
                | Researchers studied the relationship of fly mouthparts and flower nectar tubes. They measured the length of each trait at distinct geographical 
                | locations. From one location to another, the mouthpart and nectar tube lengths vary. But, within a single location, the two traits are well-matched. 
                | This was evidence that flies and flowers that live together influence each other's traits.
            p
                | The researchers also showed there is an advantage to matching traits. They mixed flies and flowers from different locations. Some fly tongues were 
                | too long and they fed from flowers without pollinating them. As a result, those flowers made fewer seeds. Those plants were less likely to reproduce 
                | since the traits didn't match.
        
    +pod('Pollinator Shifts')
        .uk-width-medium-5-10
            p
                | Not all corresponding traits between flowers and pollinators are due to co-evolution. Pollinator shifts also have a big influence on flower traits.
            p
                | A pollinator shift is when a different pollinator becomes the main visitor to a flower species. It occurs when a new pollinator moves into the flower's 
                | neighborhood. Or if a new flower moves into the pollinator's neighborhood. It also happens when a flower species has a new trait by chance, which makes 
                | it attractive to a different type of pollinator.
            p
                | Visitation by the new pollinator causes the flower population to adapt. In the short-term, pollinator shifts are often a bit more one-sided compared to 
                | co-evolution. Traits in the flower population quickly change to ensure pollination from the new pollinator. But over a longer time, the two species will 
                | influence each other.

        .uk-width-medium-5-10
            .uk-container.uk-container-center
                div(style="padding-top:78.9%; position:relative; overflow:hidden;")
                    #controlledWidth2.uk-width-1-1(style="position:absolute; top:0;")
                        div(id="nectarspurhype_hype_container" style="margin:auto; position:relative; width:550px; height:434px; overflow:hidden; transform-origin:top left;" aria-live="polite")
                            script(type="text/javascript" charset="utf-8" src="NectarSpurHype.hyperesources/nectarspurhype_hype_generated_script.js?50226")
            figure
                p
                    | The frequency of traits in a flower population can change after a new pollinator moves to the neighborhood.

        .uk-width-1-1
            // pollinator shift model space    

    +pod('Flower-Pollinator Interactions Lead to New Species')
        .uk-width-medium-5-10
            figure
                img(src="images/Visual7.png", alt="monkeyflowers and pollinators")
                p
                    | Pollinators influenced divergence of these monkeyflower species. Each species is so specialized to a specific pollination system that they are reproductively 
                    | isolated and rarely cross in nature.
                
        .uk-width-medium-5-10
            p
                | Over time, both co-evolution and pollinator shifts lead to reproductive isolation. The part of the population with new traits no longer interbreeds with the original 
                | population. As more time passes, the newly-isolated population continues to change. Eventually, the original species diverges into two.
            +well
                h3 Related Content
                p
                    | What kinds of reproductive barriers lead to speciation? And, when do the two groups become separate species? Find out in 
                    a(href="https://learn.genetics.utah.edu/content/evolution/barriers/") Reproductive Barriers
                    |  and 
                    a(href="https://learn.genetics.utah.edu/content/evolution/species") What is a Species
                    | ?

    +pod('Enhanced Biodiversity')
        .uk-width-medium-5-10
            p
                | Over millions of years, the interactions of flowers and pollinators led to much of the biodiversity we see today. Traits that might otherwise seem quite mysterious 
                | can often be explained by these relationships.

        .uk-width-medium-5-10
            figure
                img.lg-no-shadow(src="images/Flower_Biodiversity.png", alt="various flowers")
                p
                    | Flower-pollinator relationship increase biodiversity. The relationships are likely responsible for many of the unique floral traits shown above.

    +references
        p
            | Anderson, B., &amp; Johnson, S. D. (2008). The geographical mosaic of coevolution in a plant-pollinator mutualism. Evolution: International Journal of Organic Evolution, 62(1), 220-225.
        p
            | Charles, D. (1859). On the origin of species by means of natural selection. Murray, London.
        p
            | Charles D. (1862). On the various contrivances by which British and foreign orchids are fertilized by insects. Murray, London.
        p
            | Johnson, S. D., &amp; Anderson, B. (2010). Coevolution between food-rewarding flowers and their pollinators. Evolution: Education and Outreach, 3(1), 32-29.
        p
            | Ramsey, J., Bradshaw Jr, H. D., &amp; Schemske, D. W. (2003). Components of reproductive isolation between the monkey flowers Mimul lewisii and M. cardinalis (Phrymaceae). Evolution, 57(7), 1520-1534.
        p
            | Schemske, D. W., &amp; Bradshaw, H. D. (1999). Pollinator preference and the evolution of floral traits in monkeyflowers (Mimulus). Proceedings of the National Academy of Sciences, 96(21) 11910-11915.
        p
            | Stebbins, G. L. (1970). Adaptive radiation of reproductive characteristics in angiosperms, I: pollination mechanisms. Annual Review of Ecology and Systematics, 1(1), 307-326.
        p
            | Van der Niet, T., Peakall, R., &amp; Johnson, S. D. (2014). Pollinator-driven ecological Speciation in plants: new evidence and future perspectives. Annals of Botany, 113(2), 199-212.
        p
            | Whittall, J. B., &amp; Hodges, S. A. (2007). Pollinator shifts drive increasingly long nectar spurs in columbine flowers. Nature, 44(7145), 706.

    +photocredits
        p
            | Columbine photo by Elena Kramer.

block append endscripts
    script.
      $(function(){
          // ----- hype piece ----- //
          
          var container = document.getElementById('controlledWidth1');
          var bees = document.getElementById('beehype_hype_container');
          var nectar = document.getElementById('nectarspurhype_hype_container');

          function updateItemWidth () {
            var pad = parseInt(window.getComputedStyle(container).paddingLeft);
            var newScale = (container.offsetWidth - pad) / 550;
            bees.style.transform = "scale(" + newScale + "," + newScale + ")";
            nectar.style.transform = "scale(" + newScale + "," + newScale + ")";
          };

          updateItemWidth();
          window.addEventListener('resize', updateItemWidth);
      });
    
    //- script.
    //-         // ----- hype piece ----- //
            
    //-         var container = document.getElementById('controlledWidth2');
    //-         var item = document.getElementById('pshift_hype_container');

    //-         function updateItemWidth () {
    //-             var pad = parseInt(window.getComputedStyle(container).paddingLeft);
    //-             var newScale = (container.offsetWidth - pad) / 1400;
    //-             item.style.transform = "scale(" + newScale + "," + newScale + ")";
    //-             };

    //-         updateItemWidth();
    //-         window.addEventListener('resize', updateItemWidth);
    //-     });
