extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-6-10
          p
            | The "Insect Herbivores &amp; Plants" materials are the product of a collaboration between the Genetic Science Learning Center at the University of Utah, the laboratory of Richard Clark at the University of Utah, and the laboratory of Ricardo Ramirez at Utah State University.

          p
            | Funding for materials in the “Insect Herbivores vs. Plants” section was provided by the National Science Foundation Award #1457346: Evolutionary Genetics of a Cosmopolitan Generalist Herbivore. These materials were developed as part of Dr. Clark's Broader Impacts.

          p
            | Funding for materials in the “Plants vs. Insect Herbivores” section was provided by the National Science Foundation Award #1444449: Genomics of Resistance to Mite Herbivores Associated with Drought Stress in Cereals. These materials were developed as part of Dr. Clark's and Dr. Ramirez’s Broader Impacts.
    
      .uk-width-medium-4-10
         figure
            img(src="images/TSSM_leaf2.jpg", alt="Two ")
            p Two-spotted Spider Mites (Tetranychus urticae)

   +pod('Acknowledgements')
      .uk-width-medium-6-10
         figure
            img(src="images/clark_lab2.jpg", alt="Richard Clark and Huyen Bui")

      .uk-width-medium-4-10
        p
          | Richard M. Clark, PhD <br>
          | Professor of Biology <br>
          | University of Utah
        p
          | Huyen Bui, PhD <br>
          | Postdoctoral Fellow <br>
          | University of Utah

        p
          | Ricardo Ramirez, PhD <br>
          | Associate Professor <br>
          | Utah State University
        p

   +pod('GSLC Staff')
      .uk-width-medium-4-10
         p
            | The following Genetic Science Learning Center staff contributed to this project:
         p
            | Pete Anderson <br>
            | Kagan Breitenbach <br>
            | Sheila Homburger <br>
            | Kevin Pompei <br>
            | Louisa Stark <br>
            | Harmony Starr <br>
