script(src='/Scripts/AC_RunActiveContent.js', type='text/javascript')
+minipod('What is Pachyonychia Congenita?')  
   .uk-width-medium-6-10
      p
         | Pachyonychia Congenita (PC) is a rare genetic disorder that primarily affects the skin, nails, and mouth. It is caused by a mutation in any
         | one of four genes that code for keratin proteins. Keratins are proteins that form tough fibers that strengthen skin and things that grow out
         | of the skin, such as hair and finger nails. Although mutations in different keratins can cause many disorders, only mutations in keratins
         | 6a, 6b, 16, and 17 are linked to PC. This disorder does not affect lifespan, but patients do experience constant pain.
   .uk-width-medium-4-10
      figure
         img(src='pc/images/PCgeneLocations.jpg')
         p Keratins are a family of related proteins with about 54 members. The keratin genes are located in two clusters, one cluster on chromosome 12 and another on chromosome 17.
+minipod('')
   .uk-width-1-1
      script(type='text/javascript').
         AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','190','height','30','src','pc/PachyWhat','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','movie','pc/PachyWhat' ); //end AC code
      noscript
         p Javascript is required to view this content.

      script(type='text/javascript').
         AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','750','height','250','src','pc/PC','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','movie','pc/PC' ); //end AC code
      noscript
         p Javascript is required to view this content.
+minipod('How do People Get PC?')
   .uk-width-medium-6-10
      p
         | PC has a predictable pattern of inheritance. People with PC have a 1 in 2 chance of passing the disease to their children each time
         | they conceive. In other words, the disorder exhibits an autosomal dominant inheritance pattern. Children have to inherit just one copy of the mutated keratin gene to exhibit symptoms.
      p
         | In some cases, a person with PC will have no family history of the disease. This most commonly happens when a mutation occurs very early in embryonic development, soon after fertilization. It can also occur when a healthy parent&apos;s egg or sperm cells acquire a mutation in one of the keratin genes. The mutated gene is passed to the child, resulting in disease. In most cases, the affected child then has a 50% chance of passing PC to each of his or her children.
   .uk-width-medium-4-10
      figure
         img(src='pc/images/immunofluorescence.jpg')
         p Normal keratin filaments form a strong structural network (left) that enables cells to withstand pressure and stretching. Mutant keratin proteins form clumps (right), resulting in weak cells that break open under pressure. Images courtesy Prof. W.H. Irwin McLean, University of Dundee, Scotland. Keratin filaments are green, and cell nuclei are blue.
+minipod('What are the Symptoms of PC?')
   .uk-width-medium-6-10
      figure
         img(src='pc/images/PCphotos1.jpg')  
         p People with PC show a variety of symptoms, including (clockwise from top left) blisters and calluses on the feet and hands, thickened nails, cysts, bumps around hair follicles, and  a thick white growth on the tongue.
   .uk-width-medium-4-10
      p
         | While every cell in the body has the genes that are involved in PC, symptoms only appear in places where the genes are active. Thick nails are the hallmark symptom of PC.  In fact, pachyonychia means "thick nails" However, the most pronounced symptom for people with PC is painful blisters and thick calluses on the soles of the feet. Without proper keratin filaments, skin cells become fragile and cannot withstand pressure or stretching. Just walking across a room can put enough pressure on the soles of the feet to burst skin cells.
      p
         | Other common PC symptoms include blisters and calluses on the palms of the hands, a white growth on the tongue, and a variety of cysts. Children often have different symptoms than adults. Symptoms more common in children include bumps around hair follicles, hoarseness, and intense, short-duration ear pain. Importantly, individual symptoms and their severity can vary between patients, even within a family.
  
+minipod('How do Doctors Diagnose PC?')
   .uk-width-medium-6-10
      p
      | There are two forms of PC, type 1 and type 2. They are distinguished by slightly different symptoms and by which keratin gene is mutated. To make a diagnosis, doctors typically look for a combination of PC symptoms. Because symptoms can vary, diagnosis is usually confirmed by genetic testing. PC is often misdiagnosed. The most common misdiagnosis for PC is onychomycosis, a fungal infection of the nails. Other common misdiagnoses are epidermolysis bullosa and palmoplantar keratodermas, two skin disorders that are similar to PC.

+minipod('How is PC Treated?')
   .uk-width-medium-4-10
      p
         | There is no cure for PC, and drug therapies are limited. Patients typically manage their own symptoms. Trimming and filing nails can prevent infections. Hands and feet can be soaked and rubbed to clean off blistered skin. Keeping tender skin moist and cold is often comforting. Special shoes, canes, or crutches can decrease pressure on the feet.
      p
         | Work is under way to provide better treatments for PC. A new technology involving gene silencing is providing hope for a cure. By inactivating the mutant keratin gene, researchers hope to restore keratin protein assembly and thereby strengthen skin cells.
   .uk-width-medium-6-10
      figure
         img(src='pc/images/silencing.jpg', width='334', height='200')
         p Gene silencing is a promising new technology that may one day be used to treat PC. In one approach to gene silencing, the mutant keratin gene is turned off (1), allowing the three remaining keratin genes to produce proteins (2) that will assemble into proper filaments (3). Scientists are also working on other gene silencing approaches.
+minipod('')
   .uk-width-medium-6-10
      a(href='http://www.pachyonychia.org', target='blank')
         img(src='pc/images/PCProjectLogo.jpg', width='40', height='37')
      |     
      p.uk-text-small Funding provided by the Pachyonychia Congenita Project.
