extends /shared/layout
block append headscripts
   script(src='/Scripts/AC_RunActiveContent.js', type='text/javascript')
block content
   +pageTitle


   +pod('')
      .uk-width-1-1.uk-container-center
         script(type='text/javascript').
            AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','874','height','518','src','BuildingANeuron','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','movie','BuildingANeuron' ); //end AC code
         noscript
            p Javascript is required to view this content.

   script(src="/ruffle/ruffle.js")
