
+minipod('What is hypothyroidism?')

   .uk-width-1-1
      p
         img(src='hypothyroidism/images/genelocations.jpg', width='120', height='244', alt='Hypothyroidism Chromosome', style='float:left; padding: 5px 25px 30px 0px;')
         | &#x9;&#x9;The thyroid is the largest endocrine gland in the body.  It sits just below the larynx (voice box)
         | &#x9;&#x9;and wraps around the trachea (windpipe). The thyroid gland produces thyroid hormone, which helps
         | &#x9;&#x9;the body grow and develop.  It also plays an important role in the body&apos;s metabolism
         | &#x9;&#x9;(the processes in the body that use energy, such as eating, breathing, and regulating heat).
      | &#x9;&#x9;
      | &#x9;&#x9;
      p
         | Hypothyroidism (or underactive thyroid) is a common condition in which the thyroid gland makes
         | too little thyroid hormone.  About 1 in 5,000 babies is born with congenital hypothyroidism, in which
         | the thyroid fails to grow normally and cannot produce enough hormone.  There is no known cause
         | for most cases of congenital hypothyroidism.  But about 10 to 20 percent of the time, the condition is
         | caused by an inherited defect that alters the production of thyroid hormone.
      |  
      | &#x9;&#x9;
      | &#x9;&#x9;
      p
         | The most common inherited form of hypothyroidism is a defect of the TPO (thyroid peroxidase) gene on chromosome 2.
         | This gene plays an important role in thyroid hormone production.
+minipod('How do people get hypothyroidism?')
   |    
   .uk-width-medium-6-10
      p
         | Hypothyroidism may be caused by (1) an autoimmune disease that attacks the thyroid gland,
         | (2) surgery or radiation to treat thyroid cancer and other conditions, or (3) rare and random
         | genetic events in which a mutation is acquired during early embryonic development.
   |    
   .uk-width-medium-4-10
      img(src='hypothyroidism/images/autosomal-recessive.jpg', width='352', height='292', alt='Autosomal Recessive')

+minipod('What are the symptoms of hypothyroidism?')
  
   .uk-width-medium-6-10
      p
         | In babies with the inherited form of hypothyroidism, the condition affects growth and cognitive development.
         | It may cause intellectual disability, delayed puberty, stunted growth, and ataxia (uncoordinated muscle movements).
      | &#x9;&#x9;
      | &#x9;&#x9;
      p
         | In adults, hypothyroidism slows the body&apos;s metabolism, making the patient feel mentally and physically sluggish.
         | Symptoms may include weakness, fatigue, muscle aches, mood swings, hair loss, memory loss, or slow speech.
         | A person&apos;s symptoms will depend upon how little thyroid hormone they make, and for how long they have had the disorder.
      | &#x9;&#x9;
      | &#x9;&#x9;
      p
         | When the body has too little thyroid hormone, the pituitary gland works overtime, making extra
         | thyroid-stimulating hormone (TSH).  Having too much TSH may enlarge the thyroid, forming a goiter.
   |    
   .uk-width-medium-4-10
      img(src='hypothyroidism/images/thyroid.jpg', width='211', height='218', alt='Thyroid', style='float:right; padding: 5px 25px 0px 25px;')

+minipod('How do doctors diagnose hypothyroidism?')

   .uk-width-medium-6-10
      p
         a(href='/content/disorders/screening/') Babies are normally screened
         |  for hypothyroidism 24 hours after birth.  A tiny sample of blood taken from
         | &#x9;&#x9;the baby&apos;s heel is tested for low thyroid hormone levels or high thyroid-stimulating hormone (TSH) levels.
+minipod('How is hypothyroidism treated?')
   |    
   .uk-width-medium-6-10
      p
         | Hypothyroidism is treated with hormone replacement therapy: people with hypothyroidism must take a synthetic form of
         | thyroid hormone every day to reduce their symptoms.  When treatment is started right away, babies develop normally.
   |    
   .uk-width-medium-4-10
    
      +well
         h3 More information
         a(href='http://wwwocrineweb.com/hypo1.html') EndocrineWeb
         br
         a(href='http://iuhealth.org/riley/diabetes/congenital-hypothyroidism/') Riley Hospital for Children - Congenital Hypothyroidism
