+minipod("What is Huntington Disease?")
   .uk-width-medium-6-10
      p
         | Huntington Disease (HD) is a brain disorder that affects a person's ability to think, talk, and move. People with HD usually experience no effects until they reach age 30, and often even later.
   
+minipod('Affected gene')
   .uk-width-medium-6-10
      p
         | The affected gene in Huntington Disease is the HTT gene. The gene codes for a protein called huntingtin. In people with HD, one of their two copies of the HD gene contains extra copies of the repeated DNA sequence "CAG." People with more copies of this CAG repeat tend to begin having symptoms at a younger age.
      p
         | The exact job of huntingtin protein is not known. But it is known to be important in nerve cells that send signals in the brain. In people with HD, huntingtin protein contains a long string of the amino acid glutamine. The protein builds up in the brain, possibly sticking together to form clumps. Over time, cells in a part of the brain called the basal ganglia begin to die. 
      p
         | Huntington Disease follows an autosomal dominant inheritance pattern. A child will be affected if they inherit just one disease-causing copy of the gene from one parent. That parent will also be affected. 
      br
   .uk-width-1-1
      figure
         img(src='hunt/images/huntington-gene.jpg')
         p Huntingtin protein is active in neurons in the brain. People with Huntington disease make a version of huntingtin protein that is larger and stickier. It clumps together over time, eventually killing brain cells.
      hr
      br
         
   .uk-width-medium-6-10
      h3 Features and symptoms of Huntington Disease?
      p
         | Huntington disease affects the part of the brain that controls thinking, emotion, and movement. Most people who have the disease start to see symptoms between the ages of 30 and 50 (but symptoms can appear earlier or later in life).  The disease gets worse over time.
      p
         | Symptoms include poor memory, depression and/or mood swings, lack of coordination, twitching or other uncontrolled movements, and difficulty walking, speaking, and/or swallowing. In the late stages of the disease, a person will need help doing even simple tasks, like getting dressed.
      
      h3 Treating and managing Huntington Disease
      p
         | Treatments do not slow the progression of the disease, but they can help make the patient more comfortable.  Medications ease feelings of depression and anxiety; others control involuntary movements.  Physical or speech therapy helps HD patients lead more normal lives.
      
      h3 Interesting facts about Huntington Disease
      p 
         | The disease was named for Dr. George Huntington, who first described it in 1872.
      p 
         | In the United States, about 1 in every 30,000 people has Huntington disease.
   .uk-width-medium-4-10
      figure
         img(src='hunt/images/basal-ganglia.jpg')
         p The basal ganglia sit deep inside the brain. They connect to many other brain areas to control thinking, emotion, speech, and movement.
         
      +well
         h3 More information
         a(href='http://www.hdfoundation.org/ ') Hereditary Disease Foundation
         br
         a(href='http://www.hdsa.org/') Huntington's Disease Society of America
         br
         a(href='http://www.ninds.nih.gov/disorders/huntington/huntington.htm') National Institute of Neurological Disorders and Stroke
