extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-1-1.uk-text-center
         iframe.uk-responsive-width(src='https://player.vimeo.com/video/151197682', width='900', height='506', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')

   +references
      p
         | Carroll, S. B. (2006). 
         em The Making of the Fittest: DNA and the Ultimate Forensic Record of Evolution.
         |  W. W. Norton &amp; Company.
      |        
      p
         | Chiou, T., Kleinlogel, S., Cronin, T., Caldwell, R., Loeffler, B., Siddiqi, A., Goldizen, A. &amp; Marshall, 
         | J. (2008). 
         a(style='letter-spacing:0px;', href='http://www.cell.com/current-biology/abstract/S0960-9822%2808%2900252-2')
            | Circular
            | polarization vision in a stomatopod crustacean
         | . 
         em Current Biology, 18
         |  (6), 429-434 (subscription required).
      |         
      |        
      p
         | Gould, S. J. (1992). 
         em The Panda&apos;s Thumb: More Reflections on Natural History.
         |  W. W. Norton &amp; Company.
      |         
      |        
      p
         | Holmes, B. (2006). 
         a(style='letter-spacing:0px;', href='http://www.newscientist.com/article/mg19125681.500-meet-your-ancestor--the-fish-that-crawled.html')
            | Meet
            | your ancestor -- the fish that crawled
         | . 
         em New Scientist, 2568,
         |  35-39 (subscription required).
      |         
      |         
      p
         | Niimura, Y. (2009). 
         a(style='letter-spacing:0px;', href='http://henrystewart.metapress.com/openurl.asp?genre=article&eissn=1479-7364&volume=4&issue=2&spage=107')
            | Evolutionary
            | dynamics of olfactory receptor genes in chordates: interaction between environments and genomic contents (2009).
         |  
         em Human Genomics, 4
         |  (2), 107-118 (subscription required).
      |         
      |        
      p
         | Nishimura, T., Mikami, A., Suzuki, J. &amp; Matsuzawa, T. (2003). 
         a(style='letter-spacing:0px;', href='http://www.pnas.org/content/100/12/6930.uk-width-1-1')
            | Descent
            | of the larynx in chimpanzee infants
         | . 
         em Proceedings of the National Academy of Sciences USA, 200
         |  (12), 6930-6933 (subscription required).
      |         
      |        
      p
         | Pope John Paul II (October 22, 1996). Message to Pontifical Academy of Sciences. Retrieved February 19, 2010 
         | from 
         a(style='letter-spacing:0px;', href='http://www.cin.org/jp2evolu.html') http://www.cin.org/jp2evolu.html
         | .
      |         
      |        
      p
         | Vinogradov, A. E. (2005). 
         a(style='letter-spacing:0px;', href='http://www.springerlink.com/content/c6h4ddft86cdetae/')
            | Genome
            | size and chromatin condensation in vertebrates
         | . 
         em Chromosoma, 133
         |  (7), 362-369 (subscription required).
      |         
      p
         | WGBH Educational Foundation (2004). An interview with Francis Collins. Other Voices: the Question of God. Retrieved 
         | February 19, 2010 from 
         a(style='letter-spacing:0px;', href='http://www.pbs.org/wgbh/questionofgod/voices/index.html') http://www.pbs.org/wgbh/questionofgod/voices/index.html
         | .
      |         
      |         
      p
         | Zimmer, C. (February 19, 2007). Build me a Tapeworm [Web log message]. Discover Blogs / The Loom. Retrieved February 
         | 19, 2010 from 
         a(style='letter-spacing:0px;', href='http://blogs.discovermagazine.com/loom/2007/02/19/build-me-a-tapeworm/') http://blogs.discovermagazine.com/loom/2007/02/19/build-me-a-tapeworm/
   |     
   |     
   script(type='text/javascript').
      <!--
      swfobject.registerObject("FlashID");
      //-->
   
