extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src='images/common_cancers_revised.jpg', alt='common cancers')
            |          
            p
      |    
      .uk-width-medium-6-10
         p
            | Cancer is out-of-control cell growth, usually leading to tumors. The cancer is very
            | serious if the tumor begins to spread (metastasize) throughout the body.
         |       
         p
            | There are many different types of cancer. They are named based on where the tumor
            | is located or where it first started growing. The most common forms of
            | cancer are colon, lung, breast, and prostate.
   +pod('What Causes Cancer?')
      |    
      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src='images/cancer.png', alt='cancer cells')
            |          
            p
      |    
      .uk-width-medium-6-10
         p
            | Normally, the body makes new cells only when they are needed for growth or repair.
            | This cell growth is controlled by a group of genes that work together. When one or
            | more of these genes is damaged (mutated), cells can keep growing and dividing, leading to cancer.
         |       
         p
            | Genes can be mutated by chemicals in the environment, like tobacco smoke.
            | But more often, damage to growth-control genes occurs spontaneously in a single gene.
            | That&apos;s why a tumor is typically found (or at least begins) in
            | just one spot.
         |       
         h3 Who&apos;s At Risk?
         |       
         p
            | Most people who develop cancer have no family history of the disease, meaning their
            | cancer was probably not inherited. But sometimes the more common cancers (e.g., breast,
            | prostate, and colon) can run in families. If a close relative (grandparent,
            | parent, or sibling) has been diagnosed with a common form of cancer, you too may
            | be at risk. Your risk increases if the relative developed cancer at an early
            | age (typically before age 50-55), or if more than one close relative developed the
            | same cancer.
   +pod('Reducing The Risk')
      |    
      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src='images/wheatbundle.jpg', alt='Wheat')
            |          
            p
               | Fiber fights colon cancer, yet the average American consumes barely half of
               | the recommended 20-35 grams of fiber per day.
      |    
      .uk-width-medium-6-10
         p
            | The best ways to reduce cancer risk may differ slightly for each type of cancer.
            | But here are some general guidelines to follow:
         |       
         ul
            li Do not use tobacco products; avoid excessive alcohol consumption.
            |          
            li Perform regular self-examinations.
            |          
            li See your doctor for periodic screenings (mammograms, colonoscopies).
            |          
            li If cancer runs in your family, discuss this information with your doctor.
            |          
            li Maintain a healthy body weight.
            |          
            li Exercise regularly.
            |          
            li Eat a diet that is high in fiber (whole grains, fruits, vegetables). 
   
   
