extends /shared/layout
block append head
   style.
      p.credits {
         margin: 0 0 0 0;
      }
block content
   +pageTitle

   +pod('GSLC Staff')
      |    
      .uk-width-medium-5-10
         p GSLC staff who contributed to this project.
         p.credits Peter Anderson
         p.credits Nicola Barber
         p.credits Kagan Breitenbach
         p.credits Dmitri Carapezza
         p.credits Sheila Homburger
         p.credits Molly Malone
         p.credits Brendan Nicholson
         p.credits Ryan Perkins
         p.credits Kevin Pompei
         p.credits Louisa Stark
         p.credits Mathew Weaver
      |    
      .uk-width-medium-5-10
         figure
            img(src='images/collaborate.jpg', alt='Pete and Kagan')
   +pod('Acknowledgements')
      |    
      |    
      .uk-width-medium-5-10
         p Sydney A. Stringham, PhD, for taking many photos of pigeons for our webpages
         |       
         p The Utah Pigeon club
         |        
         p
            | The following Pigeon Fanciers, for allowing us to photograph their birds:
            ul
               li Rick Norgaard
               li Layne Gardner
               li Orrie Moore
               li Wesley Price
   
   
