extends /shared/layout

block append headscripts
   style.
      embed {
         border: 1px solid #b2b2b2;
      }

block content
   +pageTitle
   +pod('')
      .uk-width-1-1
         script(src='/Scripts/AC_RunActiveContent.js', type='text/javascript')

         +pod('')
            .uk-width-1-1.uk-text-center
               script(type='text/javascript').
                  AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','920','height','600','src','stickleback','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','movie','stickleback' ); //end AC code
               noscript
                  p Javascript is required to view this content.
