extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-5-10
         p
            | The Cotton and contig-building materials are the product of a collaboration between the Genetic Science Learning Center at the University of Utah and Joshua Udall at Brigham Young University.
         p
            | Funding was provided by the National Science Foundation Plant Genome Research Program, Award #1339412: Structural Variation of Diploid and Polyploid Plant Genomes. These materials were developed as part of Dr. Udall's Broader Impacts.

      .uk-width-medium-5-10
         figure
            img(src="200202061021222.jpg")

   +pod('Acknowledgements')
      .uk-width-medium-6-10
         figure
            img(src="udalllab.jpg")

      .uk-width-medium-4-10
         p
            | Joshua Udall, PhD <br>
            | Associate Professor of Plant &amp; Wildlife Sciences <br>
            | Brigham Young University
         p
            | Lindsay Chaney, PhD <br>
            | Postdoctoral Fellow <br>
            | Brigham Young University
         p
            | The Genetic Science Learning Center is grateful for contributions and feedback from the following teachers, who participated in a 5-week Research Experience for Teachers program in the Udall lab:
         p
            | Josh Stowers <br>
            | Matt Woolley <br>
            | Irmarie Ramos <br>
            | Kenyon Christen
         p
            | A special thank you to the Jonathan Wendel, PhD, at Iowa State University for granting us permission to use some of his cotton images.

   +pod('GSLC Staff')
      .uk-width-medium-4-10
         p
            | The following Genetic Science Learning Center staff contributed to this project:
         p
            | Pete Anderson <br>
            | Kagan Breitenbach <br>
            | Amy Hawkins <br>
            | Sheila Homburger <br>
            | Ryan Perkins <br>
            | Kevin Pompei <br>
            | Louisa Stark <br>
            | Mat Weaver <br>
