extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-6-10
         | Epigenetic tags act as a kind of 
         strong cellular memory
         | . A cell&apos;s epigenetic profile -- a collection of tags that tell genes whether to be on or off -- is the sum of the signals it has received during its lifetime.
         img(src='images/EpigenomeLearns01.gif', width='881', height='207')
      |    
      .uk-width-medium-4-10
   +pod('The Changing Epigenome Informs Gene Expression')
      |    
      .uk-width-medium-4-10
         p
            | As a fertilized egg develops into a baby, dozens of signals received over days, weeks, and months cause incremental changes in gene expression patterns. Epigenetic tags record the cell&apos;s experiences on the DNA, helping to stabilize gene expression. Each signal shuts down some genes and activates others as it nudges a cell toward its final fate. Different experiences cause the epigenetic profiles of each cell type to grow increasingly different over time. In the end, hundreds of cell types form, each with a distinct identity and a specialized function.
         p
            | Even in differentiated cells, signals fine-tune cell functions through changes in gene expression. A flexible epigenome allows us to adjust to changes in the world around us, and to learn from our experiences.
      |   
      |     
      .uk-width-medium-6-10
         img(src='images/EpigenomeLearns02.gif', width='626', height='204')
         p.uk-text-small
            | Early in development, genes are &quot;poised&quot; like runners in the starting blocks, ready to jump to action.
         p.uk-text-small
            | In a differentiated cell, only 10 to 20% of the genes are active. Different sets of active genes make a skin cell different from a brain cell.
         p.uk-text-small
            | Environmental signals such as diet and stress can trigger changes in gene expression. Epigenetic flexibility is also important for forming new memories.
   +pod('Cells Listen for Signals')
      |    
      .uk-width-medium-4-10
         img(src='images/EpigenomeLearns03.gif', width='122', height='91', style='float: right;')
         |  
         |       The epigenome changes in response to signals. Signals come from inside the cell, from neighboring cells, or from the outside world (environment). 
         br
         br
         |        
         strong Early in development
         | , most signals come from within cells or from neighboring cells. Mom&apos;s nutrition is also important at this stage. The food she brings into her body forms the building blocks for shaping the growing fetus and its developing epigenome. Other types of signals, such as stress hormones, can also travel from mom to fetus.
      |    
      .uk-width-medium-6-10
         p
            strong After birth and as life continues
            | , a wider variety of environmental factors start to play a role in shaping the epigenome. Social interactions, physical activity, diet and other inputs
            | generate signals that travel from cell to cell throughout the body. As in early development, signals from within the body continue to be important for many processes, including physical growth and learning. Hormonal signals trigger big changes at puberty.
         p
            strong Even into old age
            | , cells continue to listen for signals. Environmental signals trigger changes in the epigenome, allowing cells to respond dynamically to the outside world. Internal signals direct activities that are necessary for body maintenance, such as replenishing blood cells and skin, and repairing damaged tissues and organs. During these processes, just like during embryonic development, the cell&apos;s experiences are transferred to the epigenome, where they shut down and activate specific sets of genes.
   +pod('There Are Many Types of Signals')
      .uk-width-medium-6-10
         img(src='images/EpigenomeLearns04.gif', width='552', height='552')

         p.uk-text-small
            | To learn more, visit 
            a(href='/content/cells/cellcom/') An Example of Cell Communication: The Fight or Flight Response
      |    
      .uk-width-medium-4-10
   +pod('Proteins Carry Signals to the DNA')
      |    
      .uk-width-medium-1-2
         p
            | Once a signal reaches a cell, proteins carry information inside. Like runners in a relay race, proteins pass information to one another. The specifics of the proteins involved and how they work differ, depending on the signal and the cell type. But the basic idea is universal. 
            br
            br
            | The information is ultimately passed to a gene regulatory protein that attaches to a specific sequence of letters on the DNA.
      |    
      .uk-width-medium-1-2
         img(src='images/EpigenomeLearns05.gif', width='277', height='296')
         |  
         |        
         p.uk-text-small
            | To learn more about how signals pass from protein to protein, visit 
            a(href='/content/cells/insidestory/') The Inside Story of Cell Communication
   +pod('Gene Regulatory Proteins Have Two Functions')
      .uk-width-medium-6-10
         p 1. SWITCH SPECIFIC GENES ON OR OFF
         |    
         p
            | A gene regulatory protein attaches to a specific sequence of DNA on one or more genes. Once there, it acts like a switch, activating genes or shutting them down.
      .uk-width-medium-4-10
         img(src='images/EpigenomeLearns07.gif', width='317', height='230')
      .uk-width-medium-6-10
         p 2. RECRUIT ENZYMES THAT ADD AND REMOVE EPIGENETIC TAGS
         |    
         p
            | Gene regulatory proteins also recruit enzymes that add or remove epigenetic tags. Enzymes add epigenetic tags to the DNA, the histones, or both.
         p
            | Epigenetic tags give the cell a way to &quot;remember&quot; long-term what its genes should be doing.
      |    
      .uk-width-medium-4-10
         img(src='images/EpigenomeLearns08.gif', width='317', height='247')

   +pod('Experiences Are Passed to Daughter Cells')  
      .uk-width-medium-4-10
         p
            | As cells grow and divide, cellular machinery faithfully copies epigenetic tags along with the DNA. This is especially important during embryonic development, as past experiences inform future choices. A cell must first &quot;know&quot; that it is an eye cell before it can decide whether to become part of the lens or the cornea. The epigenome allows cells to remember their past experiences long after the signals fade away.
      |    
      .uk-width-medium-6-10
         img(src='images/EpigenomeLearns09.gif', width='472', height='228')
         |  
         |     
         p.uk-text-small
            | Using the original DNA strands as a template, methyl copying enzymes attach methyl tags to newly replicated DNA copies. One original DNA strand and one copy will be passed to each daughter cell.
   
   
