extends /shared/layout
block content
   +pageTitle
   .lg-section
      .uk-container.uk-container-center
         .uk-grid
            .uk-width-medium-5-10
               
               .lg-index-items
                  .lg-index-box-text
                     p
                  +index-item('What are the Chances?','video','chances','images/chances.jpg')
                     p Get acquainted with probability.
                  +index-item('The Power of Numbers','video','numbers','images/numbers.jpg')
                     p Statistics can give insight and understanding to scientific data. But they can also mislead.
                  +index-item('Growth and Decay','video','growth','images/growth.jpg')
                     p Learn about modeling with mathematics.

   
