extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-4-10
         p.
            Taste can tell us in an instant whether something is edible or poisonous.
         p.
            Smell—and by extension flavor—is a highly nuanced sense that allows us to precisely identify tens of thousands of different substances. 
         p.
            The Taste &amp; Smell app describes the basics of how these senses work. Yet taste, smell, and flavor are highly individual. We get near daily reminders of the differences in detection and preference, with questions like "Do you smell that?" "Do you like broccoli?" "What's your favorite ice cream flavor?"
         p.
            Read on to learn more about what makes taste and smell so highly individual (hint: some of it is genetic and some of it is learned), along with a few other lesser-known facts.
      .uk-width-medium-6-10
         figure
            img(src='smellandtaste.jpg', alt='people smelling a pie, child eating broccoli, and two flavors of ice cream')
            p Both taste and smell use chemical sensors to detect molecules in our food and in our environment. The two senses working together tell us about flavor.
               
   +pod('Bitter taste perception')
      .uk-width-medium-4-10
         figure
            img(src="ptc.jpg", alt='tube of ptc paper')
      .uk-width-medium-6-10
         p.
            To some people, the chemicals PTC and PROP* taste intensely bitter. To others, they are mildly bitter. And for about 25% of people, PTC and PROP taste like nothing at all.
         p.
            These differences in bitter taste perception are mostly due to variations in a single gene: TAS2R38. This gene codes for a protein receptor that sits on the surface of bitter-sensing taste bud cells. People who can taste PTC and PROP have a form of the TAS2R38 receptor that can bind to these chemicals. Non-tasters have a form of the receptor that does not bind to PTC or PROP.
         p.
            TAS2R38 is just one of many bitter receptors. Bitter-sensing taste bud cells are covered with many types of protein receptors, each of which binds to a different set of chemicals. 25 or so have been identified so far. Variations in the genes that code for these receptors help to explain why you love dark chocolate and broccoli, but your friend finds them too bitter to eat.
         p.
            <i>PTC stands for phenylthiocarbamide. PROP stands for 6-n-propylthiouracil.</i>
         +well
            p
               | To learn more, visit 
               a(href='/content/basics/ptc') PTC: The Genetics of Bitter Taste

   +pod('Superstasters')
      .uk-width-medium-5-10
         p.
            As the name suggests, supertasters taste things more intensely than the rest of us do. Supertasters were first identified by their extreme reaction to the bitter-tasting chemicals PROP and PTC. To them, these chemicals taste intensely bitter even at very low concentrations—something that stood out to researchers. 
         p.
            Variation in the TAS2R38 gene is part of the story, but it does not explain all of the things that make supertasters special. This group is also more sensitive to salt, and possibly to other tastes. They also seem to have a heightened sensitivity to other types of sensory stimuli—like smell, sound, and texture. 
         p.
            Not surprisingly, this heightened sensitivity shapes supertasters' food preferences. They are more likely to find vegetables and citrus fruit unpleasantly bitter, and they may reject certain foods based on their texture. But it's not all bad—supertasters are also more likely to be foodies and chefs, suggesting that they also get more pleasure from eating things that taste good.
         p.
            Researchers are still hunting for genes that influence taste and other sensory sensitivity in supertasters. It is likely that supertasting is influenced by combinations of variations in multiple genes.
            
         +well
            p
               | The term supertaster is very specific: it refers to people who are highly sensitive to PTC and PROP. Contrary to popular belief, supertasters do NOT have a higher concentration of sensory papillae on their tongues (learn more 
               a(href='https://www.sciencedaily.com/releases/2014/05/140527161834.htm') here 
               | about how that was debunked), and they are not necessarily highly sensitive to other tastes.
            p
               | Some use the term hypergeusia to describe people who are highly sensitive to all tastes and sensations from food. This is not the same as being a supertaster.
      .uk-width-medium-5-10
         figure
            img(src='supertaster.jpg', alt='chef about to taste food')
            p Supertasters are also more likely to be foodies and chefs, suggesting that they also get more pleasure from eating things that taste good.
   
   +pod('Taste aversion: Building preferences through experience')
      .uk-width-medium-6-10
         figure
            img(src='aversion.jpg', alt='baby eating candy and man disgusted by veggie pizza')
            p Caption: Some taste preferences are built in: babies like sweets and reject bitter foods. Others are shaped by experience.
      .uk-width-medium-4-10
         p.
            Have you ever had the experience of eating a food, becoming sick to your stomach, and then never wanting to eat that food again? This response—called conditioned taste aversion—is one of the most powerful forms of learning. Just one bad carnival ride could put you off deep-fried pickles for life.
         p.
            Conditioned taste aversion happens automatically, and it is so strong that we are helpless to change it—even when we know that the food itself is not the thing that made us sick. But there's a good reason it is so strong. This type of learning keeps us from going back to foods that make us sick. Through our evolutionary history, it has been reinforced through natural selection. Because it conveys such a strong survival advantage, taste aversion is a trait that we share with many animals.

   +pod('Learning to Like')
      .uk-width-medium-5-10
         figure
            img(src='fish.jpg', alt='fermented fish')
            p Young children tend to eat what their parents give them. This exposure shapes our food preferences.  
      .uk-width-medium-5-10
         p.
            Many of our flavor preferences are shaped by what we're used to. Some cultures are known for their hot, spicy food. Many have foods with distinct combinations of flavors. The same foods that bring comfort to one group can cause pain or disgust in another. We are born with some preferences—but we also learn through our experiences, mostly when we are children.
         p.
            There's a fine line between fermented and rotten, so it's not too surprising that cultural preferences for fermented food are perhaps the most pronounced. Fermentation by microorganisms makes sour, sharp flavors and a variety of "off" odors—some of the same signs that tell us food is spoiled. Yet most cultures eat some form of fermented food, and they often consider it a delicacy. 
         p.
            Europeans take pride in their pungent, moldy cheeses. Scandanavians and Southeast Asians have a particular fondness for their respective versions of fermented fish. South Koreans are so enamored with kimchi, a spicy fermented cabbage dish, that the country has made it their national food. People who grow up with these foods love them. People who try them for the first time as adults often find these foods disgusting, but they may learn to like them over time.

   +pod('Smell: the most emotional sense')
      .uk-width-medium-6-10
         p.
            Odors and flavors from our past can bring us back to a specific place and time, triggering a flood of emotions and memories. Part of the reason for this may be that olfactory signals are routed directly to the areas of the brain that control emotion (the amygdala) and memory (the hippocampus). In contrast, other sensory signals follow a less direct route through a brain structure called the hypothalamus.
         p.
            Because our experiences are highly individual, so are our responses to odors. The smell of moth balls might cause one person to gag, and another to remember happy times at their grandmother's house. 
      .uk-width-medium-4-10
         figure
            img(src='', alt=rose)
            
   +pod('More facts about taste')
      .uk-width-medium-6-10
         ul
            li The same chemical receptors that allow our tongues to taste are also found in other places in the body. 
            
            ul
               li Sweet sensors in the intestine detect sugar (and artificial sweeteners) from food, and they help to regulate hormones that control sugar uptake and appetite. 
               
               li Bitter receptors in the nose and throat respond to irritants that we breathe in, triggering pain and sneezing.
               
            li People vary in the number of papillae and taste buds on the tongue. Taste bud density does not correlate with PROP sensitivity, and people with the most taste buds are not necessarily supertasters—but they may be more sensitive to some tastes and to heat.
            
            li Taste sensitivity changes with age. Young children are often highly sensitive to taste, while the elderly have muted taste sensation.

   +pod('Variation in olfactory receptor genes')
      .uk-width-medium-6-10
         p.
            Olfaction is extraordinarily complex. For example, the flavor of chocolate comes from a combination of more than 600 different molecules. Together, these molecules interact with hundreds of olfactory receptor cells, activating each one (or not) to a certain degree. The brain recognizes this activation code and labels it 'chocolate.'
         p.
            Even though our sensory cells detect them individually, the brain has a very hard time picking apart the individual odorants that make up a complex smell. Instead, it blends them together into a single sensory experience. So while nearly everyone who has had chocolate can probably identify it in a blind taste test, each person's olfactory response looks a little different. These differences come in part from genetic variation.
         p.
            Humans have 400 or so genes that code for olfactory receptors. Each gene codes for a different protein, and each protein interacts with a different set of molecules. On top of that, we have two alleles, or versions, of each gene: one that we inherited from our mothers, and one from our fathers. The two alleles may be the same, or they may have slight differences that influence how they interact with odorant molecules. In each olfactory sensory cell, just one allele of one of these genes is turned 'on.' 
         p.
            Olfactory receptor genes vary a lot. Each person's combination of olfactory receptor alleles helps to determine what smells they can detect, and how sensitive they are to particular odors.
            
   +references
      p
         | Breslin, PAS (2013). An evolutionary perspective on food and human taste. Current Biology, 23:9, R409-R418. doi: 10.1016/j.cub.2013.04.010
      p
         | Garneau, NL, Nuessle, TM, Sloan, MM, Santorico, SA, Coughlin, BC &amp; Hayes, JE. Crowdsourcing taste research: genetic and phenotypic predictors of bitter taste perception as a model (2014). Frontiers in Integrative Neuroscience, 8, 33, 1-8. doi: 10.3389/fnint.2014.00033
      p
         | Hasin-Brumshtein, Y &amp; Lancet, D. (2009). Human olfaction: from genomic variation to phenotypic diversity. Trends in Genetics, 25:4, 178-184. doi: 10.1016/j.tig.2009.02.002
      p
         | Hayes, JE &amp; Keast, RSJ (2011). Two decades of supertasting: where do we stand? Physiology &amp; Behavior, 104, 1072-1074. doi: 10.1016/j.physbeh.2011.08.003
      p
         | Herbert, C, Platte, P, Wiemer, J, Macht, M &amp; Blumenthal, TD. Supertaster, super reactive: oral sensitivity for bitter taste modulates emotional approach to avoidance behavior in the affective startle paradigm. Physiology &amp; Behavior, 135, 198-207. doi: 10.1016/j.physbeh.2014.06.002

            
