+minipod('What is maple syrup urine disease (MSUD)?')   
   .uk-width-medium-6-10
      p
         | People with MSUD cannot break down three amino acids: leucine, isoleucine, and valine. These amino acids come from protein in food; they are released into the blood stream during digestion. Our cells can either recycle them by adding them to new proteins, or break them down for energy. If they are not used or broken down, they can build up to levels that are harmful to the body.
+minipod('Affected gene') 
   .uk-width-medium-6-10
      p
         | The most commonly affected gene in MSUD is BCKHDA. MSUD can also be caused by changes in other genes, most commonly BCKHDB and DBT. These genes code for separate proteins that come together as part of a very large complex called BCKD. People with the disorder have a problem with one of the proteins that make up the BCKD complex. Either the protein is missing altogether, or the protein is less able to do its job.
      p
         | The job of BCKD is to begin breaking down the amino acids leucine, isoleucine, and valine. When any of the protein pieces of BCKD are missing, the whole complex does not work.
      p
         | MSUD follows an autosomal recessive inheritance pattern. An affected child must inherit two non-working copies of the gene, one from each parent.
      br
   .uk-width-medium-4-10
      +well
         | To learn more about how proteins from food are broken down into amino acids, visit 
         a(href='http://learn.genetics.utah.edu/content/metabolism/digestion/')  Digestion
         | .  
         
   .uk-width-1-1
      figure
         img(src='msud/images/MSUD-proteins.jpg')
         p In our cells, a group of genes code for separate proteins that come together and break down the amino acids valine (Val), leucine (Leu), and isoleucine (Ile). A problem with any of these genes, and the proteins they encode, can cause maple syrup urine disease (MSUD).
      hr      
      br
   .uk-width-medium-5-10
      h3 Symptoms and features of MSUD
      p
         | MSUD can look different from person to person. The effects depend in part on the specific gene variants that they have. The "classic" form of MSUD is the most common, and also the most dangerous. 
      p
         | Babies who have classic MSUD usually look healthy at birth, but symptoms appear within days. These may include loss of appetite, vomiting, fussiness, and sweet-smelling urine (which smells like maple syrup). Without treatment, babies with the classic form of the disorder usually die within the first few months of life. Other forms, however, have milder symptoms that appear when children are a few weeks, months, or years older.
      p
         | Because early diagnosis can prevent the most serious symptoms, including brain damage, MSUD is included in most newborn genetic screening panels. Yet even with proper management, many people with MSUD still experience milder effects, such as learning challenges and loss of bone mass (osteoporosis). They are also at risk of having severe symptoms (called a metabolic crisis) when they are sick or stressed, or if they don't eat enough.   
      br 
   .uk-width-medium-5-10
      h3 Treating and managing MSUD
      p
         | MSUD is managed through diet. Babies are given a special formula with low amounts of the amino acids leucine, isoleucine, and valine. People with MSUD should avoid eating high-protein foods like meat, eggs, and nuts. Blood and urine tests can be used to check the amounts of amino acids in the body.
      p
         | If a crisis occurs and the amount of the three amino acids gets too high, people with MSUD can be treated at a hospital to help the levels go back down. Usually people are given a solution through an IV to help the body use up the amino acids by building proteins. A dialysis machine can also be used to filter excess amino acids from the blood.

   .uk-width-medium-6-10
      h3 Interesting facts about MSUD
      p
         | MSUD is an extremely rare disorder; only 1 in 180,000 babies is born with MSUD. But in certain populations, the disease is much more common.  Among the Mennonites in Pennsylvania, as many as 1 out of every 176 babies is born with the disorder.
   .uk-width-medium-4-10

      +well
         h3 More information
         a(href='http://www.msud-support.org/') MSUD Family Support Group
