extends /shared/layout

block content
   +pageTitle

   +pod('')
      .uk-width-medium-6-10
         figure
            img(src="images/bacteria.jpg" alt="Bacteria")
            p Antibiotics kill bacteria, not archaea, fungi, or protists.
      
      .uk-width-medium-4-10
         p.
            The discovery of the antibiotic penicillin in the 1920s made a big impact on human history. Not only did it lead to a cure for bacterial infections that were once deadly, but it also led a big interest in finding new antibiotics. Today many different types of antibiotics are available, and they fight infection in several ways.
            
   +pod('Antibiotics Seek Out Bacterial Cells')
      .uk-width-medium-6-10
         p.
            Have you ever wondered how antibiotics kill invading bacteria, while leaving human cells alone? Although there are similarities between bacteria and human cells, there are many differences as well. Antibiotics work by affecting things that bacterial cells have but human cells don’t.
         p.
            For example, human cells do not have cell walls, while many types of bacteria do. The antibiotic penicillin works by keeping a bacterium from building a cell wall. Bacteria and human cells also differ in the structure of their cell membranes and the machinery they use to build proteins or copy DNA. Some antibiotics dissolve the membrane of just bacterial cells. Others affect protein-building or DNA-copying machinery that is specific to bacteria.
      
      .uk-width-medium-4-10
         figure
            img(src="images/bacCells.jpg" alt="Antibiotics near cell")
            
   +pod('How Antibiotics Work')
      .uk-width-medium-7-10
         p.
            Different families of antibiotics have different ways of killing bacteria. Below are descriptions of a few types of antibiotics and their mechanisms of action. 
         br
            
      .uk-width-medium-4-10
         h2 Beta-Lactam
         p.
            Beta-lactam antibiotics kill bacteria that are surrounded by a cell wall. Bacteria build cell walls by linking molecules together—beta-lactams block this process. Without support from a cell wall, pressure inside the cell becomes too much and the membrane bursts. Examples of beta-lactams include penicillin and cephalosporin, which are used to treat many types of bacterial infections.
      
      .uk-width-medium-6-10
         figure
            img(src="images/betalactam.jpg" alt="Beta-Lactam")
            
      .uk-width-medium-4-10
            
         h2 Macrolides
         p.
            Antibiotics in the macrolide group affect ribosomes, the cell’s protein-building machines. Ribosomes build proteins in both bacteria and human cells, but there are differences between bacterial and human ribosomes. Macrolides block only bacterial ribosomes and prevent them from building proteins. Since proteins do all the cell’s work, a bacterium that cannot build proteins cannot survive. Erythromycin, which is commonly used to treat respiratory tract and skin infections, is a macrolide.
            
      .uk-width-medium-6-10
         figure
            img(src="images/macrolides.jpg" alt="Macrolides")
            
      .uk-width-medium-4-10
         h2 Quinolones
         p.
            Quinolones include antibiotics like ciprofloxacin and levofloxacin, which are used to treat infections like bronchitis and pneumonia. When bacteria begin to copy their DNA, quinolones cause the strands to break and then prevent the breaks from being repaired. Without intact DNA, bacteria cannot live or reproduce
      
      .uk-width-medium-6-10
         figure
            img(src="images/quinolones.jpg" alt="Quinolones") 
            
   +pod('Antibiotics Harm Friendly Bacteria')
      .uk-width-medium-6-10
         p.
            When you take an antibiotic, it enters your bloodstream and travels through your body, killing bacteria but not human cells. There are few differences, however, between harmful and friendly bacteria. Antibiotics kill not only the bad bacteria making you sick, but also your resident friendly bacteria.
         p.
            Friendly bacteria help keep you healthy in many ways, so when antibiotics kill friendly bacteria, your health can suffer because you lose these benefits. Additionally, losing friendly bacteria can give other types of bacteria room to multiply, leading to opportunistic infection. Sometimes opportunistic infection happens when bacteria from the environment get into your body and overrun friendly bacteria damaged by an antibiotic. Other times opportunistic infection begins when antibiotics disturb the balance of your resident microbes, and normally friendly bacteria multiply too quickly and become harmful.
         p.
            One common cause of opportunistic infection is clostridium difficile (klos-TRID-e-uhm dif-uh-SEEL). Like many opportunistic bacteria, C. difficile live in the environment and do not normally harm healthy people. However, certain groups of people, like older adults who have been on antibiotics for a long time, are vulnerable. When antibiotics kill too many friendly bacteria in the intestine, C. difficile multiplies and produces toxins that make the person sick with symptoms like fever, nausea, diarrhea, and inflammation.
      
      .uk-width-medium-4-10
         figure
            img(src="images/notInflamed.jpg" alt="not inflamed")
         figure
            img(src="images/Inflamed.jpg" alt="inflamed")
            
   +pod('Keeping Healthy Bacteria Healthy')
      .uk-width-medium-6-10
         p.
            When you take antibiotics often or for long periods of time, your risk for long-term health effects increases. Simply upsetting the balance of resident microbes can have a complex impact on your health that goes beyond increasing your vulnerability to opportunistic infections.
         p.
            The good news is healthy people who take infrequent, short courses of antibiotics usually recover quickly. One important way to protect your resident bacteria is to take antibiotics only when absolutely necessary. Remember, antibiotics can only kill bacteria, so they’re not effective against viruses like the flu or common cold. Taking antibiotics when you have a virus may even hurt you, because it hurts your resident microbes. When you do need to take an antibiotic, you can help minimize damage to friendly bacteria by taking one that targets bad bacteria as specifically as possible. This increases the chance that enough friendly microbes will survive to repopulate their environment and continue to help you stay healthy.
      
      .uk-width-medium-4-10
         figure
            img(src="images/healthy.jpg" alt="healthy bacteria")
