extends /shared/layout
block content
   +pageTitle
   +pod('The Cells That Changed the Earth')
      .uk-width-medium-6-10
         p
            | Some of the oldest cells on Earth are single-cell organisms called bacteria.
            | Fossil records indicate that mounds of bacteria once covered young Earth. Some
            | began making their own food using carbon dioxide in the atmosphere and energy
            | they harvested from the sun. This process (called photosynthesis) produced enough
            | oxygen to change Earth&apos;s atmosphere. Soon afterward, new oxygen-breathing life
            | forms came onto the scene. With a population of increasingly diverse bacterial
            | life, the stage was set for some amazing things to happen.

      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src='images/bacteria.jpg', alt='Bacteria')
            p
               | Bacteria are single-celled organisms with a circular DNA molecule and no organelles.
   +pod('The Endosymbiotic Theory')
      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='images/endosymbiosis.jpg', alt='Endosymbiosis', width='391', height='689')
      .uk-width-medium-4-10
         p
            | There is compelling evidence that mitochondria and chloroplasts were once primitive bacterial cells.
            | This evidence is described in the endosymbiotic theory. How did this theory get its name? Symbiosis
            | occurs when two different species benefit from living and working together. When one organism actually
            | lives inside the other it&apos;s called endosymbiosis. The endosymbiotic theory describes how a large host
            | cell and ingested bacteria could easily become dependent on one another for survival, resulting in a
            | permanent relationship.  Over millions of years of evolution, mitochondria and chloroplasts have become
            | more specialized and today they cannot live outside the cell.

         h3 It&apos;s Just a Theory
         p
            | In everyday speech, people use the word theory to mean an opinion or speculation not necessarily based on
            | facts. But in the field of science, a theory is a well established explanation based on extensive experimentation
            | and observation. Scientific theories are developed and verified by the scientific community and are generally
            | accepted as fact.
         h3 Mitochondria Have DNA
         p
            | Mitochondria and chloroplasts have striking similarities to bacteria cells. They have their own DNA, which is
            | separate from the DNA found in the nucleus of the cell. And both organelles use their DNA to produce many
            | proteins and enzymes required for their function. A double membrane surrounds both mitochondria and chloroplasts,
            | further evidence that each was ingested by a primitive host. The two organelles also reproduce like bacteria,
            | replicating their own DNA and directing their own division.
   +pod('Drawing the History of Evolution')
      .uk-width-medium-4-10
         p
            | Mitochondrial DNA (mtDNA) has a unique pattern of inheritance. It is passed down directly from mother to child,
            | and it accumulates changes much more slowly than other types of DNA. Because of its unique characteristics, mtDNA
            | has provided important clues about evolutionary history. For example, differences in mtDNA are examined to estimate
            | how closely related one species is to another.
      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='images/migration-patterns.jpg', alt='Migration Patterns')
            p
               | Analysis of mitochondrial DNA from people around the world has revealed many clues about ancient human
               | migration patterns.
   +pod('Archaea: Models for Astrobiology')
      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='images/archaea.jpg', alt='Archaea', width='524', height='594')
            p
               | Archaea survive today in extremely harsh environments, such as evaporative salt ponds on the edge of
               | Great Salt Lake (above) and the boiling hot springs of Yellowstone National Park (right).
      .uk-width-medium-4-10
         p
            | Conditions on Earth 4 billion years ago were very different than they are today. The atmosphere lacked oxygen, and
            | an ozone layer did not yet protect Earth from harmful radiation. Heavy rains, lightning and volcanic activity were
            | common. Yet the earliest cells originated in this extreme environment. Today, a group of single-celled organisms called
            | archaeabacteria, or archaea, still thrive in extreme habitats.
         p
            | Astrobiologists are now using archaea to study the origins of life on Earth and other planets. Because archaea inhabit
            | places previously considered incompatible with life, they may provide clues that will improve our ability to detect
            | extraterrestrial life. Interestingly, current research suggests archaea may be capable of space travel by meteorite.
            | Such an event could have seeded life on Earth or elsewhere.
