extends /shared/layout
block content
   +pageTitle
   +pod('General Reccomendations')
      .uk-width-medium-6-10
         ul
            li We recommend using any of the 4 major web browsers (Chrome, Safari, Firefox, Edge) for all of our online activities.
            li Be sure to update your web browser to the latest version.
            li If one browser is not working, try another.
            li We do not recommend Internet Explorer.
            
   +pod('Vidieos are taking too long to load')
      .uk-width-medium-6-10
         p All of our videos require an internet connection to play. If your connection is slow, videos may take longer to load. Try the following:
         ul
           li Rather than having students view videos on individual devices, project them to the class.
           li Close/quit any unused applications to free up computer memory.
           li Close any browser windows that you are not currently using.
           li For videos that are hosted on Vimeo, you can change the playback resolution. Select the "HD" icon in the lower-right corner of the video, and select 360p. 
   
   +pod('Videos are blocked')
      .uk-width-medium-6-10
         p Most of our videos are hosted on Vimeo. Unfortunately, some schools universally block access to content hosted on Vimeo. Through your school's IT department, you may be able to request that access be granted to specific videos.
      
   +pod('Interactive content is slow / connections are timing out')
      .uk-width-medium-6-10
         p Students may have this problem if the internet connection is sluggish—particularly with the online phylogenetic tree (common ancestry) and the stickleback fishing activity (natural selection).
         ul
           li Have students work in pairs or teams.
           li Rather than having students view activities on individual devices, project them to the class. (This will not work for the stickleback fishing activity.)
           
   +pod('Printing issues')
      .uk-width-medium-6-10
         p Printing PDF documents directly from a web browser sometimes causes problems with fonts, layout, and graphics.
         ul
           li Download or save the PDF file onto your computer. Then print it from Acrobat Reader or other PDF viewer.
