extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-4-10
         p
            | In the coming years, the population in the Intermountain West will likely continue to increase. Projected growth, in combination with a climate that is becoming  increasingly variable, raises concerns about whether we will have enough water to meet everyone&apos;s needs.
         p
            | Forecasting models help predict future supply and demand, as well as our vulnerability to disasters like floods and droughts. These models help communities prepare for the future. When communities better understand risks, they can make more informed water management decisions.
         p
            | Forecasting water supply and demand is notoriously difficult. Water sources and needs change over time. They are influenced by multiple interrelated factors&mdash;like climate variability, population changes, water use policy, distribution technology, economic growth, environmental impact, agriculture demand, and water cost.
         p
            | As technology and methods advance, forecasts are getting better. But because of the they involve so many dynamic variables, they will always have an element of  uncertainty. Water managers can factor in this uncertainty by planning for a range of possible conditions.
         |        
         +well
            | To read more about how predictive models are used to create weather forecasts see 
            a(href='../predictions/') What You Can Do With Models: Make Predictions
      |     
      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='images/water_supply_map.jpg', alt='Water Supply Map')   
            p By 2050, our demand for water may outpace supply. This map is a projection based on &ldquo;business-as-usual&rdquo; trends in growth, population, and energy demands. It shows the average results from 16 climate models. The darker colors show areas at the highest risk for water shortages if current use patterns continue. In parentheses is the number of counties in each category. 
               em Image: &ldquo;Evaluating Sustainability of Projected Water Demands in 2050 Under Climate Change Scenarios,&rdquo; Natural Resources Defense Council, 2010
                  
   +pod('Using History to Prepare for the Future')
      |    
      .uk-width-medium-4-10
         p
            | The Great Flood of 1862 was a massive storm event that impacted California, Nevada, Oregon, Idaho, Utah, and Arizona. 45 straight days of rain led to widespread flooding that ultimately bankrupted the state of California. So many cattle drowned that the state economy shifted from ranching to farming, a trend that persists to this day. The probability of a storm event of this magnitude occurring is about 1 in every 500 to 1,000 years.
         |      
         p
            | The US Geological Survey used the 1862 flood data to create a highly detailed simulation model, called the ArkStorm, to see what would happen if a storm of the same magnitude hit the region again. They showed that, in California alone, the ArkStorm would cause roughly $725 billion dollars worth of damage. That&rsquo;s nearly 3 times the loss a severe earthquake would cause, an event with a similar probability of occurring.
         p
            | Understanding devastating events like these is not only critical for planning emergency response. It can also be helpful in water supply forecasting, since major storm events can end a prolonged drought.
      |     
      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='images/1862_flood.png', alt='1862 Flood')       
            p Illustrations of the 1862 flood destruction in Sacramento, CA (left) and Nevada (right)
            
            img(src='images/arkstorm.jpg', alt='ArkStorm Simulation') 
            p The ArkStorm simulation model showing predicted flood impact in Northern California from a storm event similar to the one experienced in 1862. 
               em Image: USGS
   +pod('When History Doesn&rsquo;t Reflect the Future')
      .uk-width-medium-4-10
         figure
            img(src='images/basin_states.jpg', alt='Basin States')    
            p The Colorado River Drainage Basin
    
            img(src='images/1922_basin_allocations.jpg', alt='1922 Basin Allocations')      
            p 1922 chart used to estimate irrigation and other water requirements for the seven basin states and Mexico for the Colorado River Compact. Notice that Nevada has the lowest allocation. At the time Nevada was only sparsely populated.

      .uk-width-medium-6-10
         p
            | The Colorado River and its tributaries provide water to about 40 million people across 7 US and 2 Mexican states. Besides quenching the thirst of millions of people, Colorado River water irrigates about 4 million acres of farmland, and it provides more than 12 billion kilowatt-hours of hydroelectricity each year.
         p
            | The Colorado River is managed under a hodge-podge of compacts, laws, decrees, and guidelines, now collectively known as the &quot;Law of the River.&quot; One of the most significant of these documents is the Colorado River Compact of 1922. This document divided the river basin into two regions&mdash;the Upper and Lower Basins&mdash;and split the river water between them. Each basin was allowed to take 7.5 million acre-feet per year.
         |  
         p
            | The compact was based on measurements collected between 1905 and 1922. During this period, the river carried an average of 16.1 acre-feet of water per year&mdash;more than enough to supply the 15 million acre-feet that the compact allotted.
         p
            | Unfortunately, the Colorado River Compact was based on poor modeling. What the compact drafters didn&rsquo;t realize was that the period from 1905 to 1922 was unusually wet. In fact, the river had a higher flow volume during this period than any other in the 20th century. Additionally, measurements of tree rings, which are indicators of past rainfall, show that our recent &quot;drought&quot; patterns are closer to the historical norm. Frequently, the river carries less than the 15 million acre-feet laid out in the compact.
         |     
         p
            | This theoretical deficit hasn&rsquo;t yet been a problem, because the Upper Basin states&mdash;Utah, Wyoming, Colorado, and New Mexico&mdash;have not been using their full allocation. California has long benefited from the leftovers. In 1997, for example, California was able to use about 5.2 acre-feet, even though its allocation was just 4.4 million acre-feet.
         |        
         |       
         p
            | But these surpluses are drying up. Greater climate variability has made the river&rsquo;s flow less predictable. Development and population growth have continued. In the face of these increasing pressures, sophisticated predictive modeling is critical for managing the Colorado River into the future.
   +pod('')
      .uk-width-1-1
         figure
            img(src='images/predicted_runoff.jpg', alt='Predicted Runoff')     
            p Predicted Change in Annual Runoff in the Colorado River Basin using the Variable Infiltration Capacity (VIC) model. 
               em
                  | Image: Colorado River Basin Water Supply and Demand Study&ndash;Water Supply Assessment , U. S. Department of the Interior Bureau of Reclamation, February 2012
   +pod('Water Planning for Increasing Climate Variability ')
      |    
      .uk-width-medium-6-10
         figure
            iframe(src='//player.vimeo.com/video/116045905', width='500', height='281', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')   
            p Learn how the Bureau of Reclamation accounts for climate uncertainty when predicting water availability.
   
            img.lg-no-shadow(src='images/lake_oroville.jpg', alt='Lake Oroville')      
            p Lake Oroville, the second-largest reservoir in California,  in 2011 (top) and in 2014 (bottom) during a major drought. 
               em Image: California Department of Water Resources

      .uk-width-medium-4-10
         p
            | For years water resources management has operated under the assumption of &ldquo;stationarity&rdquo;&mdash;the idea that certain natural phenomena (like temperature and precipitation) will change only within a limited range of possibilities. In other words, variability has limits.
         p
            | Stationarity further assumes that the probability of any event (like a drought of a certain magnitude) does not change over time. And that those probabilities can be reasonably estimated from prior observations.
         p
            | Under the assumptions of stationarity, predictive modeling becomes straight-forward. You simply predict that what will happen in the future is what happened in the past. However, changing conditions are challenging these assumptions, and the future of water is becoming increasingly uncertain.
         |         
         p
            | Contributing to uncertainty are things like land use changes, groundwater depletion, and socio-economic fluctuations. One of the biggest sources of uncertainty is climate variability. As the Intergovernmental Panel on Climate Change (IPCC) puts it, &ldquo;Climate change challenges the traditional assumption that past hydrological experience provides a good guide to future conditions.&rdquo;
         p
            | Climate variability widens the range of possible extremes. It amplifies the limitations of observational records and invalidates historical assumptions. In the face of climate variability, predictive modeling for water becomes much more difficult.
         p
            | To account for uncertainty, water managers have developed new approaches to plan for a growing range of potential future conditions. Improved predictive modeling helps managers identify areas of vulnerability, prepare communities for more possibilities, and develop plans for coping with whatever the future climate will do.
            
   +pod('Snowmelt in the West')
      .uk-width-medium-4-10
         p
            | In the Intermountain West, snow buildup in mountain watersheds serves as a massive natural reservoir. Snowmelt from the Rocky mountains of Wyoming and Colorado supplies the bulk of the Colorado River&apos;s water. In Salt Lake City&rsquo;s watershed (a separate drainage), over 80% of the surface water supply comes from snowmelt.
         p
            | Snowmelt follows a yearly cycle. In the Colorado River Basin, melting usually begins in April, peaks during May and June, and tapers off around late July or early August.
         |        
         |        
         p
            | In recent years, however, temperatures across the western US have increased. A greater proportion of winter precipitation has been falling as rain, and snow has been melting earlier in the season. Models predict that if these temperature trends continue, early runoff could bring too much water to reservoirs early in the year and leave too little for later. Higher temperatures would also limit snowfall to higher elevations, decreasing the mountains&apos; holding capacity.
         |  
         p
            | Rapid snowmelt can cause erosion and flooding. Snowmelt predictive models show how the timing and extent of snowmelt might change in different terrain and climate conditions. This information can help water managers make better decisions. It can also help in forecasting floods
      |     
      .uk-width-medium-6-10
         figure
            img(src='images/snowmelt.jpg', alt='Snowmelt')     
            p July snowmelt in Boulder, Colorado 
               em Image: Jessee Varner
  
            img(src='images/Snow_model.jpg', alt='Snow Model')   
            p Snowmelt is a vital water source in the intermountain west. Water managers use snowmelt predictive model simulations like this one to predict snowmelt runoff. 
               em
                  | Image: The Gridded Surface Subsurface Hydrologic Analysis (GSSHA) model developed by U.S. Army Corps of Engineers Engineer Research and Development Center (ERDC) and Aquaveo, LLC
   +references
      p
         | Olsen, J. Rolf, Julie Kiang and Reagan Waskom, (editors). 2010. Workshop on Nonstationarity, Hydrologic Frequency Analysis, and Water Management. Colorado Water Institute Information Series No. 109. 
         a(href='http://www.cwi.colostate.edu') http://www.cwi.colostate.edu
      p
         | U.S. Department of the Interior, Bureau of Reclamation. (2012). Colorado River Basin: Water Supply and Demand Study Technical Report C &ndash; Water Demand Assessment. 
         a(href='http://www.usbr.gov/lc/region/programs/crbstudy/finalreport/techrptC.html') http://www.usbr.gov/lc/region/programs/crbstudy/finalreport/techrptC.html
      p
         | Donkor, E. A., Mazzuchi, T. A., Soyer, R., &amp; Alan Roberson, J. (2012). Urban water demand forecasting: review of methods and models. Journal of Water Resources Planning and Management, 140(2), 146-159.
      p
         | Milly, P. C. D., Julio, B., Malin, F., Robert, M., Zbigniew, W., Dennis, P., &amp; Ronald, J. S. (2007). Stationarity is dead. Ground Water News &amp; Views, 4(1), 6-8.
      p
         | Roy, S. B., Chen, L., Girvetz, E., Maurer, E. P., Mills, W. B., &amp; Grieb, T. M. (2010). Evaluating sustainability of projected water demands under future climate change scenarios. New York: Natural Resources Defense Council.
   
   
