+minipod('What is Smith-Lemli-Opitz syndrome (SLOS)?')  
   .uk-width-medium-6-10
      p
         | SLOS affects a person's ability to make cholesterol. Cholesterol is required for healthy growth and development. Some cholesterol comes from food, but most of it is made in the body.
+minipod('Affected gene')
   .uk-width-medium-6-10
      p
         | The affected gene in SLOS is DHCR7, on chromosome 11. The gene codes for a protein called DHCR7 (7-dehydrocholesterol reductase). People with the disorder have two copies of the gene that have either reduced or no function. They may make very little or no working DHCR7 protein, or they may make a version of the DHCR7 protein with very little activity. 
      p
         | The DHCR7 protein is active in most cells in the body. Its job is to help to make cholesterol. Cholesterol is a fat-like molecule that sits in the membranes of all of the body's cells. It helps membranes stay fluid and flexible. Cholesterol is also converted into other molecules that the body needs, including vitamin D, hormones, and bile salts (which help to digest fats). 
      p
         | With no or no working DHCR7 protein, people with SLOS make very little or no cholesterol. They also have high levels of byproducts of cholesterol metabolism, which can be toxic to the body.
      p
         | SLOS follows an autosomal recessive inheritance pattern. An affected child must inherit two non-working copies of the gene, one from each parent.
      br
   .uk-width-1-1
      figure
         img(src='images/slos-gene.jpg')
      hr
      br
   .uk-width-5-10
      h3 Symptoms and features of SLOS
      p
         | SLOS can look very different between individual people. The effects depend on the specific gene variants they have, and how much cholesterol they are able to make. Because cholesterol is present in all of the body's cell, SLOS affects many body systems. Cholesterol is important for embryonic development, so many of the characteristics of SLOS form before birth.
      p
         | The most serious effects of SLOS are on the brain. The brain has a lot of cell membranes, and so it is greatly affected by having too little cholesterol. Children with SLOS often experience small head size, developmental delays, mild to severe intellectual disability, and the characteristics of autism.
      p
         | Other common features of people with SLOS include distinctive facial features, low muscle tone, low birth weight, slow growth, fused toes (syndactyly), extra fingers or toes (polydactyly), digestive problems, cleft palate (split upper lip), incompletely formed genitals (in males), and sensitivity to sunlight. Less common effects include heart, kidney, and liver problems, hearing loss, and clouding of the eye lens (cataracts).
      br
   .uk-width-5-10
      h3 Treating and managing SLOS
      p
         | Management for SLOS is based on each person's individual needs. Supplements and medication can supply some of the molecules that people with SLOS cannot make themselves. Babies and adults are usually given cholesterol, bile salts, vitamin D, and certain hormones. 
      p
         | Surgery can repair cleft palate and relieve some of the other physical effects. Clothing and sunscreen protect sensitive skin from sunlight. And physical, occupational, and speech therapies can be a great benefit to young children
      h3 Interesting facts about SLOS
      p
         | In the United States, SLOS affects 1 in 20,000 to 40,000 babies.
      p
         | SLOS was initially named RSH, for the initials of the first three patients diagnosed with the disorder. It was later changed to honor the three geneticists who first described the disorder in 1964: David Smith, Luc Lemli, and John Opitz.
      +well
         h3 More information
         a(href='http://www.smithlemliopitz.org') Smith-Lemli-Optiz Foundation
         br
         a(href='https://rarediseases.org/rare-diseases/smith-lemli-opitz-syndrome/') National Organization for Rare Diseases
