+minipod('What is Turner Syndrome?')
   .uk-width-medium-6-10
      p
         | Turner syndrome is caused by having a missing or incomplete X chromosome. It affects only females. 
      p
         | About 20 percent of the time, both X chromosomes are present, but one is incomplete. It may be ring-shaped, or it may be missing a piece because of a chromosomal rearrangement. About 30 percent of girls with the disorder are missing the X chromosome in just some of their cells. This mixed chromosome pattern is known as mosaicism. Girls with these forms of Turner syndrome may have fewer or milder characteristics.     
      +well
         | To learn more about translocations, visit the 
         a(href='/content/disorders/rearrangements/') Chromosomal Rearrangements
         |  page.    
   .uk-width-medium-4-10
      figure
         img(src='turner/images/turner_karyotype.jpg', alt='Turner Karyotype')
         p This karyotype shows all of the chromosomes from a person with Turner syndrome. The circle shows where the missing X chromosome would be.
+minipod('Features of Turner Syndrome?')
   .uk-width-medium-6-10
      p
      | Turner syndrome affects growth and sexual development. Without intervention, girls with this disorder are much shorter than average. And because their ovaries (which produce eggs, as well as the sex hormones estrogen and progesterone) do not fully develop and mature, most do not begin puberty on their own. 
      p
      | Turner syndrome usually does not affect intelligence, though it can cause learning challenges. Common physical characteristics include a stocky build, arms that turn out slightly at the elbow, a receding lower jaw, a short webbed neck, and a low hairline at the back of the neck. Medical characteristics can include swelling of hands and feet (lymphedema), heart and/or kidney problems, high blood pressure, and inability to have children (infertility), among others.
      p
      | The features of Turner syndrome are connected to specific genes on the X chromosome. For example, the SHOX gene contributes to long bone growth. Girls who have Turner syndrome make less SHOX protein, so their bones do not grow as long. Other key genes on the X chromosome regulate ovarian development, which influences sexual characteristics.
   .uk-width-medium-4-10
      figure
         img(src='turner/images/turner_person.jpg', alt='Turner Syndrome')
   .uk-width-medium-4-10
+minipod('How is Turner Syndrome Managed?')
   |    
   .uk-width-medium-6-10
      p
         | Turner syndrome is best managed when a diagnosis is made as early as possible, though many girls are not diagnosed until later childhood or early adolescence. An early diagnosis makes it easier to find and monitor medical issues that are associated with the condition.
      p
         | Most girls with Turner syndrome receive hormone replacement therapy. Growth hormone can help children and teens grow taller, so they can reach a height that is closer to average. Low doses of androgens (male hormones that females make a little of) can also increase height and encourage hair and muscle growth. The female hormone estrogen helps to promote sexual development.
   .uk-width-medium-4-10
+minipod('Interesting Facts About Turner Syndrome')
   .uk-width-medium-6-10
      p
      | Turner syndrome affects 60,000 girls and women in the United States. It is seen in 1 of every 2,000 to 2,500 baby girls, with about 800 new cases diagnosed each year.
      p
      | In 75-80% of cases, the single X chromosome comes from the mother's egg; the father's sperm that fertilizes the egg is missing its sex chromosome.
      p
      | The average height of an untreated woman with Turner syndrome is about 4 feet 8 inches.
      p
      | A fetus with only a single Y chromosome and no X chromosome cannot survive. The X chromosome is a long DNA molecule with many genes that are needed for cells to function; it is essential for life. In contrast, the Y chromosome carries few genes and is not essential for life.
   .uk-width-medium-4-10
     
      +well
         h3 More information
         a(href='http://www.turnersyndrome.org', target='blank') Turner Syndrome Society
         br
         a(href='https://nichd.nih.gov/health/topics/turner/', target='blank') National Institute of Child Health and Human Development: Turner Syndrome
         br
         a(href='https://ghr.nlm.nih.gov/condition/turner-syndrome', target='blank') Genetics Home Reference: Turner Syndrome 
