extends /shared/layout

block content
   +pageTitle
   +pod("")
      iframe.uk-responsive-width(src="//player.vimeo.com/video/118631563", width="920", height="510", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)
   +pod('Oxidation and Reduction')   
      .uk-width-medium-8-10.uk-container-center
         figure
            img.img-responsive(src='images/leoger.svg', alt='LEO says GER')
            |       
         p
            | In chemical terms, &quot;oxidation&quot; refers the loss of electrons. When we say carbon is oxidized, what we mean is that the carbon atoms in fuel lose electrons as they are converted to carbon dioxide. The electrons they lose are in hydrogen atoms, which are made up of a proton and an electron.
         |       
         p
            | This oxidation reaction is chemically paired with a reduction reaction&mdash;what chemists refer to as 
            strong redox
            |  (pronounced REED-ox) reactions. When one atom loses electrons (oxidation), another gains them (reduction). As fuel burns, electrons (in hydrogen atoms) are transferred from carbon to oxygen.
         |       
         p
            | Electrons in glucose (and other fuels) have high &quot;potential energy.&quot; In water, they have &quot;fallen&quot; and they have lower potential energy. As atoms are rearranged, the falling electrons release energy. Our cells capture this energy in ATP. An open fire releases it as light and heat.
         |       
         p
            | &ldquo;LEO says GER&rdquo; is a simple mnemonic that may help you remember where the electrons go during a redox reaction.
         |       
         +well
            b Related content
            p
               | Visit 
               a(href='../atp/') ATP
               |  to learn more about this energetic molecule.
            
   +pod('A Controlled Burn')
      .uk-width-medium-4-10
         p
            | When our cells burn glucose, they capture about 40% of its chemical energy in ATP. Most human-made machines use much less of the chemical energy from their fuel&mdash; between 10 and 30%. Cars on average harness about 25%.
         |    
         p
            | If you put a match to glucose, it will burn rapidly, releasing light and heat. When burning glucose, a flame and a cell release the same amount of energy, and they carry out the same chemical conversions: both recombine the atoms in glucose and oxygen to make carbon dioxide and water. But the cell has a level of precision that the flame lacks.
         |    
         p
            | In the cell, chemical reactions are carried out by enzymes, which gradually rearrange atoms and strip away hydrogens (and their electrons) two at a time. Each tightly regulated step releases a small amount of energy, which is channeled into ATP. ATP temporarily holds onto the energy, delivering it to the specific components within the cell that need it exactly when they need it.
      .uk-width-medium-6-10
         figure
            img.img-responsive(src='images/CarbonOxidation02.jpg', alt='Carbon Oxidation')
            |    
            p.uk-text-small
               | Burning glucose in a flame and in a cell both produce the same waste products and release the same amount of energy, but the cell captures more of this energy to do work.
               
   +pod('Chemical Reactions Release Heat')
      .uk-width-medium-4-10
         p
            | If 40% of the energy from glucose is captured in ATP, what happens to the other 60%? It is released as heat. Heat is also released when ATP is used to do work. In fact, almost all of the energy from our food ends up being released as heat.
         |    
         p
            | Mammals, including humans, have systems for regulating body temperature. One way we keep from overheating is by sweating during exercise. Exercise produces heat because the rate of chemical reactions inside our cells increases. When it&apos;s working, a single muscle cell generates and uses about 10,000,000 molecules of ATP every second!
         |    
         p
            | We also have systems for keeping the body from becoming too cool. The enzymes that carry out the chemical reactions of metabolism work much more efficiently when they are warm. Have you ever seen how sluggish reptiles and insects are when they are cold? They can&rsquo;t heat themselves, and when their body temperature is low their metabolism and reaction times slow down. In mammals, brown adipose (fat) tissue helps maintain a higher body temperature by directly coupling fat breakdown to heat production.
      .uk-width-medium-6-10
         figure
            img.img-responsive(src='images/exerciseguy.jpg', alt='Guy excercising')
            |    
            p.uk-text-small
               | Nearly every chemical reaction our cells carry out releases some heat, as does the friction caused by movement, including the flow of blood through our vessels.
