extends /shared/layout
block content
   +pageTitle
   | @section headearly{
   meta(http-equiv='X-UA-Compatible', content='IE=EmulateIE10')
   | }
   | @section headlate{
   |     
   script(type='text/javascript', charset='utf-8', src='gene_hunt_edgePreload.js')
   |     
   style.
      .edgeLoad-EDGE-1372343075 { visibility:hidden; }
   | }
   #Stage.EDGE-1372343075
   
   
