extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-1-1.uk-text-center
         iframe.uk-responsive-width(src='https://player.vimeo.com/video/179820030', width='920', height='520', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
   +references
      p.
         Berman, H.M., Westbrook, J., Feng, Z., Gilliland, G., Bhat, T.N., Weissig, H., Shindyalov, I.N. & Bourne, P.E. (2000). The Protein Data Bank. Nucleic Acids Research, 28, 235-242. doi: 10.1093/nar/28.1.235. Molecule of the Month website accessed 30 August, 2016, at http://pdb101.rcsb.org/browse
      p.
         Goodsell, D.S. (2009). The Machinery of Life (2nd ed.). New York, NY: Springer Science+Business Media.
