extends /shared/layout
block content
   +pageTitle
   +pod('Preimplantation genetic testing happens during IVF')
      .uk-width-medium-6-10
         p
            | Since its first success in 1978, in vitro fertilization (IVF) has been helping couples have babies. It is a fairly simple process. Eggs and sperm are collected and then joined outside of the body. After growing in the lab for a few days, an embryo is placed into the mother's uterus, where it can develop into a baby.
         p
            | Most couples who use IVF do so because they have had trouble conceiving, and other approaches haven't helped. But IVF also makes it possible to test very early embryos for genetic problems. During the process of IVF, embryos develop in the lab for several days. Testing involves removing one or a few cells from the embryo, and analyzing the DNA. After testing, the healthiest embryos can be selected, greatly improving the couple's chances of having a healthy baby. 
         p
            | Preimplantation genetic testing was successfully carried out for the first time in 1990. The mothers carried an X-linked genetic disorder (adrenoleukodystrophy), so each of their sons had a 50% chance of having the disorder. Their embryos were screened for the presence of a Y chromosome, and only female embryos were implanted. The technology has been continually improved and refined since then. Today, testing can detect a wide range of genetic conditions.
      .uk-width-4-10
         figure
            img(src='images/IVF.jpg', alt='PGT')
            p Preimplantation genetic testing is done on embryos during the process of in vitro fertilization, before the embryos are transferred to the mother's uterus.
   +pod('How is preimplantation genetic testing different from other tests?')
      .uk-width-medium-4-10
         p
            | The term “preimplantation” means that the embryos are tested before they are allowed to implant into the uterus. Other types of genetic tests can be done weeks or months later, after implantation. 
         ul
            li Prenatal genetic testing is done during pregnancy. Prenatal tests include amniocentesis, chorionic villus sampling, and various types of maternal blood tests. 
            li Newborn genetic screening is done soon after birth. In the United States and many other countries, all babies are tested.
            li Diagnostic and Carrier testing is done in children or adults. Diagnostic testing is used to find out if someone has a genetic disorder. Carrier testing is used to find out if someone who does not have a genetic disorder themselves may be at risk of passing one to their children.
      .uk-width-medium-6-10
         figure
            img(src='images/timeline.jpg', alt='IVG timeline')
            p Timing of development. When preimplantation testing happens vs. other types of testing.
      .uk-width-medium-6-10
         p
            | The advantage of testing embryos before they are implanted is that only the ones that are free of harmful genetic conditions are allowed to develop.
         p
            | Since preimplantation genetic testing cannot be done on embryos that are conceived naturally, this type of genetic testing requires IVF. However, not all IVF embryos are tested before being implanted.
      .uk-width-medium-4-10
         +well
            p Genetic testing is usually done under the guidance of a genetic counselor. To learn more, visit 
               a(href='/content/disorders/counselors') Genetic Counselors
               | .   
   +pod('Who uses preimplantation genetic testing?')
      .uk-width-medium-5-10
         figure
            img(src='images/counselor.jpg', alt='mother and counselor')
         +well
            h3 Related Content
            a(href='/content/disorders/types/') What types of conditions can be tested for?
            br
            a(href='/content/disorders/singlegene') Single-gene disorders
            br
            a(href='/content/disorders/rearrangements') Chromosomal rearrangements
            br
            a(href='/content/disorders/extraormissing') Extra or missing chromosomes
      .uk-width-medium-5-10
         p
            | Most people who use preimplantation genetic testing are at an increased risk of having a child with a genetic disorder. Increased risk can come about for multiple reasons.
         p
            | Women over age 35 have higher chance of having a child with too many or too few chromosomes (aneuploidy). When women in certain high-risk groups are doing IVF for fertility, preimplantation genetic testing is often done during the process. Genetic testing—specifically preimplantation genetic screening—can help to ensure that only embryos with a complete set of chromosomes are implanted.
         p
            | Some people are carriers of genetic disorders, even though they are healthy themselves. Carriers are at risk of having a child with a life-threatening disease. Often, carriers would be able to conceive naturally, but they choose IVF because it allows for genetic testing of the embryos—specifically, preimplantation genetic diagnosis. 
         p
            | Some parents choose preimplantation genetic testing because they themselves have a genetic disorder. Certain disorders can make it difficult for parents to conceive or carry a pregnancy to full term. Others lead to life-threatening conditions later in life. Like carriers, many of these parents choose IVF because it allows for genetic testing.

   +pod('Testing can be done on a single cell')
      .uk-width-medium-4-10
         p
            | Preimplantation genetic testing relies on the fact that all of an embryo’s cells contain the same genetic information. This is true not only of embryos, but all the way through development—including adulthood. In other words, the genetic information in a cell from your little finger is the same as it is in a cell from your brain.
         p
            | Preimplantation genetic testing is done when a fertilized egg has divided enough times to make an embryo with at least 8 cells. First a hole is made in the thick membrane (zona pellucida) that surrounds the embryo at this stage. Then a very fine tube is used to remove a single cell. Sometimes testing is done when the embryo has more than 8 cells (commonly 50-200), in which case two or more cells are removed.
         p
            | Genetic testing is done on the embryonic cell or cells that are removed. The rest of the cells are allowed to continue developing. Taking one or a few cells at such an early stage of development does not harm the embryo, and most embryos will continue to develop normally.
      .uk-width-medium-6-10
         figure
            img(src='images/single-cell.jpg')
            p A person’s individual genome takes shape at conception, when egg and sperm join. During fertilization, 23 chromosomes from the mother’s egg and 23 chromosomes from the father’s sperm combine. With a full set of 46 chromosomes (or 23 pairs), development can begin. 
      
   +pod('What Preimplantation Genetic Testing is NOT')
      .uk-width-medium-6-10
         p
            | Preimplantation genetic testing is not a way to make "designer babies." It does not involve manipulating or altering an embryo's genome. It is a tool that simply detects genetic variations that the embryo has. 
         p
            | It is also not a way to genetically select for a child with higher intelligence, athletic ability, height, or other similar traits that are affected multiple genes. The number and types of genetic variations that this tool can detect are limited. Another limitation is that our understanding of the genes and variations that underlie these traits is incomplete. Not only are traits like intelligence and athletic ability genetically complex, they are also influenced by the environment.
         p
            | Finally, preimplantation genetic testing is not a guarantee. The tests are highly sensitive and very accurate—often with a confidence rating of around 95-99%. But they sometimes miss things. Or a child could be born with a different genetic condition that was not tested for. It is also possible that implanted embryos may not result in a pregnancy or a birth.
      .uk-width-medium-4-10
         +well
            p To explore some of the ethical issues around preimplantation genetic testing, visit 
               a(href='/content/disorders/ethical') ethical, legal, and social issues around preimplantation genetic testing
               | .

   +references
      p Handyside, A. H., Kontogianni, E. H., Hardy, K. R. M. L., & Winston, R. M. L. (1990). Pregnancies from biopsied human preimplantation embryos sexed by Y-specific DNA amplification. Nature, 344(6268), 768-770.
