extends /shared/layout
block content
   +pageTitle

   script(type='text/javascript', charset='utf-8', src='artemia-life-cycle_rescale_edgePreload.js')

   +pod('')
      .uk-width-medium-4-10
         p
            | Each spring as Great Salt Lake warms, masses of brine shrimp cysts begin to hatch. Newly hatched brine shrimp larvae, called nauplii (NAW-plee-eye), dominate the water by late April.
         |     
         |    
         p
            | As they  grow and develop, brine shrimp go through a series of 14 to 17 different stages. Each stage is separated from the next by a molt. Molting involves growing a new larger exoskeleton and shedding the old one.
         |     
         |    
         p
            | When the water is warm, food is plentiful, and oxygen levels are high, brine shrimp can develop to adulthood in as little as 8 days. The conditions in Great Salt Lake aren&apos;t quite ideal, so it normally takes 3 to 6 weeks for brine shrimp to reach maturity.
         |     
         |     
         p
            | When conditions are good, mature females release developing embryos or free-swimming nauplii into the water. But when temperatures drop and food is scarce, the females release dormant cysts. Inside the cysts, the embryos are arrested in development. The surrounding shell protects them from the elements. When conditions improve, the embryo resumes development, and the life cycle continues.
      |    
      .uk-width-medium-6-10
         #Stage.EDGE-65006748
   +pod('')
      .uk-width-medium-6-10
         +well
            h2 Facts
            p
               | The Great Salt Lake brine shrimp population can produce four or more generations per year.
            p
               | Brine shrimp are crustaceans. Their closest relatives include fairy shrimp, triops and water fleas. More distant relatives include crabs, lobsters and shrimp.
            p  Brine shrimp are used in the laboratory for testing the toxicity of chemicals.  
            p
               | Brine shrimp cysts have been found in Great Salt Lake geologic core samples up to 600,000 years old, so we know they&apos;ve been in the area for a long time.  
            p Brine shrimp cysts are packaged and sold as Sea-Monkeys.
            p  Brine shrimp cysts can remain viable for up to 25 years.    
            p
               | Brine shrimp come in many colors. From white to pink to green, the different colors are probably an effect of diet and environmental conditions.

         +references
            p
               | Abatzopoulos, Th. J., Beardmore, J. A., Clegg, J. S. and Sorgeloos, P. (Eds.). (2002). 
               em
                  u Artemia basic &amp; applied biology
               | . Dordrecht: Kluwer Academic Publishers.
            p
               u
                  em Antelope Island Field Trip: Life in the Great Salt Lake
               | . Retrieved 7/7/2009 from Weber State University, Department of Botany website: 
               br
               |  http://faculty.weber.edu/sharley/AIFT/GSL-Life.htm
            p
               | Heath, H. (1924). The external development of certain phyllopods. 
               u
                  em Journal of Morphology
               | , 38(4), 453-483.
            p
               | Lavens, P. and Sorgeloos, P. (Eds.). (1996). 
               u
                  em Manual on the production and use of live food for aquaculture
               |  (FAO Fisheries technical paper No. 361). Rome: FAO.
            p
               | (Brine shrimp life cycle inspired in part by an illustration by the U.S. Geological Survey)
   
