extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-6-10
         p
            | Try these activities in your home, at a family reunion, with a
            | group, or at work. Each activity provides an engaging way to learn
            | about traits or better understand disease risk. Just click on the
            | PDF icons to download and print both English and Spanish language
            | versions. Have fun!
      |    
      .uk-width-medium-4-10
   +pod('Basic Trait Activites')
      .uk-width-medium-1-2
         div(style='border:1px solid #B2B2B2;  padding:10px 10px 10px 10px; margin-top:18px;')
            a(href='pdfs/InventoryOfTraits.pdf', style='letter-spacing:0px; font-size:16px;')
               | AN INVENTORY OF MY TRAITS
               img(src='images/PDF_logo.png', width='25', height='25', align='absmiddle')
            |  
            |          
            span.caption (PDF: 682kb)
            br
            |  
            |     
            |          
            div(style='padding:5px 5px 0px 5px; border:1px solid #B2B2B2; background-color:#E1ECFC;')
               img(src='images/traitref.png', width='218', height='150', style='float: right;')
               |             
               p
                  | Students take an inventory of their own easily-observable genetic traits and compare those inventories with other students in groups.
         | &#x9;
         |      
         div(style='border:1px solid #B2B2B2; margin-top:18px; padding: 10px 10px 10px 10px;')
            a(href='pdfs/Traits Bingo_Public.pdf', style='letter-spacing:0px; font-size:16px;')
               | TRAITS BINGO
               img(src='images/PDF_logo.png', width='25', height='25', align='absmiddle')
            |          
            span.caption (PDF: 560kb)
            br
            |  
            |     
            |          
            div(style='padding:5px 5px 0px 5px; border:1px solid #B2B2B2; background-color:#E1ECFC;')
               img(src='images/traitsbingo.png', width='136', height='150', style='float: right;')
               |             
               p Review inherited traits with a fun bingo game!
               |             
               div(style='clear: both;')
         |    
         div(style='border:1px solid #B2B2B2; margin-top:18px; padding: 10px 10px 10px 10px;')
            a(href='pdfs/Traits-Generations.pdf', style='letter-spacing:0px; font-size:16px;')
               | GENERATIONS OF TRAITS
               img(src='images/PDF_logo.png', width='25', height='25', align='absmiddle')
            |          
            span.caption (PDF: 680kb)
            br
            |  
            |     
            |          
            div(style='padding:5px 5px 5px 5px; border:1px solid #B2B2B2; background-color:#E1ECFC;')
               img(src='images/ginger-people.jpg', width='136', height='150', style='float: right;')
               |             
               p Students track and record the passage of colored "pompom traits" through three generations of ginger-bread people.
               |             
               div(style='clear: both;')
      |   
      .uk-width-medium-1-2
         div(style='border:1px solid #B2B2B2; margin-top:18px; padding: 10px 10px 10px 10px;')
            a(href='pdfs/A Recipe for Traits_Public.pdf', style='letter-spacing:0px; font-size:16px;')
               | A RECIPE FOR TRAITS
               img(src='images/PDF_logo.png', width='25', height='25', align='absmiddle')
            |          
            span.caption (PDF: 1.1mb)
            br
            |  
            |     
            |          
            div(style='padding:5px 5px 0px 5px; border:1px solid #B2B2B2; background-color:#E1ECFC;')
               img(src='images/recipetraits.png', width='195', height='150', style='float: right;')
               |             
               p Build your own dog using a &quot;DNA recipe&quot;!
               |             
               p
                  | Select strips of paper that represent DNA, decode the DNA &quot;recipe&quot; to reveal your
                  | dog&apos;s physical traits, and draw it. You&apos;ll learn that differences in DNA lead to differences in traits.
         | &#x9;
         |     
         |     
         div(style='border:1px solid #B2B2B2; margin-top:18px; padding: 10px 10px 10px 10px;')
            a(href='pdfs/A Tree of Genetic Traits_public.pdf', style='letter-spacing:0px; font-size:16px;')
               | A TREE OF GENETIC TRAITS
               img(src='images/PDF_logo.png', width='25', height='25', align='absmiddle')
            |          
            span.caption (PDF: 596kb)
            br
            |          
            div(style='padding:5px 5px 0px 5px; border:1px solid #B2B2B2; background-color:#E1ECFC;')
               img(src='images/traitstree.png', width='126', height='150', align='right')
               |             
               p Find the most and least common combination of three traits in your group! 
               |             
               p
                  | Participants mark traits for tongue rolling, earlobe attachment and PTC tasting on
                  | paper leaves and organize them on a large &quot;tree of traits&quot;.
               |             
               p This activity works best with medium to large groups.
      |    
      p
         | For a description of many of the traits used in these activities, visit 
         a(href='/content/basics/observable/') Observable Human Characteristics
         | .
   
   +pod('Family Activities')
      |    
      .uk-width-medium-1-2
         div(style='border:1px solid #B2B2B2;  margin-top:20px; padding:10px 10px 10px 10px; ')
            a(href='pdfs/Handy Family Tree_Public.pdf', align='absmiddle', style='letter-spacing:0px; font-size:16px;')
               | HANDY FAMILY TREE 
               img(src='images/PDF_logo.png', width='25', height='25')
            |          
            span.caption (PDF: 1.8mb)
            |          
            br
            |   
            |     
            |       
            div(style='padding:5px 5px 5px 5px; border:1px solid #B2B2B2; background-color:#E1ECFC;')
               img(src='images/handyfamily.jpg', width='149', height='150', style='float: right;')
               |          
               p
                  | A family tree is a picture that shows members of your family. Do this activity to create your own family tree!
               |          
               p
                  | Family members will learn about inherited and acquired traits as they create
                  | a handprint for their family tree. This art project is great for families of
                  | all configurations.
         |  
         |       
         div(style='border:1px solid #B2B2B2;margin-top:18px; padding:10px 10px 10px 10px; ')
            a(href='pdfs/Traits and Traditions_Public.pdf', style='letter-spacing:0px; font-size:16px;')
               | TRAITS AND TRADITIONS
               img(src='images/PDF_logo.png', width='25', height='25', align='absmiddle')
            |          
            span.caption (PDF: 2.5mb)
            br
            |  
            |     
            |          
            div(style='padding:5px 5px 0px 5px; border:1px solid #B2B2B2; background-color:#E1ECFC;')
               img(src='images/traittradition.png', width='144', height='150', style='float: right;')
               |             
               p
                  | Can you think of a trait you have inherited? How about a trait that you have acquired by
                  | learning or tradition?
               |  
               |             
               p
                  | Play this memory game with your family or group to discover some common traits and traditions!
      |    
      .uk-width-medium-1-2
         div(style='border:1px solid #B2B2B2;  margin-top:18px; padding: 10px 10px 10px 10px;')
            a(href='pdfs/Traits Trivia_Public.pdf', style='letter-spacing:0px; font-size:16px;')
               | TRAITS TRIVIA
               img(src='images/PDF_logo.png', width='25', height='25', align='absmiddle')
            |          
            span.caption (PDF: 2.5mb)
            |          
            br
            |  
            |     
            |          
            div(style='padding:5px 5px 5px 5px; border:1px solid #B2B2B2; background-color:#E1ECFC;')
               img(src='images/traitstrivia.png', width='216', height='150', style='float: right;')
               |             
               p
                  | What inherited traits do you share in common with others? What traits are unique to you? Do this activity to find out!
               |  
               |             
               p
                  | We all have inherited traits that we share in common with others. Yet, every person has a combination
                  | of traits that is unique to them. Individuals of all but the youngest ages can participate
                  | in this fun activity. It also is a great ice-breaker for groups.
   
   +pod('Heredity and Health Activities')
      |    
      .uk-width-medium-1-2
         div(style='border:1px solid #B2B2B2;  margin-top:18px; padding: 10px 10px 10px 10px;')
            a(href="pdfs/What's Your Family Health History_Public.pdf", style='letter-spacing:0px; font-size:16px;')
               | WHAT&apos;S YOUR FAMILY HEALTH STORY?
               img(src='images/PDF_logo.png', width='25', height='25', align='absmiddle')
            |          
            span.caption (PDF: 2.1mb)
            br
            |  
            |     
            |          
            div(style='padding:5px 5px 0px 5px; border:1px solid #B2B2B2; background-color:#E1ECFC;')
               img(src='images/health_story.jpg', alt='', width='105', height='93', style='float: right;')
               |             
               p
                  | Use this guide to gather and record your family health history. Directions for constructing
                  | a Health Family Tree are included.
         |       
         div(style='border:1px solid #B2B2B2;  margin-top:18px; padding: 10px 10px 10px 10px;')
            a(href='pdfs/Pick the Risk_Public.pdf', style='letter-spacing:0px; font-size:16px;')
               | PICK THE RISK
               img(src='images/PDF_logo.png', width='25', height='25', align='absmiddle')
               br
            a(href='pdfs/Pick the Risk_Spanish.pdf', style='letter-spacing:0px; font-size:16px;')
               | PICK THE RISK (SPANISH VERSION)
               img(src='images/PDF_logo.png', width='25', height='25', align='absmiddle')
            |           
            span.caption (PDF: 1.3mb)
            br
            |  
            |     
            |           
            div(style='padding:5px 5px 0px 5px; border:1px solid #B2B2B2; background-color:#E1ECFC;')
               img(src='images/TitleArt.png', width='123', height='125', align='right')
               |           
               p
                  | Learn how common chronic diseases (such as heart disease) run in families and how risk
                  | for developing these diseases is influenced by the combined action of several genes.
               |            
               p
                  | Track and record the passage of colored pom poms (representing genes) through three
                  | generations of a family. Discover each person&apos;s risk for developing heart disease.
      |    
      .uk-width-medium-1-2
         div(style='border:1px solid #B2B2B2;  margin-top:18px; padding: 10px 10px 10px 10px;')
            a(href='pdfs/Risk Continuum_Public.pdf', style='letter-spacing:0px; font-size:16px;')
               | RISK CONTINUUM
               img(src='images/PDF_logo.png', width='25', height='25', align='absmiddle')
            |          
            span.caption (PDF: 3.7mb)
            br
            |  
            |     
            |          
            div(style='padding:5px 5px 0px 5px; border:1px solid #B2B2B2; background-color:#E1ECFC;')
               p
                  | What does it mean to be &quot;at risk&quot; for developing a common disease such as heart disease?
               |             
               p
                  | Do this active demonstration with a group to learn what it means to be in a &quot;risk group&quot;
                  | and how lifestyle choices can modify your risk.
               |  
               |             
               img(src='images/12kids.png', width='300', height='88')
