.uk-slidenav-position(data-uk-slideshow)
   ul.uk-slideshow
      li.item.uk-active
         .data-uk-grid
            div
               img(src='1_human.jpg')
            div
               br
               | 1. People have four types of photoreceptors: rods, and three types of cones. Rods are sensitive to low levels of light, but they do not provide information about color. Cones allow us perceive color. Each of the three types of cones is filled with slightly different opsin proteins, which are sensitive to different wavelengths of light. To perceive color, the brain interprets the relative activity of each cone type.
      li.item
         .data-uk-grid
            div
               img(src='2_turtle-retina.jpg')
            div
               br
               | 2. Birds and reptiles have photoreceptors with built-in filters. Colored pigments suspended in oil droplets inside of the photoreceptors help to fine-tune each type to a different wavelength of light. The retina from a turtle, above, is shown unstained and in its natural color. It has five types of cones (plus rods), including one type for sensing quick motion. (Image courtesy Dr. Joseph Corbo, Washington University School of Medicine)
      li.item
         .data-uk-grid
            div
               img(src='3_jumping-spider.jpg')
            div
               br
               | 3. Jumping spiders have just one type of photoreceptor, but the layered arrangement of their retina gives them color vision. Because of the properties of light and lenses, different wavelengths of light focus on different layers of the retina—some wavelengths focus on the surface layer, and others on deeper layers. This arrangement allows jumping spiders to differentiate between about as many colors as we can.
      li.item
         .data-uk-grid
            div
               img(src='4_bee.jpg')
            div
               br
               | 4. Not only can honeybees detect ultraviolet light, they also have photoreceptors that are specialized for detecting polarized light—light waves that are oriented in a certain direction. This ability helps them to navigate based on their position relative to the sun.
      li.item
         .data-uk-grid
            div
               img(src='5_mantis-shrimp.jpg')
            div
               br
               | 5. Mantis shrimp use all of these tricks and more. They have 12 to 16 types of photoreceptors, allowing them to quickly sense different wavelengths of light without the need for much interpretation by the brain. Along with having multiple types of light-sensing opsin proteins, several of their photoreceptors use filters to detect different wavelengths of light in the ultraviolet range, and some use layering to fine-tune their sensitivity. Some mantis shrimp species can even detect linear and circular polarized light—a trick that helps them see their prey, which to us look totally transparent.

   a.uk-slidenav.uk-slidenav-contrast.uk-slidenav-previous(href='', data-uk-slideshow-item='previous', style="color: #fff; font-size: 90px; text-shadow: #000 1px 2px 5px; display:block;")
   a.uk-slidenav.uk-slidenav-contrast.uk-slidenav-next(href='', data-uk-slideshow-item='next',  style="color: #fff; font-size: 90px; text-shadow: #000 1px 2px 5px; display:block;")
