extends /shared/layout
block content
   +pageTitle

   +pod('')
      .uk-width-medium-1-2
         p
            | Differences among individuals extend beyond visible features like eye color and height. We also vary in how we respond to drugs that are used to treat cancer and other illnesses. Often, these differences are coded in our genes. Genetic tools are already helping doctors make more accurate diagnoses, as well as predict which medications will work best for their patients.
         br
      .uk-width-medium-1-2
         p
            | Pharmacogenomics is the study of how genetic variations influence our responses to medications. In the video below, learn how a genetic test available today helps a doctor decide how to treat a young girl&apos;s leukemia.
         br
      .uk-width-1-1
         iframe.uk-responsive-width(src='https://player.vimeo.com/video/119388197', width='919', height='518', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')

   
