
+minipod('What is cystic fibrosis')
   .uk-width-6-10
      p
         | Cystic fibrosis affects multiple organs in the body, including the lungs and digestive system. 
+minipod('Affected gene')
   .uk-width-6-10
      p. 
         The affected gene in CF is CFTR (cystic fibrosis transmembrane conductance regulator), on chromosome 7. The gene codes for CFTR protein. People with CF have two non-working copies of the gene, and so they make no working CFTR protein. 
      p.
         The job of the CFTR protein is to help maintain salt balance by moving chloride ions (from sodium chloride, or salt) out of cells. This process is key for maintaining a thin layer of mucus inside the lungs, digestive tract, and other organs. Without CFTR protein, salt becomes unbalanced, and the mucus becomes thick and sticky. The most serious effects are the lung cells. Mucus clogs the airways, and increases the risk of infection.
      p.
         Thick mucus also blocks ducts in the pancreas, keeping digestive enzymes from getting into the intestines. Without these enzymes, the intestines cannot break down food to extract all of the nutrients that are needed for a person to grow and thrive. 
      p.
         CF follows an autosomal recessive inheritance pattern. An affected child must inherit two non-working copies of the gene, one from each parent.
      br
   .uk-width-1-1
      figure
         img(src='cf/images/cf-gene.jpg')
         p CFTR protein helps to maintain a healthy mucus layer along the insides of the lungs and pancreas. Without the protein, the mucus becomes thick and sticky. Mucus clogs the lungs and traps infection-causing bacteria. Digestive enzymes get stuck in the pancreas, causing problems with digestion.       
      hr
      br
+minipod('Symptoms and features of CF')
   .uk-width-4-10
      figure
         img(src='cf/images/cf-organs.jpg')
      br
   .uk-width-6-10
      p
         | Babies with CF are often small, and all are prone to lung infections. Without treatment, most people with CF experience coughing or wheezing, respiratory illnesses (such as pneumonia or bronchitis), low weight, salty-tasting skin, and greasy stools. Challenges with salt regulation can lead to dehydration and salt imbalances.
      p
         | The effects of CF vary, in part due to the specific disease-causing gene variants a person has. Some code for a CFTR protein with partial activity, and some produce no CFTR protein at all.
      p
         | Early diagnosis leads to better outcomes. Because CF is fairly common, it is included in most newborn genetic screening panels. Starting treatment right away can prevent lung damage and improve nutrition, leading to a much longer and more fulfilling life. 

   .uk-width-medium-5-10
      h3 Treating and managing CF
      p
         | New treatments are helping people with CF live longer than ever. Lung therapies work by clearing mucus and preventing infections. Digestive enzyme pills taken with meals greatly improve nutrition, helping children grow and stay health.  
      ul
         li
            | Chest therapy, in which a vibrating vest or repeated clapping on the back frees up mucus in the lungs
         li 
            | Inhaled antibiotics to kill the bacteria that cause lung infections          
         li
            | Bronchodilators (also used by people with asthma) to help keep the airways open  
         li
            | Inhaled DNase, an enzyme that helps to thin sticky mucus
         li 
            | Pancreatic enzyme replacement therapy to allow proper food digestion
      p
         | CF is a potential target for 
         a(href='/content/genetherapy/') gene therapy
         |  , in which a modified virus delivers a working copy of the CFTR gene into the patient's cells. 

   .uk-width-medium-5-10
      h3 Interesting facts about cystic fibrosis
      p
         | More than 1,000 different variations (alleles) of the CFTR gene have been identified in people with CF. The most common (in 70% of people with CF) is a three-base deletion in the DNA sequence, causing a single amino acid to be missing from the protein product.
      p
         | Some evidence suggests that cystic fibrosis carriers are resistant to certain types of bacterial infections {remove link}
      p
         | In the United States, about 2,500 babies each year are born with CF.
      p
         | More than 10 million people in the US carry a CF-causing gene variation, but most don't know it.

      +well
         h3 More information
         a(href='http://www.cff.org/ ') Cystic Fibrosis Foundation
         br
         a(href='http://healthcare.utah.edu/pulmonaryservices/services/cysticfibrosis/') University of Utah Health Sciences Center
         br
         a(href='http://www.yourlunghealth.org/lung_disease/cystic_fibrosis/index.cfm') Your Lung Health
