extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-1-1.uk-text-center
         iframe.uk-responsive-width(src='https://player.vimeo.com/video/151084041', width='900', height='506', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
