extends /shared/layout
  
block content
    +pageTitle
    
    +pod('')
      .uk-width-medium-4-10
          p
            | Plants are ubiquitous. Without them, Earth as we know it could not exist. Yet, a staggering number of animal species eat plants. Some are familiar, like large grazing mammals including deer or cattle. But most are the hundreds of thousands of insect species and related arthropods. To defend themselves from attack, plants have a bevy of strategies. This page describes how plants evolved to overcome the constant onslaught of animals that would devour them as food.
      .uk-width-medium-6-10
          figure
            img.lg-no-shadow(src="images/rainforest.jpg", alt="rainforest")

              
    +pod('Plant defenses are diverse')
              
      .uk-width-medium-6-10
       figure
         img.lg-no-shadow(src="images/plant_defense_examples.jpg", alt="a variety of plant defenses")
         p Plant defenses. From left to right: thorns on a rose, ants that kill herbivores feeding on plant nectar, tea leaves that contain caffeine (toxic to insects) and the microscopic silica serrated edge of a grass leaf.

           
      .uk-width-medium-4-10
        p
          | Animals use many ways to avoid their predators. Behavioral responses, like running away, are very important. In contrast, plants are “sessile,” meaning that they cannot move. Roots anchor them to the soil, so plants can’t run away. Therefore, they’ve developed physical and chemical defenses to protect themselves against herbivores, which are animals that live by eating plant tissues. 
        p
          | Physical defenses are a first line of protection for many plants. These defenses make it difficult for herbivores to eat plants. Examples of physical defenses are thorns on roses and spikes on trees like hawthorn. These physical defenses hurt the herbivores and stop them from eating plants’ stems or leaves.

        p
          | Grasses, like maize (corn), rice, and wheat, take up the element silicon from the soil. Hard silicon particles make the grass leaves abrasive. This defense works by wearing down the teeth of large grazing mammals and mandibles of grasshoppers.
        p
          | The leaves of some plants feel fuzzy to the touch, a result of small structures called trichomes. These tiny projections from leaf surfaces can be very dense. This "forest" of trichomes makes it harder for insects or mites to reach cells in the plant leaf.
        p
          | Plants also use a diverse arsenal of chemicals that ward off herbivores. Many of these compounds are toxic, repelling or even killing grazing herbivores. In other cases, the impact of these defenses is indirect. For example, some plants produce nectar that attracts ants. The ants feed on the nutritious nectar the plant makes. In return, the ants defend the plant from herbivorous insects that eat the plant’s leaves.
          
          
          +well
              h3 Related content
              |  Insects and mites are important herbivores in natural ecosystems and on crop plants. Learn more about insect and mite herbivores 
              a(href='/content/herbivores/gallery/') here.
          
    +pod('Constitutive vs. induced plant defenses')
    
      .uk-width-medium-6-10
        p
          | Plants need energy to create physical and chemical defenses. When plants defend themselves, they must divert energy that could be used for growth. So, defending themselves comes at a price. That’s why many plants only turn on defenses when there are herbivores feeding on them.

        p
          | In some areas, like tropical forests, large numbers of herbivores are there year-round. Any growing plant will be devoured if it does not defend itself. In some tropical plant species, toxic compounds are always present at high levels. Plant defenses that are always “on”  are called “constitutive” defenses. 
        p
          | In contrast, freezing winters keep herbivore populations down in temperate regions. But, during the growing season, their populations can become very large. The weather conditions that favor herbivores in these regions can vary from one year to the next. Plants still use constitutive defenses in these climates.  But, when attacked by an herbivore, they can also increase the level of their defenses.  
        p
          | These “induced” defenses save the plant’s resources until they are critically needed. For example, newly emerged leaves sometimes produce more trichomes. Many plants also ramp up production of certain compounds when they’re being eaten. 
        
      .uk-width-medium-4-10
       figure
         img.lg-no-shadow(src="images/rainforest_smaller.jpg", alt="a rainforest")
         p For plants in tropical regions, like this forest in Indonesia, toxins can make up as much as 50% of the leaf tissue.

      .uk-width-medium-1-1
        figure
          img.lg-no-shadow(src="images/plant_attract_pradator.jpg", alt="maize attracts herbivore predators")
          p Maize has an “induced” defense that attracts the herbivore’s natural enemies. When herbivores start to eat maize, it triggers the production of air-borne compounds. These compounds attract wasps that attack herbivorous insects. When these predatory insects reach the plant, they find a victim waiting for them.
          
          
    +pod('Perception of herbivores and induction of defenses')
      .uk-width-medium-4-10
          p
            | Plants recognize attacking herbivores within minutes to hours. In response, they can turn genes on and off - making enzymes and other proteins to counter the attack. Herbivores physically damage plants when they eat their tissues or drink their fluids. Being wounded activates chemicals in the plant at feeding sites. Sometimes, even the herbivore's saliva can trigger chemical responses in plants. In response to these signals, plants produce compounds like hydrogen peroxide that act to deter insects. 
          figure
            img.lg-no-shadow(src="images/jasmonic_acid.jpg", alt="jasmonic acid" style='float:left')
            p Jasmonic acid (JA) is a plant hormone. Almost all plants have it. JA is responsible for controlling many plant responses, not just defense. For example, JA directs the formation of tubers in potato plants. It also orchestrates how tendrils coil on vines. 

          p
            | When attacked, plants also produce a key compound called jasmonic acid (JA). This chemical serves as a “master regulator” of induced plant defenses. 
          p
            | Within 24 hours of an herbivore attack, many thousands of genes can be activated via the JA system. These genes encode proteins with diverse impacts on herbivores. Some damage the digestive systems of herbivores. Others disrupt cell functions that are critical for herbivore growth, survival or reproduction.
            
            
      .uk-width-medium-6-10
        figure
          img.lg-no-shadow(src="images/JA_leaf.jpg", alt="jasmonic acid triggers gene activation when plant wounded")
          p When activated through wounding, jasmonic acid (JA) interacts with proteins on DNA in the plant cell nucleus. These proteins inhibit genes until they’re needed. When JA binds to the proteins, the genes are freed from inhibition. A diverse array of genes begin producing proteins and enzymes needed for plant defense.
        +well
            h3 Related content
            |  Learn about how genes in a cell can be "on" or "off", expressing a specific set of proteins 
            a(href='/content/science/expression/') here.
            
    +references


      p
      | Koo, A. (2017). Metabolism  of  the  plant  hormone  jasmonate:  a  sentinelfor  tissue  damage  and  master  regulator  of  stress  response. Phytochem Rev, 17, 51-80.
      p
      | Degenhardt, J. (2009) Indirect Defense responses to Herbivory in Grasses. Plant Physiology, 149, 96-102.


    +photocredits
 
      p <i>Rainforest:</i> Tommyg 83
      p <i>Rose thorns:</i> Lamiot
      p <i>Ant on plant:</i> Maximilian Paradiz
      p <i>Tea plants:</i> Tkibuli
      p <i>Grass leaf edge:</i> Rosser1954
      p <i>Indonesian forest:</i> Widodo Margotomo

    
            
