#epi-slides {
   width: 100%;
}
#epi-slides li {
   background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
   width: 100%;
   margin: auto;
}

#epi-slides img {
   float:left;
   margin: 0 20px 0 0;
}

.text-block {
   padding: 20px 20px 0 20px;
   margin-left: 20px;
}

#slide-controls {
   width: 150px;
   margin: auto;
}
