extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-4-10
         p
            | Osteoporosis is a bone disorder characterized by too little bone mass. When a person
            | with osteoporosis gets older, their bones become brittle and weak, causing them to
            | break more easily.
         |       
         p
            | Any bone can be affected, but most often breaks occur in the wrist, hip, or spine,
            | when a person trips and falls. A broken hip or spine is very serious, requiring
            | hospitalization and surgery. It will likely impair a person&apos;s ability to walk,
            | and cause pain, deformity, and sometimes death.
      |    
      .uk-width-medium-6-10
         figure
            img(src='images/xrayscan.jpg', alt='human figure')
   +pod('What Causes Osteoporosis')
      |    
      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='images/how_much.jpg', alt='calcium needs')
            |          
            p
      |    
      .uk-width-medium-4-10
         p
            | Our bones, in addition to providing support for the body, serve as a large store of an
            | important mineral called calcium. Calcium is needed by many of the body&apos;s cells.
            | Because bones have a lot of calcium, bone tissue is routinely broken down
            | to supply cells with the calcium they need.
         |       
         p
            | Osteoporosis results when a person doesn&apos;t receive enough calcium to replenish bone loss,
            | or when a person&apos;s cells are unable to properly use calcium.
         |       
         h3 Who&apos;s At Risk?
         |       
         p
            | Multiple genes and environmental factors influence bone health. If someone in your family has
            | osteoporosis, you may have inherited factors that make you more susceptible to this disease.
            | So it&apos;s important to know your family medical history. If you know you&apos;re at risk, you can
            | take steps to protect yourself.
         |       
         p
            | Even if osteoporosis doesn&apos;t run in your family, you may still be at risk. All women are
            | generally at risk for developing osteoporosis due to hormonal changes that occur at
            | menopause. (Hormones control when bone tissue is broken down to access stored calcium.)
         |       
         p
            | Women who weigh less than 127 pounds are even more likely to develop osteoporosis because
            | they have smaller bones. Eating disorders are especially dangerous. If a woman experiences
            | weight loss significant enough to alter her normal menstrual cycle, she will likely suffer
            | from osteoporosis in later years.
   +pod('Reducing The Risk')
      |    
      .uk-width-medium-6-10
         p
            | It is important to eat foods high in calcium while you&apos;re young. You only have until age 20 or 30 to
            | build the bone tissue and store the calcium you will need in later years.
         |       
         p Begin now to reduce your risk of developing osteoporosis.
         |       
         ol
            li
               | Make sure your diet includes the recommended daily amount of calcium, as well as Vitamin
               | D (which helps your body use calcium).
            |          
            li
               | Participate in weight-bearing exercise to encourage the building of strong bones.
            |          
            li
               | Avoid smoking, excessive alcohol, and caffeine (factors that increase calcium loss from bone).
            |          
            li Talk to your doctor about how to build and maintain healthy bones. 
            |          
            li Ask your doctor for a bone density test to screen for osteoporosis.
      |    
      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src='images/osteoneeds.jpg', alt='calcium and exercise')

   
   
