extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-6-10
         p
            | Since the mid-1950s, doctors have been using Ritalin (also called methylphenidate) to treat a variety of conditions including depression, fatigue syndrome, and narcolepsy. Ritalin gained FDA approval for treatment of hyperactivity in children in 1961.
         p
            | Ritalin is the most commonly prescribed medication for ADHD (attention deficit hyperactivity disorder). This treatment has helped thousands of people control their symptoms. But because Ritalin is a stimulant like cocaine, it may cause undesirable changes in the brain over time. It also has the potential for abuse, and because it&rsquo;s a legal prescription drug, many wrongly assume that it is not dangerous.
         p So what are the benefits of Ritalin, and what are the risks?
         |     
         +well
            p Ritalin is currently prescribed to approximately six million people in the US. 

            p
               | 75% of these are children, with boys receiving Ritalin about four times more often than girls.
      |    
      .uk-width-medium-4-10
         figure
            img(src='ritalin-ad.jpg', alt='Ritalin Ad')
            
   +pod('ADHD: The Benefits of Ritalin')
      |    
      .uk-width-medium-6-10
         p
            | People with ADHD have difficulty concentrating, and they can be hyperactive or impulsive. They also have lower levels of the brain chemical dopamine.
         p
            | Dopamine helps people control their behavior, so having the right level of dopamine in the brain is important. Ritalin increases dopamine levels, helping those with ADHD to focus, filter out distractions, and make decisions based on reason rather than emotion.
      |    
      .uk-width-medium-4-10
         figure
            img(src='students_library.jpg', alt='Students in Library')
            
   +pod('Ritalin is Similar to Cocaine')
      |    
      .uk-width-medium-6-10
         figure
            img(src='ritalin-synapse.jpg', alt='Ritalin Synapse') 
            br
            br  
            +well
               p Research shows that 10-30% of cocaine addicts have ADHD.   
               p 30-50% of adolescents in drug treatment centers report abusing Ritalin.
            |        
         .mediaSunk
            p.caption
               | There can be unintended consequences when an adult uses cocaine to control their ADHD. --Dr. Glen Hansen
            |             
            audio(controls='')
               source(src='ADHD_Cocaine (new).mp3')
      |    
      .uk-width-medium-4-10
         p
            | Like cocaine, Ritalin is a powerful stimulant that increases alertness and productivity. Ritalin and cocaine also look and act very much alike. They have a similar chemical structure, and both increase dopamine levels in the brain. They do this by blocking a dopamine transporter protein, which normally takes up dopamine from the synapse.
         p
            | ADHD children are typically taken off of Ritalin when they reach adulthood. Interestingly, these individuals seem to be more prone to cocaine addiction. Why is that? Because Ritalin and cocaine are similar drugs, it&apos;s possible that ADHD adults are unknowingly using cocaine as a replacement for Ritalin. In other words, it may be an attempt to self-medicate. Cocaine may help individuals with ADHD focus and feel calm and in control.
         figure
            img.lg-no-shadow(src='ritalin_cocaine1-1.jpg', alt='Ritalin and Cocaine')  
            p Ritalin (left) and cocaine (right) share a similar chemical structure and mechanism of action.
   +pod('Is Ritalin Addicting?')
      .uk-width-medium-6-10
         figure
            img(src='prescription.jpg', alt='Prescription')
  
      .uk-width-medium-4-10
         p
            | Ritalin is not addictive when prescribed by doctors and taken as directed. Why this difference between Ritalin and cocaine? Ritalin is a pill that you swallow, so the drug takes longer to reach the brain. Cocaine is taken in high doses by injection or snorting. It floods the brain quickly with dopamine, which makes it dangerous and addictive.
         p
            | Unfortunately, Ritalin is quickly becoming a drug of choice for teens. It&apos;s relatively cheap and accessible. And because it&apos;s a prescription drug, it&apos;s perceived to be safe. But if Ritalin is abused (taken in high doses) or taken improperly (by injection or snorting), it can be just as addictive as cocaine. This is because 
            a(href='../delivery/') drug delivery methods can influence the addictive potential of a drug.
         |    
         .mediaSunk
            p.caption
               | Is Ritalin a &ldquo;gateway drug&rdquo;? Studies show that proper Ritalin use does not lead to drug abuse. --Dr. Kelly Lundberg
            |             
            audio(controls='')
               source(src='Kelly_Ritalin (new).mp3')
   +pod('The Consequences of Misdiagnosis')
      .uk-width-medium-6-10
         p
            | Misdiagnosis of ADHD is a common problem that complicates the Ritalin controversy. Some say that Ritalin is now over-prescribed, and that it may cause undesirable changes in the brain over time.
         p
            | Recent animal studies suggest that children who are mistakenly diagnosed with ADHD and treated with Ritalin may be more likely to develop depression as adults. This can be explained by Ritalin&apos;s effects on the reward pathway.
         p
            | We know that Ritalin increases dopamine levels in the brain. But an unnecessary increase in dopamine during childhood may change how the brain develops. The brain may become desensitized to natural rewards like food, romance, and social interactions, leading to depression.
         p
            | However, failing to diagnose ADHD has its problems too: Kids with untreated ADHD are four times more likely than normal to abuse drugs.
      |    
      .uk-width-medium-4-10
         .mediaSunk
            p.caption
               | Kids with untreated ADHD are four times more likely than normal to abuse drugs. --Dr. Glen Hanson
            |             
            audio(controls='')
               source(src='ADHD_Likelihood (new).mp3')
   
