extends /shared/layout

block content
   +pageTitle

   +pod('')
      .uk-width-medium-6-10
         p.
            Before birth, we're all more or less sterile—we have no microbes. Within a few years, we're covered in thousands of different species of microbes, and they colonize every millimeter of the body that's exposed to the outside world. By the time we enter kindergarten, we have vastly different populations living in the different habitats around our bodies. Even as adults and into old age, our microbiota continue to shift.
      
   +pod('Birth')
      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src="images/change1.jpg" alt="baby microbiome") 
            p Our first dose of microbes comes from our mother, and depending on where and how we’re born, we’re colonied by different microbes.
      
      .uk-width-medium-6-10
         p.
            The moment we enter the world, microbes colonize our bodies. And depending on how and where we're born, we're colonized by different types of microbes.
         p.
            Our first dose of microbes comes from our mother. Babies delivered vaginally are covered in a film of microbes as they pass through the birth canal. Included in the mix are bacteria that help babies digest their first meal. Babies delivered by cesarean section are colonized mainly by skin microbes—a very different set of species.
         p.
            Babies pick up microbes not only from their mothers, but also from every person and thing they touch. So babies who are born at home are exposed to different types of microbes than babies born in hospitals.
         p.
            These very first differences—vaginal vs. c. section birth, home vs. hospital—are still measurable months and possibly even years after birth. And they may have even longer-lasting impacts on health.

   +pod('1 day - 6 months')
      .uk-width-medium-6-10
         p.
            Very young babies are covered in a fairly uniform mixture of microbes representing relatively few species. Within weeks, as babies pick up more microbes from their family members and surroundings, the types of microbes living in different parts of the body start to specialize.
         p.
            As species compete for space and resources, the ones that are best equipped to live in a particular environment survive. The dry, light, oxygen-rich environment of the skin, for example, harbors a different population of microbes than the dark, watery environment of the mouth. Even more subtle differences can shape microbial populations: different microbes live on the cheek than in the crease next to the nose, and there are differences even between the left and right hands.
         p.
            The food babies eat also feeds their microbes, and different microbes grow best on different types of food. Babies who drink breast milk, for example, tend to have different gut microbes than babies who are given formula. Beginning solid food also causes the population to shift.
      
      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src="images/change2.jpg" alt="toddler microbiome")
            p Our bodies have many habitats, each with their own characteristics. Each habitat is home to a different population of microbes.
            
   +pod('6 months - 3 years')
      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src="images/change3.jpg" alt="child microbiome")
      
      .uk-width-medium-6-10
         p.
            The number of species continues to increase (from about 100 species in the gut of young infants to about 1,000 in adults), and its make-up continues to change. Some of these changes mirror changing nutritional needs. For example, young babies get the vitamin folate from gut microbes while adults get most of their folate from food. Babies have more folate-producing microbes, and adults have more folate-harvesting microbes.
         p.
            Parents and family members still have a big influence on microbiome composition. While microbial populations vary a lot, even among family members, relatives and people living together tend to have more similar microbiota than strangers. Over time, the early influence of the mother is diluted: young children's microbiomes come to resemble their fathers' as much as their mothers'.
         p.
            Microbial populations shift and change a lot during early childhood. There is also a lot of variation among individuals. Variation is highest during childhood, and it gradually decreases with age. Events like a fever, a course of antibiotics, or new foods can cause sudden shifts in the microbiome, with effects that may last for years or even a lifetime.
            
   +pod('3 years - adulthood')
      .uk-width-medium-6-10
         p.
            By age three, a child's microbiome looks a lot like an adult's, and it becomes much more stable. It still continues to change in response to events like illness, disease, antibiotic treatment, fever, stress, injury, and changes in diet. But the population still tends to shift back to a "baseline" state.
         p.
            Major life events—like puberty, pregnancy, and menopause—can cause larger shifts. For example, puberty affects skin microbes by causing changes in skin oils. And pregnancy brings on changes in the vaginal microbiome: species start to grow that will colonize and benefit the baby as it's born.
            
         +well. 
            Visit the <a href="../simulator/">Microbiome Simulator</a> to learn more about how life events influence our microbial populations.
            
      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src="images/change4.jpg" alt="teen microbiome")
            
   +pod('Old Age')
      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src="images/change5.jpg" alt="senior microbiome")
      .uk-width-medium-6-10
         p.
            Senior citizens have a distinct microbial profile, with certain species becoming more common and others becoming less common. After age 65, the number of microbial species decreases, and the microbial populations become more similar among individuals.
            
   +pod('Variability: A common theme')
      .uk-width-medium-4-10
         p.
            Because so many things affect our bodies' ecosystems, there is a huge amount of variability in microbial populations even among individuals of the same age. Just like our fingerprints vary, we vary in the microbial species we have as well as their relative abundancies. Our microbes vary with gender, diet, climate, age, occupation, and hygeine. Even differences in our genes influence our microbial populations—indirectly by affecting things like the acidity of the digestive tract, and also more directly through variations in proteins on our cells that communicate with microbes.
         p.
            Even with all this variability, there are some trends. Microbial populations differ more among body sites than between individuals. For example, the microbes living on the forearms of two different people tend to be more similar than the microbes on the forearm and ear of the same person. And there are certain species of bacteria that will only live in the gut, others that will live only on the teeth, and so on.
      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src="images/change6.jpg" alt="population microbiome")
            
   +references
      p.
         Aagaard, K., Riehle, K., Ma, J., Segata, N., Mistretta, T.-A., Coarfa, C., Raza, S., Rosenbaum, S., Van den Veyver, I., Milosavlijevic, A., Gevers, D., Huttenhower, C., Petrosino, J. & Versalovic, J. (2012). A metagenomic approach to characterization of the vaginal microbiome signature in pregnancy. PLoS ONE, 7(6), e36466. doi: 10.1371/journal.pone.0036466
      p.         
         Azad, M.B., Konya, T., Maughan, H., Guttman, D.S., Field, C.J., Chari, R.S., Sears, M.R., Becker, A.B., Scott, J.A. & Kozyrskyj, A.L. (2013). Gut microbiota of healthy Canadian infants: profiles by mode of delivery and infant diet at 4 months. Canadian Medical Association Journal, 185(5), 385-394. doi: 10.1503/cmaj.121189
      p.
         Caporaso, J.G., Lauber, C.J., Costello, E.K., Berg-Lyons, D., Gonzalez, A., Stombaugh, J., Knights, D., Gajer, P., Ravel, J., Fierer, N., Gordon, J.I. & Knight, R. (2011). Moving pictures of the human microbiome. Genome Biology, 12, R50. doi: 10.1186/gb-2011-12-5-r50
      p.
         Grice, E.A., Kong, H.H., Conlan, S., Deming, C.B., Davis, J., Young, A.C., NISC Comparative Sequencing Program, Bouffard, G.G., Blakesley, R.W., Murray, P.R., Green, E.D., Turner, M.L. & Segre, J.A. (2009). Topographical and temporal diversity of the human skin microbiome. Science, 324(5931), 1190-1192. doi: 10.1126/science.1171700
      p.
         Grice, E.A. & Segre, J.A. (2011). The skin microbiome. Nature Reviews Microbiology, 9, 244-253. doi: 10.1038/nrmicro2537
         The Human Microbiome Project Consortium (2012). Structure, function and diversity of the healthy human microbiome. Nature, 486, 207-214. doi: 10.1038/nature11234
      p.
         Jakobsson, H.E., Jernberg, C., Andersson, A.F., Sjolund-Karlsson, M., Jansson, J.K. & Engstrand, L. (2010). Short-term antibiotic treatment has differing long-term impacts on the human throat and gut microbiome. PLoS ONE, 5(3), e9836. doi: 10.1371/journal.pone.0009836
      p.
         Koenig, J.E., Spor, A., Scalfone, N., Fricker, A.D., Stombaugh, J., Knight, R., Angenent, L.T. & Ley, R.E. (2011). Succession of microbial consortia in the developing infant gut microbiome. Proceedings of the National Academy of Sciences of the United States of America, 108(S1), 4578-4585. doi: 10.1073/pnas.1000081107
      p.
         Murgas Torrazza, R. & Neu, J. (2011). The developing intestinal microbiome and its relationship to health and disease in the neonate. Journal of Perinatology 31, S29-S34. doi:10.1038/jp.2010.172
      p.
         Robinson, C.J., Bohannan, B.J.M. & Young, V.B. (2010). From structure to function: the ecology of host-associated microbial communities. Microbiology and Molecular Biology Reviews, 74(3), 453-476. doi: 10.1128/MMBR.00014-10
      p.
         Spor, A., Koren, O. & Ley, R. (2011). Unraveling the effects of the environment and host genotype on the gut micobiome. Nature Reviews Microbiology, 9, 279-290. doi:10.1038/nrmicro2540
      p.
         Yatsunenko, T., Rey, F.E., Manary, M.J., Trehan, I., Dominguez-Bello, M.G., Contreras, M., Magris, M., Hidalgo, Gl, Galdassano, R.N., Anokhin, A.P., Heath, A.C., Warner, B., Reeder, J., Kuczynski, J., Caporaso, J.G., Lozupone, C.A., Lauber, C., Clemente, J.C., Knights, D., Knight, R. & Gordon, J.I. (2012). Human gut microbiome viewed across age and geography. Nature, 486, 222-228.
