extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-4-10
         p
            | The Great Salt Lake Ecology module is the product of a collaboration between the Genetic Science Learning Center, the Great Salt Lake Institute and a group of outstanding local Utah teachers. The teachers contributed their ideas to the project during two Great Salt Lake Summer Institutes, which were held in 2008 and 2010.
         h2 Teachers
         |  
         |  
         p
            | Jean Bower, Salt Lake Community College (2010)
            br
            |     Christine Celestino, Juan Diego Catholic High School (2008)
            br
            |  Christian Davies, Brockbank Junior High (2008)
            br
            |  Steve Drott, Woods Cross High School (2008)
            br
            | Erika DuRoss, Realms of Inquiry (2010)
            br
            |  Haylee Ferguson, American Fork High School (2008, 2010)
            br
            |  Rebekah Jones, Wasatch High School (2008, 2010)
            br
            |  David van Dijk, Pleasant Gove High School (2008)
         |  
         |  
         h2 GSLC Staff
         |    
         |  
         p
            | Pete Anderson 
            br
            |   Sheila Avery 
            br
            |   Nicole Ledford 
            br
            |   Molly Malone 
            br
            |   April Mitchell 
            br
            |   Brendan Nicholson
            br
            |   Kevin Pompei 
            br
            |   Louisa Stark, Ph.D. 
            br
            |   Harmony Starr 
            br
            |   Mat Weaver

      .uk-width-medium-6-10
         img(src='images/Participants.jpg', alt='Participants', width='420', height='282')
         |     
         p.caption
            | 2008 GSL Summer Institute participants visit Black Rock. From left to right: Christian Davies, Christine Clay, Haylee Ferguson, David van Dijk, Christine Celestino, Louisa Stark , Steve Drott, Brian Avery, Rebekah Jones, Dina Drits.
         |        
         |        
         h2 GSLI staff
         |    
         |  
         p
            | Brian Avery
            br
            |     Bonnie Baxter
            br
            |     Jaimi Butler
   +pod('Summer Institute Lecturers')
      |     
      p(style='padding-left: 20px;')
         | We are grateful to the lectures who spoke at the 2008 and 2010 Great Salt Lake Summer Institutes:
      |    
      .uk-width-medium-4-10
         strong Brian Avery, Ph.D. (2008)
         br
         |  Associate Professor, Department of Biology
         br
         |  Associate Director, Great Salt Lake Institute
         br
         |  Westminster College, Salt Lake City, UT
         br
         br
         strong Donald Breakwell, Ph.D. (2010)
         br
         | Professor, Department of Biology
         br
         | Brighman Young University, Provo, UT
         br
         br
         |  
         strong Bonnie Baxter, Ph.D. (2008, 2010)
         br
         |  Associate Professor, Department of Biology
         br
         |  Director, Great Salt Lake Institute
         br
         |  Westminster College, Salt Lake City, UT
      |    
      .uk-width-medium-6-10
         strong Frank Howe, Ph.D. (2008) 
         br
         |  University Research Liaison
         br
         |  Utah Division of Wildlife Resources
         br
         br
         |   
         strong David Naftz, Ph.D. (2008) 
         br
         |  Research Hydrologist and Water Quality Specialist
         br
         |  U.S. Geological Survey
   +pod('Special Acknowledgements')
      |    
      .uk-width-medium-6-10
         p
            | Jaimi Butler, Coordinator, Great Salt Lake Institute, for her continued assistance during the production process.
         |  
         p
            | Christine Clay, Ph.D., Assistant Professor, Westminster College Department of Biology, for sharing her knowledge of Great Salt Lake ecology during the 2008 Summer Institute.
         |  
         p
            | The Great Salt Lake Institute and Westminster College, for organizing and hosting the 2008 and 2010 Summer Institutes.
         p
            | Greg Carling and Bill Johnson from the Department of Geology &amp; Geophysics at the University of Utah for letting us tag along on one of their snow sampling trips.
         p
            | Jim VanLeuuwen and Phil Brown from the Utah Division of Wildlife Resources, for allowing us and our video cameras to accompany them on a brine shrimp sampling expedition.
         p
            | R. Jefre Hicks, President of the Utah Airboat Association, for taking us on an airboat tour of the lake.
         p Tom Paresi for his assistance during the 2010 Summer Institute.
      |    
      .uk-width-medium-4-10
         p.caption
            | This product was partially funded by a grant awarded under the Workforce Innovation in Regional Economic Development (WIRED) Initiative as implemented by the U.S. Employment and Training Administration. The information contained in this product was created by a grantee organization and does not necessarily reflect the official position of the U.S. Department of Labor. All references to non-governmental companies or organizations, their services, products, or resources are offered for informational purposes and should not be construed as an endorsement by the Department of Labor. This product is copyrighted by the institution that created it and is intended for individual organizational, non-commercial use only.
   
   
