extends /shared/layout
block content
   +pageTitle()(teach="labs")
   .lg-section
      .uk-container.uk-container-center
         .uk-grid
            .uk-width-medium-1-2
               .lg-index-items
                  +index-item('DNA Extraction','interactive explore', 'extraction', 'images/extraction.jpg')
                     p DNA is extracted from human cells for a variety of reasons.  Try this virtual laboratory to extract DNA from human cells.
                  +index-item('Gel Electrophoresis','interactive explore', 'gel', 'images/gel.jpg')
                     p Sort and measure DNA strands by running your own gel electrophoresis experiment.
                  +index-item('Flow Cytometry','interactive explore', 'flowcytometry', 'images/flowcytometry.jpg')
                     p Flow cytometry can sort and count mixtures of tiny particles. Here, you’ll use this tool to get information about the cells in blood and bone marrow samples.
            .uk-width-medium-1-2
               .lg-index-items
                  +index-item('PCR','interactive explore', 'pcr', 'images/pcr.jpg')
                     p PCR is a relatively simple and inexpensive tool that you can use to focus in on a segment of DNA and copy it billions of times over. See how it works!
                  +index-item('DNA Microarray','interactive explore', 'microarray', 'images/microarray.jpg')
                     p Scientists are using DNA microarrays to investigate everything from cancer to pest control.  Use a DNA microarray to investigate the differences between a healthy cell and a cancer cell.
