.uk-slidenav-position(data-uk-slideshow)
   ul.uk-slideshow
      li.item.uk-active
         img(src='images/shirts/1harvest.jpg')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:60px").
            Each year, the US produces about 8.5 billon pounds (3.9 billion kg) of cotton fiber.
      li.item
         img(src='images/shirts/2refinement.jpg')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:60px").
            If all of that fiber were made into fabric...
      li.item
         img(src='images/shirts/3shirts.jpg')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:60px").
            ...and the fabric were made into t-shirts, that would be enough to make nearly 3 t-shirts for every person on the planet!
      li.item
         img(src='images/shirts/4refinement.jpg')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:60px").
            China and India produce even more cotton than the US—about 17.5 and 13.3 billion pounds, respectively.

   a.uk-slidenav.uk-slidenav-previous(href='', data-uk-slideshow-item='previous', style="color: #fff; font-size: 90px; text-shadow: #000 1px 2px 5px; display:block;")
   a.uk-slidenav.uk-slidenav-next(href='', data-uk-slideshow-item='next',  style="color: #fff; font-size: 90px; text-shadow: #000 1px 2px 5px; display:block;")
   ul.uk-dotnav.uk-dotnav-contrast.uk-position-bottom.uk-flex-center
      li(data-uk-slideshow-item="0")
         a(href="")
      li(data-uk-slideshow-item="1")
         a(href="")
      li(data-uk-slideshow-item="2")
         a(href="")
      li(data-uk-slideshow-item="3")
         a(href="")
