.uk-slidenav-position(data-uk-slideshow)
   ul.uk-slideshow
      li.item.uk-active
         img(src='images/types/1fourspecies.jpg', alt='four cotton species')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:60px").
            Four species of cotton are farmed. All of them belong to the genus <i>Gossypium</i>.
      li.item
         img(src='images/types/2upland.jpg', alt='upland cotton')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:60px").
            About 90% the cotton grown in the US and around the world is upland cotton (<i>G. hirsutum</i>). The plants produce large amounts of fiber, which is used mainly for clothing like t-shirts and blue jeans, as well as disposable products and paper. Upland cotton is native to the Americas.
      li.item
         img(src='images/types/3pima.jpg', alt='pima cotton')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:60px").
            Pima cotton (<i>G. barbadense</i>), also known as Egyptian cotton or extra-long staple cotton, is famous for its long, strong, and silky fibers. The plants are harder to grow than upland, and they produce smaller amounts of fiber—but their fiber is very valuable. It is used for high-quality textiles, like high thread-count sheets and fine dress shirts. Pima cotton is also native to the Americas. (<i>photos by Forest &amp; Kim Star</i>)
      li.item
         img(src='images/types/4treeandlevant.jpg', alt='tree and levant cotton')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:60px").
            Tree cotton (<i>G. arboreum</i>) is native to India, and Levant cotton (<i>G. herbaceum</i>) is native to Africa. These varieties are less productive than their American relatives, and their fibers are shorter and course, so their usefulness is more limited. Together, they account for just a few percent of the world's commercially produced cotton, though they were more widely used before the modern era. (<i>tree cotton photo by KENPEI, Levant cotton photo by H. Zell</i>)


   a.uk-slidenav.uk-slidenav-previous(href='', data-uk-slideshow-item='previous', style="color: #fff; font-size: 90px; text-shadow: #000 1px 2px 5px; display:block;")
   a.uk-slidenav.uk-slidenav-next(href='', data-uk-slideshow-item='next',  style="color: #fff; font-size: 90px; text-shadow: #000 1px 2px 5px; display:block;")
   ul.uk-dotnav.uk-dotnav-contrast.uk-position-bottom.uk-flex-center
      li(data-uk-slideshow-item="0")
         a(href="")
      li(data-uk-slideshow-item="1")
         a(href="")
      li(data-uk-slideshow-item="2")
         a(href="")
      li(data-uk-slideshow-item="3")
         a(href="")
