.uk-slidenav-position(data-uk-slideshow)
   ul.uk-slideshow
      li.item.uk-active
         img(src='images/uses/1cottonplant.jpg', alt='cotton plant')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:60px").
            This is a cotton plant.
      li.item
         img(src='images/uses/2clothesandbedding.jpg', alt='clothes and bedding')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:60px").
            If you look around your home, you'll find lots of things that are made from cotton—like clothing, sheets, and towels. Cotton batting is often used to stuff furniture and mattress.
      li.item
         img(src='images/uses/3disposable.jpg', alt='disposable cotton products')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:60px").
            Lots of disposable products are made from cotton—cotton swabs, cotton balls, bandages, feminine products, wipes, diapers.
      li.item
         img(src='images/uses/4bookandmoney.jpg', alt='book binding and money')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:60px").
            You'll find it in book bindings and paper money.
      li.item
         img(src='images/uses/5soapandfood.jpg', alt='soap and food')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:60px").
            The seeds are useful too. You can probably find cotton seed oil in your kitchen. It's also used in things like soap, lotion, candles, and paint.
      li.item
         img(src='images/uses/6livestockfeed.jpg', alt='livestock feed')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:60px").
            After the oil is pressed out, the remaining high-protein "meal" can be made into fertilizer or added to food for animals.

   a.uk-slidenav.uk-slidenav-previous(href='', data-uk-slideshow-item='previous', style="color: #fff; font-size: 90px; text-shadow: #000 1px 2px 5px; display:block;")
   a.uk-slidenav.uk-slidenav-next(href='', data-uk-slideshow-item='next',  style="color: #fff; font-size: 90px; text-shadow: #000 1px 2px 5px; display:block;")
   ul.uk-dotnav.uk-dotnav-contrast.uk-position-bottom.uk-flex-center
      li(data-uk-slideshow-item="0")
         a(href="")
      li(data-uk-slideshow-item="1")
         a(href="")
      li(data-uk-slideshow-item="2")
         a(href="")
      li(data-uk-slideshow-item="3")
         a(href="")
      li(data-uk-slideshow-item="4")
         a(href="")
      li(data-uk-slideshow-item="5")
         a(href="")
