extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-6-10
         p
            | When we hear of cloning successes, we learn about only the few attempts that
            | worked.  What we don&apos;t see are the many, many cloning experiments that failed.
            | Even in the successful clones, problems tend to arise later, during the animal&apos;s
            | development to adulthood.
         | &#x9;&#x9;
         p
            | Cloning animals shows us what might happen if we try to clone humans. What have
            | these animals taught us about the risks of cloning?
      |    
      .uk-width-medium-4-10
         figure
            img(src='images/chickeggs.jpg', height='200', width='352', alt='chick with eggs')
            |          
            p
   +pod('High failure rate')
      |    
      .uk-width-medium-6-10
         p
            | Cloning animals through somatic cell nuclear transfer is simply inefficient. The
            | success rate ranges from 0.1 percent to 3 percent, which means that for every 1000
            | tries, only one to 30 clones are made. Or you can look at it as 970 to 999 failures
            | in 1000 tries.
         | &#x9;&#x9;
         p Here are some reasons:
         | &#x9;&#x9;
         | &#x9;&#x9;
         ul
            li The enucleated egg and the transferred nucleus may not be compatible
            | &#x9;&#x9;
            li
               | An egg with a newly transferred nucleus may not begin to divide or develop properly
            | &#x9;&#x9;
            li Implantation of the embryo into the surrogate mother might fail
            | &#x9;&#x9;
            li The pregnancy itself might fail
      |    
      .uk-width-medium-4-10
         figure
            img(src='images/failure.jpg', height='312', width='352', alt='failure rate')
            |          
            p
   +pod('Problems during later development')
      |    
      .uk-width-medium-6-10
         p
            | Cloned animals that do survive tend to be much bigger at birth than their natural
            | counterparts. Scientists call this &quot;Large Offspring Syndrome&quot; (LOS). Clones with LOS
            | have abnormally large organs. This can lead to breathing, blood flow and other problems.
         | &#x9;&#x9;
         p
            | Because LOS doesn&apos;t always occur, scientists cannot reliably predict whether it will
            | happen in any given clone. Also, some clones without LOS have developed kidney or brain
            | malformations and impaired immune systems, which can cause problems later in life.
      |    
      .uk-width-medium-4-10
         figure
            img(src='', height='', width='', alt='')
            |          
            p
   +pod('Abnormal gene expression patterns')
      |    
      .uk-width-medium-6-10
         p
            | Are the surviving clones really clones? The clones look like the originals, and their
            | DNA sequences are identical. But will the clone express the right genes at the right time?
         | &#x9;&#x9;
         p
            | In 
            a(href='../clickandclone/') Click and Clone
            | , we saw that one challenge is to
            | &#x9;&#x9;re-program the transferred nucleus to behave as though it belongs in a very early embryonic
            | &#x9;&#x9;cell. This mimics natural development, which starts when a sperm fertilizes an egg.
         | &#x9;&#x9;
         p
            | In a naturally-created embryo, the DNA is programmed to express a certain set of genes.
            | Later on, as the embryonic cells begin to differentiate, the program changes. For every
            | type of differentiated cell - skin, blood, bone or nerve, for example - this program is different.
         |  
         | &#x9;&#x9;
         p
            | In cloning, the transferred nucleus doesn&apos;t have the same program as a natural embryo. It
            | is up to the scientist to reprogram the nucleus, like teaching an old dog new tricks. Complete
            | reprogramming is needed for normal or near-normal development. Incomplete programming will cause
            | the embryo to develop abnormally or fail.
      |    
      .uk-width-medium-4-10
         figure
            img(src='', height='', width='', alt='')
            |          
            p
   +pod('Telomeric differences')
      |    
      .uk-width-medium-4-10
         p
            | As cells divide, their chromosomes get shorter. This is because the DNA sequences at both
            | ends of a chromosome, called telomeres, shrink in length every time the DNA is copied. The
            | older the animal is, the shorter its telomeres will be, because the cells have divided many,
            | many times. This is a natural part of aging.
         | &#x9;&#x9;
         p
            | So, what happens to the clone if its transferred nucleus is already pretty old? Will the
            | shortened telomeres affect its development or lifespan?
         | &#x9;&#x9;
         p
            | When scientists looked at the telomere lengths of cloned animals, they found no clear
            | answers. Chromosomes from cloned cattle or mice had longer telomeres than normal. These
            | cells showed other signs of youth and seemed to have an extended lifespan compared with
            | cells from a naturally conceived cow. On the other hand, Dolly the sheep&apos;s chromosomes
            | had shorter telomere lengths than normal. This means that Dolly&apos;s cells were aging faster
            | than the cells from a normal sheep.
         | &#x9;&#x9;
         p
            | To date, scientists aren&apos;t sure why cloned animals show differences in telomere length.
      |    
      .uk-width-medium-6-10
         figure
            img(src='images/telomeres.png', height='690', width='488', alt='Telomeres')
            |          
            p
   
   
