extends /shared/modal
block modal-content

   .uk-width-1-1
      p Blending separated the pea cells.
      p
         | But each cell is surrounded by a sack (the cell membrane). DNA is found inside a second sack (the nucleus) within each cell.
      p To see the DNA, we have to break open these two sacks.

      img(src='detergent/images/1and2.jpg', alt='Why Did I Add Detergent To My Pea Soup?', width='687', height='512')
      p We do this with detergent.

      p Why detergent? How does detergent work?
      p
         | Think about why you use soap to wash dishes or your hands. To remove grease and dirt, right?
      p Soap molecules and grease molecules are made of two parts:

      img(src='detergent/images/3.jpg', alt='Soap and Grease', width='536', height='187')

      p Heads, which like water. Tails, which hate water.

      p
         | Both soap and grease molecules organize themselves in bubbles (spheres) with their heads outside
         | to face the water and their tails inside to hide from the water.

      img(src='detergent/images/4.jpg', alt='Soap and Grease', width='670', height='341')

      p
         | When soap comes close to grease, their similar structures cause them to combine, forming a greasy soapy ball.
      img(src='detergent/images/5.jpg', alt='Soap and Grease', width='664', height='336')

      p
         | A cell&apos;s membranes have two layers of lipid (fat) molecules with proteins going through them.

      p
         | When detergent comes close to the cell, it captures the lipids and proteins.

      p
         | After adding the detergent, what do you have in your pea soup?

      img(src='detergent/images/6.jpg', alt='Soap and Grease', width='750', height='529')
   
