extends /shared/layout

block content
  +pageTitle
  +pod("")
    +vimeo('230535104')
  
  +references
        p
            | Campbell, C.D. & Eichler, E.E. (2013). Properties and rates of germline mutations in humans. Trends in Genetics, doi: 10.1016/j.tig.2013.04.005 
        p
            | Eckburg, P.B., Bik, E.M., Bernstein, C.N., Purdom, E., Dethlefsen, L., Sargent, M., Gill, S.R., Nelson, K.E. & Relman, D.A. Diversity of the human intestinal microbial flora. Science 308, 5728, 1635- 1638. doi: 10.1126/science.1110591 
        p
            | Hoekstra, H.E., Krenz, J.G. & Nachman, M.W. (2005). Local adaptation in the rock pocket mouse (Chaetodipus intermedius): natural selection and phylogentic history of populations. Heredity 94, 217-228. doi: 10.1038/sj.hdy.6800600 
        p
            | Manceau, M., Domingues, V.S., Linnen, C.R., Rosenblum, E.B. & Hoekstra, H.E. (2010). Convergence in pigmentation at multiple leveals: mutations, genes and function. Phil. Trans. R. Soc. B 365, 2439-2450. doi: 10.1098/rstb.2010.0104 
        p
            | Nachman, M.W., Hoekstra, H.E. & D’Agostino, S.L. The genetic basis of adaptive melanism in pock- et mice. Proceedings of the National Academy of Sciences 100, 9, 5268-5273. doi: 10.1073/ pnas.0431157100 
        p
            | Sender, R., Fuchs, S. & Milo, R. (2016). Revised estimates for the number of human and bacteria cells in the body. PLoS Biology 14, 8, e1002533. doi: 10.1371/journal.pbio.1002533 

