extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-6-10
         p
            | Children, parents, and grandparents often share similar health problems. If a particular disease
            | runs in your family, you may have inherited factors that put you at risk.
         |       
         p
            | Inherited risk factors are passed down from parent to child by way of genes. All humans have the
            | same genes, but different people have slightly different versions of these genes.
         |       
         p
            | Sometimes genetic differences cause disease. In rare cases, changing a single gene is enough to
            | cause disease. But more often disease results from the combined effects of minor changes in
            | multiple genes. Each gene then contributes in a small way to the symptoms.
      |    
      .uk-width-medium-4-10
         div(style='background-color: #dadddd; border: 1px solid black;')
            p(style='font-weight: bold; text-align: center;') Features of a Family History that Increase Risk
            |          
            ul(style='list-style: none; list-style-image: url(images/checkbox.gif); margin-left: 10px; padding-left: 20px; padding-right: 10px; font-size: 12px; padding-bottom: 12px;')
               li Having one or more close relatives with a medical condition.
               |             
               li
                  | Having a relative diagnosed with a condition at an early age (typically before age 55).
               |             
               li
                  | Having a relative with a disease that is more rare in a certain gender (for example, a female with heart disease).
               |             
               li
                  | Having a combination of diseases that run in your family (for example, both diabetes and heart disease).
   +pod('Prevalence of Common Diseases')
      |    
      .uk-width-medium-6-10
         p
            | It is estimated that heart disease, cancer, and diabetes account for 7 of every 10 deaths in the
            | United States. Like rare genetic disorders, these &quot;common&quot; diseases can
            | also be considered genetic diseases because they run in families. Therefore, a family history can provide important
            | information about your family&apos;s risk of disease. But is it possible to predict who will or will
            | not develop disease? If so, how?
      |    
      .uk-width-medium-4-10
   +pod('Predicting Disease')
      |    
      .uk-width-medium-6-10
         p
            | Common diseases result from the combined effects of multiple genes and environmental factors.
            | This complexity makes it very difficult to predict whether or not an individual will inherit disease.
         |       
         p
            | One challenge is that the number of genes contributing to so-called &quot;polygenic&quot; diseases
            | is usually not known. The number of genes carried by parents or children that can increase risk
            | is also not known. And environmental factors can greatly vary an individual&apos;s risk of developing disease.
         |       
         h3 Polygenic Disease Inheritance
         |       
         p
            | Because most common diseases involve more than one gene, inheritance patterns are varied
            | and complex. If a parent has a disease, it does not necessarily mean a child will develop the same
            | disease. So risk can be estimated but not calculated.
         |       
         p
            | Information in a family medical history must be used to assign an individual to a low, medium,
            | or high risk group. Risk is estimated by comparing an individual&apos;s family history to data collected
            | from large families affected by a disease. Persons in each risk group share characteristics that
            | correlate with a certain probability of developing a disease.
      |    
      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src='images/calc_risk.png', alt='Calculating risk')
            |          
            p
   +pod('What If I Don&apos;t Know My Family History?')
      |    
      .uk-width-medium-6-10
         p
            | Even if you don&apos;t have access to medical information from your biological
            | family, it&apos;s still useful to complete a history using your guardian family.
            | Family histories capture more than just genetic risk factors.
         |       
         p
            | They also capture cultural, social, and environmental risk factors shared by a family
            | that can contribute to disease.
      |    
      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src='images/photos.jpg', alt='Family Photos')
            |          
            p
   +pod('Identifying Disease Genes')
      |    
      .uk-width-medium-6-10
         p
            | One goal of genetic research is to identify genes that contribute to complex
            | diseases, and understand how these genes are influenced by a person&apos;s environment.
         |       
         p
            | Scientists are beginning to identify whole lists of genes that contribute to each
            | of the major common adult diseases, such as heart disease, cancer, and diabetes.
      |    
      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src='images/Computer.jpg', alt='computer screen')     
            p
               | Human DNA was sequenced using robots and computers, revealing that we have
               | about 21,000 genes! The sequence was completed in April 2003 as part of the Human Genome Project.
   
   
