extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-6-10
         p
            | Researchers have been working for decades to bring gene therapy to the clinic, yet very few patients have received any effective gene-therapy treatments. But that doesn&apos;t mean gene therapy is an impossible dream. Even though gene therapy has been slow to reach patients, its future is very encouraging. Decades of research have taught us a lot about designing safe and effective vectors, targeting different types of cells, and managing and minimizing immune responses in patients. We&apos;ve also learned a lot about the disease genes themselves. Today, many clinical trials are underway, where researchers are carefully testing treatments to ensure that any gene therapy brought into the clinic is both safe and effective.
         p
            | Below are some gene therapy success stories. Successes represent a variety of approaches&mdash;different vectors, different target cell populations, and both in vivo and ex vivo approaches&mdash;to treating a variety of disorders.
      |    
      .uk-width-medium-4-10
         figure
            img.img-responsive(src='images/1_sebastian.jpg', alt='Sebastian Misztal')
            |         
            p
               | Sebastian Misztal was a patient in a hemophilia gene therapy trial in 2011. Following the treatment, Misztal no longer had spontaneous bleeding episodes. 
               br
               em Credit: UCLH/UCL NIHR Biomedical Research Centre
   +pod('Immune deficiencies')
      .uk-width-medium-6-10
         p
            | Several inherited immune deficiencies have been treated successfully with gene therapy. Most commonly, blood stem cells are removed from patients, and retroviruses are used to deliver working copies of the defective genes. After the genes have been delivered, the stem cells are returned to the patient. Because the cells are treated outside the patient&apos;s body, the virus will infect and transfer the gene to only the desired target cells.
         p
            a(href='/content/disorders/singlegene/') Severe Combined Immune Deficiency (SCID)
            |  was one of the first genetic disorders to be treated successfully with gene therapy, proving that the approach could work. However, the first clinical trials ended when the viral vector triggered leukemia (a type of blood cancer) in some patients. Since then, researchers have begun trials with new, safer viral vectors that are much less likely to cause cancer.
         p
            a(href='/content/disorders/singlegene/') Adenosine deaminase (ADA) deficiency
            |  is another inherited immune disorder that has been successfully treated with gene therapy. In multiple small trials, patients&apos; blood stem cells were removed, treated with a retroviral vector to deliver a functional copy of the ADA gene, and then returned to the patients. For the majority of patients in these trials, immune function improved to the point that they no longer needed injections of ADA enzyme. Importantly, none of them developed leukemia.
      |    
      .uk-width-medium-4-10
         figure
            img.img-responsive(src='images/2_immune.jpg', alt='Immune Deficiency')
            |         
            p
   +pod('Hereditary blindness')

      .uk-width-medium-6-10
         p
            | Gene therapies are being developed to treat several different types of inherited blindness&mdash;especially degenerative forms, where patients gradually lose the light-sensing cells in their eyes. Encouraging results from animal models (especially mouse, rat, and dog) show that gene therapy has the potential to slow or even reverse vision loss.
         p
            | The eye turns out to be a convenient compartment for gene therapy. The retina, on the inside of the eye, is both easy to access and partially protected from the immune system. And viruses can&apos;t move from the eye to other places in the body. Most gene-therapy vectors used in the eye are based on AAV (adeno-associated virus).
         p
            | In one small trial of patients with a form of degenerative blindness called LCA (Leber congenital amaurosis), gene therapy greatly improved vision for at least a few years. However, the treatment did not stop the retina from continuing to degenerate. In another trial, 6 out of 9 patients with the degenerative disease choroideremia had improved vision after a virus was used to deliver a functional REP1 gene.
      |    
      .uk-width-medium-4-10
         figure
            img.img-responsive(src='images/3_vision.jpg', alt='Hereditary Blindness')
            |         
            p
               | Credit:  Jean Bennett, MD, PhD, Perelman School of Medicine, University of Pennsylvania; Manzar Ashtari, Ph.D., of The Children&apos;s Hospital of Philadelphia, Science Translational Medicine.
   +pod('Hemophilia')
      .uk-width-medium-6-10
         p
            | People with hemophilia are missing proteins that help their blood form clots. Those with the most-severe forms of the disease can lose large amounts of blood through internal bleeding or even a minor cut.
         p
            | In a small trial, researchers successfully used an adeno-associated viral vector to deliver a gene for Factor IX, the missing clotting protein, to liver cells. After treatment, most of the patients made at least some Factor IX, and they had fewer bleeding incidents.
      |    
      .uk-width-medium-4-10
         figure
            img.img-responsive(src='images/4_hemo.jpg', alt='Hemophilia')
            |         
            p
   +pod('Blood disease')
      .uk-width-medium-6-10
         p
            | Patients with beta-Thalassemia have a defect in the beta-globin gene, which codes for an oxygen-carrying protein in red blood cells. Because of the defective gene, patients don&apos;t have enough red blood cells to carry oxygen to all the body&apos;s tissues. Many who have this disorder depend on blood transfusions for survival.
         p
            | In 2007, a patient received gene therapy for severe beta-Thalassemia. Blood stem cells were taken from his bone marrow and treated with a retrovirus to transfer a working copy of the beta-globin gene. The modified stem cells were returned to his body, where they gave rise to healthy red blood cells. Seven years after the procedure, he was still doing well without blood transfusions.
         p
            | A similar approach could be used to treat patients with 
            a(href='/content/disorders/singlegene/') sickle cell disease
            | .
      |    
      .uk-width-medium-4-10
         figure
            img.img-responsive(src='images/5_beta.jpg', alt='beta-Thalassemia')
            |         
            p
   +pod('Fat metabolism disorder')
      .uk-width-medium-6-10
         p
            | In 2012, Glybera became the first viral gene-therapy treatment to be approved in Europe. The treatment uses an adeno-associated virus to deliver a working copy of the LPL (lipoprotein lipase) gene to muscle cells. The LPL gene codes for a protein that helps break down fats in the blood, preventing fat concentrations from rising to toxic levels.
      |    
      .uk-width-medium-4-10
   +pod('Cancer')
      .uk-width-medium-6-10
         p
            | Several promising gene-therapy treatments are under development for cancer. One, a modified version of the herpes simplex 1 virus (which normally causes cold sores) has been shown to be effective against melanoma (a skin cancer) that has spread throughout the body. The treatment, called T-VEC, uses a virus that has been modified so that it will (1) not cause cold sores; (2) kill only cancer cells, not healthy ones; and (3) make signals that attract the patient&apos;s own immune cells, helping them learn to recognize and fight cancer cells throughout the body. The virus is injected directly into the patient&apos;s tumors. It replicates (makes more of itself) inside the cancer cells until they burst, releasing more viruses that can infect additional cancer cells.
         p
            | A completely different approach was used in a trial to treat 59 patients with leukemia, a type of blood cancer. The patients&apos; own immune cells were removed and treated with a virus that genetically altered them to recognize a protein that sits on the surface of the cancer cells. After the immune cells were returned to the patients, 26 experienced complete remission.
      |    
      .uk-width-medium-4-10
         figure
            img.img-responsive(src='images/6_melanoma.jpg', alt='Melanoma')
            |         
            p
   +pod("Parkinson's disease")

      .uk-width-medium-6-10
         p
            | Patients with Parkinson&apos;s disease gradually lose cells in the brain that produce the signaling molecule dopamine. As the disease advances, patients lose the ability to control their movements.
         p
            | A small group of patients with advanced Parkinson&apos;s disease were treated with a retroviral vector to introduce three genes into cells in a small area of the brain. These genes gave cells that don&apos;t normally make dopamine the ability to do so. After treatment, all of the patients in the trial had improved muscle control.
      |    
      .uk-width-medium-4-10

      +references
         <p>Cavazzano-Calvo, M. (2010). Transfusion independence and HMGA2 activation after gene therapy of human beta-thalassaemia. Nature 467, 318-322. doi:10.1038/nature09328</p>
         <p>Cideciyan, A.V. et al (22 January 2013). Human retinal gene therapy for Leber congenital amaurosis shows advancing retinal degeneration despite enduring visual improvement. Proceedings of the National Academy of Sciences of the United States of America, Earline Online Publication.  doi: 10.1073/pnas.1218933110</p>
         <p>MacLaren, R.E. et al (16 January 2014). Retinal gene therapy in patients with choroideremia: initial findings from a phase 1/2 clinical trial. The Lancet, Early Online Publication. doi:10.1016/S0140-6736(13)62117-0</p>
         <p>Nathwani, A.C. (2011). Adenovirus-associated virus vector-mediated gene transfer in hemophilia B. The New England Journal of Medicine, 365(25), 2357-2365.</p>
         <p>Nienhuis, A.W. (2013). Development of gene therapy for blood disorders: an update. Blood 122(9), 1556-1564. doi: 10.1182/blood-2013-04-453209</p>
         <p>Palfi, S. et al (10 January 2014). Long-term safety and tolerability of ProSavin, a lentiviral vector-based gene therapy for parkinson's disease; a dose escalation, open-label, phase 1/2 trial. The Lancet, Early Online Publication. doi: 10.1016/S014006736(13)61939-X</p>
         <p>Penn Medicine (7 December 2013). Penn medicine team reports findings from research study of first 59 adult and pediatric leukemia patients who received investigational, personalized cellular therapy CTL019. Retrieved from http://www.uphs.upenn.edu/news/News_Releases/2013/12/ctl019/</p>
         <p>Persons, Derek A. (2010). Gene therapy: Targeting beta-thalassaemia. Nature 467, 277-278. doi: 10.1038/467277a</p>
         <p>Petrs-Silva, H. & R. Linden (2014). Advances in gene therapy technologies to treat retinitis pigmentosa. Clinical Opthalmology 2014(8), 127-136. doi: 10.2147/OPTH.538041</p>
