extends /shared/layout

block content
  +pageTitle

  +pod('')
    .uk-width-medium-4-10
        p
          | Spider mite herbivores are consuming this corn plant. In agriculture, pest damage is a major source of crop loss. This page describes how farmers protect their crops from herbivores such as caterpillars, aphids, beetles, and mites.

    .uk-width-medium-6-10
        figure
          img.lg-no-shadow(src="images/mites_on_corn.jpg", alt="spider mites on corn stalk")
          p A corn (maize) stalk infested with spider mites.
          
  +pod('Agricultural practices')
          
   .uk-width-medium-6-10
     figure
       img.lg-no-shadow(src="images/crop_rotation.jpg", alt="a variety of crop fields")
       p Crop rotation is one kind of agricultural practice that can help reduce damage from herbivorous insects.

       
   .uk-width-medium-4-10
      p
        | Farming practices, like rotating crops and keeping fields weed-free, can reduce pest damage.
      p
        | Crop rotation is the practice of planting a field with a different crop from one year to the next, in a repeating cycle. This strategy tends to work well against specialists like potato beetles and corn root worms. These kinds of insects die off during the in-between years when the field is planted with a crop that they don’t prefer. The original crop plant can then be grown the next year.
      p
        | Getting rid of leftover plant material after harvesting, like stems infested with overwintering insect larvae, can also reduce the numbers of herbivores the following year. For major cereal crops, for example, farmers can plow the soil to bury stubble underground. The pests cannot emerge to damage new plants. Some insect herbivores also live on weeds in or near fields. Removing weeds can thus reduce potential reservoirs of crop pests.

      
      p 
        | Practices like crop rotation have long been used to control herbivores. Whether they work or not depends on the biology of the particular pest species. They tend to work against herbivores with limited mobility in one or more life stages. But these practices don’t work as well against insects that can fly long distances.

  +pod('Control with pesticides')
    .uk-width-medium-4-10
      p
          | The application of pesticides is widely used to limit herbivore damage to crops. Farmers have been using naturally occurring compounds—such as pyrethrins from Chrysanthemum flowers or nicotine from tobacco—for centuries to kill insects on crop plants, or even head lice on humans.

      p
          | Compounds that act as pesticides have diverse chemical structures with different modes of action. Some, such as pyrethrins and nicotine, disrupt the nervous system of arthropods, causing paralysis and then death. Others block key enzymes that insect or mite larvae need to grow and develop. Still others bind to and inactivate proteins that are essential for basic life functions, such as energy production, metabolism, feeding, and reproduction.

      p
          | Chemists have developed synthetic analogs of plant-derived pesticides. These compounds are stronger and more stable than their natural counterparts. Synthetic analogs include pyrethroids and neonicotinoids, the most widely used pesticides in many agricultural areas. Chemists have also developed many other synthetic pesticide compounds that have no related chemical structures in nature. 

      p
          | While pesticides can be highly effective in combating herbivores, many herbivores have evolved resistance to them. This leads to a cycle where farmers continually need new, effective compounds. Another downside is that pesticides kill indescriminately. They often kill predatory insects, which would have otherwise eaten the pest species.

      p
          | Likewise, pesticides may also harm other wildlife on land or in water, and they may impact human health. For this reason, some pesticides like DDT have been banned in most countries. Today, new pesticides are rated not only for their ability to control herbivores, but also for their off-target impacts on other wildlife, as well as their potential risk to humans.

    .uk-width-medium-6-10
      figure
        img.lg-no-shadow(src="images/plant_pesticides.jpg", alt="natural pesticides")
        p Some pesticide compounds occur naturally in plants. Scientists developed chemical compounds similar in structure (synthetic analogs) but more stable to use as pesticides.

      figure
        img.lg-no-shadow(src="images/synthetic_pesticides.jpg", alt="example pesticides")
        p Many synthetic pesticide compounds have no closely related chemical structures in nature.
        
      +well
          h3 Related content
          a(href='/content/herbivores/toxins/') Learn more
          |  about how different kinds of pesticides work to kill insects and how herbivorous insects can develop ways to overcome them.
          
  +pod('Plant breeding &amp; GMOs')
    .uk-width-medium-6-10
      figure
        img.lg-no-shadow(src="images/planthopper.jpg", alt="brown planthopper damage on rice")
        p Brown planthoppers are a major pest in rice fields. The field on the bottom left is a normal rice field. Infested rice fields look like the image in the lower right. Rice strains have been developed that are resistant to brown planthoppers. Breeding for resistance helps reduce the amount of pesticides applied to our crops.
          
    .uk-width-medium-4-10
      p
        | Just as strains of plants vary for traits like seed color or fruit size, they also vary in the defense compounds that they make. These may be plant chemicals that are toxic to herbivores or proteins that kill or deter them. 

      p
        | Through traditional breeding, geneticists can breed crop plants by performing crosses among natural plant varieties. This has led to new crop varieties that are both high yielding and resistant to herbivore damage. 

      p
        | Geneticists can also use other methods to introduce new traits into crop plants. This has led to new varieties of crops like cotton and corn that are highly resistant to damaging herbivores. In one type of genetic modification, transgenic technology, genes from one organism can be inserted into another, different organism. For instance, some bacteria have genes that code for proteins that are toxic to certain caterpillars. Scientists inserted these bacterial genes into the genome of corn plants. The corn plants can now make the protein, killing caterpillars that eat them. 

      p
        | Some studies have shown that crops that have been genetically modified to resist pests result in greater biodiversity in fields. Because these crops need fewer pesticides, there is less harm to beneficial insects and other animals.

      +well
          h3 Related content
          a(href='/content/cotton/crop/') Learn more 
          | about how traditional breeding and genetic science is used to improve crops. 
        
  +pod('Natural predators')
    .uk-width-medium-4-10
      p
        | Natural predators are important agents of herbivore control in agriculture. Wasps, beetles, spiders and predatory mites feed on many damaging herbivores. 

      p
        | In agricultural areas, the edges of fields and other nearby undisturbed land are reservoirs for insect predators. From here, they can hunt pests in infested crops, helping to reduce herbivore numbers and limit plant damage.

      p
        | Natural predators do not normally live in greenhouses, but they can be introduced during times of herbivore outbreaks. Natural predators can be a good alternative to pesticides. They are especially useful when pest populations have become pesticide resistant. In fact, ladybird beetle predators (also called ladybugs) as well as predatory mites are grown and sold specifically for use in greenhouses and even home gardens.

    .uk-width-medium-6-10
        figure
          img.lg-no-shadow(src="images/predators.jpg", alt="predators of insect herbivores")
          p From left to right: a ladybug eating an aphid, a wasp attacking a caterpillar, a jumping spider eating a leafhopper and a predatory mite (orange) eating a herbivorous mite (brown).
          
  +pod('Integrated pest management (IPM)')
    .uk-width-medium-6-10
      p
        |   No single method on its own can eliminate crop loss to herbivores. Moreover, different methods of herbivore control are often in conflict. For example, clearing field edges of weeds can remove hideouts for pests. But getting rid of those weeds will also remove helpful insect predators. 

      p
        |   Similarly, many herbivorous insects (or mites) are now immune to many pesticides. This means a pesticide application can have the opposite of the intended effect. That is, applying pesticides causes populations of the pest insect to increase because it kills the predators, leaving the herbivorous insects untouched. 

      p
        |   Issues like these have led to the wide use of integrated pest management (IPM) to control herbivores today. IPM uses a combination of compatible control practices to reduce herbivore populations and minimize consequences for farmers, the environment, and human health. 

      p
        |   IPM does not aim to completely eradicate insect pests. Rather, the goal is to lower their numbers to acceptable levels. Pesticides are applied only after pest numbers cross established thresholds. These thresholds allow for a certain amount of crop loss. When some herbivorous insects are allowed to live, the overall population will be diluted with non-resistant insects should some begin to develop pesticide resistance.

    .uk-width-medium-4-10
      figure
        img.lg-no-shadow(src="images/old_newspaper.jpg", alt="1930s newspaper about pesticides")
        p Farmers began routinely applying insecticides around the turn of the century. By the 1930’s insects were already beginning to shows signs of pesticide resistance. In response, in 1972 the USDA funded the first major Integrated Pest Management research effort.      
    
    .uk-width-medium-1-1  
        
      +photocredits
        p <i>Crop fields from above</i>: Kurt Stepnitz, Michigan State University Office of Biobased Technologies
        p <i>Chrysanthemum cinerariifolium</i>: Cascina Bollate 
        p <i>Nicotiana tabacum</i>: Joachim Müllerchen
        p <i>Planthoppers and rice panel (clockwise from left to right)</i>: Rice Knowledge Bank, Rice Knowledge Bank, Zulfiqar Gul, Mr. Y. Kondal Rao (DRR) - RKMP
        p <i>Insect predators panel (clockwise from left to right)</i>: John Flannery, Nick Vargish, coniferconifer (flickr), Koppert
        
          
