.uk-slidenav-position(data-uk-slideshow='')
   ul#lives.uk-slideshow
      li
         div
            img(src='images/EO5-1.png', alt='larger brains')
            .div-lives
               h3.text-center(style='color: #4377ac')
                  span LARGER BRAINS
                  br
                  |  2 million years ago
               p
                  | Around two million years ago, the brains of human ancestors began increasing dramatically in size. Large
                  | brains take a lot of energy to grow and maintain, and fat on the bodies of women and infants may help fuel
                  | developing brains.
      li
         div
            img(src='images/EO5-2.png', alt='anatomically modern humans')
            .div-lives
               h3.text-center(style='color: #d02935')
                  span ANATOMICALLY MODERN HUMANS
                  br
                  |  200,000 years ago
               p
                  | The first anatomically modern humans lived around 200,000 years ago. For nearly 190,000 years, they lived
                  | in small nomadic tribes, foraging for plant-based foods and hunting wild animals for meat. Most of the
                  | foods available to these early humans were low in fat and simple carbohydrates like sugar, and people
                  | worked hard to get enough calories.
      li
         div
            img(src='images/EO5-3.png', alt='neolithic revolution')
            .div-lives
               h3.text-center(style='color: #df9f3c')
                  span NEOLITHIC REVOLUTION
                  br
                  |  10,000 years ago
               p
                  | Around 10,000 years ago, people began farming and raising livestock for food. Agriculture allowed more
                  | people to survive on smaller areas of land. Many abandoned their nomadic lifestyles to build large permanent
                  | settlements. However, even after the rise of agriculture, the average person still couldn&rsquo;t afford a
                  | sedentary lifestyle. Without mechanized implements, farming was hard work.
               p
                  | With farming came dietary changes, including increases in starchy grains like wheat and rice. Today people
                  | vary widely in their ability to digest starch, and those who digest it well tend to come from populations
                  | with high-starch diets.
      li
         div
            img(src='images/EO5-4.png', alt='Modern lifestyle')
            .div-lives
               h3.text-center(style='color: #93c049')
                  span MODERN LIFESTYLE
                  br
                  | 100 years ago&ndash;Today
               p
                  | Technological advances now allow us to produce more food than ever before. In the developed world, only a
                  | tiny fraction of the population is involved in food production, and most labor is done by machines. We
                  | have easy access to as much high-calorie food as we can eat, and exercise is a luxury to be wedged into
                  | our free time.
               p
                  | Our lives have changed in other ways, too. Electric lights and glowing screens let us stay active late
                  | into the night, and we are exposed to thousands of synthetic chemicals and pollutants that our ancestors
                  | never encountered.

   a.uk-slidenav.uk-slidenav-contrast.uk-slidenav-previous(href='#', data-uk-slideshow-item='previous')

   a.uk-slidenav.uk-slidenav-next(href='#', data-uk-slideshow-item='next')
