extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-6-10
         p
            | Even if your family medical history puts you at high risk
            | for developing a disease, the environment you live in and the choices you make
            | will largely determine your fate. With healthy living, you can reduce if not
            | neutralize some genetic risk factors.
         | &#x9;&#x9;
         p
            | Several key environmental factors can affect your risk for
            | developing disease. The leading preventable cause of death in the United States
            | is smoking, closely followed by obesity. Avoiding tobacco and maintaining a
            | healthy body weight will greatly reduce your risk of developing diseases such
            | as heart disease, stroke, cancer, and diabetes.
      |    
      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src='images/healthy.jpg', alt='healthy nutrition and exercise')
            |          
            p
   +pod('Foods That Fuel The Body')
      |    
      .uk-width-medium-6-10
         figure
            img(src='images/foodsthatfuel.jpg', alt='foods')
            |          
            p
      |    
      .uk-width-medium-4-10
         p
            | The body uses three dietary fuels: carbohydrates, proteins,
            | and fats. Each provides energy (calories) the body needs to keep it running
            | smoothly. Most foods contain a combination of all three fuels. But compared to
            | carbs and proteins, dietary fats provide double the amount of energy.
   +pod('Maintaining a Healthy Body Weight')
      |    
      .uk-width-medium-6-10
         p
            | It&apos;s important to eat just the right amount of calories to
            | meet your body&apos;s needs for energy. If you eat more calories than you can use, the
            | body will store the extra calories as fatregardless of whether the calories
            | come in the form of fat, carbs, or protein. If you accumulate too much stored
            | fat, you can become obese. To help maintain a healthy weight, you can choose
            | nutritious foods and be physically active.
      |    
      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src='images/bmi.jpg', alt='BMI calculation')
            |          
            p
               strong Body mass index (BMI)
               |  is a calculation used to estimate body fat based
               |             on a person&apos;s height and weight. A healthy BMI is between 18.5-24.9. Obesity is defined as having a BMI over 30.
   +pod('It Takes A Village To Raise a BMI')
      |    
      .uk-width-medium-6-10
         figure
            img(src='images/villagebmi.jpg', alt='Salt Lake County BMI')
            |          
            p
               | BMI from driver&apos;s license records mapped onto census districts across Salt Lake
               | County, Utah.
      |    
      .uk-width-medium-4-10
         p
            | It&apos;s not just your personal choices that affect your
            | environmental risk. Research shows that the neighborhood you live in can also significantly
            | impact your health, including your likelihood of being overweight.
         | &#x9;&#x9;
         p
            | People are more likely to spend time walking when they live
            | in a safe, pedestrian-friendly neighborhood with tree-lined streets. And people
            | are more likely to eat fresh fruits and vegetables when they can find them at
            | their neighborhood grocery store.
   +pod('Reasons To Avoid Tobacco')
      |    
      .uk-width-medium-6-10
         p
            | Tobacco contains a chemical called nicotine that is very
            | addicting. Once you start smoking or chewing tobacco, it&apos;s very difficult to
            | stop.
         |       
         p
            | Tobacco contains chemicals that can mutate the DNA in your
            | lung cells, causing them to become cancerous. In fact, smoking is the leading
            | cause of lung cancer, and it increases your risk of developing other cancers as
            | well.
         |       
         p
            | Smoking affects more than just your lungs; your heart
            | suffers too. Nicotine narrows blood vessels and decreases the amount of
            | &quot;good&quot; cholesterol in the blood, leading to high blood pressure and
            | heart disease.
         |       
         p
            | On average, adults who smoke cigarettes die 13-14 years earlier
            | than nonsmokers. Approximately 440,000 Americans die each year from diseases
            | directly related to tobacco use.
      |    
      .uk-width-medium-4-10
         div(style='background-color: #cfdbeb; width: 340px; margin-left: auto; margin-right: auto; padding: 6px 12px 12px 12px;')
            p(style='text-align: center;')
               strong
                  | Known or Probable 
                  br
                  | Cancer Causing Chemicals in Cigarettes
            |       &#x9;
            table(style='font-size: 11px; width: 100%; line-height: 12px')
               tr
                  td(style='width: 50%') 4-Aminobiphenyl
                  |  &#x9;
                  td(style='width: 50%') 7H-Dibenz[c,g]carbazole
               | &#x9;&#x9;&#x9;
               tr
                  td Benzene
                  |  &#x9;
                  td Dibenzo(a,i)pyrene
               | &#x9;&#x9;&#x9;
               tr
                  td Cadmium
                  |  &#x9;
                  td Dibenzo(a,I)pyrene
               | &#x9;&#x9;&#x9;
               tr
                  td Chromium
                  |  &#x9;
                  td 1,1-Dimethylhydrazine
               | &#x9;&#x9;&#x9;
               tr
                  td 2-Naphthylamine Nickel
                  |  &#x9;
                  td Hydrazine
               |  
               | &#x9;&#x9;&#x9;
               tr
                  td Polonium-210 (Radon)
                  |  &#x9;
                  td Indeno[1,2,3-cd]pyrene
               | &#x9;&#x9;&#x9;
               tr
                  td Vinyl Chloride
                  |  &#x9;
                  td Lead
               |  
               | &#x9;&#x9;&#x9;
               tr
                  td Acrylonitrile
                  |  &#x9;
                  td 5-Methylchrysene
               |  
               | &#x9;&#x9;&#x9;
               tr
                  td Benzo[a]anthracene
                  |  &#x9;
                  td NNK
               |  
               | &#x9;&#x9;&#x9;
               tr
                  td Benzo[a]pyrene
                  |  &#x9;
                  td 2-Nitropropane
               |  
               | &#x9;&#x9;&#x9;
               tr
                  td 1,3-Butadiene
                  | &#x9;
                  td N-Nitrosodiethanolamine
               |  
               | &#x9;&#x9;&#x9;
               tr
                  td Dibenz(a,h)anthracene
                  | &#x9;
                  td N-Nitrosomethylethylamine
               |  
               | &#x9;&#x9;&#x9;
               tr
                  td Formaldehyde
                  |  &#x9;
                  td N-Nitrosomorpholine
               |  
               | &#x9;&#x9;&#x9;
               tr
                  td N-Nitrosodiethylamine
                  |  &#x9;
                  td N&apos;-Nitrosonornicotine (NNN)
               |  
               | &#x9;&#x9;&#x9;
               tr
                  td N-Nitrosodimethylamine
                  |  &#x9;
                  td N-Nitrosopyrrolidine
               |  
               | &#x9;&#x9;&#x9;
               tr
                  td Acetaldehyde
                  |  &#x9;
                  td Quinolineiv
               |  
               | &#x9;&#x9;&#x9;
               tr
                  td Benzo[b]fluoranthene
                  |  &#x9;
                  td ortho-Toluidine 
               | &#x9;&#x9;&#x9;
               tr
                  td Benzo[j]fluoranthene
                  |  &#x9;
                  td Urethane (Ethyl Carbamate)
               |  
               | &#x9;&#x9;&#x9;
               tr
                  td Benzo[k]fluoranthene
                  |  &#x9;
                  td Chrysene Crotonaldehyde
               |  
               | &#x9;&#x9;&#x9;
               tr
                  td Dibenz[a,h]acridine
                  | &#x9;
                  td N&apos;-Nitrosoanabasine (NAB)
               |  
               | &#x9;&#x9;&#x9;
               tr
                  td Dibenz[a,j]acridine
                  | &#x9;
                  td N&apos;-Nitrosoanatabine (NAT)
         |       
         p.uk-text-small
            | Researchers have identified more than 4,800 chemical compounds
            | in tobacco smoke; of these, at least 40 cause cancer in humans
   +pod('Air Quality')
      |    
      .uk-width-medium-6-10
         figure
            img(src='images/factory.jpg', alt='factory pollution')
            |          
            p
      |    
      .uk-width-medium-4-10
         p
            | Heavy air pollution has a negative impact on health.
            | Pollution increases the severity of asthma, and it can make it harder to
            | recover from respiratory infections. It increases the risk for heart and lung
            | diseases, including cancer. According to the World Health Organization, outdoor
            | air pollution causes an estimated 1.3 million deaths in cities around the
            | world.
         p
            | Air quality standards are established and regulated by
            | governments, but we all influence the quality of the air we breathe. We can
            | help by choosing less-polluting transportation options and cutting down on our
            | energy use. Even small things make a difference, like turning the car engine
            | off instead of letting it idle.
   
   
