extends /shared/layout
block content
   +pageTitle
   +pod('What is a Risk Factor?')

      .uk-width-medium-6-10
         p
            | Roughly 10% of all people who experiment with drugs become addicted. A combination of environmental
            | and genetic factors influence the likelihood of addiction.
         |        
         |        
         p
            | Environmental risk factors are characteristics in a person&apos;s surroundings that increase their likelihood
            | of becoming addicted to drugs. A person may have many environments, or domains, of influence such as the
            | community, family, school, and friends. Their risk of addiction can develop in any of these domains.
      |    
      .uk-width-medium-4-10
         figure
            img(src='images/kelly_lundberg.jpg', alt='Dr. Kelly Lundberg')    
            p
               | All audio clips on this page are provided by Dr. Kelly Lundberg, Associate Professor in the Department
               | of Psychiatry and Clinical Consultant with the Utah Addiction Center at the University of Utah.
   +pod('The Community Domain')
      |     
      .uk-width-medium-4-10
         figure
            img(src='images/drug_gun_free.jpg', alt='community domain')
      |     
      .uk-width-medium-6-10
         p
            | An individual&apos;s connection with the community in which they live plays a big part in their liklihood
            | of abusing drugs. Statistics show that if a person&apos;s community has favorable attitudes toward drug use,
            | firearms and crime, their risk is increased.
         br
         |         
         .mediaSunk
            p The availability of firearms contributes to drug abuse risk.
            |             
            audio(controls='')
               source(src='audio/Guns (new).mp3')
         |         
         .mediaSunk
            p Low neighborhood attachment and community disorganization.
            |             
            audio(controls='')
               source(src='audio/Community (new).mp3')
   +pod('The Peer Domain')
      |     
      .uk-width-medium-6-10
         p
            | The single biggest contributing factor to drug abuse risk is having friends who engage in the problem behavior.
            | If an individual&apos;s friends have favorable attitudes towards drug use, this can also increase risk.
         br
         |         
         .mediaSunk
            p The difficulty of &quot;finding new friends&quot;.
            |             
            audio(controls='')
               source(src='audio/Peers (new).mp3')
      |     
      .uk-width-medium-4-10
         figure
            img(src='images/peers.jpg', alt='peer domain')
   +pod('The Family Domain')
      |     
      .uk-width-medium-4-10
         figure
            img(src='images/family.jpg', alt='family domain')
      |     
      .uk-width-medium-6-10
         p
            | Family conflict and home management problems are contributing factors in drug abuse risk. Also,
            | if parents have favorable attitudes towards drug use or use drugs themselves, often their
            | children will be more likely to abuse drugs.
         br
         |         
         .mediaSunk
            p While divorce alone doesn&apos;t increase risk, family conflict does.
            |             
            audio(controls='')
               source(src='audio/Family_Conflict (new).mp3')
         |         
         .mediaSunk
            p Family transition and mobility can contribute to risk.
            |             
            audio(controls='')
               source(src='audio/Mobility (new).mp3')
   +pod('The School Domain')
      |     
      .uk-width-medium-6-10
         p
            | A student&apos;s performance, participation, and commitment to school can be a major risk factor in addiction.
         br
         |         
         .mediaSunk
            p Academic failure beginning in late elementary school increases risk.
            |             
            audio(controls='')
               source(src='audio/Academic_Failure (new).mp3')
      |     
      .uk-width-medium-4-10
         figure
            img(src='images/school.jpg', alt='school domain')
   
   
