p
    strong Allegheny Monkeyflower
    br
    | - Partially closed petals
    br
    | - Pollinator must open the flower to reach nectar

p
    strong Almond
    br
    | - Sticky Pollen
    br
    | - Sweet Scent

p
    strong Bird of Paradise
    br
    | - Nectar-rich
    br
    | - Flowers emerge from a sturdy casing
    br
    | - Pollinators stand on the casing while they feed

p
    strong Candlestick Banksia
    br
    | - Sturdy flowers
    br
    | - Sticky pollen
    br
    | - Nectar-rich

p
    strong Darwin's Orchid
    br
    | - Store nectar at base of a very long tube
    br
    | - Very fragrant, especially at night

p
    strong Magnolia
    br
    | - Sturdy flowers
    br
    | - Tough, rubbery petals

p
    strong Phlox
    br
    | - Nectar-rich
    br
    | - Sweet scent

p
    strong Ragweed
    br
    | - Abundant pollen that is smooth and lightweight

p
    strong Red Trillium
    br
    | - Odor resembles rotting meat
    br
    | - No nectar

p
    strong Saguaro Cactus
    br
    | - Fragrant flowers
    br
    | - Nectar-rich
    br
    | - Bloom at night

p
    strong Scarlet Monkeyflower
    br
    | - Nectar-rich
    br
    | - Little/no scent