p
    strong Bat
    br
    | - Feed at night
    br
    | - Strong sense of smell

p
    strong Beetle
    br
    | - Clumsy flier
    br
    | - Often eat flower parts in addition to pollen

p
    strong Bumblebee
    br
    | - Large and strong
    br
    | - Fuzzy body
    br
    | - Can't see red

p
    strong Butterfly
    br
    | - Long, straw-like mouthpart (proboscis)
    br
    | - Good sense of smell
    br
    | - Can see red

p
    strong Fly
    br
    | - Strong sense of smell
    br
    | - Drawn to decaying material to lay eggs

p
    strong Hawk Moth
    br
    | - Feed at night
    br
    | - Strong sense of smell
    br
    | - Straw-like mouthpart (proboscis) up to 12 inches long

p
    strong Honeybee
    br
    | - Thin body with small hairs
    br
    | - Great sense of smell
    br
    | - Can't see red

p
    strong Honey Possum
    br
    | - Extremely long tongue
    br
    | - Good climber with grasping tail

p
    strong Hummingbird
    br
    | - Poor sense of smell
    br
    | - Can see red

p
    strong Sunbird
    br
    | - Require a perch
    br
    | - Can see red