+minipod('')
   .uk-width-medium-8-10
      em
         | [Note: Much of the medical literature defines Klinefelter syndrome as a person with an XXY chromosomal arrangement, and considers every XXY individual to have Klinefelter syndrome. However, many (including some XXY individuals themselves) consider Klinefelter syndrome to be a set of physical characteristics that are present in just some XXY individuals. While we do not promote one definite over the other, we wish to point out that the distinction is important to some people.]
+minipod('What is 47, XXY (Klinefelter Syndrome)?')
   .uk-width-medium-6-10
      p
         | 47, XXY (or XXY) is a genetic condition caused when someone has two X chromosomes and one Y chromosome. Most males have an X chromosome and a Y chromosome (46, XY), and most females have two X chromosomes (46, XX).
      p
         | Because people with an XXY chromosome arrangement have a Y chromosome, most develop as males. Often, they do not know that they have an extra chromosome. Some will develop the varied and often subtle features of Klinefelter syndrome. And a small proportion will develop as intersex (between male and female) or female. Physical features may appear around the time of puberty, when gender identity and sexual characteristics begin to form.
      p
         | Similar conditions are caused by additional X chromosomes (48, XXXY; 49, XXXXY), but they are much more rare. The more X chromosomes a person has, the stronger the physical features and health problems tend to be, including intellectual disability.
   .uk-width-medium-4-10
      figure
         img(src='klinefelter/images/kleinfelter_karyotype.jpg', alt='Klinefelter Karyotype')
         p This karyotype shows all of the chromosomes from a person with the 47, XXY chromosomal arrangement. The extra X chromosome is circled.  
         
+minipod('Features of 47, XXY (Klinefelter syndrome)')
   .uk-width-medium-6-10
      p
         | The XXY chromosome arrangement affects primarily sexual development. Typically, testes don't fully develop, and the levels of the hormone testosterone (important for male sexual development) are lower than average. As adults, nearly all XXY males are unable to make sperm and so cannot have biological children. Many men discover their condition only after they seek medical help for infertility.
      p
         | The features of XXY (Klinefelter syndrome) can be very subtle and are highly varied. Children and adults may be taller than average, with proportionally longer arms and legs, and they may have less-muscular bodies, more belly fat, wider hips, narrower shoulders, or minor to moderate learning disabilities. Changes that appear at puberty can include low growth of facial and body hair, development of breast tissue, and small testes.
      p
         | XXY individuals are also more likely to develop certain medical conditions, including osteoporosis (weak bones), varicose veins, type 2 diabetes, and heart valve defects. As adults, they are just as likely as XX females to develop breast cancer and certain autoimmune disorders.
   |    
   .uk-width-medium-4-10
      img(src='klinefelter/images/xxy-kids.jpg', width='262', height='291', alt='XXY Kids')

+minipod('How is 47, XXY (Klinefelter Syndrome) Managed?') 
   .uk-width-medium-6-10
      p
         | Knowing an individual's chromosomal status is important for both their physical and emotional health. Early diagnosis can alert doctors to the need for bone-density and hormone-level monitoring. Educators can be on the lookout for learning disabilities. XXY individuals also may need emotional support and counseling, especially during puberty. Boys who develop breast tissue or who do not develop facial or body hair may feel self-conscious. Teens may need support as they face gender identity issues.
      p
         | Teens and adults who wish to be treated can be given hormones. The hormone testosterone will help them develop more typically male characteristics, and estrogen will help them develop more typically female characteristics. Those who choose can have surgery to remove breast tissue.
      p
         | Many 47, XXY individuals are quite typical males who receive no treatment. Those who wish to have children can often be helped with reproductive technologies.
+minipod('Interesting Facts About 47, XXY (Klinefelter syndrome)')
   |    
   .uk-width-medium-5-10
      p
      | XXY is one of the most common genetic conditions, affecting about 1 in 660 baby boys.
      p
      | Klinefelter syndrome is named for Dr. Harry Klinefelter, who first reported its characteristics in 1942.
      p
      | In about 10% of cases, chromosomes separate unequally when a cell divides very early in embryonic development, and only some of the baby's cells are affected. Such "mosaic" cases usually have subtle effects and often remain undetected.
      p
      | As many as 75% of XXY individuals never learn that they have the condition.
   .uk-width-medium-5-10   
      br
      +well
         h3 More Information
         a(href='http://www.aaksis.org', target='blank') American Association for Klinefelter Syndrome Information and Support
         br
         a(href='http://www.genetic.org/', target='blank') Klinefelter Syndrome and Associates
         br
         a(href='http://www.nichd.nih.gov/health/topics/klinefelter/', target='blank') National Institute of Child Health and Human Development: Klinefelter Syndrome
         br
         a(href='http://www.XXYTalk.com', target='blank') XXYTalk.com: International Support Forums for 47, XXY
