extends /shared/layout
block content
   +pageTitle

   script(type='text/javascript', charset='utf-8', src='foodweb_edgePreload.js')

   +pod('Two linked food chains')
      .uk-width-medium-6-10
         p.
            Compared to most ecosystems, the Great Salt Lake food web is relatively simple. It is based around two major food chains. The first food chain (on the left side of the diagram) consists of microscopic bottom-dwelling cyanobacteria, brine flies and shorebirds such as gulls. The second food chain (on the right) is made up of the free-floating algae Dunaliella, brine shrimp and waterbirds such as Eared grebes.
 
         +well
            | Learn more about the creatures that make up the food web: 
            br   
            a(href='birds/') Birds
            br  
            a(href='brine_flies/') Brine Flies
            br 
            a(href='microbes/') Bottom-Dwelling  Microbes
            br   
            a(href='brine_shrimp/') Brine Shrimp
            br
            a(href='ffmicrobes/') Free-Floating Microbes
      .uk-width-medium-4-10
   +pod('')
      .uk-width-1-1.uk-text-center
      div(style='width: 870px; height: 500px;')
         #Stage.EDGE-56566140
         
   +pod('Energy is transferred up the food pyramid')
      |    
      .uk-width-medium-4-10
         p
            | Energy from the sun fuels all life on earth. Green plants, the producers, harness the sun&apos;s energy. Primary consumers eat the plants, secondary consumers eat the primary consumers, and so on. At each step, energy from the sun gets passed up the food chain. But energy is lost along the way.
         |     
         |    
         p
            | Consumers use most of the energy they get from their food for life&apos;s daily activities, including locomotion, foraging, hunting, or outrunning predators. Even sleeping uses energy. Only about 5-20% of the energy a consumer gets from its food is stored in its body and made available to the next level consumer.
         |     
         |    
         p
            | Because energy is lost at each level of the food chain, the biomass at each level decreases as you go up. That is, the total mass of all the producers is greater than the mass of the primary consumers, which is greater than the mass of the secondary consumers, and so on. The difference in biomass reflects the amount of energy lost at each level.
      |     
      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='../images/Biomass-01.jpg', alt='Biomass', width='455', height='341')
   
   
   +references
         p
            | Abatzopoulos, Th. J., Beardmore, J. A., Clegg, J. S. and Sorgeloos, P. (Eds.). (2002). Artemia basic &amp; applied biology. Dordrecht: Kluwer Academic Publishers.
         |     
         |            
         p
            | Gwynn, J. W. (Ed.) (2002). Great Salt Lake, an Overview of Change: A Special Publication of the Utah Department of Natural Resources. Salt Lake City: Department of Natural Resources.
         |     
         |             
         p
            | Heath, H. (1924). The external development of certain phyllopods. Journal of Morphology, 38(4), 453-483.
         |     
         |            
         p
            | Lavens, P. and Sorgeloos, P. (Eds.). (1996). Manual on the production and use of live food for aquaculture (FAO Fisheries technical paper No. 361). Rome: FAO.
         |     
         |            
         p
            | Paul, D. S., and Manning, A. E. (2008). Great Salt Lake Waterbird Survey Five Year Report, 1997-2001 [CD-ROM]. Utah Division of Wildlife Resources.
         |     
         |            
         p
            | United States Geological Survey, Utah Water Science Center. Birds and Great Salt Lake. Accessed 7/27/2009. 
            a(href='http://ut.water.usgs.gov/greatsaltlake/birds/') http://ut.water.usgs.gov/greatsaltlake/birds/
         |     
         |            
         p
            | United States Geological Survey, Utah Water Science Center. Great Salt Lake--Planktonic and Benthic Habitats. Accessed 7/27/2009. 
            a(href='http://ut.water.usgs.gov/greatsaltlake/plankton/') http://ut.water.usgs.gov/greatsaltlake/plankton/
         |     
         |            
         p
            | Simeone, M. (2000). San Francisco State University Department of Geography. The Biogeography of Mono Lake alkali fly (Ephydra hians). Accessed 7/27/2009.
         |     
         |            
         p
            | Harley, S. Weber State University Department of Botany. Antelope Island Field Trip: Life in the Great Salt Lake. Accessed 7/27/2009. 
            a(href='http://faculty.weber.edu/sharley/AIFT/GSL-Life.htm') http://faculty.weber.edu/sharley/AIFT/GSL-Life.htm
   
   
