extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-5-10
         p
            | Most pigeons have scales on their feet (and not feathers), the same as their wild ancestor. But some carry a genetic variation (or two) that gives them feathers on their legs and feet.
         p
            | Feathering can be subtle, with just a hint of fuzz on the feet. It can also be so extreme that the feet look almost like an extra set of wings. And it can be almost anywhere in between.
      |     
      .uk-width-medium-5-10
         img(src='images/foot-feathering.jpg', alt='Foot Feathering', width='488', height='192')
   +pod('Genes and Inheritance')
      |     
      .uk-width-medium-5-10
         img(src='images/foot-feathering-1.jpg', alt='Genes and Inheritance', width='471', height='686')
      |     
      .uk-width-medium-5-10
         p
            | Foot feathering comes from variations in two genes: 
            em slipper
            |  and 
            em grouse
            | . A bird that has the feathery versions of both 
            em slipper
            |  and 
            em grouse
            |  have an extreme form of foot feathering, called muff.
         h2 Slipper
         |          
         p
            | The 
            em slipper
            |  gene comes in two versions, or alleles: &lsquo;slipper&rsquo; and &lsquo;no slipper.&rsquo; Pigeons inherit two copies of the 
            em slipper
            |  gene, one from each parent. The two alleles make up the bird&rsquo;s genotype. What we see, or the phenotype, is the product of both alleles.
         p
            | The two alleles, &lsquo;slipper&rsquo; and &lsquo;no slipper,&rsquo; are partial dominant (sometimes called incomplete dominant). That is, both alleles always influence the phenotype. So each allele combination, or genotype, has a different phenotype.
         h2 Grouse 
         |         
         p
            | The 
            em grouse
            |  gene is completely separate from the 
            em slipper
            |  gene. It too comes in two versions: &lsquo;grouse&rsquo; and &lsquo;no grouse.&rsquo; And as with 
            em slipper
            | , pigeons inherit two copies of 
            em grouse
            | , one from each parent.
         p
            | The &lsquo;no grouse&rsquo; allele is dominant to the &lsquo;grouse&rsquo; allele, and the &lsquo;grouse&rsquo; allele is recessive to the &lsquo;no grouse&rsquo; allele. To have the grouse phenotype, a bird must have two copies of the &lsquo;grouse&rsquo; allele.
         h2 Muff 
         |         
         p
            em Grouse
            |  and 
            em slipper
            |  work synergistically to make an extreme form of foot feathering, called muff. The largest muff (shown at the far left) comes about when a bird has two copies of the &lsquo;slipper&rsquo; allele and two copies of the &lsquo;grouse&rsquo; allele. Different allele combinations of 
            em slipper
            |  and 
            em grouse
            |  make birds with in-between amounts of foot feathering.
   +pod('Most traits are controlled by multiple genes')
      |     
      .uk-width-medium-5-10
         p
            | When we learn about genetics, we commonly see lots of examples of inherited characteristics that are controlled by a single gene. Often with these examples, the genes come in just two versions (yellow or green peas; blue or brown eye color). However, single-gene either/or traits are actually quite rare.
         p
            | Single-gene traits are useful for teaching the basics of inheritance. They emphasize that we inherit two copies of every gene, one from each parent, and the two copies together contribute to inherited characteristics. But such simple examples&mdash;which textbooks often over-simplify&mdash;can lead us to believe that all inherited characteristics work this way.
         p
            | In 
            a(href='../pigeonetics/') Pigeonetics
            | , we&rsquo;ve tried to include some examples that show how multiple genes work together to form physical characteristics. Foot feathering, for instance, is an example that shows 
            em slipper
            |  and 
            em grouse
            |  (probably with small contributions from additional genes) working together to influence a single characteristic. But even this is a simple example.
         p
            | Most of our traits are what we call &ldquo;complex.&rdquo; They involve the interactions of multiple genes, as well as the environment. Height, for example, clearly has a genetic component: tall parents tend to have tall children, and short parents tend to have short children. But the inheritance of height is unpredictable, and height is also influenced by what we eat. Children who are malnourished will not grow as tall as those who eat a healthy diet.
         |          
         p
            | Most traits work this way. Even traits controlled mainly by genes&mdash;including eye color, skin color, hair color, and hair texture&mdash;tend to involve multiple genes. And most traits&mdash;like risk of diabetes, cancer, or heart disease&mdash;involve multiple environmental factors as well.
         |         
         p
            a(href='../references/') References
      |     
      .uk-width-medium-5-10
         img(src='images/foot-feathering-2.jpg', alt='People come in a continuous assortment of heights, shapes, and sizes', width='314', height='483')
         |  
         br
         |         
         .uk-text-small
            | Complex traits often fall along a continuum. People, for example, come in a continuous assortment of heights, shapes, and sizes.
   
   
