extends /shared/layout
block content
   +pageTitle
   script(type='text/javascript', charset='utf-8', src='fall1_edgePreload.js')
   script(type='text/javascript', charset='utf-8', src='winter1_edgePreload.js')
   script(type='text/javascript', charset='utf-8', src='spring_edgePreload.js')
   script(type='text/javascript', charset='utf-8', src='summer1_edgePreload.js')

   style.
      .edgeLoad-EDGE-218487792 { visibility:hidden; }
      .edgeLoad-EDGE-218487793 { visibility:hidden; }
      .edgeLoad-EDGE-218487794 { visibility:hidden; }
      .edgeLoad-EDGE-218487795 { visibility:hidden; }

   +pod('')
      .uk-width-medium-6-10
         p
            | Great Salt Lake is not a &quot;dead sea.&quot; It is an ecosystem teeming with life, and there&apos;s always something interesting going on.
 
         p
            | Most people come to the lake to see birds. Each year, more than 250 species of birds visit
            | the Great Salt Lake ecosystem. While they&apos;re here, they feed on the lake&apos;s plentiful brine
            | shrimp and brine flies, or other invertebrates and fish in the lake&apos;s surrounding wetlands
            | and rivers. Birds also use the drier vegetated land that surrounds the lake, where they
            | gather seeds and insects for food. Even the seemingly barren mud flats (or playas) around
            | the lake provide nesting and feeding grounds for birds such as the Snowy Plover.
  
         p
            | The greatest diversity and numbers of birds visit during the spring and fall migration
            | seasons. Most birds come to the wetlands, but certain species-especially grebes,
            | phalaropes, avocets, stilts, and gulls-spend most of their time in or near open water.
    
         p
            | This guide will help you plan a visit to the lake during any season, and let you know about
            | some interesting things to look for.
         //- +well
         //-       | See our 
         //-       a(href='../map/') interactive map
         //-       |  for more information about some good places to visit.

      .uk-width-medium-4-10
         figure
            img(src='images/year-web.jpg')
            p
               | Visit 
               a(href='../space/ ') the Great Salt Lake from Space
               |  page to see how the landscape changes through the year.
   +pod('Winter: November-March')
      .uk-width-medium-6-10
         #Stage1.EDGE-218487793(style='line-height:13px;')
         |  
         br
         br
         |            
         |Links to more information
         |             
         ul
            li
               a(href='winterbirds/') Overwintering bird species             
            li
               | Video about 
               a(href='../monitor/')
                  | the role of the Utah Division of Wildlife Resources in monitoring the brine shrimp population

      .uk-width-medium-4-10
         p
            | During the early winter, you can still get a glimpse of some later migrating birds, including grebes. Several bird species-including songbirds, ducks, Tundra Swans, and Bald Eagles-spend the winter at Great Salt Lake.
        
         p
            | Because of its high salt content, the lake water doesn&apos;t usually freeze. But less saline zones at the lake&apos;s edges do (learn more on our 
            a(href='../micro/') microenvironments
            |  page). As the temperatures drop and the fresher wetland water begins to freeze, birds gather in ice-free zones. If the water freezes solid, some ducks and Tundra Swans will leave for warmer climates, though a smaller number of individuals usually stay the whole winter.
           
         p
            | The brine shrimp die off in the late fall, leaving behind dormant, encysted embryos that will hatch in the spring. On the lake bottom, brine fly larvae remain largely inactive through the winter. With few active shrimp or flies grazing on it, the phytoplankton population grows dramatically. By midwinter, the lake turns a vivid shade of pea-soup green.
         br
         br
    
         .mediaSunk
            p Hear the honking voices of Tundra Swans
            |             
            audio(controls='')
               source(src='audio/100317_01-tundra swans.mp3')
               |                 
               source(src='audio/100317_01-tundra swans.ogg')

   +pod('Spring migration: March-May')
      .uk-width-medium-6-10
         #Stage2.EDGE-218487792(style='line-height:13px;')
         br
         br
         | Links to more information
         |             
         ul
            li
               a(href='nestingbirds/') Birds that breed and nest at Great Salt Lake
            |                 
            li
               a(href='../artemia/') Brine shrimp life cycle
      |    
      .uk-width-medium-4-10
         p
            | In March, the lake&apos;s winter bird residents begin leaving for their northern breeding grounds. Meanwhile, a variety of other bird species stop by to refuel during their spring migrations, and birds that breed and nest at Great Salt Lake arrive from their winter homes. By late May nearly all of them are here.
                   
         p
            | Brine shrimp begin hatching in mid-March as temperatures increase and spring rain and snowmelt reach the lake. The newly hatched shrimp begin grazing on the phytoplankton that have accumulated over the winter. By late April, juvenile and adult brine shrimp fill the water, serving as food for migrating and breeding birds.
 
   +pod('Nesting season: April-July')  
      .uk-width-medium-6-10
         #Stage3.EDGE-218487794(style='line-height:13px;')
         br
         br
         | Links to more information
         |             
         ul
            li
               a(href='nestingbirds/') Birds that breed and nest at Great Salt Lake
      |    
      .uk-width-medium-4-10
         p
            | Great Salt Lake supports impressive breeding populations of several species of birds. By April, early breeders&mdash;including gulls, pelicans, Canada Geese, egrets, and herons&mdash;are active in wetland areas. Early nesting season is a great time to look for birds, in their breeding plumage, displaying mating behavior.
        
         p
            | By May, the brine shrimp are in full swing. As they graze down the phytoplankton, sunlight reaches the lake bottom, where it fuels the growth of 
            a(href='../foodweb/microbes/') bottom-dwelling microbes
            | . These microbes serve as food for brine fly larvae, which become more active as the water temperature rises.
         p
            | May also sees impressive numbers of birds, which fill the area with life. The first spring chicks (goslings, egrets) emerge in early May. Later-hatching chicks (ducklings, avocets, stilts, grebes) can be seen through July, the best month to catch a glimpse of baby birds. Be sure to look for grebes swimming with babies on their backs.
         p
            | Toward the lake&apos;s north end, small groups of pelicans can be seen flying between their nesting grounds on Gunnison Island and their fishing grounds in Bear River Bay.
      
         +well
            strong No-see-ums
            |  
            br
            |                     
            |                         Biting midges are plentiful from early May until the weather reaches 90&deg;F, usually in late June. They hatch in wet sand-pretty much everywhere along the lake shore. They lay low on breezy days, but otherwise hang out in large swarms a few feet above the ground. 
            br
            br
            |                                             
            |                         
            strong Closures
            |  
            br
            |                         Some wetland areas are closed to visitors during nesting season. Be sure to check their websites or call ahead.

   +pod('Fall migration: July-October')
      .uk-width-medium-6-10
         #Stage4.EDGE-218487795(style='line-height:13px;')      
         br
         br   
         | Links to more information         
         ul
            li
               a(href='fallbirds/') Fall migrating birds              
            li
               | Video about the 
               a(href='../monitor/')
                  | role of the Utah Division of Wildlife Resources in monitoring the brine shrimp population
  
      .uk-width-medium-4-10
         p
            | July is an active feeding time. The brine shrimp population peaks, and adult brine flies are plentiful. Brine shrimp and brine flies-both larvae and adults-provide food for millions of migrating and resident birds.      
         p
            | In August, American Avocets and Black-necked Stilts come by the tens of thousands to feed in shallow, salty areas of the lake. In the wetlands, look for groups of egrets, herons, and ibises wading and feeding in shallow water.
         p
            | Eared Grebes return in September to feed on brine shrimp in the lake&apos;s open water. In October, they are flightless as they grow a new set of feathers and gain weight in preparation for their fall migration.
         p
            | In October, songbirds such as Red-winged Blackbirds gather together along the lakeshore before migrating to their southern wintering grounds.
         p
            | By late October the brine shrimp population starts to taper off. Their phytoplankton food supply is nearly gone, and the water becomes extremely clear. Adult shrimp are still visible in the water during this time, but females switch from releasing live young to producing large numbers of dormant cysts. Commercial brine shrimpers patrol the lake in boats and gather cysts by the ton.
   
         +well
            strong Closures
            |  
            br
            |                     
            |                         Some wetland areas are closed through early September, allowing birds to raise their young without disruption. 
            br
            br
            |                                             
            |                         
            strong Hunting Season
            |  
            br
            |                         Hunting season begins in October. See the 
            a(href='http://wildlife.utah.gov/') Utah Division of Wildlife Resources
            |  website for details.
      +references
         p
            a(href='http://wildlife.utah.gov/gsl/waterbirdsurvey/') Waterbird survey
            | , -- 
            a(href='http://wildlife.utah.gov/gsl/waterbirdsurvey/RPT14Chronology.htm') especially migration chronology      
         p Bear River Monthly Bird Happenings
         p
            a(href='http://www.publiclands.org/explore/site.php?plicstate=UT&id=1858') Howard Slough WMA description
         p
            a(href='http://static.stateparks.utah.gov/docs/AntelopeIslandBrochure.pdf') Antelope Island brochure
