extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-4-10
         p
            | The western United States is dry. Most major cities in the region (except the ones in the Pacific Northwest) get only 12 to 18 inches of precipitation in an average year. Those in the Southwest get even less. In contrast, the eastern US gets 30 to 50 inches of precipitation each year.
         p
            | The climate of the American West is also prone to extremes. During wet times, heavy precipitation may cause flash floods. During dry times, the region can plunge into droughts that last many years.
         p
            | The region&apos;s unique challenges make water a central factor that impacts just about every aspect of living in the West.
      |     
      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='images/us_temps.jpg', alt='US Temperatures')    
            p Based on 1961-1990 normals from NOAA and NRCS SNOTEL sites using the PRISM climate model.
            
   +pod('How (Water in) the West Was Won')  
      .uk-width-medium-4-10
         figure
            img(src='images/hohokam.jpg', alt='Hohokam')      
            p Hohokam village (artist conception). 
               em Photo: Arizona Historical Society
      
            img.lg-no-shadow(src='images/hoover.jpg', alt='Hoover Dam')       
            p Hoover Dam before, during, and after construction. 
               em Photos: Bureau of Reclamation
 
      .uk-width-medium-6-10
         p
            | To settle the West, people first had to develop innovative ways to capture, manage and distribute limited water resources. Efforts to transform the desert of the American West into livable land began in prehistoric times. Between 450 and 1500 AD, the Hohokam built vast canal networks in the Salt River Valley in the area around modern-day Phoenix, Arizona. 300 miles of canals fed 256,000 acres where they grew crops like cotton, tobacco, maize, beans and squash. Families held claims to plots of land and those claims were passed down within the family. But the rights to use the water for irrigation belonged to the community. The water was allocated according to the amount of land each household cultivated.
         |         
         p
            | Throughout history, people living in the West have had to develop systems for capturing, managing, and distributing water. Between 450 and 1500 AD, the Hohokam people built vast canal networks in the Salt River Valley in the area around modern-day Phoenix, Arizona. 300 miles of canals fed 256,000 acres of fields for growing crops like cotton, tobacco, maize, beans, and squash. Claims to plots of land were held by families, and they were passed down from parents to children. But the rights to use water for irrigation belonged to the community. The community allocated water to each household based on the amount of land they cultivated.
         p
            | Over the years, other settlers developed their own systems for managing water. Some succeeded while others failed. But then in 1902, the federal government began large-scale projects that brought big changes to water management.
         p
            | For many years, the federal government had been surveying Western lands. They considered the West an untapped resource, and they believed that transforming it into productive farmland and cities would help the nation prosper. The Reclamation Act of 1902 funded the building of &ldquo;irrigation works for the storage, diversion and development of waters&rdquo; in 20 western states. Over the decades that followed, massive networks of dams, reservoirs, canals, and pipelines were put in place to capture, hold, and distribute water. People moved westward, the population grew, and the region changed immensely.
         p
            | When Hoover Dam was built in 1930, the nearby town of Las Vegas had just 5,165 residents. Now it&rsquo;s a city of over 2 million. Similar growth took place in other western towns&mdash;Denver, Los Angeles, San Diego, Phoenix. Today most of the region&rsquo;s 63 million residents live in cities, and the population continues grow by about 1 million each year.
         p
            | All of those residents, and the industries that employ them, use a lot of water. Water use in most western states is now nearly 3 times the national average. Water managers have the challenging task of distributing a limited supply of water to everyone who needs it.
   +pod('Western Water Rights Work Differently')
      |      
      .uk-width-medium-6-10
         p
            | In the eastern US, water is plentiful and conflicts over its use are rare. Because of the region&rsquo;s historical connection to England, water rights follow the &ldquo;riparian principle&rdquo; of English Common Law. In this system, water is attached to the land over which it flows.
         p
            | In the eastern states, water itself is not considered property. Landowners are allowed to take water that flows through their land not in fixed amounts, but rather for &ldquo;reasonable use.&rdquo; They must otherwise leave the water unpolluted and free to flow on for other landowners. If there isn&rsquo;t enough water for everyone, all users must share the burden equally. Water can be diverted out of the watershed only if every affected landowner agrees.
         p
            | In the western states, where water is far more scarce, water rights work very differently. The foundation for western water rights was laid during the California gold rush, beginning in 1848. In those days, gold mining required water, and lots of it. Before long, some enterprising settlers realized they could make more money selling water to miners than mining gold. As more settlers came seeking gold, water became increasingly valuable, and conflicts arose. Settlers needed a clear set of rules for establishing water rights.
         |           
         p
            | Rather than adopt riparian rules, headstrong Westerners developed their own system, called &ldquo;prior appropriation.&rdquo; Under this system, water was considered property, and rights were established by building a structure to divert it.
         |  
         p
            | Water claims were granted on a &ldquo;first come, first served&rdquo; basis. The first party to establish a claim had &ldquo;senior&rdquo; rights. If any water was left, another party could divert it, establishing a &ldquo;junior&rdquo; rights claim. During a water shortage, senior rights holders were allowed to take their full share of water before the junior rights holders could have any&mdash;even if a junior rights holder was upstream.
         |  
         |          
         p
            | While there was no limit on how much water a claim holder could take, they had to &ldquo;use it or lose it.&rdquo; If they couldn&rsquo;t put it to &ldquo;beneficial use&rdquo; in a reasonable amount of time, they had to give up their right to someone who could. This system encouraged claim holders to take as much water as possible and use it as quickly as possible. Anything else was considered a waste.
         p
            | The prior appropriation system is still in place today. While the gold miners are long gone, their water rights legacy lives on, now on a much larger scale.
      |     
      .uk-width-medium-4-10
         figure
            img(src='images/gold_mining.jpg', alt='Gold Mining')     
            p Miners use water cannons in a technique called &ldquo;gold-washing&rdquo; to mine for gold in French Corral, California, 1897. 
               em Photo: The Stanford University Library Department of Special Collections
       
            img(src='images/water_right.jpg', alt='Water Right')      
            p A water right claim from 1900

            img(src='images/ca_pipeline.jpg', alt='California Pipeline')   
            p Because western water rights allow &ldquo;beneficial use&rdquo; at any location, extensive pipeline systems can carry water across great distances. 
               em Photo: Library of Congress/Historic American Engineering Record project
   +pod('Competition and Cooperation Between States')
      |      
      .uk-width-medium-4-10
         figure
            img(src='images/orange_grove.jpg', alt='Orange Grove')     
            p Orange groves in Riverside, California, 1920. 
               em Photo: California Historical Society Collection, 1860-1960
       
            img(src='images/az_water_bank.jpg', alt='Arizona Water Bank')     
            p Arizona Water Bank. Most of Arizona&rsquo;s water allotment is stored in underground aquifers. 
               em Photo: Central Arizona Project

      .uk-width-medium-6-10
         p
            | The Colorado River flows through 7 arid western states, covering a distance of 1,450 miles. By the early 1920s, rapid development in California began to cause concern among the other states. They worried that rights-holders in California would prevent them from getting their fair share of Colorado River water.
         p
            | To address states&rsquo; concerns, the Colorado River Compact of 1922 divided the states into two groups&mdash;the Upper Basin (Wyoming, Colorado, Utah, and New Mexico) and the Lower Basin (California, Arizona, and Nevada)&mdash;and it divided the river&rsquo;s water equally between them. Each group then decided how to allocate water to its members, leading to competition between states.
         |  
         p
            | This larger-scale strategy made water a commodity that could be bought and sold between states, politicizing water management. A complex water marketing system was established, governed by an elaborate web of various state codes, rules, and regulations.
         p
            | The compact has also fostered cooperation among states. One example is Arizona&rsquo;s water banks. Not wanting to see any of its Colorado River allocation flow downstream unused, the state built a water banking system in 1996. In addition to storing Arizona&rsquo;s excess allocation, the bank can also store water for other states. California and Nevada pay Arizona to store their unused river water, and they receive credits that they can cash in for other kinds of water, like Arizona groundwater. The Arizona water bank acts as brokerage service that expands water allocations to include other sources beyond just the Colorado River.
         |  
         |         
         +well
            | To read more about the Colorado River Compact, see 
            a(href='/content/earth/future/') What the Future Holds
   +pod('How Water is Used in the West')
      |      
      .uk-width-medium-6-10
         p
            | Just as the Federal Government envisioned more than 100 years ago, the western US has become a home to agricultural. The cloud-free days, semi-arid climate (which discourages plant pathogens), and longer growing season make the region especially suited to agriculture.
         p
            | Today in the West, irrigation accounts for the largest percentage of water usage. In addition to watering crops, irrigation water is important for things like dust suppression and frost protection. And because it often travels long distances through open canals, some water is lost to evaporation before it even reaches a field. Western cemeteries, parks, and golf courses also require watering.    
         p
            | In 2010, the seven Colorado River basin states used an average of 79% of their water for irrigation. However, in many regions that number is going down, in part because agricultural methods have become more efficient. Another factor is the conversion of farmland into suburbs to meet the needs of a growing population. Because farming is so water intensive, these changes in land use decrease the need for water.
         p
            | The value structure of water is also changing. In some faster-growing regions, water is worth more money to cities than it is to farmers. Farmers who sell their land, along with their water rights, to municipalities often make a huge profit.
         p
            | Despite a nationwide decline in agriculture, some western states are bucking the trend and adding more farms and farmland. Nevada, Arizona, and Wyoming all saw an increase in land devoted to farming between 2007 and 2012, according to the USDA. During the same period, Utah and New Mexico had an increase in the number of small farms (fewer than 50 acres).
      |     
      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src='images/water_use_pie.jpg', alt='Orange Grove')     
            p Top uses for fresh water. Averages for the 7 states in the Colorado River Basin: California, Colorado, Arizona, Wyoming, Utah, New Mexico, and Nevada. 
               em Data source: Estimated Use of Water in the United States in 2010, USGS
      
            img(src='images/az_irrigation.jpg', alt='Orange Grove')      
            p Irrigation in Yuma, Arizona wheat field. 
               em Photo: Gene Alexander, USDA Natural Resources Conservation Service
               
   +pod('Allocating Water for Aquatic Habitats')
      |     
      .uk-width-medium-6-10
         figure
            iframe(src='//player.vimeo.com/video/117965475', width='488', height='274', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')     
            p The Bureau of Reclamation&rsquo;s mission and priorities have changed over the years to reflect greater public concern for environmental conservation. Learn how Utah&rsquo;s Flaming Gorge Dam balances water needs to support both non-native sport fish and endangered fish species.
   
            img(src='images/colorado_river_delta.jpg', alt='Colorado River Delta')
            br
            br
                 
            img(src='images/CRD_pulse.jpg', alt='CRD Pulse')      
            p In an effort to begin restoring the Colorado River Delta ecosystem, the International Boundary Water Commission, made up of Mexican and US officials, released water from Lake Mead in Nevada to mimic spring snow melt flooding in 2014. 
               em Photo: Dale Turner, The Nature Conservancy
  
      .uk-width-medium-4-10
         p
            | To help with water allocation decisions, several western states established a hierarchy of preferred &ldquo;beneficial uses.&rdquo; At the top of every list was domestic use in cities. Next in line for most states was agriculture, followed by various industrial uses. If they made the list at all, recreation, fish, and wildlife were usually at or near the bottom.
         |  
         p
            | When the 1922 Colorado River Compact was written, environmental conservation was not part of the plan. In fact, the compact had a large negative impact on natural ecosystems. Dams and diversions blocked native fish passage, collected sediment, and changed water temperatures. Reservoirs decreased water flow through ecosystems.
         |  
         |   
         |          
         p
            | The Colorado River Delta, in Mexico where the river meets the ocean, was once a vast wetland that supported a diverse array of wildlife. Since the 1930s, Hoover Dam has been capturing much of the river&rsquo;s water, preventing it from ever reaching the delta. Today the Colorado River Delta is a shadow of its former self, with its wetlands reduced to just 5 percent of their former area.
         |  
         |         
         |         
         p
            | In the 1950s, public attitudes about our relationship with the environment began to shift. National parks became travel destinations, drawing 62 million visitors annually. By the 1960s and 70s, environmental conservation became a greater public priority. Reflecting these changing attitudes, the 1973 Endangered Species Act (ESA) established new rules for protecting and preserving the environment. Many other conservation policies soon followed.
         p
            | Today, water resources in the West are valued for their aesthetics just as much if not more than for their utility.
   +pod('What Might Have Been')
      |      
      .uk-width-medium-4-10
         p
            | John Wesley Powell, American geologist, explorer, and second director of the US Geological Survey, believed that only a small amount of the American West was suitable for agriculture.
         p
            | In 1879 Powell issued an exhaustive report detailing the problems with water availability in the Western US, entitled Report on the lands of the arid region of the United States. Powell was concerned because &ldquo;In the Sub-humid Region settlements are rapidly extending westward to the verge of the country where agriculture is possible without irrigation.&rdquo;
         p
            | He proposed aligning western state borders to regional watersheds. He hoped to reduce conflict over water by limiting irrigated farmland to areas near water sources. Had Powell&rsquo;s proposal been successful, the layout of the West would look very different from the straight-lined borders and square states we have today.
         p
            | Powell opposed large scale dams run by the federal government, instead favoring smaller, regional water infrastructure under local control. One wonders what he would think about his namesake Lake Powell, the reservoir established when Glen Canyon Dam was completed in 1966, now the second largest man-made reservoir in the United States.
      |     
      .uk-width-medium-6-10
         figure
            img(src='images/powell_map.jpg', alt='Powell Map')    
            p Drainage districts, shown in John Wesley Powell&rsquo;s 1890 Map of the Arid Region of the United States.
   
   +references
      p
         | Kenney, D. (2003). Water allocation and management in the western United States: An overview. In International Working Conference on Water Rights: Institutional options for improving water allocation, Hanoi, Vietnam.
      p
         | Fort, D. D. (2002) Water and Population in the American West. Human Population and Freshwater Resources: US Cases and International Perspectives, Yale School of Forestry and Environmental Studies Bulletin Series, (107), 17-24.
      p
         | Apple, D. D. (2004). Evolution of U. S. Water Policy: Emphasis on the West. Women in Natural Resources, 24(3), 16-25.
      p
         | Gelt, J. (1997). Sharing Colorado River water: history, public policy and the Colorado River Compact. Water Resources Research Center, University of Arizona.
      p
         | Tarlock, A. D. (2000). Prior appropriation: Rule, principle, or rhetoric. NDL Rev., 76, 881.
      p
         | Stephens, D. P. (2011). The Transfer of Agricultural Water to Municipal and Industrial Usages.
         a(href='http://digitalcommons.usu.edu/cgi/viewcontent.cgi?article=1830&context=etd') http://digitalcommons.usu.edu/cgi/viewcontent.cgi?article=1830&amp;context=etd
      p
         | Halverson, A. (2010). An entirely synthetic fish: How rainbow trout beguiled America and overran the world. New Haven: Yale University Press.
      p
         | Powell, J. W., Gilbert, G. K., Dutton, C. E., Drummond, W., &amp; Thompson, A. H. (1879). Report on the Lands of the Arid Region of the United States: With a More Detailed Account of the Lands of Utah. With Maps (Vol. 3). Governmentprint. Office.
   
   
