+minipod('What is neurofibromatosis type 1 (NF1)?')
   .uk-width-medium-6-10
      p
         People with NF1 have noncancerous tumors called neurofibromas. Some people with NF1 have a few of these tumors, and some have thousands. The tumors can be anywhere on the body. Most commonly, they grow on or just underneath the skin, but they can also form in the brain and peripheral nerves, and in the eyes. 

+minipod('Affected gene')
   .uk-width-medium-6-10
      p
         | The affected gene, also called NF1, codes for a protein called neurofibromin. People with NF-1 have an altered form of the gene, and so they make a form of the protein that does not do its job. 
      p
         | Neurofibromin protein is active in nerve tissue. Its job is to control how often these cells divide to make more cells. It works by deactivating a protein called ras. When ras is active, cells divide quickly; when ras is inactive, cells divide slowly. People with NF1 make a form of neurofibromin that deactivates ras poorly or not at all. Cells divide more often than they should, and the extra cells form tumors. 
      p
         | Having just one non-working copy of neurofibromin is enough to cause NF1. That means that people with NF1 have one working copy of the gene, and they do make some neurofibromin protein that does its job. But they do not make enough to be able to fully control cell division. 
      p
         | NF1 follows an autosomal dominant inheritance pattern. About half of the time, people with NF1 inherit a non-working copy of the NF1 gene from an affected parent. The rest of the time, there is no family history of the disease. Rather, a new mutation in the NF1 gene happens either in the child's parents during egg or sperm production, or soon after fertilization. In either case, the person with NF1 can pass the non-working gene, and the condition, to their children. New mutations in NF1 happen fairly often because the gene is large, making it more likely that a mutation will happen.
      +well
         | To learn how the shape of NF1 protein affects its function, visit 
         a(href='/content/basics/neurofibromin/') Test Neurofibromin Activity in a Cell
         | .
      br
   .uk-width-1-1
      figure
         img(src='images/NF1-gene.jpg')
         p NF1 protein is made in nerve tissue. If NF1 does not work properly, it cannot inactive a protein called ras. Ras causes cells to grow and divide more quickly than normal. The extra cells form bumps and tumors in nerve tissue.
      hr
+minipod('Symptoms and features of NF1?')

   .uk-width-medium-6-10
      p
         | Most people with NF1 have distinctive café au lait spots (the color of coffee with milk), as well as freckles. People get more café au lait spots and freckles as they get older. People with NF1 also have noncancerous tumors called neurofibromas throughout their body. Rarely, these tumors can progress into harmful cancers.
      p
         | Less common features include high blood pressure, problems with the bones, curvature of the spine (scoliosis), learning challenges, growths on the iris of the eye (Lisch nodules), and non-cancerous tumors on the optic nerve between the eye and the brain (optic gliomas). Some tumors, even when non-cancerous, can cause vision loss or hearing loss.
      p
         | NF1 can look very different between individuals. The effects depend in part on the specific gene variation that a person has. But they also vary among family members who have the same NF1 gene variation. 
      p
         | Scientists don't know exactly why the effects of NF1 vary so much. But they think that the environment plays a role, as well as other genes (besides NF1). Scientists call these "modifier genes," and they could be any of the thousands of genes in the human genome. Modifier genes may code for proteins that interact directly with  neurofibromin or play a role in the same cellular processes. 

   .uk-width-medium-4-10
      figure
         img(src='nf1/images/nf1-symptoms.jpg')
            
+minipod('Treating and managing NF1')   
   .uk-width-medium-6-10
      p
         | Most of the time, NF1 does not have life-threatening medical effects. Surgery can re-shape bones and remove tumors. Bumps and spots can be removed to help people feel about their about their appearance or if they interfere with daily functions. And everyone with NF1 should be monitored for cancer, learning disabilities, and other issues. 

+minipod('Interesting facts')

   .uk-width-medium-6-10
      p
         | The NF1 gene was first identified as the cause of NF1 in 1990. Over 1,600* different NF1-causing versions of this gene have been found.
      p
         | NF1 affects about 1 out of every 3,000 people.
      p
         | Neurofibromatosis was first described in medical literature by Dr. Friedrich von Recklinghausen. For many years, it was called Von Recklinghausen's disease.
      p
         | * According to the Human Gene Mutation Database, hgmd.cf.ac.uk

   .uk-width-medium-4-10
      
      |        
      +well
         h3 More information
         a(href='https://www.ninds.nih.gov/Disorders/All-Disorders/Neurofibromatosis-Information-Page', target='blank') National Institute of Neurological Disorders and Stroke - Neurofibromatosis 1
         br
         a(href='http://www.nf.org/', target='blank') The National Neurofibromatosis Foundation, Inc.
         br
         a(href='http://www.nfinc.org/', target='blank') Neurofibromatosis, Inc.
