extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-1-1.uk-text-center
         iframe.uk-responsive-width(src='pick_a_model.html', seamless='seamless', scrolling='no', style='width: 920px; height: 800px; border: none; overflow: hidden')
   +references
      p
         | State of New Jersey. (2004). New Jersey Stormwater Best Management Practices Manual. 5-1 &ndash; 5-27.
      p
         | Bromley, C.; Randle, T.; Grant, G.; Thorne, C. (2005). Physical modeling of the removal of Glines Canyon Dam and Lake Mills from the Elwha River, WA. Proceedings of the 2005 watershed management conference; Williamsburg, VA. Reston, VA: American Society of Civil Engineers.
      p
         | Pielke, R. A. (1999). Who decides? Forecasts and responsibilities in the 1997 Red River flood. Applied Behavioral Science Review, 7(2), 83-101.
   
   
