extends /shared/layout
block content
   +pageTitle

   +pod('')
      .uk-width-medium-4-10
         p
            | Unlike behavior or stress, diet is one of the more easily studied, and therefore better understood, environmental factors in epigenetic change.
         p
            | The nutrients we extract from food enter metabolic pathways where they are manipulated, modified, and molded into molecules the body can use.
            | One such pathway is responsible for making methyl groups - important epigenetic tags that silence genes.
         p
            | Familiar nutrients like folic acid, B vitamins, and SAM-e (S-Adenosyl methionine, a popular over-the-counter supplement) are key components of this methyl-making pathway. Diets high in these methyl-donating nutrients can rapidly alter gene expression, especially during early development when the epigenome is first being established.
         p
            a(href='#foodtable', data-uk-modal="{center:true}") Take a detailed look at the nutrients that affect our epigenome and the foods they come from.

      .uk-width-medium-6-10
         img(src='images/pathway.jpg', width='487', height='366')

         p.uk-text-small
            | Nutrients from our food are funneled into a biochemical pathway that extracts methyl groups and then attaches them to our DNA.
   +pod('Diet during early development can have long-lasting effects')

      .uk-width-medium-1-2
         img(src='images/preg_eat.jpg', width='250', height='387')

      .uk-width-medium-1-2
         p
            | Your mother&apos;s diet during pregnancy and your diet as an infant can affect your epigenome in ways that stick with you into adulthood. Animal studies have shown that a diet with too little methyl-donating folate or choline before or just after birth causes certain regions of the genome to be under-methylated for life.
         p
            | For adults too, a methyl-deficient diet leads to a decrease in DNA methylation, but the changes are reversible when methyl is added back to diet.
   +pod('Eating For Two')

      .uk-width-medium-5-10
         p
            | Experiments in mice show just how important a mother&apos;s diet is in shaping the epigenome of her offspring. All mammals have a gene called
            em  agouti
            | . When a mouse&apos;s
            em  agouti
            |  gene is completely unmethylated, its coat is yellow and it is obese and prone diabetes and cancer. When the
            em  agouti
            |  gene is methylated (as it is in normal mice), the coat color is brown and the mouse has a low disease risk. Fat yellow mice and skinny brown mice are genetically identical. The fat yellow mice are different because they have an epigenetic &quot;mutation.&quot;
         p
            | When researchers fed pregnant yellow mice a methyl-rich diet, most of her pups were brown and stayed healthy for life. These results show that the environment in the womb influences adult health. In other words, our health is not only determined by what we eat, but also what our parents ate.

      .uk-width-medium-5-10
         img(src='images/agouti.jpg', width='438', height='511')
   +pod('Of Toxins and Supplements')

      .uk-width-medium-6-10
         img(src='images/mice.jpg', width='426', height='383')

         .uk-text-small
            em Photo courtesy Randy L. Jirtle, PhD

      .uk-width-medium-4-10
         p
            | Chemicals that enter our bodies can also affect the epigenome. Bisphenol A (BPA) is a compound used to make polycarbonate plastic. It is in many consumer products, including water bottles and tin cans. Controversial reports questioning the safety of BPA came out in 2008, prompting some manufacturers to stop using the chemical.
         p
            | In the laboratory, BPA appears to reduced methylation of the agouti gene. In the strain of mice that was studied, yellow mothers give birth to pups with a range of coat colors from yellow to brown. When mothers were fed BPA, their babies were more likely to be yellow and obese&mdash;like the one shown on the left.
         p
            | However, when mothers were fed BPA along with methyl-rich foods, the offspring were more likely to be brown and healthy&mdash;like the one on the right. The maternal nutrient supplementation had counteracted the negative effects of exposure.

   +pod("Don't Count Dad Out")
      .uk-width-medium-6-10
         p
            | So if a pregnant mother&apos;s diet can affect the child&apos;s epigenetic outcome, can dad&apos;s diet do the same? Quite possibly, according to scientists who delved into the well-kept, historical records of annual harvests from a small Swedish community.
         p
            | These records showed that food availability between the ages of nine and twelve for the paternal grandfather affected the lifespan of his grandchildren. But not in the way you might think.
         p
            | Shortage of food for the grandfather was associated with extended lifespan of his grandchildren. Food abundance, on the other hand, was associated with a greatly shortened lifespan of the grandchildren. Early death was the result of either
            a(href='/content/history/diabetes/')  diabetes
            |  or
            a(href='/content/history/heart/')  heart disease
            | . Could it be that during this critical period of development for the grandfather, epigenetic mechanisms are &quot;capturing&quot; nutritional information about the environment to pass on to the next generation?

      .uk-width-medium-4-10
         img(src='images/abundance.jpg', width='172', height='231')

         p.uk-text-small
            | Food abundance for the grandfather
            br
            |  was associated with a reduced
            br
            | lifespan for his grandchildren.
   +pod('The Emerging Field of Nutrigenomics')

      .uk-width-medium-6-10
         p
            | As we better understand the connections between diet and the epigenome, the opportunity arises for clinical applications. Just as mapping our gene variations gives us a window into our personalized medical needs, so might a profile of one&apos;s unique epigenome.
         p
            | Formed through a lifetime of experiences beginning in the womb, our epigenome may provide a wealth of information about how to eat better. Enter the future field of nutrigenomics, where nutritionists take a look at your methylation pattern and design a personalized nutrition plan. While we&apos;re not quite to that point yet, your doctor can already tell a lot about the your disease risk by looking at your
            a(href='/content/history/')  family health history
            | .
   +pod('A Bee&apos;s Royal Diet')

      .uk-width-medium-6-10
         p
            | Royal jelly is a complex, protein-rich substance secreted from glands on the heads of worker bees. A larva destined to become a queen is fed large amounts of royal jelly inside a compartment called a queen cup.
         p
            | The larvae that develop into workers and queens are genetically identical. But because of her royal jelly diet, the queen will develop ovaries and a larger abdomen for egg laying, while the worker will be sterile. She&apos;ll also develop queenly behaviors: the instincts to kill rival queens, make communication sounds known as &quot;piping,&quot; and go on &quot;mating flights.&quot; The queen is fed only royal jelly for her entire life.
         p
            | In a series of experiments, scientists determined that royal jelly silences a key gene (
            em Dnmt3
            | ), which codes for an enzyme that silences a group of queen genes. When
            em  Dnmt3
            |  is turned &quot;on,&quot; the queen genes are epigenetically silenced, and the larvae develop into the default &quot;worker&quot; variety. But when royal jelly turns
            em  Dnmt3
            |   &quot;off,&quot; the queen genes jump into action, turning the larvae into queens.

      .uk-width-medium-4-10
         img(src='images/queen_cup.jpg', width='331', height='222')

         p.uk-text-small
            strong Queen Bee Larvae:
            | Queens are raised in specially constructed cells called &quot;queen cups,&quot; which are filled with royal jelly.

      +references
         p
            | McGowan P.O., Meaney M.J., Szyf M. (2008).&nbsp;
            a(href=' http://www.sciencedirect.com/science?_ob=ArticleURL&_udi=B6SYR-4T3DCXT-B&_user=418636&_rdoc=1&_fmt=&_orig=search&_sort=d&_docanchor=&view=c&_acct=C000019853&_version=1&_urlVersion=0&_userid=418636&md5=473525ad89bd1c2b5b07b108529174be') Diet and the epigenetic (re)programming of phenotypic differences in behavior
            | . Brain Research, 1237: 12-24 (subscription required).

         p
            | Kaati G., Bygren L.O., Pembrey M., Sjostrom M. (2007).
            a(href='http://www.nature.com/ejhg/journal/v15/n7/abs/5201832a.html') Transgenerational response to nutrition, early life circumstances and longevity
            | . European Journal of Human Genetics, 15: 784-790.
         p
            | Dolinoy D.C., Weidman J.R., Waterland R.A., Jirtle R.L. (2006).
            a(href='http://www.ncbi.nlm.nih.gov/pmc/articles/PMC1440782/?tool=pubmed')
               | Maternal Genistein Alters Coat Color and Protects Avy Mouse Offspring from Obesity by Modifying the Fetal Epigenome
            | . Environmental Health Perspectives, 114:567-572.
         p
            | Dolinoy D.C., Huang D., Jirtle R.L. (2007).
            a(href='http://www.pnas.org/content/104/32/13056.long')
               | Maternal nutrient supplementation counteracts bisphenol A-induced DNA hypomethylation in early development
            | . PNAS, 104: 13056-13061.
         p
            | Kucharski R., Maleszka J., Foret S., Maleszka R.
            a(href='http://www.sciencemag.org/cgi/content/full/319/5871/1827')
               | Nutritional Control of Reproductive Status in Honeybees via DNA Methylation (2008)
            | . Science, 319: 1827-1830 (registration required).

   #foodtable.uk-modal
      include table.pug
