extends /shared/modal
block modal-content
   table.uk-table.uk-table-striped
      tr
         td
            h3 Nutrient
         |     
         td
            h3 Food Origin
         |     
         td
            h3 Epigenetic Role
      |   
      tr
         td
            h3 Methionine
         |     
         td
            div Sesame seeds, brazil nuts, fish, peppers, spinach
         |     
         td
            div SAM synthesis
      |   
      tr
         td
            h3 Folic Acid
         |     
         td
            div Leafy vegetables, sunflower seeds, baker&apos;s yeast, liver
         |     
         td
            div Methionine synthesis
      |   
      tr
         td
            h3 Vitamin B12
         |     
         td
            div Meat, liver, shellfish, milk
         |     
         td
            div Methionine synthesis
      |   
      tr
         td
            h3 Vitamin B6
         |     
         td
            div Meats, whole grain products, vegetables, nuts
         |     
         td
            div Methionine synthesis
      |   
      tr
         td
            h3 SAM-e (SAM)
         |     
         td
            div Popular dietary supplement pill; unstable in food
         |     
         td
            div Enzymes transfer methyl groups from SAM directly to the DNA
      |   
      tr
         td
            h3 Choline
         |     
         td
            div Egg yolks, liver, soy, cooked beef, chicken, veal and turkey
         |     
         td
            div Methyl donor to SAM
      |   
      tr
         td
            h3 Betaine
         |     
         td
            div Wheat, spinach, shellfish, and sugar beets
         |     
         td
            div Break down the toxic byproducts of SAM synthesis
      |   
      tr
         td
            h3 Resveratrol
         |     
         td
            div Red wine
         |     
         td
            div Removes acetyl groups from histones, improving health (shown in lab mice)
      |   
      tr
         td
            h3 Genistein
         |     
         td
            div Soy, soy products
         |     
         td
            div Increased methylation, cancer prevention, unknown mechanism
      |   
      tr
         td
            h3 Sulforaphane
         |     
         td
            div Broccoli
         |     
         td
            div Increased histone acetylation turning on anti-cancer genes
      |   
      tr
         td
            h3 Butyrate
         |     
         td
            div A compound produced in the intestine when dietary fiber is fermented
         |     
         td
            div
               | Increased histone acetylation turning on &apos;protective&apos; genes, increased lifespan (shown in the lab in flies)
      |   
      tr
         td
            h3 Diallyl sulphide (DADS)
         |     
         td
            div Garlic
         |     
         td
            div Increased histone acetylation turning on anti-cancer genes
