extends /shared/layout
block content
   +pageTitle
   div(style='width: 550px;')
      p
         em Cloning in Focus
         |  was written and produced through a
         | partnership between the Genetic Science Learning Center and a talented
         | group of science teachers. Creators of individual
         | activities are listed below.
      p Illustrations and animations by Harmony Starr.
      p What is Cloning?
      ul
         li Mary Bucklew (Orem Junior High School, Orem, UT), Jennifer Logan
      p Click and Clone
      ul
         li Andrew Semadeni (Logan High School, Logan, UT), Mel Limson
      p Why Clone?
      ul
         li Jennifer Logan
      p The Clone Zone
      ul
         li Darlene Bell, Mel Limson
      p Cloning Myths
      ul
         li Dan Black (Snow College, Ephraim, UT), Jennifer Logan
      p Is it Cloning? Or Not?
      ul
         li David Van Dijk (Pleasant Grove High School, Pleasant Grove, UT), Jennifer Logan
      p What are the Risks of Cloning?
      ul
         li Mel Limson
      p What are some issues in cloning? 
      ul
         li
            | Dwight Brown (Bountiful HS,
            | Bountiful, UT), Mel Limson, Jennifer Logan
   
