{

	"symbol_slide2":{
		"element_${_Text3Copy3}":{
			"timelineColor":"0x50bd82",
			"animationEnabled":"true"},
		"element_${_Text3}":{
			"timelineColor":"0xeedf79",
			"animationEnabled":"true"},
		"element_${_Text3Copy}":{
			"timelineColor":"0x2f73ad",
			"animationEnabled":"true"},
		"element_${_dna_highlight}":{
			"timelineColor":"0x00bda4",
			"animationEnabled":"true"},
		"element_${_Text3Copy2}":{
			"timelineColor":"0x91c767",
			"animationEnabled":"true"},
		"element_${_rna_highlight}":{
			"timelineColor":"0x00a096",
			"animationEnabled":"true"}},
	"button_backCLAIRE-Default Timeline_playhead_ms":"0",
	"pref__general__AutoKeyframeProperties":"true",
	"slide 1-Default Timeline_mark_ms":"0",
	"text_box-Default Timeline_playhead_ms":"0",
	"slide_2-Default Timeline_playhead_ms":"0",
	"png_back-Default Timeline_playhead_ms":"0",
	"symbol_slide3":{
		"element_${_Text3}":{
			"animationEnabled":"false"},
		"element_${_rna_structure_highlight2}":{
			"invisible":"false",
			"animationEnabled":"true",
			"timelineColor":"0x91c767"},
		"element_${_rna_structure}":{
			"timelineTreeOpened":"false",
			"animationEnabled":"true",
			"invisible":"false",
			"timelineColor":"0xfb657a"},
		"element_${_RectangleCopy}":{
			"timelineTreeOpened":"false",
			"animationEnabled":"true",
			"timelineColor":"0xffd46d"},
		"element_${_dna_structure_highlight}":{
			"animationEnabled":"true",
			"invisible":"false",
			"timelineColor":"0xeedf79"},
		"element_${_Text4Copy}":{
			"timelineColor":"0x00bda4",
			"animationEnabled":"true"},
		"element_${_Text3Copy}":{
			"animationEnabled":"false"},
		"element_${_Text4}":{
			"timelineColor":"0x50bd82",
			"animationEnabled":"true"},
		"element_${_Rectangle}":{
			"timelineTreeOpened":"false",
			"animationEnabled":"true",
			"timelineColor":"0xdb619d"},
		"element_${_dna_structure}":{
			"timelineTreeOpened":"false",
			"animationEnabled":"true",
			"timelineColor":"0xceaef4"}},
	"pleasework-Default Timeline_mark_ms":"-1",
	"pref__general__FilterNonAnimatedElements":"true",
	"button_next-Default Timeline_mark_ms":"0",
	"pleasework-Default Timeline_playhead_ms":"0",
	"slide 1-Default Timeline_playhead_ms":"0",
	"button_back-Default Timeline_playhead_ms":"0",
	"symbol_pleasework":{
		"element_${_RoundRect}":{
			"timelineColor2":"0x107faa",
			"animationEnabled":"true",
			"timelineColor3":"0x295a6d",
			"timelineColor":"0x008dc8"},
		"dummyStageParentWidth":"880px",
		"codeTreeElementPopupFilter":"",
		"dummyStageParentHeight":"450.5px",
		"defaultStageParentWidth":"880px",
		"element_${_Text4}":{
			"timelineColor2":"0x5a558a",
			"animationEnabled":"true",
			"timelineColor3":"0x4a485e",
			"timelineColor":"0x63599f"},
		"defaultStageParentHeight":"450.5px"},
	"symbol_png_back":{
		"element_${_Untitled-13}":{
			"timelineColor2":"0x107faa",
			"animationEnabled":"true",
			"timelineColor3":"0x295a6d",
			"timelineColor":"0x008dc8"},
		"dummyStageParentWidth":"880px",
		"codeTreeElementPopupFilter":"",
		"dummyStageParentHeight":"450.5px",
		"defaultStageParentWidth":"880px",
		"defaultStageParentHeight":"450.5px"},
	"symbol_button_back":{
		"element_${_arrow_left}":{
			"timelineColor":"0x00a096",
			"animationEnabled":"false"},
		"defaultStageParentHeight":"450.5px",
		"element_${_Text3}":{
			"timelineColor2":"0xcbbd71",
			"animationEnabled":"true",
			"timelineColor3":"0x7b7652",
			"timelineColor":"0xeedf79"},
		"defaultStageParentWidth":"880px",
		"element_${_RoundRect}":{
			"timelineColor2":"0x326a96",
			"animationEnabled":"true",
			"timelineColor3":"0x385063",
			"timelineColor":"0x2f73ad"},
		"dummyStageParentWidth":"880px",
		"dummyStageParentHeight":"450.5px"},
	"symbol_frame":{
		"defaultStageParentWidth":"880px",
		"defaultStageParentHeight":"450.5px",
		"dummyStageParentWidth":"880px",
		"dummyStageParentHeight":"450.5px"},
	"frame-Default Timeline_playhead_ms":"0",
	"pixelsPerMs":"0.6070260820826",
	"slide1-Default Timeline_playhead_ms":"0",
	"symbol_button_reverse2":{
		"dummyStageParentWidth":"880px",
		"dummyStageParentHeight":"450.5px",
		"defaultStageParentHeight":"450.5px",
		"codeTreeElementPopupFilter":"",
		"element_${_arrow_rightCopy}":{
			"timelineColor2":"0x4fa275",
			"animationEnabled":"true",
			"timelineColor3":"0x456a55",
			"timelineColor":"0x50bd82"},
		"element_${_arrow_right}":{
			"timelineColor2":"0xcbbd71",
			"animationEnabled":"false",
			"timelineColor3":"0x7b7652",
			"timelineColor":"0xeedf79"},
		"element_${_button_next2}":{
			"timelineColor2":"0xd8b467",
			"animationEnabled":"false",
			"timelineColor3":"0x81714f",
			"timelineColor":"0xffd46d"},
		"element_${_RoundRectCopy}":{
			"timelineColor2":"0x1aa38f",
			"animationEnabled":"true",
			"timelineColor3":"0x2a6a61",
			"timelineColor":"0x00bda4"},
		"defaultStageParentWidth":"880px"},
	"stage-Default Timeline_mark_ms":"-1",
	"nextElementColorIndex":"10",
	"stage-Default Timeline_playhead_ms":"2000",
	"symbol_slide8":{
		"element_${_dna_longCopy2}":{
			"animationEnabled":"false"},
		"element_${_dna_longCopy}":{
			"animationEnabled":"false"}},
	"button_begin-Default Timeline_playhead_ms":"0",
	"symbol_button_next":{
		"dummyStageParentWidth":"880px",
		"dummyStageParentHeight":"450.5px",
		"defaultStageParentHeight":"450.5px",
		"codeTreeElementPopupFilter":"",
		"element_${_Rectangle}":{
			"animationEnabled":"false",
			"invisible":"true"},
		"defaultStageParentWidth":"880px",
		"element_${_arrow_right}":{
			"timelineColor2":"0x81aa62",
			"animationEnabled":"true",
			"timelineColor3":"0x5b6c4d",
			"timelineColor":"0x91c767"},
		"element_${_RoundRectCopy}":{
			"timelineColor2":"0x107faa",
			"animationEnabled":"true",
			"timelineColor3":"0x295a6d",
			"timelineColor":"0x008dc8"},
		"element_${_Text3}":{
			"animationEnabled":"false"}},
	"button_reverse-Default Timeline_playhead_ms":"0",
	"button_backCLAIRE3-Default Timeline_playhead_ms":"0",
	"symbol_button_backCLAIRE3":{
		"element_${_Rectangle2}":{
			"animationEnabled":"false"},
		"defaultStageParentHeight":"450.5px",
		"codeTreeElementPopupFilter":"",
		"dummyStageParentHeight":"450.5px",
		"defaultStageParentWidth":"880px",
		"dummyStageParentWidth":"880px",
		"element_${_RoundRectCopy}":{
			"timelineColor2":"0x4fa275",
			"animationEnabled":"true",
			"timelineColor3":"0x456a55",
			"timelineColor":"0x50bd82"},
		"element_${_arrow_right}":{
			"timelineColor2":"0x81aa62",
			"timelineColor3":"0x5b6c4d",
			"timelineColor":"0x91c767",
			"locked":"false",
			"animationEnabled":"true",
			"invisible":"false"}},
	"CompZoomFactor":"100",
	"ModelData":"{\
\"stage\": {\
   \"timelines\": {\
      \"Default Timeline\": {\
            \"ElementKeyframes\": {\
                \"${_slide5}\": [], \
                \"${_button_backCLAIRECopy}\": [], \
                \"${_button_reverse2}\": [], \
                \"${_pleasework}\": [], \
                \"body\": [], \
                \"${_png_back}\": [], \
                \"${_button_next}\": [], \
                \"${_button_nextCopy}\": [], \
                \"${_Text4}\": [], \
                \"${_Untitled-12}\": [], \
                \"${_button_backCLAIRE3}\": [], \
                \"${_tRNA_crop}\": [], \
                \"${_tabs}\": [], \
                \"${_Untitled-13}\": [], \
                \"${_Untitled-1}\": [], \
                \"${_start_text}\": [], \
                \"${_text_box}\": [], \
                \"${_slide3}\": [], \
                \"${_PNG_back}\": [], \
                \"${_button_reverse}\": [], \
                \"${_slide1}\": [], \
                \"${_button_next2}\": [], \
                \"${_button_backCLAIRE}\": [], \
                \"${_slide4}\": [], \
                \"${_arrow_rightCopy}\": [], \
                \"${_dna_gold_close_crop_med}\": [], \
                \"${_count}\": [], \
                \"${_slide2}\": [], \
                \"${_arrow_right}\": [], \
                \"${_button_begin}\": [], \
                \"${_RoundRect}\": [], \
                \"${_slide8}\": [], \
                \"${_button_backCLAIRE2}\": [], \
                \"${_slide6}\": [], \
                \"${_RoundRectCopy}\": []\
            }\
      }\
   }},\
\"slide1\": {\
   \"timelines\": {\
      \"Default Timeline\": {\
      }\
   }},\
\"button_back\": {\
   \"timelines\": {\
      \"Default Timeline\": {\
      }\
   }},\
\"button_next\": {\
   \"timelines\": {\
      \"Default Timeline\": {\
            \"ElementKeyframes\": {\
                \"${_RoundRectCopy}\": [], \
                \"${_Rectangle}\": [], \
                \"${_arrow_right}\": []\
            }\
      }\
   }},\
\"text_box\": {\
   \"timelines\": {\
      \"Default Timeline\": {\
      }\
   }},\
\"slide2\": {\
   \"timelines\": {\
      \"Default Timeline\": {\
      }\
   }},\
\"slide3\": {\
   \"timelines\": {\
      \"Default Timeline\": {\
      }\
   }},\
\"slide4\": {\
   \"timelines\": {\
      \"Default Timeline\": {\
      }\
   }},\
\"slide5\": {\
   \"timelines\": {\
      \"Default Timeline\": {\
      }\
   }},\
\"slide6\": {\
   \"timelines\": {\
      \"Default Timeline\": {\
      }\
   }},\
\"slide8\": {\
   \"timelines\": {\
      \"Default Timeline\": {\
      }\
   }},\
\"button_begin\": {\
   \"timelines\": {\
      \"Default Timeline\": {\
      }\
   }},\
\"frame\": {\
   \"timelines\": {\
      \"Default Timeline\": {\
      }\
   }},\
\"button_backCLAIRE3\": {\
   \"timelines\": {\
      \"Default Timeline\": {\
            \"ElementKeyframes\": {\
                \"${_RoundRectCopy}\": [], \
                \"${_Rectangle2}\": [], \
                \"${_arrow_right}\": []\
            }\
      }\
   }},\
\"Preloader\": {\
   \"timelines\": {\
\
   }},\
\"Down-level\": {\
   \"timelines\": {\
\
   }},\
\"button_reverse2\": {\
   \"timelines\": {\
      \"Default Timeline\": {\
            \"ElementKeyframes\": {\
                \"${_arrow_right}\": [], \
                \"${_arrow_rightCopy}\": [], \
                \"${_button_next2}\": [], \
                \"${_RoundRectCopy}\": [], \
                \"${_RoundRect}\": []\
            }\
      }\
   }},\
\"pleasework\": {\
   \"timelines\": {\
      \"Default Timeline\": {\
            \"ElementKeyframes\": {\
                \"${_Text4}\": [], \
                \"${_RoundRect}\": []\
            }\
      }\
   }}\
}",
	"slide9-Default Timeline_playhead_ms":"0",
	"slide1-Default Timeline_mark_ms":"661.61054240832",
	"StageZoomFactor":"100",
	"symbol_button_begin":{
		"defaultStageParentWidth":"880px",
		"defaultStageParentHeight":"450.5px",
		"dummyStageParentWidth":"880px",
		"dummyStageParentHeight":"450.5px"},
	"slide4-Default Timeline_mark_ms":"500",
	"symbol_text_box":{
		"defaultStageParentHeight":"450.5px",
		"dummyStageParentHeight":"450.5px",
		"defaultStageParentWidth":"880px",
		"dummyStageParentWidth":"880px",
		"element_${_text_box}":{
			"timelineColor2":"0xba5b89",
			"animationEnabled":"true",
			"timelineColor3":"0x734a5f",
			"timelineColor":"0xdb619d"}},
	"slide3-Default Timeline_playhead_ms":"0",
	"slide4-Default Timeline_playhead_ms":"0",
	"slide2-Default Timeline_playhead_ms":"0",
	"symbol_slide4":{
		"element_${_RNA_labels_4}":{
			"invisible":"false",
			"animationEnabled":"true",
			"timelineColor":"0x00a9fa"},
		"element_${_dna_labels_4a}":{
			"invisible":"false",
			"animationEnabled":"true",
			"timelineColor":"0x00a096"},
		"element_${_RNA_labels_4a}":{
			"invisible":"false",
			"animationEnabled":"true",
			"timelineColor":"0x008dc8"},
		"element_${_dna_labels_4}":{
			"timelineColor":"0x2f73ad",
			"animationEnabled":"true"}},
	"viewStartMs":"-8.2368783608867",
	"button_next_1-Default Timeline_playhead_ms":"0",
	"button_reverse2-Default Timeline_playhead_ms":"0",
	"symbol_stage":{
		"element_${_button_backCLAIRE}":{
			"timelineColor2":"0x1aa38f",
			"timelineColor3":"0x2a6a61",
			"timelineColor":"0x00bda4",
			"animationEnabled":"false",
			"invisible":"false"},
		"element_${_dna_labels_5}":{
			"invisible":"false"},
		"element_${_button_next}":{
			"timelineColor2":"0xb099ce",
			"timelineColor3":"0x70657c",
			"timelineColor":"0xceaef4",
			"locked":"false",
			"animationEnabled":"true",
			"timelineTreeOpened":"true",
			"invisible":"false"},
		"dummyStageParentHeight":"450.5px",
		"element_${_frame_right}":{
			"locked":"true"},
		"element_${_slide3}":{
			"timelineColor2":"0x107faa",
			"invisible":"true",
			"timelineColor":"0x008dc8",
			"timelineTreeOpened":"false",
			"animationEnabled":"true",
			"locked":"true",
			"timelineColor3":"0x295a6d"},
		"element_${_arrow_left}":{
			"timelineColor":"0x91c767",
			"animationEnabled":"false"},
		"element_${_tRNA_crop}":{
			"timelineColor2":"0x4fa275",
			"timelineColor3":"0x456a55",
			"timelineColor":"0x50bd82",
			"locked":"true",
			"animationEnabled":"true",
			"timelineTreeOpened":"false",
			"invisible":"false"},
		"element_${_button_backCLAIRECopy}":{
			"timelineColor2":"0x1095d2",
			"animationEnabled":"false",
			"timelineColor3":"0x29647e",
			"timelineColor":"0x00a9fa"},
		"element_${_frame}":{
			"locked":"false",
			"animationEnabled":"false",
			"invisible":"false",
			"timelineColor":"0xeedf79"},
		"element_${_rna_a3}":{
			"timelineColor":"0x2f73ad",
			"animationEnabled":"true"},
		"element_${_dna_a}":{
			"timelineColor":"0x00a9fa",
			"animationEnabled":"false"},
		"element_${_RoundRect}":{
			"timelineColor":"0xeedf79",
			"animationEnabled":"false"},
		"element_${_Untitled-1}":{
			"animationEnabled":"false"},
		"element_${_frame_bottom}":{
			"locked":"true"},
		"element_${_RNA_labels_6}":{
			"invisible":"false"},
		"element_${_dna_gold_close_crop}":{
			"animationEnabled":"false",
			"timelineColor":"0x00bda4"},
		"element_${_button_nextCopy}":{
			"timelineColor2":"0x1095d2",
			"animationEnabled":"false",
			"timelineColor3":"0x29647e",
			"timelineColor":"0x00a9fa"},
		"element_${_slide6}":{
			"timelineColor2":"0xd35d6e",
			"invisible":"true",
			"timelineColor":"0xfb657a",
			"timelineTreeOpened":"false",
			"animationEnabled":"true",
			"locked":"true",
			"timelineColor3":"0x7e4b52"},
		"element_${_Text4}":{
			"animationEnabled":"false"},
		"defaultStageParentHeight":"450.5px",
		"codeTreeElementPopupFilter":"",
		"element_${_rna_a2}":{
			"timelineColor":"0x00bda4",
			"animationEnabled":"true"},
		"element_${_Text3Copy}":{
			"invisible":"false"},
		"element_${_tabs}":{
			"timelineColor2":"0x81aa62",
			"invisible":"false",
			"timelineColor":"0x91c767",
			"timelineTreeOpened":"false",
			"animationEnabled":"true",
			"locked":"false",
			"timelineColor3":"0x5b6c4d"},
		"element_${_Text5}":{
			"timelineColor":"0x50bd82"},
		"element_${_button_reverse2}":{
			"timelineColor2":"0x168c84",
			"animationEnabled":"false",
			"timelineColor3":"0x2a605c",
			"timelineColor":"0x00a096"},
		"element_${_button_reverse}":{
			"timelineColor2":"0xba5b89",
			"animationEnabled":"false",
			"timelineColor3":"0x734a5f",
			"timelineColor":"0xdb619d"},
		"dummyStageParentWidth":"880px",
		"element_${_slide2}":{
			"timelineColor2":"0x1095d2",
			"invisible":"true",
			"timelineColor":"0x00a9fa",
			"timelineTreeOpened":"true",
			"animationEnabled":"true",
			"locked":"true",
			"timelineColor3":"0x29647e"},
		"element_${_button_backCLAIRE3}":{
			"timelineColor2":"0xb099ce",
			"animationEnabled":"false",
			"timelineColor3":"0x70657c",
			"timelineColor":"0xceaef4"},
		"element_${_button_backCLAIRE2}":{
			"timelineColor2":"0x5a558a",
			"animationEnabled":"false",
			"timelineColor3":"0x4a485e",
			"timelineColor":"0x63599f"},
		"element_${_Untitled-12}":{
			"animationEnabled":"false"},
		"element_${_start_text}":{
			"timelineColor2":"0x81aa62",
			"timelineColor3":"0x5b6c4d",
			"timelineColor":"0x91c767",
			"locked":"true",
			"animationEnabled":"true",
			"invisible":"false"},
		"element_${_text_box}":{
			"timelineColor2":"0xd8b467",
			"timelineColor3":"0x81714f",
			"timelineColor":"0xffd46d",
			"locked":"true",
			"animationEnabled":"true",
			"timelineTreeOpened":"false",
			"invisible":"false"},
		"element_${_Untitled-13}":{
			"animationEnabled":"false"},
		"element_${_PNG_back}":{
			"timelineColor2":"0x168c84",
			"animationEnabled":"true",
			"timelineColor3":"0x2a605c",
			"timelineColor":"0x00a096"},
		"element_${_Rectangle}":{
			"timelineColor2":"0xcbbd71",
			"animationEnabled":"false",
			"timelineColor3":"0x7b7652",
			"timelineColor":"0xeedf79"},
		"element_${_RNA_labels_5}":{
			"invisible":"false"},
		"element_${_count}":{
			"timelineColor2":"0x1aa38f",
			"invisible":"false",
			"timelineColor":"0x00bda4",
			"locked":"false",
			"animationEnabled":"true",
			"timelineTreeOpened":"false",
			"timelineColor3":"0x2a6a61"},
		"element_${_button_next2}":{
			"timelineColor2":"0xd35d6e",
			"animationEnabled":"false",
			"timelineColor3":"0x7e4b52",
			"timelineColor":"0xfb657a"},
		"element_${_png_back}":{
			"timelineColor2":"0x326a96",
			"timelineColor3":"0x385063",
			"timelineColor":"0x2f73ad",
			"animationEnabled":"false",
			"invisible":"false"},
		"element_${_button_begin}":{
			"timelineColor2":"0xcbbd71",
			"timelineColor3":"0x7b7652",
			"timelineColor":"0xeedf79",
			"locked":"false",
			"animationEnabled":"true",
			"timelineTreeOpened":"false",
			"invisible":"false"},
		"element_${_rna_a}":{
			"timelineColor":"0x00a096",
			"animationEnabled":"true"},
		"element_${_pleasework}":{
			"timelineColor2":"0x326a96",
			"animationEnabled":"true",
			"timelineColor3":"0x385063",
			"timelineColor":"0x2f73ad"},
		"element_${_button_back}":{
			"timelineColor2":"0x1095d2",
			"timelineColor3":"0x29647e",
			"timelineColor":"0x00a9fa",
			"locked":"false",
			"animationEnabled":"false",
			"timelineTreeOpened":"false",
			"invisible":"true"},
		"element_${_frame_top}":{
			"locked":"true"},
		"element_${_slide8}":{
			"timelineColor2":"0xba5b89",
			"invisible":"true",
			"timelineColor":"0xdb619d",
			"timelineTreeOpened":"false",
			"animationEnabled":"true",
			"locked":"true",
			"timelineColor3":"0x734a5f"},
		"element_${_frame_left}":{
			"locked":"true"},
		"element_${_slide4}":{
			"timelineColor2":"0xb099ce",
			"invisible":"false",
			"timelineColor":"0xceaef4",
			"timelineTreeOpened":"true",
			"animationEnabled":"true",
			"locked":"true",
			"timelineColor3":"0x70657c"},
		"element_${_slide1}":{
			"timelineColor2":"0x5a558a",
			"invisible":"true",
			"timelineColor":"0x63599f",
			"timelineTreeOpened":"true",
			"animationEnabled":"true",
			"locked":"false",
			"timelineColor3":"0x4a485e"},
		"element_${_dna_gold_close_crop_med}":{
			"timelineColor2":"0xcbbd71",
			"timelineColor3":"0x7b7652",
			"timelineColor":"0xeedf79",
			"locked":"true",
			"animationEnabled":"true",
			"timelineTreeOpened":"false",
			"invisible":"false"},
		"element_${_arrow_right}":{
			"timelineColor":"0x00bda4",
			"animationEnabled":"false"},
		"element_${_rna_structure_highlight}":{
			"timelineColor":"0x63599f",
			"animationEnabled":"true"},
		"element_${_copyrighttext}":{
			"locked":"true",
			"timelineColor":"0x91c767"},
		"defaultStageParentWidth":"880px",
		"element_${_slide5}":{
			"timelineColor2":"0x5a558a",
			"invisible":"false",
			"timelineColor":"0x63599f",
			"timelineTreeOpened":"false",
			"animationEnabled":"true",
			"locked":"true",
			"timelineColor3":"0x4a485e"},
		"element_${_RoundRectCopy}":{
			"timelineColor":"0x50bd82",
			"animationEnabled":"false"},
		"element_${_stage}":{
			"epOpened":"true",
			"invisible":"false",
			"timelineColor":"0xffd46d"}},
	"TransitionIdCounter":"528",
	"HTMLFileName":"dna_vs_rna.html",
	"viewStartY":"0",
	"slide6-Default Timeline_playhead_ms":"0",
	"button_back-Default Timeline_mark_ms":"0",
	"slide3-Default Timeline_mark_ms":"2000",
	"usedBOM":"false",
	"pref__general__GenerateSmoothTransitions":"true",
	"pref__general__AutoKeyframePropertiesArmed":"true",
	"button_next-Default Timeline_playhead_ms":"0",
	"symbol_slide1":{
		"element_${_Text}":{
			"timelineColor2":"0xd8b467",
			"animationEnabled":"true",
			"timelineColor3":"0x81714f",
			"timelineColor":"0xffd46d"},
		"element_${_rna_a3}":{
			"timelineColor2":"0x107faa",
			"animationEnabled":"true",
			"timelineColor3":"0x295a6d",
			"timelineColor":"0x008dc8"},
		"element_${_dna_a2}":{
			"timelineColor2":"0xba5b89",
			"animationEnabled":"true",
			"timelineColor3":"0x734a5f",
			"timelineColor":"0xdb619d"},
		"element_${_dna_a_turned}":{
			"timelineColor2":"0xd35d6e",
			"animationEnabled":"true",
			"timelineColor3":"0x7e4b52",
			"timelineColor":"0xfb657a"},
		"element_${_rna_a_turned}":{
			"timelineColor2":"0xb099ce",
			"animationEnabled":"true",
			"timelineColor3":"0x70657c",
			"timelineColor":"0xceaef4"}},
	"slide_2-Default Timeline_mark_ms":"1000"}