extends /shared/layout
block content
   +pageTitle

   script(type='text/javascript', charset='utf-8', src='gsl-from-space_edgePreload.js')

   style.
      .edgeLoad-EDGE-169576360 { visibility:hidden; }
   
   +pod('')
      .uk-width-medium-6-10
         p
            | This time-lapse video of individual daily satellite images shows how the lake changed between January of 2008 and August of 2010. Notice how the lake changes throughout the seasons, and how the changes are repeated from year to year.

   +pod('')
      .uk-width-1-1
         #Stage.EDGE-169576360
      
      p
         em Aqua and Terra satellite images courtesy NASA
         
   +pod('Water flow')  
      .uk-width-medium-6-10
         p
            | Most of the water flowing into Great Salt Lake enters from the east, on the right side of the image. The bays and wetlands can be seen filling with water as the snow melts in the spring. They grow smaller during the summer, and they fill with ice and snow during the winter.
         
   +pod('Shoreline')
      .uk-width-medium-6-10
         p
            | The shoreline on all sides of the lake expands during the spring as melting snow flows into the lake. The shoreline contracts during the summer, as less water flows into the lake and sunshine and high temperatures increase evaporation. After reaching its lowest point in the fall, the shoreline begins expanding once again.
 
   +pod('Vegetation')
      .uk-width-medium-6-10
         p
            | To the right of the lake lie the Wasatch mountains. They are snow-covered in the winter and green with vegetation in the summer. These mountains are the main source of the water that flows into Great Salt Lake.
   +pod('Color changes')
      .uk-width-medium-6-10
         p
            | The water of Great Salt Lake is filled with microbial life. Pink microbes fill the northern part of the lake, as well as some of the evaporation ponds. The color of the water changes, becoming intensely pink as these microbes become more plentiful through the summer and into the fall. In the southern part of the lake, green microbes bloom in the early spring, turning the water a pea-soup shade of green. When massive numbers of brine shrimp hatch in May, they feed on the green microbes, and the lake color quickly shifts to blue.
      
   
