+minipod('What is Down Syndrome?')
   .uk-width-medium-6-10
      p
      | Down syndrome is caused by having an extra copy of chromosome 21. It is also called trisomy 21.  
      p
      | Most of the time, the characteristics of Down syndrome are recognizable as soon as a baby with the condition is born. The syndrome is often recognized before birth during an ultrasound or through prenatal genetic testing.    
      p
      | In three to four percent of cases, Down syndrome is caused by a translocation. In a Robertsonian translocation, part of chromosome 21 can break off and attach to another chromosome. People with such a translocation will not have Down syndrome themselves, but they can have a child with Down syndrome.
      br
      br
      +well
         | To learn more about translocations, visit the 
         a(href='/content/rearrangements') Chromosomal Rearrangements 
         | page.
   .uk-width-medium-4-10
      figure
         img(src='down/images/trisomy21_karyotype.jpg', alt='down syndrome chromosomes')
         p This karyotype shows all of the chromosomes from a person with Down syndrome. The three copies of chromosome 21 are circled.

+minipod('Features of Down Syndrome?')
   .uk-width-medium-4-10
      figure
         img(src='down/images/down-kids.jpg', alt='Kids')
         p Children with Down Syndrome

   .uk-width-medium-6-10
      p
         | People with Down syndrome tend to have distinct facial features. They have some level of intellectual disability, which is usually mild to moderate. Children with Down syndrome usually develop more slowly than their peers. They can take longer to learn to walk, talk, and care for themselves.
      p
         | People with Down syndrome are at an increased risk of having certain medical issues. These including respiratory infections, problems with the gastrointestinal (digestive) tract, leukemia (a blood cancer), eye problems, hearing loss, and hypothyroidism. Many babies are born with heart conditions, and heart problems can also appear later in life. Because of these issues, people with Down syndrome have a life expectancy that is shorter than average—about 60 years.

+minipod('How is Down Syndrome Managed?')
   .uk-width-medium-6-10
      p
      | With proper management, people with Down syndrome can have very meaningful lives. 
      p
      | All newborn babies with Down Syndrome should be checked for heart and digestive tract problems. Physical therapy and speech therapy can help children reach developmental milestones and improve learning. Screening for medical problems associated with the disorder, and sometimes surgery to correct them, can improve quality of life. 

+minipod('Interesting Facts About Down Syndrome')
   .uk-width-medium-6-10
      p
         | Down syndrome is really the only trisomy compatible with life.  Only two other trisomies have been observed in babies
         | born alive (trisomies 13 and 18), but babies born with these trisomies have only a 5% chance of surviving longer than one year.
      p
         | In 90% of Trisomy 21 cases, the additional chromosome comes from the mother's egg rather than the father's sperm.
      p
         | Down syndrome is the most common genetic disorder caused by a chromosomal abnormality.  It affects 1 out of every 800 to 1,000 babies.
      p
         | Down syndrome was originally described in 1866 by John Langdon Down.  It wasn't until 1959 that French doctor Jerome Lejeune discovered it was caused by the inheritance of an extra chromosome 21.
   .uk-width-medium-4-10  
      +well
         h3 More information
         a(href='http://www.nads.org/ ', target='blank') National Association for Down Syndrome
         br
         a(href='http://www.ndss.org/', target='blank') National Down Syndrome Society
         br
         a(href='http://ndsccenter.org/', target='blank') National Down Syndrome Congress
