extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-6-10
        p
          | <i>Evolution: The Unity and Diversity of Life</i> was produced by the Genetic Science Learning Center (GSLC) in collaboration with a team of advisors, evaluators, and dedicated high school teachers in classrooms across the country. The unit went through several rounds of development, revisions and refinements, which were informed by teacher feedback and student assessment measures.
        p
          | This work was supported by two awards, DRL-1222869 and DRL-1418136, from the National Science Foundation.
   +pod('Teachers')
      .uk-width-medium-6-10
         i
            | *We would like to extend a special thank you to these teachers, who invited GSLC staff into their classrooms to observe lesson and unit enactment.
      .uk-width-1-1
         hr
      .uk-width-medium-6-10
         p
            | The following teachers participated in alpha-testing of various lessons between 2013 and 2015:
      .uk-width-1-1
         .uk-grid
            .uk-width-medium-3-10
               p
                  | Elizabeth Moretz*<br>
                  | Salt Lake Center for Science Education<br>
                  | Salt Lake City, UT
            .uk-width-medium-3-10
               p
                  | Ricky Scott*<br>
                  | Itineris Early College High School<br>
                  | West Jordan, UT
      .uk-width-1-1
         hr
      .uk-width-medium-6-10
         p
            | The Natural Selection lessons were developed during a pilot phase of this project (DRL-1222869). The following teachers participated in classroom testing of those lessons during the 2013-14 school year:
      .uk-width-1-1
         .uk-grid
            .uk-width-medium-4-10
               p
                  | Ronald Call<br>
                  | Madison High School<br>
                  | Rexburg,ID
               p
                  | Christine Celestino*<br>
                  | Juan Diego Catholic High School<br>
                  | Draper, UT
               p
                  | Doug Elliot<br>
                  | Summit High School<br>
                  | Bend, OR
               p
                  | Chris Kuka <br>
                  | Summit High School<br>
                  | Bend, OR
               p
            .uk-width-medium-4-10
               p
                  | Angela Lane<br>
                  | Ritenour High School<br>
                  | St. Louis, MO
               p
                  | Dominique Miller<br>
                  | Granada High School<br>
                  | Granada, MS
               p
                  | Elizabeth Moretz<br>
                  | Salt Lake Center for Science Education<br>
                  | Salt Lake City, UT
               p
                  | Keri Shingleton<br>
                  | Holland Hall<br>
                  | Tulsa, OK
      .uk-width-1-1
         hr
      .uk-width-medium-6-10
         figure
            img(src='images/2016-group.jpg')

         p The following teachers participated in a 2016 Summer Institute and then pilot tested the Evolution unit during the 2016-17 school year:
      .uk-width-1-1
         .uk-grid
            .uk-width-medium-4-10
               p
                  | Secret Belanger*<br>
                  | Century High School<br>
                  | Hillsboro, OR
               p
                  | Leslie Blaha<br>
                  | Montgomery Blair High School<br>
                  | Silver Springs, MD
               p
                  | Brian Bleser<br>
                  | Venice High School<br>
                  | Los Angeles, CA
               p
                  | Lisa Borgia<br>
                  | Rocky River High School<br>
                  | Rocky River, OH
               p
                  | Colleen Coolish<br>
                  | Jefferson High School<br>
                  | Daly City, CA
               p
                  | Mike Dunn*<br>
                  | Century High School<br>
                  | Hillsboro, OR
               p
                  | Cecilia Gilliam<br>
                  | Hahnville High School<br>
                  | Boutte, LA
               p
                  | Angela Harrison<br>
                  | Neville High School<br>
                  | Monroe, LA
               p
                  | Kevin Keeley<br>
                  | Navajo Preparatory School<br>
                  | Farmington, NM
               p
                  | Chris Kuka<br>
                  | Summit High School<br>
                  | Bend, OR
               p
            .uk-width-medium-4-10
               p
                  | Beverly Lapite<br>
                  | Richwood High School<br>
                  | Monroe, LA
               p
                  | Chris MacMurdo<br>
                  | Sky View High School<br>
                  | Smithfield, UT
               p
                  | Rebekah Masters<br>
                  | Vineland High School<br>
                  | Vineland, NJ
               p
                  | Mark Meredith<br>
                  | Russellville High School<br>
                  | Dardanelle, AR
               p
                  | Stuart Perez<br>
                  | Pittsburg High School<br>
                  | Pittsburg, KS
               p
                  | John Siefert<br>
                  | Conrad Weiser High School<br>
                  | Robesonia, PA
               p
                  | Tina Sutherland*<br>
                  | South Davis Junior High<br>
                  | Bountiful, UT
               p
                  | Michael West<br>
                  | The Collegiate, University of Winnipeg<br>
                  | Winnipeg, Canada
               p
                  | Glen Westbroek*<br>
                  | Orem Junior High<br>
                  | Orem, UT
               p
                  | Robert Wilson*<br>
                  | Rowland Hall High School<br>
                  | Salt Lake City, UT
         hr
      .uk-width-6-10
         p
            | The following teachers participated in a research study that compared the efficacy for student learning of this evolution unit to teachers' usual evolution unit (aka "business as usual") during the 2017-18 school year. Teachers were randomly assigned to participate as:
      .uk-with-medium-8-10
         .uk-grid
            .uk-width-medium-5-10
               p
                  | <u>Treatment teachers</u> (taught the Evolution: The Unity and Diversity of Life unit)
               p
                  |Renee Boogren<br>
                  | Troy College and Career High School<br>
                  | Troy, MI
               p
                  | Leilagh Boyle<br>
                  | Cottage Grove High School<br>
                  | Cottage Grove, OR
               p
                  | Cherae Ecalono<br>
                  | Oak Canyon Junior High<br>
                  | Lindon, UT
               p
                  | Barbara Frasco<br>
                  | Haddon Township High School<br>
                  | Haddon Township, NJ
               p
                  | Emily Gunderson<br>
                  | East Jackson High<br>
                  | Commerce, GA
               p
                  | Michelle Hamilton<br>
                  | Grand Ledge High School<br>
                  | Grand Ledge, MI
               p
                  | Darren Hodges<br>
                  | Oak Canyon Junior High<br>
                  | Lindon, UT
               p
                  | Grace Javier<br>
                  | Salpointe Catholic High School<br>
                  | Tucson, AZ
               p
                  | Elliott Karetny<br>
                  | Timber Creek Regional High School<br>
                  | Erial, NJ
               p
                  | Mary Keymel<br>
                  | Avon Central School<br>
                  | Avon, NY
               p
                  | Michelina MacDonald<br>
                  | P.K. Yonge Developmental Research<br>
                  | Gainesville, FL
               p
                  | Michael McPartlin<br>
                  | Buffalo Grove High School<br>
                  | Buffalo Grove, IL
               p
                  | Carol Piccolotti<br>
                  | Mercy High School<br>
                  | Burlingame, CA
               p
                  | Leslie Schoof<br>
                  | Madison Early College High School<br>
                  | Mars Hill, NC
               p
                  | William Spence <br>
                  | Clarkstown South High School<br>
                  | West Nyack, NY
               p
                  | Lindsay Stewart<br>
                  | Mercy High School<br>
                  | Burlingame, CA
               p
                  | April Thompson*<br>
                  | Lakeview Academy<br>
                  | Saratoga Springs, UT
               p
                  | Nancy Ungvarsky<br>
                  | Beaufort High School<br>
                  | Beaufort, SC
               p
                  | Nathan Wright<br>
                  | Davis High School<br>
                  | Kaysville, UT
            .uk-width-5-10
               p
                  <u>Control teachers</u> (taught their usual evolution unit)
               p
                  | Jennifer B. Anastasi <br>
                  | Starpoint High School<br>
                  | Lockport, NY
               p
                  | Robert Beebe<br>
                  | Imlay City High School<br>
                  | Imlay City, MI
               p
                  | Daniel Bondgren<br>
                  | Jordan-Elbridge High School<br>
                  | Jordan, NY
               p
                  | Greg Campbell<br>
                  | Redbank Valley High School<br>
                  | New Bethlehem, PA
               p
                  | Vynessa Ann Campos<br>
                  | Elk Ridge Middle School<br>
                  | South Jordan, UT
               p
                  | Joseph Cheney<br>
                  | Bay High School<br>
                  | Bay Village, OH
               p
                  | Michele Cook<br>
                  | Cadillac High School<br>
                  | Cadillac, MI
               p
                  | Jennifer Cordon<br>
                  | Depew High school<br>
                  | Depew, NY
               p
                  | Elizabeth Devitt<br>
                  | Harrison Prep School<br>
                  | Lakewood, WA
               p
                  | Thomas Everett<br>
                  | Eastern High School<br>
                  | Greentown, IN
               p
                  | Laura Krajewski<br>
                  | Stillwater Area High School<br>
                  | Stillwater, MN
               p
                  | Bridget Lesinski<br>
                  | Francis W. Parker School<br>
                  | Chicago, IL
               p
                  | Karen Lucci<br>
                  | Hopewell Valley Central High School<br>
                  | Pennington, NJ
               p
                  | Luisa McHugh<br>
                  | William Floyd Middle School<br>
                  | Moriches, NY
               p
                  | Resha Messick<br>
                  | McCluer High School<br>
                  | Florissant, MO
               p
                  | Judith Pinto<br>
                  | Bergen County Academies<br>
                  | Hackensak, NJ
               p
                  | Kathy Vanderloop<br>
                  | Appleton West High School<br>
                  | Appleton, WI
               p
                  | Brian Vollmer-Buhl<br>
                  | Cottage Grove High School<br>
                  | Cottage Grove, OR
               p
                  | Thomas Wilder<br>
                  | Richfield High School<br>
                  | Richfield, UT
   +pod('Science and Mathematics Advisors')
      .uk-width-1-1
         .uk-grid
            .uk-width-medium-4-10
               p
               | Fred Adler, PhD<br>
               | Professor of Biology and Mathematics<br>
               | University of Utah
               p
               | Matt Barber, PhD<br>
               | Postdoctoral Fellow in Human Genetics<br>
               | University of Utah
               p
               | Michael Bell, PhD<br>
               | Professor of Ecology and Evolution<br>
               | Stony Brook University
               p
               | Nels Elde, PhD<br>
               | Associate Professor of Human Genetics<br>
               | University of Utah
            .uk-width-medium-4-10
               p
               | Nitin Phadnis, PhD<br>
               | Assistant Professor of Biology<br>
               | University of Utah
               p
               | Jon Seger, PhD<br>
               | Professor of Biology<br>
               | University of Utah
               p
               | Michael Shapiro, PhD<br>
               | Professor of Biology<br>
               | University of Utah
               p
               | Maggie Cummings, PhD<br>
               | Instructor of Mathematics<br>
               | University of Utah
   +pod('National Advisory Board')
      .uk-width-1-1
         .uk-grid
            .uk-width-medium-4-10
               p
                  | Brian Reiser, PhD<br>
                  | Professor of Learning Sciences<br>
                  | Northwestern University
               p
                  | Richard Lehrer, PhD<br>
                  | Professor of Teaching and Learning<br>
                  | Vanderbilt University
            .uk-width-medium-4-10
               p
                  | Ross Nehm, PhD<br>
                  | Professor of Ecology and Evolution<br>
                  | Stony Brook University
   +pod('Natural Selection Teacher Advisory Board')
      .uk-width-1-1
         .uk-grid
            .uk-width-medium-4-10
               p
                  | Chris Kuka<br>
                  | Summit High School<br>
                  | Bend, OR
               p
                  | Keri Shingleton<br>
                  | Holland Hall<br>
                  | Tulsa, OK
               p
                  | Kate Dehnel<br>
                  | Central Park East High School<br>
                  | New York, NY
            .uk-width-medium-4-10
               p
                  | John Siefert<br>
                  | Conrad Weiser High School<br>
                  | Robesonia, PA
               p
                  | Elizabeth Moretz<br>
                  | Salt Lake Center for Science Education<br>
                  | Salt Lake City, UT
   +pod('GSLC Staff')
      .uk-width-medium-5-10
         p
            | The GSLC team brings diverse expertise in curriculum and assessment development, instructional design, science education,
            | science writing, creative multimedia production, visual design, animation, computer programming, music composition,
            | videography, web development, and life science and education research. The following team members contributed to this project:
      .uk-width-5-10
         .uk-grid
            .uk-width-4-10
               p
                  | Pete Anderson<br>
                  | Nicola Barber<br>
                  | Kagan Breitenbach<br>
                  | Dina Drits-Esser<br>
                  | Amy J. Hawkins<br>
                  | Sheila Homburger<br>
                  | Sam Katz<br>
                  | Max Kelly
            .uk-width-4-10
               p
                  | Elliot Lee<br>
                  | Molly Malone<br>
                  | Ryan Perkins<br>
                  | Kevin Pompei<br>
                  | Steve Reest<br>
                  | Louisa A. Stark<br>
                  | Harmony Starr<br>
                  | Mathew Weaver
   +pod('Special Acknowledgements')
      .uk-width-6-10
         p
            | The GSLC would like to thank the following individuals and groups for their contributions to the unit.
         p(style="padding: 20px")
            | AAAS Project 2061 for developing and administering the assessment measures that were used to evaluate the curriculum unit with students; for analyzing the student test data; and for providing an objective analysis of the unit's alignment with NGSS. We are especially grateful to Bernie Koch for his contributions to the learning goals that guided the focus of both the unit and the assessment measures.
            br
            br
            | Kristin Bass, Senior Researcher at Rockman et al for her work on teacher surveys, interviews, and other measures that were used to evaluate teacher experiences with the unit; and for her help with research and evaluation design.
            br
            br
            | Michael Bell and the members of his lab for contributing data, images, video, and information about threespine sticklebacks in Loberg Lake.
            br
            br
            | Peter Park, formerly of the Bell lab, for contributing photos and videos relevant to the story of threespine sticklebacks.
            br
            br
            | Andrew Forbes, Jeffrey Feder, Glen Hood, Hannes Schuler, and Charles Linn for contributing images of and information about Rhagoletis flies living on apple, hawthorn, and other fruit.
            br
            br
            | Gordon Lark, Distinguished Professor Emeritus of Biology at the University of Utah, for his advice during the early planning stages of the natural selection module.
            br
            br
            | Alan Rogers, Professor of Anthropology at the University of Utah and Michael Shapiro for presenting talks during the 2016 Summer Institute for teachers.
   +pod('Other Contributors')
      .uk-width-medium-5-10
         u Additional Video Cast &amp; Crew
         br
         i Same Gene Different Organism, What is a Species:
         ul
            li Brandon Ngo (host)
            li Arthur Veenema (director)
            li Brent Rowland (camera)
         i The Trouble with Cognitive Bias:
         ul
            li Whitney Palmer (host)
            li Arthur Veenema (assistant director, camera)
         i Tree Diagrams:
         ul
            li Alek Sabin (director)
            li Anna Lensch (animator)
         i Genetic Variation:
         ul
            li Whitney Palmer (host)
            li Karem Orrego (assistant director, camera)
         i Hawthorns to Apples:
         ul
            li Arthur Veenema (director)
            li Conor Long (art director)
         br
         u Additional Graphics
         p
            | Dmitry Etmanov<br>
            | Ben Morgan
      .uk-width-medium-5-10
         u Voiceover
         p
            | Charla Cochran
         ul
            li How a Firefly's Tail Makes Light
            li Transcribe and Translate a Gene
            li Shared Functions, Shared Genes
            li Rock Pocket Mice
            li Recipe for Natural Selection
            li Meet the Threespine Stickleback
            li Adaptation
            li Tree Diagrams
            li How Often do Mutations Happen?
            li Unity and Diversity of Life
            li Teacher support videos
         p
            | Kendra Hoffman
         ul
            li What are Proteins?
            li What are DNA and Genes?
            li What is Mutation?
            li What is Inheritance?
            li Allele Shuffling
         p
            | CJ Bane
         ul
            li Hawthorns to Apples
