extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-6-10
         p
            | Asthma is a lung disease involving repeated breathing problems. The lungs in people with asthma are supersensitive
            | to triggers they encounter in the environment, often including cat dander, dust mites, mold, pollen, smoke, pollution,
            | cold air, and exercise.  These triggers can cause asthma attacks, which include wheezing, coughing, and difficulty breathing.
      |    
      .uk-width-medium-4-10
         figure
            img(src='images/triggers.jpg', alt='Asthma triggers')
            |          
            p
   +pod('What Causes Asthma?')
      |    
      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='images/asthma_lungs.png', alt='Lungs during asthma attack')
      |    
      .uk-width-medium-4-10
         p
            | During an asthma attack, the airways in the lung narrow. In response to an environmental
            | trigger, airways become inflamed or swollen and begin to produce mucus. The muscles around airways
            | contract, further narrowing the openings and making it difficult to breathe. This narrowing may reverse
            | naturally with time, or with treatment and medication.
         |       
         h3 Who&apos;s At Risk?
         |       
         p
            | Asthma is a complex disease that is influenced by many genes and environmental factors. But it is safe to
            | say that asthma often runs in families. If someone in your family has asthma, you may have inherited
            | factors that make you more susceptible to this disease.
         |       
         p
            | Asthma is the most common chronic disease (one that cannot be cured) affecting children and young
            | adults. In the United States, one child out of every fifteen has some degree of asthma.
   +pod('Reducing The Risk')
      |    
      .uk-width-medium-6-10
         p
            | There is not a whole lot you can do to reduce your risk of developing asthma. If you have asthma, seek medical
            | advice to help treat and manage your symptoms. Your doctor can help identify your asthma triggers and prescribe
            | medications that will both prevent and treat asthma attacks.
         |       
         p
            | If you tend to develop asthma with exercise, there are a few things you can try to minimize
            | negative effects.
         |       
         ul
            li Try to exercise indoors as much as possible.
            |          
            li Exercise at moderate to low intensity levels.
            |          
            li Warm up and cool down for adequate periods of time.
            |          
            li Breathe slowly and through your nose.
            |          
            li Use an inhalant (nebulizer) if prescribed by a physician.
      |    
      .uk-width-medium-4-10
         figure
            img(src='images/inhaler.jpg', alt='Inhaler')
            |          
            p
   
   
