extends /shared/layout
block content
   +pageTitle

   script(src='/Scripts/AC_RunActiveContent.js', type='text/javascript')

   +pod('Membranes Define Compartments')

      .uk-width-medium-6-10
         p
            | Membranes organize proteins and other molecules enabling the cell to run much more efficiently than if everything were floating freely.
            | Mitochondrial membranes, for example, keep protein assembly lines together for efficient energy production. And the lysosome safely
            | holds enzymes that would destroy essential proteins if released into the cytoplasm. Membrane-enclosed vesicles form packages for cargo
            | so that they may quickly and efficiently reach their destinations. In this way, membranes divide the cell into specialized compartments,
            | each carrying out a specific function inside the cell.
         figure
            p
               strong Real life complexity inside an insulin-producing pancreas cell.
               |  Cells like
               |   this contain thousands of membrane-enclosed compartments. Each color represents a structure with a unique function and composition.
               | mage courtesy of Dr. Brad Marsh, Institute for Molecular Bioscience, The University of Queensland, Australia. &copy; 2001
               |   National Academy of Sciences, U.S.A.
               a(href='more/')  More about this image
      .uk-width-medium-4-10
         figure
            img(src='images/tomography.jpg', alt='Tomography')
   +pod('Membranes Form Spontaneously')
      .uk-width-medium-6-10
         p
            | Phospholipids provide the framework for all membranes in the cell. Phospholipids are made up
            | of a phosphate head region and a lipid tail region. The two ends of a phospholipid have very
            | different chemical properties. The head end is attracted to water, while the tail end moves away
            | from water.
         p
            | When phospholipids are placed into water, they organize themselves into a structure called a bilayer.
            | The water-fearing tail regions clump together on the inside of the bilayer, as far from water as
            | possible. The head regions move toward the outside of the bilayer where they contact the surrounding
            | water molecules.
         p
            | The shape and chemical nature of phospholipids drives them to organize themselves one level
            | further. A flat phospholipid bilayer leaves the edges of the tails exposed to water. By forming
            | into a sphere, all of the tail regions are protected inside the bilayer as far from water as
            | possible. The result is a membrane-enclosed compartment.

      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src='images/Phospholipids.jpg', alt='Phospholipids')
   +pod('Membrane Proteins Control Traffic')
      .uk-width-medium-4-10
         p
            | Phospholipid membranes form a barrier that most molecules cannot cross. But living things need
            | to be able to interact with the outside world. At the very least, waste must be able to go out
            | and raw materials need to come in. That&apos;s where membrane proteins come in. Membrane proteins that
            | contact the spaces on both sides of the membrane are the gate keepers of cellular compartments.
            | Each type of compartment has a specific population of membrane proteins that largely define its
            | function. On average, proteins make up about half the mass of membranes.
         p
            | The nuclear pore complex (see scanning electron micrographs at right) is a unique protein
            | structure that controls traffic flow in and out of the nucleus. Each nuclear pore complex is
            | made up of hundreds of individual proteins.

      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='images/NuclearPore.jpg', alt='Nuclear Pore')
      .uk-width-1-1
         figure
            p
               | Nuclear pore complexes on the nuclear membranes of frog oocytes as seen from the cytoplasm (left) and
               | from inside the nucleus (right). Images courtesy
               a(href='http://www.dur.ac.uk/m.w.goldberg/', target='_blank')  Dr. Martin W. Goldberg
               | , School of Biological and Biomedical Sciences, Durham University, UK.
            img.lg-no-shadow(src='images/MembraneProteins.jpg', alt='Membrane Proteins')
            p Membrane proteins represent a large number of proteins with diverse functions.
   +pod('Membranes Are Fluid')
      .uk-width-medium-6-10
         p
            | Phospholipids with their embedded proteins form a dynamic, fluid environment. Individual proteins and phospholipids
            | flow freely. Complexes of proteins and specific subtypes of phospholipids form &quot;rafts&quot; that move through the membrane.
            | Organelles stretch and bend and even flow through the cell. Fluid membranes allow cells to be dynamic and responsive
            | to their environment.
         figure
            p
               strong Active membranes in fish skin cells migrate across a culture dish.
               |  The shift in focus about halfway through the sequence reveals nuclei, lysosomes and elongated mitochondria inside the cells.
               em
                  | Video courtesy
               a(href='http://depts.washington.edu/fishscop/index.html', target='_blank')  Dr. Mark Cooper
                  | , Associate Professor, Department
                  |    of Zoology, University of Washington.
      .uk-width-medium-4-10
         div
            iframe.uk-responsive-width(src="//player.vimeo.com/video/151064137", width="500", height="333", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)
