extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-5-10
         p
            | Dilute birds are a lighter shade than their non-dilute counterparts. Dilute affects every color but white. You can think of the effect as lightening or &ldquo;diluting&rdquo; whatever color and pattern the bird happens to make.
         p
            | In the photos on the right, the birds in the top row are all non-dilute. The bottom row shows the dilute counterparts to the colors and patterns shown above.
         p
            | Once again, the naming of the various shades is a little funny. Dilute blue is also called dun; dilute ash-red is yellow; dilute recessive red is recessive yellow; and dilute brown (not shown) is also called khaki.
      |     
      .uk-width-medium-5-10
         img(src='images/dilute.jpg', alt='Dilute', width='488', height='318')

   +pod('Dilute is Sex-Linked')

      .uk-width-medium-5-10.uk-container-center
         img(src='images/dilute-1.jpg', alt='Dilute is sex-linked', width='297', height='182')
      |     
      .uk-width-medium-5-10
         p
            | Dilute is controlled by one gene. It is located on the Z chromosome, which is one of the two sex chromosomes in birds. The other sex chromosome, called W, does not have a copy of the 
            em dilute
            |  gene. Sex chromosomes specify whether a bird is male or female.
         |  
         p
            | Female pigeons have one Z chromosome and one W chromosome, so they have just one copy of the 
            em dilute
            |  gene. Male pigeons have two Z chromosomes, so they have two copies.
         |  
         p
            | Because it&rsquo;s on a sex chromosome, the 
            em dilute
            |  gene is 
            a(href='../sexlinkage/') sex-linked
            | . Sex-linked genes follow different patterns of inheritance in males and females.
   +pod('Alleles and Inheritance')
      |     
      .uk-width-medium-5-10
         p
            | In 
            a(href='../pigeonetics/') Pigeonetics
            |  and in the illustrations to the right, we show that the dilute gene comes in 2 different versions, or alleles: &lsquo;dilute&rsquo; and &lsquo;not dilute.&rsquo; &lsquo;Not dilute&rsquo; is considered wild-type.
         p
            | In reality, there are at least 2 additional alleles. One allele, called &lsquo;pale,&rsquo; produces a phenotype somewhere between dilute and non-dilute. The other allele, &lsquo;extreme dilute,&rsquo; produces a phenotype even lighter than dilute.
         p
            | Males have two alleles of the 
            em dilute
            |  gene. Their phenotype, or what we see, reflects the more-dominant of the two alleles. The dominance hierarchy of the 
            em dilute
            |  alleles goes from darkest to lightest: &lsquo;not dilute&rsquo; is the most dominant, followed by &lsquo;pale,&rsquo; &lsquo;dilute,&rsquo; and finally &lsquo;extreme dilute,&rsquo; which is the least dominant.
         p
            | Females have just one 
            em dilute
            |  allele. That allele alone specifies their phenotype. (Note that a small, dark circle symbolizes the lack of an allele.)
         p
            | Males inherit a 
            em dilute
            |  allele from each parent, and they pass one allele or the other to their sons and daughters alike.
         |          
         p
            | Females always inherit their 
            em dilute
            |  allele from their fathers, and they always pass a copy to their sons. The W chromosome, which has no 
            em dilute
            |  allele for, always passes from mother to daughter.
      |     
      .uk-width-medium-5-10
         img(src='images/dilute-2.jpg', alt='Alleles and Inheritance', width='351', height='419')
         |  
         br
   +pod('Genetic Linkage to Color')
      |     
      .uk-width-medium-5-10
         img(src='images/dilute-3.jpg', alt='Genetic Linkage to Color', width='438', height='321')
      |     
      .uk-width-medium-5-10
         p
            | The 
            em dilute
            |  and 
            a(href='../color/')
               em color
            | genes are both on the Z chromosome. The two genes are not only sex-linked, they are also close enough together to be 
            a(href='../geneticlinkage/') genetically linked
            | .
         p
            | Under normal circumstances, two genes are considered genetically linked when they are separated by a recombination
            |  event less than 50% of the time. (Unlinked genes are inherited separately exactly 50% of the time). Because 
            em dilute
            |  and 
            em color
            |  are also sex-linked, recombination happens only in males (top left). Since females have just one Z chromosome, there&rsquo;s nothing for it to recombine with (bottom left). When a mother passes a Z chromosome to her son, it&rsquo;s an exact copy of her own Z chromosome.
         p
            | This complication leads to some tricky problems in 
            a(href='../pigeonetics/') Pigeonetics
            | .
   +pod('Genes and Interactions')
      |     
      .uk-width-medium-5-10
         p
            | The 
            em dilute
            |  gene influences 
            a(href='../recessivered/') recessive red
            | , 
            a(href='../spread/') spread
            | , 
            a(href='../color/') color
            | , and 
            a(href='../pattern/') pattern
            | &mdash;all the feather color characteristics that are included in the game 
            a(href='../pigeonetics/') Pigeonetics
            | . While all of these characteristics are controlled by seperate genes, the genes (or the proteins they encode) all interact in cellular pathways that synthesize and distribute pigment molecules called melanins.
         p
            | It&rsquo;s helpful to think of these genes as interacting in a process like an assembly line. As shown below, the genes toward the left work on earlier steps in the process, and the genes toward the right work on later steps. While dilute doesn&rsquo;t hide the characteristics to the right of it (that is, 
            a(href='../epistasis/') epistatically
            | , the way spread covers pattern), it still affects them by dialing down the amount of melanin that&rsquo;s made.
         p
            | Color and pattern variation in pigeons is a great example that shows how genes work together to generate diversity. For example pigeons can have 4 different wing patterns. When we multiply this by the 3 colors, we get birds with 12 different color/pattern combinations. Dilute doubles the diversity to 24: each color/pattern combination can be either dilute or non-dilute. With spread and recessive red in the mix, the number of possible combinations increases to 32.
         img(src='images/dilute-arrows.jpg', alt='Genes and Interactions', width='368', height='142')
      |     
      .uk-width-medium-5-10
         img(src='images/dilute-4.jpg', alt='Genes and Interactions', width='487', height='553')
         |  
         br
   +pod('From Gene to Protein: How Dilute Works')
      |     
      .uk-width-medium-5-10
         img(src='images/dilute-5.jpg', alt='Genetic Linkage to Color', width='322', height='465')
         |         
         p
            a(href='../references/') References
      |     
      .uk-width-medium-5-10
         p
            | On the surface, dilute looks very simple: dilute birds make less melanin than their non-dilute counterparts. But what&rsquo;s going on inside the birds&rsquo; cells to make this happen?
         p
            | In 2014, researchers at the University of Utah identified the dilute gene as 
            em Slc45a2
            |  (short for &ldquo;solute carrier family 45 member 2&rdquo;). This gene codes for a protein called SLC45A2.
         p
            | The &lsquo;not dilute&rsquo; allele codes for &ldquo;normal&rdquo; version of SLC45A2. While we don&rsquo;t know exactly how it works, SLC45A2 is a regulator of melanin synthesis in many animals.
         p
            | The &lsquo;dilute&rsquo; allele has a small DNA change that causes a change of one amino acid building block in the protein it codes for; portions of the genes and proteins are shown to the left. The one amino acid difference changes how the protein functions, making it less able to do its job.
         p
            | When a bird has one &lsquo;not dilute&rsquo; and one &lsquo;dilute&rsquo; allele, enough of the normal SLC45A2 protein is made from the &lsquo;non dilute&rsquo; allele for melanin pigment production to proceed normally. But when a bird has two &lsquo;dilute&rsquo; alleles, all of its SLC45A2 protein is compromised, and the bird makes less melanin.
         |         
         +well
            | Variations in the 
            em Slc45a2
            |  gene decrease pigmentation in other animals too, including horses, tigers, chickens, and people.
   
   
