extends /shared/layout
block content
   +pageTitle()(teach="evolution")
   .lg-section
      .uk-container.uk-container-center
         .uk-grid
            .uk-width-medium-1-2
               .lg-index-items
                  .lg-index-box-text
                     p.
                        In our ever-changing world, a naturally occurring genetic difference in an individual can become an advantage 
                        or a fatal flaw in the struggle for survival. Those who live to reproduce pass their favorable genes to 
                        future generations. Certain characteristics become more or less prevalent over time as the group as a whole evolves.
                  +index-item('Recipe for Evolution: Variation, Selection & Time','explore','recipe','images/recipe.jpg')
                     p Learn about the three simple ingredients that drive evolution.
                  +index-item('Sources of Variation','video','sources','images/sources.jpg')
                     p How do differences in individuals arise?
                  +index-item('Things You May Not Know About Evolution','video','misconceptions','images/misconceptions.jpg')
                     p See many common misconceptions about evolution, explained.
                  
               h2 Change Over Time
               .lg-index-items
                  .lg-index-box-text
                     p Through the process of natural selection, ancestral life forms give rise to new species.
                  +index-item('Geologic Time','explore','time','images/time.jpg')
                     p Scroll through the span of geologic time from the Earth&apos;s origin to the present day.
                  +index-item('All Living Things Are Related','explore','related','images/related.jpg')
                     p Fossils, embryos, and DNA teach us about the unity of life.
                  +index-item('Tracking Traits Through Time','interactive explore','tracktraits','images/tracktraits.jpg')
                     p See when and where new characteristics evolved in the animal family tree.
                  +index-item('Eye Evolution','explore','eye','images/eye.jpg')
                     p Natural selection has generated a diverse collection of eyes, from simple to complex, that help animals sense their surroundings.   
               
            .uk-width-medium-1-2
               h2 Evolution in Action
               .lg-index-items
                  .lg-index-box-text
                     p Leave the fossil record behind! Selection is happening now.
                  +index-item('Stickleback Evolution','explore','stickleback','images/stickleback.jpg')
                     p Watch the features in a population of fish evolve in response to pressure from a predator.
                  +index-item('Rock Pocket Mice','explore','comparative','images/comparative.jpg')
                     p Explore an example of rapid evolutionary change.
                  +index-item('Old Genes, New Tricks','explore','newtricks','images/newtricks.jpg')
                     p Changes to regulatory switches give old genes new functions.
                  +index-item('Foundational Toolkit Genes','learn more','toolkit','images/toolkit.jpg')
                     p Learn about some basic genetic components for building an eye.
                  +index-item('Artificial vs. Natural Selection','explore','artificial','images/artificial.jpg')
                     p Humans have been selecting for desirable traits in organisms throughout history.
                  +index-item('Evolution of Corn','explore','corn','images/corn.jpg')
                     p Small changes in genes of a wild grass have yielded one of today&apos;s most vital crops.
               

         +bottom-menu("credits",'')
   
   
