+minipod('What is alpha-1 antitrypsin deficiency (Alpha-1)?')
   .uk-width-medium-6-10
      p
         | Alpha-1 affects the lungs and sometimes the liver. Alpha-1 is often misdiagnosed because its symptoms look like those of asthma, bronchitis, or smoking-induced emphysema. Many are not diagnosed until middle adulthood, and up to 95% are never diagnosed.
+minipod('Affected gene')
   .uk-width-medium-6-10
      p
         | The affected gene in Alpha-1 is SERPINA1, on chromosome 14. This gene codes for a protein called alpha-1 antitrypsin. People with the disorder have two non-working copies of the gene, so they make no working alpha-1 antitrypsin protein.
      p
         | Alpha-1 antitrypsin protein is normally made in the liver and released into the blood. It protects the lungs from attack by an enzyme called neutrophil elastase. Neutrophil elastase is made naturally by white blood cells (specifically neutrophils) in response to an infection or irritants. It helps to clear away damaged tissue in the lungs.
      p
         | Without alpha-1 antitrypsin protein, neutrophil elastase attacks and damages the lungs. Some people who have Alpha-1 make no alpha-1 antitrypsin protein at all, and they suffer only lung damage. Others make a version of the protein that gets stuck in the liver. They suffer damage to both the lungs and the liver.
      p
         | Alpha-1 follows an autosomal recessive inheritance pattern. An affected child must inherit two non-working copies of the gene, one from each parent.
      br
   .uk-width-medium-1-1
      figure
         img(src='images/alpha1-gene.jpg')
         p Alpha-1 antitrypsin protein is active in the lungs, where it protects them from damage. Without the protein, the lungs slowly accumulate damage over the course of a lifetime.
      hr
      br
   .uk-width-medium-5-10
      h3 Symptoms and features of Alpha-1 
      P
         | The effects of Alpha-1 vary from person to person. The effects depend in part on the specific gene variants that a person has.
      P
         | The main feature of Alpha-1 is damage to the tiny air sacs (alveoli) in the lungs. When the alveoli are damaged, the lungs cannot expand and contract very well. This can cause shortness of breath, coughing, or wheezing. Over time, many people develop lung diseases, such as emphysema, asthma, or chronic bronchitis.
      P
         | About 10% of babies and 15% of adults with the disorder also have liver damage, which can develop into the chronic disease cirrhosis. In rare cases, hard and painful lumps may form under their skin, called panniculitis.
   .uk-width-medium-5-10
      h3 Treating and managing Alpha-1
      p   
         | Protein therapy, in which alpha-1 antitrypsin protein is added to the blood, can slow lung damage. The protein is collected from the blood of healthy donors.
      p   
         | Alpha-1 is a potential target for gene therapy, in which a modified virus delivers a working copy of the SERAPINA1 gene into the patient's cells. 
      p   
         | Asthma medications, such as inhaled steroids or bronchodilators, can help to ease lung symptoms. In later stages, if organs become heavily damaged, patients may receive an organ transplant.
      p   
         | People with alpha-1 should avoid tobacco. Smoking damages the lungs by increasing irritation (and therefore levels of neutrophil elastase) and by blocking the protective effects of alpha-1 antitrypsin.
      br
   .uk-width-medium-4-10
      h3 Interesting facts about Alpha-1
      p
         | Alpha-1 is most common among caucasians. It affect 1 in 2,500 caucasians, making it one of the most common genetic disorders in this group.    
   .uk-width-medium-6-10
      +well
         h2 More information
         a(href='http://www.alpha1.org/', target='blank') Alpha-1 Foundation
         br
         | The Alpha-1 Foundation 
         a(href='https://alphaoneregistry.org/counseling') Genetic Counseling Program
         |  provides confidential genetic counseling to the Alpha-1 community.  It is also an expert resource for health care professionals.  The toll-free phone number is 1-800-785-3177.
         br
         a(href='http://www.lungusa.org', target='blank') American Lung Association
         br
         a(href='http://www.liverfoundation.org', target='blank') American Liver Foundation
