+minipod('What is Severe Combined Immunodeficiency (SCID)?')  
   .uk-width-1-1
      p
         | SCID is a group of very rare, and potentially fatal, inherited disorders of the immune system. The immune system normally fights off attacks from bacteria and viruses. People with SCID have a problem in their immune system that leaves them open to infections.

+minipod('Affected gene')   
   .uk-width-medium-6-10
      p
         | There are several types of SCID, and each is influenced by a different gene. One type, caused by a deficiency of ADA, is described above. 
      p
         | The most common form of SCID is SCID-X1. The affected gene in SCID-X1 is IL2RG (interleuken-2 receptor gamma), on the X chromosome. This gene codes for one of the proteins that make up the IL-2 receptor. People who have SCID-X1 have a non-working copy of the gene, and so their IL-2 receptor does not work.
      p
         | The IL-2 receptor is active in immune cells, where it helps them communicate with one another when they find bacteria or viruses. When IL-2 is activated, the body makes more immune cells so that it can fight off infection. With no working IL-2, too few immune cells are made, and the body is left defenseless.
      p
         | SCID-X1 follows an X-linked recessive inheritance pattern. The disorder almost exclusively affects boys, who inherit the disease-causing gene variation from their mothers. 
      br
   .uk-width-1-1
      figure
         img(src='images/SCIDX1-gene.jpg')
         p SCID-X1 is caused by a problem with a gene on the X chromosome. Since boys have just one X chromosome, having one non-working copy of the gene causes them to have SCID. 
      hr
      br
   .uk-width-medium-5-10
      h3 Symptoms and features of SCID
      p
         | Symptoms usually appear in the first few months of life. Because they have very little immune defense, babies with SCID tend to get one infection after another. They may have a lot of ear infections, sinus infections, a cough that does not go away, and rashes on the skin. Some infections may be life-threatening, including pneumonia (lung infection), meningitis (brain infection), and sepsis (blood infection).
      p
         | People with SCID often don't respond well to antibiotics, making bacterial infections challenging to treat. With no intervention, children with SCID rarely live beyond age 2.
      h3 Interesting facts about SCID
      p
         | About 1 out of every 100,000 babies is born with SCID.
      p
         | SCID is sometimes called Bubble Boy disease. In the 1970s, a boy named David Vetter lived in a plastic bubble for 12 years because of SCID.
      br
      +well
         h3 More information
         a(href='http://www.primaryimmune.org/', target='blank') The Immune Deficiency Foundation

   .uk-width-medium-5-10
      h3 Treating and managing SCID
      p
         | Children with SCID must be careful to stay away from germ-rich environments where they could pick up a life-threatening infection. Most babies who may have SCID are placed into a sterile environment immediately after birth, so that they will not pick up an infection. Antibiotics, anti-viral drugs, and antibodies from the blood of healthy donors can also prevent infection.
      p
         | One treatment, and potential cure, for SCID is a bone marrow transplant. Bone marrow contains stem cells that give rise to blood cells, including immune cells. Bone marrow stem cells from a healthy donor are injected into the person with SCID. The transplanted stem cells can then give the person with SCID a working immune system. 
      p
         | The biggest challenge to this treatment is finding a donor who is a good genetic "match" for the recipient. Siblings are usually the best donors, as their cells tend to have a more similar genetic makeup. But if parents have one child with SCID, and they have another boy, he will have a 50% chance of also having the condition. Girls will be unaffected, but they may be carriers.
      p
         | Another way to cure SCID is through  gene therapy. Gene therapy places a working copy of the IL2RG gene into the patient's own bone marrow stem cells, and then returns the cells to their body. Gene therapy is relatively new, and there are some technical challenges to getting it to work, but it has been used successfully to treat multiple forms of SCID. It is likely to become less costly and more available over time. 
