extends /shared/layout
block content
  +pageTitle
  +pod('')
     .uk-width-1-1.uk-text-center
        iframe.uk-responsive-width(src="https://player.vimeo.com/video/224345406" width="1920" height="1080" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
