extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-6-10
         p.
            We are all unique. Even though we share some characteristics with our peers and our family members, every one of us 
            has a unique combination of traits.
         p.
            Some traits are controlled by genes that pass from parent to child. Others are acquired through learning. But most 
            are influenced by a combination of genes and environmental factors. Below are some examples of variable traits that 
            are easy to observe.
      .uk-width-medium-4-10
         +well
            p To learn more about traits see <a href="../traits/">What are Traits?</a>
   +pod('Earlobe attachment')
      .uk-width-medium-6-10
         p
            | If earlobes hang free, they are detached. If they connect directly to the sides of the head, they are attached. Earlobe attachment is a continuous trait: while most earlobes can be neatly categorized as attached or unattached, some are in-between.
         p
            | Although some sources say that this trait is controlled by a single gene, with unattached earlobes being dominant over attached earlobes, no published studies support this view. Earlobe attachment and shape are inherited, but it is likely that many genes contribute to this trait. As such, its pattern of inheritance is difficult to predict.
      .uk-width-medium-4-10
         img(src='images/ears.jpg', alt='Earlobe attachment')

   +pod('Tongue Rolling')
      .uk-width-medium-6-10
         p
            | Some people can curl up the sides of their tongue to form a tube shape. In 1940, Alfred Sturtevant observed that about 70% of people of European ancestry could roll their tongues and the remaining 30% could not.
         p
            | Many sources state that tongue rolling is controlled by a single gene. However, as Sturtevant observed, people can learn to roll their tongue as they get older, suggesting that environmental factors&mdash;not just genes&mdash;influence the trait. Consistent with this view, just 70% of identical twins share the trait (if tongue rolling were influenced only by genes, then 100% of identical traits would share the trait).
      |    
      .uk-width-medium-4-10
         img(src='images/tongue-roll.jpg', alt='Tongue Rolling')
   +pod('Dimples')
      |    
      .uk-width-medium-6-10
         p
            | Dimples are small, natural indentations on the cheeks. They can appear on one or both sides, and they often change with age. Some people are born with dimples that disappear when they&rsquo;re adults; others develop dimples later in childhood.
         p
         | Dimples are highly heritable, meaning that people who have dimples tend to have children with dimples&mdash;but not always. Because their inheritance isn&apos;t completely predictable, dimples are considered an &ldquo;irregular&rdquo; dominant trait. Having dimples is probably controlled mainly by one gene but also influenced by other genes.
         p
      |    
      .uk-width-medium-4-10
         img(src='images/dimples.jpg', alt='Dimples')
   +pod('Handedness')
      |    
      .uk-width-medium-4-10
         p
            | Handedness describes our preference for using either our left or right hand for activities such as writing and throwing a ball. Overall, about 10% of people are left-handed, but the number varies among cultures from 0.5% to 24%.
         p
            | Some have reported that handedness is controlled by just one or two genes, but this is not the case. Multiple studies present evidence that handedness is controlled by many genes&mdash;at least 30 and as many as 100&mdash;each with a small effect; many are linked to brain development. Environment also plays an important role: some cultures actively discourage left-handedness.
      |    
      .uk-width-medium-6-10
         img(src='images/handedness.jpg', alt='Handedness')
   +pod('Freckles')
      |    
      .uk-width-medium-6-10
         p
            | Freckles are small, concentrated spots of a skin pigment called melanin. Most fair-skinned, red-haired people have them.
         p
            | Freckles are controlled primarily by the MC1R gene. Freckles show a dominant inheritance pattern: parents who have freckles tend to have children with freckles.
         p
            | Variations, also called alleles, of MC1R control freckle number. Other genes and the environment influence freckle size, color, and pattern. For example, sun exposure can temporarily cause more freckles to appear.
      |    
      .uk-width-medium-4-10
         img(src='images/freckles.jpg', alt='Freckles')
   +pod('Curly hair')
      |    
      .uk-width-medium-6-10
         p
            | Round hair follicles make straight hair, flattened or c-shaped hair follicles make curly hair, and oval hair follicles make wavy hair. Hair texture is a continuous trait, meaning that hair can be straight or curly or anywhere in between.
         p
            | Curly hair is influenced by genes much more than by the environment. While curly hair runs in families&mdash;people with curly hair tend to have children with curly hair&mdash;its inheritance patterns are often unpredictable.
         p
            | Multiple genes control hair texture, and different variations in these genes are found in different populations. For instance, curly hair is common in African populations, rare in Asian populations, and in-between in Europeans. Straight hair in Asians is mostly caused by variations in two genes&mdash;different genes from the ones that influence hair texture in Europeans. And different genetic variations make hair curly in African and European populations.
      |    
      .uk-width-medium-4-10
         img(src='images/curlyhair.jpg', alt='Curly Hair')
   +pod('Hand clasping')
      |    
      .uk-width-medium-4-10
         p
            | Without thinking about it, fold your hands together by interlocking your fingers. Which thumb is on top&mdash;your left or your right?
         p
            | One study found that 55% of people place their left thumb on top, 45% place their right thumb on top, and 1% have no preference. A study of identical twins concluded that hand clasping has a strong genetic basis (most twins share the trait), but it doesn&rsquo;t fit a predictable inheritance pattern. It is likely affected by multiple genes as well as environmental factors.
      |    
      .uk-width-medium-6-10
         img(src='images/hand-clasp.jpg', alt='Hand Clasping')
   +pod('Red/Green Colorblindness')
      |    
      .uk-width-medium-6-10
         p
            | Red-green colorblindness is caused by a single gene located on the X-chromosome. This gene codes for a protein in the eye that detects certain colors of light. When this gene is defective, the eye cannot differentiate between red and green.
         p
            | You need at least one working copy of the gene to be able to see red and green. Since boys have just one X-chromosome, which they receive from their mother, inheriting one defective copy of the gene will render them colorblind. Girls have two X-chromosomes; to be colorblind they must inherit two defective copies, one from each parent. Consequently, red-green colorblindness is much more frequent in boys (1 in 12) than in girls (1 in 250).
         p
            | Red-green color blindness follows a very predictable recessive, sex-linked inheritance pattern. A woman with one defective copy of the gene and one functional copy, even though she is not colorblind herself, is known as a &quot;carrier.&quot; She has a 50% chance of passing the defective copy to each of her children. Half of her sons will be colorblind, and half of her daughters will be carriers.
      |    
      .uk-width-medium-4-10
         img(src='images/colorblind.jpg', alt='Colorblindness')
   +pod('Hairline shape')
      |    
      .uk-width-medium-6-10
         p
            | If your hairline forms a point at the center of the forehead, you have a widow&apos;s peak. If not, you have a straight hairline. While some sources say that widow&rsquo;s peak is a dominant trait controlled by one gene, no scientific study supports this claim. Complicating the question of heritability is the fact that the trait is continuous: some people have just a slight suggestion of a peak.
         p
            | Widow&apos;s peak is likely controlled by genes rather than the environment. But while hairline shape tends to run in families, its pattern of inheritance is usually unpredictable, suggesting that multiple genes are involved.
      |    
      .uk-width-medium-4-10
         img(src='images/widow.jpg', alt='Hairline')
   +pod('PTC tasting')
      |    
      .uk-width-medium-6-10
         p
            | To about 75% of us, the chemical PTC (phenylthiocarbamide) tastes very bitter. For the other 25%, it is tasteless. The ability to taste PTC is controlled mainly by a single gene that codes for a bitter-taste receptor on the tongue. Different variations, or alleles, of this gene control whether PTC tastes bitter or not.
         p
            | PTC tasting follows a very predictable pattern of inheritance. Tasting is dominant, meaning that if you have at least one copy of the tasting version of the gene, you can taste PTC. Non-tasters have two copies of the non-tasting allele.
         p
            | To learn more, visit 
            a(href='../ptc/') PTC: Genes and Bitter Taste. 
      |    
      .uk-width-medium-4-10
         img(src='images/ptc.jpg', alt='PTC')
         
         
   +references
      p
         | Bastiaens, M., ter Huurne, J., Gruis, N., Bergman, W., Westendorp, R., Vermeer, B.-J. &amp; Bouwes Bavinck, J.-N. (2001). The melanocortin-1-receptor gene is the major freckle gene. Human Molecular Genetics, 10(16), 1701-1708. doi: 10.1093/hmg/10.16.1701
      p
         | Medland, S. E. et al. (2009). Common Variants in the Trichohyalin Gene Are Associated with Straight Hair in Europeans. The American Journal of Human Genetics, 85(5), 750-755. doi: 10.1016/j.ajhg.2009.10.009
      p
         | Ocklenburg, S., Beste, C. &amp; G&uuml;nt&uuml;rk&uuml;n, O. (2013). Handedness: A neurogenetic shift of perspective. Neuroscience and Behavioral Reviews [Epub ahead of print]. doi: 10.1016/j.neubiorev.2013.09.014
      p
         | Reedy, J. J., Szczes, T. &amp; Downs, T.D. (1971). Tongue rolling among twins. Journal of Heredity, 62(2), 125-127.
      p
         | Reiss, M. (1999). The genetics of hand-clasping: A review and a familial study. Annals of Human Biology, 26(1), 39-48.
      p
         | Sturtevant, A H. (1940). A new inherited character in man. Proceedings of the National Academy of Sciences, 26(2), 100-102.
      p
         | Thibaut, S., Gaillard, O., Bouhanna, P., Cannell, D. W. &amp; Bernard, B. A. (2005). Human hair shape is programmed from the bulb. Cutaneous Biology, 152(4), 632-638. doi: 10.1111/j.1365-2133.2005.06521.x
      p Wiedemann H-R. 1990. Cheek Dimples. American Journal of Medical Genetics 36: 376
            

   +bottom-menu("",'hhmi')
   
   
