extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-6-10
         p
            | Heart disease and stroke often result from a narrowing of the blood vessels. This narrowing can
            | severely reduce or even stop blood flow to important organs like the heart or brain.
         |       
         p
            | Blood carries oxygen and important nutrients to cells in the body. Without oxygen, heart muscle
            | cells or brain cells begin to die. The patient can suffer permanent disability, and even death.
      |    
      .uk-width-medium-4-10
         figure
            img(src='images/leading-death.png', alt='Leading causes of death in U.S.')
            |          
            p
               | Heart disease is the #1 cause of death in America, accounting for almost a third of all deaths in the country. Stroke is the fourth leading cause of death.
   +pod('Atherosclerosis')
      |    
      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='images/atherosclerosis.png', alt='Atherosclerosis')
            |          
            p
               | Atherosclerosis occurs when deposits of fat, cholesterol, and other substances build up in the inner wall of a blood
               | vessel. This buildup is called plaque. Plaque can block blood flow, causing strokes and heart attacks.
      |    
      .uk-width-medium-4-10
         p
            | Atherosclerosis (ath&apos;er-o-skleh-RO&apos;sis) is the leading cause of heart disease and stroke. Atherosclerosis
            | occurs when cholesterol and other deposits build up on the inner walls of blood vessels. Over time,
            | this buildup narrows blood vessel openings, limiting the flow of blood and oxygen.
         |       
         h3 Who&apos;s At Risk?
         |       
         p
            | Having high blood pressure, high cholesterol, or diabetes will increase your risk of having a heart attack
            | or stroke. These risk factors tend to run in families. That&apos;s why it&apos;s so important to know your family medical history.
         |       
         p
            | You may be at risk if you have a close relative (grandparent, parent, or sibling) who has had a heart attack or
            | stroke before age 55. You may also be at risk if high blood pressure or high cholesterol run in your family
   +pod('Reducing The Risk')
      |    
      .uk-width-medium-6-10
         p
            | You can reduce your risk by maintaining low cholesterol and blood pressure.  The best way to lower both
            | your cholesterol and your blood pressure is to avoid smoking tobacco. Maintaining
            | a healthy body weight, participating in regular physical activity, and eating foods low in fat and cholesterol
            | will also reduce your risk.
         |       
         p
            | If you think you may be at risk for developing a cardiovascular disease, have your blood pressure and
            | cholesterol levels checked regularly by a doctor.
         |       
         +well
            | Learn more about 
            a(href='../bp/') blood pressure
            |  and 
            a(href='../cholesterol/') cholesterol
      |    
      .uk-width-medium-4-10
         figure
            img(src='images/reducerisk.jpg', alt='Checking blood pressure')
            |          
            p
   
   
