   | @* Locomotive Springs *@
   #ls.mapoverlay(onclick="$('#ls').fadeOut(500);")
      .overtop
         .image
            img(src='images/ls.jpg', height='550', width='300', alt='Locamotive Springs')
         |             
         .data
            .title Locomotive Springs
            |             
            p
               | This 12,000 acre spring-fed waterfowl area is surrounded by miles of desert landscape.
            |             
            .icons
               img(src='markers/hiking.png', alt='Hiking', title='Hiking')
               |                
               img(src='markers/primitiverestrooms.png', alt='Primitive Restrooms', title='Primitive Restrooms')
            |             
            br
            |             
            a(href='http://www.publiclands.org/explore/site.php?plicstate=UT&id=1400') Website
            |  &nbsp;&nbsp;&nbsp;
            |             
            a(href='http://wildlife.utah.gov/waterfowl/wma_maps/locomotive_springs_color.pdf') PDF Map
            |             
            br
            br
            |             
            ul
               li Freshwater springs
               |                
               li Thousands of migratory birds
            |             
            h3 Logistics
            |             
            p
               | Locomotive Springs is in the same area as Spiral Jetty and Golden Spike, so it&rsquo;s possible to visit all three in one trip.
               | To reach Locomotive Springs, you must drive on long dirt and gravel roads that are rough in places.
               | The dirt roads are slippery in wet weather.
            |             
            h3 Good To Know
            |             
            p
               | A high-clearance or four-wheel-drive vehicle is recommended.
               | Drinking water is available at Golden Spike.
               | Trout and bass live in some of the ponds.
   |       @* Spiral Jetty *@
   |       
   #sj.mapoverlay(onclick="$('#sj').fadeOut(500);")
      .overtop
         .image
            img(src='images/sj.jpg', height='550', width='300', alt='Spiral Jetty')
         |             
         .data
            .title Spiral Jetty
            |             
            p
               | This earthworks sculpture by Robert Smithson protrudes into the hyper-saline waters of
               | Gunnison Bay. Depending on the lake level, it can be visible or submerged.
            |             
            .icons
               img(src='markers/hiking.png', alt='Hiking', title='Hiking')
            |             
            br
            |             
            a(href='http://www.diaart.org/sites/main/spiraljetty') Website
            |  &nbsp;&nbsp;&nbsp;
            |             
            br
            br
            |             
            ul
               li Hyper-saline water&mdash;salt concentration can reach 30% or higher.
               |                
               li Microscopic halophilic bacteria and archaea, which turn the water pink.
               |                
               li Naturally occurring gypsum crystals along the water&apos;s edge.
               |                
               li Natural oil seeps at the end of &ldquo;oil jetty,&rdquo; just east of Spiral Jetty.
            |             
            h3 Logistics
            |             
            p
               | Spiral Jetty is in the same area as Locomotive Springs and Golden Spike, so it&rsquo;s possible to
               | visit all three in one trip. Accessing Spiral Jetty requires traveling 15.5 along dirt
               | and gravel roads that are rough in places. The dirt roads are very slippery in wet weather.
               | The website has detailed driving directions and more information.
            |             
            h3 Good To Know
            |             
            p
               | A high-clearance or four-wheel-drive vehicle is recommended. The highly saline water can
               | irritate sensitive skin. If you plan to swim or wade, bring lots of fresh water for rinsing.
               | Pelicans fly directly overhead during the summer as they travel between their nesting grounds
               | on Gunnison Island and their feeding grounds in Bear River Bay. Restrooms and drinking water
               | are available at Golden Spike.
   |       @* Bear River Bird Refuge *@
   |       
   #br.mapoverlay(onclick="$('#br').fadeOut(500);")
      .overtop
         .image
            img(src='images/br.jpg', height='550', width='300', alt='Bear River Bird Refuge')
         |             
         .data
            .title Bear River Bird Refuge
            |             
            p
               | This 74,000 acre wetland area sits where the fresh water of the Bear River flows into
               | Great Salt Lake. The auto tour route is one of the best places to view some of the millions
               | of migratory birds that visit the lake each year.
            |             
            .icons
               img(src='markers/busparking.png', alt='Bus Parking', title='Bus Parking')
               |                
               img(src='markers/restrooms.png', alt='Restrooms', title='Restrooms')
               |                
               img(src='markers/drinkingwater.png', alt='Drinking Water', title='Drinking Water')
               |                
               img(src='markers/wheelchairaccess.png', alt='Wheel Chair Access', title='Wheel Chair Access')
            |             
            br
            |             
            a(href='http://www.fws.gov/bearriver/index.html') Website
            |  &nbsp;&nbsp;&nbsp;
            |             
            br
            br
            |             
            ul
               li Wildlife education center
               |                
               li Educational information about birds and wetlands
               |                
               li 1/2-mile paved, wheelchair-accessible trail
               |                
               li Auto tour route
               |                
               li Outstanding bird viewing
               |                
               li Multiple points to access open water
            |             
            h3 Logistics
            |             
            p
               | Before traveling to the Auto Tour Route, be sure to stop at the Wildlife Education
               | Center. The volunteers at the Education Center can give you information about recent
               | bird sightings.
            |             
            h3 Good To Know
            |             
            p
               | You can call for recorded information conditions and bird sightings.
               | You can purchase birding books at the Wildlife Education Center book store.
               | The well-maintained gravel loop road is suitable for standard passenger vehicles, but not buses or large RVs.
               | Look for special programs and events.
               | Hunting is allowed in the refuge, but not along the auto tour loop.
   |       @* Golden Spike National Historic Site *@
   |       
   #gs.mapoverlay(onclick="$('#gs').fadeOut(500);")
      .overtop
         .image
            img(src='images/gs.jpg', height='550', width='300', alt='Golden Spike National Historic Site')
         |             
         .data
            .title Golden Spike National Historic Site
            |             
            p
               | This historic site sits where the eastern and western sides of the first
               | transcontinental railroad were joined. *There is no access to the lake at this site
            |             
            .icons
               img(src='markers/busparking.png', alt='Bus Parking', title='Bus Parking')
               |                
               img(src='markers/restrooms.png', alt='Restrooms', title='Restrooms')
               |                
               img(src='markers/drinkingwater.png', alt='Drinking Water', title='Drinking Water')
            |             
            br
            |             
            a(href='http://www.nps.gov/gosp/') Website
            |  &nbsp;&nbsp;&nbsp;
            |             
            br
            br
            |             
            ul
               li Educational information and displays
               |                
               li Film about the railroad
            |             
            h3 Logistics
            |             
            p
               | Golden Spike is in the same area as Locomotive Springs and Spiral Jetty, so it&rsquo;s
               | possible to visit all three in one trip.
            |             
            h3 Good To Know
            |             
            p
               | This is a great place to stop before heading to Spiral Jetty or Locomotive Springs.
   |       @* Antelope Island State Park *@
   |       
   #ai.mapoverlay(onclick="$('#ai').fadeOut(500);")
      .overtop
         .image
            img(src='images/ai.jpg', height='550', width='300', alt='Antelope Island State Park')
         |             
         .data
            .title Antelope Island State Park
            |             
            p
               | This Great Salt Lake island is accessible by car or bike along a 7.2-mile-long
               | causeway. The island provides opportunities for viewing wildlife, and features a
               | beach, marina, campground, visitor center, and a historic ranch.
            |             
            .icons
               img(src='markers/busparking.png', alt='Bus Parking', title='Bus Parking')
               |                
               img(src='markers/restrooms.png', alt='Restrooms', title='Restrooms')
               |                
               img(src='markers/drinkingwater.png', alt='Drinking Water', title='Drinking Water')
               |                
               img(src='markers/hiking.png', alt='Hiking', title='Hiking')
               |                
               img(src='markers/picnictables.png', alt='Picnic Tables', title='Picnic Tables')
               |                
               img(src='markers/showers.png', alt='Showers', title='Showers')
               |                
               img(src='markers/marina-2.png', alt='Marina', title='Marina')
            |             
            br
            |             
            a(href='http://stateparks.utah.gov/parks/antelope-island') Website
            |  &nbsp;&nbsp;&nbsp;
            |             
            br
            br
            |             
            ul
               li
                  | The causeway, which divides the open waters of Ogden and Farmington Bays, is a great place for viewing waterbirds.
               |                
               li
                  | The Bridger Bay Day Use Area has an oolitic sand beach with easy access to the water and brine shrimp.
               |                
               li
                  | The Marina provides an opportunity to view sail boats and a brine shrimping boat, as well as access open water.
               |                
               li
                  | The Visitor Center sits on a hill with views of the lake and the causeway. Inside, you can view exhibits about the lake and the local history, and a movie about Antelope Island and Great Salt Lake.
            |             
            h3 Logistics
            |             
            p
               | Maps and brochures are available on the Antelope Island State Park website and at the
               | entrance kiosk. There is a $9 entry fee.
            |             
            h3 Good To Know
            |             
            p
               | Wide shoulders along the causeway make it easy to pull over and look around; however,
               | park officials request that you stay with your vehicle. A memorial site on the West side
               | of the causeway (look for the American flag just before the marina) provides convenient
               | access to the water and a few parking spaces.
   |       @* Great Salt Lake Shorelands Preserve *@
   |       
   #sp.mapoverlay(onclick="$('#sp').fadeOut(500);")
      .overtop
         .image
            img(src='images/sp.jpg', height='550', width='300', alt='Great Salt Lake Shorelands Preserve')
         |             
         .data
            .title Great Salt Lake Shorelands Preserve
            |             
            p This natural, unmanaged wetland area sits on the edge of Farmington Bay.
            |             
            .icons
               img(src='markers/restrooms.png', alt='Restrooms', title='Restrooms')
               |                
               img(src='markers/drinkingwater.png', alt='Drinking Water', title='Drinking Water')
               |                
               img(src='markers/hiking.png', alt='Hiking', title='Hiking')
               |                
               img(src='markers/wheelchairaccess.png', alt='Wheel Chair Access', title='Wheel Chair Access')
            |             
            br
            |             
            a(href='http://www.nature.org/ourinitiatives/regions/northamerica/unitedstates/utah/placesweprotect/the-great-salt-lake-shorelands-preserve.xml') Website
            |  &nbsp;&nbsp;&nbsp;
            |             
            br
            br
            |             
            ul
               li 1-mile raised boardwalk
               |                
               li Educational displays
               |                
               li Observation tower
            |             
            |             
            h3 Good To Know
            |             
            p
               | Look for owl pellets at the main visitor center structure and the observation tower.
               | Unlike other preserves along the lake, this one has no water-control dikes, so visitors can see the effects of the changing water levels.
               | Only the western edge of the preserve (far from visitor center) is open to hunting
   |       @* Nature Center at Farmington Bay *@
   |       
   #nc.mapoverlay(onclick="$('#nc').fadeOut(500);")
      .overtop
         .image
            img(src='images/nc.jpg', height='550', width='300', alt='Nature Center at Farmington Bay')
         |             
         .data
            .title Nature Center at Farmington Bay
            |             
            p
               | The Nature Center sits on the edge of Farmington Bay Bird Refuge, a wetland area managed by a system of dikes.
            |             
            .icons
               img(src='markers/busparking.png', alt='Bus Parking', title='Bus Parking')
               |                
               img(src='markers/primitiverestrooms.png', alt='Primitive Restrooms', title='Primitive Restrooms')
               |                
               img(src='markers/hiking.png', alt='Hiking', title='Hiking')
               |                
               img(src='markers/wheelchairaccess.png', alt='Wheel Chair Access', title='Wheel Chair Access')
            |             
            br
            |             
            a(href='http://wildlife.utah.gov/dwr/gslnc-home.html') Website
            |  &nbsp;&nbsp;&nbsp;
            |             
            br
            br
            |             
            ul
               li Diverse plant, invertebrate, and bird species
               |                
               li Excellent bird viewing
               |                
               li Duck nesting boxes and heron rookery
               |                
               li Flat, well-maintained trails
               |                
               li Education Center
            |             
            h3 Logistics
            |                
            p
               | Access is limited during bird nesting season (March 1 through Mid-September).
               | Check the website or call ahead.
            |             
            h3 Good To Know
            |             
            p
               | The western edge of the preserve (far from visitor center) is open to hunting
               | Many school groups move through this location, so you may want to call ahead to avoid the weekday crowds.
   |       @* Farmington Bay Bird Refuge *@
   |       
   #fb.mapoverlay(onclick="$('#fb').fadeOut(500);")
      .overtop
         .image
            img(src='images/fb.jpg', height='550', width='300', alt='Farmington Bay Bird Refuge')
         |             
         .data
            .title Farmington Bay Bird Refuge
            |             
            p
               | This bird refuge sits where the Jordan River feeds into Farmington Bay. It is
               | accessible through trails and a loop road that span the wetland&rsquo;s dike system.
            |             
            .icons
               img(src='markers/picnictables.png', alt='Picnic Tables', title='Picnic Tables')
               |                
               img(src='markers/primitiverestrooms.png', alt='Primitive Restrooms', title='Primitive Restrooms')
            |             
            br
            |             
            a(href='http://greatsaltlakenaturecenter.org/homepage.html') Website
            |  &nbsp;&nbsp;&nbsp;
            |             
            br
            br
            |             
            ul
               li Diverse plant, invertebrate, and bird species
               |                
               li Bird viewing
               |                
               li Interpretive signs
               |                
               li Pull-outs
            |             
            h3 Logistics
            |                
            p
               | Access is limited during bird nesting season (March 1 through Mid-September).
               | Check the website or call ahead.
            |             
            h3 Good To Know
            |             
            p
               | Mountain biking is allowed on designated trails and roads.
               | The refuge is open to hunting.
   |       @* Lee Creek *@
   |       
   #lc.mapoverlay(onclick="$('#lc').fadeOut(500);")
      .overtop
         .image
            img(src='images/lc.jpg', height='550', width='300', alt='Lee Creek')
         |             
         .data
            .title Lee Creek
            |             
            p
               | This natural site managed by the Audubon Society has a 1/4-mile raised path and an extended playa area.
            |             
            .icons
               img(src='markers/hiking.png', alt='Hiking', title='Hiking')
            |             
            br
            |             
            a(href='http://www.utahbirds.org/counties/saltlake/LeeCreek.htm') Website
            |  &nbsp;&nbsp;&nbsp;
            |             
            br
            br
            |             
            ul
               li Diverse plant, invertebrate, and bird species
               |                
               li Bird viewing
               |                
               li Interpretive signs
               |                
               li Pull-outs
            |             
            h3 Logistics
            |                
            p
               | The gravel parking area is quite small. Additional parking is available nearby, along the shoulder of the I-80 frontage road.
               | You can walk along the playa area during dry conditions.
            |             
            h3 Good To Know
            |             
            p
               | Heavier individuals may have trouble fitting through the entrance gate.
               | Playa (also called mud flat) is prime nesting habitat for snowy plovers.
               | Depending on the lake level, the water may be quite far away.
   |       @* Saltair *@
   |       
   #sa.mapoverlay(onclick="$('#sa').fadeOut(500);")
      .overtop
         .image
            img(src='images/sa.jpg', height='550', width='300', alt='Saltair')
         |             
         .data
            .title Saltair
            |             
            p
               | Saltair was a former lakeside resort, popular during the early 1900s.
               | The current Saltair building, which is open to the public during business
               | hours, serves as a concert venue and tourist stop.
            |             
            .icons
               img(src='markers/busparking.png', alt='Bus Parking', title='Bus Parking')
               |                
               img(src='markers/restrooms.png', alt='Restrooms', title='Restrooms')
               |                
               img(src='markers/drinkingwater.png', alt='Drinking Water', title='Drinking Water')
            |             
            br
            |             
            a(href='http://www.thesaltair.com/') Website
            |  &nbsp;&nbsp;&nbsp;
            |             
            br
            br
            |             
            ul
               li An easy walk to an extended playa area 
               |                
               li
                  | Gift shop with large scale model of the historic Saltair, along with historic photos and  postcards.
            |             
            |             
            h3 Good To Know
            |             
            p
               | Playa (also called mud flat) is prime nesting habitat for snowy plovers.
               | Depending on the lake level, the water may be quite far away.
   
