extends /shared/layout
block content
   +pageTitle
   div(style='width:640px;')
   +pod('')
      .uk-width-1-1.uk-text-center
         +vimeo('66593589',640,360)
         //- iframe(src='https://player.vimeo.com/video/66593589', width='640', height='360', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
         p
            | One responsibility of the Utah Division of Wildlife Resources (UDWR) is to study and monitor the brine shrimp that live in Great Salt Lake. They took on this responsibility soon after several companies began collecting large numbers of brine shrimp cysts from the lake. By keeping track of the brine shrimp population, the UDWR makes sure that harvesters don&apos;t take too many cysts. The cysts that remain will hatch in the spring, providing food for millions of birds and producing the next year&apos;s supply of cysts for harvesting.
         p
            | This video shows some of the work the DWR employees do to measure and track the brine shrimp population.
      .uk-width-medium-5-10
         strong Jim Van Leeuwen
         |  
         br
         |     Jim Van Leeuwen is a Aquatic Biologist for
         | &#x9;Utah Division of Wildlife Resources who has
         |     been working on and around Great Salt Lake
         |     for over 10 years. He is interested in the
         |     workings of Great Salt Lake ecology.
      .uk-width-medium-5-10
         strong Phil Brown 
         br
         | Phil Brown is an aquatic biologist with the Utah Divison of Wildlife
         |  Resources&apos; Great Salt Lake Ecosystem Program (GSLEP). Phil is
         |   involved with the extensive monitoring efforts of the Great Salt
         |    Lake&apos;s brine shrimp and limnology carried out by GSLEP. He believes
         |     the lake is a dynamic and greatly underappreciated ecological
         |      resource, and has enjoyed comparing it to the freshwater systems
         |       he was trained in.

   +pod('')
      .uk-width-1-1.uk-text-center
         //- iframe(src='//player.vimeo.com/video/43424617', width='640', height='360', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
         +vimeo('43424617',640,360)
         p
            | Mercury is a naturally occurring metal that is extremely toxic to birds and humans. Great Salt Lake has a higher concentration of methyl mercury (a highly toxic form of the metal) than anywhere else in the country. Three duck species have especially high mercury levels, and hunters have been advised to eat them in limited quantities or not at all.
         p
            | Greg Carling and Bill Johnson are working to understand where this mercury comes from and how it cycles through the ecosystem.
            
      .uk-width-medium-5-10
         strong Dr. Bill Johnson 
         br
         | Dr. Bill Johnson a Professor of Geology and
         | Geophysics at the University of Utah.
               
      .uk-width-medium-5-10
         strong Greg Carling
         br
         | Greg Carling is a graduate student in the Department of Geology and Geophysics at the University of Utah. His current research involves dust deposition in the Wasatch Mountains, trace element cycling in the freshwater wetlands adjacent to Great Salt Lake, and mercury methylation in Farmington Bay.
