+pod('')
	.uk-width-medium-5-10
		p
			| In 1957,  a virologist who had studied several
			| infectious diseases among remote peoples, came to New Guinea to study kuru. Carleton Gajdusek wanted
			| to uncover the cause of this unique and always fatal disease. He searched for sources of toxins
			| in the Fore&apos;s diet and environment.
		p
			| He conducted epidemiological studies and sent samples of
			| brain tissue to the United States to be studied by a neuropathologist. Because there was no
			| sign of inflammation in the bodies or brains of the kuru victims, and because kuru tended to appear
			| within certain families, Gajdusek at first believed kuru was an inherited genetic disorder.
		p
			| In 1976 Carleton Gajdusek became co-recipient of the Nobel Prize in Medicine for his &quot;discoveries
			| concerning new mechanisms for the origin and dissemination of infectious diseases.&quot;
	.uk-width-medium-5-10
		figure
			img(src='images/gajdusek_factoid.jpg', alt='A doctor examines a boy with kuru in New Guinea.')
			p.uk-text-small A doctor examines a boy with kuru in New Guinea.

+pod('')
	.uk-width-medium-5-10
		p
			| When you look at thin slices of kuru, classic CJD and scrapie brain tissue under the microscope,
			| it is easy to see that they are full of holes. The holes form after misfolded prion proteins
			| kill neurons in the brain. (Photo Credits: clockwise: Kunihiko Kobayashi; University of Iowa;
			| Duke Medical School; University of California, Davis)
		p
			| In 1959 Gajdusek&apos;s work came to the attention of William Hadlow, a research veterinarian who was
			| studying a remarkably similar disease, called scrapie, in sheep. Like kuru, scrapie was a fatal
			| disease that gradually destroyed the brains of sheep, leaving the brain full of holes and producing
			| no immune response. And very importantly, scientists knew that scrapie was infectious.
		p
			| The similarities between kuru and scrapie led Gajdusek to begin experiments to show that kuru could
			| be transmitted to chimpanzees. He then went on to show that classic Creutzfeldt-Jakob disease (CJD),
			| another spongiform disease in people, was also transmissible.

	.uk-width-medium-5-10
		figure
			img(src='images/BrainSections.jpg', alt='comparison of brain sections')

+pod('')
	.uk-width-medium-5-10
		p
			| Ultimately, the rapid spread of kuru was linked to the Fore&apos;s funeral rituals: the Fore cooked and ate their dead relatives.
			| This practice was only carried out by the Fore women and children, who lived apart from the men.
			| This explains why men were rarely infected, and why cases appeared within families. The Fore quickly
			| stopped eating their dead, and the spread of the disease stopped. Unfortunately, because of kuru&apos;s long
			| incubation time, there are still a few kuru cases among the Fore each year. The people who come down with
			| kuru today are in their 50s and 60s, which means that they have been harboring the disease ever since they
			| ate infected tissue as young children.
	.uk-width-medium-5-10
		figure
			img(src='images/bones.jpg', alt='Bones')
