extends /shared/layout
block content
   +pageTitle
   +pod('What Is a Brain Pathway?')
      .uk-width-medium-4-10
         p
            | A brain pathway (or neuronal pathway) is like a power line between two brain regions. A brain pathway is made up of interconnected neurons, and signals travel 
            | along them from one area of the brain to another.
         p
            | Neurotransmitters are molecules that allow a signal to travel from one neuron to another. All drugs of abuse interfere with neurotransmitter signaling in some 
            | way. Neurons in different brain pathways use different neurotransmitters. Depending on which neurotransmitters they interfere with, drugs have varied effects 
            | in the brain.
         +well
            p
               | To see how drugs of abuse affect the Reward Pathway, visit 
               a(href='https://learn.genetics.utah.edu/content/addiction/mouse/') Mouse Party
               | .
            p
               | To learn more about the reward pathway, visit 
               a(href='https://learn.genetics.utah.edu/content/addiction/rewardbehavior/') The Reward Pathway Reinforces Behavior
               | .
         
      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='pathway.jpg', alt='Pathway')   
            p
               | Interconnected neurons form brain pathways, allowing different brain regions to communicate.

   +pod('The Dopamine Pathways')
      |    
      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src='dopamine.jpg', alt='Dopamine')
      |    
      .uk-width-medium-6-10
         p
            | Dopamine is the main neurotransmitter used by the reward pathway (also called the mesolimbic pathway, which is closely linked with the mesocortical pathway). 
            | But two other key pathways also use dopamine: the nigrostriatal pathway and the tuberoinfundibular pathway. Most drugs of abuse interfere with dopamine 
            | signaling, which affects all three of these pathways.
         p
            strong Nigrostriatal pathway
            | : Substantia nigra to striatum    
            ul
               li Motor control        
               li Death of neurons in this pathway is linked to Parkinson&apos;s Disease
         p
            strong Mesolimbic and Mesocortical pathways
            | : Ventral tegmental area to nucleus 
            | accumbens, amygdala, hippocampus, and prefrontal cortex   
            ul
               li Memory, motivation, emotion, reward, desire, and addiction      
               li Dysfunction is connected to hallucinations and schizophrenia
         p
            strong Tuberoinfundibular pathway
            | : Hypothalamus to pituitary gland    
            ul
               li Hormone regulation, nurturing behavior, pregnancy, sensory processes
         p
            | The neurotransmitters dopamine and serotonin (described below) are used by just a small number of neurons in the brain. Each of these neurons connects to 
            | thousands of others in many areas, giving them a great deal of influence over complex processes.

   +pod('The Serotonin Pathways')  
      .uk-width-medium-6-10
         p
            | Many drugs of abuse interfere with serotonin signaling. These include cocaine, amphetamines, LSD, and alcohol. Serotonin-making neurons in the Raphe nuclei 
            | send signals to most areas of the brain, as well as the spinal cord.
         p
            | Serotonin plays a role in many processes, including body temperature regulation, sleep, mood, appetite, and pain. Problems with serotonin signaling are linked 
            | to obsessive-compulsive disorder, anxiety disorders, and depression. Many medications for treating depression increase serotonin levels in the brain.

      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src='serotonin.jpg', alt='Serotonin')
            
   +pod('Glutamate and GABA: A System in Balance')
      .uk-width-medium-6-10
         p
            | Glutamate and GABA (gamma-aminobutyric acid) are the brain&apos;s most plentiful neurotransmitters. Over half of all brain synapses use glutamate, and about 
            | one-third use GABA.
         p
            | GABA is inhibitory and glutamate is excitatory, and the two work together to control many processes. Several drugs of abuse decrease or increase one or the 
            | other, changing the balance of glutamate and GABA. Sedative or depressant drugs tend to shift the balance toward GABA, decreasing brain activity. Stimulant 
            | drugs shift the balance toward glutamate, causing an energized, wakeful state in the user.
         ul
            li Alcohol decreases glutamate activity. 
            li PCP, or &quot;angel dust,&quot; increases glutamate activity.  
            li Caffeine increases glutamate activity and inhibits GABA release. 
            li Alcohol increases GABA activity.
            li Tranquilizers increase GABA activity.

      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src='signal.jpg', alt='Signal')   
            p
               | GABA and glutamate regulate action potential traffic. GABA, an inhibitory neurotransmitter, stops action potentials. Glutamate, an excitatory neurotransmitter, 
               | starts action potentials or keeps them going.
      
