extends /shared/layout
block content
   +pageTitle

   script(type='text/javascript', charset='utf-8', src='microenvironments_edgePreload.js')

   style.
      .edgeLoad-EDGE-109877476 { visibility:hidden; }

   +pod('')
      .uk-width-1-1.uk-text-center
         #Stage.EDGE-109877476
   +pod('')
      .uk-width-medium-8-10
         p
            | Islands, rivers and man-made structures define several diverse
            | microenvironments around the lake. The lake&apos;s microenvironments
            | differ in many ways, including salinity (salt concentration),
            | temperature and pollution levels. All of these factors determine
            | which organisms survive and thrive in each location. The lake is
            | also surrounded by wetlands and evaporation ponds, which have
            | their own special characteristics and inhabitants. 
         p
            |     One of the lake&apos;s most dominant features is the railroad causeway
            |     that runs from east to west across its middle. Built in 1959, the
            |     causeway blocks most water flow between the north and south
            |     arms of the lake. The three main rivers that supply fresh water to
            |     Great Salt Lake flow into the south arm, leaving the north arm
            |     much more saline. Only the most resilient microbes can live in the
            |     extreme salt conditions of north arm. These &quot;extremophiles&quot; give
            |     the water a distinct purplish to pinkish color. The south arm, with
            |     its lower salinity, supports a greener population of microbes. 
         p
            |     Click around on the image to the right to explore seven of the
            |     lake&apos;s unique microenvironments: Gilbert Bay, Gunnison Bay,
            |     Farmington Bay, Bear River Bay, Ogden Bay, evaporation ponds,
            |     and wetlands.
 
         p
            | Image courtesy 
            a(href='http://visibleearth.nasa.gov/') NASA/Visible Earth
      
         +references
            p
               | Gwynn, J. W. (Ed.) (2002). 
               em
                  | Great Salt Lake, an Overview of Change: A Special Publication of the Utah
                  | Department of Natural Resources.
               |  Salt Lake City: Department of Natural Resources.
   
   
