extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-1-1
         a(href='/content/workshops/evo/sharedfunctions' target="_blank") Shared Functions, Shared Genes
         br
         p
         | Comparing Amino Acid Sequences (
         a(href='http://teach.genetics.utah.edu/beta/evolution/biochemistry/pdfs/comparing-amino-acids_TG.pdf' target='_blank') Teacher Guide
         |  and 
         a(href='http://teach.genetics.utah.edu/beta/evolution/biochemistry/pdfs/comparing-amino-acids.pdf' target='_blank') Student Handouts
         | )
         br
         p
         a(href='/content/workshops/evo/tree' target='_blank') Online Phylogenetic Tree
         |  ,  
         a(href='http://teach.genetics.utah.edu/beta/evolution/ancestry/pdfs/phylogenetic-tree-worksheet.pdf' target='_blank') Worksheet
         | , and 
         a(href='http://teach.genetics.utah.edu/beta/evolution/ancestry/pdfs/phylogenetic-tree-cheat-sheet.pdf' target='_blank') Cheat Sheet
         br
         p
         | Mutate a DNA Sequence (
         a(href='http://teach.genetics.utah.edu/beta/evolution/heredity/mutation-instructuctions.pdf' target='_blank') Instructions 
         | ,  
         a(href='http://teach.genetics.utah.edu/beta/evolution/heredity/mutation-cutouts.pdf' target='_blank') Cut outs
         |  , and 
         a(href='http://teach.genetics.utah.edu/beta/evolution/heredity/Human_HLA-B.pdf' target='_blank') Protein and Variant Information
         | )
         p
         | Build-a-Bird (
         a(href='http://teach.genetics.utah.edu/beta/evolution/heredity/build-a-bird.pdf' target='_blank') Instructions
         |  and 
         a(href='http://teach.genetics.utah.edu/beta/evolution/heredity/pigeon-chromosomes.pdf' target='_blank') Chromosomes
         | )
         p
         a(href='http://learn.genetics.utah.edu/content/pigeons/pigeonetics/' target='_blank') Pigeonetics
         p
         a(href='/content/workshops/evo/variation' target='_blank') Genetic Variation Video
         p
         a(href='/content/workshops/evo/criteria' target='_blank') Recipe for Natural Selection
         p
         a(href='http://teach.genetics.utah.edu/beta/evolution/selection/pdfs/is-it-selection.pdf' target='_blank') Is It Natural Selection?
         |  ,  
         a(href='http://teach.genetics.utah.edu/beta/evolution/selection/pdfs/NS-checklist.pdf' target='_blank') Natural Selection Checklist
         | , and 
         a(href='http://teach.genetics.utah.edu/beta/evolution/selection/pdfs/is-it-selection_key.pdf' target='_blank') Natural Selection Key
