extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-6-10
         p.
            Brain imaging tests like PET (Positron Emission Tomography) and MRI (Magnetic Resonance Imaging) are indispensible 
            to researchers studying the brain. These technologies allow researchers to look inside the brain to see the 
            effects of injuries, diseases, and even drugs and other chemicals. They can also help researchers learn how a 
            normally functioning brain works by showing which brain areas are active during certain tasks, and what kinds 
            of variations exist among individuals.
      .uk-width-medium-4-10
         figure
            img(src='mri.jpg', height='172', width='352', alt='MRI scanner')
   +pod('Choosing a Compound')
      |    
      .uk-width-medium-4-10
         p
            | Before a PET scan begins, a patient is given a safe dose of a radioactive tracer compound. To measure brain activity, doctors and scientists use FDG (fluorodeoxyglucose), which is a modified glucose molecule.
         p
            | Glucose is a type of sugar, and it is the main energy source for brain cells. The injected or inhaled FDG will enter the  bloodstream, where it can travel to the brain. If a particular area of the brain is more active, more glucose or energy will be needed there. When more glucose is used, more radioactive material is absorbed.
      |    
      .uk-width-medium-6-10
         img(src='fluorodeoxyglucose.jpg', alt='Fluorodeoxyglucose', width='488', height='350')
   +pod('How PET Scan Machines Work')
      |    
      .uk-width-medium-4-10
         p
            | The PET scanner measures energy that is emitted when positrons (positively charged particles) from the radioactive material collide with electrons (negatively charged particles) in the person&apos;s brain. The scan usually takes between 30 minutes and two hours.
         p
            | A computer turns energy measurements into multicolored, two- or three-dimensional images. The result is a colorful picture showing which parts of the brain were most active, based on the amount of glucose being used there.
      |    
      .uk-width-medium-6-10
         img(src='PETScanner.jpg', alt='Pet Scanner', width='488', height='287')
   +pod('Cracking the Color Code')
      |    
      .uk-width-medium-4-10
         p
            | To create the colorful PET image, a computer displays each measurement as a series of tiny dots. The color of each dot shows the intensity of the energy signal. Red indicates the highest intensity&mdash;in other words, the area of greatest brain activity.
      |    
      .uk-width-medium-6-10
         img(src='PETScan.jpg', alt='Pet Scan', width='488', height='294')
   +pod('How MRI Measures Brain Activity')
      |    
      .uk-width-medium-4-10
         p
            | Another technique for measuring brain activity is functional MRI. MRI detects changes in blood flow without using a radioactive tracer.
         p
            | When a particular site in the brain is more active, blood flows to that area. This blood brings oxygen to the hard-working brain cells. By tracking variations in blood flow, functional MRI can detect activity in the brain as it happens.
         p
            | An MRI machine looks a lot like a PET scanner but with the addition of a giant magnet. Certain atoms (like hydrogen, a major component of water) give off a wave of energy when surrounded by a magnetic field.
         p
            | Inside the magnetic field of an MRI machine, hydrogen molecules in the water in blood release pulses of energy.
         p
            | The amount of energy released reflects blood flow, and therefore brain activity. A sensor detects this energy and a computer turns it into a picture.
      |    
      .uk-width-medium-6-10
         img(src='vein.jpg', alt='Vein', width='488', height='400')
   +pod('Radio Waves: More Than Music')
      |    
      .uk-width-medium-4-10
         p
            | MRI also differs from PET in that the energy is released as radio waves rather than gamma rays. (A PET scanner detects gamma rays that are produced when positrons from the radioactive tracer collide with electrons in the brain.)
         p
            | Energy travels through the atmosphere in waves that can be detected by a sensor. The shorter the wavelength, the greater the energy. For example, gamma rays (detected by PET) contain much more energy than radio waves (detected by MRI). While small, brief doses of high-energy radiation are considered relatively safe, frequent or prolonged exposure damages DNA.
      |    
      .uk-width-medium-6-10
         img(src='VeinBloodFlow.jpg', alt='Vein Blood Flow', width='488', height='288')
   
