extends /shared/layout
block content
   +pageTitle

   script(src='/Scripts/AC_RunActiveContent.js', type='text/javascript')

   +pod('')
      .uk-width-medium-6-10
         p
            i Addiction: Genetics and the Brain
            |  was produced by the Genetic Science Learning Center (GSLC) in collaboration with advisors, experts, and teachers from Utah and across the country.
         p
            | This work was created in two phases. The first phase, published in 2006, was supported by a Science Education Drug Abuse Partnership Award (SEDAPA), from The National Institute on Drug Abuse, National Institutes of Health; Grant Number R25DA15461.
         p
            | The second phase, published in 2019, was funded by the Utah State Board of Education. This work included adding new materials about opioids, pain, and treatment, and updating the 2006 materials.

   +pod('Teachers')
      .uk-width-medium-6-10
         p
            | The following teachers participated in Master Teacher Institutes, during which they drafted the initial ideas that inspired the materials in this module.
      
      .uk-width-medium-4-10

      .uk-width-medium-6-10
         p
            | Fall 2018 Institute:
            .indented
               | Tamara Aho, Academy for Math, Engineering &amp; Science, Salt Lake City, UT
               br
               | Karen Blake, West Hills MS, West Jordan, UT
               br
               | Suzette Boland, Cyprus HS, Magna, UT
               br
               | Lauren Carpenter, Rowland Hall, Salt Lake City, UT
               br
               | Erin S. Clelland, Sunset Ridge MS, West Jordan, UT
               br
               | Leslie Czerwinski, Rowland Hall, Salt Lake City, UT
               br
               | Manon Felos, Juab Junior HS,  Nephi, UT
               br
               | Kellie Griffin, Pacific Heritage Academy, Salt Lake City, UT
               br
               | Michael McBride, Vernal MS, Vernal, UT
               br
               | Gary Peaslee, Pleasant Grove Junior High, Pleasant Grove, UT
               br
               | Wendy Roberts, DaVinci Academy of Science and the Arts, Ogden, UT
               br
               | Joanne Robinson, Herriman HS, Herriman, UT
               br
               | Lisa Robison, Dixon MS, Provo, UT
               br
               | April Thompson, Lakeview Academy, Saratoga Springs, UT
               br
               | McKenzie Wilson, Willowcreek MS, Lehi, UT

      .uk-width-medium-4-10
         img(src="2019-teachers-sm.jpg" alt="2019 teachers")
      
      .uk-width-medium-6-10
         p
            | Summer 2003 and 2004 Institutes:
            .indented
               | Mary Bucklew, Orem JHS, Orem, UT
               br
               | Marcia Butler, Lotus Academy, Philadelphia, PA
               br
               | Donna Capasso, Adele C. Young Intermediate, North Logan, UT
               br
               | Joan Carlson, Bancroft School, West Boylston, MA
               br
               | Anne Debarros, Jeremiah E. Burke HS, Boston, MA
               br
               | Ellen Doane, Timberline MS, Santaquin, UT
               br
               | Matthew Dugan, Madison Park HS, Quincy, MA
               br
               | Mario Godoy-Gonzalez, Royal HS, Royal City, WA
               br
               | Carrie Hartman, Murray HS, Midvale, UT
               br
               | Susan Hinojoza, James Logan HS, Union City, CA
               br
               | Alexa Johnson, Kamiak HS, Everett, WA
               br
               | Crystal King, West HS, Salt Lake City, UT
               br
               | Marilyn Pendley, West Iredell HS, Newton, NC
               br
               | Suzanne Piper, North Kitsap HS, Keyport, WA
               br
               | RevaBeth Russell, Lehi HS, Springville, UT
               br
               | Steve Scheidell, Murray HS, Murray, UT
               br
               | Erik Shold, Landmark HS, New York, NY
               br
               | Ann Sowd, Hoover HS, Uniontown, OH
               br
               | David van Dijk, Pleasant Grove HS, Pleasant Grove, UT
               br
               | Sterling Wadley, Springville HS, Pleasant Grove, UT

      .uk-width-medium-4-10

      .uk-width-medium-6-10
         p
            | We would like to extend a special thank you to the following teachers, who tested the newly developed opioid lessons in their classrooms during the spring of 2019.
            .indented
               | Wendy Roberts, DaVinci Academy of Science and the Arts, Ogden, UT
               br
               | Julie Rosine, DaVinci Academy of Science and the Arts, Ogden, UT
               br
               | April Thompson, Lakeview Academy, Saratoga Springs, UT

      .uk-width-medium-4-10

   +pod('Experts')
      .uk-width-medium-6-10
         p
            | The GSLC is grateful to the scientific and medical experts who contributed to this project.
         p
            | Presented lecturers to teachers during the Fall 2018 Institute:

      .uk-width-medium-4-10

      .uk-width-medium-2-10
         .indented
            img(src="Kondo.jpeg" alt="Douglas Kondo")

      .uk-width-medium-8-10
         p
            strong Douglas Kondo, MD
            br
            | Department of Psychiatry
            br
            | Salt Lake City VA Medical Center
            br
            | University Neuropsychiatric Institute
            br
            | University of Utah School of Medicine
      
      .uk-width-medium-2-10
         .indented
            img(src="Legarreta.jpeg" alt="Margaret D. Lagarreta")

      .uk-width-medium-8-10
         p
            strong Margaret D. Legarreta, PhD
            br
            | Salt Lake City VA Medical Center
            br
            | Department of Psychiatry
            br
            | University of Utah School of Medicine
      
      .uk-width-medium-6-10
         p
            | Participated in video interviews during Spring 2019:

      .uk-width-medium-4-10
         
      .uk-width-medium-3-10
         .indented
            img(src="Garland-crop.png" alt="Eric Garland")

      .uk-width-medium-7-10
         p
            strong Eric Garland, PhD, LCSW
            br
            | Associate Dean for Research, College of Social Work
            br
            | Distinguished Endowed Chair and Professor of Scoial Work
            br
            | Director, Center on Mindfulness and Integrative Health Intervention Development
            br
            | University of Utah
      
      .uk-width-medium-3-10
         .indented
            img(src="Gordon2-crop.png" alt="Adam Gordon")

      .uk-width-medium-7-10
         p
            strong Adam Gordon, MD, MPH
            br
            | Professor of MEdicine and Psychiatry, University of Utah School of Medicine
            br
            | Chief of Addiction Medicine, Salt Lake City VA Healthcare System
            br
            | Director, PARCKA (Program for Addiction Research, Clinical Care, Knowledge, and Advocacy)

      .uk-width-medium-3-10
         .indented
            img(src="Hanson-crop.png" alt="Glen Hanson")

      .uk-width-medium-7-10
         p
            strong Glen Hanson, DDS, PhD
            br
            | Professor of Pharmacology
            br
            | Vice Dean, School of Dentistry
            br
            | University of Utah

      .uk-width-medium-3-10
         .indented
            img(src="Sadler-crop.png" alt="Peter Sadler")

      .uk-width-medium-7-10
         p
            strong Peter Sadler
            br
            | Program Manager, Utah Naloxone
      
      .uk-width-medium-6-10
         p
            | Contributed to the 2006 materials:

      .uk-width-medium-4-10

      .uk-width-medium-2-10
         .indented
            img(src="fleming.jpg" alt="Patrick Fleming")

      .uk-width-medium-8-10
         p
            strong Patrick Fleming, MA, LSAC
            br
            | Director, Salt Lake Country Substance Abuse Services
      
      .uk-width-medium-2-10
         .indented
            img(src="kelly.jpg" alt="Kelly Lundberg")

      .uk-width-medium-8-10
         p
            strong Kelly J. Lundberg, PhD
            br
            | Associate Professor
            br
            | Department of Psychiatry
            br
            | University of Utah School of Medicine

      .uk-width-medium-2-10
         .indented
            img(src="hanson.jpg" alt="Glen Hanson")

      .uk-width-medium-8-10
         p
            strong Glen R. Hanson, DDS, PhD
            br
            | Professor of Pharmacology and Toxicology
            br
            | University of Utah

      .uk-width-medium-2-10
         .indented
            img(src="melamede.jpg" alt="Robert Melamede")

      .uk-width-medium-8-10
         p
            strong Robert J. Melamede
            br
            | Chair and Professor of Biology
            br
            | University of Colorado, Colorado Springs
      
      .uk-width-medium-2-10
         .indented
            img(src="rogers.jpg" alt="Scott Rogers")

      .uk-width-medium-8-10
         p
            strong Scott W. Rogers, PhD
            br
            | Associate Professor or Neurobiology and Anatomy
            br
            | University of Utah School of Medicine
      
      .uk-width-medium-2-10
         .indented
            img(src="notcutt.jpg" alt="William Notcutt")

      .uk-width-medium-8-10
         p
            strong William Notcutt, MD
            br
            | James Pageet Medical Center, UK
      
      .uk-width-medium-6-10
         p
            | Presented lectures during the 2003 and 2004 Summer Institutes:

      .uk-width-medium-4-10

      .uk-width-medium-5-10
         p
            strong Glen R. Hanson, PhD, DDS
            br
            | Professor of Pharmacology and Toxicology
            br
            | University of Utah
      
      .uk-width-medium-5-10
         p
            strong William McMahon, MD
            br
            | Associate Professor of Psychiatry, Pediatrics, and Psychology
            br
            | University of Utah

      .uk-width-medium-5-10
         p
            strong Kelly J. Lundberg, PhD
            br
            | Associate Professor
            br
            | Department of Psychiatry
            br
            | University of Utah School of Medicine
      
      .uk-width-medium-5-10
         p
            strong Scott Rogers, PhD
            br
            | Associate Professor of Neurobiology and Anatomy
            br
            | University of Utah

      .uk-width-medium-5-10
         p
            strong Jeffrey R. Botkin, MD, MPH
            br
            | Professor of Pediatrics and Medical Ethics
            br
            | Associate Vice President for Research Integrity
            br
            | University of Utah
      
      .uk-width-medium-5-10
         p
            strong Jack Taylor, DVM, PhD
            br
            | Director, Department of Animal Resources
            br
            | University of Utah
      
      .uk-width-medium-5-10
         p
            strong Troy Booher, JD
            br
            | Snell &amp; Wilmer, LLP Law Cleark for Judge Judith Billings
            br
            | Utah Court of Appeals and Adjunct Professor
            br
            | Department of Political Science
            br
            | University of Utah

      .uk-width-medium-5-10

      .uk-width-medium-5-10
         p
            | A very special thanks to 
            strong Jennifer Logan, PhD
            |  for her leadership as the original Principal Investigator on the
            | grant that funded this project.

      .uk-width-medium-5-10

   +pod('GSLC Staff')
      .uk-width-medium-6-10
         p
            | The GSLC team brings diverse expertise in curriculum and assessment development, instructional design, science education, science writing, creative multimedia production, visual design, animation, computer programming, music composition, videography, web development, and life science and education research. The following team members contributed to this project.

      .uk-width-medium-4-10

      .uk-width-medium-5-10
         p 2006 materials:
            .indented
               | Pete Anderson
               br
               | Sheila Homburger
               br
               | Jennifer Logan
               br
               | Molly Malone
               br
               | April Mitchell
               br
               | Brendan Nicholson
               br
               | Kevin Pompei
               br
               | Louisa Stark
               br
               | Harmony Starr
               br
               | Mathew Weaver
      
         p 2019 materials:
            .indented
               | Pete Anderson
               br
               | Kagan Breitenbach
               br
               | Jonathan Conger
               br
               | Kristin Fenker
               br
               | Amy Hawkins
               br
               | Sheila Homburger
               br
               | Max Kelly
               br
               | Ryan Perkins
               br
               | Julia Peterson
               br
               | Kevin Pompei
               br
               | Steve Reest
               br
               | Louisa Stark
   
   +pod('Other Contributors')
      .uk-width-medium-6-10
         p Voiceover Talent:
            .indented
               p Michael Ferreri 
                  i (Make a Mad, Mad, Mad Neuron)
               p Kendra Hoffman 
                  i (The Reward Pathway Reinforces Behavior, Drugs of Abuse, How Pain Works in the Body and Brain, Opioids and Tolerance)
               p Kabir Singh 
                  i (Social Environment Impacts the Reward Pathway, Crossing the Divide)
               p Molly Malone 
                  i (Mouse Party)
         
         p Videography (2019): Arthur Veenema
         p Photography (2019): Jen Pilgreen
         p Writing (2006): Linda Andrews
         p Actors for PI: Pedigree Investigator, On the Case of Nicotine Addiction (2006):
            .indented
               | Tony Larimer - 
               i Wally Marshall
               br
               | Harmony Starr - 
               i Geneticist Interviewer
               br
               | Anita Booher - 
               i Elizabeth Marshall
               br
               | Patrick and Paul Gibbs - 
               i Todd and Alex Marshall
         p      
            .indented
               | Daisy Blake - 
               i Jennifer Marshall
               br
               | Annette Wright - 
               i Vanessa Goldberg
               br
               | Richard Scott - 
               i Victor Marshall
               br
               | Dan Larrinaga - 
               i James Marshall
               br
               | Ann-Marie Davis - 
               i Tess Marshall
   
   //- +pod('Photography')
   //-    .uk-width-medium-5-10
   //-       p
   //-          strong Module Index Page
   //-          br
   //-          em What it means to be &quot;hard-wired&quot;
   //-          |  - Terry Robinson and Bryan Kolb,  University of Michigan, University of Lethbridge
   //-          br

   //-          em Smoking woman
   //-          |  - Nick Lobeck
   //-          br
   //-          br
   //-          strong The Other Brain Cells
   //-          br
   //-          em Astrocytes
   //-          |  - Adrienne M. Benediktsson, University of Iowa
   //-          br
   //-          br
   //-          strong Drugs Alter the Brain&apos;s Reward Pathway
   //-          br
   //-          em PET scan images for meth and cocaine
   //-          |  - Dr. Nora Volkow, Brookhaven National Laboratory
   //-          br
   //-          br
   //-          strong Genetics Is an Important Factor in Addiction
   //-          br
   //-          em Baby
   //-          |  - Paul Preacher
   //-          br
   //-          em Pills (in composite)
   //-          |  - Cheryl Yau
   //-          br
   //-          br
   //-          strong P.I.: Pedigree Investigator, On the Case of Nicotine Addiction,
   //-          |  information panel:
   //-          em What Is It?
   //-          br
   //-          em slide 1:Father
   //-          |  - Juanita De Paola
   //-          br
   //-          em Mother and Daughter
   //-          |  - Giuseppe Crimeni
   //-          br
   //-          em Son
   //-          |  - Natasha Turner
   //-          br
   //-          em slide 5:Woman
   //-          |  - Michel Collot
   //-          br
   //-          em Older man
   //-          |  - Mark Karstad
   //-          br
   //-          em Younger man
   //-          |  - Corey Ward
   //-          br
   //-          br
   //-          strong Discovering Genes Using the Candidate Gene Approach
   //-          br
   //-          em Researchers
   //-          |  - Centers for Disease Control

   //-    .uk-width-medium-5-10
   //-       p
   //-          strong Mice Are Good Models for Addiction Research
   //-          br
   //-          em Mouse
   //-          |  -  Jackson Laboratories
   //-          br
   //-          em C. elegans
   //-          |  - Dr. Erik Jorgensen
   //-          br
   //-          em Dr. Scott Rogers
   //-          |  - The Brain Institute at the University of Utah
   //-          br
   //-          br
   //-          strong Timing and Circumstances Influence Addiction
   //-          br
   //-          em Adolescent brains
   //-          |  - Paul Thompson, Kiralee Hayashi, Arthur Toga, UCLA/Nitin Gogtay, Jay Giedd, Judy Rapoport/NIMH
   //-          br
   //-          em Mohawk youth
   //-          |  - Mike Mays
   //-          br
   //-          em Martini
   //-          |  - Christy Thompson
   //-          br
   //-          em Monkey PET scans (in slideshow)
   //-          |  - Michael A. Nader, Ph.D., Wake Forest University School of Medicine
   //-          br
   //-          br
   //-          strong Environmental Risk Factors for Addiction
   //-          br
   //-          em Peer domain
   //-          |  - Jim Ario
   //-          br
   //-          em Family domain (composite)
   //-          |  - Kadri Poldma and Ariel Camilo
   //-          br
   //-          br
   //-          strong Challenges and Issues in Addiction
   //-          br
   //-          em Schizophrenic smoker
   //-          |  - Daniel Jaeger Vendruscolo
   //-          br
   //-          br
   //-          strong Treatment Past and Present
   //-          br
   //-          em Methadone
   //-          |  - Fred Shakeshaft
   //-          br
   //-          br
   //-          strong Cannabis in the Clinic: The Medical Marijuana Debate
   //-          br
   //-          em Pipe
   //-          |  - Matthew Maaskant
   //-          br
   //-          br
   //-          strong Mental Illness and Drug Abuse
   //-          br
   //-          em Anatomical illustration of head
   //-          |  - Wilhelm Braune



//- OLD CONTENT 
   +pod('')
      .uk-width-medium-4-10
         p
            | Louisa Stark, Ph.D., Executive Producer
            br
            | Kevin Pompei, Producer
            br
            | Harmony Starr, Art Team Manager

      .uk-width-medium-6-10
         p.caption
            strong When citing a page from this site you can generally use this style:
            br
            | &quot;Title of page.&quot;
            span(style='text-decoration:underline;') Genetic Science Learning Center
            | . 2016. University of Utah.
            | Today&apos;s date (day month year) &lsaquo;web url&rsaquo;.
            br
            | 
            br
            | 
            strong For example:
            br
            | &quot;Natural Reward Pathways Exist In The Brain.&quot;
            span(style='text-decoration:underline;') Genetic Science Learning Center
            | . 2016. University of Utah. 
            |  &lsaquo;http://learn.genetics.utah.edu/content/addiction/reward/&rsaquo;.
            br
   +pod('Core Curriculum Development Team')
      .uk-width-medium-6-10
         p
            | Sheila Avery
            br
            | Molly Malone
            br
            | Kevin Pompei
            br
            | Louisa Stark, Ph.D.
            br
            | Harmony Starr

      .uk-width-medium-4-10

   +pod('Teacher Development Team')

      .uk-width-medium-4-10
         div
            script(type='text/javascript').
               AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','350','height','260','src','teacher_workshop','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','movie','teacher_workshop' ); //end AC code
            noscript
               p Javascript is required to view this content.

      .uk-width-medium-6-10
         p
            | This project was created through a partnership between the Genetic Science Learning Center and a talented group of
            | science teachers who provided the inspiration for the materials in this module. Credits (in alphabetical order):
            br
            | 
            br
            | Mary Bucklew, Orem JHS, Orem, UT
            br
            | Marcia Butler, Lotus Academy, Philadelphia, PA
            br
            | Donna Capasso, Adele C. Young Intermediate, North Logan, UT
            br
            | Joan Carlson,  Bancroft School, West Boylston, MA
            br
            | Anne Debarros, Jeremiah E. Burke HS, Boston, MA
            br
            | Ellen Doane, Timberline MS, Santaquin, UT
            br
            | Matthew Dugan, Madison Park HS, Quincy, MA
            br
            | Mario Godoy-Gonzalez, Royal HS, Royal City, WA
            br
            | Carrie Hartman, Murray HS, Midvale, UT
            br
            | Susan Hinojoza, James Logan HS, Union City, CA
            br
            | Alexa Johnson, Kamiak HS, Everett, WA
            br
            | Crystal King, West HS, Salt Lake City, UT
            br
            | Marilyn Pendley, West Iredell HS, Newton, NC
            br
            | Suzanne Piper, North Kitsap HS, Keyport, WA
            br
            | RevaBeth Russell, Lehi HS, Springville, UT
            br
            | Steve Scheidell, Murray HS, Murray, UT
            br
            | Erik Shold, Landmark HS, New York, NY
            br
            | Ann Sowd, Hoover HS, Uniontown, OH
            br
            | David van Dijk, Pleasant Grove HS, Pleasant Grove, UT
            br
            | Sterling Wadley, Springville HS, Pleasant Grove, UT
   +pod('Photography')
      .uk-width-medium-5-10
         p
            strong Module Index Page
            br
            | 
            em What it means to be &quot;hard-wired&quot;
            |  - Terry Robinson and Bryan Kolb,  University of Michigan, University of Lethbridge
            br
            | 
            em Smoking woman
            |  - Nick Lobeck
            br
            br
            | 
            | 
            strong The Other Brain Cells
            br
            | 
            em Astrocytes
            |  - Adrienne M. Benediktsson, University of Iowa
            br
            br
            | 
            | 
            strong Drugs Alter the Brain&apos;s Reward Pathway
            br
            | 
            em PET scan images for meth and cocaine
            |  - Dr. Nora Volkow, Brookhaven National Laboratory
            br
            br
            | 
            | 
            strong Genetics Is an Important Factor in Addiction
            br
            | 
            em Baby
            |  - Paul Preacher
            br
            | 
            em Pills (in composite)
            |  - Cheryl Yau
            br
            br
            | 
            | 
            strong P.I.: Pedigree Investigator, On the Case of Nicotine Addiction,
            |  information panel:
            em What Is It?
            br
            | 
            em slide 1:Father
            |  - Juanita De Paola
            br
            | 
            em Mother and Daughter
            |  - Giuseppe Crimeni
            br
            | 
            em Son
            |  - Natasha Turner
            br
            | 
            em slide 5:Woman
            |  - Michel Collot
            br
            | 
            em Older man
            |  - Mark Karstad
            br
            | 
            em Younger man
            |  - Corey Ward
            br
            br
            | 
            | 
            strong Discovering Genes Using the Candidate Gene Approach
            br
            | 
            em Researchers
            |  - Centers for Disease Control

      .uk-width-medium-5-10
         p
            strong Mice Are Good Models for Addiction Research
            br
            | 
            em Mouse
            |  -  Jackson Laboratories
            br
            | 
            em C. elegans
            |  - Dr. Erik Jorgensen
            br
            | 
            em Dr. Scott Rogers
            |  - The Brain Institute at the University of Utah
            br
            br
            | 
            | 
            strong Timing and Circumstances Influence Addiction
            br
            | 
            em Adolescent brains
            |  - Paul Thompson, Kiralee Hayashi, Arthur Toga, UCLA/Nitin Gogtay, Jay Giedd, Judy Rapoport/NIMH
            br
            | 
            em Mohawk youth
            |  - Mike Mays
            br
            | 
            em Martini
            |  - Christy Thompson
            br
            | 
            em Monkey PET scans (in slideshow)
            |  - Michael A. Nader, Ph.D., Wake Forest University School of Medicine
            br
            br
            | 
            | 
            strong Environmental Risk Factors for Addiction
            br
            | 
            em Peer domain
            |  - Jim Ario
            br
            | 
            em Family domain (composite)
            |  - Kadri Poldma and Ariel Camilo
            br
            br
            | 
            | 
            strong Challenges and Issues in Addiction
            br
            | 
            em Schizophrenic smoker
            |  - Daniel Jaeger Vendruscolo
            br
            br
            | 
            | 
            strong Treatment Past and Present
            br
            | 
            em Methadone
            |  - Fred Shakeshaft
            br
            br
            | 
            | 
            strong Cannabis in the Clinic: The Medical Marijuana Debate
            br
            | 
            em Pipe
            |  - Matthew Maaskant
            br
            br
            | 
            | 
            strong Mental Illness and Drug Abuse
            br
            | 
            em Anatomical illustration of head
            |  - Wilhelm Braune
   +pod('Special Acknowledgments')
      .uk-width-medium-5-10
         p
            | A very special thanks to
            strong Jennifer Logan
            | , Ph.D., for her leadership as the original Principal Investigator on the
            | grant that funded this project.
            br
            | 
            br
            | We would also like to thank the speakers at our 2003 and 2004 Genetics and Addiction Master Teacher Programs:
            br
            br
            | 
            | 
            strong Glen R. Hanson
            | , Ph.D., D.D.S., Professor of Pharmacology and Toxicology, College of Pharmacy, University of Utah
            br
            br
            | 
            | 
            strong Kelly J. Lundberg
            | , Ph.D., Clinical Assistant Professor Department of Psychiatry, U of U School of Medicine
            br
            br
            | 
            | 
            strong Jeffrey R. Botkin
            | , M.D., M.P.H., Professor of Pediatrics and Medical Ethics, Associate Vice President for Research Integrity, University of Utah
      .uk-width-medium-5-10
         p
            strong William McMahon
            | , M.D., Associate Professor of Psychiatry, Pediatrics, Psychology and Educational  Psychology, University of Utah
            br
            br
            | 
            | 
            strong Scott Rogers
            | , Ph.D., Associate Professor of Neurobiology and Anatomy, University of Utah
            br
            br
            | 
            | 
            strong Jack Taylor
            | , D.V.M., Ph.D. Director, Department of Animal Resources, University of Utah
            br
            br
            | 
            | 
            strong Troy Booher
            | , J.D., Snell &amp; Wilmer, L.L.P. Law Clerk for Judge Judith Billings, Utah Court of Appeals and Adjunct Professor, Department of Political Science, U of U
            br
            br
   +pod('Illustration, Design, and Layout')
      .uk-width-medium-6-10
         p
            | Peter Anderson
            br
            | Sheila Avery
            br
            | Brendan Nicholson
            br
            | Harmony Starr

      .uk-width-medium-4-10

   +pod('Animation')
      .uk-width-medium-4-10
         p
            | Peter Anderson
            br
            | Sheila Avery
            br
            | Brendan Nicholson
            br
            | Kevin Pompei
            br
            | Harmony Starr

      .uk-width-medium-6-10

   +pod('XHTML/CFML Coding')
      .uk-width-medium-6-10
         p
            | Kevin Pompei
            br
            | Mathew Weaver

      .uk-width-medium-4-10
   +pod('Writing')
      .uk-width-medium-6-10
         p
            | Linda Andrews
            br
            | Sheila Avery
            br
            | Molly Malone
            br
            | April Mitchell
            br
            | Harmony Starr

      .uk-width-medium-4-10

   +pod('Video Production')
      .uk-width-medium-6-10
         p Peter Anderson

      .uk-width-medium-4-10

   +pod('Sound Effects')
      .uk-width-medium-6-10
         p
            | Peter Anderson
            br
            | Harmony Starr

      .uk-width-medium-4-10

   +pod('Voice Talent')
      .uk-width-medium-5-10
         p
            strong Make a Mad, Mad, Mad Neuron
            br
            | Dr. Dendristein - Michael Ferreri
            br
            br
            | 
            | 
            strong The Reward Pathway Reinforces Behavior
            br
            | Molly Malone
            br
            br
            | 
            | 
            strong Crossing the Divide: How Neurons Talk to Each Other
            br
            | Molly Malone
      .uk-width-medium-5-10
         p
            strong Mouse Party
            br
            | Molly Malone
            br
            br
            | 
            | 
            strong Discovering Genes Using the Candidate Gene Approach
            br
            | Molly Malone
            br
            br
            | 
            | 
            strong Social Environment Impacts the Reward Pathway
            br
            | Molly Malone
   +pod('Actors')
      .uk-width-medium-5-10
         p
            strong PI: Pedigree Investigator, On the Case of Nicotine Addiction
            br
            |  (in order of appearance)
            br
            | 
            em Wally Marshall
            |  - Tony Larimer
            br
            | 
            em Geneticist Interviewer
            |  - Harmony Starr
            br
            | 
            em Elizabeth Marshall
            |  - Anita Booher
            br
            | 
            em Todd and Alex Marshall
            |  - Patrick and Paul Gibbs
            br
      .uk-width-medium-5-10
         p
            br
            em Jennifer Marshall
            |  - Daisy Blake
            br
            | 
            em Vanessa Goldberg
            |  - Annette Wright
            br
            | 
            em Victor Marshall
            |  - Richard Scott
            br
            | 
            em James Marshall
            |  - Dan Larrinaga
            br
            | 
            em Tess Marshall
            |  - Ann-Marie Davis
   +pod('Audio Clips')
      .uk-width-medium-5-10
         img(src='fleming.jpg', alt='Patrick Fleming', width='100', height='140', style='float: left')
         | 
         p
            strong Patrick Fleming
            | , M.A., L.S.A.C. is Director of the Salt Lake County Substance Abuse Services.
         div(style='clear:both')
         | 
         img(src='kelly.jpg', alt='Kelly J. Lundberg', width='100', height='140', style='float: right')
         | 
         p
            strong Kelly J. Lundberg
            | , Ph.D. is an Associate Professor in the Department of Psychiatry at the University of Utah School of Medicine.
         div(style='clear:both')
         img(src='hanson.jpg', alt='Glen R. Hanson', width='100', height='140', style='float: left')
         | 
         p
            strong Glen R. Hanson
            | , Ph.D., D.D.S. is a Professor in the Department of Pharmacology and Toxicology at the University of Utah.
         div(style='clear:both')
      .uk-width-medium-5-10
         img(src='melamede.jpg', alt='Robert J. Melamede', width='100', height='140', style='float: left')
         | 
         p
            strong Robert J. Melamede
            | , Ph.D. is a researcher and Chairman of the Biology Department of the University of Colorado, Colorado Springs.
         div(style='clear:both')
         img(src='rogers.jpg', alt='Scott W. Rogers', width='100', height='140', style='float: right')
         | 
         p
            strong Scott W. Rogers
            | , Ph.D. is an Associate Professor in the Department of Neurobiology and Anatomy at the University of Utah School of Medicine.
         div(style='clear:both')
         | 
         img(src='notcutt.jpg', alt='William Notcutt', width='100', height='140', style='float: left')
         | 
         p
            strong William Notcutt
            | , MD is an anesthesiologist and lead researcher for medical cannabis clinical trials on MS patients at James Paget Medical Center, UK.
         div(style='clear:both')

         br
         br
   +pod('')
      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='NIDA_logo.jpg', alt='National Institute on Drug Abuse')
            p.
               Supported by a
               Science Education Drug Abuse Partnership Award
               (SEDAPA), from The National Institute on Drug
               Abuse, National Institutes of Health. Grant Number: R25DA15461

      .uk-width-medium-4-10
