extends /shared/layout
block content
   +pageTitle
   +pod('Genes Affect Your Risk for Addiction')
      .uk-width-medium-6-10
         p
            | When scientists look for &quot;addiction genes,&quot; what they are really looking for are biological differences that may make a person more or less vulnerable to addiction.
         p
            | Every person responds to drugs and medications differently. Maybe you’ve even experienced it. Say you take a medication and it works well. But the same pill does nothing for one friend and makes another feel sick. Differences like these are often caused by differences in genes.
         p
            | When scientists hunt for addiction-related genes, they’re looking for genetic variations associated with these types of responses. A vulnerable person may have a high preference for a particular substance. Or experience extreme withdrawal symptoms if they try to quit. On the other hand, a person is less vulnerable if they feel no pleasure from a drug that makes others euphoric.
             
         .mediaSunk
            p.caption
               | &ldquo;Just because you are prone to addiction doesn&rsquo;t mean you&rsquo;re going to become addicted. It just means you&rsquo;ve got to be careful.&rdquo; --Dr. Glen Hanson
                        
            audio(controls='')
               source(src='Susceptibility (new).mp3')
          
      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src='baby.jpg', alt='Baby')  
            p No one is born destined to develop substance use disorder. Like most other diseases, it’s genes and environment together that determine the risk. 
   +pod('When Addiction Runs in the Family')
      .uk-width-medium-6-10
         //- Video of Peter Sadler goes here
         figure
            img.lg-no-shadow(src='pedigree.jpg', alt='Pedigree')
            p
               | The pedigrees (family trees) above show affected people in red and unaffected in white.
      |    
      .uk-width-medium-4-10
         p
            | Substance use disorder often runs in families. That’s because there is an inherited component, meaning it can pass from parent to child by way of genes. For this reason, your family history offers clues about how vulnerable to addiction you might be. For example, if you have a close relative that’s affected, it’s a clue to be extra careful.
         p
            | Researchers use family histories too. They compare DNA sequences of family members to identify genes involved in addiction. First, they divide the family into two groups: affected and unaffected.
         p
            | Next, the researchers look for segments of chromosomes that are more common in affected people compared to unaffected. They narrow the segments down to specific genes to study further. Because people have complex and varied lives, in-depth studies are often done using animals in a controlled lab setting.

   +pod('Many Genes Influence Addiction')
      .uk-width-medium-6-10
         p
            | Scientists will never find just a single genetic change that causes addiction. Like most other diseases, substance use disorder is a complex trait. It’s influenced by variations in multiple genes, plus factors from the environment.
         p
            | Every person inherits a unique combination of gene variations. People with substance use disorder can have different underlying genetic causes. And people who share certain high-risk gene variations may or may not have the trait.
         p 
            | While finding the precise genetic cause is tricky, multiple lines of research do show that genes influence substance use. From careful studies, scientists estimate a person’s genetics account for 40-60 percent of their risk.
         .mediaSunk
               p.caption
                  | There are many ways that genes could cause one person to be more vulnerable to addiction than another. --Dr. Glen Hanson
                            
               audio(controls='')
                  source(src='Ways_Genetics (new).mp3')

      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src='computer_data.jpg', alt='computer data')
            p
               | Each person has a mix of gene variations that influence addiction. Each variation can add risk or protection.
      
   +pod('Discovering Addiction Genes')
      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src='mouse.jpg', alt='Mouse in Hand')
            p
               | Studying mice has led to the discovery of many addiction-related genes, plus a deeper understanding of how the genes function.
         +well
            h3 Related Content
            p
               | To learn more about how animal models, like mice and fruit flies, have taught us so much about addiction, visit 
               a(href="https://learn.genetics.utah.edu/content/addiction/mice/") Animal Models for Addiction Research
               | .
                     
      .uk-width-medium-6-10
         p
            | Many genes with roles in addiction have been studied in animal models, especially mice. Like us, mice and other animals have a reward pathway. It functions much like ours, and many of the genes that underlie it are similar too.
         p
            | Sometimes a potential addiction-related gene is discovered in people, like in the example above. Then animal models are used to study it in depth. Other genes are discovered first in an animal model and confirmed later in people.
         p
            | One big thing we’ve learned for sure—a huge variety of biological processes influence addiction risk! And each process has many underlying genes.
         p
            | Here are just a few examples of genes that influence addiction risk:

         ul
            li
               | A protective variation of the alcohol dehydrogenase 2 gene (ALDH2*2) codes for a protein that can’t break down alcohol like it normally would. People with 
               em ALDH2*2
               |  experience nausea, facial flushing, headache, and rapid heartbeat when they drink.
                       
            li
               | Mice that make more protein from the gene 
               em Mpdz
               |  experience less severe withdrawal symptoms from alcohol and sedative-hypnotic drugs like barbiturates.
                        
            li
               | The A1 form (allele) of the dopamine receptor gene 
               em DRD2
               |  is more common in people addicted to alcohol, cocaine, and opioids. The variation likely affects how drugs influence the reward pathway.
                       
            li
               | Mice with certain variations in the 
               em Per1
               |  and 
               em Per2
               |  genes drink much more alcohol than normal—especially under stress. People, especially teenagers, with specific Per1 and Per2 variations also appear more likely to follow this pattern. 
                       
            li
               | Fruit flies without the gene 
               em moody
               |  are more sensitive to cocaine. 
               em moody
               |  codes for a protein that’s needed for a healthy blood-brain barrier.
                        
            li
               | The gene 
               em PSD-95
               |  codes for a protein that is involved in learning and memory. Mice classified as “super-sensitive” to cocaine make about half as much of the protein compared to normal mice.
                       
            li
               | Variations in the mu opioid receptor gene (
               em OPRM1
               | ) change the amount of protein made. Certain variations are more common in people with opioid use disorder. Others increase the risk for alcohol dependence
                      
            li
               | People with two copies of a certain form of the gene 
               em CHRNA5
               |  are twice as likely to become nicotine-dependent, compared to people with two copies of a different allele. 
               em CHRNA5
               |  codes for a protein that helps cells sense nicotine.
                 
            li
               | In rats, missing the 
               em mGluR2
               |  receptor adds both risk and protection. The rats get fewer rewarding effects from cocaine. If they have to work to get the drug, they tend not to bother. But if cocaine is easily available, they consume a lot of it to feel the effects. 

   +pod('From Genes to Treatment')
      .uk-width-medium-4-10
         p
            | Finding the genes involved in addiction is a good first step in finding solutions. Understanding how genes cause biological differences can lead to improved treatments for substance use disorder.
         p
            | Each new addiction-related gene discovered is a potential “drug target.” Researchers can focus on the gene product (protein) and develop a drug to modify its activity. The goal is to correct signals or pathways and restore proper brain function.
         p
            | Gene therapies are also being developed to treat addiction. One gene therapy being tested in mice generates antibodies that trap methamphetamine, preventing it from reaching the brain. In another, mice transplanted with genetically modified skin cells make an enzyme that degrades cocaine.
         p
            | As we understand more about how medication effects vary from person to person, genetic tests may inform treatment. Long-term, they may be used to predict which treatments are likely to be most effective based on an individual’s genetic profile.
         +well
            h3 Related Content
            p
               a(href="https://learn.genetics.utah.edu/content/genetherapy/") Gene Therapy
               br
               a(href="https://learn.genetics.utah.edu/content/precision/") Precision Medicine

      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='pills_gene.jpg', alt='Gene Pills')
            p
               | Understanding the role genes play in addiction leads to better, more specific treatments. Image courtesy Cheryl Yau.
         
   
   +references
      p
         | Bühler, K. M., Giné, E., Echeverry‐Alzate, V., Calleja‐Conde, J., de Fonseca, F. R., &amp; López‐Moreno, J. A. (2015). Common single nucleotide variants underlying drug addiction: more than a decade of research. Addiction Biology, 20(5), 845-871.
      p
         | Crist, R. C., Reiner, B. C., &amp; Berrettini, W. H. (2018). A review of opioid addiction genetics. Current Opinion in Psychology. 27, 31-35.
      p
         | Hay, C. E., Gonzalez III, G. A., Ewing, L. E., Reichard, E. E., Hambuchen, M. D., Nanaware-Kharade, N., &amp; Peterson, E. C. (2018). Development and testing of AAV-delivered single-chain variable fragments for the treatment of methamphetamine abuse. PloS One, 13(6), e0200060.
      p
         | Li, Y., Kong, Q., Yue, J., Gou, X., Xu, M., &amp; Wu, X. (2019). Genome-edited skin epidermal stem cells protect mice from cocaine-seeking behaviour and cocaine overdose. Nature Biomedical Engineering, 3(2), 105.
      p
         | Partonen, T. (2015). Clock genes in human alcohol abuse and comorbid conditions. Alcohol, 49(4), 359-365.
      p
         | Shirley, R. L., Walter, N. A., Reilly, M. T., Fehr, C., &amp; Buck, K. J. (2004). Mpdz is a quantitative trait gene for drug withdrawal seizures. Nature Neuroscience, 7(7), 699.
      p
         | Yang, H. J., Zhang, H. Y., Bi, G. H., He, Y., Gao, J. T., &amp; Xi, Z. X. (2017). Deletion of type 2 metabotropic glutamate receptor decreases sensitivity to cocaine reward in rats. Cell Reports, 20(2), 319-332.
      p
         | Yao, W. D., Gainetdinov, R. R., Arbuckle, M. I., Sotnikova, T. D., Cyr, M., Beaulieu, J. M., &amp; Caron, M. G. (2004). Identification of PSD-95 as a regulator of dopamine-mediated synaptic and behavioral plasticity. Neuron, 41(4), 625-638.

