extends /shared/layout

block content
   +pageTitle
   +pod("What is Alpha-1 Antitrypsin Deficiency (Alpha-1)?")   
      .uk-width-medium-4-10
         p.
           Alpha-1 is a genetic disorder that affects the lungs and sometimes the liver. Even though it is one of the most common genetic disorders, Alpha-1 can be hard to diagnose. One challenge is that most people with Alpha-1 are healthy for at least the first few decades of their lives. For many, symptoms do not appear until middle adulthood. Another challenge is that the effects of the disorder look a lot like other conditions. Lung symptoms can mimic asthma, bronchitis, or smoking-induced emphysema. Liver symptoms can mimic cirrhosis. This often leads to misdiagnosis and a delay in treatment. In the United States, more than 90% of people with Alpha-1 never learn that they have it.
         +well
            p Alpha-1 is found in people of all ethnic backgrounds, though it is most common in people of European ancestry. It affects between 1 in 2,500 and 1 in 3,000 Caucasians, and an estimated 3 million people worldwide. In some groups, as many as 1 in 10 are carriers.
      .uk-width-medium-6-10
        iframe.uk-responsive-width(width='1920', height='1080', src='https://www.youtube.com/embed/vvVKrgDnqws', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')

   +pod("Affected gene")
      .uk-width-medium-3-10
         p.
            The affected gene in Alpha-1 is SERPINA1, on chromosome 14. This gene codes for a protein called alpha-1 antitrypsin (AAT). People with the disorder have two non-working copies (alleles) of the gene; they make little or no working AAT protein.
         p.
            AAT protein is normally made in the liver and released into the blood stream. From there, it can travel throughout the body&mdash;most importantly to the lungs. When we breathe in irritants like viruses or smoke, AAT protects the lungs from damage. 
         p.
            In people with Alpha-1, very little or no AAT protein makes it to the lungs. The lungs are left unprotected. Some people who have Alpha-1 make a sticky version of AAT protein that builds up in the liver. Not only do their lungs become damaged, but the sticky AAT protein can also harm the liver. 
         p.
            People with Alpha-1 inherit two non-working copies (alleles) of the SERPINA1 gene: one from each parent. Not everyone with two non-working alleles will develop the symptoms of Alpha-1. Yet they are still considered to have a genetic disorder because their AAT levels are low, or deficient. 
      .uk-width-medium-7-10
         img(src='images/alpha1-gene.jpg')
         figure
            p Alpha-1 antitrypsin protein is active in the lungs, where it protects them from damage. Without the protein, the lungs slowly accumulate damage over the course of a lifetime.

   +pod("Inheritance")
      .uk-width-medium-4-10
         p.
            From the perspective of having the genetic disorder, Alpha-1 mostly follows an autosomal recessive inheritance pattern: it takes two non-working alleles to cause the disorder. 
         p.
            From the perspective of the amount of AAT protein that is made, a person's two SERPINA1 alleles are co-dominant: protein is made from both.
      .uk-width-medium-6-10
         img(src='images/autosomal-inheritance.jpg')

   .enhancedContent.hidden
      article.lg-pod.lg-section
         .lg-section.lg-pod-title
            .uk-container.uk-container-center
               h2 Protein function and interactions
         .uk-container.uk-container-center
            div(data-uk-grid-margin).lg-pod-body.uk-grid
               .uk-width-medium-6-10
                  img(src='images/aat-protein-fxn.jpg')
                  figure
                     p AAT protein inactivates elastase. Without AAT protein, elastase attacks stretchy proteins in lung tissue, causing damage to the lungs.
               .uk-width-medium-4-10
                  p.
                     The most important job of alpha-1 antitrypsin (AAT) protein is to protect the lungs from a protein called neutrophil elastase. 
                  p.
                     Elastase is made naturally by immune cells. When we breathe in irritants&mdash;things like dust, smoke, viruses, or chemicals&mdash;immune cells travel to the lungs and begin releasing elastase. Elastase breaks down invading bacteria and viruses, thus protecting us from infection. 
                  p.
                     If no AAT protein is present, elastase will also attack a structural protein called elastin. In the lungs, elastin is essential for helping tissue expand and contract as we breathe. As elastin is broken down, holes form in delicate lung tissue, making breathing difficult.
   .enhancedContent.hidden
      article.lg-pod.lg-section
         .lg-section.lg-pod-title
            .uk-container.uk-container-center
               h2 Normal protein expression
         .uk-container.uk-container-center
            div(data-uk-grid-margin).lg-pod-body.uk-grid
               .uk-width-medium-5-10
                  p.
                     The SERPINA1 gene is switched off in most cell types. SERPINA1 is active at a low level in kidney and immune cells, and at a high level in liver cells.
                  p.
                     AAT protein does not normally stay inside of the cells that make it. Rather, it is released to the outside of the cells. Most AAT protein in the body comes from liver cells. They release AAT into the bloodstream, where it can travel to all of the tissues in the body&mdash;including the lungs.
               .uk-width-medium-5-10
                  img(src='images/aat-expression.jpg')
                  figure
                     p Alpha-1 antitrypsin (AAT) protein is shown in purple. Most of the body's AAT protein is made by cells in the liver and released into the blood stream. Inside of liver cells, AAT protein is found in the endoplasmic reticulum and Golgi apparatus, and it is secreted to the outside of the cell.
   +pod("Symptoms and features of Alpha-1")
      .uk-width-medium-6-10
         img(src='images/aat-symptoms.jpg')
         figure
            p Many people with Alpha-1 develop emphysema (left). The tiny air sacs in the lungs, called alveoli, are damaged. This makes the air spaces in the lungs larger, decreases the surface area of the lungs, and makes breathing difficult. Some people with Alpha-1 make a version of AAT protein that builds up inside of liver cells (right).
      .uk-width-medium-4-10
         p.
            The effects of Alpha-1 can be very different from person to person. The effects depend mostly on the specific gene variants (alleles) that a person has.
         p.
            The main feature of Alpha-1 is damage to the tiny air sacs (alveoli) in the lungs. When the alveoli are damaged, the lungs have a harder time taking in oxygen. This can cause shortness of breath, coughing, or wheezing. Over time, people with Alpha-1 may develop lung diseases, such as asthma, emphysema, chronic bronchitis, or COPD (Chronic Obstructive Pulmonary Disease). Lung disease can appear as early as age 30. These conditions are life-threatening, with symptoms that get worse over time.
         p.
            Certain SERPINA1 gene variants (alleles) can also cause liver damage. These alleles code for a sticky version of AAT protein that builds up in liver cells. Liver problems include liver cancer, liver failure, and cirrhosis (a chronic liver disease). Liver symptoms can appear at any time, affecting infants, children, and adults.
         p.
            In rare cases, hard and painful lumps may form under the skin. This is called panniculitis.
   
   .enhancedContent.hidden
      article.lg-pod.lg-section
         .lg-section.lg-pod-title
            .uk-container.uk-container-center
               h2 Alleles, protein, and variability
         .uk-container.uk-container-center
            div(data-uk-grid-margin).lg-pod-body.uk-grid
               .uk-width-medium-4-10
                  p.
                     The gene variants, or alleles, that a person has directly affects the characteristics of the AAT protein a person makes, including how much working protein is released into the blood. It's not a simple matter of whether a person makes AAT protein or not. Rather, AAT protein levels vary across a spectrum, from high to low. To further complicate matters, our AAT levels can change over time. They tend to go up when we are sick or stressed and down when we are healthy. 
                  p.
                     The amount and type of AAT protein that a person makes impacts their risk for lung and liver disease. In general, the less AAT protein in a person's blood, the higher their risk for lung damage. 
                  p.
                     The amount of AAT protein in a person's blood can be measured using a simple blood test. If a blood test shows that a person has low levels of AAT, the usual follow up is to do genetic testing, along with genetic counseling. Genetic testing can reveal which SERPINA1 alleles the person has. Each allele combination comes with its own set of risks.
                  p.
                     Among people diagnosed with alpha-1, the ZZ allele combination is the most common. About 75% of people with the ZZ allele combination develop lung disease, especially later in life. People with the ZZ allele combination also have a high risk for liver disease, which can appear at any time (the percentage who will develop liver symptoms is unknown).
               .uk-width-medium-6-10
                  img(src='images/alpha1-points.jpg')
                  figure
                     p AAT protein levels vary across a spectrum. In this hypothetical graph, each point represents the concentration of working AAT protein from one person at one time point. Their allele combinations are shown on the X-axis.
                     p Allele categories: M = "healthy"; S = reduced AAT function; Z = "sticky" AAT protein with very low function; Null = essentially no AAT protein. Data based on Ferrarotti et al.
   .enhancedContent.hidden
      article.lg-pod.lg-section
         .lg-section.lg-pod-title
            .uk-container.uk-container-center
               h2 Other Factors
         .uk-container.uk-container-center
            div(data-uk-grid-margin).lg-pod-body.uk-grid
               .uk-width-medium-4-10
                  figure
                     img(src='images/family.jpg')
                     p Differences in genes and exposure to different environmental factors accounts for many of the trait differences among family members.
               .uk-width-medium-6-10
                  p.
                     Even among people who have the same SERPINA1 alleles, there is a lot of individual variation. People with the same alleles can differ in the amount of AAT protein that they make, and in the timing and types of symptoms that they develop. Even among family members, some may have symptoms at a young age, and others may be symptom-free for life. 
                  p.
                     This variability is due to environmental factors and variations in other genes. Environmental factors include things like exposure to cigarette smoke, and the viruses a person has as a child. Gene interactions include variations in genes that influence things like how much elastase white blood cells make, or how well liver cells can clear protein clumps that build up inside of them&mdash;plus variations in other genes that influence a person's risk for lung disease.
            
   +pod("Treating and managing Alpha-1")
      .uk-width-medium-6-10
         p.
            To manage their health, people with Alpha-1 can use a combination of lifestyle behaviors and medical approaches. Lifestyle behaviors are aimed at keeping the body as strong and healthy as possible. Medical approaches are aimed at preventing and managing infections, and easing symptoms.
         p.
            Carriers of one disease-causing allele may have a higher-than-average risk for lung and liver disease. But usually it also takes an unhealthy environmental factor&mdash;such as obesity or cigarette smoking&mdash;for disease to develop. Carriers should follow the recommended lifestyle behaviors below and stay up-to-date on their vaccinations. Carriers should also talk to their doctors if they see warning signs of disease. 
         p.
            Lifestyle behaviors
         ul
            li Limit tobacco smoke and air pollution. Lung irritants cause inflammation (and increase levels of neutrophil elastase) and block the protective effects of AAT. 
            li Develop an exercise program. A stronger body has more stamina.
            li Limit drinking alcohol. This is especially important in people who have alleles that can affect the liver.
            li Eat a nutritious diet.
            li Limit stress.
      .uk-width-medium-4-10
         figure
            img(src='images/smoking.jpg')
            p Tobacco smoke is especially harmful to people with Alpha-1. 
      .uk-width-medium-6-10
         p.
            Medical approaches
         ul
            li Vaccinate against influenza, pneumonia, and hepatitis. These preventable illnesses can damage the lungs or liver.
            li Aggressively treat lung infections. This can decrease inflammation and prevent lung damage.
            li Asthma medications, such as bronchodilators, can ease lung symptoms.
            li Corticosteroids can reduce lung inflammation.
            li Supplemental oxygen.
            li Protein therapy (also called augmentation therapy) can help to slow lung damage. It involves injecting working AAT protein into the blood stream.
            li Lung surgery can be helpful in some cases.
            li In later stages of disease, if the lungs or liver become heavily damaged, people with Alpha-1 may receive an organ transplant.
         p.
            Alpha-1 is a potential target for genetic technology. One approach is gene therapy, in which a modified virus delivers a working copy of the SERAPINA1 gene into the patient's cells. 
      .uk-width-medium-4-10
         figure
            img(src='images/vaccine.jpg')
            p Vaccinating against preventable illnesses can help to protect the lungs and liver.
      .uk-width-medium-6-10
         +well
            h3 More information
            p The 
               a(href='https://www.alpha1.org') Alpha-1 Foundation 
               | provides confidential testing and 
               a(href='https://www.alpha1.org/Alphas-Friends-Family/Support/Genetic-Counseling') genetic counseling 
               | to the Alpha-1 community. It is also an excellent resource both for the public and for health care professionals. 
            a(href='http://www.thoracic.org') American Thoratic Society
            br
            a(href='http://www.lung.org') American Lung Association
            br
            a(href='https://www.liverfoundation.org') American Liver Foundation

   +references
      p The Alpha-1 Foundation (December 2015). Alpha-1 Antitrypsin Deficiency Healthcare Provider's Guide, version 2.0. Accessed 3/10/2018 at https://www.alpha1.org
      
      p Ferrarotti, I., Thun, G. A., Zorzetto, M., Ottaviani, S., Imboden, M., Schindler, C., ... &amp; Probst-Hensch, N. M. (2012). Serum levels and genotype distribution of α1-antitrypsin in the general population. Thorax, 67(8), 669-674.
      
      p Lazarin, G. A., Haque, I. S., Nazareth, S., Iori, K., Patterson, A. S., Jacobson, J. L., ... &amp; Srinivasan, B. S. (2013). An empirical estimate of carrier frequencies for 400+ causal Mendelian variants: results from an ethnically diverse clinical sample of 23,453 individuals. Genetics in Medicine, 15(3), 178.
      
      p Marvel, J., Yu, T. C., Wood, R., Higgins, V. S., Make, B. J., Sandhaus, R. A., ... &amp; Goodman, K. (2016). The diagnosis and management of alpha-1 antitrypsin deficiency in the adult. Chronic Obstructive Pulmonary Diseases: Journal of the COPD Foundation, 3(3), 668.
