+minipod("What is Alzheimer's disease?")

   .uk-width-medium-6-10
      p
         | Alzheimer&apos;s is a disease that causes dementia, or loss of brain function.  It affects the parts of the brain
         | that are important for memory, thought, and language.
      | &#x9;&#x9;
      | &#x9;&#x9;
      p
         | The brain of a person with Alzheimer&apos;s contains abnormal clumps of cellular debris and protein (plaques) and collapsed
         | microtubules (support structures inside the cell).  Microtubule collapse is caused by a malfunctioning protein called
         | tau, which normally stabalizes the microtubules.  In Alzheimer&apos;s patients, tau proteins instead cluster together to form
         | disabling plaques and tangles.  These plaques and tangles damage the healthy cells around them, leading to cell death. The brain also produces
         | smaller amounts of neurotransmitters (acetylcholine, serotonin, and norepinephrine),
         | chemicals that allow nerve cells to talk to one another.
      | &#x9;&#x9;
      img(src='alzheimers/images/AD_chromosome.jpg', width='121', height='149', alt='Alzheimers Chromosome', style='float:left; padding: 5px 25px 0px 0px;')
      | &#x9;&#x9;
      p
         | The most common form of the disease, which strikes after age 65, is linked to the apolipoprotein E (apoE) gene on chromosome 19.
         | Scientists don&apos;t know how apoE4 increases the risk of developing Alzheimer&apos;s.  They do know that everyone has apoE, which comes in three forms.
      |   
      | &#x9;&#x9;
      p
         | One of the forms (apoE4) increases a person&apos;s risk of developing Alzheimer&apos;s.
         | The other two forms seem to protect against the disease. While people who inherit the apoE4 form of the gene
         | are at increased risk for the disease, they will not necessarily develop it.
      | &#x9;&#x9;
      p
         | Mutations in genes found on chromosomes 1, 14, and 21 are linked to rarer forms of the disease, which strike earlier in life.
   |    
   .uk-width-medium-4-10
      img(src='alzheimers/images/AD_brain.jpg', width='251', height='285', alt='Alzheimers Brain')
      |        
      |        
      img(src='alzheimers/images/AD_PlaquesTangles.jpg', width='251', height='305', alt='Plaques Tangle')
+minipod("How do people get Alzheimer's disease?")
   |    
   .uk-width-medium-6-10
      p
         | Scientists don&apos;t know exactly how people develop Alzheimer&apos;s, but they believe it is caused by a combination of
         | genes and environmental factors. In other words, it is a multifactorial disorder.
      | &#x9;&#x9;
      p
         | The early-onset forms of Alzheimer&apos;s are inherited in an autosomal dominant pattern, which means that only one parent
         | has to pass down a defective copy of the gene for their child to develop the disorder.
      | &#x9;&#x9;
      h3 What are the symptoms of Alzheimer&apos;s disease?
      | &#x9;&#x9;
      p
         | Because Alzheimer&apos;s destroys brain cells, people who have the disorder slowly lose their ability to think clearly.
         | At first, they may forget words or names, or have trouble finding things.  As the disorder worsens, they may forget
         | how to do simple tasks, such as walking to a friend&apos;s house or brushing their hair.
         | Some people with Alzheimer&apos;s also feel nervous or sad.
   |    
   .uk-width-medium-4-10
      img(src='alzheimers/images/autosomal-dominant.jpg', width='352', height='280', alt='Autosomal Dominant')
+minipod("How do doctors diagnose Alzheimer's disease?")
   |    
   .uk-width-medium-6-10
      p
         | There is no single test for Alzheimer&apos;s.  Doctors use several different tests to check a patient&apos;s memory,
         | language skills, and problem solving abilities.  These tests don&apos;t diagnose Alzheimer&apos;s, but they can rule out
         | other disorders that have similar symptoms.
   |    
   .uk-width-medium-4-10

+minipod("How is Alzheimer's disease treated?")

   .uk-width-medium-6-10
      p
         | There is no cure for Alzheimer&apos;s, but a few medicines can slow its symptoms.  A drug called Aricept increases the amount of the neurotransmitter acetylcholine in the brain.  Another medicine, Namenda, protects brain cells from a chemical called glutamate, which can damage nerve cells.  Doctors may also give their Alzheimer&apos;s patients antidepressants or anti-anxiety medicines to ease some of their symptoms.
      | &#x9;&#x9;
      p
         | People with Alzheimer&apos;s often need a caregiversomeone to help them do the
         | things they were once able to do themselves.
   |    
   .uk-width-medium-4-10
+minipod("Interesting facts about Alzheimer's disease")
   |    
   .uk-width-medium-4-10
      p
         | Alzheimer&apos;s was named after the German doctor, Alois Alzheimer, who first named the disorder in 1906.
      | &#x9;&#x9;
      | &#x9;&#x9;
      p
         | The older a person gets, the higher his or her risk of getting Alzheimer&apos;s.  Only about 1 or 2 people out of 100
         | have Alzheimer&apos;s at age 65; whereas, one out of every five people has the disorder by age 80.
      | &#x9;&#x9;
      p As many as 4 million Americans have Alzheimer&apos;s disease.
   |    
   .uk-width-medium-6-10

      +well
         h3 More information
         a(href='http://www.alz.org/') Alzheimer&apos;s Association
         br
         a(href='http://www.alzheimers.org/index.html') Alzheimer&apos;s Disease Education and Referral Center
         br
         a(href='http://www.alzinfo.org/') Fisher Center for Alzheimer&apos;s Research Foundation
         br
         a(href='http://uuhsc.utah.edu/cacir/resources.html') University of Utah Health Sciences Center
