extends /shared/layout
block content
   +pageTitle
   | @section headlate {
   script(src='/Scripts/AC_RunActiveContent.js', type='text/javascript')
   |     
   | }
   +pod('')
      .uk-width-medium-4-10
         p
            | Louisa Stark, Ph.D., Executive Producer
            br
            | &#x9;Kevin Pompei, Producer
            br
            | &#x9;Harmony Starr, Art Team Manager
      |    
      .uk-width-medium-6-10
         p.caption
            strong When citing a page from this site you can generally use this style:
            br
            | &quot;Title of page.&quot; 
            span(style='text-decoration:underline;') Genetic Science Learning Center
            | . 2006. University of Utah. 
            | &#x9;Today&apos;s date (day month year) &lsaquo;web url&rsaquo;.
            br
            | &#x9;
            br
            | &#x9;
            strong For example:
            br
            | &#x9;&quot;Natural Reward Pathways Exist In The Brain.&quot; 
            span(style='text-decoration:underline;') Genetic Science Learning Center
            | . 2006. University of Utah. 
            | &#x9; &lsaquo;http://learn.genetics.utah.edu/content/addiction/reward/&rsaquo;.
            br
   +pod('Core Curriculum Development Team')
      |    
      .uk-width-medium-6-10
         p
            | Sheila Avery
            br
            | &#x9;Molly Malone
            br
            | &#x9;Kevin Pompei
            br
            | &#x9;Louisa Stark, Ph.D.
            br
            | &#x9;Harmony Starr
      |    
      .uk-width-medium-4-10
   hr
   | &#x9;
   +pod('')
      h2
         span Teacher Development Team
      |    
      .uk-width-medium-4-10
         div
            script(type='text/javascript').
               AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','350','height','260','src','teacher_workshop','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','movie','teacher_workshop' ); //end AC code
            noscript
               p Javascript is required to view this content.
      |    
      .uk-width-medium-6-10
         p
            | This project was created through a partnership between the Genetic Science Learning Center and a talented group of 
            | science teachers who provided the inspiration for the materials in this module. Credits (in alphabetical order):
            br
            | &#x9;
            br
            | &#x9;Mary Bucklew, Orem JHS, Orem, UT
            br
            | &#x9;Marcia Butler, Lotus Academy, Philadelphia, PA
            br
            | &#x9;Donna Capasso, Adele C. Young Intermediate, North Logan, UT
            br
            | &#x9;Joan Carlson,  Bancroft School, West Boylston, MA
            br
            | &#x9;Anne Debarros, Jeremiah E. Burke HS, Boston, MA
            br
            | &#x9;Ellen Doane, Timberline MS, Santaquin, UT 
            br
            | &#x9;Matthew Dugan, Madison Park HS, Quincy, MA 
            br
            | &#x9;Mario Godoy-Gonzalez, Royal HS, Royal City, WA
            br
            | &#x9;Carrie Hartman, Murray HS, Midvale, UT
            br
            | &#x9;Susan Hinojoza, James Logan HS, Union City, CA
            br
            | &#x9;Alexa Johnson, Kamiak HS, Everett, WA
            br
            | &#x9;Crystal King, West HS, Salt Lake City, UT
            br
            | &#x9;Marilyn Pendley, West Iredell HS, Newton, NC
            br
            | &#x9;Suzanne Piper, North Kitsap HS, Keyport, WA
            br
            | &#x9;RevaBeth Russell, Lehi HS, Springville, UT
            br
            | &#x9;Steve Scheidell, Murray HS, Murray, UT
            br
            | &#x9;Erik Shold, Landmark HS, New York, NY
            br
            | &#x9;Ann Sowd, Hoover HS, Uniontown, OH
            br
            | &#x9;David van Dijk, Pleasant Grove HS, Pleasant Grove, UT
            br
            | &#x9;Sterling Wadley, Springville HS, Pleasant Grove, UT
   +pod('Photography')
      |    
      .even
         p
            strong Module Index Page
            br
            | &#x9;
            em What it means to be &quot;hard-wired&quot;
            |  - Terry Robinson and Bryan Kolb,  University of Michigan, University of Lethbridge
            br
            | &#x9;
            em Smoking woman
            |  - Nick Lobeck
            br
            br
            | &#x9;
            | &#x9;
            strong The Other Brain Cells
            br
            | &#x9;
            em Astrocytes
            |  - Adrienne M. Benediktsson, University of Iowa
            br
            br
            | &#x9;
            | &#x9;
            strong Drugs Alter the Brain&apos;s Reward Pathway
            br
            | &#x9;
            em PET scan images for meth and cocaine
            |  - Dr. Nora Volkow, Brookhaven National Laboratory 
            br
            br
            | &#x9;
            | &#x9;
            strong Genetics Is an Important Factor in Addiction
            br
            | &#x9;
            em Baby
            |  - Paul Preacher
            br
            | &#x9;
            em Pills (in composite)
            |  - Cheryl Yau
            br
            br
            | &#x9;
            | &#x9;
            strong P.I.: Pedigree Investigator, On the Case of Nicotine Addiction,
            |  information panel: 
            em What Is It?
            br
            | &#x9;
            em slide 1:&#x9;Father
            |  - Juanita De Paola
            br
            | &#x9;&#x9;&#x9;
            em Mother and Daughter
            |  - Giuseppe Crimeni
            br
            | &#x9;&#x9;&#x9;
            em Son
            |  - Natasha Turner
            br
            | &#x9;
            em slide 5:&#x9;Woman
            |  - Michel Collot
            br
            | &#x9;&#x9;&#x9;
            em Older man
            |  - Mark Karstad
            br
            | &#x9;&#x9;&#x9;
            em Younger man
            |  - Corey Ward
            br
            br
            | &#x9;
            | &#x9;
            strong Discovering Genes Using the Candidate Gene Approach
            br
            | &#x9;
            em Researchers
            |  - Centers for Disease Control
      |    
      .even
         p
            strong Mice Are Good Models for Addiction Research
            br
            | &#x9;
            em Mouse
            |  -  Jackson Laboratories
            br
            | &#x9;
            em C. elegans
            |  - Dr. Erik Jorgensen
            br
            | &#x9;
            em Dr. Scott Rogers
            |  - The Brain Institute at the University of Utah
            br
            br
            | &#x9;
            | &#x9;
            strong Timing and Circumstances Influence Addiction
            br
            | &#x9;
            em Adolescent brains
            |  - Paul Thompson, Kiralee Hayashi, Arthur Toga, UCLA/Nitin Gogtay, Jay Giedd, Judy Rapoport/NIMH
            br
            | &#x9;
            em Mohawk youth
            |  - Mike Mays
            br
            | &#x9;
            em Martini
            |  - Christy Thompson
            br
            | &#x9;
            em Monkey PET scans (in slideshow)
            |  - Michael A. Nader, Ph.D., Wake Forest University School of Medicine
            br
            br
            | &#x9;
            | &#x9;
            strong Environmental Risk Factors for Addiction
            br
            | &#x9;
            em Peer domain
            |  - Jim Ario
            br
            | &#x9;
            em Family domain (composite)
            |  - Kadri Poldma and Ariel Camilo
            br
            br
            | &#x9;
            | &#x9;
            strong Challenges and Issues in Addiction
            br
            | &#x9;
            em Meth dose
            |  - David Hoffman
            br
            | &#x9;
            em Schizophrenic smoker
            |  - Daniel Jaeger Vendruscolo
            br
            br
            | &#x9;
            | &#x9;
            strong Treatment Past and Present
            br
            | &#x9;
            em Methadone
            |  - Fred Shakeshaft
            br
            br
            | &#x9;
            | &#x9;
            strong Cannabis in the Clinic: The Medical Marijuana Debate
            br
            | &#x9;
            em Pipe
            |  - Matthew Maaskant
            br
            br
            | &#x9;
            | &#x9;
            strong Mental Illness and Drug Abuse
            br
            | &#x9;
            em Anatomical illustration of head
            |  - Wilhelm Braune
   +pod('Special Acknowledgments')
      |    
      .even
         p
            | A very special thanks to 
            strong Jennifer Logan
            | , Ph.D., for her leadership as the original Principal Investigator on the 
            | &#x9;grant that funded this project. 
            br
            | &#x9;
            br
            | &#x9;We would also like to thank the speakers at our 2003 and 2004 Genetics and Addiction Master Teacher Programs: 
            br
            br
            | &#x9;
            | &#x9;
            strong Glen R. Hanson
            | , Ph.D., D.D.S., Professor of Pharmacology and Toxicology, College of Pharmacy, University of Utah
            br
            br
            | &#x9;
            | &#x9;
            strong Kelly J. Lundberg
            | , Ph.D., Clinical Assistant Professor Department of Psychiatry, U of U School of Medicine
            br
            br
            | &#x9;
            | &#x9;
            strong Jeffrey R. Botkin
            | , M.D., M.P.H., Professor of Pediatrics and Medical Ethics, Associate Vice President for Research Integrity, University of Utah
      |    
      .even
         p
            strong William McMahon
            | , M.D., Associate Professor of Psychiatry, Pediatrics, Psychology and Educational  Psychology, University of Utah
            br
            br
            | &#x9;
            | &#x9;
            strong Scott Rogers
            | , Ph.D., Associate Professor of Neurobiology and Anatomy, University of Utah
            br
            br
            | &#x9;
            | &#x9;
            strong Jack Taylor
            | , D.V.M., Ph.D. Director, Department of Animal Resources, University of Utah
            br
            br
            | &#x9;
            | &#x9;
            strong Troy Booher
            | , J.D., Snell &amp; Wilmer, L.L.P. Law Clerk for Judge Judith Billings, Utah Court of Appeals and Adjunct Professor, Department of Political Science, U of U
            br
            br
   +pod('Illustration, Design, and Layout')
      |    
      .uk-width-medium-6-10
         p
            | Peter Anderson
            br
            | &#x9;Sheila Avery
            br
            | &#x9;Brendan Nicholson
            br
            | &#x9;Harmony Starr
      |    
      .uk-width-medium-4-10
   hr
   | &#x9;
   +pod('')
      h2
         span Animation
      |    
      .uk-width-medium-4-10
         p
            | Peter Anderson
            br
            | &#x9;Sheila Avery
            br
            | &#x9;Brendan Nicholson
            br
            | &#x9;Kevin Pompei
            br
            | &#x9;Harmony Starr
      |    
      .uk-width-medium-6-10
   hr
   | &#x9;
   +pod('')
      h2
         span XHTML/CFML Coding
      |    
      .uk-width-medium-6-10
         p
            | Kevin Pompei
            br
            | &#x9;Mathew Weaver
      |    
      .uk-width-medium-4-10
   +pod('Writing')
      |    
      .uk-width-medium-6-10
         p
            | Linda Andrews
            br
            | &#x9;Sheila Avery
            br
            | &#x9;Molly Malone
            br
            | &#x9;April Mitchell
            br
            | &#x9;Harmony Starr
      |    
      .uk-width-medium-4-10
   hr
   | &#x9;
   +pod('')
      h2
         span Video Production
      |    
      .uk-width-medium-6-10
         p Peter Anderson
      |    
      .uk-width-medium-4-10
   hr
   | &#x9;
   +pod('')
      h2
         span Sound Affects
      |    
      .uk-width-medium-6-10
         p
            | Peter Anderson
            br
            | &#x9;Harmony Starr
      |    
      .uk-width-medium-4-10
   hr
   | &#x9;
   +pod('')
      h2
         span Voice Talent
      |    
      .even
         p
            strong Make a Mad, Mad, Mad Neuron
            br
            | &#x9;Dr. Dendristein - Michael Ferreri
            br
            br
            | &#x9;
            | &#x9;
            strong The Reward Pathway Reinforces Behavior
            br
            | &#x9;Molly Malone
            br
            br
            | &#x9;
            | &#x9;
            strong Crossing the Divide: How Neurons Talk to Each Other
            br
            | &#x9;Molly Malone
      |    
      .even
         p
            strong Mouse Party
            br
            | &#x9;Molly Malone
            br
            br
            | &#x9;
            | &#x9;
            strong Discovering Genes Using the Candidate Gene Approach
            br
            | &#x9;Molly Malone
            br
            br
            | &#x9;
            | &#x9;
            strong Social Environment Impacts the Reward Pathway
            br
            | &#x9;Molly Malone
   +pod('Actors')
      |    
      .even
         p
            strong PI: Pedigree Investigator, On the Case of Nicotine Addiction
            |  
            br
            |  (in order of appearance)
            br
            | &#x9;
            em Wally Marshall
            |  - Tony Larimer
            br
            | &#x9;
            em Geneticist Interviewer
            |  - Harmony Starr
            br
            | &#x9;
            em Elizabeth Marshall
            |  - Anita Booher
            br
            | &#x9;
            em Todd and Alex Marshall
            |  - Patrick and Paul Gibbs
            br
      |    
      .even
         p
            br
            |  
            em Jennifer Marshall
            |  - Daisy Blake
            br
            | &#x9;
            em Vanessa Goldberg
            |  - Annette Wright
            br
            | &#x9;
            em Victor Marshall
            |  - Richard Scott
            br
            | &#x9;
            em James Marshall
            |  - Dan Larrinaga
            br
            | &#x9;
            em Tess Marshall
            |  - Ann-Marie Davis
   +pod('Audio Clips')
      |    
      .even
         img(src='fleming.jpg', alt='Patrick Fleming', width='100', height='140', style='float: left')
         | &#x9;
         p
            strong Patrick Fleming
            | , M.A., L.S.A.C. is Director of the Salt Lake County Substance Abuse Services.
         div(style='clear:both')
         | &#x9;
         img(src='kelly.jpg', alt='Kelly J. Lundberg', width='100', height='140', style='float: right')
         | &#x9;
         p
            strong Kelly J. Lundberg
            | , Ph.D. is an Associate Professor in the Department of Psychiatry at the University of Utah School of Medicine.
         |        
         div(style='clear:both')
         img(src='hanson.jpg', alt='Glen R. Hanson', width='100', height='140', style='float: left')
         | &#x9;
         p
            strong Glen R. Hanson
            | , Ph.D., D.D.S. is a Professor in the Department of Pharmacology and Toxicology at the University of Utah.
         |        
         div(style='clear:both')
      |    
      .even
         img(src='melamede.jpg', alt='Robert J. Melamede', width='100', height='140', style='float: left')
         | &#x9;
         p
            strong Robert J. Melamede
            | , Ph.D. is a researcher and Chairman of the Biology Department of the University of Colorado, Colorado Springs.
         |        
         div(style='clear:both')
         img(src='rogers.jpg', alt='Scott W. Rogers', width='100', height='140', style='float: right')
         | &#x9;
         p
            strong Scott W. Rogers
            | , Ph.D. is an Associate Professor in the Department of Neurobiology and Anatomy at the University of Utah School of Medicine.
         |        
         div(style='clear:both')
         | &#x9;
         img(src='notcutt.jpg', alt='William Notcutt', width='100', height='140', style='float: left')
         | &#x9;
         p
            strong William Notcutt
            | , MD is an anesthesiologist and lead researcher for medical cannabis clinical trials on MS patients at James Paget Medical Center, UK.
         |        
         div(style='clear:both')
         |        
         br
         br
   +pod('')
      .uk-width-medium-6-10
         img(src='NIDA_logo.jpg', alt='National Institute on Drug Abuse', width='228', height='37')
         | &#x9;
         p.caption
            | Supported by a
            strong  Science Education Drug Abuse Partnership Award
            |  (SEDAPA), from The National Institute on Drug
            | &#x9;Abuse, National Institutes of Health. Grant Number: 1 R25 DA 15461
      |    
      .uk-width-medium-4-10
   
