+minipod('What is galactosemia?')
   //.uk-width-medium-2-10
      figure
         img(src='galactosemia/images/galacChrom.jpg') 
   .uk-width-medium-6-10     
      p
         | People with galactosemia are unable to break down galactose, a type of sugar found in milk and other dairy products. Galactose is normally converted in the liver to the sugar glucose, which can provide energy for the cells of the body. But when it's not properly broken down, galactose is harmful to many of the body’s tissues.
+minipod('Affected gene')
   .uk-width-medium-6-10
      p
         | The most commonly affected gene in galactosemia is GALT (galactose-1-phosphate uridylyltransferase). The gene codes for GALT protein. Most people with the disorder have two non-working copies of the GALT gene, and so they make no or very little working GALT protein. 
      p
         | The job of GALT protein is to help break down the sugar galactose. 
      p
         | Less common forms of galactosemia involve changes in different genes (GALK1 and GALE). These genes code for proteins that carry out different steps of galactose breakdown. These forms of galactosemia are usually less severe.
      p
         | Most forms of galactosemia follow an autosomal recessive inheritance pattern. An affected child must inherit two non-working copies of the gene, one from each parent. 
      br
   .uk-width-1-1
      figure
         img(src='galactosemia/images/galactosemia.jpg')
      hr
      br
   .uk-width-medium-5-10
      h3 Treating and managing galactosemia
      p
         | Galactosemia is managed through diet. Babies receive a galactose-free formula. Children with the disorder must stay away from foods and drinks containing galactose. These foods include milk, cheese, and legumes (dried beans). 
   .uk-width-medium-5-10
      h3 Interesting facts
      p
         | Galactosemia was first discovered in 1908 by the physician Von Ruess.
      p
         | Classical galactosemia affects 1 in every 30,000 or so newborns. However, in the Irish traveler population, it affects about 1 in 480.
   .uk-width-medium-4-10   
      +well
         h3 More information
         a(href='http://www.liverfoundation.org/') American Liver Foundation
         br
         a(href='http://www.galactosemia.org/ ') Parents of Galactosemic Children, Inc.
