extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-6-10
         p.
            You will need just a few mL of each odorant, along with 6 to 8 cups, jars, or beakers per odorant. Any strongly scented, water-soluble substance will do.
         strong
            | Example odarants
         ul
            li Fresh lemon juice
            li Mint flavored mouthwash
            li Vinegar
            li Vanilla extract


   +pod('Set up 1:2 serial dilutions')
      .uk-width-medium-6-10
         i
            | Volumes can be scaled up or down as desired.
         ol
            li Begin with a 1:25 dilution.
            ul
               li Place 48 mL of water into your first container
               li Add 2 mL of odorant and mix thoroughly
               li Label this container 1:25
            li Set up containers.
            ul
               li To 5 additional containers, add 25 mL of water
               li Label them 1:50, 1:100, 1:200, 1:400, and 1:800
            li Perform serial dilutions.
            ul
               li Take 25 mL from the 1:25 container and add it to the 1:50 container
               li Take 25 mL from the 1:50 container and add it to the 1:100 container
               li Repeat for the remaining containers
      .uk-width-medium-6-10
         figure
            img(src="serialdilutions.jpg", alt-=serialdilutions)
      .uk-width-medium-6-10
         <ol start="4">
            li Adjust as necessary.
         p.
            Some odorants are stronger than others. Aim to have 5-6 different dilutions of odorant. The most dilute solution should be undetectable; the most concentrated should be easily detectable.

         ul
            li If the 1:800 dilution still smells strongly, continue making 1:2 serial dilutions until you can no longer detect the odorant.
            li If the 1:25 dilution smells weak, make more concentrated solutions (e.g., 1:10, 1:5) until you have a good range.
