extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-6-10
         p.
            You can buy ready-made touch testers, or you can make them out of simple materials. Aim for points that are precise but not sharp. We like to use sets of 4 testers: a one-point tester, and two-point testers at 5, 15, and 30 mm apart.
         p.
            Here are some ideas for DIY touch testers.

   +pod('Toothpicks on an index card')
      .uk-width-medium-6-10
         p.
            Tape toothpicks to an index card or a square piece of cardboard so that the points stick out past the edge. You may want to break the toothpicks in half. Make a different tester on each edge and label each one.
      .uk-width-medium-6-10
         figure
            img(src="toothpicks.jpg", alt=toothpicks)
   +pod('Paper Clips')
      .uk-width-medium-6-10
         p.
            Unbend and re-bend paper clips so that their ends are separated by the specified distances. Larger sizes of paperclips are easier to work with. Pliers may make the bending easier.
      .uk-width-medium-6-10
         figure
            img(src="paperclips.jpg", alt=paperclips)
   +pod('Pins in a cork or stopper')
      .uk-width-medium-6-10
         p.
            Stick sewing pins into the sides and/or ends of a cork or a rubber stopper at the specified distances. For better precision, use pins with small heads.
      .uk-width-medium-6-10
            figure
               img(src="cork.jpg", alt=cork)
   +pod('Other ideas')
      .uk-width-medium-6-10
         ul
            li Short, stiff pieces of wire in a block of Styrofoam
            li Toothpicks in a block of Styrofoam
            li Calipers
            li Forceps taped at fixed distances
      .uk-width-medium-6-10
            figure
               img(src="styrofoam.jpg", alt=styrofoam)
