h3 Episodic Memory
ul.uk-tab(data-uk-tab, data-uk-switcher="{connect:'#episodic', animation: 'fade'}")
   li
      a(href="") Description
   li
      a(href="") Anatomy
   li
      a(href="") Example 
ul#episodic.uk-switcher.inners
   li
      p.
         Event-based episodic or autobiographical memory is your life history. It's your mental record of things that have 
         happened to and around you, like what you ate for breakfast yesterday, or the time you went to your friend's house 
         to watch the movie Frozen and the power went out. Your memory for each event includes sights, sounds, and what 
         you were thinking and feeling at the time.
       
   li
      img(src="images/EpisodicAnatomy.svg", data-uk-svg)
      p
         | The 
         strong hippocampus 
         | (we have two, one on each side of the brain) is key for moving episodic information from short-term memory into long-term storage.
      p
         | The 
         strong amygdala 
         | is the emotional center of the brain. Experiences that are connected to intense emotions make for stronger memories. 
      p.
         The memories themselves are encoded in multiple places throughout the brain. For example, the same areas of the brain 
         that process sights, sounds, and emotions are also activated when you recall the sights, sounds, and emotions 
         associated with an episode from your past. 

   li
      h3 Patient story: RB
      p.
         After a series of heart-related events deprived his brain of oxygen, RB started having serious problems 
         forming new episodic and semantic memories. And it seems that only his memory was affected. RB's personality and 
         intelligence were the same, he could still remember facts and events from before the incident, he could still form 
         new procedural memories, and he performed normally on other cognitive tests.
      p.
         After RB died, doctors examined his brain. They saw that nearly all of the damage was in the CA1 area of the 
         hippocampus. RB's case showed that damage to this small area of the brain was enough to keep him from making 
         new episodic and semantic memories, while leaving other functions intact. The hippocampus is now viewed as an 
         important link in the brain circuit that moves certain types of information from short-term into long-term memory.

     
