p.
   Much of what scientists know about the brain has come from two methods. One is play: come up with a test that can measure 
   an ability in a way that doesn't overlap with any other abilities. 
p.
   The other is to make the best of someone's terrible misfortune—someone who has had a stroke or suffered an accident or 
   had surgery that took out part of their brain. When patients survive these events, they lose some memory abilities but 
   not others. Often the lost abilities can be traced back to specific parts of the brain that have stopped working.
p.
   There are multiple types of memory, and each type uses different parts of the brain.
p.uk-text-bold.
   Click or touch a type of memory to learn more
