h3 Long-term Memory
ul.uk-tab(data-uk-tab, data-uk-switcher="{connect:'#longterm', animation: 'fade'}")
   li: a(href="") Description
   li: a(href="") Example 
ul#longterm.uk-switcher.inners
   li
      p.
         Long-term memory is what we think of as "permanent storage," sort of like file cabinet or a computer's hard drive. 
         But the brain is different from these things. First, the brain doesn't get full. Even though you may sometimes feel 
         like your brain is about to burst, people don't really reach a point where they need to dump old information to make 
         way for new memories. It's more like a muscle that grows stronger the more you use it.
      p.
         Second, some long-term memories tend to fade over time, while others are more "sticky." Events that are associated 
         with strong emotions, like a first kiss or a punch in the face, are more likely to stick. Repetition can also make 
         information stick more firmly. Information that we don't revisit, like the capitol of Albania or what we ate for 
         breakfast on November 5th of last year, is more likely to fade.
      p
         strong Duration: 
         | Hours to decades 
   li
      h3 Patient story: HM
      p.
         HM is probably the most-studied person in all of neuroscience. Because of a childhood brain injury, HM had severe 
         epilepsy. To try to cure him, a surgeon took out a large chunk of HM's brain (including his hippocampi and other 
         nearby areas). The surgery cured the epilepsy, but at a great cost: HM also lost the ability to consciously remember 
         anything for more than a few minutes. 
      p.
         HM's memory was profoundly broken. As he aged, he was repeatedly shocked to see an old man reflected back in the 
         mirror. And even though he worked with one researcher for decades, he never remembered having met her before. Yet HM 
         kept his intelligence, vocabulary, language, and many of his memories from before the surgery.
      p.
         Importantly, HM's short term memory and his working memory worked just fine. This was an early clue that short-term 
         and long-term memory are separate systems that rely on different parts of the brain.

        
