h3 Procedural Memory
ul.uk-tab(data-uk-tab, data-uk-switcher="{connect:'#procedural', animation: 'fade'}")
   li
      a(href="") Description
   li
      a(href="") Anatomy
   li
      a(href="") Example 
ul#procedural.uk-switcher.inners
   li
      p.
         Procedural memory includes things that are task and skill based. It includes "motor memory" for things 
         like how to write cursive letters or ride a bicycle, as well as more-complex skills like playing a collection of 
         songs on the guitar. Skill-based memories get stronger the more we practice them.
      p.
         Procedural memory also helps us learn cause and effect. It stores information about foods that make us sick, or 
         actions that are followed by rewards. 
   li
      img(src="images/ProceduralAnatomy.svg", data-uk-svg)
      p.
         The supplementary motor area helps us move our bodies 
      p.
         The cerebellum helps coordinate movements, and it's involved in motor memory.
      p.
         The striatum, is important for habits and skills that we learn 
         gradually through repetition.
   li
      p.
         HM and other patients with damage to the hippocampus have severe problems with episodic (event-based) and 
         semantic (fact-based) memory, yet they can form new procedural memories with no problem. HM famously learned to 
         skillfully trace a star while only looking at its reflection in a mirror—even though he had no memory of all 
         the time he spent practicing it. This tells us that procedural memory uses different brain regions than other 
         types of long-term memory. 
      p.
         Huntington disease and Parkinson disease are devastating movement disorders that affect the basal ganglia. As damage 
         increases, patients' movements become either shaky or slow, making it difficult for them to do things like walk or use a 
         fork. Movement sequences that they could once do automatically require effort and focus. Patients also have trouble 
         learning new motor skills. 
      p.
         In patients with damage to the cerebellum, movement is uncoordinated, like in a drunk person. The cerebellum 
         normally coordinates movement by gathering feedback from the joints, muscles, and eyes; continually checking in with 
         the parts of the brain that plan movement; and making adjustments to keep us on track. The cerebellum also helps 
         store motor memories, so that we can get better with practice. When these processes stop working, movement becomes 
         shaky, sloppy, and uncontrolled.
