h3 Semantic Memory
ul.uk-tab(data-uk-tab, data-uk-switcher="{connect:'#semantic', animation: 'fade'}")
   li
      a(href="") Description
   li
      a(href="") Anatomy
   li
      a(href="") Example
ul#semantic.uk-switcher.inners
   li

      p.
         Semantic memory is a collection of facts, like Salt Lake City is the capitol of Utah, or dogs are 
         mammals. It also includes things like the meanings of words and the rules of grammar. You can consciously recall 
         the information stored here, but it's not connected to your personal experiences.


   li
      img(src="images/SemanticAnatomy.svg", data-uk-svg)
      
      p.
         The left premotor area stores information mainly about "function," or what it is that we do with something—information 
         that is  more likely to apply to non-living things like tools.
      p.
         The inferior lateral temporal area stores information mainly about "form," or what features we can use to identify 
         something—which generally relates to living things. 
      p.
         The hippocampus and parahippocampus are important for moving semantic information in and out of long-term storage.

   li
      img(src="images/EpisodicExample.svg", data-uk-svg)
      h3 Patient story: KC
      p.
         We know that semantic and episodic memories are recalled separately from one another thanks to patients like KC. KC 
         had a brain injury that damaged part of his hippocampi but left his parahippocampi intact. After the accident, 
         he could no longer access his episodic memories, but he could still recall some semantic memories. While he 
         remembered the facts about his experiences, he remembered nothing about his place in them or his feelings about 
         them. Scientists think that certain parts of the hippocampus are more important for recalling episodic memories, 
         and the parahippocampus is more involved in recalling (and possibly forming) semantic memories.
      p Read more about <a onclick="javascript: window.open('http://www.slate.com/articles/health_and_science/science/2014/04/amnesia_patient_kc_was_kent_cochrane_the_hippocampus_makes_memories_personal.html')" href="http://www.slate.com/articles/health_and_science/science/2014/04/amnesia_patient_kc_was_kent_cochrane_the_hippocampus_makes_memories_personal.html">KC</a>.
      h3 Category-specific memory loss
      p.
         In some patients, infection with herpes simplex virus can eat away specific areas of the brain, wiping out the 
         ability to recognize a certain class of objects—like fruit, animals, or tools. In most cases, the patients stop 
         recognizing mainly living things (vegetables, animals, flowers). But some patients lose the ability to recognize 
         only nonliving things (furniture, vehicles, clothing). In others, the problems are restricted to more specific 
         categories, like fruits or animals. Even though other brain functions are normal, they may not be able to 
         recall that a lemon is yellow and sour or that a cow says "moo."
      p.
         These cases show that certain facts are lumped together, either because they are stored in the same brain regions, or 
         because they are connected through shared neural networks. 
