h3 Sensory Memory
ul.uk-tab(data-uk-tab="", data-uk-switcher="{connect:'#sensory', animation: 'fade'}")
   li: a(href="") Description
   li: a(href="") Anatomy
   li: a(href="") Explore 
   li: a(href="") Example
ul#sensory.uk-switcher.inners
   li
      p.
         Sensory memory holds a quick flash of everything that our sensory systems—eyes, ears, nose, etc.—take in. It's so 
         short-lived and it packs in so much information that most of it doesn't even make it into our conscious awareness. 
         It's an important first step in the formation of short-term memories, but most of the information will quickly 
         fade away.
      p
         strong Duration: 
         | A few tenths of a second up to about 1 second
   li
      img(src="images/SensoryAnatomy.svg", data-uk-svg)
      p.
         Sensory information is relayed through the thalamus (except olfaction, which travels directly) to sense-specific areas on 
         the outer surface of the brain (the cortex). 
   li
      p.
         When we see two slightly different images, one immediately following the other, it is very easy to pick out the 
         change. But with a pause in the middle, the information in our sensory memory fades before the next image appears, 
         making it much harder to find the difference. 
      <button class="uk-button uk-button-primary" data-uk-modal="{target:'#cb'}">View Change Blindness Image</button>
   li
      img(src="images/SensoryPatient.svg", data-uk-svg)
      h3 Cortical blindness
      p.
         The first stop for information from the eyes is the visual cortex, an area in the back of the brain. Damage to this 
         area can make patients partially or fully blind, even though their eyes still work normally. Strangely, patients with 
         this type of "cortical blindness" experience "blindsight." Like a person with perfect vision, they still smile when 
         they see a photo of a smiling face—even though they are not consciously aware of what they're looking at. This is 
         probably because the eyes also send signals to other parts of the brain, including the amygdala, which is the source 
         of emotions. 

      h3 The thalamus
      p.
         The thalamus is required for basic human consciousness. Without it, sensory information is not sent out for 
         processing, and patients are left in a vegetative state. They are awake but they cannot respond to their 
         surroundings.
#cb.uk-modal
   .uk-modal-dialog
      a.uk-modal-close.uk-close
      img(src="images/cb.gif")
        
