h3 Short-term Memory
ul.uk-tab(data-uk-tab, data-uk-switcher="{connect:'#shortterm', animation: 'fade'}")
   li: a(href="") Description
   li: a(href="") Anatomy
   li: a(href="") Explore 
   li: a(href="") Patient Story 
ul#shortterm.uk-switcher.inners
   li
      
      p.
         Short-term memory holds onto a few pieces of information at a time, around 4 to 9 items. It helps you remember a 
         phone number for long enough to dial it, or remember something your teacher says for long enough to write it down. 
         Some information in short-term memory will eventually be stored in long-term memory, especially if we give it our 
         attention, but most will fade.

      p
         strong Duration: 
         | A few seconds to a minute. We can use repetition to remember things for longer, but distraction will make us forget.
       
   li
      img(src="images/ShortTermAnatomy.svg", data-uk-svg)
      p.
         Wernicke's area helps us understand language-based information—things that we read or hear. It is connected to the 
         areas of the brain that take in information from the eyes and ears. 
      p.
         We use Broca's area when we repeat information silently to ourselves. Repetition helps us keep information in 
         short-term memory for longer.
      p.
         The visual association area on the right side of the brain holds visual and spatial short-term memory. It helps us remember images and 
         pictures, and it helps keeps track of where things are in 3d space.
            
      
   li
      img(src="images/ShortTermExplore.jpg")
      p.
         Tests for Short-term memory measure your ability to hold onto multiple pieces of information and repeat them back. 
         You'll do better at these games if you use repetition or mnemonic tricks—both of which use attention from working memory.

      p.
         The electronic game Simon was popular in the 1970s and 80s. To play, you have to remember and repeat back a series of 
         blinking, colored buttons. Today, you can find electronic versions of this game online or as downloadable apps.

      p.
         These short-term memory tests ask you to remember and write down a series of
         <a onclick="javascript: window.open('https://faculty.washington.edu/chudler/stm0.html')" href="https://faculty.washington.edu/chudler/stm0.html">letters</a> or a
         collection of <a onclick="javascript: window.open('https://faculty.washington.edu/chudler/puzmatch.html')" href="https://faculty.washington.edu/chudler/puzmatch.html">pictures</a>.
        
   li
      
      h3 Clive Wearing
      img.uk-float-right(src="images/stm.jpg")
      p.
         When a viral infection destroyed memory areas deep within Clive Wearing's brain, the brilliant music composer lost 
         nearly all of his ability to form short-term memories (his long-term memory was also profoundly damaged). 
      p.
         Wearing was left with no sense of the past or future, only the present moment. Every time he blinked, he opened his 
         eyes to an unfamiliar scene. Strangest of all, he continually felt like he was becoming awake and aware for the very 
         first time, a pattern that repeated every few  minutes.
      p.
         Read more about <a onclick="javascript: window.open('http://www.newyorker.com/magazine/2007/09/24/the-abyss')" href="http://www.newyorker.com/magazine/2007/09/24/the-abyss">Wearing</a>.

        
