h3 Working Memory
ul.uk-tab(data-uk-tab, data-uk-switcher="{connect:'#working', animation: 'fade'}")
   li
      a(href="") Description
   li
      a(href="") Anatomy
   li
      a(href="") Explore 
   li
      a(href="") Example 
ul#working.uk-switcher.inners
   li
      p.
         Working memory helps us carry out a task, achieve a goal, or solve a problem. It's like a temporary mental work space 
         where we can bring together information from short-term and long-term memory, and then do something with it. For 
         example, to do mental math, we use multiplication rules stored in long-term memory to work on numbers stored in 
         short-term memory.
      p.
         Complex tasks like driving a car or reading also rely on working memory: we use skills and rules stored in long-term 
         memory, but we also take in and react to new information as we experience it. 
      p.
         Working memory also helps us control our attention—what we experience as concentration. Attention helps us take in 
         and hold onto important information while filtering out distractions. It helps us keep our tasks in mind for long 
         enough to finish them. In terms of memory storage, attention is a big part of what moves information from sensory 
         memory to short-term memory and finally to long-term memory. 
      p.
         Working memory and attention have a limited capacity: there's only so much information we can hold and manipulate in 
         our minds, and there are only so many things we can attend to at once.
   li
      img(src="images/WorkingAnatomy.svg", data-uk-svg)
      p.
         The prefrontal cortex is the biggest player in working memory. Often called the "central executive," it is connected 
         to areas throughout the brain, so it can access and process many types of information.
      p Within the prefrontal cortex, 3 sub-areas are especially important for attention.
   li
      p.
         In this <a onclick="javascript: window.open('http://173.45.230.254/demo/selective-attention-auditory-demonstration')" href="http://173.45.230.254/demo/selective-attention-auditory-demonstration">Selective Attention activity</a> (Flash), you can see how good you are at 
         turning your attention to one voice and ignoring interfering information. The "Where's Waldo?" books 
         and website are more or less a visual version of this exercise.
      p.
         <a onclick="javascript: window.open('https://www.youtube.com/watch?v=vJG698U2Mvo')" href="https://www.youtube.com/watch?v=vJG698U2Mvo">Watch this video</a> and count how many times the players 
         in white shirts pass the ball. 
         Then <a onclick="javascript: window.open('http://www.theinvisiblegorilla.com/gorilla_experiment.html')" href="http://www.theinvisiblegorilla.com/gorilla_experiment.html">visit this page</a> to learn about inattentional blindness.
      p.
         Two similar videos were developed in Britain—one shows <a onclick="javascript: window.open('https://www.youtube.com/watch?v=Ahg6qcgoay4')" href="https://www.youtube.com/watch?v=Ahg6qcgoay4" alt="basketball video">basketball</a> 
         and the other a <a onclick="javascript: window.open('https://www.youtube.com/watch?v=ubNF9QNEQLA')" href="https://www.youtube.com/watch?v=ubNF9QNEQLA">"whodunnit"</a>—to educate the public about the importance of attention in bicycle awareness. 
      p.
         The Stroop test is a measure of attention. It takes a surprising amount 
         of effort to filter out conflicting information about the meaning and the color of a word. Try our <a onclick="javascript: window.open('Stroop-test.pdf')" href="Stroop-test.pdf">paper version</a> (pdf).
      p.
         Test the limits of your working memory in <a onclick="javascript: window.open('../distraction/')" href="../distraction/">Distractown</a>. 
   li
      
      h3 Neglect Syndromes
      img.uk-float-right(src="images/AllochiriaClock.png", height="50%", width="50%")
      p.
         Damage from a stroke or an injury can cause "hemispatial neglect syndrome." Patients ignore information from one side 
         of their visual field, usually the left side. They eat the food only from one side of their plate. And when making a 
         drawing, they leave out the left side of a clock, a flower, or even a face—and they are completely unaware that it is 
         missing. The problem seems to be one of attention: the patients take in the information, but they immediately 
         forget it. 
      p.
         Another type of neglect syndrome affects a patient's ability to recognize their own body parts. For example, they 
         may be unable to find or recognize their left arm, or even refuse to acknowledge that it belongs to them!
      h3 Damage to PFC
      p.
         Patients with damage to the prefrontal cortex, or the central executive, often act inappropriately or impulsively. 
         Because they cannot keep goals in mind, they tend to be poor planners and poor decision makers.
      img(src="images/WorkingExample.jpg")
      p.
         Though his story is mainly anecdotal, Phineas Gage is one of the earliest cases in neuroscience that helped scientists 
         understand how damage to the prefrontal area of the brain can change a person's personality.
      p.
         Read more about <a onclick="javascript: window.open('http://www.slate.com/articles/health_and_science/science/2014/05/phineas_gage_neuroscience_case_true_story_of_famous_frontal_lobe_patient.html')" href="http://www.slate.com/articles/health_and_science/science/2014/05/phineas_gage_neuroscience_case_true_story_of_famous_frontal_lobe_patient.html">Phineas Gage</a>
