.uk-slidenav-position(data-uk-slideshow)
   ul.uk-slideshow
      li.item.uk-active
         img(src='assets/CA_v4_00.jpg', alt='cause and effect')
      li.item
         img(src='assets/CA_v4_01.jpg', alt='cause and effect')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:60px").
            Why does DNA evidence tell the same story about common ancestry as anatomy, fossils, and embryological development?
         audio(src='audio/1.mp3', preload='auto')
      li.item
         img(src='assets/CA_v4_02.jpg', alt='cause and effect')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:60px").
            It's because genes carry all of the instructions for building living things.
         audio(src='audio/2.mp3', preload='auto')
      li.item
         img(src='assets/CA_v4_03.jpg', alt='cause and effect')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:60px").
            DNA codes for proteins, and proteins make traits.
         audio(src='audio/3.mp3', preload='auto')
      li.item
         img(src='assets/CA_v4_04.jpg', alt='cause and effect')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:60px").
            Genes code for all of the proteins a cell makes.
         audio(src='audio/4.mp3', preload='auto')
      li.item
         img(src='assets/CA_v4_05.jpg', alt='cause and effect')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:60px").
            The proteins a cell makes determine what it can do.
         audio(src='audio/5.mp3', preload='auto')
      li.item
         img(src='assets/CA_v4_06.jpg', alt='cause and effect')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:60px").
            And cells working together give an organism its traits.
         audio(src='audio/6.mp3', preload='auto')
      li.item
         img(src='assets/CA_v4_07.jpg', alt='cause and effect')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:60px").
            Genes build organisms. In each type of cell, different genes code for the proteins that make muscles contract, transmit nerve signals, build colorful feathers and flowers, and much more.
         audio(src='audio/7.mp3', preload='auto')
      li.item
         img(src='assets/CA_v4_08.jpg', alt='cause and effect')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:60px").
            During embryonic development, groups of genes work together like computer programs to build the specific anatomy of each living thing.
         audio(src='audio/8.mp3', preload='auto')
      li.item
         img(src='assets/CA_v4_09.jpg', alt='cause and effect')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:60px").
            Variations in anatomy—limbs, hearts, and leaves that look different between species—come from variations in those genes.
         audio(src='audio/9.mp3', preload='auto')
      li.item
         img(src='assets/CA_v4_10.jpg', alt='cause and effect')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:60px").
            Fossils preserve a record of past variations in anatomy, showing how traits have changed over time.
         audio(src='audio/10.mp3', preload='auto')
      li.item
         img(src='assets/CA_v4_11.jpg', alt='cause and effect')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:60px").
            Because genes build organisms, DNA carries a record of evolutionary relationships.
         audio(src='audio/11.mp3', preload='auto')
      li.item
         img(src='assets/CA_v4_12.jpg', alt='cause and effect')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:60px").
            Some genes are so fundamental that every living thing has them. These genes serve as a record that all life on Earth shares a common ancestor.
         audio(src='audio/12.mp3', preload='auto')
      li.item
         img(src='assets/CA_v4_13.jpg', alt='cause and effect')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:60px").
            Organisms that share a lot of traits generally have many more genes in common.
         audio(src='audio/13.mp3', preload='auto')
      li.item
         img(src='assets/CA_v4_14.jpg', alt='cause and effect')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:60px").
            For example, frogs and cows share the genes for making shared traits—like eyes, hearts, blood, bones, and nerve cells that look a certain way.
         audio(src='audio/14.mp3', preload='auto')
      li.item
         img(src='assets/CA_v4_15.jpg', alt='cause and effect')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:60px").
            These shared genes preserve a record of an ancestor that they share with each other, but not with bacteria.
         audio(src='audio/15.mp3', preload='auto')
      li.item
         img(src='assets/CA_v4_16.jpg', alt='cause and effect')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:60px").
            Because genes change over time, the more similar the DNA of two organisms, the more recently they share a common ancestor.
         audio(src='audio/16.mp3', preload='auto')
      li.item
         img(src='assets/CA_v4_17.jpg', alt='cause and effect')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:60px").
            Observations from anatomy, fossils, and embryological development are all rooted in DNA. That’s why DNA evidence can often be the missing piece of the puzzle that ultimately completes the story of common ancestry.
         audio(src='audio/17.mp3', preload='auto')

   a.uk-slidenav.uk-slidenav-previous(href='', data-uk-slideshow-item='previous', style="color: #fff; font-size: 90px; text-shadow: #000 1px 2px 5px; display:block;")
   a.uk-slidenav.uk-slidenav-next(href='', data-uk-slideshow-item='next',  style="color: #fff; font-size: 90px; text-shadow: #000 1px 2px 5px; display:block;")
   ul.uk-dotnav.uk-dotnav-contrast.uk-position-bottom.uk-flex-center
      li(data-uk-slideshow-item="0")
         a(href="")
      li(data-uk-slideshow-item="1")
         a(href="")
      li(data-uk-slideshow-item="2")
         a(href="")
      li(data-uk-slideshow-item="3")
         a(href="")
      li(data-uk-slideshow-item="4")
         a(href="")
      li(data-uk-slideshow-item="5")
         a(href="")
      li(data-uk-slideshow-item="6")
         a(href="")
      li(data-uk-slideshow-item="7")
         a(href="")
      li(data-uk-slideshow-item="8")
         a(href="")
      li(data-uk-slideshow-item="9")
         a(href="")
      li(data-uk-slideshow-item="10")
         a(href="")
      li(data-uk-slideshow-item="11")
         a(href="")
      li(data-uk-slideshow-item="12")
         a(href="")
      li(data-uk-slideshow-item="13")
         a(href="")
      li(data-uk-slideshow-item="14")
         a(href="")
      li(data-uk-slideshow-item="15")
         a(href="")
      li(data-uk-slideshow-item="16")
         a(href="")
      li(data-uk-slideshow-item="17")
         a(href="")
