.uk-slidenav-position(data-uk-slideshow)
   ul.uk-slideshow
      li.item.uk-active
         img(src='assets/RB-00.jpg', alt='reproductive barriers')
      li.item
         img(src='assets/RB-01.jpg', alt='reproductive barriers')
         audio(src='audio/RB1.mp3')
      li.item
         img(src='assets/RB-02.jpg', alt='reproductive barriers')
         audio(src='audio/RB2.mp3', preload='auto')
      li.item
         img(src='assets/RB-03.jpg', alt='reproductive barriers')
         audio(src='audio/RB3.mp3', preload='auto')
      li.item
         img(src='assets/RB-04.jpg', alt='reproductive barriers')
         audio(src='audio/RB4.mp3', preload='auto')
      li.item
         img(src='assets/RB-05.jpg', alt='reproductive barriers')
         audio(src='audio/RB5.mp3', preload='auto')
      li.item
         img(src='assets/RB-06.jpg', alt='reproductive barriers')
         audio(src='audio/RB6.mp3', preload='auto')
      li.item
         img(src='assets/RB-07.jpg', alt='reproductive barriers')
         audio(src='audio/RB7.mp3', preload='auto')
      li.item
         img(src='assets/RB-08.jpg', alt='reproductive barriers')
         audio(src='audio/RB8.mp3', preload='auto')
      li.item
         img(src='assets/RB-09.jpg', alt='reproductive barriers')
         audio(src='audio/RB9.mp3', preload='auto')
      li.item
         img(src='assets/RB-10.jpg', alt='reproductive barriers')
         audio(src='audio/RB10.mp3', preload='auto')
      li.item
         img(src='assets/RB-11.jpg', alt='reproductive barriers')
         audio(src='audio/RB11.mp3', preload='auto')
      li.item
         img(src='assets/RB-12.jpg', alt='reproductive barriers')
         audio(src='audio/RB12.mp3', preload='auto')
      li.item
         img(src='assets/RB-13.jpg', alt='reproductive barriers')
         audio(src='audio/RB13.mp3', preload='auto')
      li.item
         img(src='assets/RB-14.jpg', alt='reproductive barriers')
         audio(src='audio/RB14.mp3', preload='auto')
      li.item
         img(src='assets/RB-15.jpg', alt='reproductive barriers')
         audio(src='audio/RB15.mp3', preload='auto')
      li.item
         img(src='assets/RB-16.jpg', alt='reproductive barriers')
         audio(src='audio/RB16.mp3', preload='auto')
   a.uk-slidenav.uk-slidenav-previous(href='', data-uk-slideshow-item='previous', style="color: #b8550e; font-size: 90px;")
   a.uk-slidenav.uk-slidenav-next(href='', data-uk-slideshow-item='next',  style="color: #b8550e; font-size: 90px;")
