extends /shared/layout

block content
  +pageTitle
  +pod('')
    .uk-width-1-1.lg-text-center
      include barriers.pug

block append endscripts
  script(src="/lib/slideshow.js")
  script(src="/lib/slideshow-fx.js")
  script(src="/lib/audioslideshow.js")
