extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-1-1.uk-text-center
         iframe.uk-responsive-width(src='//player.vimeo.com/video/116407791', width='920', height='517', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
   
   
