extends /shared/layout
block content
   +pageTitle
   +pod('Ranking Addiction Potential')  
      .uk-width-medium-4-10
         p
            | Research has shown that the faster a drug reaches the brain, the more likely it is to be addicting. Different methods of delivery&mdash;smoking, injecting, or snorting&mdash;largely influence how quickly a drug reaches the brain. Delivery methods, genetics, and environment all influence the potential of a drug to cause addiction.
      |    
      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='AddictionScale.jpg', alt='Addiction Scale')
   +pod('The Fastest Way to the Brain')
      |    
      .uk-width-medium-4-10
         p
            | The fastest way to get a drug to the brain is by smoking it. When a drug like tobacco smoke is taken into the lungs, nicotine (the addictive chemical in tobacco) seeps into lung blood where it can quickly travel to the brain. This fast delivery is one reason smoking cigarettes is so addicting.
         |  
         p
            | Injecting a drug directly into a blood vessel is the second fastest way to get a drug to the brain, followed by snorting or sniffing it through the nose. A slow mode of delivery is ingestion, such as drinking alcohol. The effects of alcohol take many minutes rather than a few seconds to cause behavioral and biological changes in the brain.
      |    
      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='CocaineDelivery.jpg', alt='Cocaine Delivery')
   +pod('Rapid Delivery Changes Your Brain')
      |    
      .uk-width-medium-4-10
         p
            | Nobody likes to wait, so users often choose a delivery method that gets them higher faster. As addiction progresses, users often seek out the more immediate and more intense high. But speed doesn&rsquo;t seem to be the only reason that rapid delivery is an important factor in addiction. Recent evidence suggests that the mode of delivery can actually influence which part of the brain is most affected by a drug. Rapid delivery, such as smoking, affects brain regions that facilitate addiction.
      |    
      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='BrainRegions.jpg', alt='Brain Regions')
   +pod('Slow Delivery: An Addiction Therapy?')
      |    
      .uk-width-medium-4-10
         p
            | Increased knowledge about drug delivery methods is leading to new addiction therapies. It turns out that delivering a drug slowly, by ingestion or through the skin, produces a weaker, longer-lasting effect. Slow delivery allows the drug to temporarily stabilize the brain and help reduce withdrawal symptoms over a longer period of time. And slow delivery is less addicting! So it&apos;s becoming an increasingly popular treatment approach.
      |    
      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='NicotinePatch.jpg', alt='Nicotine Patch')
   
   
