extends /shared/layout
block content
   +pageTitle

   style.
      p.credits {
      margin-bottom: 0px;
      margin-top: 0px;
      }

   +pod('')
      .uk-width-1-1_text
         h2 Why We Need Models
         p
            | Frigg, R., Hartmann, S. (2012). Models in Science. The Stanford Encyclopedia of Philosophy (Fall 2012 Edition). Edward N. Zalta (ed.).
            a(href='http://plato.stanford.edu/archives/fall2012/entries/models-science/') http://plato.stanford.edu/archives/fall2012/entries/models-science/
         p
            | Bull, J.J. (2014) Chapter 3: How Non-Scientists Use The Scientific Method and Chapter 4: Models Are The Building Blocks Of Science from the textbook for the course Biology for Business, Law and Liberal Arts (Bio301d), an undergraduate, non-majors science course taught at the University of Texas. 
            a(href='http://bio301d.com/scientific-decision-making/') http://bio301d.com/scientific-decision-making/
         p
            | Ford, F. A. (2009). Modeling the environment: an introduction to system dynamics models of environmental systems. Island Press.
            a(href='http://public.wsu.edu/~forda/AA2nd.html') http://public.wsu.edu/~forda/AA2nd.html
         h2 Pick-a-Model
         p
            | State of New Jersey. (2004). New Jersey Stormwater Best Management Practices Manual. 5-1 &ndash; 5-27.
         p
            | Bromley, C.; Randle, T.; Grant, G.; Thorne, C. (2005). Physical modeling of the removal of Glines Canyon Dam and Lake Mills from the Elwha River, WA. Proceedings of the 2005 watershed management conference; Williamsburg, VA. Reston, VA: American Society of Civil Engineers.
         p
            | Pielke, R. A. (1999). Who decides? Forecasts and responsibilities in the 1997 Red River flood. Applied Behavioral Science Review, 7(2), 83-101.
         h2 What You Can Do With Models: Show Form and Function
         p
            | Schneps, M. (1989). Private universe project: Harvard-Smithsonian Center for Astrophysics. Video resource retrieved February 6, 2015, from 
            a(href='http://www.learner.org/resources/series28.html') http://www.learner.org/resources/series28.html
         p
            | To see the nearly circular orbit of the Earth for yourself and compare it to other planetary orbits visit the Planetary Orbit Simulator Module of the Nebraska Astronomy Applet Project. 
            a(href='http://astro.unl.edu/classaction/animations/renaissance/kepler.html') http://astro.unl.edu/classaction/animations/renaissance/kepler.html
         h2 What You Can Do With Models: Make Predictions
         p
            | Qin, D., Plattner, G. K., Tignor, M., Allen, S. K., Boschung, J., Nauels, A., ... &amp; Midgley, P. M. (2014). Climate change 2013: The physical science basis. Fifth Assessment Report of the Intergovernmental Panel on Climate Change (IPCC). Cambridge, UK, and New York: Cambridge University Press.
            a(href='http://www.climatechange2013.org') http://www.climatechange2013.org
         p
            | Global Ensemble Forecast System (GEFS). (n.d.). Retrieved February 6, 2015, from 
            a(href='http://www.ncdc.noaa.gov/data-access/model-data/model-datasets/global-ensemble-forecast-system-gefs')
               | http://www.ncdc.noaa.gov/data-access/model-data/model-datasets/global-ensemble-forecast-system-gefs
         p
            | Baez, J. C., &amp; Tweed, D. (2013). Monte Carlo Methods in Climate Science. Math Horizons, 21(2), 5-8.
            a(href='http://www.maa.org/sites/default/files/pdf/horizons/baeztweed_nov13.pdf') http://www.maa.org/sites/default/files/pdf/horizons/baeztweed_nov13.pdf
         p
            | Silver, N. (2012). The signal and the noise: Why so many predictions fail--but some don&apos;t. New York: Penguin Press.
         h2 Manage a Watershed
         p
            | Maupin, M.A., Kenny, J.F., Hutson, S.S., Lovelace, J.K., Barber, N.L., and Linsey, K.S.,( 2014). Estimated use of water in the United States in 2010: U.S. Geological Survey Circular 1405, 56 p., 
            a(href='http://dx.doi.org/10.3133/cir1405') http://dx.doi.org/10.3133/cir1405
         p
            | United States Environmental Protection Agency.  (2001). Managing Storm Water Runoff to Prevent Contamination of Drinking Water. Source Water Protection Practices Bulletin.
            a(href='http://water.epa.gov/infrastructure/drinkingwater/sourcewater/protection/upload/stormwater.pdf')
               | http://water.epa.gov/infrastructure/drinkingwater/sourcewater/protection/upload/stormwater.pdf
         p
            | United States Environmental Protection Agency.  (2006). Wetlands: Protecting Life and Property from Flooding.
            a(href='http://water.epa.gov/type/wetlands/outreach/upload/Flooding.pdf') http://water.epa.gov/type/wetlands/outreach/upload/Flooding.pdf
         p
            | Utah Climate Center. (2009). Scientists find patterns in Utah&apos;s wet-dry cycles: Re-examining Drought in Utah. Utah State University. 
            a(href='http://climate.usurf.usu.edu/news/120909UCC Drought.pdf') http://climate.usurf.usu.edu/news/120909UCC Drought.pdf
         p
            | Heat Island Impacts | Heat Island Effect | U.S. EPA. (2013, January 1). Retrieved February 6, 2015, from 
            a(href='http://www.epa.gov/heatisland/impacts/index.htm') http://www.epa.gov/heatisland/impacts/index.htm
         p
            | Ice, G. G., Neary, D. G., &amp; Adams, P. W. (2004). Effects of wildfire on soils and watershed processes. Journal of Forestry, 102(6), 16-20.
         p
            | Miley, K. (2011, March). Management of Debris, Waste, and Operational Issues at a Multi-Jurisdictional Inland Oil Spill: A Coffeyville, Kansas, Refinery Oil Spill Case Study. In International Oil Spill Conference Proceedings (IOSC) (Vol. 2011, No. 1, p. abs35). American Petroleum Institute.
         p Farmer, A. (1997). Managing environmental pollution. London: Routledge.
         p
            | United States Environmental Protection Agency.  (2013). Impacts of Climate Change on the Occurrence of Harmful Algal Blooms.
         p
            | Cooley, H., Fulton, J., Gleick, P. H., Ross, N., &amp; Luu, P. (2011). Water for energy: Future water needs for electricity in the intermountain West. Pacific Institute, Oakland.
         p
            | Utah Division of Water Resources. (2012). The Water &ndash; Energy Nexus In Utah: Meeting the Water and Energy Challenge.
         p
            | Sinisi, L. (2011). Guidance on water supply and sanitation in extreme weather events. R. Aertgeerts (Ed.). World Health Organization.
         p
            | Purcell, M. (2010). Green River Basin Water Plan: Technical Memoranda. Basin Water Use Profile &ndash; Industrial. Wyoming Water Development Office. 
            a(href='http://waterplan.state.wy.us/plan/green/techmemos/induse.html') http://waterplan.state.wy.us/plan/green/techmemos/induse.html
         h2 Water Allocation: An Ongoing Challenge
         p
            | Kenney, D. (2003). Water allocation and management in the western United States: An overview. In International Working Conference on Water Rights: Institutional options for improving water allocation, Hanoi, Vietnam.
         p
            | Fort, D. D. (2002) Water and Population in the American West. Human Population and Freshwater Resources: US Cases and International Perspectives, Yale School of Forestry and Environmental Studies Bulletin Series, (107), 17-24.
         p
            | Apple, D. D. (2004). Evolution of U. S. Water Policy: Emphasis on the West. Women in Natural Resources, 24(3), 16-25.
         p
            | Gelt, J. (1997). Sharing Colorado River water: history, public policy and the Colorado River Compact. Water Resources Research Center, University of Arizona.
         p
            | Tarlock, A. D. (2000). Prior appropriation: Rule, principle, or rhetoric. NDL Rev., 76, 881.
         p
            | Stephens, D. P. (2011). The Transfer of Agricultural Water to Municipal and Industrial Usages.
            a(href='http://digitalcommons.usu.edu/cgi/viewcontent.cgi?article=1830&context=etd') http://digitalcommons.usu.edu/cgi/viewcontent.cgi?article=1830&amp;context=etd
         p
            | Halverson, A. (2010). An entirely synthetic fish: How rainbow trout beguiled America and overran the world. New Haven: Yale University Press.
         p
            | Powell, J. W., Gilbert, G. K., Dutton, C. E., Drummond, W., &amp; Thompson, A. H. (1879). Report on the Lands of the Arid Region of the United States: With a More Detailed Account of the Lands of Utah. With Maps (Vol. 3). Governmentprint. Office.
         h2 Water in the West: What the Future Holds
         p
            | Olsen, J. Rolf, Julie Kiang and Reagan Waskom, (editors). 2010. Workshop on Nonstationarity, Hydrologic Frequency Analysis, and Water Management. Colorado Water Institute Information Series No. 109. 
            a(href='http://www.cwi.colostate.edu') http://www.cwi.colostate.edu
         p
            | U.S. Department of the Interior, Bureau of Reclamation. (2012). Colorado River Basin: Water Supply and Demand Study Technical Report C &ndash; Water Demand Assessment. 
            a(href='http://www.usbr.gov/lc/region/programs/crbstudy/finalreport/techrptC.html') http://www.usbr.gov/lc/region/programs/crbstudy/finalreport/techrptC.html
         p
            | Donkor, E. A., Mazzuchi, T. A., Soyer, R., &amp; Alan Roberson, J. (2012). Urban water demand forecasting: review of methods and models. Journal of Water Resources Planning and Management, 140(2), 146-159.
         p
            | Milly, P. C. D., Julio, B., Malin, F., Robert, M., Zbigniew, W., Dennis, P., &amp; Ronald, J. S. (2007). Stationarity is dead. Ground Water News &amp; Views, 4(1), 6-8.
         p
            | Roy, S. B., Chen, L., Girvetz, E., Maurer, E. P., Mills, W. B., &amp; Grieb, T. M. (2010). Evaluating sustainability of projected water demands under future climate change scenarios. New York: Natural Resources Defense Council.
   
   
