.uk-slidenav-position(data-uk-slideshow)
   ul.uk-slideshow
      li.item.uk-active
         div
            img(src='images/traits/FT1.jpg')(style="padding-bottom:10px")
            .div-lives(style="padding-bottom:70px")
               p
                  | Flowering plants and pollinators, like bees, birds, and butterflies, depend on each other. Pollinators visit flowers to collect nectar and pollen for food. As they move from flower to flower, pollen, and thus genetic material, is dispersed among plants. So, the more attractive a flower is to a pollinator, the greater its chance for reproduction. 
               p
                  | Flowers have many unique traits to advertise "Good Food Here!" and attract pollinators. Special versions of traits appeal to different pollinators.
            .div.uk-overlay-panel.uk-overlay-bottom(style="padding-top:60px")
      li.item
         div
            img(src='images/traits/FT2.jpg')(style="padding-bottom:10px")
            .div-lives(style="padding-bottom:70px")
               h3
                  | Color
               p
                  | Bees are attracted to flowers with bright colors, especially blue and yellow. But bees can't see red, so a red flower isn't likely to catch their attention.
         .div.uk-overlay-panel.uk-overlay-bottom(style="padding-top:60px")
      li.item
         div
            img(src='images/traits/FT3.jpg')(style="padding-bottom:10px")
            .div-lives(style="padding-bottom:70px")
               h3
                  | Color
               p
                  | Hummingbirds on the other hand, do see red. They pollinate the bright red flowers that bees overlook.
            .div.uk-overlay-panel.uk-overlay-bottom(style="padding-top:60px")
      li.item
         div
            img(src='images/traits/FT4.jpg')(style="padding-bottom:10px")
            .div-lives(style="padding-bottom:70px")
               h3
                  | Pattern 
               p
                  | The petals of some flowers have intricate patterns, called nectar guides, that direct pollinators straight to where the food is stored. Pollinators can find their meal quickly, then move on to the next flower.
            .div.uk-overlay-panel.uk-overlay-bottom(style="padding-top:60px")
      li.item
         div
            img(src='images/traits/FT4.5.jpg')(style="padding-bottom:10px")
            .div-lives(style="padding-bottom:70px")
               h3
                  | Pattern 
               p
                  | Two yellow stripes form the nectar guides of the monkeyflower species <i>Mimulus lewisii</i>. The color contrast directs bees to the pollen and nectar within the flower.
               p
                  | Without the visual cue from the nectar guides, bees get confused. They visit flowers less frequently. And, when they do visit, the bees often land upside-down! A disoriented bee is less likely to touch the correct parts of the flower to ensure pollination.

            .div.uk-overlay-panel.uk-overlay-bottom(style="padding-top:60px")
      li.item
         div
            img(src='images/traits/FT5.png')(style="padding-bottom:10px")
            .div-lives(style="padding-bottom:70px")
               h3
                  | Pattern
               p
                  | Not seeing the nectar guides? Try looking under ultraviolet (UV) light. 
               p
                  | Humans don't normally see UV light, but bees and butterflies do. So, what looks like a solid-color flower to humans, may actually have beautiful patterns to attract pollinators.
            .div.uk-overlay-panel.uk-overlay-bottom(style="padding-top:60px")
      li.item
         div
            img(src='images/traits/FT6.jpg')(style="padding-bottom:10px")
            .div-lives(style="padding-bottom:70px")
               h3
                  | Shape
               p
                  | Many pollinators, like bees, butterflies, and beetles, need somewhere to land while they feed. 
               p
                  | Beetles in particular are less skilled fliers. They're attracted to open flowers with large petals. Here, they can easily land and crawl around while they feed.
            .div.uk-overlay-panel.uk-overlay-bottom(style="padding-top:60px")
      li.item
         div
            img(src='images/traits/FT7.jpg')(style="padding-bottom:10px")
            .div-lives(style="padding-bottom:70px")
               h3
                  | Shape
               p
                  | Some flowers store nectar deep within a long, tube-shaped flower. This nectar is far out of reach to a chubby, round bumblebee, but hawk moths reach it easily. The moths have a special feeding organ called a proboscis that can be up to 13 inches long!
            .div.uk-overlay-panel.uk-overlay-bottom(style="padding-top:60px")
      li.item
         div
            img(src='images/traits/FT8.jpg')(style="padding-bottom:10px")
            .div-lives(style="padding-bottom:70px")
               h3
                  | Shape
               p
                  | Flowers pollinated by the wind have special structures that are shaped to disperse or catch pollen.
               p
                  | In corn, male flowers at the top of the plant produce pollen. It is blown by the wind onto the female flowers. The female flowers have a special structure - corn silk - that catches the pollen.

            .div.uk-overlay-panel.uk-overlay-bottom(style="padding-top:60px")
      li.item
         div
            img(src='images/traits/FT9.jpg')(style="padding-bottom:10px")
            .div-lives(style="padding-bottom:70px")
               h3
                  | Scent
               p
                  | Many flowers produce fragrance to draw in pollinators. 
               p
                  | But what smells good to a pollinator doesn't always smell good to us! Voodoo lilies have a putrid odor, often compared to rotting flesh. While humans may avoid these plants, certain flies and beetles find the scent quite enticing.
            .div.uk-overlay-panel.uk-overlay-bottom(style="padding-top:60px")
      li.item
         div
            img(src='images/traits/FT10.png')(style="padding-bottom:10px")
            .div-lives(style="padding-bottom:70px")
               h3
                  | Pollen
               p
                  | Flowers that rely on bees, wasps, beetles, and flies for pollination make plenty of these insects' favorite food &mdash; pollen.
               p
                  | Pollen can look quite different between flower types. Large, sticky grains adhere to fuzzy bumblebees and are eventually left at a future flower. Small, smooth grains are more easily moved by the wind.
            .div.uk-overlay-panel.uk-overlay-bottom(style="padding-top:60px")
      li.item
         div
            img(src='images/traits/FT11.jpg')(style="padding-bottom:10px")
            .div-lives(style="padding-bottom:70px")
               h3
                  | Nectar
               p
                  | Some pollinators prefer to eat nectar. These include bats, birds, moths, and butterflies. Often the nectar is hidden to ensure pollen gets moved around as the animals search for food.
            .div.uk-overlay-panel.uk-overlay-bottom(style="padding-top:60px")
      li.item
         div
            img(src='images/traits/FT12.jpg')(style="padding-bottom:10px")
            .div-lives(style="padding-bottom:70px")
               h3
                  | Bloom Timing
               p
                  | Even at night while we sleep, pollinators are hard at work. Certain flowers remain closed during the day, but open at night to attract nocturnal pollinators.
               p
                  | For example, night-blooming jasmine has a strong, sweet scent that attracts moths. Some species of night-blooming mangoes, bananas, agave, and cacao depend on bats.
            .div.uk-overlay-panel.uk-overlay-bottom(style="padding-top:60px")
      li.item
         div
            img(src='images/traits/FT13.png')(style="padding-bottom:10px")
            .div-lives(style="padding-bottom:70px")
               h3
                  | Unusual Flower Traits - Mimicry 
               p
                  | Occasionally flowers have very unique traits that attract pollinators. 
               p
                  | Bee orchids have brown and yellow markings that look like female bees. Male bees are drawn to the flower, thinking they've found a mate. The flower gets pollinated, but the bee is probably disappointed!
            .div.uk-overlay-panel.uk-overlay-bottom(style="padding-top:60px")
      li.item
         div
            img(src='images/traits/FT14.jpg')(style="padding-bottom:10px")
            .div-lives(style="padding-bottom:70px")
               h3
                  | Unusual Flower Traits - Shelter 
               p
                  | The flowers of <i>Oncocyclus</i> irises provide bees with a unique perk &mdash; shelter. Solitary male bees rest in the flowers overnight, transferring pollen in the process. It's thought the shape and color of the flowers warms the bees in the morning, helping them get an earlier start to their day. 
            .div.uk-overlay-panel.uk-overlay-bottom(style="padding-top:60px")
      li.item
         div
            img(src='images/traits/FT15.jpg')(style="padding-bottom:10px")
            .div-lives(style="padding-bottom:70px")
               p
                  | Usually, each type of flower has a set of several traits that strongly favor a certain pollinator.
               p
                  | For example, the monkeyflowers <i>Mimulus lewisii</i> and <i>Mimulus cardinalis</i> are closely related species. But, <i>M. lewisii</i> flowers have several traits that attract bumblebees, while <i>M. cardinalis</i> flowers have traits that strongly favor hummingbirds. Even when <i>M. lewisii</i> and <i>M. cardinalis</i> are growing near one another, pollinators visit their favorite species and usually ignore the other. 
            .div.uk-overlay-panel.uk-overlay-bottom(style="padding-top:60px")

   a.uk-slidenav.uk-slidenav-previous(href='', data-uk-slideshow-item='previous', style="color: #fff; font-size: 90px; text-shadow: #000 1px 2px 5px; opacity: 0.5; display:block; top:30%; alpha: 50%")
   a.uk-slidenav.uk-slidenav-next(href='', data-uk-slideshow-item='next',  style="color: #fff; font-size: 90px; text-shadow: #000 1px 2px 5px; opacity: 0.5; display:block; top:30%;")
      
   ul.uk-dotnav.uk-dotnav-contrast.uk-position-bottom.uk-flex-center(style='padding-bottom:10px padding-top:10px')
      li(data-uk-slideshow-item="0")
         a(href="")
      li(data-uk-slideshow-item="1")
         a(href="")
      li(data-uk-slideshow-item="2")
         a(href="")
      li(data-uk-slideshow-item="3")
         a(href="")
      li(data-uk-slideshow-item="4")
         a(href="")
      li(data-uk-slideshow-item="5")
         a(href="")
      li(data-uk-slideshow-item="6")
         a(href="")
      li(data-uk-slideshow-item="7")
         a(href="")
      li(data-uk-slideshow-item="8")
         a(href="")
      li(data-uk-slideshow-item="9")
         a(href="")
      li(data-uk-slideshow-item="10")
         a(href="")
      li(data-uk-slideshow-item="11")
         a(href="")
      li(data-uk-slideshow-item="12")
         a(href="")
      li(data-uk-slideshow-item="13")
         a(href="")
      li(data-uk-slideshow-item="14")
         a(href="")
      li(data-uk-slideshow-item="15")
        a(href="")
