extends /shared/layout
block content
   +pageTitle
   
   +pod('')
      .uk-width-medium-1-1
         p
            | Travel inside the body and see how cell signaling brings about physiological changes during the fight or flight response.

         iframe(src='https://player.vimeo.com/video/42572194', width='960', height='540', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')

         +well
            a(href='Play-by-play.pdf') PLAY-BY-PLAY PRINTOUT (pdf)
            br
            p
               | A scene-by-scene guide to the molecular interactions taking place in the Fight or Flight Response movie.
