extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-6-10
         p
            | The University of Utah in Salt Lake City has gained international renown in human
            | genetic research, thanks in part to a unique contribution from the people of Utah. Many
            | of Utah&apos;s residents belong to the Church of Jesus Christ of Latter-day Saints, also known
            | as the Mormon or LDS Church. And their work in genealogy has been a great resource for genetic research.
            | &quot;More human disease genes have been discovered in Utah than in any other place in the
            | world,&quot; says Ray Gesteland, Distinguished Professor Emeritus of
            | Human Genetics and former Vice President for Research at the University of Utah.
         |       
         .mediaSunk
            p.caption Hear Dr. Ray Gesteland talk about Utah&apos;s unique contribution to genetics.
            |          
            audio(controls='controls')
               source(src='gesteland.mp3')
      |    
      .uk-width-medium-4-10
         figure
            img(src='images/temple.jpg', width='352', height='200', alt='The LDS temple in downtown Salt Lake City.')
            | &#x9;&#x9;&#x9;
            p The LDS temple in downtown Salt Lake City.
   +pod('Genealogy  Following the Genetic Footsteps of Disease')
      |    
      .uk-width-medium-6-10
         p
            | How can a religious culture contribute to science? To understand the basis of
            | inherited diseases, scientists need to track the way illnesses move through generations
            | of a family. And to do that, there&apos;s one thing they need above all else: a family history.
         | &#x9;&#x9;
         p
            | Many people track their family history as a hobby.  But to the Mormons, genealogy
            | is a sacred duty.
         |       
         p
            | Mormons pursue genealogy for theological reasons.  They believe that helping the world
            | preserve its family records is a religious mandate.  &quot;That&apos;s why the Church spends big
            | bucks and has spent a lot of years  from 1836 on  bringing together records worldwide,&quot;
            | says Donald Jessee, manager of special projects for the LDS Church.
         |       
         p
            | This massive effort is based within the church&apos;s Family History
            | Library. With a collection of about eight billion names, the Library is the largest
            | collection of genealogical records in the world, and it&apos;s located in downtown Salt Lake City.
      |    
      .uk-width-medium-4-10
         figure
            img(src='images/library.jpg', height='396', width='352', alt='The LDS church Family History Library')
            | &#x9;&#x9;&#x9;
            p Members of the LDS church believe that genealogy is their sacred duty.
   +pod('Mining Utah&apos;s Past for Population Data')
      |    
      .uk-width-medium-6-10
         p
            | By the 1950s, geneticists began to take notice of Utah&apos;s collection of heredity data. In the 1970s, several
            | researchers in different disciplines  including cancer geneticist Mark Skolnick and
            | cardiovascular researcher Roger Williams  made an agreement with the Family History
            | Library and began collecting information that would aid them in their genetic research.
         | &#x9;&#x9;
         p
            | With the help of the LDS Church, the researchers culled records on people
            | who met very specific criteria: They were born, died, or married in Utah or on the Mormon
            | Pioneer Trail (a route the Mormons traveled from Illinois to Utah in the mid-1800s).
            | The researchers pulled records on about 170,000 families, which they added to the newly created
            | Utah Population Database (UPDB).
         |       
         p
            | Geri Mineau, former director of the UPDB, got involved with the project soon after
            | it began in the mid-1970s. She recalls having had a &quot;great relationship with the genealogy
            | library. They did copying for us and gave us stacks and stacks of pages. They were so
            | cooperative in letting us pull records.&quot;
         | &#x9;&#x9;
         p
            | The UPDB updates its records every year.
            | The original genealogical records on the 170,000 families have grown to include data
            | on over 7.3 million individuals.
         |       
         p
            | The UPDB includes records of people who were born as far back as the late 1700s. Some
            | of the families in the database include records for seven generations.
         |       
         p
            | So, why are these family histories important?  It might be fun to trace the lineage of
            | John Doe (to give a fictitious example), who, back in the days of Mormon polygamy,
            | migrated to Utah from Missouri with his three wives. Perhaps the wives all gave birth
            | on the Pioneer Trail, and the three branches of descendants have themselves branched
            | until Doe&apos;s grandchildren and great-grandchildren number in the many hundreds.
         | &#x9;&#x9;
         p
            | But as important as social history may be, there&apos;s more to it.  Although Doe&apos;s
            | genealogy records show how people are related, they don&apos;t tell researchers whether,
            | for example, Doe&apos;s wife suffered from Huntington Disease and passed it to her daughter,
            | who then passed it to her own son. To be meaningful for medical research, family
            | histories have to be linked to information about disease.
         | &#x9;&#x9;
         p
            | For some diseases, researchers have had to collect data manually.
            | They sit down with a family that has been affected by a particular hereditary disease,
            | and together they trace the incidence of the disease through past generations.
      |    
      .uk-width-medium-4-10
         figure
            img(src='images/updb.jpg', width='352', height='481', alt='The Utah Population Database')
            | &#x9;&#x9;&#x9;
            p
               | The Utah Population Database (UPDB) contains data on over 7.3 million individuals.
         | &#x9;&#x9;&#x9;
         | &#x9;&#x9;&#x9;
         | &#x9;&#x9;&#x9;
         | &#x9;&#x9;&#x9;
         .callout(style='font-size: 11px;')
            p(style='font-weight: bold; margin-bottom: 11px;') Polygamy in Utah: How common was it?
            | &#x9;&#x9;&#x9;&#x9;
            p
               | From 1852 until 1890, LDS Church leaders encouraged male members, especially those in leadership positions, to marry multiple
               | wives. However, the majority remained monogamous. Only about 30 percent of LDS families were polygamous.
            | &#x9;&#x9;&#x9;&#x9;
            p
               | There was also a great deal of variation by region. In 1880, 40 percent of women in Southern Utah were in plural marriages,
               | versus only 5 percent in the North.
            | &#x9;&#x9;&#x9;&#x9;
            p Of the LDS men who were polygamous, most married only two wives.
            | &#x9;&#x9;&#x9;&#x9;
            p The Church abolished the practice in 1890.
   +pod('Searching for the Family Origins of Cancer')
      |    
      .uk-width-medium-4-10
         p
            | When it comes to tracing the hereditary patterns of cancer, genetic researchers in
            | Utah have discovered a more sophisticated tool.  Since 1966, the Utah Cancer Registry
            | has documented all cancer cases in the state. Scientists can link this remarkable
            | storehouse of medical information with the genealogy records in the UPDB, and 
            | voila!  they can identify cases where a particular cancer &quot;runs in the family.&quot;
         |       
         p
            | &quot;That would make us very suspicious that there is a version of a gene within
            | that extended family that is predisposing people to cancer,&quot; says Gesteland &quot;So we&apos;d
            | get blood samples from the family, from both affected and unaffected folks. And by
            | analyzing the DNA, see if there is some gene that is inherited in the same pattern
            | through the family as the cancer is. Then we can focus on that particular gene,
            | looking at larger populations.&quot;
         | &#x9;&#x9;&#x9;
         p
            | The Utah Cancer Registry and the UPDB genealogy records have about a million records in
            | common, and they are available to researchers.
         |             
         p
            | Using the information from UPDB in combination with genealogical and medical records, University of Utah researchers have identified genes that contribute to more than 30 diseases, including breast cancer, heart disease, melanoma, and colon cancer. Among the identified genes is a form of FAP that is associated with a severe, inherited form of colon cancer. The gene defines a new syndrome, contribute to thousands of cases of colon cancer each year.
      |    
      .uk-width-medium-6-10
         figure
            img(src='images/blood.jpg', width='352', height='300', alt='Collection of blood samples')
            | &#x9;&#x9;&#x9;
            p
               | To determine if a particular disease is hereditary, DNA
               | samples are collected from affected and unaffected members of a family.
         |        
         figure
            img(src='images/randyburt.jpg', width='352', height='464', alt='Colon Cancer Mutation Map')
   +pod('What Makes Utah Families Unique?')
      |    
      .uk-width-medium-6-10
         p
            | Not only do LDS church members take an unusually intense interest in genealogy&mdash;they also have a strong propensity to multiply. In Utah, families with five or more children are common.
         p
            | As Mineau puts it, &quot;You can&apos;t do genetics if people just have one child.&quot; Because of the way genes are passed down from generation to generation, not every child of an affected parent will inherit a particular disease. When scientists are looking for genes transmitted across generations, they are much more likely to find evidence of the disease gene in a family with five or seven children.
         p
            | Women in Utah also tend to give birth at a relatively young age, which means that there are more generations of family within a shorter time span. And Mormons, on average, live 5 (for women) to nearly 10 (for men) years longer than the general population. Shorter generation times and longer lifespans mean that more generations of family members are available to give DNA samples.
         p
            | When researchers look for disease genes, they compare DNA sequences from people with and without the disease. They look for segments of DNA that people with the disease have in common and that healthy family members lack. Larger families that represent more generations give researchers access to more genetic data, increasing their chances of finding the genetic basis for a disease.
         p
            | The information works in the other direction, too. Once a disease gene has been found, researchers can use genealogy and genetic testing to identify family members who have the gene, and target them for early screening.
      |    
      .uk-width-medium-4-10
         figure
            img(src='images/family.jpg', width='352', height='352', alt='Scientists are more likely to find evidence of a disease gene in families with more than five children.')
            | &#x9;&#x9;&#x9;
            p
               | Scientists are more likely to find evidence of a disease
               | gene in families with more than five children.
   hr
   | &#x9;
   | &#x9;&#x9;
   +pod('')
      h2
         span Clean and Homogenous Living
      |    
      .uk-width-medium-6-10
         p
            | Utah residents live longer in part because the LDS Church discourages smoking and drinking&mdash;two factors that contribute to disease. And, as Gesteland says, environmental factors are more constant in Utah. The population is more homogenous than most other states, and the majority of Utah residents are of Western European descent, with an especially large Scandinavian population. Within these large cultural groups, people tend to eat similar diets and lead similar lifestyles.
         p
            | Although such homogeneity may sound unexciting, it&apos;s actually quite thrilling for genetic researchers. It means they can more easily separate genetic influences from other, lifestyle-related causes of illness.
         p
            | Deborah Neklason, an instructor in the University of Utah&apos;s Department of Oncological Sciences, says the fact that so few Mormons smoke is a really big deal. &quot;Cigarette smoking is a large factor in colon cancer. So when we look at these families for colon cancer, we can kind of rule out some of that cancer caused by environmental factors. We know we&apos;ve got a much cleaner data set.&quot;
         p
            | The &quot;No Smoking&quot; rule in Utah&apos;s LDS population may have been a factor in the success of a major genetic study looking for genes associated with nicotine addiction. Since the predominant culture in Utah discourages smoking, those who do smoke may be responding to the biochemistry of a truly addictive nature, rather than to societal pressure, Gesteland explains. In other parts of the country, social pressure may be the dominant effect encouraging smoking. But in Utah, smokers must be willing to defy social norms. And some of that defiance may be written in their genes: the study confirmed that several genetic variations correlate with certain smoking behaviors, and they identified one genetic variation that was especially common in people who start smoking before age 17.
      |    
      .uk-width-medium-4-10
         figure
            img(src='images/smoking.jpg', width='352', height='352', alt='In 2012, Utah ranked lowest in smoking prevalence in the US.')
            | &#x9;&#x9;&#x9;
            p
               | For decades, Utah ranked lowest in smoking prevalence in the
               | US. As of 2012 only 10.6 percent of adult men and women smoke.
   hr
   | &#x9;&#x9;&#x9;
   +pod('')
      h2
         span Utah Genome Project
      |    
      .uk-width-medium-6-10
         p
            | Launched in 2012, the Utah Genome Project is an ambitious initiative to sequence and analyze the whole genomes of 2,500 individuals who are at a high risk of contracting certain diseases.
         p
            | Now that researchers have sequenced the first human genome and identified most inherited disorders caused by single genes&mdash;which are actually quite rare&mdash;they are turning their attention to diseases influenced by multiple genes and the environment. Unlike rare single-gene disorders, so-called complex diseases&mdash;including heart disease, diabetes, obesity, and most cancers&mdash;touch the lives of nearly everyone.
         p
            | The Utah Genome project aims to use its genome data to better understand the genetic underpinnings of disease, responses to drug therapies, and interactions between genes and environmental factors. The long-term aim is to apply this understanding to disease prevention, diagnosis, and treatment.
      |    
      .uk-width-medium-4-10
         figure
            img(src='images/genome.jpg', width='352', height='142', alt='The Utah Genome Project was launched in 2012')
            | &#x9;&#x9;&#x9;
            p The Utah Genome Project was launched in 2012
   +pod('Generous Contributions')
      |    
      .uk-width-medium-6-10
         p
            | Utah has given genetics researchers plenty of useful data.   But one of the primary
            | reasons genetics research excels in Utah is the state&apos;s extremely helpful and cooperative
            | populace. Researchers tell of being invited to huge family reunions and setting up a
            | booth where family members eagerly sign consent forms and give blood samples, behaviors
            | Gesteland calls &quot;typical in Utah and unheard of in other places.&quot; Mineau describes a
            | well-educated population that understands medical research and the importance of participating.
            | And Neklason raves that Utah residents are &quot;interested in research.  We have one of the highest
            | participation rates in the country in research, because they take a vested interest in their
            | family and medicine and the future of medicine.&quot;
         | &#x9;&#x9;
         p
            | In Utah, science doesn&apos;t merely exist. It prospers. And for geneticists, the state has
            | proven a generous beneficiary with a wealth of scientific data to contribute.
      |    
      .uk-width-medium-4-10
         figure
            img(src='images/genealogy.jpg', width='352', height='344', alt='Family history')
   | &#x9;
   br
   | &#x9;
   a.togglelink Additional Resources
   |        
   .togglediv
      p
         a(href='http://www.familysearch.org/') Family History Library
      |          
      p
         a(href='http://healthsciences.utah.edu/phc/projects/utah_genome_project.php') Utah Genome Project
      | &#x9;&#x9;&#x9;
      p
         a(href='http://www.hci.utah.edu/groups/ppr/') Utah Population Database
      | &#x9;&#x9;&#x9;
      p
         a(href='http://www.uuhsc.utah.edu/ucr/') Utah Cancer Registry
      | &#x9;&#x9;&#x9;
      p
         a(href='http://www.genetics.utah.edu/') Eccles Institute of Human Genetics
   | &#x9;&#x9;&#x9;
   .clear
   .uk-width-medium-6-10
      +bottom-menu("",'sepagsep')
   | &#x9;&#x9;&#x9;
   
   
