+minipod('What is breast cancer and ovarian cancer?')

   .uk-width-medium-6-10
      p
         | Cells normally grow and divide just enough to grow or to replace damaged tissue.
         | But sometimes the mechanisms that regulate cell growth stop working and cells divide out of control.
         | This out-of-control growth is called cancer.  Cancer that develops in breast or ovarian tissue is called breast
         | or ovarian cancer, respectively.
      | &#x9;&#x9;
      | &#x9;&#x9;
      img(src='brca/images/BRCA_chromosome.jpg', alt='BRCA Chromosome', width='246', height='202', style='float: left; padding: 5px 20px 10px 0px;')
      p
         | Most people who develop breast or ovarian cancer have no history of the disease in their family.
         | In fact, only 5 to 10 percent of all breast and ovarian cancers are caused by inherited genetic factors.
         | These rare cases typically result from inherited mutations in either the BRCA1 or BRCA2 gene.
      | &#x9;&#x9;
      | &#x9;&#x9;
      p
         | BRCA1 and BRCA2 are called tumor suppressor genes, because they control cell growth.
         | BRCA1 is located on chromosome 17, and BRCA2 on chromosome 13.  Scientists believe BRCA1 and BRCA2
         | work by fixing damaged or broken DNA.  Women who inherit a mutated copy of the BRCA1 or BRCA2 gene accumulate
         | broken and deformed chromosomes, and therefore have a greater chance of accumulating mutations that will lead
         | to uncontrolled cell growth and cancer.  Men who inherit the defective genes are also more likely to develop
         | breast and/or prostrate cancer.  (Yes, men can get breast cancer.)
   |    
   .uk-width-medium-4-10
      img(src='brca/images/cancer.jpg', alt='Cancer', width='200', height='290')
+minipod('How do people get breast or ovarian cancer?')
   |    
   .uk-width-medium-6-10
      p
         | High-risk families include those whose members carry a mutation in either the BRCA1 or BRCA2 gene.
         | The mutated BRCA1 and BRCA2 genes are inherited in an autosomal dominant pattern.  A child needs
         | to inherit just one copy of the mutated gene to have an increased cancer risk.  Children who have a parent
         | with a BRCA1 or BRCA2 mutation have a 1 in 2 chance of inheriting the mutation.
      | &#x9;&#x9;
      | &#x9;&#x9;
      | &#x9;&#x9;
      p
         | Just because a person inherits the defective gene does not mean he or she will develop cancer,
         | but inheritance greatly increases the risk.  Out of every 100 women who inherit a mutated BRCA1 or BRCA2 gene,
         | as many as 60 will develop breast cancer by age 50; by age 70, approximately 80 will develop breast cancer.
      | &#x9;&#x9;
      | &#x9;&#x9;
      h3 How do doctors test for BRCA1 and BRCA2 mutations?
      | &#x9;&#x9;
      | &#x9;&#x9;
      p
         | A person with a strong family history of breast or ovarian cancer is a candidate for genetic screening.
         | By analyzing a sample of the patient&apos;s blood, doctors can identify whether the person has inherited a
         | BRCA1 or BRCA2 mutation. The test cannot tell if or when the person will develop breast or ovarian cancer;
         | it can only tell if he or she is at risk because of the faulty gene.
   |    
   .uk-width-medium-4-10
      img(src='brca/images/autosomal-dominant.jpg', alt='Autosomal Dominant', width='352', height='280')

+minipod('What can a woman do if she inherits these mutations?')

   .uk-width-medium-6-10
      p
         | Some women who discover that they&apos;ve inherited a mutated BRCA1 or BRCA2 gene undergo special treatments
         | to protect themselves from breast and ovarian cancer.  They can start having mammograms at a younger age to screen for abnormal cell growth in the breasts (most women start having mammograms at age 40).
      | &#x9;&#x9;
      | &#x9;&#x9;
      p
         | They may choose to have their breasts and/or ovaries removed, even before cancer begins.  And they may take the medicine tamoxifen, which is believed to protect against breast cancer.
   |    
   .uk-width-medium-4-10

+minipod('Interesting facts about breast and ovarian cancer')

   .uk-width-medium-4-10
      p
         | The progression from a benign to a malignant cancer typically requires multiple mutations that allow
         | cells to acquire new and abnormal characteristics, such as an increased growth rate, inability to adhere
         | or stick to neighboring cells, propensity to migrate to other places in the body, etc.  Genes involved in
         | the repair of DNA damage (such as BRCA1 and BRCA2) are often associated with cancer.
         | This is because they allow mutations to accumulate at a much faster rate.
      | &#x9;&#x9;
      | &#x9;&#x9;
      p
         | Usually, people inherit one of several hundred different mutations of the BRCA1 and BRCA2 genes.
         | But for some reason, Eastern European (Ashkenazi) Jews seem to inherit only three of these different mutations.
         | Ashkenazi Jews are also 10 times more likely to have mutations in the BRCA1 and BRCA2 genes than any other ethnic group.
   |    
   .uk-width-medium-6-10
      +well
         h3 More information on breast cancer
         br
         a(href='http://www.cancer.org/docroot/cri/content/cri_2_4_1x_what_is_breast_cancer_5.asp?sitearea=cri') American Cancer Society
         br
         a(href='http://www.breastcancer.org/') BreastCancer.org
         br
         a(href='http://healthcare.utah.edu/huntsmancancerinstitute/cancer-information/cancer-types-and-topics/breast-cancer.php') University of Utah: General Information about Breast Cancer
         br
         a(href='http://cancer.gov/cancerinfo/wyntk/breast') National Cancer Institute
         br

      +well
         h3 More information on ovarian cancer
         br
         a(href='http://www.cancer.org/cancer/ovariancancer/index') American Cancer Society
         br
         a(href='http://www.cancer.gov/cancertopics/types/ovarian') National Cancer Institute
         br
         a(href='http://www.ovarian.org/') National Ovarian Cancer Coalition
         br
         a(href='http://healthcare.utah.edu/huntsmancancerinstitute/cancer-information/cancer-types-and-topics/ovarian-cancer.php') University of Utah: Ovarian Cancer
