extends /shared/modal
block modal-content

   .uk-width-1-1
      p
         | In this experiment, meat tenderizer acts as an enzyme to cut proteins just like a pair of scissors.
      | &#x9;
      img(src='enzyme/images/Tender1.jpg', alt='The enzyme cuts proteins', width='407', height='205')
      | &#x9;
      img(src='enzyme/images/Tender2.jpg', alt='The DNA in the nucleus of the cell is molded, folded, and protected by proteins.', width='676', height='589')
      | &#x9;
      p
         | The DNA in the nucleus of the cell is molded, folded, and protected by proteins.
      | &#x9;
      p
         | The meat tenderizer cuts the proteins away from the DNA.
   
