extends /shared/layout
block content
   +pageTitle
   +pod('Cotton comes from a plant')
      .uk-width-medium-4-10
         p
            | Cotton is the most widely produced natural fiber on the planet. Other natural fibers include silk, made from the cocoons of silkworms; wool, made from the fur of sheep or alpacas; and linen, made from fibers in the stems of flax plants.
         
         p
            | Cotton fibers come from cotton plants. Specifically, they grow from the seed coat—the outer layer of the cotton plant's seeds. Before they can be turned into sheets or t-shirts, the cotton seeds must first be separated from the plant, and then the fibers from the seeds.
            
      .uk-width-medium-6-10
         figure
            img(src='images/1-cotton-stages.jpg' alt='Cotton Stages')
            p Stages of cotton flower and fruit formation: 1. Flower bud; 2. Flower; 3. Developing seed pod; 4. Seed pod dries and opens, revealing mature cotton fibers.


   +pod('Cotton fibers are cells')
      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='images/2-cotton-EM.jpg' alt='Cotton Cells')
            p Cotton fibers begin to form soon after the flower opens (Day 1). Even then, they are visible as enlarged, single cells on the surface of the developing seed. By day 3, the fibers have already begun to lengthen. By day 60, they have reached their full length, and they are dry and ready to harvest. Individual fibers can be seen in woven cotton fabric (lower right). 
            
            p Images used with permission: seeds and insets modified from Stewart (1975); mature fibers from Beasley (1975); woven fabric provided by...
      
      .uk-width-medium-4-10
         p
            | If you look closely at your cotton jeans, cotton socks, or a cotton ball, you'll see very fine, hair-like fibers. Each cotton fiber is a single cell. Most types of cells are so tiny that you need to use a powerful microscope to see them. But cotton fibers are easily visible to the naked eye, reaching lengths of up to 2 inches (5 cm). In fact, the fibers from domesticated cotton are the longest cells of any plant. 

         p
            | Cotton fibers achieve most of their great length in a mere 30 days. They begin as tiny cells in the fertilized cotton flower. A month or so later, they fill the maturing seed pods to the point of bursting.

         p
            | To make threads for fabric, individual fibers are overlapped and twisted around each other. Longer fibers are more valuable than short ones, because they require less overlap and can therefore be woven into finer threads. Thinner and finer threads can be used to make fabrics with a higher thread count—a greater number of threads per square inch of fabric. High thread-count fabrics are considered fine linens, so they cost more than other fabrics that are less fine and airy.
            



   +pod('Cotton fibers are made of carbohydrates')
      .uk-width-medium-4-10
         p
            | Different types of fibers are made up of different types of molecules. Most animal fibers are made of proteins. Synthetic fibers, such as nylon and polyester, are made of long chains of hydrocarbons, usually manufactured from crude oil. Cotton, like most other plant fibers, is made of a carbohydrate called cellulose. 

         p
            | Cellulose is a polymer made up of glucose, a type of sugar. Glucose is made in the leaves of the cotton plant, which are filled with bright green chloroplasts. Chloroplasts carry out the process of photosynthesis: they harness energy from sunlight to turn carbon dioxide (from the air) and water into glucose. 

         p
            | Glucose travels to maturing cotton fiber cells, where enzymes link many glucose molecules together to make cellulose. Cellulose is a major component of the cell walls that surround all plant cells. Cotton fibers are more or less the dried-out remains of extraordinarily long and thick cell walls. 

         +well
            p
               | Cotton plants make fibers out of thin air! Most of a cotton fiber's mass originates as carbon dioxide. Carbon dioxide, of course, is a greenhouse gas. Your cotton towels, sheets, and t-shirts are not only useful in their own right, they also keep several pounds of carbon dioxide out of the atmosphere.
            
      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='images/3-polymers.jpg' alt='Cotton Carbohydrates')
            p Fibers are made from multiple monomers (amino acids for silk, or glucose for cotton) that are put together to make polymers. (silk graphic based on PDB entry 3ua0)


   +pod('Cotton is the product of genes')
      .uk-width-medium-5-10
         p
            | As a product of biology, cotton fibers contain the stuff of cells—including a nucleus filled with DNA. In other words, your jeans have genes. Lots of them, in fact. Each cotton fiber holds a copy of the entire cotton genome.

         p
            | As with any specialized cell type, cotton fiber cells use just a fraction of the genes that they hold. Genes that control things like petal development, root growth, and stem strength are turned "off" in fiber cells, and no protein is made from them. But the genes that are important for fiber formation are turned "on." When a gene is "on," it is transcribed into mRNA, which is in turn translated to make protein. The proteins then carry out the work of the cell.

         p
            | Many of the genes that are active in cotton fiber cells code for "housekeeping" proteins, which carry out the basic functions common to all cell types. Other active genes are specific to cotton fiber formation. For example, during the early "lengthening" phase of cotton fiber growth, the enzyme peroxidase makes chemicals that loosen the plant cell wall so that it can be expanded and lengthened. Later, the enzyme cellulose synthase builds cellulose, which thickens the cell wall.
            
      .uk-width-medium-5-10
         figure
            img(src='images/4-microarray.jpg' alt='Microarray')
            p Using tools like microarray analysis, researchers can learn which genes are switched on and off in different tissues over time (image courtesy Udall lab).
            
   +pod('Variations in genes give cotton different characteristics')
      .uk-width-medium-6-10
         figure
            img(src='images/5-fiber-color.jpg' alt='Fiber Color')
            p Cotton plants with two copies of a certain genetic variation make brown fibers that are also flame resistant (top left). When this plant is bred with one that makes white fibers (top right), the offspring make fibers intermediate in color and flame resistance (middle). Below, genetic variations cause cotton plants to make fibers that are green, red, brown, or white. (Images courtesy Doug Hinchliffe, USDA-ARS-SRRC)
      
      .uk-width-medium-4-10
         p Different strains or types of cotton have different characteristics. Many of these differences arise from variations in genes. 

         p As with all organisms, cotton plants pass copies of their genes to their offspring. Since cotton reproduce sexually, cotton offspring receive two copies (or alleles) of every gene—one from each parent. The combination of alleles they receive influences their traits.

         p Variations in genes affect fiber length, amount, quality, and as shown in the photos, color and fire resistance. Scientists are interested in studying the genes that influence these and other fiber and plant characteristics so that they can develop new varieties of cotton.
         
         +well
            p
               | For a refresher on DNA, genes, and proteins, visit 
               a(href="/content/basics/") Basic Genetics
               | .
            
            
   +references
      p Beasley, C.A. (1975). Developmental morphology of cotton flowers and seed as seen with the scanning electron microscope. American Journal of Botany, 62:6, 584-592. 

      p Hinchliffe, D.J., Condon, B.D., Thyssen, G., Naoumkina, M., Madison, C.A., Reynolds, M., Delhom, C.D., Fang, D.D., Li, P. &amp; McCarty, J. (2016). The GhTT2_A07 gene is linked to the brown colour and natural flame retardancy phenotypes of Lc1 cotton (Gossypium hirsutum L.) fibres. Journal of Experimental Botany, 67:18, 5461-5471. doi: 10.1093/jxb/erw312

      p Mansoor, S. &amp; Paterson, A.,H. (2012). Genomes for jeans: cotton genomics for engineering superior fiber. Trends in Biotechnology, 30:10, 521-527. doi: 10.1016/j.tibtech.2012.06.003

      p Stewart, J.M. (1975). Fiber initiation of the cotton ovule (Gossypium hirsutum). American Journal of Botany, 62:7, 723-730.
