extends /shared/layout
block content
   +pageTitle
   +pod('What Is Imprinting?')
      .uk-width-medium-5-10
         p
            | For most genes, we inherit two working copies -- one from mom and one from dad. But with imprinted genes, we inherit only one working copy. Depending on the gene, either the copy from mom or the copy from dad is epigenetically silenced. Silencing usually happens through the addition of methyl groups during egg or sperm formation.
         p
            | The epigenetic tags on imprinted genes usually stay put for the life of the organism. But they are reset during egg and sperm formation. Regardless of whether they came from mom or dad, certain genes are always silenced in the egg, and others are always silenced in the sperm.
      |    
      .uk-width-medium-5-10
         img(src='images/ImprintingIllus.jpg', width='374', height='715')
   +pod('Imprinted Genes Bypass Epigenetic Reprogramming')
      |    
      .uk-width-medium-6-10
         p
            | Soon after egg and sperm meet, most of the epigenetic tags that activate and silence genes are stripped from the DNA. However, in mammals, imprinted genes keep their epigenetic tags. Imprinted genes begin the process of development with epigenetic tags in place.
         p
            | Imprinted genes are not the only genes that bypass epigenetic reprogramming in the early embryo. Studying imprinting may help researchers understand how other genes make it through reprogramming without losing their epigenetic tags.
         p
            a(href='../inheritance/') LEARN MORE: EPIGENETICS AND INHERITANCE
      |    
      .uk-width-medium-4-10
         img(src='images/AnimalsAndFlowers.jpg', width='290', height='105')
         |     
         p.uk-text-small
            | Imprinting is unique to mammals and flowering plants. In mammals, about 1% of genes are imprinted.
   +pod('Imprinting is required for normal development')
      .uk-width-medium-6-10
         p
            | An individual normally has one active copy of an imprinted gene. Improper imprinting can result in an individual having two active copies or two inactive copies. This can lead to severe developmental abnormalities, cancer, and other problems.
         p
            | Prader-Willi and Angelman syndrome are two very different disorders, but they are both linked to the same imprinted region of chromosome 15. Some of the genes in this region are silenced in the egg, and at least one gene is silenced in the sperm. So someone who inherits a defect on chromosome 15 is missing different active genes, depending on whether the chromosome came from mom or dad.
      |    
      .uk-width-medium-4-10
         p
            strong Prader-Willi syndrome
            |  
            br
            | &bull; Symptoms include learning difficulties, short stature, and compulsive eating.
            br
            | &bull; Individuals are missing gene activity that normally comes from dad.
            br
            | &bull; Happens when dad&apos;s copy is missing, or when there are two maternal copies.
         p
            strong Angelman syndrome
            |  
            br
            | &bull; Symptoms include learning difficulties, speech problems, seizures, jerky movements, and an unusually happy disposition.
            br
            | &bull; Individuals are missing gene activity that normally comes from mom.
            br
            | &bull; Happens when mom&apos;s copy is defective or missing, or when there are two paternal copies.
   +pod('The Difficulty of Cloning Mammals')
      .uk-width-medium-6-10
         p
            | Mammals are notoriously difficult to clone. Researchers often need to go through the cloning procedure dozens or even hundreds of times in order to produce a single healthy clone. The epigenome, including problems with imprinted genes, is likely to be at the root of this difficulty.
         p
            | The most common method of cloning is called somatic cell nuclear transfer (SCNT). SCNT involves removing a donor nucleus from a non-reproductive cell (often a skin cell or mammary cell) and placing it into an egg cell that has had its nucleus removed.
         p
            | Clones have abnormal epigenomes, which can lead to a variety of problems. The epigenetic problems with clones likely arise for two reasons. First, the donor nucleus comes from a differentiated cell with epigenetic tags already in place. These tags keep genes switched on or off and allow the cell to perform its responsibilities. After the donor nucleus is transferred, the egg does its best to erase the epigenetic tags. But the process is faulty, delayed and incomplete.
         p
            | Second, the epigenetic tags in the donor nucleus have been copied several times over. While the machinery that copies the DNA code is faithful (it makes about one error in half a billion), the epigenetic copying machinery is sloppy. In some cases, its error rate can be as high as 1 in 25. Miscopied  epigenetic tags on even a very small number of imprinted genes in the donor nucleus could have serious consequences during the development of the resulting embryo.
      |     
      .uk-width-medium-4-10
         img(src='images/10-dolly.jpg', width='352', height='263', alt='Dolly')
         |        
         p.uk-text-small
            | Dolly the sheep was the first mammal to be cloned by somatic cell nuclear transfer (SCNT).  Learn more about SCNT in 
            a(href='/content/cloning/clickandclone/') Click and Clone
   +pod('Why Imprint? The Genetic Conflict Hypothesis') 
      .uk-width-medium-6-10
         img(src='images/MouseIGF2.jpg', width='488', height='405', alt='Mouse')
      |    
      .uk-width-medium-4-10
         p
            | Scientists have come up with a number of hypotheses to explain why imprinting happens in mammals. One of these, the Genetic Conflict hypothesis, supposes that imprinting grew out of a competition between males for maternal resources.
         p
            | In some species, more than one male can father offspring from the same litter. A house cat, for example, can mate more than once during a heat and have a litter of kittens with two or more fathers. If one father&apos;s kittens grow larger than the rest, his offspring will be more likely to survive to adulthood and pass along their genes. So it&apos;s in the interest of the father&apos;s genes to produce larger offspring. The larger kittens will be able to compete for maternal resources at the expense of the other father&apos;s kittens.
         p
            | On the other hand, a better outcome for the mother&apos;s genes would be for all of her kittens to survive to adulthood and reproduce. The mother alone will provide nutrients and protection for her kittens throughout pregnancy and after birth. She needs to be able to divide her resources among several kittens, without compromising her own needs.
         p
            | It turns out that many imprinted genes are involved in growth and metabolism. Paternal imprinting favors the production of larger offspring, and maternal imprinting favors smaller offspring. Often maternally and paternally imprinted genes work in the very same growth pathways. This conflict of interest sets up an epigenetic battle between the parents -- a sort of parental tug-of-war.

   +pod('Beckwith-Wiedemann Syndrome')
      .uk-width-medium-6-10
         p
            | The Igf2 gene (but not the Igf2 receptor gene) is also imprinted in humans. The Igf2 gene codes for a hormone that stimulates growth during embryonic and fetal development. Methyl tags normally silence the maternal Igf2 gene. But a DNA mutation or an &quot;epimutation&quot; (missing methyl tags) can activate it, resulting in two active copies of the gene.
         p
            | Activation of the maternal Igf2 gene during egg formation or very early in development causes Beckwith-Wiedemann Syndrome (BWS). While children with BWS have a variety of symptoms, the most common and obvious feature is overgrowth. Babies with BWS are born larger than 95% of their peers. They also have an increased risk of cancer, especially during childhood.
         p
            | BWS occurs once in about 15,000 births. However, in babies that were conceived in the laboratory with the help of artificial reproductive technology (ART), the rate of BWS may be as high as 1 in 4,000. This and other evidence of imprinting errors is prompting some to call for further investigation into the safety of common ART laboratory procedures.
   +pod('Ligers and Tigons')
      .uk-width-medium-6-10
         p
            | Imprinted genes are under greater selective pressure than normal genes. This is because only one copy is active at a time. Any variations in that copy will be expressed. There is no &quot;back-up copy&quot; to mask its effects. As a result, imprinted genes evolve more rapidly than other genes. And imprinting patterns -- which genes are silenced in the eggs and sperm -- also evolve quickly. They can be quite different in closely related species.
         p
            | Lions and tigers don&apos;t normally meet in nature. But they can get along very well in captivity, where they sometimes produce hybrid offspring. The offspring look different, depending on who the mother is. A male lion and a female tiger produce a liger - the biggest of the big cats. A male tiger and a female lion produce a tigon, a cat that is about the same size as its parents.
         p
            | The difference in size and appearance between ligers and tigons is due in part to the parents&apos; differently imprinted genes. Other animals can also hybridize, with similar results. For example, a horse and a donkey can produce a mule or a hinny.
      .uk-width-medium-4-10
         img(src='images/LionTiger.jpg', alt='Lions and Tigers', width='350', height='216')
         p.uk-text-small
            | Imprinting patterns often differ even in closely related animals such as tigers and lions.
   +pod('Imprinted Genes are Sensitive to Environmental Signals')
      .uk-width-medium-4-10
         img(src='images/environment.jpg', width='350', height='168')
      |    
      .uk-width-medium-6-10
         p
            | Imprinted genes are especially sensitive to environmental signals. Because imprinted genes have only a single active copy and no back-up, any epigenetic changes or &quot;epimutations&quot; will have a greater impact on gene expression.
         p
            | Environmental signals can also affect the imprinting process itself. Imprinting happens during egg and sperm formation, when epigenetic tags are added to silence specific genes. Diet, hormones and toxins can all affect this process, impacting the expression of genes in the next generation.
      +references
         p
            | Jaenisch, R. (1997). 
            a(href='http://www.cell.com/trends/genetics/abstract/S0168-9525(97)01180-3 ') DNA methylation and imprinting: why bother?
            |  Trends in Genetics, 13 (8): 323-329 (subscription required).
         p
            | Murrell, A. et al. (2008). 
            a(href='http://www.plosone.org/article/info:doi/10.1371/journal.pone.0001849')
               | Distinct methylation changes at the IGF2-H19 locus in congenital growth disorders and cancer
            | . PLoS One, 3 (3): e1849)
         p
            a(href='http://www.geneimprint.com/') geneimprint
            |  - Information about imprinting and a running list of imprinted genes in mouse and humans
         p
            a(href='http://news.bio-medicine.org/biology-news-3/Imprinting-disorders-and-ART--worlds-largest-study-results-are-reassuring-11276-1/') Imprinting disorders and ART: world&apos;s largest study results are reassuring
            | . Bio-Medicine Online article summarizing a research study of Beckwith-Wiedemann Syndrome and Artificial Reproductive Technology.
         p
            | Bowdin, S. et al. (2007). 
            a(href='http://humrep.oxfordjournals.org/cgi/content/full/dem268v1') A survey of assisted reproductive technology births and imprinting disorders
            | . Human Reproduction, 22 (12): 3237-3240.
   
   
