+minipod('What is Cri-du-Chat Syndrome?') 
   .uk-width-medium-4-10
      p
         | Cri-du-chat is French for "cry of the cat," referring to the distinctive cry of children with this condition. The cry is caused by the way the larynx (voice box) develops, one of the features associated with this disorder. It usually becomes less noticeable as the baby gets older, making it harder for doctors to identify Cri-du-chat after age two. 
      p
         | People with Cri-du-chat syndrome have a deletion in one of their copies of chromosome 5. The size of the deletion can vary.
   .uk-width-medium-6-10
      figure
         img(src='cdc/images/cri-du-chat.jpg')
         p The deleted region in Cri-du-Chat syndrome has many genes—on the order of several dozen to hundreds. For some of these genes, because there is just one copy of the gene instead of two, people with Cri-du-Chat cannot make enough of the proteins the genes code for. The functions of these proteins contribute to the features of the syndrome.
+minipod('Features and Symptoms')
   .uk-width-medium-3-10
      figure
         img(src='cdc/images/criduchat_person.jpg', alt='Cri-du-Chat Person')
         p A child with Cri-du-chat syndrome
      +well
         | To learn more about telomeres, visit 
         a(href='/content/basics/telomeres') Are Telomeres the Key to Aging and Cancer
   .uk-width-medium-6-10    
      p
         | The features of Cri-du-chat syndrome can vary. They depend in part on how much of chromosome 5 is deleted. Babies with Cri-du-chat are usually small at birth, and they may have problems with their lungs. Often, the larynx doesn't form correctly, which causes the signature cat-like cry.
      p
         | People who have Cri-du-chat tend to have distinctive facial features. They may have a small head (microcephaly), a round face, a small chin, widely set eyes, folds of skin over their eyes, and a small bridge of the nose.
      p
         | There can be effects inside the body, as well. Children can have problems with their heart, muscles, bones, hearing, or vision. Most have low muscle tone. As they grow, people with Cri-du-chat usually have difficulty walking and talking. They may have behavior issues, such as hyperactivity or aggression. Most have severe intellectual disability. If there are no major medical problems, life expectancy is about average.
      p
         | One of the commonly deleted genes in people with this syndrome is TERT (telomerase reverse transcriptase). This gene codes for a protein that helps to keep the tips of chromosomes (telomeres) intact. Other key genes are important for the formation of the throat, larynx, face, and brain. 


+minipod('Interesting facts about cri-du-chat syndrome')
   .uk-width-medium-6-10
      p
         | The geneticist Jerome Lejeune identified Cri-du-chat syndrome in 1963. He also discovered the genetic basis of Down syndrome.
      p
         | Cri-du-chat is one of the most common syndromes caused by a chromosomal deletion. It affects between 1 in 20,000 and 1 in 50,000 babies.
      p
         | In 80 percent of cases, the chromosome carrying the deletion comes from the father's sperm rather than the mother's egg.
      p
         | If neither parent carries a balanced translocation, it is highly unlikely that they will have a second child with this or any chromosomal deletion.

   .uk-width-medium-4-10
      +well
         h3 More Information
         a(href='http://www.fivepminus.org/', target='blank') 5 P Minus Society
         br
         a(href='https://ghr.nlm.nih.gov/condition/cri-du-chat-syndrome', target='blank') Genetics Home Reference, from the US National Library of Medicine: Cri-du-chat syndrome 

   +references
      p Wu, Q., Niebuhr, E., Yang, H., &amp; Hansen, L. (2005). Determination of the ‘critical region’for cat-like cry of Cri-du-chat syndrome and analysis of candidate genes by quantitative PCR. European journal of human genetics, 13(4), 475-485. https://www.nature.com/articles/5201345

         
