extends /shared/layout

block content
   +pageTitle   
   +pod('') 
      .uk-width-medium-6-10
         p
            | It takes a team effort not only to make genetic discoveries, but also to translate them into products and practices that can help patients. And the University of Utah has shown that it has the right people and the necessary assets to make this happen.
         p
            | Follow the links below to learn more.
         figure
            img(src="images/1-dere.jpg" alt="Dr. Willard H. Dere")
            p Willard H. Dere, M.D., leads the University of Utah's Program in Personalized Health.
      .uk-width-medium-4-10
         +well
            p
               | To bring cutting-edge research to patients, experts in multiple fields must collaborate to find solutions. The following stories illustrate how University of Utah professionals have done just that.

            p
               | Algorithms for Innovation, University of Utah Health Sciences (2014): 
               a(href='https://uofuhealth.utah.edu/innovation/algorithms/2014/dna/', target='_blank') Outlive your family history

            p
               | Case study: 
               a(href='https://uofuhealth.utah.edu/innovation/algorithms/2014/dna/knowledge-is-power.php', target='_blank') Knowledge is power

            p
               | Case study: 
               a(href='https://uofuhealth.utah.edu/innovation/algorithms/2014/dna/bedside-bench-andback.php', target='_blank') From bedside to bench and back again
            
   +pod('Research') 
      .uk-width-medium-6-10
         p. 
            The University of Utah has a diverse and highly collaborative research community. Key resources for research at the University of Utah include the following: 
         |         
         ul
            li
               a(href='http://healthsciences.utah.edu/research/', target='_blank') Health Sciences Center
            li
               a(href='http://www.genetics.utah.edu', target='_blank') Department of Human Genetics
            li
               a(href='http://medicine.utah.edu/population-health-sciences/', target='_blank') Department of Population Health Sciences
            li
               a(href='http://healthcare.utah.edu/huntsmancancerinstitute/research/', target='_blank') Huntsman Cancer Institute 
               | and the 
               a(href='http://medicine.utah.edu/oncsci/', target='_blank') Department of Oncological Sciences
            li
               a(href='http://pharmacy.utah.edu', target='_blank') College of Pharmacy 
               | (with 4 departments) 
            li
               a(href='http://healthcare.utah.edu/huntsmancancerinstitute/research/updb/', target='_blank') Utah Population Database
            li
               a(href='http://healthcare.utah.edu/clinicaltrials/', target='_blank') Clinical trials  
               
      .uk-width-medium-4-10 
         figure
            img(src="images/2-research.jpg" alt="Research")
               
   +pod('Hospitals & patient services') 
      .uk-width-medium-6-10
         p
            | Through its own hospitals and collaborations with other organizations, the University of Utah offers care for patients across the spectrum of health care.
               
         ul
            li
               | Top-quality University of Utah hospitals 
               ul
                  li
                     a(href='http://healthcare.utah.edu/huntsmancancerinstitute/', target='_blank') Huntsman Cancer Institute   
                  li
                     a(href='http://healthcare.utah.edu/hospital/', target='_blank') University Hospital   
                  li
                     a(href='http://healthcare.utah.edu/uni/', target='_blank') University Neuropsychiatric Institute 
                  li
                     a(href='http://healthcare.utah.edu/orthopaedics/', target='_blank') University Orthopaedic Center    
            li Collaborations with other area hospitals 
               ul
                  li
                     a(href='https://intermountainhealthcare.org/locations/primary-childrens-hospital/', target='_blank') Primary Children's Hospital  
                  li
                     a(href='http://www.saltlakecity.va.gov', target='_blank') VA Hospital 
            li 
               | Genetic counseling services through 
               a(href='http://healthcare.utah.edu/huntsmancancerinstitute/patient-care/clinics-and-care-teams/high-risk-cancer-research-clinics-and-studies/genetic-counseling/', target='_blank') Huntsman Cancer Institute 
               | and 
               a(href='http://healthcare.utah.edu/womenshealth/pregnancy-birth/genetic-counseling.php', target='_blank') Women's Health Services
               
      .uk-width-medium-4-10 
         figure
            img(src="images/3-hospitals.jpg" alt="Hospitals")
   +pod('Diagnostics') 
      .uk-width-medium-6-10
         p The University of Utah provides diagnostic services not only for its own hospitals, but also for healthcare providers across the country.
         
         ul
            li 
               | The non-profit, University of Utah-owned 
               a(href='http://www.aruplab.com', target='_blank') ARUP laboratories 
               | provides 
               a(href='http://www.aruplab.com/genetics', target='_blank') genetic testing services 
               | and plays the pivotal role of translating genetic discoveries into new diagnostic tests. ARUP is connected to the University of Utah’s 
               a(href='http://medicine.utah.edu/pathology/', target='_blank') Department of Pathology
               | .
               
      .uk-width-medium-4-10 
         figure
            img(src="images/4-diagnostics.jpg" alt="Diagnostics")
               
   +pod('Technology and informatics') 
      .uk-width-medium-6-10   
         p Key technology and informatics resources include the following:
         
         ul
            li
               | State-of-the-art 
               a(href='http://healthcare.utah.edu/huntsmancancerinstitute/research/shared-resources/center-managed/high-throughput-genomics.php', target='_blank') DNA sequencing facility and bioinformatics core 
            li
               a(href='http://ucgd.genetics.utah.edu', target='_blank') USTAR Center for Genetic Discovery
            li
               a(href='http://eae.utah.edu/the-gapp-lab/', target='_blank') GApp lab in Entertainment Arts and Engineering Program
               
      .uk-width-medium-4-10 
         figure
            img(src="images/5-tech.jpg" alt="Technology")
            
   +pod('Interdisciplinary centers and programs') 
      .uk-width-medium-6-10      
         p A number of centers and programs at the University of Utah bring experts together from multiple disciplines with the common goal of being able to better serve patients:
         
         ul
            li 
               | The 
               a(href='http://medicine.utah.edu/ccts/', target='_blank') Center for Clinical and Translational Science 
               | focuses on bringing advances from cutting-edge research to patients.
            li
               | The 
               a(href='http://healthsciences.utah.edu/phc/', target='_blank') Program in Personalized Health 
               | focuses on research and training that will bring individualized care to more patients.
            li
               | The 
               a(href='http://neurogateway.utah.edu/Neuroscience-Institute.php', target='_blank') Neuroscience Initiative 
               | brings together experts from multiple disciplines with the goal of understanding and treating brain diseases.
            li 
               a(href='http://healthsciences.utah.edu/utah-genome-project/', target='_blank') Utah Genome project
            li The Diabetes and Metabolism Center 
            
      .uk-width-medium-4-10 
        figure
           img(src="images/6-interdisciplinary.jpg" alt="Interdisciplinary")
           
   +pod('Professional training') 
      .uk-width-medium-6-10        
         p Several programs have been designed to train health and research professionals in topics that relate to precision medicine:
         
         ul
            li 
               | Graduate-level courses, 
               a(href='http://healthsciences.utah.edu/phc/education/foundations_2016.php', target='_blank') Foundations in Personalized Healthcare 
               | (follow links for videos of some lectures)
            li 
               a(href='http://healthsciences.utah.edu/phc/education/certificate.php', target='_blank') Certificate program in Personalized Health Care 
            li 
               a(href='http://medicine.utah.edu/ccts/workforce-development/msci/', target='_blank') Masters in Clinical Investigation
            li 
               a(href='http://medicine.utah.edu/ccts/workforce-development/tl1-scholars/index.php', target='_blank') Training in the Genetics of Human Disease: TL1 through CCTS
            li
               a(href='http://www.bioscience.utah.edu/affiliated-research-programs/genome-sciences.php', target='_blank') Certificate Program in Genome Sciences 
               
      .uk-width-medium-4-10 
        figure
           img(src="images/7-professional.jpg" alt="Professional")
               
   +pod('Experts on Ethical, Legal, and Social Issues (ELSI)') 
      .uk-width-medium-6-10       
         p Precision medicine brings great promise, but it also raises new ethical, legal, and social issues. Many experts at the University of Utah are actively working to address these issues:
         
         ul
            li 
               | Bioethicists in the 
               a(href='http://medicine.utah.edu/internalmedicine/medicalethics/index.php', target='_blank') Division of Medical Ethics and Humanities 
               | and the 
               a(href='http://healthsciences.utah.edu/uceer/', target='_blank') Utah Center for Excellence in ELSI Research 
               | are focused on protecting patients' rights.
            li
               | The 
               a(href='http://www.law.utah.edu', target='_blank') S.J. Quinney College of Law 
               | is home to the 
               a(href='http://www.law.utah.edu/research/center-for-law-and-biomedical-sciences/', target='_blank') Center for Law and Biomedical Sciences
               | .
            li
               | In late 2015, the S.J. Quinney College of Law and the Program in Personalized Health at the University of Utah hosted and co-sponsored the symposium 
               a(href='http://www.law.utah.edu/event/law-economics-and-ethics-of-precision-medicine-symposium/', target='_blank') Frontiers in Precision Medicine: Exploring Science and Policy Boundaries 
               | (videos are available online).
            
      .uk-width-medium-4-10 
        figure
           img(src="images/8-elsi.jpg" alt="ELSI")      
