extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-4-10
         a(href='https://itunes.apple.com/us/app/touch-neuroscience/id1304657530?mt=8' style="margin-right: 25px;")
            img.appstore(src="images/App_Store.svg" width="180" height="60")
         p
            | How do we know the difference between hot, cold, pain, pressure, and vibration? The skin contains a variety of specialized sensory endings that detect specific stimuli. Together with the brain, these sensory endings comprise the sense of touch. Expose a patch of skin to different sensations and and see which special cells are activated.
      .uk-width-medium-6-10
         h3 Video Preview
         iframe(src="https://player.vimeo.com/video/101131104" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
         
