.uk-slidenav-position(data-uk-slideshow)
   ul.uk-slideshow
      li.item.uk
         .uk-grid
            .uk-width-1-1
               img(src='images/PGD-how-1.jpg')
            .uk-width-6-10.uk-container-center    
               | Each child will inherit one copy of chromosome 19 from each parent. Which copy they inherit is random. Each child has a 1-in-4 chance of being affected. 
               div(style='height:60px;')   
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:30px").
      li.item
         .uk-grid
            .uk-width-1-1
               img(src='images/PGD-how-2.jpg')
            .uk-width-6-10.uk-container-center
               | Step 1: Use DNA sequencing to find the sequences of the parents’ genes. Confirm that the sequences are likely to influence protein function and cause disease.
               div(style='height:60px;')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:30px").
      li.item
         .uk-grid
            .uk-width-1-1
               img(src='images/PGD-how-3.jpg')
            .uk-width-6-10.uk-container-center
               Step 2: Find other DNA sequences nearby that are unique to each chromosome. Using extra markers makes the test more sensitive and accurate .
               div(style='height:60px;')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:30px").
      li.item
         .uk-grid
            .uk-width-1-1
               img(src='images/PGD-how-4.jpg')
            .uk-width-6-10.uk-container-center
               | Step 3: Test the DNA of cells taken from embryos. This testing shows which markers, and thus which parental chromosomes, each embryo inherited.
               div(style='height:60px;')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:30px").
      li.item
         .uk-grid
            .uk-width-1-1
               img(src='images/PGD-how-5.jpg')
         .uk-width-6-10.uk-container-center
            | Because the amount of DNA tested is so small, sometimes no results come back for a certain marker. If this happens, the other markers serve as a back-up for determining which chromosomes an embryo has.
            div(style='height:60px;')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:30px").

   a.uk-slidenav.uk-slidenav-previous(href='', data-uk-slideshow-item='previous', style="color: #616161; font-size: 90px; text-shadow: #000 1px 2px 5px; opacity: 0.5; display:block;")
   a.uk-slidenav.uk-slidenav-next(href='', data-uk-slideshow-item='next',  style="color: #616161; font-size: 90px; text-shadow: #000 1px 2px 5px; opacity: 0.5; display:block;")
   ul.uk-dotnav.uk-dotnav-contrast.uk-position-bottom.uk-flex-center
      li(data-uk-slideshow-item="0")
         a(href="")
      li(data-uk-slideshow-item="1")
         a(href="")
      li(data-uk-slideshow-item="2")
         a(href="")
      li(data-uk-slideshow-item="3")
         a(href="")
      li(data-uk-slideshow-item="4")
         a(href="")
