extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-1-1.uk-text-center
         iframe.uk-responsive-width(src='https://player.vimeo.com/video/151159682', width='900', height='506', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')


   +pod('')
      .uk-width-medium-3-4.uk-container-center
         +toggle('Photo Credits')
            ol
               li Title Slide
               | &#x9;&#x9;
               div
                  | stem cells - Su-Chun Zhang, 2001. Used with permission &copy; University of Wisconsin Board of Regents.
               | &#x9;&#x9;
               div microscope - www.rodolfoclix.com.br
               | &#x9;
               li Slide 02
               | &#x9;&#x9;
               div starfish - Jan Messersmith, www.messersmith.name
               | &#x9;&#x9;
               div
                  | newt arms - Jeremy P. Brockes, Amphibian Limb Regeneration: Rebuilding a Complex Structure, Science, 4 April 1997: 81-87.
               | &#x9;&#x9;
               div newt arm video - HHMI, www.hhmi.org
               | &#x9;&#x9;
               div
                  | planaria - Alejandro Sanchez Alvarado, PhD, Department of Neurobiology and Anatomy, University of Utah School of Medicine, Not Your Father&apos;s Planarian: A Classic Model Enters the Era of Functional Genomics, Nature Reviews Genetics, 2002: 210-219.
               | &#x9;
               li Slide 05
               | &#x9;&#x9;
               div
                  | stem cells - E Russo, Follow the Money &ndash; The Politics of Embryonic Stem Cell Research, PLoS Biology, Vol. 3/7/2005, e234.
               | &#x9;&#x9;
               div stem cells videos - NYSCF, www.nyscf.org
               | &#x9;
               li Slide 06
               | &#x9;&#x9;
               div
                  | neuron - E Russo, Follow the Money &ndash; The Politics of Embryonic Stem Cell Research, PLoS Biology, Vol. 3/7/2005, e234.
               | &#x9;&#x9;
               div
                  | stem cells 1 - Klaus Fabel / Gerd Kempermann, Center for Regenerative Therapies Dresden, www.crt-dresden.de
               | &#x9;&#x9;
               div
                  | stem cells 2 - Joe Herbert, Department of Clinical Neurosciences, Cambridge Neuroscience
               | &#x9;
               li Slide 07
               | &#x9;&#x9;
               div stem cells video - NYSCF, www.nyscf.org
               | &#x9;
               li Slide 09
               | &#x9;&#x9;
               div beating heart cells - Andre Nantel, www.digitalapoptosis.com
               | &#x9;
               li Slide 10
               | &#x9;&#x9;
               div
                  | beating heart video, image - Dr. Doris A. Taylor, Director for the Center for Cardiovascular Repair, University of Minnesota, www.ccvr.umn.edu/contact/home.html
               | &#x9;
               li Slide 11
               | &#x9;&#x9;
               div
                  | neural stem cells 1 - Su-Chun Zhang, 2001. Used with permission &copy; University of Winsonsin Board of Regents. http://newsroom.stemcells.wisc.edu/gallery/Zhang_neural_stem_cell1_01.html
               | &#x9;&#x9;
               div
                  | neural stem cells 2 - Desir&eacute;e L. Salazar, Human Neural Stem Cells Differentiate and Promote Locomotor Recovery in an Early Chronic Spinal Cord INjury NOD-scid Mouse Model, PLoS ONE 5(8): e12272.
               | &#x9;
               li Slide 14
               | &#x9;&#x9;
               div sickle cell anemia - NIH, Warren Grant Magnuson Clinical Center
               | &#x9;
               li Slide 15
               | &#x9;&#x9;
               div cancer cell - National Cancer Institute
               | &#x9;
               li Slide 16
               | &#x9;&#x9;
               div stem cells - NIH

      script(type='text/javascript').
         <!--
         swfobject.registerObject("FlashID");
         //-->
