extends /shared/layout

block content
   +pageTitle
   
   +pod('')
      .uk-width-medium-4-10
         p.
            We encounter sugar in two different ways in our food: sugars that exist in unprocessed foods such as fruits, 
            vegetables, and dairy products, and sugars that are added to packaged foods to boost flavor or allow food to be more shelf-stable.
         p.
            Added sugars are not chemically different from naturally occurring sugars. Both are broken down in the body using the same 
            enzymatic processes. However, the amount and form in which we consume the sugars—in fruits and vegetables, in sodas, or 
            in other processed foods—affects how quickly the body absorbs them, and how the body signals and experiences satiety, 
            or feelings of fullness.
         
      .uk-width-medium-6-10
         figure
            img(src="images/Carbs.jpg", alt="carbohydrates in food")

   +pod('Simple and Complex Sugars')
      .uk-width-medium-6-10
         figure
            img(src="images/simplecomplex.svg", alt="simple and complex carbohydrates")
            p All digestible carbohydrates enter the blood stream as individual sugar units.
            
      .uk-width-medium-4-10
         p.
            Digestible carbohydrates, including “complex” starches and “simple” sugars, are all nutritionally similar in 
            that they each provide 4 calories per gram. They are also chemically similar: more-complex carbohydrates have 
            to be broken into simple sugars before they can be absorbed, transported by the bloodstream, and used for energy.
         p.
            Carbohydrate breakdown takes place high in the digestive tract, and with high efficiency. Starch is broken into 
            glucose units and absorbed at about the same rate as pure glucose. Likewise, sucrose (a disaccharide made up 
            of glucose paired with fructose) is clipped apart and absorbed about as quickly as high fructose corn syrup 
            (a mixture of individual glucose and fructose units).
         
         +well
            b Related content
            p
               To see how sugars from foods are broken down and absorbed into the blood stream, visit <a href="/content/metabolism/digestion/">Digestion</a>
            
   +pod('Glucose & Fructose: Same atoms, different properties')
      .uk-width-medium-6-10
        p.
          Glucose and fructose have the same chemical formula: C<sub>6</sub>H<sub>12</sub>O<sub>6</sub>. But the atoms are arranged differently, giving the two sugars different chemical properties. The chemical structures of fructose and glucose influence their sweetness and how they are processed in the body.
        h3 Sweetness
        p.
          Fructose tastes twice as sweet as glucose, and sucrose (composed of fructose and glucose linked together) is somewhere in between. The proportion of these sugars in foods—both natural and processed—affects how sweet different kinds of sugars taste alone and when added to processed foods. For example, gram for gram, agave nectar tastes sweeter than high fructose corn syrup, which tastes sweeter than sucrose.
        h3 Location
        p.
          Glucose travels through the bloodstream to all of our tissues, and every cell in the body readily burns it for energy. In contrast, fructose is almost exclusively taken up and metabolized by the liver.
        p.
          Excess glucose and fructose are both converted to fat and stored. However, the fat made from glucose is more likely to end up in fat tissue, whereas fat made from fructose is more likely to accumulate in the liver. This buildup is called nonalcoholic fatty liver disease, because it looks like what happens in the livers of people who drink too much alcohol.
        p.
          Because agave nectar is made up of pure fructose, it can deliver more sweetness in fewer calories than other sugars, so it may seem like a better choice than table sugar. However, table sugar may be a healthier choice than agave nectar because it is less likely to cause fat to build up in the liver.
        p.
          Whatever sugar we choose, the key is moderation: any sugar consumed in excess contributes to fat build-up.
      
      .uk-width-medium-4-10
        figure
           img(src="images/GlucoseFructose.jpg" alt="ratios of glucose and fructose")
           p Commonly used sugars have different ratios of fructose to glucose. We perceive fructose as tasting twice as sweet as glucose.
           
   +pod('Multiple Tanks: Blood Sugar, Glycogen, and Fat')
      .uk-width-medium-4-10
        p.
            The amount of glucose circulating in the blood of an average healthy adult is equal to only one or two packets' worth (about 5 grams). Yet, in a day, the brain alone uses about 25 packets’ worth.
        p.
            Our blood glucose concentration must be kept very stable. When blood sugar levels are too low, the brain can starve. When levels are too high, sensitive tissues in nerves, eyes, and organs can be damaged. To keep blood glucose steady, the body alternates between storing excess glucose after meals and supplying glucose to the blood between meals. Some glucose is stored in liver and muscle cells as glycogen, and some is converted to fat for storage in adipose tissue.
        p.
            Glycogen and glycerol (a component of fat) are easily converted back to glucose. However, we cannot make glucose from fatty acids. When the body’s supply of glycogen is depleted, as in the case of someone running a marathon, muscle proteins are broken down and used by the liver to regenerate blood glucose.
        +well
            b Related content
            p
                To learn more about how the body stores sugar and other nutreints, visit <a href="http://learn.genetics.utah.edu/content/metabolism/bbs/">Building, Burning & Storing</a> and <a href="http://learn.genetics.utah.edu/content/metabolism/pathways/">Metabolic pathways</a>.
      
      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src="images/MultipleTanks.svg" alt="Multiple Tanks")
            p The body stores extra fuel as glycogen or fat. Most of our energy reserves are found in fat. While glycogen can be used to replenish blood sugar, fatty acids cannot. Only the small glycerol portion of fat can be converted to glucose, but glycogen is released very slowly only as fatty acids are being burned for fuel.
            
   +pod('Added Sugar Adds Up')
      .uk-width-medium-6-10
         figure
            img(src="images/AddedSugar.jpg" alt="sugar drinks")
            p Soda is one of the most common sources of added sugars, making up 30% of the added sugar in the American diet.
      
      .uk-width-medium-4-10
         p.
            Unprocessed fruits, vegetables, and whole grains supply moderate amounts of sugar, and they contain other nutrients that make them an important part of a healthy diet. But sugar itself is not an essential nutrient, and when consumed in excess it is a source of completely unnecessary calories.
         p.
            The typical American diet includes a substantial amount of processed food, and 74% of processed foods contain added sugar. On average, that adds up to 22 teaspoons (88 grams) of added sugar—an extra 350 calories—every day.
         p.
            Consuming large amounts of added sugars, particularly from sugar-sweetened beverages, increases the risk of developing obesity, Type 2 diabetes, or cardiovascular disease. Experts are increasingly recommending that a healthy diet should limit added sugar to 10% of total daily calories.
            
         +well 
            b Related link
            p To see more photos of sugar in foods, visit <a href="http://www.sugarstacks.com">Sugarstacks.com</a>.

   +pod('Hidden Sugar')
      .uk-width-medium-6-10
         p. 
            Added sugars can be tricky to spot on food labels. They are often "disguised" under less-sweet or natural 
            sounding names. Some of the more common sugary ingredients are listed below.
            
         table.uk-table.uk-table-striped
            tr 
               th Ingredient
               th What's in it
            tr 
               td Beet sugar / Cane sugar / Cane juice
               td Mainly sucrose (same as table sugar: glucose plus fructose)
            tr
               td Dextrose, Fructose, Lactose, Maltose, Sucrose
               td These are the chemical names of specific types of sugar
            tr
               td Rice syrup / Brown rice syrup
               td Mainly maltose and maltotriose (2 or 3 glucose units)
            tr
               td Corn syrup / Corn syrup solids
               td Mainly glucose
            tr
               td High fructose corn syrup
               td Glucose and fructose (high in fructose compared to corn syrup, but same amount of fructose as table sugar)
            tr
               td Malt syrup / Barley malt
               td Mainly maltose
            tr
               td Fruit juice / Fruit juice concentrate
               td Fructose, glucose, and sucrose (proportions vary by fruit)
            tr
               td Honey
               td Fructose and glucose
            tr
               td Maple syrup
               td Mainly sucrose
            tr
               td Molasses
               td Mainly sucrose
               
      .uk-width-medium-4-10
         figure
            img(src="images/SugarLabel.jpg" alt="sugar on lables")
            p A common trick manufacturers use is to add sugar from multiple sources, keeping sugars farther down on the ingredient list.

   +pod('Apples, Oranges, and Soda')
      .uk-width-medium-4-10
         img(src="images/ApplesOranges-04.svg" alt="Apples and Oranges")
      
      .uk-width-medium-6-10
         p.
            Consuming 1.2 large apples, 1.6 large oranges, or a 12-ounce can of soda delivers the same number of calories to your body, but the fruit will keep your body feeling satisfied for longer. Why?
         p.
            1. Because it requires biting and chewing, fruit will arrive at the stomach more slowly.
         p.
            2. Solid food spends more time in the stomach than liquid does. The stomach needs time to break food particles down before they are allowed to enter the small intestine.
         p.
            3. The fruits contain 6 to 7 grams of fiber. As some of this fiber is broken down, the cells of the small intestine release hormones that signal feelings of fullness to the brain.
         p.
            4. The sugar in the fruit takes a longer time to reach the small intestine, slowing its absorption into the bloodstream. In contrast, the sugar in the soda is absorbed very quickly, and often leads to a brief period of high blood sugar immediately followed by a blood sugar “crash” when the body’s hormones overcorrect in attempt to keep blood sugar steady.
         p.
            The fruit also has vitamins and other nutrients that the soda lacks, such as vitamin C, calcium, and magnesium.
            
   +pod('What Keeps Us Coming Back?')
      .uk-width-medium-6-10
         p.
            Considering the risks involved in eating too much added sugar, why haven’t more people cut back on their sugar intake? The complex and numerous reasons include the following:
         h3 Convenience
         p.
            Unprocessed foods can take more time to prepare than ready-made processed foods, and Americans are spending less and less time preparing and eating foods at home.
         h3 Addiction
         p.
            Humans and lab animals can experience a physiological addiction to sugar. In lab animals, sugar produces some of the same symptoms as drugs of abuse, including cravings, tolerance, and withdrawal. In people, sugar cravings are comparable to those induced by addictive drugs like cocaine and nicotine.
         h3 Marketing
         p.
            Societies were built upon the farming and production of sugar. Processed food manufacturing is a high profit-margin industry in which a lot of financial interests are at stake, and processed food is heavily marketed.
         h3 Cost
         p.
            The cost of sugar has decreased relative to other foods. This effect is most profound on people with limited food budgets, who may buy lower-cost processed foods over more expensive whole foods.
         h3 Habit
         p.
            It may feel personally threatening for people to consider the choices and resources necessary to change their habits and diets.
      
      .uk-width-medium-4-10
         figure
            img(src="images/WhySugars2.svg" alt="child crying")
