extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-6-10
         p
            | The shallow bottom of Great Salt Lake supports a microbial carpet that harness the sun&apos;s energy through the process of photosynthesis. This carpet is made up of a community of microbes, including several types of cyanobacteria (also known as blue-green algae), algae and other organisms. The bottom-dwelling microbes are often referred to as benthic algae.
         p
            | Free-floating algae such as 
            em Dunaliella
            |  that live higher in the water column typically bloom early in the year, blocking sunlight from reaching the lake bottom. Later in the spring, brine shrimp begin to hatch and quickly graze down the 
            em Dunaliella
            |  population. This increases the clarity of the water, allowing sunlight to reach the lake bottom, and providing energy for the bottom-dwelling community to bloom. Cyanobacteria are a source of both  food and oxygen for developing brine fly larvae, which become plentiful during the summer and early fall.
      |    
      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src='images/cyanobacteria.jpg', alt='cyanobacteria')
   +pod('Great Salt Lake reefs')
      |    
      .uk-width-medium-4-10
         figure
            img(src='images/DSCN3186.JPG', alt='Bioherms')
            p.
               Bioherms in Great Salt Lake near Hat Island. Photo courtesy UDWR Great Salt Lake Ecosystem Program
      |    
      .uk-width-medium-6-10
         p
            | Some of the cyanobacteria that colonize the lake bottom cluster together into thick gooey masses. The chemical properties of the cyanobacteria  cause calcium carbonate (limestone) and other minerals to precipitate out. Over many hundreds and thousands of years, these mineral deposits accumulate into coral-like structures called bioherms or stromatolites. Bioherms can grow quite large, sometimes reaching several feet in diameter.
         p
            | Bioherms are solid rocky structures with a living layer around the outside. They are an important food source for brine fly larvae, and they provide support and protection for brine fly pupae. Before they begin metamorphosis, brine fly larvae often attach themselves to bioherms, where they remain as they develop into adults.
   
   
