extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-5-10
         iframe.uk-responsive-width(src='https://player.vimeo.com/video/137999686', width='693', height='388', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
         br
         br
         +well
            h3 Related links
            p
               a(href="http://healthcare.utah.edu/publicaffairs/news/2016/02/precision-medicine.php") Shaping Precision Medicine: The White House looks to Utah
            p
               | For more general information, visit the White House page on the 
               a(href='https://www.whitehouse.gov/precision-medicine') Precision Medicine Initiative 
            p
               | For more details about precision medicine at the University of Utah, watch this video from the 2015 Precision Medicine Symposium: 
               a(href='/content/precision/outlive/') Outlive Your Family History

      |    
      .uk-width-medium-5-10
         p
            | In January of 2015, The White House announced the Precision Medicine Initiative. Precision Medicine is an approach to medical care that focuses on diagnostic, prevention, and treatment strategies tailored to the individual. Individualized approaches to medicine are not new: think blood typing. Rather, the initiative aims to expand on practices and approaches that have been implemented on a small scale at research institutions around the world-institutions like the University of Utah.
         |       
         p
            | Decades before the Precision Medicine Initiative, the University of Utah began investing heavily in genetics research. Leveraged by Utah&apos;s large families, culture of participation, and value of recordkeeping, local research efforts have discovered the genes behind dozens of inherited diseases and medical conditions. University of Utah researchers have also developed tools and expertise for bringing this genomic knowledge into the clinic and improving the lives of patients.
         |       
         p
            | Multiple small-scale projects have shown that current approaches to discovery work. Today, the University of Utah is uniquely positioned to put precision medicine into practice on a larger scale.
         +well
            h3 Related content
            p
               | To learn more about the impact the State of Utah has had on genetic research, visit 
               a(href='/content/science/utah/') Genetics in Utah
   +pod('A Decades-Long History of Genetic Discovery')
      .uk-width-medium-4-10
         p
            | To understand the underpinnings of diseases, scientists track patterns of illness through generations of families. The country&apos;s biggest collection of family records just happens to be housed in Salt Lake City&apos;s Family History Library.
         |         
         p
            | In the 1970s, researchers at the University of Utah, recognizing the value of combining medical and genealogical records, made an agreement with the Family History Library to collect information that would help them in their genetic research. This information became part of the Utah Population Database (UPDB).
         |         
         p
            | Today, the UPDB contains over 22 million public health and clinical records on nearly 8 million ethnically diverse people. This database has been instrumental in helping researchers in Utah and around the world identify more than 30 disease-causing genetic variations, including those that underlie breast cancer, colon cancer, heart arrhythmia, and melanoma.
         |         
         p
            | Genetic discovery opens doors to new medical approaches. Once researchers understand the connection between a gene and a disease, the information can be used in several ways to help patients. Genetic testing can inform prospective parents about the likelihood of their condition passing to their children. The gene, the protein it codes for, or the molecules they interact with are all potential targets for new drugs. And diagnostic tests can identify those who are at risk for disease, leading to early screening and prevention.
         +well
            h3 Related content
            p
               | Visit From 
               a(href="../diagnostics") Discovery to Diagnostics 
               | to learn more about some of the genetic discoveries that have been made at the University of Utah, and to see how 
               | these discoveries are being used to help patients.

      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='images/U_genetics_timeline.jpg', alt='History of U Genetics timeline')
            |         
            p.uk-small-text

   +pod('The Utah Population Database: A National Treasure')   
      .uk-width-medium-6-10
         p
            | One of the cornerstones of discovery at the University of Utah is the Utah Population Database (UPDB). While the database began in Utah, today it contains records on diverse individuals from around the world. Its ethnic diversity is representative of the US population, making it a valuable tool for aiding in discoveries that can benefit a broad range of patients.
         p
            | Through collaborations with University of Utah faculty, researchers at other institutions around the world can use the data for their studies. To access to the data, researchers must first gain approval from a special regulatory committee that ensures that the data use follows strict ethical guidelines.
         p
            | All communication and record sharing is carried out through a process that maintains patient privacy. Yet relevant connections are maintained within the database, and mechanisms are in place that allow researchers to reach out to patients. Researchers can recruit individuals into studies while protecting their confidentiality, and researchers who identify a new genetic contributor to disease can use the database to reach out to additional people who may be affected.
         p
            | While the UPDB is an invaluable tool for aiding genetic discovery, it informs other types of research as well. For example, by combining driver&apos;s license records and census data, researchers have used the database to study the impact of neighborhood characteristics on body mass index [1]. And because it contains multiple types of cross-referenced records coupled with geographic information, the UPDB is useful for tracking public-health issues, such as environmentally triggered health events and epidemiology.
         +well
            h3 More Information
            p
               a(href='http://healthcare.utah.edu/huntsmancancerinstitute/research/updb/') The Utah Population Database (UPDB)
            p
               a(href='http://healthcare.utah.edu/the-scope/shows.php?shows=0_uwbokh7t') interview with UPDB Director, Dr. Ken Smith
            p
               a(href='http://healthcare.utah.edu/huntsmancancerinstitute/research/updb/publications/') Published research from the UPDB
      |     
      .uk-width-medium-4-10
         figure
            img(src='images/UPDB.jpg', alt='History of U Genetics timeline')
            |         
            p.uk-small-text
               | The UPDB is stewarded and supported by the University of Utah, the Jon M. Huntsman Family, the Huntsman Cancer Foundation, and the Huntsman Cancer Institute. Data contributors, and the relative sizes of their contributions, are depicted above.
   +pod('The Utah Genome Project')
      .uk-width-medium-6-10

         iframe.uk-responsive-width(src='https://player.vimeo.com/video/132460014', width='920', height='518', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')

         +well
            h3 Related links
            p
               | Learn more about the project at 
               a(href='http://healthsciences.utah.edu/utah-genome-project/') the Utah Genome Project
            p
               | Catch up on the latest news at the Utah Genome Project's 
               a(href='http://healthsciences.utah.edu/utah-genome-project/family/index.php') Genomic Revolution blog
            p
               | Find out more about the software behind the discoveries at the 
               a(href="http://ucgd.genetics.utah.edu/") USTAR Center for Genetic Discovery
      .uk-width-medium-4-10
         p
            | With the falling cost of DNA sequencing, it is now practical to do whole-genome sequencing on a large scale. Several efforts are underway around the world to sequence the genomes of large groups of people, in order to better understand genetic contributions to health and disease. The University of Utah is at the leading edge of this new branch of research.
         |         
         p
            | In 2010, faculty from the University of Utah were part of a research team that was the first to sequence the entire genomes of a family of four 
            a(href='#2') [2
            | ,
            a(href='#3')  3]
            | , leading to the discovery of the genetic basis of a rare inherited syndrome. In 2011, University of Utah researchers released a computational tool called VAAST 
            a(href='#4') [4]
            | , which works like a search engine for the genome to identify disease-related genetic variations. This tool is used by hundreds of other programs around the world, including England&apos;s 100,000 Genomes Project.
         |         
         p
            | Building on these successes, in 2012 University of Utah Health Sciences announced the kick-off of the Utah Genome Project (UGP). Like other large-scale genome projects, the UGP will involve sequencing the genomes of several thousand people, some with and some without disease. But the UGP is unique for its focus on groups of relatives from large families, and its connection to the UPDB (see above). Along with analyzing genomic information, the project will involve collecting medical, environmental, and lifestyle data.
         |         
         p
            | The project is looking for factors that increase or decrease an individual&apos;s risk for common &quot;complex&quot; diseases-such as diabetes, heart disease, and cancer-that are influenced by multiple genes and the environment. It is also looking for factors that influence an individual&apos;s response to drugs and other interventions. Each discovery promises to improve the way doctors diagnose, prevent, and treat diseases-not only in Utah, but around the world.
   +pod('References')
      .uk-width-1-1
         p
            a(name='1') [1]
            |  Smith, K.R., Brown, B.B., Yamada, I., Kowaleski-Jones, L., Zick, C.D. &amp; Fan, J.X. (2008). Walkability and body mass index: density, design, and new diversity measures. American Journal of Preventive Medicine 35:3, 237-244. 
            a(href='http://www.sciencedirect.com/science/article/pii/S074937970800514X') doi: 10.1016/j.amepre.2008.05.028
         |         
         p
            a(name='2') [2]
            |  Maher, B. (2011). Human genetics: genomes on prescription. Nature 478, 22-24. 
            a(href='http://www.nature.com/news/2011/111005/full/478022a.html?s=news_rss') doi: 10.1038/478022a
         |         
         |         
         p
            a(name='3') [3]
            |  Roach, J.C., Glusman, G., Smit, A.F.A. Huff, C.D. et al (2010). Analysis of genetic inheritance in a family quartet by whole-genome sequencing. Science 328, 5978 636-639. 
            a(href='http://www.sciencemag.org/content/328/5978/636') doi: 10.1126/science.1186802
         |         
         p
            a(name='4') [4]
            |  Yandell, M., Huff, C.D., Hu, H., Singleton, M., Moore, B., Xing, J., Jorde, L.B. &amp; Reese, M.G. (2011). A probabilistic disease-gene finder for personal genomes. Genome Research 21, 1529-1542. 
            a(href='http://genome.cshlp.org/content/21/9/1529.long') doi: 10.1101/gr.123158.111
