+minipod('What is sickle cell disease?')
   .uk-width-medium-6-10
      p
         | Sickle cell disease affects a person's red blood cells, which carry oxygen from the lungs to the rest of the body. Normally, red blood cells are round and flexible so they can fit through the narrow blood vessels. But people with sickle cell disease have many long, stiff red blood cells. 
+minipod('Affected gene')
   .uk-width-medium-6-10
      p
         | The affected gene in sickle cell disease is HBB, on chromosome 11. The HBB gene codes for a protein called beta-globin. People with this disorder still make beta-globin, but the shape of the protein is altered slightly.
      p   
         | Beta-globin combines with another protein, called alpha-globin, to make a larger protein called hemoglobin. Red blood cells are packed full of hemoglobin molecules, which help them carry oxygen to all the tissues of the body. 
      p   
         | In people with sickle cell disease, beta-globin proteins stick together to form stiff fibers. Red blood cells become rigid and elongated (like a crescent or a sickle used for cutting wheat). Cells are more likely to become sickle-shaped when oxygen levels are low.
      p   
         | Sickle cell disease follows an autosomal recessive inheritance pattern. An affected child must inherit two non-working copies of the gene, one from each parent.
      p   
         | People who have just one disease-causing gene variant are not only carriers—they also have some resistance to malaria! Malaria is a serious illness that is common in hot climates. It is caused by a parasite that is carried by infected mosquitoes. The parasite cannot live inside of cells with the sticky beta-globin.
      br
   .uk-width-1-1
      figure
         img(src='images/sickle-cell.jpg')
      hr
      br
   .uk-width-medium-5-10
      h3 Symptoms and features of sickle cell disease
      p
         | Symptoms vary between different people who have sickle cell disease, and also in an individual person over time. The symptoms of sickle cell disease come directly from having sickle-shaped red blood cells. The more sickle-shaped red blood cells a person has, the worse the effects. 
      p
         | The stiff, pointy red blood cells can get caught in small blood vessels. This can cause pain and damage organs. The spleen is often affected, along with the liver, kidneys, lungs, and heart. When the spleen is damaged, the body is less able to fight infections.
      p
         | The sickle-shaped cells are also shorter lived than normal. This can lead to anemia: having too few red blood cells, and less ability to carry oxygen in the blood. 
      p
         | Because early intervention can help to ease symptoms, sickle cell disease is included in most newborn genetic screening panels. 
      br
   .uk-width-medium-5-10
      h3 Treating and managing sickle cell disease
      p
         | For babies and young children, antibiotics can prevent or treat infections. A folic acid supplement can help the body make more red blood cells, helping to prevent anemia.
      p
         | People with sickle cell disease should get plenty of rest, drink lots of water, and avoid too much physical activity. Physical stress can make it more likely for blood cells to take on a sickled shape. If symptoms become serious, blood transfusions from a healthy donor can provide healthy red blood cells.
      p
         | In severe cases, people with sickle cell disease can be treated with a bone marrow transplant. Bone marrow contains stem cells that give rise to red blood cells. Bone marrow stem cells are taken from a healthy donor who is a genetic match. The stem cells are then placed into the patient, where can then make a continuous supply of healthy red blood cells. 
   .uk-width-medium-6-10
      h3 Interesting facts about sickle cell disease
      p
         | Red blood cells usually live for 120 days. Sickle-shaped cells live only 10 to 20 days.
      p
         | In the United States, sickle cell disease most commonly affects African-Americans. In this group, about 1 out of every 500 babies are born with the condition.
      p
         | Sickle cell disease is most common among people from Africa, India, the Caribbean, the Middle East, and the Mediterranean. These areas also have malaria-carrying mosquitoes.  Having some resistance to malaria would give sickle cell carriers in these places a greater chance of surviving childhood and having kids. 
   .uk-width-medium-4-10 
      +well
         h3 More information
         a(href='http://www.sicklecellsociety.org/', target='blank') Sickle Cell Society
         br
         a(href='http://www.scinfo.org/', target='blank') The Sickle Cell Information Center
