extends /shared/layout
block content
   +pageTitle

   +pod('')
      .uk-width-medium-1-2
         p
            | Welcome to the Extraterrestrial Gene Therapy Lab! As Space Doctor, you&apos;ll use your
            | gene therapy knowledge to treat three ailing aliens who come into your clinic.
      |
      .uk-width-medium-1-2
         p
            | Before starting, you might want to review
            a(href='../tools/') Gene Delivery: Tools Of The Trade
            | .
   +pod('')
      .uk-width-1-1.uk-text-center
         #flashContent
            object#sd(classid='clsid:d27cdb6e-ae6d-11cf-96b8-444553540000', width='880', height='640', align='middle')
               param(name='movie', value='sd.swf')
               | &#x9;&#x9;&#x9;&#x9;
               param(name='quality', value='high')
               | &#x9;&#x9;&#x9;&#x9;
               param(name='bgcolor', value='#ffffff')
               | &#x9;&#x9;&#x9;&#x9;
               param(name='play', value='true')
               | &#x9;&#x9;&#x9;&#x9;
               param(name='loop', value='true')
               | &#x9;&#x9;&#x9;&#x9;
               param(name='wmode', value='window')
               | &#x9;&#x9;&#x9;&#x9;
               param(name='scale', value='showall')
               | &#x9;&#x9;&#x9;&#x9;
               param(name='menu', value='true')
               | &#x9;&#x9;&#x9;&#x9;
               param(name='devicefont', value='false')
               | &#x9;&#x9;&#x9;&#x9;
               param(name='salign', value='')
               | &#x9;&#x9;&#x9;&#x9;
               param(name='allowScriptAccess', value='sameDomain')
               //if !IE
               | &#x9;&#x9;&#x9;&#x9;
               object(type='application/x-shockwave-flash', data='sd.swf', width='880', height='640')
                  param(name='movie', value='sd.swf')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;
                  param(name='quality', value='high')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;
                  param(name='bgcolor', value='#ffffff')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;
                  param(name='play', value='true')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;
                  param(name='loop', value='true')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;
                  param(name='wmode', value='window')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;
                  param(name='scale', value='showall')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;
                  param(name='menu', value='true')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;
                  param(name='devicefont', value='false')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;
                  param(name='salign', value='')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;
                  param(name='allowScriptAccess', value='sameDomain')
                  // <![endif]
                  a(href='http://www.adobe.com/go/getflash')
                     img(src='http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif', alt='Get Adobe Flash player')
                  //if !IE
               // <![endif]
   script(src="/ruffle/ruffle.js")
