extends /shared/layout
block content
   +pageTitle
   
   +pod('')
      .uk-width-1-1.uk-text-center
         iframe.uk-responsive-width(src='https://player.vimeo.com/video/151178672', width='900', height='506', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
   
   +references
         p
            | Barton, N. H., Briggs, D. E. G., Eisen, J. A., Goldstein, D. B., &amp; Patel, N. H. (2007). 
            em Evolution.
            |  Cold Spring Harbor Laboratory Press: Cold Spring Harbor, New York.
         |         
         p
            | Sturm, R. A. (2009). 
            a(href='http://hmg.oxfordjournals.org/cgi/content/full/18/R1/R9') Molecular genetics of human pigmentation diversity
            | . 
            em Human Molecular Genetics, 18
            |  (R1), R9-R17.


   +bottom-menu("",'hhmi')
   
   
