extends /shared/layout
block content
   +pageTitle



   +pod('')
      .uk-width-1-1
         p
            | When our senses perceive an environmental stress such as danger or a threat, cells in the nervous and endocrine systems work closely
            | together to prepare the body for action.  Often referred to as the fight or flight or stress response,  this remarkable example of
            | cell communication elicits instantaneous and simultaneous responses throughout the body.
   +pod('Initiating the Response')

      .uk-width-medium-4-10
         p
            | Sensory nerve cells pass the perception of a threat, or stress, from the environment to the hypothalamus in the brain. Neurosecretory cells
            | in the hypothalamus transmit a signal to the pituitary gland inciting cells there to release a chemical messenger into the bloodstream.
            | Simultaneously, the hypothalamus transmits a nerve signal down the spinal cord. Both the chemical messenger and nerve impulse will travel
            | to the same destination, the adrenal gland.

         +well
            a(href='../cellcom/play-by-play/') Read a Play-by-Play of the Movie

      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='images/compositeHypLoc.jpg', alt='Pituitary gland')
            p Specialized nerve cells descend down from the hypothalamus into the pituitary gland.
            p
            em Illustration not drawn to scale.
   +pod('Keeping the Signal Going')
      .uk-width-medium-4-10
         p
            | Sitting atop the kidneys, the adrenal glands receive nerve and chemical signals initiated by cells in the hypothalamus.
            | Nerve signals activate the release of epinephrine into the bloodstream.

         p
            | When chemical messengers arrive via the bloodstream, they dock on to receptors and begin a cell signaling cascade that results in the
            | production of cortisol. Cortisol is released into the blood stream where it begins signaling cascades in several cell types, resulting
            | in an increase in blood pressure, increase in blood sugar levels, and suppression of the immune system.

         a(href='cortisol/') In Detail: The Cortisol Production Signaling Cascade

      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='images/pituitary_release.jpg', alt='Pituitary Release', width='368', height='308')

            p
               | When nerve cells in the hypothalamus fire, corticotrope cells in the pituitary gland are stimulated to
               | release ACTH, a chemical messenger, into the bloodstream.

      .uk-width-1-1
         figure
            img.lg-no-shadow(src='images/adrenal_full.jpg', alt='Adrenal Gland', width='700', height='360')

            p
               | The ACTH chemical messengers, sent from the pituitary gland into the bloodstream, arrive
               | at the adrenal cortical cells.

            p
               | When the splanchnic nerve in the hypothalamus fires, a signal is sent down the spinal
               | cord directly to the adrenal gland.
   +pod('A Boost of Energy')
      .uk-width-medium-4-10
         p
            | Signaling molecules from several origins work to provide an energetic boost in a variety of ways. When epinephrine binds to receptors
            | on liver cells, it triggers a signaling cascade that produces glucose from larger sugar molecules. Circulating cortisol sets fatty acids
            | free to be transformed into energy. These molecules are rapidly excreted into the bloodstream,  supplying a boost of readily available
            | energy for muscles throughout the body, priming them for exertion.
         a(href='glycogenolysis/') In Detail: The Glycogenolysis Signaling Cascade

      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='images/epinephrine_release.jpg', alt='Epinephrine Release', width='368', height='308')
            p
               | The splanchnic nerve stimulates chromaffin cells in the adrenal gland to release epinephrine, a chemical
               | messenger, into the bloodstream.
   +pod('Proteins in Real Life')
      .uk-width-medium-4-10
         p
            | Often, it is necessary to take some artistic license when creating images of proteins and other molecules.
            | So what do they really look like? Molecular models provide a glimpse into their tiny world and help us understand how they work. Take a look
            | at some scientifically accurate models of the molecules and proteins from the movie.
         figure
            p
               | Stylized phosphorylase kinase and activated glycogen phosphorylase (orange) from
               strong
                  | The Fight
                  | or Flight Response movie
               | .

            p
               strong What phosphorylase kinase really looks like
               |  (purple), its lobes decorated with inactive
               |       glycogen phosphorylase (green).

            p
               em
                  | Image courtesy Catherine V&eacute;nien-Bryan, PhD, University Research Lecturer, University of Oxford. Reproduced from Structure, 2002,
                  | Vol. 10, No. 1, 9. &copy; 2002 with permission from Elsevier.

      .uk-width-medium-6-10
         figure
            img(src='images/proteins_reallife.jpg', alt='Proteins in real life', width='333', height='700')
   +pod('One Messenger, Many Reactions')

      .uk-width-medium-4-10
         p
            | Epinephrine is an important cell signaling molecule in the fight or flight response. Also known as adrenaline, epinephrine is an efficient
            | messenger that signals many cell types throughout the body with many effects.  In the lungs, epinephrine binds to receptors on smooth muscle
            | cells wrapped around the bronchioles. This causes the muscles to relax, dilating the bronchioles and allowing more oxygen into the blood.
            | At the sino-atrial node of the heart, epinephrine stimulates pace maker cells to beat faster. This increases the rate at which other chemical
            | signals, glucose and oxygen are circulated to the cells that need them. Epinephrine also contracts specific types of muscle cells below the
            | surface of the skin, causing beads of perspiration and raised hairs at the surface.

      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='images/epinephrine.jpg', alt='Epinephrine', width='319', height='239')
            p
               strong Epinephrine
               | , a chemical messenger.
   +pod('A Complicated Orchestration')

      .uk-width-medium-4-10
         p
            | The fight or flight response is a complicated systemic reaction.  These are just some of the instantaneous
            | messengers and physiologic changes involved.

         p
            | In fact, the initial perception of a threat or danger is also received by an area in the brain stem that begins
            | yet another axis of communication and response involving the release of the messenger norepinephrine. Like
            | cortisol and epinephrine, norepinephrine travels throughout the body, triggering cell signaling cascades in a number of cell types.

         p
            | Regardless of their kind, or point of origin, cell signaling molecules involved in the fight or flight response work closely together.
            | Their overall effect is an increase in circulation and energy to certain body systems and a downshift of less important ones into
            | maintenance mode. In this way, the fight or flight response prepares the body for extreme action.

      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='images/heart_pullout.jpg', alt='Heart', width='438', height='504')

   +references

      p ACTH signal cascade:

      p
         | Margioris, Andrew N., and Tsatsanis, Christos (2002, December 23). ACTH action on the adrenal. Retrieved
         | September 10, 2008, from Endotext.org Web site:
         a(href='http://wwwotext.org/adrenal/adrenal5/adrenal5.htm') http://wwwotext.org/adrenal/adrenal5/adrenal5.htm

      p
         | Jefcoate, Colin (2002). High-flux mitochondrial cholesterol trafficking, a specialized function of the
         | adrenal cortex. Journal of Clinical Investigation, 110(7), 881-890.
         a(href='http://www.jci.org/articles/view/16771') http://www.jci.org/articles/view/16771

      p Glycgenolysis signal cascade:

      p
         | King, Michael W. (2000, April 12). Glycogen Metabolism. Retrieved September 10, 2008 from The
         | THCME Medical Biochemistry Page Web site:
         a(href='http://dwb.unl.edu/teacher/nsf/c11/c11links/web.indstate.edu/thcme/mwking/glycogen.html')
            | http://dwb.unl.edu/teacher/nsf/c11/c11links/web.indstate.edu/thcme/mwking/glycogen.html

      p Phosphorylase kinse structure and function:

      p
         | Benien-Bryan, Catherine (2002). Electron microscope studies. Retrieved September 10, 2008 from Oxford University,
         | Laboratory of Molecular Biophysics Web site, Laboratory Journal 2002:
         a(href='http://biop.ox.ac.uk/www/lj2002/cvb/CVB_journal.html#figure3') http://biop.ox.ac.uk/www/lj2002/cvb/CVB_journal.html#figure3

      p Pacemaker heart cell description:

      p
         | Richardson, Daniel R., Randall, David C., and Speck, Dexter F. (1998). Cardiopulmonary System (p. 94). Hayes Barton Press.
         a(href='http://books.google.com/books?id=D4GR3Znx8AEC&pg=PA94&lpg=PA94&dq=pacemaker+cell+round&source=web&ots=RpefTwL0Wn&sig=uMbYYVJdhSaiRZtNjleGzanq_5c')  http://books.google.com/books?id=D4GR3Znx8AEC&amp;pg=PA94&amp;lpg=PA94&amp;dq=pacemaker+cell+round&amp;source=web&amp;ots=RpefTwL0Wn&amp;sig=uMbYYVJdhSaiRZtNjleGzanq_5c
