extends /shared/layout

block content
   +pageTitle

   .lg-section
      .uk-container.uk-container-center
         .uk-grid
            .uk-width-medium-5-10
               div
                  h2 Evolution Resources for Students
                  h3 Shared Biochemistry

                  p
                     a(href="/content/evo/samegene/" target="_blank") Same gene, different organism
                  p
                     a(href="/content/basics/proteins/" target="_blank") What are Proteins
                  p
                     a(href="/content/basics/proteintypes" target="_blank") Types of Proteins
                  p
                     a(href="/content/basics/dna" target="_blank") What are DNA and genes?
                  p
                     a(href="/content/basics/builddna" target="_blank") Build a DNA molecule
                  p
                     a(href="https://www.youtube.com/watch?v=JFOmPQWw4Io" target="_blank") Introduction to Fireflies
                  p
                     a(href="/content/basics/firefly" target="_blank") What makes a firefly glow?
                  p
                     a(href="/content/evo/sharedfunctions/" target="_blank") Shared functions, shared genes
                  p
                     a(href="/content/evo/bias" target="_blank") The trouble with cognitive bias

                  h3 Common Ancestry

                  p
                     a(href="/content/evolution/common/classify/" target="_blank") How to classify living things
                  p
                     a(href="https://www.youtube.com/watch?v=ouZ9zEkxGWg" target="_blank") Cladograms video from Bozeman Science
                  p
                     a(href="/content/evo/evidence/" target="_blank") Evidence for Common Ancestry
                  p
                     a(href="/content/evo/common" target="_blank") Common Ancestry: It's in our DNA
                  p
                     a(href="/content/evo/tree" target="_blank") Online Phylogenetic Tree

                  h3 Heredity

                  p
                     a(href="/content/evo/canine" target="_blank") Canine Similarities and Differences
                  p
                     a(href="/content/basics/mutation" target="_blank") What is Mutation?
                  p
                     a(href="/content/basics/outcomes" target="_blank") The outcome of mutation
                  p
                     a(href="/content/basics/inheritance" target="_blank") What is inheritance?
                  p
                     a(href="/content/evolution/heredity/allele" target="_blank") Allele Shuffling
                  p
                     a(href="/content/evolution/heredity/variation" target="_blank") Genetic Variation

                  h3 Natural Selection
                  p
                     a(href="/content/evolution/selection/ns_mouse" target="_blank") Rock Pocket Mouse
                  p
                     a(href="/content/evo/advantage" target="_blank") Reproductive Advantage Simulation
                  p
                     a(href="/content/evo/criteria" target="_blank") Recipe for Natural Selection
                  p
                     a(href="/content/evo/meet" target="_blank") Meet the Threespine Stickleback
                  p
                     a(href="/content/evo/stickleback" target="_blank") Loberg Lake Stickleback data collection

                  h3 Speciation
                  p
                     a(href="/content/evolution/speciation/species/" target="_blank") What Is a Species?
                  p
                     a(href="/content/evo/barriers/" target="_blank") Reproductive Barriers
                  p
                     a(href="/content/evolution/speciation/hawthorn" target="_blank") Hawthorns to Apples

               +bottom-menu("",'nsfevo')
