extends /shared/layout

block content
   +pageTitle
   
   .uk-width-1-1.uk-text-center
      iframe.uk-responsive-width(src='https://player.vimeo.com/video/71132856', width='920', height='518', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
      br
      br
         
   +pod('Conditions that vary')
      .uk-width-1-1
         p Abiotic (or non-living) factors vary among your body&apos;s ecosystems&mdash;often by a lot. Below are some examples. Can you think of more?        
         ul
            li Temperature&mdash;skin is cooler, especially on extremities like hands and feet            
            li pH&mdash;skin, upper GI tract, and vagina are acidic      
            li Water&mdash;skin has dry, exposed areas and moist creases; areas inside the body are much more moist than skin         
            li Oxygen&mdash;pockets around teeth have little oxygen, skin has the most     
            li Available nutrients&mdash;oils on the skin, food in the gut, dead cells, secretions     
            li UV light&mdash;certain areas of the skin have more exposure than others   
            li Substrate&mdash;hard (teeth) vs. soft (cheeks, tongue) areas of the mouth, for example    
   +pod("Learning From Earth's Ecology")
      .uk-width-1-1
         p.
            Ecosystems are constantly changing. Forests are burned by fires. Species introduced from other other ecosystems 
            compete for resources. Ecologists study these phenomena, and they come up with strategies for understanding and 
            managing them. It turns out that some of these strategies apply to the body's ecosystems as well.
         br

      .uk-width-medium-6-10
         figure
            img(src="images/eco1.png")
            p.
               In the mid-1800s, Australia was overrun with non-native rabbits, which wreaked havoc on the native vegetation. 
               Similarly, harmful bacteria invade the sinuses, outcompeting the resident species for resources.
      .uk-width-medium-4-10
         figure
            img(src="images/eco2.png")
            p.
               After a forest fire, species gradually return and repopulate the area. After antibiotic treatment, the few 
               microbes that remain must re-build the ecosystem of the colon.
   +pod('Selection')
      .uk-width-medium-4-10
         p.
            Lots of microbes can gain access to an ecosystem. But only those with the proper adaptations—that is, those who can 
            use the available resources and withstand environmental challenges—will survive and reproduce. Just like a fern from a 
            wet forest will die if it's moved to a desert, microbes from your forearm will die in your stomach. Those that are 
            best-equipped for the environment will take hold. In other words, the environment imposes selection.
         p.
            Likewise, changing an ecosystem can affect who lives there. In the gut, for example, one important abiotic factor is 
            food. Changing our diet influences the balance of microbes living in our guts.
         +well
            p Visit <a href="../changing/">Your Changing Microbiome</a>  to learn more about how your microbiome changes over time.

      .uk-width-medium-6-10
         figure
            img(src="images/selection.png")
            p.
               Many microbes land on your skin, but only those with the right adaptations will survive and reproduce.
