extend /shared/layout

block content
    +pageTitle
    +pod('')
        .uk-width-medium-7-10
            p
                | Flower color is the result of pigment molecules accumulating in cells, but it's not as simple as just making pigment. 
                | The location, type of pigment, and amount produced, are all very important. These aspects are genetically controlled.
            p
                | Two main groups of genes control flower color. One group includes genes that code for the protein machinery required to
                | make pigment molecules. The other group includes genes that code for regulatory proteins. It's the regulatory proteins
                | that control the location, type, and amount of pigment-producing machinery made.

    +pod('The Rainbow Road')
        .uk-width-medium-5-10
            p
                | In flowers, anthocyanins and carotenoids are two of the major pigment types. They are built by a series of chemical reactions
                | within cells.
            p
                | Some flower color genes code for the protein machinery directly involved in the reactions. These proteins are called enzymes. 
                | An enzyme's job is to catalyze a biochemical reaction. They facilitate the attachment, removal, or rearrangement of a molecule's 
                | chemical groups. To build a pigment molecule, different enzymes make specific changes, one after the other, until the final 
                | product is formed. Enzymes working together in this way form the core of a biochemical pathway. A single biochemical pathway 
                | can require dozens or even hundres of enzymes.
            p
                | In flowers, different groups of enzymes work together to make anthocyanin or carotenoid pigments. A specific set of genes code
                | for the enzymes of the anthocyanin biosynthetic pathway. Another set code for the enzymes of the carotenoid biosynthetic pathway.
            +well
                p Related Content:
                p
                   | Anthocyanins and carotenoids are made by different protein machinery, and have different structures. Visit  
                   a(href="https://learn.genetics.utah.edu/content/flowers/chemistry/") Chemistry of Flower Color  
                   |  to learn how the structure of pigment molecules determines the colors we see.
        .uk-width-medium-5-10
            figure
                img(src="images/Visual1Smaller.png", class="lg-no-shadow", alt="colors of anthocyanins")
                p Anthocyanins and carotenoids are pigments that color many flowers.

            figure
                div(style="padding-top:58.2%; position:relative; overflow:hidden;")
                  #controlledWidth.uk-width-1-1(style="position:absolute; top:0;")
                    div(id="visual2hype_hype_container" style="margin:auto; position:relative; width:600px; height:349px; overflow:hidden; transform-origin:top left;" aria-live="polite")
                      script(type="text/javascript" charset="utf-8" src="Visual2Hype.hyperesources/visual2hype_hype_generated_script.js?76904")
                p
                    | Enzymes work together like an assembly line to build pigment molecules.

    +pod('Fine Tuning')
        .uk-width-medium-7-10
            p
                | A second group of flower color genes code for proteins called transcription factors. Transcription factors are regulatory
                | proteins. Each cell type has a unique set of transcription factors that control gene activity. In different types of flower
                | cells, transcription factors turn genes in the anthocyanin and carotenoid pathways up or down. They also control the timing
                | of gene activity. That's why even though all flower cells have the same genetic content, they aren't all the same color.
            p
                | Transcription factors work through genetic switches. There are one or more switches controlling every gene. The switches
                | aren't genes, but they're small stretches of DNA that affect gene activity. Transcription factors bind to a gene's switch,
                | turning gene activity up or down.

        .uk-width-1-1
            h3 Making a Pink and Yellow Monkeyflower

        .uk-width-medium-5-10
            p
                | To clarify, let's explore how the monkeyflower 
                em Mimulus lewisii
                |  gets its color.
                em M. lewisii
                |  flowers have pink petals from anthocyanins. They also have two yellow nectar guids, colored by carotenoids.
            p
                | In a pink petal cell, transcription factors activate genes of the anthocyanin biosynthetic pathway. Many genes in the pathway
                | have a similar switch, so they respond to the same transcription factors. Activated genes produce the protein enzymes they code
                | for. The enzymes do their job of making anthocyanin pigment, and the petals are pink.
            p
                | So far, researchers know three transcription factors that activate anthocyanin biosynthetic genes in
                em M. lewisii
                |  . They are called MIWD40a, MlANbHLH1, and PELAN. All three work together as a group to activate genes.
            p
                | A similar story explains why
                em M. lewisii's
                |  nectar guides are yellow. A transcription factor protein called RCP1 is in nectar guide cells, but not the other cells of the 
                | petal. RCP1 switches on genes whose protein products make carotenoid pigments. The nectar guides are yellow.

        .uk-width-medium-5-10
            figure
                img(src="images/Visual3Smaller.png", class="lg-no-shadow", alt="differences in gene expression that lead to color/pattern in M. lewisii")
                p 
                    | In most petal cells of this monkeyflower, transcription factors activate genes
                    | in the anthocyanin biosynthetic pathway. The cells make proteins that build pink
                    | pigments. In nectar guide cells, transcription factors activate genes in the carotenoid
                    | biosynthetic pathway. Proteins are made that build yellow pigments.
                    
        .uk-width-medium-5-10
        .uk-width-medium-5-10
            h3 It's Not Just On or Off
            
        .uk-width-medium-5-10
            figure
                img(src="images/Visual4Smaller.png", alt="table", style="width: 75%")
                p
            
        .uk-width-medium-5-10
            p
                | The monkeyflower example describes how transcription factors activate genes, but they can also turn gene activity down. In the end, it is 
                | rarely as simple as turning the genes in a pathway on or off. It is usually a balance. A single cell type can also make more than one 
                | type of pigment, and levels can vary greatly. This complexity is part of what allows for the huge variety of flower colors that exist.
            p
                | The petals of 
                em M. lewisii
                |  monkeyflowers usually have a combination of transcription factor proteins. They are light pink because some transcription factors 
                | turn gene activity "up", while others are turning it "down" at the same time. When one type of transcription factor is removed, 
                | the balance of gene activation shifts. Flower color changes.
        
        .uk-width-1-1
            h3 Coloring Fruits and Vegetables

        .uk-width-medium-5-10
        .uk-width-medium-5-10
            h3 It's Not Just On or Off

        .uk-width-medium-5-10
            figure
                img.lg-no-shadow(src="images/Cauliflower.png", alt="purple cauliflower", style="width: 50%")
                p Transcription factors help control coloring in many plants, including fruits and vegetables.
        
        .uk-width-medium-5-10
        .uk-width-medium-5-10
            h3 What Activates the Transcription Factors?
            
        .uk-width-medium-5-10
            figure
                img(src="images/BloodOranges.png", alt="blood oranges", style="width: 75%")
                p
                    | The color of blood oranges is due to a mix of carotenoid and anthocyanin pigments. They contain an anthocyanin-activating transcription 
                    | factor that is more active at low temperatures. This means anthocyanin accumulation - and blood oranges color - is different depending 
                    | on temperature.

        .uk-width-medium-5-10
            p
                | The monkeyflower example describes how transcription factors activate genes, but they can also turn gene activity down. In the end, it is
                | rarely as simple as turning the genes in a pathway on or off. It is usually a balance. A single cell type can also make more than one
                | type of pigment, and levels can vary greatly. This complexity is part of what allows for the huge variety of flower colors that exist.

        .uk-width-1-1
            h3 Coloring Fruits and Vegetables

        .uk-width-medium-5-10
            p
                | Transcription factors are also sensitive to signals from the environment. The signals can affect the amount of a transcription factor protein 
                | that is created, or ensure the protein acts at the right time and place after it is created. Cues from an organism's development, a cell's 
                | communication with its neighbors, and environmental signals like light, stress, and temperature, can all affect transcription factor activity.
            

    +pod('Solving Old Puzzles')
        .uk-width-medium-5-10
            p
                | Because we understand so much about the genetics of color in monkeyflowers, we can use the knowledge to guide research into other questions. For 
                | example, researchers use monkeyflowers to study overdominance.
            p
                | Overdominance is when the hybrid offspring of two parents have traits that are more extreme compared to either parent. It occurs in many different 
                | plants and animals, but it is very well-known in crops. Hybrid crop plants often have higher yields than their "purebred" parents. Farmers have used 
                | hybrid crops to improve yield for over a century, without fully understanding why it works. Knowing more might help us boost its effects.
        .uk-width-medium-5-10
            figure
                img(src="images/Visual6Smaller.png", alt="overdominance in M. lewisii")
                p
                    | This hybrid monkeyflower is darker than either of its parents.
            +well
                p
                    | In plants, an
                    em inbred line
                    |  consists of individuals that are genetically very similar. They are established by either generations of strict crosses within the line, or
                    | self-pollination
                p
                    | Crossing two inbred lines gives hybrid offspring.

        .uk-width-medium-5-10

        .uk-width-1-1
            h3 Overdominance in Monkeyflowers

        .uk-width-medium-5-10
            figure
                img(src="images/Visual7Smaller.png", class="lg-no-shadow", alt="monkeyflower color diagram")

        .uk-width-medium-5-10
            p
                | In the monkeyflower
                em M. lewisii
                |  , overdominance affects the intensity of flower color. If two specific inbred lines &mdash; one with light pink petals and one with very pale petals &mdash; 
                | are crossed, the hybrid offspring are dark pink. Researchers discovered the dark pink monkeyflower is a case of single-gene overdominance. It is  
                | dark pink because it has two forms (alleles) of a single gene. It gets one from each parent.
            p
                | The gene responsible for the overdominance is
                em FLAVONE SYNTHASE
                | , or
                em FNS
                | . It codes for the protein
                em FNS
                | .
                em FNS
                |  interferes with an enzyme in the anthocyanin biosynthesis pathway. Both
                em FNS
                |  and the enzyme use the same building material, but make different end products.
                em FNS
                |  takes building material away from the anthocyanin pathway and uses it to make flavones. Flavones are also important for monkeyflower color.
                | Once made, they bind and stabilize anthocyanins, preventing their breakdown.

        .uk-width-1-1
            h3 Hybrid Vigor in Crop Plants
            
        .uk-width-medium-5-10
            p
                | In crops, hybrid vigor (or heterosis) describes hybrid offspring that do better than their parents. For a long time, the molecular basis was unknown.
                | Now we know at least a few cases are because of single-gene overdominance.
            p
                | One example is tomato yield. The gene
                em SINGLE FLOWER TRUSS
                |  (
                em SFT
                | ) leads to the production of florigen protein, a hormone that tells plants that it is time to make flowers. Tomato plants are very sensitive to the
                | amount of florigen produced. Too little, and they don't produce many flowers. Too much, and flower production slows down or ends. However, with one
                | working and one non-working version of the
                em SFT
                |  gene, florigen protein is produced at a level that allows plants to make more flowers. With more flowers, there are more tomatoes.

        .uk-width-medium-5-10
            figure
                img(src="images/tomatoes.png", alt="tomatoes on a vine")
                p Hybrid tomatoes often produce more fruit.
            +well
                p Related Content:
                p
                    | The genetics behind flower color reveal there is a lot going on at the molecular level to determine a trait! This is true for most traits, in plants 
                    | and in animals. In fact, the more we learn, the more we realize that familiar terms from classical genetics &mdash; like dominant and recessive &mdash; only tell 
                    | a small part of the story. To learn more, visit 
                    a(href="https://learn.genetics.utah.edu/content/basics/patterns/") What are Dominant and Recessive?
                    |  and 
                    a(href="") The Dominant/Recessive Problem
                    | .
            
    +references
        p
            | Butelli, E., Licciardello, C., Zhang, Y., Liu, J., Mackay, S., Bailey, P., &amp; Martin, C. (2012). Retrotransposons control fruit-specific, cold-dependent
            | accumulation of anthocyanins in blood oranges. The Plant Cell, 24(1), 1242-1255.
        p
            | Chiu, L. W., Zhou, X., Burke, S., Wu, X., Prio, R., &amp; Li, L. (2010). The purple cauliflower arises from activation of a MYB transcription factor. Plant
            | Physiology, 154(1), 1470-1480.
        p
            | Hirschberg, J. (2001). Carotenoid biosynthesis in flowering plants. Current Opinion in Plant Biology, 4(3), 210-218.
        p
            | Jiang, K., Liberatore, K. L., Park, S. J., Alvarez, J. P., &amp; Lippman, Z. B. (2013). Tomato yield heterosis is triggered by a dosage sensitivity of the
            | florigen pathway that fine-tunes shoot architecture. PLoS Genetics, 9(12), e1004043.
        p
            | Kreiger, U., Lippman, Z. B., &amp; Zamir, D. (2010). The flowering gene SINGLE FLOWER TRUSS drives heterosis for yield in tomato. Nature Genetics, 42(5), 459.
        p
            | Naing, A. H., &amp; Kim, C. K. (2018). Roles of R2R3-MYB transcription factors in transcriptional regulation of anthocyanin biosynthesis in horticultural plants.
            | Plant Molecular Biology, 1-18.
        p
            | Quattrochio, F., Wing, J. F., Leppen, H. T., Mol, J. N., &amp; Koes, R. E. (1993). Regulatory genes controlling anthocyanin pigmentation are functionally
            | conserved among plant species and have distinct sets of target genes. The Plant Cell, 5(11), 1497-1512.
        p
            | Sagawa, J. M., Stanley, L. E., LaFountain A. M., Fran, H. A., Liu, C., &amp; Yuan, Y. W. (2016). An R2R3-MYB transcription factor regulates carotenoid pigmentation
            | in Mimulus lewisii flowers. New Phytologist, 209(3), 1049-1057.
        p
            | Yuan, Y. W., Sagawa, J. M., Frost, L., Vela, J. P., &amp; Bradshaw, H. D. (2014). Transcriptional control of floral anthocyanin pigmentation in monkeyflowers
            | (Mimulus). New Phytologist, 204(4), 1013-1027.
        p
            | Yuan, Y. W., Sagawa, J. M., Young, R. C., Christensen, B. J., &amp; Bradshaw, H. D. (2013). Genetic dissection of a major anthocyanin QTL contributing to 
            | pollinator-mediated reproductive isolation between sister species of Mimulus. Genetics, 194(1), 255-263. 
        
            
block append endscripts
  script.
    $(document).ready(function() {
      var container = document.getElementById('controlledWidth');
      var item = document.getElementById('visual2hype_hype_container');

      function updateItemWidth () {
         var pad = parseInt(window.getComputedStyle(container).paddingLeft);
         var newScale = (container.offsetWidth - pad) / 600;
         item.style.transform = "scale(" + newScale + "," + newScale + ")";
      };

      updateItemWidth();
      window.addEventListener('resize', updateItemWidth);
    });
