extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-1-1
         p
            | One of the most remarkable examples of cell communication is the fight or flight response.
            | When a threat occurs, cells communicate rapidly to elicit physiological responses that help the
            | body handle extraordinary situations. The movie depicts just some of the communication and
            | responses involved in the fight or flight response. Below is a detailed guide to events taking
            | place in the movie.
         table(style='width:700px;')
            tr
               td(style='width:100px;')
                  strong Movie Time
               td(style='width:600px;')
                  strong Event
            tr
               td 0:16
               td
                  | An environmental signal travels
                  strong into the brain
                  | . In response,
                  | the amygdala, a primitive structure in the brain, fires off
                  | a nerve impulse to the hypothalamus (not shown). The
                  | hypothalamus sends a chemical signal to another part of the
                  | brain called the pituitary gland.
                  br
                  br
            tr
               td 0:25
               td
                  strong In the pituitary gland
                  | , corticotrope cells release
                  | adrenocorticotropic hormone (ACTH, green molecules) into the
                  | blood stream.
                  br
                  br
            tr
               td 0:38
               td
                  | Simultaneously, nerve impulses travel from the hypothalamus
                  | along the spinal cord to the adrenal gland (atop the kidneys).
                  | Both the chemical signal (ACTH) and the nerve impulse
                  | initiated in the hypothalamus travel to the adrenal gland.
                  br
                  br
            tr
               td 0:49
               td
                  strong In the adrenal gland
                  | , the nerve impulse signals chromaffin
                  | cells to release epinephrine (blue molecules, also known as
                  | adrenaline) into the bloodstream. Epinephrine will travel to
                  | many different cell types throughout the body.
                  br
                  br
            tr
               td 0:54
               td
                  | The ACTH (green) previously secreted by the pituitary gland
                  | travels through the blood stream to cells in another area of the
                  | adrenal gland.
                  br
                  br
            tr
               td
                  em 1:01 - 1:35
               td
                  em The Cortisol Production Signaling Cascade:
                  br
                  br
            tr
               td 1:01
               td
                  strong On the surface of an adrenal cell
                  | , the signaling
                  | molecule ACTH (green, not drawn to scale) docks on a
                  | MC2-R receptor (yellow), causing it to change shape.
                  br
                  br
            tr
               td 1:03
               td
                  strong Inside the adrenal cell
                  | , the conformational change of
                  | the receptor causes the G protein complex (pink, right) to
                  | become activated and uncoupled. The G protein stimulates
                  | adenylate cyclase (red, left) to convert ATP (the cell&apos;s
                  | energy molecule) into cAMP (a signaling molecule, blue).
                  br
                  br
            tr
               td 1:08
               td
                  | cAMP activates Protein Kinase A (PKA) causing it to
                  | release its catalytic subunits (only one is shown here
                  | for simplicity). The catalytic PKA subunit travels to the
                  | mitochondrial membrane and switches on a protein called
                  | steroidogenic acute regulatory protein (StAR, not shown).
                  br
                  br
            tr
               td 1:11
               td
                  | StAR is responsible for mediating the complicated task of
                  | importing cholesterol (yellow) into the mitochondrion.
                  br
                  br
            tr
               td 1:13
               td
                  | Inside the mitochondrion, enzymes convert the cholesterol
                  | into 17-OH-pregnenolone. 17-OH-pregnenolone is released
                  | from the mitochondrion and sent to the endoplasmic
                  | reticulum, where it is converted into 11-deoxycortisol.
                  br
                  br
            tr
               td 1:25
               td
                  | This compound is then sent back to the mitochondrion
                  | where it is finally transformed into the final product,
                  | cortisol. Cortisol
                  strong leaves the adrenal cell
                  |  by freely
                  | crossing the cell membrane, and it enters the bloodstream.
                  br
                  br
            tr
               td 1:35
               td
                  | Cortisol will travel through the bloodstream to several
                  | cell types. It will initiate signaling cascades in these cells
                  | resulting in an increase in blood pressure, an increase in
                  | blood sugar levels, and suppression of the immune system
                  | (not shown).
                  br
                  br
            tr
               td 1:42
               td
                  | A view of epinephrine (blue) that was released earlier by
                  | the adrenal gland. From here, the epinephrine will travel
                  | to several cell types, eliciting different responses.
                  br
                  br
            tr
               td
                  em 1:45 - 2:20
               td
                  em The Glycogenolysis Signaling Cascade:
                  br
                  br
            tr
               td 1:45
               td
                  strong On the surface of a liver cell
                  | , epinephrine (blue, not
                  | drawn to scale) binds to an alpha-1 adrenergic receptor
                  | (yellow), causing it to change shape.
                  br
                  br
            tr
               td 1:47
               td
                  strong Inside the liver cell
                  | , the conformational change of
                  | the alpha-1 adrenergic receptor causes the G protein
                  | complex to become activated and uncoupled. The G
                  | protein (red, left) binds to phospholipase-C (center),
                  | causing it to produce and release the signaling molecule
                  | IP3 (pink, right).
                  br
                  br
            tr
               td 1:58
               td
                  | IP3 binds to receptors on the surface of the endoplasmic
                  | reticulum (ER, green), stimulating the release of calcium
                  | ions (red spheres).
                  br
                  br
            tr
               td 2:04
               td
                  | Calcium interacts with phosphorylase kinase (yellow),
                  | stimulating it to release its associated molecules of
                  | glycogen phosphorylase (orange).
                  br
                  br
            tr
               td 2:11
               td
                  | Glycogen phosphoryase breaks a glycogen molecule into
                  | individual glucose subunits.
                  br
                  br
            tr
               td 2:26
               td
                  | The newly-formed glucose is transported
                  strong
                     | out of the
                     | liver cell
                  |  and it enters the bloodstream. This glucose will
                  | provide an immediate source of energy for muscle cells
                  | (not shown).
                  br
                  br
            tr
               td 2:28
               td
                  | Simultaneously, epinephrine (blue) travels through the
                  | bloodstream to other cell types.
                  br
                  br
            tr
               td 2:42
               td
                  strong In the skin
                  | , epinephrine binds to a receptor on an
                  | erector pilli smooth muscle cell. This causes a signaling
                  | cascade (similar to the glycogenolysis signaling cascade,
                  | above) that contracts the muscle, raising the hair on the
                  | surface of the skin.
                  br
                  br
            tr
               td 2:56
               td
                  strong On the surface of sweat glands
                  | , epinephrine binds
                  | to Alpha-1 adrenergic receptors, triggering a signaling
                  | cascade that contracts the gland, squeezing sweat to the
                  | skin&apos;s surface.
                  br
                  br
            tr
               td 3:15
               td
                  strong In the lungs
                  | , epinephrine sets off a signaling cascade
                  | (similar to the cortisol signaling cascade, described
                  | above) that relaxes muscle cells surrounding the
                  | bronchioles to enable increased respiration.
                  br
                  br
            tr
               td 3:26
               td
                  | Epinephrine can have opposite effects (contraction, or
                  | relaxation) depending on the type of signaling machinery
                  | present
                  strong in the cell
                  | . Docking on alpha-1 adrenergic
                  | receptors on the erector pilli muscle causes contraction,
                  | while docking on beta-2 adrenergic receptors on
                  | bronchiole muscle cells cause relaxation.
                  br
                  br
            tr
               td 3:51
               td
                  strong In the heart
                  | , epinephrine acts on the pacemaker cells,
                  | stimulating them to beat faster. As a result, energy and
                  | messenger molecules are circulated throughout the body
                  | at a faster rate.
