extends /shared/layout
block content
   +pageTitle

   +pod('')
      .uk-width-1-1
         iframe.uk-responsive-width(src='http://player.vimeo.com/video/181958387', width='898', height='500', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
