extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-4-10
         p
            | Imagine your mind racing from thought to thought, or not being able to tell the difference between reality and a hallucination. Imagine feeling not much at all, your mind numb to any pleasure you might receive from relationships, hobbies, school, or work. These are just a few of the symptoms that accompany mental illnesses like schizophrenia, mood disorders, and depression.
         p
            | Mental illness and drug addiction often occur together. This condition of dual diagnosis presents a challenge to physicians. The patient has two brain diseases that influence one another, and which both need treatment. But why do mental illness and substance abuse so often occur together?
         |    
         .mediaSunk
            p.caption
               | To effectively deal with dual diagnosis, we must treat the problems of mental illness and addiction together. --Dr. Glen Hanson
            |         
            audio(controls='')
               source(src='Dual_Diagnosis_Policy (new).mp3')
         |     
         .mediaSunk
            p.caption
               | Substance abuse treatment centers recognize the need to treat patients for both addiction and mental illness. --Pat Fleming
            |             
            audio(controls='')
               source(src='Fleming_Comorbidity (new).mp3')
      |    
      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='graph.jpg', alt='Graph')     
            p A high percentage of people with mental disorders are also addicted to drugs of abuse.
   +pod('Which Happens First?')
      |    
      .uk-width-medium-6-10
         p
            strong Can drug use cause mental illness? 
            br
            | Some say that certain drugs may indeed cause mental illness in individuals with a vulnerable genetic profile. Others say that drugs don&apos;t necessarily cause mental illness, but can worsen the symptoms.
         p
            strong Are mental illness sufferers self-medicating with drugs? 
            br
            | Some people may begin using drugs of abuse as a form of self-medication. Drugs of abuse may temporarily relieve some of the symptoms associated with mental illness, such as stress, anxiety, social inhibitions, or depression.
         p
            | The following examples illustrate the interrelatedness of addiction and mental illness. But regardless of which came first, understanding the underlying causes of dual diagnosis will help physicians treat their patients.
         ul(style='list-style-type:none;')
            li
               | A teen who will develop a mental illness begins to use drugs. As a result, symptoms of mental illness surface sooner than they would have, and worsen dramatically with prolonged drug use.
            br
            |     
            li
               | 70% of schizophrenics smoke. Smoking a cigarette may help them experience calmness or a sense of well-being. It may help them think more clearly, more easily carry on a conversation, or diminish uncomfortable side effects of medications.
            br
            |     
            li
               | Stimulants such as cocaine can cause anxiety, panic attacks, mania, and sleep disorders.
            br
            |     
            li
               | Depression can result from an underactive reward pathway that receives little pleasure from natural rewards. People with depression may turn to drugs to stimulate their reward pathways to more &ldquo;normal&rdquo; levels.
            br
            |     
            li
               | Methamphetamine addicts often report hearing voices and other types of hallucinations characteristic of certain mental disorders.
            br
            |     
            li
               | Prolonged drug use can lead to a downward spiral of worsening mental illness and drug addiction, leaving many worse off than they started.
      |    
      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src='chicken-egg.jpg', alt='Chicken and Egg')
            p It&rsquo;s a little like the question of the chicken and the egg: Which came first, the mental illness or the drug addiction?
         |         
         .mediaSunk
            p.caption Drug use can fan the flames of mental illness. --Dr. Glen Hanson
            |         
            audio(controls='')
               source(src='Mental_Tease_Out (new).mp3')
         |         
         .mediaSunk
            p.caption
               | Why do more than 70% of people with schizophrenia smoke cigarettes? --Pat Fleming
            |             
            audio(controls='')
               source(src='Fleming_Schizophrenia (new).mp3')
   +pod('Brain Diseases Share Biology')
      |    
      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src='old-brain.jpg', alt='Brain')
      |    
      .uk-width-medium-6-10
         p
            | Addiction and mental illness are both brain diseases. A person vulnerable to one type of brain disease may also be vulnerable to another.
         p
            | Addiction and mental illness involve the same pathways, molecules, and chemicals in the brain, and they share many similarities:
         |        
         ul(style='list-style-type:none;')
            li
               | Increased dopamine activity is characteristic of both schizophrenia and many stimulants such as cocaine.
            br
            |            
            li A serotonin transporter is associated with both mood disorders and alcoholism. 
            br
            |            
            li
               | Both cocaine users and people with schizophrenia have dysfunctional reward pathways with increased dopamine activity.
   +pod('Smoking Marijuana Linked to Schizophrenia')
      |    
      .uk-width-medium-4-10
         p
            | What if your genetic make-up could influence how your body reacts to drug abuse, causing mental illness in some but not in others? A recent study reported that individuals with a particular variant of the COMT (catechol-o-methyltransferase) gene may be more likely to develop schizophrenia if they smoke marijuana regularly. As many as 1 in 4 people may have this variant.
      |    
      .uk-width-medium-6-10
         figure
            img(src='genetically_modified_plant_small.jpg', alt='Genetically Modified Plant')      
            p.
               Genetics may play a role in determining how an individual will react to drug abuse, causing mental illness in some but not in others
   
