extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-4-10
         p
            | Epigenetics is the product of a collaboration between the Genetic Science Learning Center staff and 19 outstanding teachers who were hand-selected from hundreds of qualified applicants to participate in the 2008 Beyond the Central Dogma Master Teacher Summer Institute.
      |    
      .uk-width-medium-6-10
         iframe(src='//player.vimeo.com/video/116078149', width='500', height='281', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')

   +pod('Participants (in alphabetical order):')
      .uk-width-medium-4-10
         p
            | Sherry Annee&#x9;
            br
            |     Greg Ballog&#x9;&#x9;
            br
            |     Andrea Cooney&#x9;
            br
            |     Eric Cullander&#x9;&#x9;&#x9;
            br
            |     Elaine Diamond&#x9;
            br
            |     Barbara Egan&#x9;&#x9;&#x9;
            br
            |     Nancy Gettman&#x9;&#x9;
            br
            |     Mario Godoy-Gonzalez&#x9;
            br
            |     Bridget Hoggatt&#x9;&#x9;
            br
            |     Alice Keller&#x9;&#x9;&#x9;
            br
            |     Chris Kuka&#x9;&#x9;&#x9;
            br
            |     Keri Shingleton&#x9;&#x9;
            br
            |     Kristi Sutton&#x9;&#x9;&#x9;
            br
            |     Kimberly Swaggard-Svec&#x9;
            br
            |     Monica Van-Y&#x9;&#x9;&#x9;
            br
            |     Philip Vinogradov&#x9;&#x9;
            br
            |     Phil Wagner&#x9;&#x9;&#x9;
            br
            |     Michael West&#x9;&#x9;&#x9;
            br
            |     Polly Wilson
      |    
      .uk-width-medium-6-10
         p
            | Indianapolis, IN&#x9;
            br
            |     Langley, WA
            br
            |     Omaha, NE
            br
            |     Creswell, OR
            br
            |     Bethlehem, PA&#x9;
            br
            |     Kettering, OH
            br
            |     Lindon, CO&#x9;
            br
            |     Royal City, WA&#x9;
            br
            |     Bradenton, FL
            br
            |     Union, NJ
            br
            |     Bend, OR
            br
            |     Tulsa, OK&#x9;
            br
            |     Bellevue , WA
            br
            |     Parma, OH
            br
            |     Westland, MI
            br
            |     Willow Grove, PA
            br
            |     Beverly Hills, CA
            br
            |     East St. Paul, MB&#x9;
            br
            |     Portland, ME

   +pod('GSLC Staff')
      .uk-width-medium-4-10
         | Pete Anderson 
         br
         |     Sheila Avery
         br
         |     Dina Drits
         br
         |     Molly Malone
         br
         |     Brendan Nicholson
      |    
      .uk-width-medium-6-10
         | Kevin Pompei
         br
         |     Louisa Stark, Ph.D.
         br
         |     Harmony Starr
         br
         |     Mathew Weaver

   +pod('Copy Editor')

      .uk-width-medium-6-10
         | Eden Gillespie
      |    
      .uk-width-medium-4-10
   +pod('Voice Talent')
      |    
      .uk-width-medium-6-10
         | CJ Bane - The Epigenetics of Identical Twins
         br
         |     Lisa Lindsley - Lick Your Rats
         br
         |     Simone Pavlides - The Epigenome at a Glance
      |    
      .uk-width-medium-4-10
   +pod('Music Composition')
      |    
      .uk-width-medium-6-10
         | Cody Baldwin - The Epigenome at a Glance 
         br
         |     Matthew Tyas, Greendjohn and Ant Neely - 
         br
         |     The Epigenetics of Identical Twins
      |    
      .uk-width-medium-4-10

   +pod('Photography & Video Clips') 
      .uk-width-medium-4-10
         strong The Epigenome at a Glance
         br
         |   
         em Cell video clips:
         br
         |     Nakata et al. (2003) JCB 162:1045-1055
         br
         |     Windoffer et al. (2002) JCS 115, 1717-1732
         br
         |     Gebhardt  et al. (2006) JCB 172: 139-149
         br
         br
         |     
         |   
         strong Insights From Identical Twins
         br
         |   
         em Vintage twin photos in movie:
         br
         |     John Van Noate
         br
         |     Lisa Bliss Chin 
         br
         |     Laural Emur
         br
         |     Nancy L. Stockdale
         br
         |     Catherine dee Auvil&#x9;
         br
         |     Lorri Lennox
         br
         |     Kathy Awbrey
         br
         |     Roz Leibowitz
         br
         |     Carla Frances
         br
         |     Lindsay Dell
         br
         |     James Tworow
         br
         |     Patrick Q.
         br
         | &#x9;
         |     David Lisbona
         br
         |     Dawn Mary
         br
         br
      |    
      .uk-width-medium-6-10
         em Chromosomes:
         br
         |     Fraga, M.F. et al. (2005) PNAS, 102:10604-9.
         br
         br
         |     
         |   
         em Dyslexia and Arthritis:
         br
         |     Sparky Toews
         br
         |     eyeDesign2
         br
         br
         |     
         |   
         em Identical and Fraternal Twins:
         br
         |     Anthony Malloy
         br
         |     Alethea Fowler
         br
         br
         |     
         |   
         strong Lick Your Rats
         br
         |   
         em Video of actual mother rat licking:
         br
         |     Frances Champagne, Ian Weaver, 
         br
         |     Michael Meaney, Moshe Szyf
         br
         br
         |     
         |   
         strong Nutrition and the Epigenome
         br
         |   
         em Agouti mice:
         br
         |     Randy L. Jirtle, Ph.D.
         br
         br
         |     
         |   
         em Food abundance:
         br
         |     Paul Townsend
   +pod('Special Acknowledgements')
      |     
      p
         | We would also like to thank the speakers at our 2008 Beyond the Central Dogma Master Teacher Summer Institute who also greatly assisted us during the production process:
      |     
      .even
         p(style='float: left;')
            img(src='images/szyf.jpg', width='100', height='140')
         p
            strong Moshe Szyf, Ph.D.,
            |  
            br
            |     Department of Pharmacology and Therapeutics
            br
            |     McGill University, Montreal, Quebec
         |   
         div(style='clear:both')
         |   
         p(style='float: left;')
            img(src='images/capecchi.jpg', width='100', height='140')
         p
            strong Mario Capecchi, Ph.D.
            br
            |     Distinguished Professor of Human Genetics and Biology
            br
            |     University of Utah
         |     
         div(style='clear:both')
         |     
         |   
         p(style='float: left;')
            img(src='images/gesteland.jpg', width='100', height='140')
         p
            strong Ray Gesteland Ph.D.,
            |  
            br
            |     Distinguished Professor of Human Genetics
            br
            |     University of Utah
         |         
         div(style='clear:both')
      |     
      .even
         p(style='float: left;')
            img(src='images/flanigan.jpg', width='100', height='140')
         p
            strong Kevin Flanigan M.D., 
            br
            |     Associate Professor of Human Genetics and of Neurology
            br
            |     University of Utah
         |         
         div(style='clear:both')
         |     
         |   
         p(style='float: left;')
            img(src='images/jirtle.jpg', width='100', height='140')
         p
            em Also a very special thanks to:
            br
            |   
            strong Randy L. Jirtle, Ph.D.,
            |  
            br
            |     Director of the Epigenetics and Imprinting Laboratory
            br
            |     Duke University
         |         

         +bottom-menu("",'sepagosh')
   
