extends /shared/layout

block content
   +pageTitle
   +pod('')
      .uk-width-medium-6-10
         p
            | The Human Microbiome is the product of a collaboration between the Genetic Science Learn- ing Center staff and a group of outstanding educators who participated in the 2011 Human Micobiome Master Teacher Summer Institute at the University of Utah.
      
   +pod('Summer Institute Participants')
      .uk-width-medium-4-10
         table(style='width:400px')
            tr
               td Sherry Annee 
               td Indianapolis, IN
            tr
               td Judy Barcelon 
               td Santa Rosa, CA
            tr
               td Bridget Bolland
               td West Valley City, UT
            tr
               td Christine Celestino
               td Draper, UT
            tr
               td Andrea Cooney 
               td Omaha, NE
            tr
               td Jan de Bres
               td The Netherlands
            tr
               td Erika DuRoss
               td Salt Lake City, UT
            tr
               td Beth Ellickson
               td Phoenix, AZ
            tr
               td Jeremy Ensrud
               td Canby, OR
            tr 
               td Marc Gaw
               td Huntingdon Valley, PA
            tr
               td Mario Godoy-Gonzalez
               td Royal City, WA
            tr
               td Barbara Kren
               td Beavercreek, OH
            tr   
               td Chris Kuka
               td Bend, OR
            tr   
               td Mary Lindow 
               td Battle Creek, MI
            tr   
               td Kristen Lindstrom 
               td Hillsdale, NJ
            tr
               td Kelly Murray
               td West Chester, PA
            tr   
               td Julie Schwarting 
               td Lawrence, KS
            tr
               td Keri Shingleton 
               td Tulsa, OK
            tr   
               td Kristi Sutton
               td Bellevue, WA
            tr   
               td Wen Zhao
               td Houston, TX
      .uk-width-medium-6-10
         figure
            img(src="images/crowd2.jpg") 
         figure
            img(src='images/swabbing_plates.jpg')   
              
   +pod('Summer Institute Speakers')
      .uk-width-medium-6-10
         p
            | We would like to thank the following individuals, who spoke at our 2011 Human Microbiome Master Teacher Summer Institute:
      .uk-width-medium-5-10
         figure
            img(src="images/present2.jpg")
         figure
            img(src="images/speaker2.jpg")
      .uk-width-medium-5-10
         table
            tr
               td <strong>Lita M. Proctor, PhD
            tr
               td Coordinator and Program Director
            tr
               td NIH Common Fund Human Microbiome Project 
            tr
               td NIH National Human Genome Research Institute
         br
         table
            tr
               td <strong>Daniel N. Frank, PhD
            tr
               td Assistant Professor, Division of Infectious Diseases
            tr
               td Co-Director, Microbiome Research Consortium
            tr
               td University of Colorado Denver
         br
         table
            tr
               td <strong>Robert B. Weiss, PhD
            tr
               td Assistant Professor
            tr
               td Department of Human Genetics
            tr
               td University of Utah
         br
         table
            tr
               td <strong>Michael Fischbach, PhD
            tr
               td Assistant Professor
            tr
               td School of Pharmacy
            tr
               td University of California, San Francisco
               
   +pod('GSLC Staff')
      .uk-width-medium-5-10
         p 
            | GSLC staff who contributed to this project:
            
         table(style='width:400px')
            tr
               td Peter Anderson
               td Kagan Breitenbach
            tr
               td Dmitri Carapezza
               td Kristin Fenker
            tr
               td Sheila Homburger
               td Molly Malone
            tr
               td Brendan Nicholson
               td Ryan Perkins
            tr
               td Kevin Pompei
               td Louisa Stark
            tr
               td Mathew Weaver
      .uk-width-medium-5-10
         figure
            img(src="images/collaborate.jpg")
               
   +pod('Voice Talent')
      .uk-width-medium-3-10
         figure
            img(src="images/microphone.jpg")
      .uk-width-medium-6-10
         table(style='width:600px')
            tr
               td Alicia Diaz
            tr
               td <i>Examples of Symbiosis, The Human Ecosystem, Your Microbial Friends</i>
         br
         table
            tr
               td Sabrina Sterling
            tr
               td <i>Agent Antibiotic</i>
