extends /shared/layout

block append headscripts

block content
   +pageTitle
   +pod('')
      .uk-width-1-1
         include ReproductiveAdvantage.svg


block append endscripts
   script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js")
   script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/utils/Draggable.min.js")
   script(type="text/javascript" src="ReproductiveAdvantage.js")
