extends /shared/layout

block content
   +pageTitle()(teach="addiction")
   .lg-section
      .uk-container.uk-container-center
         .uk-grid
            .uk-width-medium-5-10   
               h2 Drugs Affect the Body and the Brain
               .lg-index-items
                  +index-item('Drugs of Abuse', 'interactive explore', 'abuse', 'images/abuse.jpg')
                     p Take a look at several drugs and their effects on the body.
                  +index-item('Drug Use Changes the Brain Over Time','learn more','brainchange','images/brainchange.jpg')
                     p The brain shows distinct changes after drug use that can persist long after that use is stopped.
                  +index-item('Drugs Affect Many Brain Pathways','learn more','brainpathways','images/beyond.jpg')
                     p Learn how drugs affect other pathways in the brain.
                  +index-item('Drug Delivery Methods','learn more','delivery','images/delivery.jpg')
                     p The faster a drug gets to the brain, the more likely it is to be addicting.
                  +index-item('How Drugs Can Kill and How to Stop Them','learn more','drugskill','images/drugskill.jpg')
                     p Many drugs can result in death by overdose.
               
               h2 Genetics and Addiction
               .lg-index-items
                  +index-item('Genes and Addiction','learn more','genes','images/genes.jpg')
                     p Genetic susceptibility to addiction is the result of the interaction of many genes.
                  +index-item('PI: Pedigree Investigator','interactive explore','pi','images/pi.jpg')
                     p Build a pedigree for a family afflicted with nicotine addiction.
                  +index-item('Discovering Addiction Genes Using the Candidate Gene Approach','learn more','candidate','images/candidate.jpg')
                     p Learn how researchers hunt down genes.
                  +index-item('Animal Models for Addiction Research','learn more','mice','images/mice.jpg')
                     p The reward pathway funcions in much the same way in mice as it does in people.
            
            .uk-width-medium-5-10
               h2 Drugs and the Reward Pathway
               .lg-index-items
                  +index-item('The Reward Pathway','explore','rewardbehavior','images/rewardbehavior.jpg')
                     p Learn about this important brain pathway, which drives motivation, reward, and behavior.
                  +index-item('Mouse Party','interactive explore','mouse','images/mouse.jpg')
                     p Look inside the brains of mice on drugs.
                  +index-item('Meth Mouse','learn more','methmouse','images/methmouse.jpg')
                     p See how methamphetamine affects a dopamine synapse.
               
               h2 Opioids and Pain Pathways
               .lg-index-items
                  +index-item('How Pain Works in the Body and Brain', 'interactive explore', 'howpainworks', 'images/HowPainWorksInTheBody.png')
                     p Learn why pain is helpful, how it works, and how opioids and other drugs relieve it.
                  +index-item('Opioids and Tolerance', 'interactive explore', 'tolerance', 'images/OpioidsAndTolerance.png')
                     p Opioid use causes changes in the body that quickly decrease the drug's effect over time.
               
               h2 Social Factors
               .lg-index-items
                  +index-item('Social Environment <br>Impacts the Reward Pathway','interactive explore','social','images/social.jpg')
                     p An individual’s social environment influences addiction risk.
                  +index-item('Treating Substance Use Disorder','learn more','treatments','images/treatments.jpg')
                     p Understanding the neurobiology of addiction is leading to new treatments, but addiction remains a medical challenge.
                  +index-item('Substance Use Disorder: Myths and Facts', 'video', 'mythsfacts', 'images/SubstanceUseDisorders.png')
                     p Experts discuss some common misconceptions that lead to stigma. Shifting away from stigma helps to promote harm reduction strategies and better outcomes.
                  +index-item('The Adolescent Brain','learn more','adolescent','images/adolescent.jpg')
                     p If you use drugs when you’re an adolescent, you are more likely to develop lifetime addiction.
         
         //-
            .uk-width-medium-5-10
                  h2  The Brain&apos;s Reward Pathway
                  .lg-index-items

                     +index-item('The Reward Pathway','interactive explore','rewardbehavior','images/rewardbehavior.jpg')
                        p Learn about this important brain pathway, which drives motivation, reward, and behavior.

                  h2 Addiction and Genes
                  .lg-index-items
                     +index-item('Genes and Addiction','learn more','genes','images/genes.jpg')
                        p Genetic susceptibility to addiction is the result of the interaction of many genes.
                     +index-item('PI: Pedigree Investigator','interactive explore','pi','images/pi.jpg')
                        p Build a pedigree for a family afflicted with nicotine addiction.
                     +index-item('Discovering Addiction Genes Using the Candidate Gene Approach','learn more','candidate','images/candidate.jpg')
                        p Learn how researchers hunt down genes.
                     +index-item('Animal Models for Addiction Research','learn more','mice','images/mice.jpg')
                        p The reward pathway funcions in much the same way in mice as it does in people.
                  h2 Challenges and Issues
                  .lg-index-items
                     +index-item('Seeds for Thought','learn more','seeds','images/seeds.jpg')
                        p Addiction impacts society with many ethical, legal, and social issues.
                     +index-item('Addiction Treatments Past and Present','learn more','treatments','images/treatments.jpg')
                        p Understanding the neurobiology of addiction is leading to new treatments, but addiction remains a medical challenge.
                     +index-item('Cannabis in the Clinic? <br>The Medical Marijuana Debate','learn more','cannabis','images/cannabis.jpg')
                        p Where do you stand on the medical marijuana debate?
                     +index-item('Mental Illness: <br>The Challenge of Dual Diagnosis','learn more','mentalillness','images/mentalillness.jpg')
                        p Learn about the connections between drug addiction and mental illness.
                     +index-item('Ritalin and Cocaine: <br>The Connection and the Controversy','learn more','ritalin','images/ritalin.jpg')
                        p Is Ritalin a gateway drug?
               .uk-width-medium-5-10
                  h2 Drugs and the Reward Pathway
                  .lg-index-items
                     +index-item('Drugs of Abuse','interactive explore','abuse','images/abuse.jpg')
                        p Take a look at several drugs and their effects on the body.
                     +index-item('Mouse Party','interactive explore','mouse','images/mouse.jpg')
                        p Look inside the brains of mice on drugs.
                     +index-item('Meth Mouse','interactive explore','methmouse','images/methmouse.jpg')
                        p See how methamphetamine affects a dopamine synapse.
                     +index-item('Drug Use Changes the Brain Over Time','learn more','brainchange','images/brainchange.jpg')
                        p The brain shows distinct changes after drug use that can persist long after that use is stopped.
                     +index-item('Drugs Affect Many Brain Pathways','learn more','brainpathways','images/beyond.jpg')
                        p Learn how drugs affect other pathways in the brain.
                     +index-item('Drug Delivery Methods','learn more','delivery','images/delivery.jpg')
                        p The faster a drug gets to the brain, the more likely it is to be addicting.
                     +index-item('How Drugs Can Kill','learn more','drugskill','images/drugskill.jpg')
                        p Many drugs can result in death by overdose.

                  h2 Timing and Circumstances
                  .lg-index-items
                     +index-item('Social Environment <br>Impacts the Reward Pathway','interactive explore','social','images/social.jpg')
                        p An individual’s social environment influences addiction risk.
                     +index-item('The Adolescent Brain','learn more','adolescent','images/adolescent.jpg')
                        p If you use drugs when you’re an adolescent, you are more likely to develop lifetime addiction.
                     +index-item('Environmental Risk Factors','learn more','environment','images/environment.jpg')
                        p A positive social environment protects against addiction.


         +bottom-menu("credits",'sedapa')   

         a(href="resources") Additional Resources
