extends /shared/layout

block content
   +pageTitle

   +pod('')
      .uk-width-medium-4-10
         p.
            We know the microbiome is important for maintaining human health, and when things go wrong it can contribute to disease. In order to understand how microbes influence human disease, we first need to understand the microbial make up of a healthy person—what types of microbes are present, and what are they doing? These questions are critical, and many research teams around the world are working together to answer them. The more we learn about the microbiome, however, the more we realize there are new questions that need to be asked.
            
      .uk-width-medium-6-10
         figure
            img(src="images/howwestudy.jpg" alt="How we study the microbiome")
            p Researchers at many institutions around the world are teaming up to answer important questions about the microbiome: Do humans share a core microbiome? Do relatives or community members have similar microbiomes? How does a person’s microbiome change over the course of a day, a year, or a lifetime?

   +pod('Advancing Technology')
      .uk-width-medium-10-10
         figure
            img(src="images/advtechnology.jpg" alt="Technology timeline")
            p People have been studying microbes for a long time. Early research techniques involved taking a sample from a patient and growing it in the lab, where it could be studied using a combination of culture, microscopy, and staining techniques. This works well for microbes that grow easily in culture, like e. coli, but most microbes can’t be grown in culture. New technologies, like DNA sequencing, can be done using samples taken directly from patients, so these methods are especially important for learning about microbes that can’t be cultured.
            
   +pod('Who’s There?')
      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src="images/whosthere.jpg" alt="markers")
            p Markers help scientists identify microbes based on a short, unique DNA sequence. To think about how this is possible, imagine a few lines from a well-known book. You might be able to use this information to identify the book.
            
      .uk-width-medium-4-10
         p.
            An important research goal is to learn what types of microbes live on a healthy human body. Yet microbe communities can be very different from one healthy person to another, and they’re even different from one location to another on the same individual. This variability makes describing the "normal" microbiome challenging. Researchers are solving this problem by taking samples from hundreds of individuals and compiling the information. They are looking at different locations as well, including nasal, oral, skin, gastro-intestinal, and urogenital.
         p.
            Researchers use DNA sequencing to identify microbes in samples. One common technique is to sequence a marker: a short, unique DNA sequence that can be used to identify the genome that contains it. Using markers, researchers can identify a microbe without having to sequence its entire genome. This shortcut allows them to identify all the species present in a huge number of samples very quickly.
         p.
            Even sequencing markers instead of entire genomes, researchers studying the microbiome generate massive amounts of data. A lot of work is also dedicated to developing new computer tools and technology to make data analysis more manageable.
            
         +well.
            One common DNA marker is the gene that codes for the 16S subunit of ribosomal RNA, an important part of the cell’s protein-building machinery. Researchers sequence this short piece of DNA, and search databases to find out if it’s from a known species or one that hasn’t yet been identified. <br>
            For more details on 16S DNA analysis, visit <a href="http://learn.genetics.utah.edu/content/gsl/diversity/">Investigating Microbial Diversity</a>.
            
   +pod('What are the Microbes Doing?')
      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src="images/microbesdoing.jpg" alt="what are they doing?")
            
      .uk-width-medium-4-10
         p.
            Humans and microbes depend on one another: our bodies provide microbes with resources, and the microbes provide functions necessary for our health. Finding out what the microbes are doing will help us understand this relationship.
         p.
            When we identify microbes in a sample, we can’t always tell what they’re doing. Even within a single species, microbes are not identical. They often have different genes and therefore carry out different metabolic functions. Because of this, we often study microbes using metagenomics, a technique that reveals biological functions of an entire community. For example, researchers using metagenomics might take a gut sample and sequence genes from every microbe present. They can then look at the combination of genes the entire community has and use the information to describe which functions are taking place.
         p.
            Metagenomics doesn’t identify individual microbes, but in some ways this is an advantage. Microbes often work together; different species in a microbe community commonly depend on metabolic products from their neighbors as resources. If researchers were analyzing one microbe at a time, they might miss important information. In fact, metagenomic research indicates it’s often the collection of functions microbes provide that’s important for health, rather than the presence or absence of a particular microbe. For example, a healthy gut contains bacteria that produce vitamins. It appears not to matter which types of bacteria are present making the vitamins, as long as the job gets done.
            
   +pod("What's Next?")
      .uk-width-medium-6-10
         p.
            We’ve learned a lot about the microbiome, but there are still many things we don’t understand. For instance, by asking “Who’s there?” researchers discovered almost all healthy individuals carry microbes capable of causing disease. Yet we still need to learn what causes them to become harmful. By asking “What are the Microbes Doing?” we’ve highlighted a number of functions provided by microbes that are critical for maintaining human health. This brings up questions about how the microbiome changes over time, how the community stays balanced, and how changes impact human health.​
