.uk-slidenav-position(data-uk-slideshow)
   ul.uk-slideshow
      li.item.uk-active
         img(src='images/nondisjunction-1.jpg')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:60px").
            Egg and sperm formation begin with a cell that has two of each chromosome.
      li.item
         img(src='images/nondisjunction-2.jpg')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:60px").
            The chromosomes are duplicated. The identical copies stay stuck together by their middles.
      li.item
         img(src='images/nondisjunction-3.jpg')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:60px").
            The cell divides in two. Each cell gets one duplicated chromosome from each chromosome pair.
      li.item
         img(src='images/nondisjunction-4.jpg')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:60px").
            The cells divide again. Each cell gets one copy of each chromosome. These cells go on to become eggs or sperm.
      li.item
         img(src='images/nondisjunction-5.jpg')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:60px").
            If the chromosomes divide unevenly, an egg or sperm can end up with too many or too few chromosomes.
      li.item
         img(src='images/nondisjunction-6.jpg')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:60px").
            If one of these participates in fertilization, then the embryo can end up with too many or too few chromosomes.

   a.uk-slidenav.uk-slidenav-previous(href='', data-uk-slideshow-item='previous', style="color: #fff; font-size: 90px; text-shadow: #000 1px 2px 5px; display:block;")
   a.uk-slidenav.uk-slidenav-next(href='', data-uk-slideshow-item='next',  style="color: #fff; font-size: 90px; text-shadow: #000 1px 2px 5px; display:block;")
   ul.uk-dotnav.uk-dotnav-contrast.uk-position-bottom.uk-flex-center
      li(data-uk-slideshow-item="0")
         a(href="")
      li(data-uk-slideshow-item="1")
         a(href="")
      li(data-uk-slideshow-item="2")
         a(href="")
      li(data-uk-slideshow-item="3")
         a(href="")
      li(data-uk-slideshow-item="4")
         a(href="")
      li(data-uk-slideshow-item="5")
         a(href="")
