extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-6-10
         p
            | The terms dominant and recessive describe the inheritance patterns of certain
            | traits. That is, they describe how likely it is for a certain phenotype to pass
            | from parent offspring.
         |       
         p
            | Sexually reproducing species, including people and other animals, have two copies
            | of each gene. The two copies, called alleles, can be slightly different from each
            | other. The differences can cause variations in the protein that&rsquo;s produced, or they
            | can change protein expression: when, where, and how much protein is made. Proteins
            | affect traits, so variations in protein activity or expression can produce different
            | phenotypes.
         |       
         p
            | A  dominant allele produces a dominant phenotype in individuals who have one copy of the allele, which can come from just one parent. For a recessive allele to produce a recessive phenotype, the individual must have two copies, one from each parent. An individual with one dominant and one recessive allele for a gene will have the dominant phenotype. They are generally considered &ldquo;carriers&rdquo; of the recessive allele: the recessive allele is there, but the recessive phenotype is not.
         |       
         h3 The terms are confusing and often misleading
         |       
         p
            | Dominant and recessive inheritance are useful concepts when it comes to predicting the
            | probability of an individual inheriting certain phenotypes, especially genetic disorders.
            | But the terms can be confusing when it comes to understanding how a gene specifies a
            | trait. This confusion comes about in part because people observed dominant and recessive
            | inheritance patterns before anyone knew anything about DNA and genes, or how genes code
            | for proteins that specify traits.
         |       
         p
            | The critical point to understand is that there is no universal mechanism by which dominant
            | and recessive alleles act. Dominant alleles do not physically &ldquo;dominate&rdquo; or &ldquo;repress&rdquo;
            | recessive alleles. Whether an allele is dominant or recessive depends on the particulars
            | of the proteins they code for.
         |       
         p
            | The terms can also be subjective, which adds to the confusion. The same allele can be
            | considered dominant or recessive, depending on how you look at it. The sickle-cell allele,
            | described below, is a great example.
      |    
      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src='images/internetsearch.png', alt='internet search')
            p
               | Do a simple internet search, and you&rsquo;ll find pages and pages of charts, images,
               | and text explaining dominant and recessive inheritance patterns. However, these
               | patterns apply to few traits.

            img(src='images/confusingmisleading.png', alt='confusing terms')
   +pod('The sickle-cell allele')
      |    
      .uk-width-medium-6-10
         h3 Inheritance patterns
         |       
         p
            | Sickle-cell disease is an inherited condition that causes pain and damage to organs and
            | muscles. Instead of having flattened, round red blood cells, people with the disease have
            | stiff, sickle-shaped cells. The long, pointy blood cells get caught in capillaries, where
            | they block blood flow. Muscle and organ cells don&rsquo;t get enough oxygen and nutrients, and
            | they begin to die.
         |       
         p
            | The disease has a recessive pattern of inheritance: only individuals with two copies of
            | the sickle-cell allele have the disease. People with just one copy are  healthy.
         |       
         p
            | In addition to causing disease, the sickle-cell allele makes people who carry it resistant
            | to malaria, a serious illness carried by mosquitos. Malaria resistance has a dominant
            | inheritance pattern: just one copy of the sickle cell allele is enough to protect against
            | infection. This is the very same allele that, in a recessive inheritance pattern, causes
            | sickle-cell disease!
         |       
         p
            | Now let&rsquo;s look again at the shape of the blood cells. People with two copies of the sickle-cell
            | allele have many sickled red blood cells. People with two copies of the &ldquo;normal&rdquo; allele have
            | disc-shaped red blood cells. People with one sickle-cell allele and one normal allele have a
            | small number of sickled cells, and their cells sickle more easily under certain conditions.
            | So we could say that red blood cell shape has a co-dominant inheritance pattern. That is,
            | individuals with one copy of each allele have an in-between phenotype.
         |       
         p
            | So is the sickle cell allele dominant, recessive, or co-dominant? It depends on how you look at it.
         |       
         h3 Protein function
         |       
         p
            | If we look at the proteins the two alleles code for, the picture becomes a little more clear.
            | The affected protein is hemoglobin, the oxygen-carrying molecule that fills red blood cells.
            | The sickle-cell allele codes for a slightly modified version of the hemoglobin protein.
            | The modified hemoglobin protein still carries oxygen, but under low-oxygen conditions the
            | proteins stick together.
         |       
         p
            | When a person has two sickle cell alleles, all of their hemoglobin is the sticky form, and
            | the proteins form very long, stiff fibers that distort red blood cells. When someone has
            | one sickle-cell allele and one normal allele, only some of the hemoglobin is sticky.
            | Non-sticky hemoglobin is made from the normal allele, and sticky hemoglobin is made from
            | the sickle-cell allele (every cell has a copy of both alleles). The sticking-together
            | effect is diluted, and in most cells, the proteins don&rsquo;t form fibers.
         |       
         p
            | The protist that causes malaria grows and reproduces in red blood cells. Just exactly how
            | the sickle-cell allele leads to malaria resistance is complex and not completely understood.
            | However, it appears that the parasite reproduces more slowly in blood cells that have
            | some modified hemoglobin. And infected cells, because they easily become misshapen, are
            | more quickly removed from circulation and destroyed.
         |        
         p
            | To see more examples of how variations in genes influence traits, visit 
            a(href='/content/basics/outcomes/') The Outcome of Mutation.
      |    
      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src='images/sicklecell.png', alt='sickle cell')

   +pod('Common Myths Explained')
      |    
      .uk-width-medium-6-10
         p
            | Dominant and recessive are important concepts, but they are so often over-emphasized. After
            | all, most traits have complex, unpredictable inheritance patterns. However, at the risk of
            | adding even more over-emphasis, here are some more things you may want to know:
         |       
         h3 Dominant phenotypes are not always more common than recessive phenotypes
         |       
         p Let&rsquo;s look at a typical (i.e., rare) single-gene trait: 
         |       
         ul
            li dominant allele + dominant allele = dominant phenotype
            |          
            li dominant allele + recessive allele = dominant phenotype
            |          
            li recessive allele + recessive allele = recessive phenotype
         |       
         p
            | Looking at this, you might conclude that the dominant phenotype is twice as common as the
            | recessive one. But you would probably be wrong.
         |       
         p
            | Recessive alleles can be present in a population at very high frequency. Consider eye color.
            | Eye color is influenced mainly by two genes, with smaller contributions from several others.
            | People with light eyes tend to carry recessive alleles of the major genes; people with dark
            | eyes tend to carry dominant alleles. In Scandinavia, most people have light eyes&mdash;the recessive
            | alleles of these genes are much more common here than the dominant ones.
         |       
         h3 Dominant alleles are not better than recessive alleles
         |       
         p
            | Mode of inheritance has nothing to do with whether an allele benefits an individual or not.
            | Take rock pocket mice, where fur color is controlled mainly by a single gene. The gene codes
            | for a protein that makes dark pigment. Some rock pocket mice have dark fur, and some have
            | light fur. The dark-fur allele is dominant, and the light-fur allele is recessive.
         |       
         p
            | When mice live in a habitat filled with dark rocks, dark fur is &ldquo;better&rdquo; because it makes
            | the mice less visible to predators. But when mice live in a habitat filled with light rocks
            | and sand, light fur is &ldquo;better.&rdquo; It&rsquo;s the environment that matters, not whether the allele is
            | dominant or recessive.
         |       
         h3 A &ldquo;broken&rdquo; allele can have a dominant inheritance pattern
         |       
         p
            | Many genetic disorders involve &ldquo;broken&rdquo; genes that code for a protein that doesn&rsquo;t work
            | properly. Since one &ldquo;normal&rdquo; copy of the gene can often provide enough of the protein to mask
            | the effects of the disease allele, these disorders often have a recessive inheritance
            | pattern. But not all diseases alleles are recessive.
         |       
         p
            | Keratin proteins link together to form strong fibers that strengthen hair, fingernails,
            | skin, and other tissues throughout the body. There are several genetic disorders involving
            | defects in keratin genes, and most of them have dominant inheritance patterns.
         |        
         p
            | To see how defective keratin genes can lead to a genetic disorder, see 
            a(href='/content/disorders/singlegene/') Pachyonychia Congenita.
         |        
         p
            | To see more myths explained, visit 
            a(href='../dnathings/') Things You May Not Know About DNA.
      |    
      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src='images/eyecolor.png', alt='eye color')
            p       
            img(src='images/rockpocket.png', alt='rock pocket mice')
            p       
            img.lg-no-shadow(src='images/keratin.png', alt='keratin')
            |          
            p
   +bottom-menu("",'hhmi')
   
   
