extends /shared/layout
block content
   +pageTitle
   +pod('Changing Attitudes')
 
      .uk-width-medium-4-10
         p
            | Our attitudes about drug use in society are continually evolving. In the not-so-distant past, drugs now considered dangerous&mdash;including cocaine, barbiturates, and amphetamines&mdash;were prescribed for everything from sleeplessness in children to weight loss.
         |        
         p
            | Historically speaking, the idea of addiction as a brain disease is a very new one. People once saw addiction as a personality flaw and a sign of weakness. This stigma still persists in society today and is a major challenge for addicts and the people who treat them.
         |        
         .mediaSunk
            p.caption
               | &quot;An addict can no more stop their behavior than a Parkinson&apos;s patient can stop their shaking.&quot; -- Dr. Glen Hanson
            |             
            audio(controls='')
               source(src='Parkinsons_Comparison (new).mp3')
      |    
      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='retroTVbottle.jpg', alt='Retro TV Bottle')
            
   +pod('Culture Use of Drugs')
      |    
      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src='coca_leaves.jpg', alt='Coca Leaves')
      |    
      .uk-width-medium-6-10
         p
            | Some drugs are used as part of cultural or religious practices. Marijuana, for example, has a rich history of religious use in India, Africa, and Jamaica. Peyote, a mescaline-containing cactus, is considered sacred by the Native American Church and is used in rituals by special permission from the US government.
         |  
         p
            | In the photo to the left, a Peruvian woman sells coca leaves, from which cocaine is derived. Coca is chewed as a mild daily stimulant and smoked in religious ceremonies.
         |  
         p
            em
               | Should certain religious or cultural groups be permitted to use an illegal drug? If so, how should that use be regulated?
   +pod('Prescribing Drugs of Abuse')
      |    
      .uk-width-medium-6-10
         p
            | Controlled drugs like morphine, codeine, and ketamine are prescribed by medical doctors for their pain-relieving and anesthetic properties. Researchers are conducting studies to determine if other controversial drugs such as marijuana and ecstasy may hold therapeutic potential.
         p
            em
               | Do clinical trials on drugs like ecstasy and marijuana send the message that recreational use of the drug is OK?
         .mediaSunk
            p.caption
               | Pat Fleming, Salt Lake County Substance Abuse Services, comments on the importance of establishing standards for medical marijuana use.
            |             
            audio(controls='')
               source(src='Policy (new).mp3')
         p
            | A number of drugs that are given legally by prescription&mdash;including stimulants like ritalin and opioids like morphine, codeine, and methadone&mdash;are increasingly being used illegally. Even though they are legal, prescription medications can be just as addicting and dangerous as drugs obtained on the black market.
         p
            em How are society&apos;s perceptions of a drug&apos;s safety influenced by its legal status?
      |    
      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src='3drugs.jpg', alt='Drugs')
            
   +pod('Genetic Profiles for Addiction')
      |    
      .uk-width-medium-4-10
         img.lg-no-shadow(src='pedigree.jpg', alt='Pedigree')
      |    
      .uk-width-medium-6-10
         p
            | What if you could take a genetic test to determine your susceptibility to addiction? If the results of the test showed a high addictive potential, perhaps you might be forced to get a vaccine and participate in a prevention program. Or if you were in court on a drug charge, perhaps the court might rule more sympathetically. What if your test showed that you have low addictive potential? Knowing your result, would you be more likely to experiment with drugs? Or perhaps you could be deemed guilty immediately if you were in court for a drug violation.
         p
            em
               | Should knowing that there is a genetic susceptibility to addiction change how society views and treats addiction? What about the addicts themselves?
   
