
+minipod('What is ADA deficiency?')
   .uk-width-medium-6-10
      p
         | ADA deficiency is one form of SCID (severe combined immunodeficiency, see below). The immune system does not work properly, so the body is open to infection from bacteria and viruses.
+minipod('Affected gene')
   .uk-width-medium-6-10
      p
         | The affected gene in ADA deficiency is ADA, on chromosome 20. The gene codes for ADA (adenosine deaminase) protein. People with the disorder have two non-working copies of the gene, and so they make no working ADA protein. 
      p
         | The job of ADA protein is to break down a toxic substance called deoxyadenosine, which forms naturally when DNA is broken down. Nearly all types of cells in the body make ADA protein. But it is especially active in cells of the immune system called B and T lymphocytes. Without ADA enzyme, the toxin builds up and destroys these infection-fighting immune cells.
      p
         | ADA deficiency follows an autosomal recessive inheritance pattern. An affected child must inherit two non-working copies of the gene, one from each parent. 
      br
   .uk-width-1-1
      figure
         img(src='images/ada-gene.jpg')
         p Without working ADA protein, the cell cannot break down a toxic substance called deoxyadenosine. The toxin builds up in infection-fighting immune cells, killing the cells and leaving the body open to infections.
      hr
      br
   .uk-width-medium-5-10
      h3 Symptoms and features of ADA deficiency
      p
         | ADA deficiency affects the immune system, leaving the body open to all kinds of infections. Infections of the skin, respiratory system, and digestive tract are common. Bacteria that are normally harmless can make someone with ADA deficiency very sick. 
      p
         | With no intervention, most babies who are born with the disorder die within a few months.
         br
   .uk-width-medium-5-10
      h3 Treating and managing ADA deficiency
      p
         | The goals with treating and managing ADA deficiency are to (1) prevent infection, and (2) provide a source of ADA protein so that immune cells can survive. 
      p
         | Ways to increase ADA levels:
      ul
         li
            | Bone marrow transplantation from a biological match (for example, a sibling) to provide healthy immune cells          
         li
            | Transfusions of red blood cells (containing high levels of ADA) from a healthy donor          
         li Enzyme replacement therapy, involving repeated injections of the ADA enzyme      
         li
            a(href='/content/genetherapy/') Gene therapy
            |  - to insert synthetic DNA containing a normal ADA gene into immune cells
      br
   .uk-width-medium-6-10
      h3 Interesting facts about ADA Deficiency
      p
         | ADA deficiency is extremely rare.  Only about 10 to 20 children are diagnosed with the disease in the United States each year.
      p
         | In 1990, doctors William French Anderson, Michael Biase, and Ken Culver performed the first successful gene therapy on Ashanti de Silva, a young girl with ADA deficiency.
            
   .uk-width-medium-4-10
      +well
         h3 More information
         a(href='http://www.primaryimmune.org/') Immune Deficiency Foundation
         br
         a(href='http://ipopi.org/') International Patient Organization for Patients with Primary Immunodeficiencies
         br
         a(href='/content/genetherapy/') Gene Therapy
