extends /shared/layout

block content
   +pageTitle
   +pod('')
      .uk-width-medium-6-10
         p.
            Metabolism is a complex and often confusing topic. To make matters worse, a lot of the words for some of its 
            molecules and processes sound a little too much alike.
         p Here are some definitions that may help you keep it all straight.
      | &#x9;
      .uk-width-medium-4-10

   +pod('Molecules')
      .uk-width-medium-6-10
         p
            strong Glucose
            |  (GLOO-kose) is a simple sugar made of 6 carbon atoms, 6 oxygen atoms, and 12 hydrogen atoms. Any cell in the body can burn it for energy. The suffix -
            em ose
            |  is a clue that this molecule is a type of sugar. Some other sugars are fruct
            strong ose
            | , sucr
            strong ose
            | , and lact
            strong ose
            | .

         p
            strong Glycerol
            |  (GLISS-er-oll), also called glycerin, is a 3-carbon molecule that is chemically similar to sugar. You could think of it as half of a glucose molecule. A fat molecule, also called a 
            strong triglyceride
            | , is made up of three fatty acids attached to a molecule of glycerol.

         p
            strong Glycogen
            |  (GLY-koh-jen) is sometimes called &quot;animal starch.&quot; It is a large molecule made up of hundreds or thousands of glucose molecules. Packed away inside of liver and muscle cells, it is one way that nutrients are 
            a(href='bbs/') temporarily stored
            |  in the body.

         p
            strong Glucagon
            |  (GLOO-kah-gone) is a protein hormone that signals the body to go into &quot;mobilization&quot; mode: stored nutrients are released for cells to burn for energy. Glucagon is made in the pancreas, which releases it between meals when blood sugar levels are low.
      | &#x9;
      .uk-width-medium-4-10
         figure
            p.small
   +pod('Processes')
      .uk-width-medium-6-10
         p
            | All of these processes are metabolic pathways that involve multiple protein enzymes working like an assembly line to carry out the necessary chemical reactions. The suffix 
            em -lysis
            |  indicates that the process breaks something apart, and the suffix 
            em -genesis
            |  indicates that the process puts something together.

         p
            strong Glycolysis
            |  (gly-KOL-ih-sis), which means &quot;sugar splitting,&quot; is the name for the 
            a(href='pathways/') metabolic pathway
            |  that breaks a 6-carbon glucose molecule into two 3-carbon pyruvate molecules. The glycolysis pathway involves 10 separate protein enzymes, and it is present in most of the body&apos;s cells.

         p
            strong Glycogenesis
            |  (gly-koh-JEN-ih-sis) is the name for the metabolic pathway that puts glucose molecules together to make the storage molecule glycogen.

         p
            strong Glycogenolysis
            |  (GLY-koh-jen-OLL-ih-sis), which means &quot;glycogen breaking,&quot; is the name for the metabolic pathway that breaks glycogen apart into individual glucose molecules.

         p
            strong Gluconeogenesis
            |  (gloo-koh-nee-oh-JEN-ih-sis) is the metabolic pathway that builds glucose from other small molecules, including amino acids (which come from protein breakdown) and glycerol (described above). Most gluconeogenesis is carried out in the liver.

      .uk-width-medium-4-10
         figure
            p.small
