extends /shared/layout
block content
   +pageTitle

   +pod('')
      .uk-width-1-1.uk-text-center
         script(src='/Scripts/AC_RunActiveContent.js', type='text/javascript')

         script(type='text/javascript').
            AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','935','height','694','src','neurofibromin','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','movie','neurofibromin' ); //end AC code
         noscript
            p Javascript is required to view this content.
         p Remember, this is just one example. If you look at even a few of the proteins that make a person, you’d see a huge variety of forms. And for good reason. Proteins work together in many ways, ranging from simple to complex. After all, it takes a lot of jobs to build and maintain your body!

   +bottom-menu("",'nf')

   script(src="/ruffle/ruffle.js")
   
   
