
+minipod('What is Williams syndrome?')
   .uk-width-medium-4-10
      p
         | Williams syndrome affects a child's growth, physical appearance, cognitive development, and personality. 
      p
         | People who have Williams syndrome are missing genetic material from one of their copies of chromosome 7. The effects are connected to the specific genes that are missing—about 26 to 28 genes in all. With only one copy of each of these genes instead of two, cells cannot make enough of the products that these genes code for.
      p
         | Deletions happen at this location on chromosome 7 more often than in other places. This is likely because the DNA sequences on either side of the deleted region are highly repetitive. This makes it harder for the chromosomes to line up evenly during the recombination step when egg and sperm are forming. 
   .uk-width-medium-6-10
      figure
         img(src='williams/images/williams.jpg')
         p The deleted region in Williams syndrome has many genes. For a key few of these genes, because there is just one copy of the gene instead of two, people with Cri-du-Chat cannot make enough of the proteins the genes code for. The functions of these proteins contribute to the features of the syndrome.
            
+minipod('Effects and Features of Williams Syndrome')
   .uk-width-medium-4-10
      figure
         img(src='williams/images/williams_person.jpg', alt='Williams Syndrome')
         p A child with Williams syndrome
   .uk-width-medium-6-10
      p
         | Features vary from person to person. Most people with Williams Syndrome have intellectual disability (usually mild), heart and blood vessel problems, and distinct facial features.
      p
         | Babies are often born small, and they tend to grow slowly. Children experience developmental delays and low muscle tone. Most have distinct behaviors, such as sensitivity to loud noises and an outgoing personality.
      p
         | The features of Williams syndrome are connected to the specific genes that are deleted. For example, one of the affected genes is elastin. The elastin gene codes for elastin protein, which helps make blood vessels strong and stretchy. Because they have just one copy of the elastin gene, people who have Williams Syndrome make less elastin protein. This causes problems with the heart and circulatory system.
         
+minipod('Diagnosing Williams Syndrome')
   .uk-width-medium-4-10
      p
         | The deletion in Williams syndrome too small to be seen with a microscope (fewer than 5 million bases of DNA are missing). The small size of the deletion makes Williams syndrome a little trickier to diagnose than other deletion syndromes.
      p
         | If a person's characteristics strongly suggest Williams syndrome, a doctor may order a test that uses a method called FISH (fluorescent in situ hybridization). If a doctor is less certain about the diagnosis, they may order a test that looks at other chromosomes in addition to chromosome 7. These tests usually use DNA sequencing or microarray analysis.
      p
         | It is technically possible to diagnose Williams syndrome before birth. But not all prenatal genetic tests look for the specific deletion that causes it.
   .uk-width-medium-6-10
      figure
         img(src='williams/images/williams_fISH.jpg', alt='Williams FISH')
         p FISH is a method that uses a glowing DNA probe to locate a specific area of a chromosome. Two probes are used to diagnose Williams syndrome. One attaches to the deleted region, and a control probe attaches to a different area of chromosome 7, outside of the deletion.
+minipod('Interesting Facts About Williams Syndrome') 
   .uk-width-medium-6-10
      p
         | One out of every 10,000 babies is born with Williams syndrome.
      p
         | If they are genetically normal, the parents of a child with Williams syndrome are unlikely to have a second child with the syndrome.
      p
         | If someone with Williams syndrome has a child, there is a 50 percent chance the child will also have the syndrome. But most people with Williams syndrome do not have children.  

   .uk-width-medium-4-10
      
      +well
         h3 More information
         a(href='https://www.ninds.nih.gov/Disorders/All-Disorders/Williams-Syndrome-Information-Page', target='blnk') Williams Syndrome Information Page, from the National Institute of Neurological Disorders and Stroke
         br
         a(href='http://www.williams-syndrome.org/', target='blank') The Williams Syndrome Association
