extends /shared/layout
block content
   +pageTitle
   
   +pod('')
      .uk-width-medium-6-10
         p
            ul
               li American Avocet
               br
               |     
               li American Coot
               br
               |     
               li American White Pelican
               br
               |     
               li Black-necked Stilt
               br
               |     
               li Canada Goose
               br
               |     
               li Double-crested Cormorant
               br
               |     
               li Ducks (Gadwall, Mallard, Cinnamon Teal, Redhead)
               br
               |     
               li Grebes (Pied-billed, and small subpopulation of Eared)
               br
               |     
               li
                  | Gulls and terns (Including California Gull, Caspian Tern, Forster&apos;s Tern, Franklin&rsquo;s Gull, Ring-billed Gull)
               br
               |     
               li
                  | Herons and egrets (including Black-crowned Night Heron, Great Blue Heron, Snowy Egret); White-faced Ibis
               br
               |     
               li Killdeer
               br
               |     
               li Long-billed Curlew
               br
               |     
               li Sandhill Crane
               br
               |     
               li Snowy Plover
               br
               |     
               li Western and Clark&rsquo;s Grebes
               br
               |     
               li White-faced Ibis
               br
               |     
               li Willet
