extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-4-10
         p
            | If you visit Great Salt Lake during the summer or early fall, you will probably encounter masses of brine flies along the shoreline. While their numbers are intimidating, brine flies aren&apos;t interested in humans. They will get out of the way if disturbed, and they tend to stay close to the ground near the edge of the lake.
         p
            | Most of the brine flies that live in Great Salt Lake belong to two species: 
            em Ephydra hians
            |  and 
            em Ephydra cinerea
            | . 
            em Ephydra hians
            | , the larger species, accounts for just 1% of the total population.
         p
            | Brine fly larvae contain a special organ that removes excess salt from their bodies, allowing them to tolerate highly saline water. Their food supply, however, cannot survive in water that exceeds 20% salinity.
         figure
            img.lg-no-shadow(src='images/larva-and-adult.jpg', alt='Larva and Adult')
      |    
      .uk-width-medium-6-10
         figure
            img(src='images/FlyCarpet.jpg', alt='Flies')
            p A solid layer of brine flies covers rocks along the edge of Great Salt Lake.
   +pod('The brine fly life cycle')
      |    
      .uk-width-medium-6-10
         figure
            img(src='images/FliesAlgae.jpg', alt='Flies Algae')
            p Adult brine flies sit on a green carpet of photosynthetic bacteria and algae.  Adult-stage brine flies are most plentiful during mid-summer, but all life stages are visible throughout the year.
         figure 
            img(src='images/Pupal-cases.jpg', alt='Pupal Cases')
            p Piles of brine fly pupal casings on the shore of Great Salt Lake.
      |    
      .uk-width-medium-4-10
         p
            | Brine flies live most of their lives underwater. Their life cycle begins in the summer, when the female flies lay their eggs on the water surface. After the eggs hatch, the larvae graze near the lake bottom. They eat mostly cyanobacteria, but their diet also includes other types of bacteria, bottom-dwelling algae, diatoms, and detritus. They prefer to live in muddy areas or on bioherms rather than in sandy areas.
         |    
         p
            | Brine fly larvae spend their winters on the lake bottom. When the temperatures drop in the late fall, the larvae become inactive and remain that way until temperatures rise in the spring. Then the larvae become active again, eating whatever they can scrape into their mouths. In late spring or early summer, they begin metamorphosis. They attach to solid objects under the water, often bioherms, then grow hard brown pupal case around their bodies. Inside, the brine flies begin transforming into adults.
         p
            | After one to a few weeks (depending on the water temperature) the adults emerge from their pupal casing and float to the surface. Adults live for only a few days, just long enough to mate and lay eggs. If food is plentiful and temperatures remain high, brine flies can complete two life cycles in one season.
         p
            | After the adult brine flies hatch, pupal casings are blown about by the wind. The brown casings pile up in often miles-long masses along the shoreline. In fact, the Utah Division of Wildlife Resources counted 7 billion pupal casings along just 6 miles of the Antelope Island causeway. That&apos;s more than the total number of human beings on the entire planet!
         p
            | Decomposers such as bacteria and fungi break down the pupal casings and return their nutrients to the food web.
   
   
