extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-1-1
         p Explore links to videos and images starring real cells.
   +pod('Cell Movies')

      .uk-width-1-1
         //p
            a(href='https://www.omegafilters.com/index.php?page=tech_live_cell_movies' target="_blank") Omega Optical - Live Cell Movies
            br
            | Fluorescently labeled cells in action. Videos highlight the dynamic activity of tubulin, golgi, mitochondria and ER in living cells.
         //p
            a(href='http://learn.hamamatsu.com/galleries/digitalvideo/index.html' target="_blank") Mamamatsu Learning Center: Digital Video Gallery
            br
            | Time lapse videos of fluorescently labeled cells in culture with a focus on organelles. Includes a selection of beautiful double-label images.
         //p
            a(href='http://www.jcb.org/misc/annotatedvideo.shtml' target="_blank") Journal of Cell Biology Annotated Video Collection
            br
            | Movies from papers that have been published in JCB. These movies tend to be fairly technical, but there are some truly cool movies here.
         //p
            a(href='http://raven.zoology.washington.edu/celldynamics/gallery/liveLabel.html' target="_blank") Center for Cell Dynamics Live-Label Movie Gallery
            br
            | Cell videos mostly related to development, including several mitosis movies.
         p
            a(href='http://cellix.imba.oeaw.ac.at/' target="_blank") A Video Tour of Cell Motility
            br
            | Uses still images and video to tell the story of the cytoskeleton and cell motility.
         p
            a(href='https://www.olympus-lifescience.com/en/microscope-resource/moviegallery/confocal/' target="_blank") Olympus Live Cell Imaging Digital Vdeo Gallery
            br
            | Fluorescent markers highlight a variety of cell structures.
         p
            a(href='http://www.microscopyu.com/moviegallery/livecellimaging/index.html' target="_blank") Nikon Microscopy U: Digital Image and Video Galleries
            br
            | Over 1,500 movies and still images on a wide range of specimens. The 
            a(href='https://www.nikonsmallworld.com/galleries/2018-photomicrography-competition/') Small World
            |  and 
            a(href='https://www.nikonsmallworld.com/galleries/small-world-in-motion') Small World in Motion
            |  galleries feature micrographs that combine art and science to showcase the beauty of life. Many feature cells.
         //p
            a(href='http://www.biochemweb.org/neutrophil.shtml' target="_blank") Crawling Neutrophil Chasing a Bacterium
         //p
            a(href='http://depts.washington.edu/fishscop/index.html' target="_blank") FishScope
            br
            | Movies focusing on the developmental biology of fish. Check out the Fish Epidermal Cells section for videos of crawling fish cells.
         //p
            a(href='http://www.bioclips.com/dvd/' target="_blank") BioClips
            br
            | A wide selection of live cell movies and a few 3d animations. Includes several cool mitosis movies. Also available as a DVD.
         p
            a(href='http://www.cellimagelibrary.org/home' target="_blank") The American Society for Cell Biology: Image &amp; Video Library
            br
            | A general resource for lots of cell movies.
         //p
            a(href='http://www.cellbiology.yale.edu/movies/d_toomre/CargoCFP_tubulinYFP_A.mov' target="_blank") Derek K. Toomre, Ph.D.
            br
            | Assistant Professor of Cell Biology, Yale School of Medicine.
            br
            | Color video showing fluorescently-labeled vesicles moving along the cytoskeleton.
         //
            <p>
            <a href="http://www.borisylab.northwestern.edu/pages/movies.html" target="_blank">Bary Borisy, Ph.D.</a><br />
            Professor of Cell and Molecular biology, Northwestern Medical School. <br />
            Several movies that have been published by members of the Borisy Lab. Highlights include movies of pigment granule dispersion in fish cells and movies showing the dynamic nature of the cytoskeleton.
            </p>
         //p
            a(href='http://web.mit.edu/biophysics/movies.html' target="_blank") Alexander van Oudenaarden, Ph.D.
            br
            | Professor of Biomedical Engineering and Associate Professor of Physics, Massachusetts Institute of Technology.
            br
            | Several movies that have been published by members of the van Oudenaarden Lab. Includes several cool movies of vesicles being propelled by actin polymerization.
   +pod('Cell Images')
      .uk-width-1-1
         p
            a(href='https://www.cell.com/pictureshow' target="_blank") Cell Picture Show
            br
            | A collection of colorful galleries. Topics include cancer cells, viruses, stem cells, and "brainbow" neurons.
         p
            a(href='https://www.olympus-lifescience.com/en/microscope-resource/galleries/' target="_blank") Olympus Microscopy Resource Center: Fluorescence Microscopy Image Gallery
            br
            | A variety of cells labeled with fluorescent markers.
         //p
            a(href='http://www.olympusbioscapes.com/index.html' target="_blank") Olympus BioScapes Digital Imaging Competition
            br
            | This library doesn&apos;t include much in the way of explanation, but the images are inspiring! You can even order a free poster.
         p
            a(href='http://micro.magnet.fsu.edu/primer/techniques/fluorescence/gallery/cells/index.html' target="_blank") Molecular Expressions
            br
            | Fluorescence Digital Image Gallery showing fluorescence-stained images of cells in culture. Many images show multiple colors highlighting a variety of subcellular structures.
         //p
            a(href='http://www.denniskunkel.com/index.php' target="_blank") Dennis Kunkel Microscopy, Inc.
            br
            | Cells organisms and more shown in artificially colored electron micrographs. The author requires written permission in order to use his images in your own presentations.
