extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-1-1.uk-text-center
         iframe.uk-responsive-width(src="//player.vimeo.com/video/151049456", width="500", height="281", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)

   
