.uk-slidenav-position(data-uk-slideshow)
   ul.uk-slideshow
      li.item.uk-active
         video(src='video/see.mp4' alt='intro video from see app')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:30px").
      li.item
         img(src='images/see1.PNG' alt='screen shot of see app')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:30px").
      li.item
         img(src='images/see2.PNG' alt='screen shot of see app')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:30px").
      li.item
         img(src='images/see3.PNG' alt='screen shot of see app')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:30px").
      li.item
         img(src='images/see4.PNG' alt='screen shot of see app')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:30px").
      li.item
         img(src='images/see5.PNG' alt='screen shot of see app')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:30px").
      li.item
         img(src='images/see6.PNG' alt='screen shot of see app')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:30px").
      li.item
         img(src='images/see7.PNG' alt='screen shot of see app')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:30px").
      li.item
         img(src='images/see8.PNG' alt='screen shot of see app')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:30px").
      li.item
         img(src='images/see9.PNG' alt='screen shot of see app')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:30px").
            
   a.uk-slidenav.uk-slidenav-previous(href='', data-uk-slideshow-item='previous', style="color: #fff; font-size: 90px; text-shadow: #000 1px 2px 5px; display:block;")
   a.uk-slidenav.uk-slidenav-next(href='', data-uk-slideshow-item='next',  style="color: #fff; font-size: 90px; text-shadow: #000 1px 2px 5px; display:block;")
   ul.uk-dotnav.uk-dotnav-contrast.uk-position-bottom.uk-flex-center
      li(data-uk-slideshow-item="0")
         a(href="")
      li(data-uk-slideshow-item="1")
         a(href="")
      li(data-uk-slideshow-item="2")
         a(href="")
      li(data-uk-slideshow-item="3")
         a(href="")
      li(data-uk-slideshow-item="4")
         a(href="")
      li(data-uk-slideshow-item="5")
         a(href="")
      li(data-uk-slideshow-item="6")
         a(href="")
      li(data-uk-slideshow-item="7")
         a(href="")
      li(data-uk-slideshow-item="8")
         a(href="")
      li(data-uk-slideshow-item="9")
         a(href="")
