extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-6-10
         p
            | We all need cholesterol. It is an important component of cell
            | membranes, and it is used to make important vitamins and hormones. But high
            | levels of cholesterol in your blood can be bad for your health.
         |       
         p
            | Excess cholesterol can settle on the inner walls of blood vessels, narrowing them and
            | promoting blood clots. Cholesterol build-up and clots can slow down or even stop the flow of blood passing
            | through the vessels.
         |       
         p
            | We get some of our cholesterol from foods like eggs, dairy products, and red meat.
            | But our bodies also make cholesterol in an organ called the liver.
      |    
      .uk-width-medium-4-10
         video(controls='controls')
            source(src='images/cholesterol.mp4')
   +pod('Cholesterol Travels in Lipoproteins')
      |    
      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='images/lipoproteins.png', alt='lipoproteins')
         |       
         figure
            img.lg-no-shadow(src='images/riskformula.png', alt='risk formula')     
            p
               | Cholesterol level is measured in mg/dL (milligrams per deciliter). That is,
               | the milligrams of cholesterol in one deciliter, or one-tenth of a liter, of your
               | blood. Your risk is normal if your total cholesterol divided by your HDL is less than 5.
      |    
      .uk-width-medium-4-10
         p
            | Whether it comes from the diet or is made by the liver, cholesterol travels through the bloodstream to where
            | it is needed. Because it is a lipid, like oil, cholesterol doesn&apos;t mix well with our watery blood. So cholesterol
            | must be carried through the blood stream by special proteins. Cholesterol
            | traveling with a protein is called a lipoprotein.  Lipoproteins also transport fats.
         |       
         p
            | Lipoproteins exist in different forms, including LDLs (Low-Density Lipoproteins) and HDLs
            | (High-Density Lipoproteins). LDLs deliver cholesterol to cells, whereas HDLs remove
            | excess cholesterol from the blood and bring it to the liver to be excreted. So HDLs
            | are good to have around. A healthy person will have more HDLs (good cholesterol) than
            | LDLs (bad cholesterol).
         |       
         h3 Who&apos;s At Risk?
         |       
         p
            | High cholesterol levels often run in families. You may be at risk if a close relative
            | (parent, grandparent, or sibling) has been diagnosed.
         |       
         p
            | That&apos;s why it&apos;s important to know your family medical history. When you know you&apos;re at
            | risk, you can take steps to prevent disease.
   +pod('Reducing The Risk')
      |    
      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='images/label.jpg', alt='nutrition label')
            |          
            p
      |    
      .uk-width-medium-4-10
         p
            | The best way to reduce your risk is by maintaining a healthy body weight, participating in
            | regular physical activity, and eating foods low in saturated and trans fats. Our bodies carry
            | cholesterol in both HDLs and LDLs. The types of fat we eat influence the balance between
            | these good and bad cholesteroltransporters.
         |       
         p
            | A good rule of thumb is to eliminate trans fats from your diet, reduce saturated fats, and
            | replace them with unsaturated fats. However, for people whose bodies naturally make large amounts
            | of cholesterol, medications like statins may be the only way to decrease their cholesterol levels.
   
   
