extends /shared/layout
block append head
   style.
      table {width:100%}
      td {width:50%}
block content
   +pageTitle
   +pod('')
      .uk-width-medium-1-2
         p.
            Memory, Attention, and Distraction was a collaborative project between The Genetic Science Learning Center and select
            faculty from the Department of Psychology at the University of Utah, and a cohort of experienced, talented master
            teachers from around the US. This work was supported by a Science Education Partnership Award, sponsored by the National
            Institutes of Health. Award number R25OD011129.
      .uk-width-medium-1-2
         figure
            img(src="images/neuron.jpg")

   +pod("Master Teachers")
      .uk-width-medium-1-2
         p The following teachers participated in the "Multitasking, Attention &amp; Memory: The Science of Learning" 2011 Summer Institute:
         table
            tr
               td Christine Celestino
               td Maggie Chambers
            tr
               td Pam Eggleston
               td Kevin Engstrom
            tr
               td Georgia Everett
               td Spencer Gatlin
            tr
               td Robb Gotlund
               td Rob Gustke
            tr
               td Valecia Kelly
               td Janine Kube
            tr
               td Chris Kuka
               td Danielle Mink
            tr
               td Logan Newman
               td Terry Noeth
            tr
               td Callie Pfister
               td Susan Poland
            tr
               td Eric Regh
               td John Siefert
            tr
               td Donna Tantilla-Thomas
               td Jennifer Vaelin
            tr
               td Michelle Whittaker
               td Zsolt Zombor
      .uk-width-medium-1-2
         figure
            img(src="images/group.jpg")
   +pod('Science Collaborators')
      .uk-width-medium-3-5
         p.
            The Genetic Science Learning Center would like to thank our science collaborators, who participated in lectures and
            discussions during the Summer Institute. A special thank you goes out to Jason Watson, who served as our Scientific
            Advisor for this project and provided valuable feedback as we developed our online materials.
      .uk-width-medium-1-2
         p.
            Jason M. Watson, PhD<br>
            Associate Professor<br>
            Department of Psychology<br>
            University of Colorado Denver<br>
            (Formerly at the University of Utah)
      .uk-width-medium-1-2
         figure
            img(src="images/watson.jpg")
      .uk-width-medium-1-2
         p.
            David Strayer, PhD<br>
            Professor<br>
            Cognition and Neural Science<br>
            Department of Psychology<br>
            University of Utah
      .uk-width-medium-1-2
         figure
            img(src="images/strayer.jpg")
      .uk-width-medium-1-2
         p.
            Raymond Kesner, PhD<br>
            Professor Emeritus<br>
            Cognition and Neural Science<br>
            Department of Psychology<br>
            University of Utah
      .uk-width-medium-1-2
         figure
            img(src="images/kesner.jpg")
   +pod("GSLC Staff")
      .uk-width-medium-1-2
         p The following GSLC staff contributed to this project:
         table
            tr
               td Peter Anderson
               td Nicola Barber
            tr
               td Kagan Breitenbach
               td Dina Drits-Esser
            tr
               td Amy J. Hawkins
               td Sheila Homburger
            tr
               td Sam Katz
               td Max Kelly
            tr
               td Molly Malone
               td Brendan Nicholson
            tr
               td Ryan Perkins
               td Kevin Pompei
            tr
               td Steve Reest
               td Louisa Stark
            tr
               td Harmony Starr
               td Mathew Weaver
      .uk-width-medium-1-2
         figure
            img(src="images/staff.jpg")
   +pod("Other Contributors")
      .uk-width-medium-1-2
         h3 The Seven Sins of Memory
         p.uk-text-bold Cast
         table
            tr
               td Jill Adler
               td Whitney Palmer
            tr
               td Daisy Piedra
               td David Bodtcher
            tr
               td Mikayla Gogan
               td Darien Willardson
            tr
               td Charla Cochran
               td David Nilson

         p.uk-text-bold Crew
         table
            tr
               td Arthur Veenema
               td Brent Rowland
            tr
               td Stephane Glynn
               td Graham Beckstead
            tr
               td Vanae Morris
               td Amanda Pompei

         p.uk-text-bold Musicians
         table
            tr
               td John Shin
               td Leslie Richards
            tr
               td Lauren Posey
               td Alex Ewoniuk

         p.uk-text-bold Special Thanks
         table
            tr
               td Vivian Lee
               td Jace King

      .uk-width-medium-1-2
         figure
            img(src="images/7sinslr2.jpg")
         figure
            img(src="images/7sinspatio.jpg")
      .uk-width-medium-1-2
         figure
            img(src="images/7sinsdr.jpg")
      .uk-width-medium-1-2
         figure
            img(src="images/7sinsmus.jpg")
