extends /shared/layout
block content
   +pageTitle
   
   +pod('')
      .uk-width-medium-6-10
         p
            ul
               li Bald Eagles
               br
               |     
               li
                  | Ducks (Northern Shoveler, Bufflehead, Canvasback, Common Goldeneye, Mallard, Northern Pintail)
               br
               |     
               li Killdeer 
               br
               |     
               li Ring-billed Gulls
               br
               |     
               li Tundra Swans
               br
               |     
               li Western Grebe
