extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-6-10
         p
            | The best way to maintain a healthy body weight is to eat right and stay active. A government
            | agencey called the USDA (United States Department of Agriculture) has created a tool called
            | &quot;MyPlate&quot; to help people select a healthy, well-balanced diet and appropriate physical activity.
         |       
         p
            | According to the USDA &quot;MyPlate illustrates the five food groups that are the building blocks
            | for a healthy diet using a familiar image&mdash;a place setting for a meal.&quot;
      |    
      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src='images/myplate.png', alt='choosemyplate.gov')
            |          
            p
   +pod('Smart Food Choices')
      |    
      .uk-width-medium-6-10
         p
            | Healthier foods are low in calories, low in saturated and trans fats (to improve your cholesterol
            | levels), and high in fiber (undigestable carbohydrates found in plants). Our bodies cannot digest fiber
            | or use it for energy. That means that you can eat a lot of fiber and feel full without having to
            | store any of its calories. Fiber also aids digestion by keeping stool soft so it can travel easily
            | through the intestine. It can even help fight cancer, particularly colon cancer.
         |       
         p
            | The U.S. Surgeon General and many professional health organizations recommend a diet containing
            | 20-35 grams of fiber a day. The average American diet barely consumes half of this amount, with
            | daily intake of 10-15 grams.
      |    
      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src='images/bread.jpg', alt='whole grain bread')
            |          
            p
   +pod('Physical Activity')
      |    
      .uk-width-medium-6-10
         p
            | Physical activity is any movement produced by muscular contractions that burns
            | calories. Examples of physical activity include pushing a stroller, vacuuming, and mowing the
            | lawn. Physical activity is intense enough to make you break a sweat, but comfortable enough
            | to let you carry on a conversation.
         |       
         h3 How Much Activity Do I Need?
         |       
         p
            | Adults are expected to participate in at least 30 minutes of physical activity per day on
            | most days of the week. Children and teens should get even more, at least 60 minutes per day.
            | You can do all of the recommended 30 minutes at once, or break it up into 10- or 15-minute
            | periods throughout the day.
         |       
         p
            | Walking briskly (3-4 mph) for even 15 to 20 minutes a day begins to lower your chances of
            | having a heart attack or stroke, or developing type 2 diabetes.
      |    
      .uk-width-medium-4-10
         figure
            img(src='images/walking2.jpg', height='233', width='352', alt='walking')
            |          
            p
   
   
