extends /shared/layout

block content
   +pageTitle   
   
   +pod('')
      .uk-width-medium-5-10
         p 
            | Without a doubt, health care is expensive. In 2014, the US spent $3 trillion on health care, averaging $9,500 per person 
            a(href='#1') [1]
            |. So how could it be that precision medicine—with its DNA sequencing, high-tech diagnostic tests, and individually targeted therapies—might actually help reduce costs?
         p.
            Many precision medicine approaches are more costly than conventional approaches. Yet precision medicine is not only for the wealthy. The following examples illustrate how it promises to increase the value of medicine: delivering better outcomes to more people for less money.

      .uk-width-medium-5-10
         figure 
         
            iframe.uk-responsive-width(src="https://player.vimeo.com/video/169016214" width="640" height="360", frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
         
            p Mark Yandell, PhD, who co-directs the USTAR Center for Genetic Discovery, explains that not all of the benefits of precision medicine can be measured or quantified.
            
   +pod('Tracking the true costs of care')
      .uk-width-medium-5-10
         p.
            For most of the country, health care costs are on the rise. But at the University of Utah, costs have actually been decreasing, and patient outcomes are as good as or better than ever. 
         p.
            The first step in managing expenses is to figure out what it actually costs to treat patients. The University of Utah is one of just a handful of institutions that has implemented a computerized system that tracks expenses and patient outcomes. This system has provided key information that has helped reduce the cost of care while increasing its effectiveness. 
         p.
            Many of the cost-cutting measures at the University of Utah have involved common-sense, non-precision medicine practices. But the system also makes it easier to evaluate the impacts of targeted therapies, genetic testing, and other precision approaches to medical care. If doctors and insurers are going to implement and pay for precision approaches, institutions must first be able to evaluate their costs against conventional approaches and demonstrate their value.
            
      .uk-width-medium-5-10
         figure
            img.lg-no-shadow(src='images/utahvalue.png')
            p.
               Compared to other states, Utah as a whole delivers some of the best health care for some of the lowest costs. <br>X axis: health ranking
               by state (United Health Foundation, 2015). Y axis: health care expenditures per capita by state (Kaiser Family Foundation, 2009).
      .uk-width-1-1
         +well
            h3 Related Stories
            |NBC Nightly News <a href='http://www.nbcnews.com/nightly-news/video/see-how-this-hospital-charges-less-and-helps-patients-recover-575453251814'>video</a>
            br
            |New York Times: What are a hospital's costs? <a href='http://www.nytimes.com/2015/09/08/health/what-are-a-hospitals-costs-utah-system-is-trying-to-learn.html?_r=3'>Utah system is trying to learn</a>.
            br
            |Kaiser Health News: <a href='http://khn.org/news/retooling-hospitals-one-data-point-at-a-time/'>Retooling hospitals, one data point at a time </a>
            br
            |New England Journal of Medicine: <a href='http://catalyst.nejm.org/why-does-utah-rank-so-high-in-health-care/'>Why does Utah rank so high in health care</a>?

   +pod('Value in Outcomes')

      .uk-width-medium-5-10
         p 
            |Spending money up front on a precision diagnostic test can save money in the long run on treatments, while at the same time increasing the quality of life for patients. 

         p
            | In the traditional approach to cancer treatment, doctors decide whether or not to prescribe chemotherapy based on the stage of an individual's cancer. People with early-stage cancers are usually not given chemotherapy, which typically costs many tens of thousands of dollars 
            a(href='#2') [2] 
            | and often causes unpleasant side effects. Yet some early-stage cancers progress rapidly, and those individuals eventually end up getting chemotherapy when their cancer is at a more-advanced stage.

         p 
            |University of Utah researcher Dr. Diana Brixner, Professor of Pharmacotherapy, led a study that looked at the value of a precision medicine test designed to evaluate the aggressiveness of lung cancer 
            a(href='#3') [3] 
            |. This genetic test was given to people who were newly diagnosed and whose cancer was still at an early stage. When the test indicated that a person had an aggressive form of cancer, they were offered chemotherapy—which is most effective at treating cancers that are growing and dividing rapidly. When the test indicated that a person had a less-aggressive cancer, they were not offered chemotherapy, which spared them the cost and the side effects of a treatment that was less likely to be effective for them.

         p 
            |When the team evaluated the costs of the test and treatments against health outcomes, they found that the test added value. Compared to untested individuals, those who were tested lived longer, they had good quality of life for a longer period of time, and the associated costs were acceptable.

      .uk-width-medium-5-10
         iframe.uk-responsive-width(src="https://player.vimeo.com/video/169016435" width="640" height="360", frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
         
         figure
         
            p Diana Brixner, RPh, PhD, who heads the Pharmacotherapy Outcomes Research Center, weighs the cost and benefits of genetic testing for breast cancer patients.
         
         +well
            h3 Related Links 
            p    
               |University of Utah  
               a(href='http://pharmacy.utah.edu') College of Pharmacy
            p      
               a(href='') Department of Pharmacotherapy
            p    
               |Diana Brixner, RPh, PhD, heads the   
               a(href='http://pharmacy.utah.edu/PORC/') Pharmacotherapy Outcomes Research Center
               |, which researches how medical treatments influence health outcomes. 

   +pod('Prescribing drugs that work ') 
      .uk-width-medium-5-10
         p
            | Even when medications are prescribed properly, certain people will have adverse drug reactions. Reactions range from mild to severe, with many resulting in hospitalization and even death. In the US, the cost of adverse drug reactions in 2013 was more than $30 billion 
            a(href='#4') [4]
            | .
         p
            | Most adverse drug reactions can be traced back to variations in the protein enzymes in the liver that break down drugs—either converting them to an active form, or processing them so they can be cleared from the body. Drug-metabolizing proteins are coded for by genes, and variations in those genes affect the way individuals process and respond to drugs. When someone is taking multiple drugs—a situation that is common in the elderly—there is an added complication. The metabolism of one drug can influence how the body metabolizes another drug. So certain combinations of drugs can also cause adverse drug reactions in certain people.
         p
            | Conveniently, most of the heavy work of drug metabolism is done by just a few proteins. So testing just a handful of genes can reveal information about how an individual will process many drugs. 
         p
            | In a recent study, faculty in University of Utah's Department of Pharmacotherapy evaluated a genetic test that looked at variations in just 6 drug-metabolism genes 
            a(href='#5') [5]
            |. The test also looked at drug combinations, and it provided prescription information for 55 drugs in all. The researchers looked at a large group of people age 65 and over who were taking at least 3 prescription drugs. After the participants were tested, a user-friendly report of the results was given to their doctors, along with recommendations for drugs to change and monitor. 
         p
            | The study followed participants for 4 months. Those who were tested had fewer hospitalizations and emergency-room visits than a comparable group that was not tested. The average cost savings per person was enough to cover the cost of the test. Since the results are relevant for a person's entire lifetime, the test is expected to save even more costs over time. With fewer adverse drug reactions, participants should also experience better health as a result of the test.

      .uk-width-medium-5-10
            figure
               iframe.uk-responsive-width(src='https://player.vimeo.com/video/160011964', width='640', height='480', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')

               p Matthew Might, PhD, White House Strategist, talks about the power of genetic testing in guiding prescription drug decisions.
            +well
               h3 Related Stories
               p
                  | Advancing precision medicine through pharmacogenetics:  
                  a(href="https://www.aruplab.com/news/02-09-16") updated test prevents adverse drug reactions
               p
                  | Utah medical center project echoes  
                  a(href="https://www.aruplab.com/news/02-22-16") ARUP's lab utilization efforts
                  
   +pod('Genetic test results can inform future health decisions')
      .uk-width-medium-5-10
         p.
            If a person has their DNA tested, the results can guide medical decisions for them for the rest of their life. This is true of the 6-gene panel described above for drug metabolism, as well as for larger panels of genes.
         p.
            When the results of genetic testing are included as part of a patient's electronic medical record, doctors can accessed the results and use them to guide emergency medical decisions, where time is precious. This level of record-keeping can also reduce the chances of doctors ordering duplicates of tests that have already been ordered by someone else.

      .uk-width-medium-5-10
         figure
            iframe.uk-responsive-width(src='https://player.vimeo.com/video/169129549', width='640', height='360', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
            
            p Lynn Jorde, PhD, Executive Director of the Utah Genome Project, envisions a future in which everyone has access to his or her own genomic data.
   +pod('References')
      .uk-width-1-1
         p
            a(name='1') [1]
            |  Centers for Medicare & Medicaid Services. National Health Expenditure Data, Highligts (pdf). Accessed 16 March, 2016, from 
            |<a href='https://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/NationalHealthExpendData/NationalHealthAccountsHistorical.html'>https://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/NationalHealthExpendData/NationalHealthAccountsHistorical.html</a>
         p
            a(name='2') [2]
            |  American Society of Clinical Oncology. Focus on cost. Accessed 16 March, 2016, from 
            | <a href='http://www.asco.org/practice-research/cancer-care-america-2015/focus-cost'>http://www.asco.org/practice-research/cancer-care-america-2015/focus-cost</a>  
         p
            a(name='3') [3]
            |  Stenehjem, D.D., Bellows, B.K., Yager, K.M., Jones, J. Kaldate, R., Siebert, U. & Brixner, D.I. (2016). Cost-utility of a prognostic test guiding adjuvant chemotherapy decisions in early-stage non-small cell lung cancer. The Oncologist 2016, 21, 196-204. doi: 10.1634/theoncologist.2015-0162
         |         
         |         
         p
            a(name='4') [4]
            |  Sultana, J., Cutroneo, P., Trifioro, G. (2013). Journal of Pharmacology & Pharmacotherapeutics 4, Suppl. 1, S73-S77. doi:  10.4103/0976-500X.120957
         |         
         |         
         p
            a(name='5') [5]
            |  Brixner, D., Biltaji, E., Bress, A., Unni, S., Ye, X., Mamiya, T. & Ashcroft, K. (2015). The effect of pharmacogenetic profiling with a clinical decision support tool on healthcare resource utilization and estimated costs in the elderly exposed to polypharmacy. Journal of Medical Economics 19, 3, 213-228. doi: 10.3111/13696998.2015.1110160
         
