extends /shared/layout

block content
   +pageTitle

   +pod('')
      .uk-width-medium-4-10
         p.
            Here are just some of the health conditions that involve our microbes. Click the links or scroll down the page to learn more.

         ul
               li
                  a(href='#acne') Acne
               li
                  a(href='#diarrhea') Antibiotic-associated diarrhea
               li
                  a(href='#asthma') Asthma/allergies
               li
                  a(href='#autism') Autism
               li
                  a(href='#autoimmune') Autoimmune diseases
               li
                  a(href='#cancer') Cancer
               li
                  a(href='#dental') Dental cavities
               li
                  a(href='#depression') Depression and anxiety
               li
                  a(href='#diabetes') Diabetes
               li
                  a(href='#eczema') Eczema
               li
                  a(href='#gastric') Gastric ulcers
               li
                  a(href='#arteries') Hardening of the arteries
               li
                  a(href='#bowel') Inflammatory bowel diseases
               li
                  a(href='#malnutrition') Malnutrition
               li
                  a(href='#obesity') Obesity

      .uk-width-medium-6-10
         p.
            Doctors have long viewed microbes as things to be gotten rid of. Viruses, after all, give us measles and the flu. Bacteria cause strep throat and food poisoning. But most microbes do not make us sick. And many are important for our health (see <a href="../friends">Your Microbial Friends</a>).
         p.
            As researchers learn more about the microbes that keep us healthy, we are coming to understand how subtle imbalances in our microbial populations can also cause disease—and how restoring the balance may lead to cures. Our new understanding may lead to more focused and effective treatments. Unlike modern antibiotics, which kill good microbes along with the bad, new drugs may kill only harmful bacteria while leaving the friendly ones alone. Others may nurture friendly bacteria, helping them outcompete the harmful ones.​

   a(id="acne")
   +pod('Acne')
      .uk-width-medium-6-10
         p.
            Acne may not be particularly dangerous, but it is certainly both unpleasant and very common. Acne typically happens with P. acnes, a type of bacteria that also lives on healthy skin, invades hair follicles, causing irritation and infection.
         p.
            In severe cases, acne is treated with antibiotics. Some of these drugs are applied directly to the skin, and others are taken as a pill. Delivered in pill form, antibiotics travel throughout the entire body, where they can also kill beneficial microbes. Some doctors are beginning to wonder if treating acne this way makes us vulnerable to other illnesses.
         p.
            At the root of acne seems to be an imbalance between acne-causing bacteria and microbes that protect us. A better acne treatment may one day come in the form of a cream that nurtures the healthy microbes that protect our follicles from infection.

      .uk-width-medium-4-10
         figure
            img(src="images/001.jpg" alt="face with acne")

   a(id="diarrhea")
   +pod('Antibiotic-associated diarrhea')
      .uk-width-medium-6-10
         p.
            People who take antibiotic pills to clear up an infection are sometimes left with the unfortunate after-effects of antibiotic-associated diarrhea. Antibiotics kill not only the bacteria that make us sick, but also the bacteria that keep us healthy. Antibiotics can seriously disturb the balance of our microbial populations.
         p.
            To treat antibiotic-associated diarrhea, many have turned to probiotic foods like yogurt and bacteria-containing pills. But the types of bacteria in these foods and supplements tend to make up just a tiny proportion of the microbes in our intestines. Despite advertising touting their health benefits, supermarket probiotics haven't been very well studied at all.
         p.
            One treatment that has been shown to be effective against extremely severe imbalances in the intestinal ecosystem is the fecal transplant. Yes, doctors take poop from a healthy family member and deliver it to the sick person's intestine—very often leading to complete recovery within days. To take away some of the "yuck" factor, a few companies are developing techniques for growing complex mixtures of intestinal bacteria in the lab.

      .uk-width-medium-4-10
         figure
            img(src="images/002.jpg" alt="bottle of antibiotic medication")

   a(id="asthma")
   +pod('Asthma/allergies')

      .uk-width-medium-6-10
         p.
            Allergies happen when the immune system over-reacts to something that is normally harmless. Allergies are rare in developing countries, but in the United States, rates of asthma and hay fever have tripled over the last 30 years. Our genes haven't changed, so the increase must have something to do with the environment, quite possibly including our microbes.
         p.
            Could hand sanitizer, air filters, and anti-microbial cleaners be the problem? Some evidence suggests that when kids are exposed to bacteria, viruses, and parasites—even some that make us sick—the immune system learns how to tell the difference between things that can hurt us and things that can't. Kids living in very clean environments may miss out on important immune system training.
         p.
            Additional training happens in the gut, where microbes interact closely with the immune system. Shifts in the food we eat and increases in antibiotic use affect gut microbes, possibly in a way that is harmful to the immune system.

      .uk-width-medium-4-10
         figure
            img(src="images/003.jpg" alt="baby sneezing")
            p Babies who take antibiotics during the first year of life are more likely to develop asthma.

   a(id="autism")
   +pod('Autism')

      .uk-width-medium-6-10
         p.
            The search for the cause of autism has turned up several weak genetic links and many suspected environmental triggers. Now researchers have learned that microbes may also be involved.
         p.
            A few small studies have shown that children with autism have different microbes living in their intestines than children without the disorder. This difference could be explained by the often picky eating habits of autistic children. Or the difference could be a side effect of an underlying genetic or environmental trigger—autistic children commonly have gastrointestinal problems. Still, the connection is intriguing.
         p.
            The causes of autism are varied and complex, and the same measures may prevent the disease in some but not in others. By learning about the connection between autism and microbes, we have the potential to find more ways to fight the disorder.

      .uk-width-medium-4-10
         figure
            img(src="images/004.jpg" alt="child turning nose up at nutritious food")

   a(id="autoimmune")
   +pod('Autoimmune disease (multiple sclerosis, lupus, rheumatoid arthritis)')

      .uk-width-medium-6-10
         p.
            In people with autoimmune diseases, the immune system becomes confused and starts attacking the body's own tissues. With multiple sclerosis, the immune system attacks the protective wrappings around nerves and brain tissue. With rheumatoid arthritis, it attacks connective tissue in the joints. Dozens of other autoimmune diseases involve other organs and tissues throughout the body.
         p.
            As with asthma and allergies, autoimmune diseases may be more likely to happen when the immune system doesn't get the proper training during childhood. Much of this training happens in and around the large intestine, and microbes are a big part of the process. Certain types of microbes living in the gut may protect us from autoimmune diseases, and others seem to make us more vulnerable.
         p.
            Mice that have segmented filamentous bacteria living in their gut are more affected by arthritis and encephalomyelitis, an autoimmune disease of the brain and spinal cord. Also in mice, certain microbes protect against type-1 diabetes, in which immune cells attack the insulin-producing cells of the pancreas.

      .uk-width-medium-4-10
         figure
            img(src="images/005.jpg" alt="neuron with damage to myelin sheath")
            p In people with multiple sclerosis, the immune system attacks myelin, the substance that insulates nerve fibers.

   a(id="cancer")
   +pod('Cancer')

      .uk-width-medium-6-10
         p.
            There is some evidence that microbes may have an indirect role in cancer. For example, some microbes cause inflammation, which appears to increase cancer risk.
         p.
            A number of microbes also have more direct connections to cancer. H. pylori bacteria, a common cause of stomach ulcers, is also associated with cancers of the stomach and esophagus. A number of viruses cause cancer as well: Hepatitis B and C greatly increase the risk of liver cancer; the sexually transmitted HPV (human papilloma virus) is associated with many cervical cancers; and EBV (Epstein-Barr virus, the cause of mononucleosis) is associated with lymphomas (cancerous white blood cells) and other cancers.

      .uk-width-medium-4-10
         figure
            img(src="images/006.jpg" alt="over-grown, disorganized cancer cells among healthy, organized cells")
            p In cancer, the body's own cells multiply and grow out of control.

   a(id="dental")
   +pod('Dental cavities')

      .uk-width-medium-6-10
         p.
            You probably know that eating lots of sticky, sugary foods leads to cavities. But did you know that microbes were involved? Dental plaque, the sticky layer that forms on our teeth when we don't brush, contains hundreds of species of microbes. A few of these are bacteria that use sugar as food and release acid as a byproduct. The acid eats through the hard enamel on the outside of our teeth, causing cavities. Bacteria can then grow inside our teeth, leading to infection. When we brush our teeth, we scrub away the microbes.
         p.
            People with lots of cavities tend to have certain species of mouth bacteria, and people with healthy teeth tend to have others. It turns out that even though we have lots of different kinds of bacteria in our mouths, just a few cause cavities. In the future, we may be able to buy a mouthwash that targets these bacteria, protecting us from tooth decay. Meanwhile, the good news is that we know how to protect ourselves from getting cavities: cut down on sugar, and brush teeth at least twice every day.

      .uk-width-medium-4-10
         figure
            img(src="images/007.jpg" alt="someone brushing their teeth")

   a(id="depression")
   +pod('Depression and anxiety')

      .uk-width-medium-6-10
         p.
            We are only beginning to understand the connections between our microbes and behavior. Doctors have long known that certain infectious microbes can influence behavior: the rabies virus causes insomnia, agitation, and fear of water; the protist Toxoplasma gondi takes away rodents' fear of cats. So it shouldn't have been surprising when researchers found that some microbe-related intestinal disorders are associated with anxiety, depression, and other mental symptoms.
         p.
            The vagus nerve runs between the gut and the brain, carrying information in both directions. Stimulation of the vagus nerve is sometimes used to treat depression. Could future treatments for anxiety and depression involve manipulating gut microbes?
         p.
            Interestingly, skin appears to be part of this connection as well. Patients with the skin condition acne rosacea have a higher incidence of depression than the general population, and some evidence suggests that swallowing certain types of bacteria may improve both the acne and the depression.

      .uk-width-medium-4-10
         figure
            img(src="images/008.jpg" alt="a cat and a mouse")

   a(id="diabetes")
   +pod('Diabetes')

      .uk-width-medium-6-10
         p.
            The hormone insulin signals our cells to take up sugar (glucose) from our blood. People with type 2 diabetes are less responsive than normal to insulin—they are "insulin resistant." Without treatment, blood sugar levels can become dangerously high, gradually damaging the kidneys, eyes, blood vessels, and nerves.
         p.
            Type 2 diabetes is much more common today than it was few decades ago, and its rise may have come from our shift to a high-fat, high-sugar diet. Changing what we put into our guts can shift the population of microbes that live there.
         p.
            Researchers in Amsterdam have shown that it may be possible to shift microbial communities back to a healthier state. Obese men with insulin resistance received microbes from thin, healthy men. After just six weeks, the obese men were more responsive to insulin, and their blood sugar levels dropped to healthier levels.

      .uk-width-medium-4-10
         figure
            img(src="images/009.jpg" alt="Pancreatic islet, showing insulin-producing cells")
            p Cells in the pancreas make insulin, a hormone that controls the amount of sugar in our blood.

   a(id="eczema")
   +pod('Eczema (also psoriasis, dermatitis)')

      .uk-width-medium-6-10
         p.
            Eczema is an allergic skin condition that leaves sufferers with patches of red, itchy, scaly skin.  Like with other allergies, eczema may result from an improperly trained immune system.
         p.
            Patches of skin with eczema have different microbes living on them than healthy skin.  Researchers don't know if these differences are causing eczema or if the eczema is causing differences.  But even if the microbes aren't the cause, they may offer opportunities for treatment.
         p.
            We know that certain microbes produce compounds that keep our skin healthy.  Future eczema treatments may come in the form of a cream that nurtures beneficial microbes, or maybe even a cream that contains some of the microbes themselves.

      .uk-width-medium-4-10
         figure
            img(src="images/010.jpg" alt="Pancreatic islet, showing insulin-producing cells")

   a(id="gastric")
   +pod('Gastric ulcers')

      .uk-width-medium-6-10
         p.
            Gastric ulcers are painful sores inside the stomach or the first part of the small intestine. A healthy digestive tract has a protective layer of mucus, but ulcers are open to attack from the stomach acids that help digest our food. In the early 1980s, doctors discovered that the vast majority of gastric ulcers (around 80%) are associated with Helicobacter pylori bacteria. To treat severe ulcers, patients are often given mixtures of two to three different types of antibiotics.
         p.
            H. pylori lives in about half of all healthy people as well, and most of these people don't develop ulcers. We don't understand why some people are more susceptible, but it looks like diet plays a role. Eating different types of food changes the abiotic factors of the stomach, making conditions more or less hospitable to different types of bacteria.
         p.
            Interestingly, H. pylori may also be important for developing a healthy immune system. People who have antibodies against H. pylori, showing that they have been exposed to this bug at some point in their lives, are less likely than others to develop asthma. And those that do develop asthma tend to do so at a later age.

      .uk-width-medium-4-10
         figure
            img(src="images/011.jpg" alt="Close-up of H. pylori in the lining of the stomach")
            p The same bacteria that gives us stomach ulcers may also protect us from asthma. So is H. pylori a kind of "good bacteria" or "bad bacteria"? The distinction is often unclear.

   a(id="arteries")
   +pod('Hardening of the arteries')

      .uk-width-medium-6-10
         p.
            Hardening of the arteries, also called atherosclerosis, happens when a layer of sticky plaque builds up on the inside walls of blood vessels. A thick layer of plaque leaves less room for blood to flow, and tissue can become starved for oxygen. When pieces of plaque break off, they can become stuck in smaller blood vessels, completely blocking blood flow. People with hardening of the arteries often have no symptoms until something serious happens, like a heart attack or stroke.
         p.
            Decades ago, doctors noticed that many of their heart-attack patients also had red, irritated gums. Later, researchers found that plaque in blood vessels contains types of bacteria that normally live in the mouth. The best guess is that bacteria are entering the blood stream through blood vessels in unhealthy gums near infected teeth.
         p.
            The connection between plaque on teeth and plaque in blood vessels raises some interesting questions. Does good dental care prevent hardening of the arteries? Could scanning dental plaque for certain types of microbes diagnose disease before patients are struck down by heart attack or stroke? Could treating dental plaque also clear away blood-vessel plaque? There are many areas to explore.

      .uk-width-medium-4-10
         figure
            img(src="images/012.jpg" alt="arterial plaque clogging an artery")

   a(id="bowel")
   +pod('Inflammatory bowel diseases')

      .uk-width-medium-6-10
         p.
            Inflammatory bowel diseases (including Crohn's disease, Ulcerative colitis, and others) are a group of disorders that affect the intestines. These often painful conditions leave sufferers with vomiting, diarrhea, and anemia (low iron). In the worst cases, surgeons must remove damaged sections of intestine.
         p.
            Interactions between microbes and the cells that line the intestine appear to be important in inflammatory bowel disease. Some types of bacteria release molecules that irritate the intestine, loosen the connections between cells, and allow large molecules to leak through the intestinal wall into the blood stream. Some people with Crohn's disease also have a genetic variation that changes how their cells interact with microbes. The variation is in the NOD2 gene, which codes for a protein that recognizes and helps to kill certain types of bacteria when they get uncomfortably close to the cells that line the intestine. A defect in this mechanism allows bacteria to invade the intestinal wall, where they can cause inflammation and infection.
         p.
            Future treatments may focus on discouraging the growth of bacteria that cause inflammation and encouraging the growth of ones that suppress it.

      .uk-width-medium-4-10
         figure
            img(src="images/013.jpg" alt="person with a stomachache")

   a(id="malnutrition")
   +pod('Malnutrition')

      .uk-width-medium-6-10
         p.
            The Food and Agriculture Organization of the United Nations estimates that nearly a billion people around the world either don't have enough to eat or are missing important vitamins and minerals. In children, malnutrition can lead to life-long health problems.
         p.
            Malnutrition isn't simply a matter of lacking calories and nutrients. Some people eat enough nutrients but can't absorb them. One clue about the role of microbes came from looking at identical twins, one twin undernourished and the other one not. The twins had the same genes, and they ate the same food—but they had different gut microbiota.
         p.
            Our microbial communities are established during our first few years, and they influence our health for life. If we learn more about the relationship between microbes and nutrition, we may be able to help babies grow healthy microbes right from the start. By manipulating the microbiome, doctors may be able to help patients take in more nutrients from essentially the same food.

      .uk-width-medium-4-10
         figure
            img(src="images/014.jpg" alt="baby eating food")

   a(id="obesity")
   +pod('Obesity')

      .uk-width-medium-6-10
         p.
            Thin people and obese people tend to have different types of microbes living in their guts. And when obese people lose weight, their microbiota change accordingly. With rates of obesity and related health problems increasing at an alarming rate, it has become an area of intense research.
         p.
            Obesity is highly heritable, and it probably involves genes that pass from parent to child. And body weight is clearly influenced by diet, so the environment and personal habits also play a role. However, several studies have also turned up evidence linking obesity to the microbiome:

         ul.lg-list
            li.
               A diet high in fat, sugar, and simple carbs is bad for the "healthy" gut microbes that keep us thin while it encourages the growth of "unhealthy" microbes that make us obese.

            li.
               Obese individuals harbor microbes that are better at extracting energy from food, as well as microbes that signal the body to store energy as fat.

            li.
               Bacteria transplanted from overweight mice to thin mice make the thin mice gain weight.

         p.
            The relationship among genetics, the environment, and the microbiome as it relates to obesity is certainly complex. But while the genome is fixed and habits are hard to change, the microbiome is changeable. In the reverse of the mouse study described above, could microbes from thin people help obese people become healthier? Or could a nutritional supplement help healthy microbes grow?

      .uk-width-medium-4-10
         figure
            img(src="images/015.jpg" alt="obese parent and obese child")

   +references
      p.
         Aagaard, K., Riehle, K., Ma, J., Segata, N., Mistretta, T.-A., Coarfa, C., Raza, S., Rosenbaum, S., Van den Veyver, I., Milosavlijevic, A., Gevers, D., Huttenhower, C., Petrosino, J. & Versalovic, J. (2012). A metagenomic approach to characterization of the vaginal microbiome signature in pregnancy. PLoS ONE, 7(6), e36466. doi: 10.1371/journal.pone.0036466
      p.
         Azad, M.B., Konya, T., Maughan, H., Guttman, D.S., Field, C.J., Chari, R.S., Sears, M.R., Becker, A.B., Scott, J.A. & Kozyrskyj, A.L. (2013). Gut microbiota of healthy Canadian infants: profiles by mode of delivery and infant diet at 4 months. Canadian Medical Association Journal, 185(5), 385-394. doi: 10.1503/cmaj.121189
      p.
         Caporaso, J.G., Lauber, C.J., Costello, E.K., Berg-Lyons, D., Gonzalez, A., Stombaugh, J., Knights, D., Gajer, P., Ravel, J., Fierer, N., Gordon, J.I. & Knight, R. (2011). Moving pictures of the human microbiome. Genome Biology, 12, R50. doi: 10.1186/gb-2011-12-5-r50
      p.
         Grice, E.A., Kong, H.H., Conlan, S., Deming, C.B., Davis, J., Young, A.C., NISC Comparative Sequencing Program, Bouffard, G.G., Blakesley, R.W., Murray, P.R., Green, E.D., Turner, M.L. & Segre, J.A. (2009). Topographical and temporal diversity of the human skin microbiome. Science, 324(5931), 1190-1192. doi: 10.1126/science.1171700
      p.
         Grice, E.A. & Segre, J.A. (2011). The skin microbiome. Nature Reviews Microbiology, 9, 244-253. doi: 10.1038/nrmicro2537
      p.
         The Human Microbiome Project Consortium (2012). Structure, function and diversity of the healthy human microbiome. Nature, 486, 207-214. doi: 10.1038/nature11234
      p.
         Jakobsson, H.E., Jernberg, C., Andersson, A.F., Sjolund-Karlsson, M., Jansson, J.K. & Engstrand, L. (2010). Short-term antibiotic treatment has differing long-term impacts on the human throat and gut microbiome. PLoS ONE, 5(3), e9836. doi: 10.1371/journal.pone.0009836
      p.
         Koenig, J.E., Spor, A., Scalfone, N., Fricker, A.D., Stombaugh, J., Knight, R., Angenent, L.T. & Ley, R.E. (2011). Succession of microbial consortia in the developing infant gut microbiome. Proceedings of the National Academy of Sciences of the United States of America, 108(S1), 4578-4585. doi: 10.1073/pnas.1000081107
      p.
         Murgas Torrazza, R. & Neu, J. (2011). The developing intestinal microbiome and its relationship to health and disease in the neonate. Journal of Perinatology 31, S29-S34. doi:10.1038/jp.2010.172
      p.
         Robinson, C.J., Bohannan, B.J.M. & Young, V.B. (2010). From structure to function: the ecology of host-associated microbial communities. Microbiology and Molecular Biology Reviews, 74(3), 453-476. doi: 10.1128/MMBR.00014-10
      p.
         Spor, A., Koren, O. & Ley, R. (2011). Unraveling the effects of the environment and host genotype on the gut micobiome. Nature Reviews Microbiology, 9, 279-290. doi:10.1038/nrmicro2540
      p.
         Yatsunenko, T., Rey, F.E., Manary, M.J., Trehan, I., Dominguez-Bello, M.G., Contreras, M., Magris, M., Hidalgo, Gl, Galdassano, R.N., Anokhin, A.P., Heath, A.C., Warner, B., Reeder, J., Kuczynski, J., Caporaso, J.G., Lozupone, C.A., Lauber, C., Clemente, J.C., Knights, D., Knight, R. & Gordon, J.I. (2012). Human gut microbiome viewed across age and geography. Nature, 486, 222-228.
