extends /shared/layout
  
block content
    +pageTitle
    
    +pod('')
      .uk-width-medium-4-10
          p
            | Plants produce a staggering array of small molecules that they use in their wars with the insects, or other animals like mites or vertebrates, that try to eat them. In some cases, these toxic molecules disrupt the nervous system of animals. Or, they may interfere with basic cellular and biochemical functions needed for life. Some plants produce proteins that make it harder for insects to get essential nutrients from the plant tissues they consume. Some may slow growth and development in the insect, reducing plant damage. 
          p
            | This page describes how plants produce, store, and use the toxic molecules and proteins that ward off insects and other herbivores.
    
      .uk-width-medium-6-10
          figure
            img.lg-no-shadow(src="images/neem_flower.jpg", alt="neem plant flower")
            p Flower of the Indian neem tree. Neem oil is an important environmentally-friendly pesticide. Many toxic compounds in this plant dramatically disrupt insect growth causing early death.  
            
    +pod('Diversity and toxicity of plant chemical defenses')
            
      .uk-width-medium-4-10
       figure
         img(src="images/mustard_family.jpg", alt="Plants in the mustard family produce glucosinolates")
        
      .uk-width-medium-6-10
        p
          | Plant genomes usually have more genes than those of the animals that consume them. One reason why plants have so many genes is because they make a large number of enzymes. Plants use these enzymes to produce complex chemical compounds. Some of these compounds have roles in plant development and reproduction. Many are also used for defense. These defensive compounds are often called “specialized compounds.”
        p
          | One plant might make a certain specialized compound, while a closely related plant might make a different one. But, related plants often make similar specialized compounds. These compounds are important for the success of plant families. For example, plants in the mustard family make glucosinolate compounds. And many plants in the grass family produce benzoxazinoid compounds. 

      .uk-width-medium-4-10
        p
          | Sometimes, compounds that are very effective against herbivores evolved independently in different plant families. One example is cyanogenic glucosides. These compounds are present in unrelated plants like sorghum, cassava and lima beans.
          
      .uk-width-medium-6-10
        figure
          img.lg-no-shadow(src="images/cyogenic_glucosides.jpg", alt="Plants in several families produce cyogenic glucosides")
    
      .uk-width-medium-4-10
       figure
        img.lg-no-shadow(src="images/glucose_toxin.jpg", alt="Glucose helps stabalize toxins in plants for storage")
        p Glucose helps stablize the toxin and keep it inactive so it can be stored safely inside the plant. Once the glucose is removed, the toxin is activated. The toxin made from cyanogenic glucosides is cyanide, which is extremely harmful to animals.
    
      .uk-width-medium-6-10
        p
          | Often, only one part of the specialized compound molecule causes the damage. This part can even hurt the plant that makes it. So, in the plant, these reactive chemical groups are bound up in large molecules. This makes them safe to store. Glucose, a common and harmless sugar, often serves this purpose. When herbivores feed on plant cells, plant enzymes remove the glucose. Or, sometimes the toxin may form later, inside the herbivore's digestive system. These processes make the toxic part of the specialized compound active. These mechanisms ensure that the toxins hurt the herbivores, while protecting the plant.
        +well
            h3 Related content
            a(href='/content/herbivores/toxins/') Learn more
            |  about how how herbivorous insects can develop ways to overcome toxins.
            
    +pod('The complex metabolism of plant toxins')
      .uk-width-medium-1-1
        p
          | Plants carefully control how specialized compounds are built, stored and released. This chemical process can be very complex. In maize, at least fourteen different enzymes assemble benzoxazinoids across three different cell organelles. Once built, the plant stores the inactive toxin in its cell vacuoles. When an herbivore chomps down on the leaf, the damage breaks open the vacuole. When the inactive toxin spills out, it reacts with enzymes in the cytoplasm. The toxin activates and the herbivore eats it.  
          
      .uk-width-medium-1-1
        figure
          img.lg-no-shadow(src="images/dimbo_glc.jpg", alt="how the toxin DIMBOA is made")
          p DIMBOA with glucose attached (DIMBOA-Glc) is one kind of benzoxazinoid made by maize. These are just some of the enzymes plants use to manufacture benzoxazinoids.

  
    +pod('Plant proteins that deter herbivores')
    
      .uk-width-medium-6-10
        figure
          img.lg-no-shadow(src="images/tomatoes.jpg", alt="tomatoes in hand")
          p Tomato plants make a protein called threonine deaminase. This protein degrades the amino acid threonine in the insect digestive system.

      .uk-width-medium-4-10
        p
          | Many plants produce proteins that make it harder for insect herbivores to get nutrients. One well-studied group of these defensive plant proteins is protease inhibitors. Many plants produce these inhibitors at very high levels when they are under attack. When insects eat them, the inhibitors bind to proteases and inactivate them. Insects need proteases to digest food. With their proteases turned off, the insect is not able to break down ingested plant proteins. The amino acid building blocks of the plant proteins can't be absorbed. 
        p
          | Amino acids are also rich in nitrogen. This element is essential for many processes in cells like growth. So, protease inhibitors can keep insects from growing. 
        p
          | Some plants also have other specialized protein defenses. For example, tomato and potato plants make a protein called threonine deaminase. This protein degrades the essential amino acid threonine in the insect digestive system. Threonine is an essential amino acid. Most animals have to get it from their diet to survive. Threonine deaminase restricts the insect's growth by limiting its amount of available threonine. This cripples the herbivore so the plant can thrive. 
                  
                  
    +pod('Plant toxins and the human diet')  
                  
                  
      .uk-width-medium-4-10
        p
          | The toxins and defensive proteins in crop plants are critical. Without these defenses, there would be much greater crop loss to herbivores. This would have profound negative consequences for farmers as well as society.
        p
          | The toxins plants produce to deter herbivores also impact humans. These impacts can be both negative and positive. For instance, cassava is a staple crop for hundreds of millions of people in many tropical countries. It is also rich in hydrogen cyanide. Humans have to process cassava to make it edible. Soaking cassava roots in water is one way to dissolve and remove the hydrogen cyanide. Cooking at a high temperature will also reduce toxins in some plants. Cooking is a unique human innovation that is used to eliminate toxic cyanide in some crops, like lima beans. Cooking can also degrade defensive proteins harmful to humans. 
        p
          | Plant breeders have also developed varieties of crops that have reduced levels of toxins in parts of plants that humans consume. For example, seeds of rapeseed (the source of Canola oil) have been selected by geneticists to be low in glucosinolate toxins. Further, farmers have selected “sweet" varieties of almonds to be low in cyanide. In some cases, compounds that deter insects and other herbivores also give foods strong flavors that humans enjoy.

      .uk-width-medium-6-10
        figure
          img.lg-no-shadow(src="images/food_toxins.jpg", alt="A variety of plants we eat have toxins")
          p Plant defenses and the food we eat. From left to right: rapeseed plant, which is processed into Canola oil, horseradish roots for sale, lima beans still on the vine and sweet almonds
    
    +references


      p
      | Hanschen, F., Klopsch, R., Oliviero, T., Schreiner, M. (2017). Optimizing isothiocyanate formation  during  enzymatic  glucosinolate  breakdown  by  adjusting  pH  value,  temperature  and  dilution  in  Brassica  vegetables  and  Arabidopsis  thaliana. Sci Rep, 1-15.
      p
      | Williams, J., Rayburn, J., Cline, G., Sauterer, R., Friedman, M. (2014). Effect of allyl isothiocyanate on developmental toxicity in exposed Xenopus laevis embryos. Toxicology Reports, 2, 222 – 227.

      p
      | Bhushan, S., Gupta, S., Sohal, S., Arora, S. (2016). Assessment  of  insecticidal  action  of  3-
      p
      | Isothiocyanato-1-propene  on  the  growth  and  development  of  Spodoptera  litura (Fab.)  (Lepidoptera:  Noctuidae). Journal  of  Entomology  and  Zoology  Studies  4(5), 068-1073.

      p
      | Zagrobelnya, M., Baka, S., Rasmussen, A. (2003) Cyanogenic  glucosides  and  plant–insect  interactions. Phytochemistry, 65, 293-306.

      p
      | Wouters, F., Blanchette, B., Gershenzon, J., Vassao, D. (2016). Plant  defense  and  herbivore  counter-defense: benzoxazinoids  and  insect  herbivores. Phytochem  Rev.  15, 1127–1151.

      p
      | Chen, H., Wilkerson, C., Kuchar, J., Phinney, B., Howe, G. (2005). Jasmonate-inducible  plant  enzymes  degrade  essentialamino  acids  in  the  herbivore  midgut. PNAS, 102:52, 19237-19242.

      p
      | McMahon, J., White, W., Sayre, R. (1995). Cyanogenesis in cassava. Journal of Experimental Botany, 46:288, 731-741.


    +photocredits
 
      p <i>Neem flower</i>: Ton Rulkens
      p <i>Brussel Sprouts</i>: Rob Bertholf
      p <i>Cassava</i>: Mokkie
      p <i>Sorghum</i>: U.S. Department of Agriculture 
      p <i>Lima bean</i>: Filo gèn'
      p <i>Tomatoes</i>: Scott Bauer/ USDA Natural Resources Conservation Service
      p <i>Rapeseed</i>: Antoine Lamielle
      p <i>Horseradish</i>: Amanda Slater
      p <i>Almonds</i>: Luigi Chiesa
      p <i>Lima beans (green)</i>: Ton Rulkens

          
