.uk-width-1-1
   div(data-uk-slideshow)
      ul#epi-slides.uk-slideshow
         li
            div
               img(src="slides/epiexample1.jpg")
               .text-block
                  h3 Examples of Epigenetic Inheritance
                  p.
                     There is no doubt that epigenetic inheritance occurs in plants and fungi. There is also a good 
                     case for epigenetic inheritance in invertebrates. While many researchers remain skeptical about the 
                     possibility of epigenetic inheritance in mammals, there is some evidence that it could be happening.
         li
            div
               img(src="slides/epiexample2.jpg")
               .text-block
                  h3 Toadflax
                  .lg-sci-name (Linaria vulgaris)
                  p.
                    Common toadflax and peloric toadflax are identical in every way, except for the shape of their flowers. They 
                    are two variants of the same plant with a difference in one gene. But it’s not a difference in the DNA code. 
                    It’s an epigenetic difference. And peloric toadflax can pass on this “epimutation” to its offspring.
         li
            div
               img(src="slides/epiexample3.jpg")
               .text-block
                  h3 Wild radish
                  .lg-sci-name (Raphanus raphanistrum)
                  p.
                     When radish plants are attacked by caterpillars, they produce distasteful chemicals and grow protective 
                     spines. The offspring of caterpillar-damaged radishes also produce these defenses, even when they live in 
                     a caterpillar-free environment. The evidence of epigenetic inheritance in this case is indirect, though it’s 
                     highly likely that the information passes from parent to offspring through the reproductive cells.
         li
            div
               img(src="slides/epiexample4.jpg")
               .text-block
                  h3 Water flea
                  .lg-sci-name (Daphnia)
                  p.
                     Female water fleas respond to chemical signals from their predators by growing protective helmets. The 
                     offspring of helmeted water fleas are also born with helmets - even in the absence of predator signals. 
                     This effect continues to the next generation, though the helmets in the grandchildren are much smaller.
         li
            div
               img(src="slides/epiexample5.jpg")
               .text-block
                  h3 Laboratory Rats
                  p.
                     Vinclozolin is a fungicide commonly used on grape plants. Feeding vinclozolin to pregnant rats causes 
                     lifelong epigenetic changes in the pups. As adults, male offspring have low sperm counts, poor fertility, 
                     and a number of disease states including prostate and kidney disease. The great-grandsons of the exposed 
                     male pups also have low sperm counts. 
                  p.
                     Two lines of evidence in this case support epigenetic inheritance. First, the low sperm count persisted into 
                     the third generation. Second, the sperm had an abnormally high level of methyl tags (a type of epigenetic 
                     tag that usually silences genes). This is the best case for epigenetic inheritance in mammals to date 
                     (Feb 2009).
         li
            div
               img(src="slides/epiexample6.jpg")
               .text-block
                  h3 Humans?
                  p.
                     Making a case for epigenetic inheritance in humans remains especially challenging.
                  p.
                     &mdash; Humans have long life spans, making it time consuming to track multiple generations.<br>
                     &mdash; Humans have greater genetic diversity than laboratory strains of animals, making it difficult to rule out genetic differences<br>
                     &mdash; Ethical considerations limit the amount of experimental manipulation that can take place.<br>
                  p.
                     But we do have a few hints that suggest that it could be happening.
         li
            div
               img(src="slides/epiexample7.jpg")
               .text-block
                  h3 Humans?
                  p.
                     Geneticists analyzed 200 years worth of harvest records from a small town in Sweden. They saw a connection 
                     between food availability (large or small harvests) in one generation and the incidence of diabetes and 
                     heart disease in later generations.
                  p.
                     The amount of food a grandfather had to eat between the ages of 9 and 12 was especially important. This is 
                     when boys go through the slow growth period (SGP), and form the cells that will give rise to sperm. As these 
                     cells form, the epigenome is copied along with the DNA. Since the building blocks for the epigenome come 
                     from the food a boy eats, his diet could impact how faithfully the epigenome is copied. The epigenome may 
                     represent a snapshot of the boy’s environment that can pass through the sperm to future generations. 
      #slide-controls               
         a.uk-slidenav.uk-slidenav-previous(href='', data-uk-slideshow-item='previous')
         a.uk-slidenav.uk-slidenav-next(href='', data-uk-slideshow-item='next')
