extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-1-1
         p
            | Throughout our lives, the brain remains flexible and responsive. In addition to receiving signals from the outside world, the brain allows us to form memories and learn from our experiences. Many brain functions are accompanied at the cellular level by changes in gene expression. Epigenetic mechanisms such as histone modification and DNA methylation stabilize gene expression, which is important for long-term storage of information.
         p
            | Not surprisingly, epigenetic changes are also a part of brain diseases such as mental illness and addiction. Understanding the role of epigenetics in brain disease may open the door to being able to influence it. This may lead to the development of new and more effective treatments for brain diseases.

         iframe.uk-responsive-width(src='//player.vimeo.com/video/42580213', width='800', height='450', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')

         .uk-text-small
            p
               | A segment from a June 2008 lecture given by Dr. Moshe Szyf, Professor of Pharmacology and Therapeutics at McGill University.
            p
               | Dr. Szyf talks about studies that looked at epigenetic tags in the brains of suicide victims. He describes some of the laboratory methods scientists use to study epigenetics, and goes over some of the evidence that shows an association between certain epigenetic patterns, suicide, and child abuse.

   +pod('Other connections between epigenetics and behavior')
      .uk-width-medium-8-10
         p
            | Scientists are just starting to study how changes in epigenetic tags affect behavior, and how behavior can change epigenetic tags.  Some highlights:
         ul.lg-list
            li
               | People who commit suicide have less-active ribosomal RNA (rRNA) genes than people who die of other causes. In people who commit suicide, Methyl levels are higher on rRNA genes in a part of the brain called the hippocampus, which is important for learning and memory. More methyl means less rRNA production, which means fewer ribosomes, which means less protein production.
            li
               | Child abuse is an environmental factor that leaves an epigenetic mark on the brain. In a comparison of suicide victims who were abused or not, only the abused victims had an epigenetic tag on the GR gene. Interestingly, the GR gene receives a similar epigenetic tag in 
               a(href='../rats/') rat pups
               |  who receive low quality care from their mothers.
            li
               | CBP is a protein that is important for activating genes involved in learning and memory. One of its functions is to add acetyl tags to histones -- an epigenetic modification found on active genes. Having one faulty copy of the CBP gene causes Rubinstein-Taybi syndrome, a condition with a variety of characteristics, including mental disability.
            li
               | The gene for REELIN protein has more methyl (is less active) than normal in schizophrenic brains. Reelin is important for shaping the brain early in development and later on for learning.
            li
               | One scan of epigenetic markers in the brain identified about 60 genes that are different between psychiatric patients and healthy people. Many of these genes code for proteins that are important for signaling between brain cells.
            li
               | Some drugs that are used to treat mental illness work by changing gene expression. These changes in gene expression are stabilized through epigenetic mechanisms (DNA methylation and histone modification), reversing the effects of the disease.
            li
               | Drugs of abuse such as cocaine trigger epigenetic changes in certain brain regions, affecting hundreds of genes at a time. Some of these changes remain long after the drug has been cleared from the system. Research in this area suggests that some of the long-term effects of drug abuse and addiction (including high rates of relapse) may be written in epigenetic code.

         +references
            p
               | Tsankova, N., Renthal, W., Kumar, A., and Nextler, E.J. (2007). 
               a(href=' http://www.nature.com/nrn/journal/v8/n5/abs/nrn2132.html') Epigenetic regulation in psychiatric disorders
               | . Nature Reviews Neuroscience, 8: 355-367 (subscription required).
               br
               br
               |   
               |     Sweatt, J.D. (2009). 
               a(href='http://www.journals.elsevierhealth.com/periodicals/bps/article/S0006-3223(08)01089-5/abstract ') Experience-dependent epigenetic modifications in the central nervous system
               | . Biological Psychiatry, 65: 191-197 (subscription required).
               br
               br
               |     Kumar, A. et al. (2008). 
               a(href='http://www.cell.com/neuron/abstract/S0896-6273(05)00790-7')
                  | Chromatin remodeling is a key mechanism underlying cocaine-induced plasticity in striatum
               | . Neuron 48 (2): 303-314 (subscription required).
               br
               br
               |     
               a(href='http://www.camh.net/Research/Areas_of_research/Epigenomics/index.html') Ongoing research sponsored by the Centre for Addiction and Mental Health
      
