extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-5-10
         p
            | Traits are products of genes. When researchers understand which genes are involved in shaping which traits in cotton, they can use that information to make new types of plants that are easier to grow, resistant to challenges like drought and pests, and easier on the environment.
         p
            | Examples of traits that can make a better cotton crop:
            ul
               li High yield of fiber
               li High quality fiber (e.g., longer, stronger; depends on use)
               li Resistant to drought
               li Resistant to pests
               li Resistant to diseases
               li Tolerates salt
               li Less need for fertilizer
               li Less need for pesticides
               li Easy to grow in multiple environments
         p
            +well
               h3 Related content
               | For a refresher on traits, DNA, genes, and more visit our
               a(href="/content/basics/")  Basic Genetics
               |  page

      .uk-width-medium-5-10
         figure
            img(src="images/udall1.jpg", alt="udall")
            p
            a(href="http://udall-lab.byu.edu" target="_blank") Dr. Joshua Udall
            p studies cotton genomics at Brigham Young University <br> Photo Credit: Mark A. Philbrick/BYU

   +pod('Characteristics begin with genes')
      .uk-width-medium-4-10
         figure
            img(src="images/cows.jpg", alt="cows")
            p Many of the differences among individuals come from variations in genes.

      .uk-width-medium-6-10
         p
            | Domesticated cotton has certain characteristics, or traits, that make it more useful than its wild relatives. For example, compared to its wild relatives, domesticated cotton grows more fiber, its fibers are longer, and they more easily separated from their seeds. All of these traits were developed from naturally occurring genetic variations in the wild ancestors of cotton.
         p
            | Just like humans vary in their traits—like height, hair color, and lots of other things—so do other species. Many of these variations are genetically programmed, arising from small differences in genes from one individual to the next. During the process of domestication, the individuals with the most-desirable traits are set aside so that they can become the parents of the next generation. The hope is that the same traits will pass, through genes, from parent to offspring.

         p
            +well
               h3 Related content
               a(href="/content/cotton/uses") Uses &amp; Types of Cotton

   +pod('Domestication decreases genetic diversity')
      .uk-width-medium-4-10
         p
            | The process of domestication develops favorable traits—but it also introduces "bottlenecks," where large amounts of genetic diversity are lost. The individuals that are harvested and not used to make the next generation don't get to pass on their genetic variations.
         p
            | This lack of genetic diversity becomes important when conditions change—say a new disease comes along, or a shift in the weather causes a drought, or someone wants to start growing cotton in a new environment. Before domestication, the wild starting population may have had genetic variations that could have helped individuals survive these challenges. But if the challenges were not a factor during the domestication process, those variations could easily have been lost.

      .uk-width-medium-6-10
         figure
            img(src="images/geneticbottleneck.jpg", alt="genetic bottleneck")
            p Wild populations tend to have a lot of genetic diversity. The process of domestication leads to a population that has favorable traits, but is also much less genetic diversity.

   +pod('Wild populations are reservoirs of genetic diversity')
      .uk-width-medium-5-10
         figure
            img(src="images/salinization.jpg", alt="salinization")
            p Repeated cycles of irrigation and evaporation have caused salt and other minerals to build up, leaving huge swaths of land unusable for farming. Salt and drought resistant plants could help make this land useful again. (Photo Credit: USDA)

      .uk-width-medium-5-10
         p
            | The good news for cotton is that there are many wild populations alive in the world today. Because they haven't gone through recent genetic bottlenecks, these wild populations have far more genetic diversity than their domesticated cousins. Within that diversity are many gene variants that have the potential to make new types of cotton with even better characteristics.
         p
            | The need for crop improvement is real and immediate. Cotton farmers are continually faced with new challenges. In 2011, for example, a record-setting drought caused Texas cotton farmers to lose more than half of their crop. Over the next two years, cotton production was not much better.
         p
            | As global temperatures increase, forecasters predict that many farming regions will see even more extended periods of drought. Additionally, drought-stressed plants are more vulnerable to pests like spider mites and thrips. Wild cotton relatives may have gene variations that make them resistant to these and other challenges.

   +pod('Which genes control which traits?')
      .uk-width-medium-6-10
         p
            | Researchers are studying various cotton genomes to try to identify specific gene variations that influence favorable traits. Below are some of the questions researchers are trying to answer:

            ul
               li What gene variations allow Pima cotton to produce fiber that is so long and strong?
               li What gene variations allow upland cotton to produce fiber in such great abundance?
               li Why are tetraploid cotton species (AADD, including Pima and upland cotton) better crop plants than any of their diploid relatives (AA or DD)?
               li What gene variations make some types of wild cotton resistant to farm pests like insects and bacterial and fungal infections?

         p
            | The general approach researchers are using to answer these questions is to sequence the genomes of multiple wild and domesticated forms of cotton. Sequencing involves reading an organism's DNA code—long strings of the bases A, C, G and T. They can then compare the DNA code from different types of cotton to identify the genetic differences that may underlie desirable traits.

      .uk-width-medium-4-10
         figure
            img(src="images/dnaonpaper.jpg", alt="dna on paper")
            p A genome is a complete set of all of the genes than an organism has. It is made up of very, very long chains of DNA "letters." In tetraploid cotton, the genome is about 2.4 billion letters long!

   +pod("Let's say we have found the genes. Now what?")
      .uk-width-medium-6-10
         p
            | In the past, crop improvement was done through the long, slow process of "traditional" breeding.
         p
            | But when researchers know which gene variations influence a useful trait, they can use newer, faster methods to develop a better cotton plant: marker-assisted breeding or transgenic technology.

         p
            | To learn more about these methods, visit  
            a(href="/content/cotton/crop/") Crop Improvement Methods.

      .uk-width-medium-4-10
         figure
            img(src="images/DSC01978.jpg", alt="baby cotton")

   +references
      p
         | Buerkle, J. (August 25, 2011). Record abandonment of Texas cotton. Delta Farm Press. Available from
         a(href="http://deltafarmpress.com/cotton/record-abandonment-texas-cotton?i" target="_blank")  http://deltafarmpress.com/cotton/record-abandonment-texas-cotton?i
      p
         | Byrne, P. &amp; Richardson, K. (2005?). Marker-Assisted Selection (online lesson). Plant &amp; Soil Sciences eLibrary. Retrieved December 7, 2016, from
         a(href="https://passel.unl.edu/pages/informationmodule.php?idinformationmodule=1087488148&topicorder=1&maxto=10&minto=1" target="_blank")  https://passel.unl.edu/pages/informationmodule.php?idinformationmodule=1087488148&topicorder=1&maxto=10&minto=1
      p
         | Flowers, T. J. (2004). Improving crop salt tolerance. Journal of Experimental Botany, 55(396), 307-319. doi: 10.1093/jxb/erh003
      p
         | Guo-Liang Jiang (2013). Molecular Markers and Marker-Assisted Breeding. In Andersen, S. B. (Ed.) Plants, Plant Breeding from Laboratories to Fields. InTech. doi: 10.5772/52583. Available from:
         a(href="http://www.intechopen.com/books/plant-breeding-from-laboratories-to-fields/molecular-markers-and-marker-assisted-breeding-in-plants" target="_blank")  http://www.intechopen.com/books/plant-breeding-from-laboratories-to-fields/molecular-markers-and-marker-assisted-breeding-in-plants
      p
         | Yamaguchi, T. &amp; Blumwald, E. (2005). Developing salt-tolerant crop plants: challenges and opportunities. Trends in Plant Science, 10(12), 615-620. doi: 10.1016/j.tplants.2005.10.002
      p
         | Zielinski, S. (October 28, 2014). Earth's soil is getting too salty for crops to grow. Smithsonian.com. Available from
         a(href="http://www.smithsonianmag.com/science-nature/earths-soil-getting-too-salty-crops-grow-180953163/?no-ist" target="_blank")  http://www.smithsonianmag.com/science-nature/earths-soil-getting-too-salty-crops-grow-180953163/?no-ist
