extends /shared/layout
block content
   +pageTitle

   +pod('')
      .uk-width-medium-6-10
         p
            | After newborn genetic testing is completed, there are bloodspots leftover from the process.  What can and should be done with these?
      |    
      .uk-width-medium-4-10
         p
   +pod('What Parents Need to Know About Leftover Blood Spots')
      |    
      .uk-width-1-1
         iframe.uk-responsive-width(src='//player.vimeo.com/video/68248195', width='960', height='540', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')

   +bottom-menu("",'nbs')
   
   
