extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-4-10
         p
            | The structures within the brain are made up of about 100 billion neurons, as well as trillions of support cells called glia. Neurons may be the more important cells in the brain that relay messages about what you&apos;re thinking, feeling, or doing. But they couldn&apos;t do it without a little help from their friends, the glial cells.
      |    
      .uk-width-medium-6-10
         img(src='oligodendrocyte.jpg', alt='Oligodendrocyte', width='488', height='378')
   +pod('Many Glia, Many Functions')
      |    
      .uk-width-medium-4-10
         p
            | There are a few different types of glia in the brain: oligodendrocytes, microglia, and astrocytes. Each is needed to optimize brain function.
         |  
         p
            | Oligodendrocytes are specialized cells that wrap tightly around axons to form the myelin sheath. These cells speed up the electrical signals (action potentials) that travel down an axon. Without oligodendrocytes, an action potential would travel down an axon 30 times slower!
         p
            | Microglia are special immune cells found only in the brain that can detect damaged or unhealthy neurons. They eat foreign invaders (bacteria and viruses), then display the chewed up parts on their cell surface to signal for help.
      |    
      .uk-width-medium-6-10
         img(src='microglialcell.jpg', alt='Microglial Cell', width='488', height='307')
   +pod('The Rising Star of the Show')
      |    
      .uk-width-medium-6-10
         p
            | Astrocytes are star-shaped glia that hold neurons in place, supply nutrients, and digest parts of dead neurons. But because astrocytes cannot generate action potentials, they haven&apos;t gotten much attention, until recently.
         p
            | Astrocytes can actually communicate with neurons and modify the signals they send and receive. That means astrocytes are much more involved than we once thought in both the processing of information, and the signaling at the synapse.
      |    
      div
         img(src='Astrocyte.jpg', alt='', width='880', height='621')
   +pod('The Future of Gliotransmission')
      |    
      .uk-width-medium-4-10
         p
            | Astrocytes appear to be involved in almost all aspects of brain function. Scientists want to know more about how gliotransmitters can inhibit, stimulate, or fine-tune the action potentials fired by neurons. But astrocytes may even do more.
         p
            | There is growing evidence that astrocytes can alter how a neuron is built by directing where to make synapses or dendritic spines. They can also attract new cells (like immune cells and perhaps even adult neural stem cells) to repair damage.
         p
            | Knowing more about astrocytes will also shed light on diseases in which communication between astrocytes and neurons is altered, including Alzheimer&apos;s disease, AIDS, brain cancer, and ALS (amyotrophic lateral sclerosis, also known as Lou Gehrig&apos;s disease).
      |    
      .uk-width-medium-6-10
         img(src='AstroPhotos.jpg', alt='Astro Photos', width='488', height='411')
         figure
            p Images courtesy Adrienne M. Benediktsson, University of Iowa.
   
   
