extends /shared/layout
  
block content
    +pageTitle
  
    +pod('')
      .uk-width-medium-4-10
          p
            | Plants produce a staggering array of diverse chemical compounds. Many of these natural compounds deter or kill herbivores, just like the pesticides that humans make. Yet, some insect herbivores have evolved ways to overcome these toxic compounds.
          <br>
          <br>
          <br>
          <br>
          <br>
          p
           +well
              h3 Related content
              | For a refresher on traits, DNA, genes, and more visit our
              a(href="/content/basics/")  Basic Genetics
              |  page


      .uk-width-medium-6-10
          figure
            img.lg-no-shadow(src="images/caterpillar_freeze2.jpg", alt="caterpillar")
            p This tobacco hornworm caterpillar is eating a tobacco leaf. Tobacco plants make a toxin called nicotine. These specialist herbivores can eat tobacco without harmful effects because they make an enzyme that can detoxify nicotine. Amazingly, they also emit some of the nicotine they’ve eaten from holes in their sides to ward off predators like spiders.

    +pod('Target site insensitivity')
    
      .uk-width-medium-6-10
        figure
          
          .uk-container.uk-container-center
            +hype(664, 457, 'target_site_interactive.hyperesources/targetsiteinteractive_hype_generated_script.js', 'targetsiteinteractive_hype_container', 'controlledWidth')
            p The place on the insect’s protein that the plant toxin binds to is called the “target site.” Click the buttons to turn insect resistance to the toxin on or off, then add the toxin to see what happens.

            p
            p
            img.lg-no-shadow(src="images/milkweed_bug.jpg", alt="milkweed bug")
            p Milkweed bugs (Oncopeltus fasciatus) have evolved target site insensitivity to cardenolide toxins in the milkweed plant. 
            
      .uk-width-medium-4-10
            p
              | Some plant-made compounds harm insects or mites by binding to specific proteins in the pests’ cells and changing how they work. The place on the protein where the toxin binds is called the target site. These toxins may keep the proteins from working, or they may make the proteins over-active. Either way, the herbivores cannot thrive, and they often die.

            p
              | Plants like milkweed and foxglove make target-site based toxins called cardenolide compounds. Cardenolides target a protein that is found in the cells of all animals: the sodium-potassium pump. This protein moves positively charged ions in and out of cells, keeping more ions on the outside. Keeping a proper balance is important for many cellular functions.

            p
              | Cardenolides bind to a specific place on the pump protein, turning it off. With the pump shut down, sodium ions become trapped inside the cell. This throws off the ion gradient and impairs cell activity.

            p
              | Some specialist herbivores have evolved resistance to this deadly toxin. They make a version of the sodium-potassium pump that the toxin cannot bind to. This change is due to small differences in the amino acid building blocks that make up the toxin’s target site. Free from threat, insects with this altered protein can munch away on plants with cardenolides without harm.

            p
              | This mode of action &mdash; a small molecule binds to a specific protein and alters its function &mdash; is how most synthetic pesticides work.

            p
              | Just as insects have overcome plant toxins, they can evolve resistance to synthetic pesticides. All it takes is a small DNA change in the gene that codes for the pesticide’s protein target. If the DNA change alters the amino acids that make up the target site, the pesticide cannot bind. This mechanism of resistance is called target site insensitivity or target site resistance.

    +pod('Detoxification of plant compounds &amp; pesticides')

      .uk-width-medium-4-10
        p
          | Some plants make toxins that react with a broad range of targets to cause “site-wide” damage in insects. Site-wide plant toxins are so deadly because they disrupt multiple biological molecules, like amino acids or DNA, that are vital for cell functions. Site-wide toxins include glucosinolates, made by mustard plants, and benzoxazinoids, made by grasses such as wheat and maize (corn).


        p
          | To deal with toxins—products of cellular metabolism as well as those from outside the body &mdash; herbivores and many other animals use CYP enzymes. These enzymes begin the process by which cells turn toxic compounds into harmless molecules that the body can use or excrete. Not surprisingly, detoxification enzymes like CYPs can be another avenue of pesticide resistance. 

        p
          | CYP enzymes are coded for by a “superfamily” of genes. Most insects have a large collection of CYP genes, each of which codes for a protein that interacts with a different set of molecules. Some insects have over 150 different kinds.

        p
          | A mutation in the coding sequence of a detoxification gene may alter the protein the gene codes for. The altered protein may be able to detoxify a new compound—such as a synthetic pesticide. If an insect that has such a mutation reproduces, it may pass the gene variation—and pesticide resistance—to its offspring. Over a few generations, this trait can pass to many individuals in the population, leading to widespread resistance.

        p
          | Further, new genetic variants can come about through changes in gene promoters—the DNA sequences that control when, where, and how much protein is made. If a change turns up the amount of CYP enzyme that is made, an insect may become resistant to a pesticide or a plant toxin.

      .uk-width-medium-6-10
        figure
          img.lg-no-shadow(src="images/detox.jpg", alt="detoxification enzymes")
                
    +pod('Pesticide resistance: an example of rapid evolution')
      .uk-width-medium-1-1
        figure
        img.lg-no-shadow(src="images/rapid_resistance.jpg", alt="rapid resistance")
          
      .uk-width-medium-1-1
        p
          | During infestations, herbivore pest population sizes can reach millions or even billions within months. Early on, these populations may be susceptible to a certain pesticide. However, the population may have small numbers of resistant individuals. These resistant few can survive pesticide applications, quickly reproducing to establish a pesticide resistant population.

    +pod('Have resistance, will travel')
      .uk-width-medium-6-10
          p
            | New genetic variations that convey resistance can arise before pesticides are even applied. New mutations appear at random, with every round of reproduction. The chances that any one individual will have a new mutation that conveys resistance is very small. But the larger the population, the more likely it becomes. Once a resistant individual arises, it can very quickly pass its genes to many offspring. If pesticides kill the non-resistant individuals, the resistant population can grow even faster.
 

          p
            | Insects with pesticide resistance can spread to nearby areas. Some can fly, and some are blown on the wind. These individuals can then breed with local populations, passing pesticide resistance alleles to their offspring.

          p
            | Pesticide resistance can even spread globally. Pests can travel long distances in vessels carrying fruits, vegetables, lumber, and agricultural equipment. Insects can cross borders more easily than ever in our growing global food economy. Once invasive insects reach new shores, they often find plants with no defenses against them on which they can easily feed.

          p
            | Foreign insects may also bring pesticide resistance. When resistant pests spread, pesticides that were once widely used can become ineffective across broad geographical areas.

          p
            | For example, the Q-biotype whitefly arrived in the US from the Mediterranean in 2004. It probably hitched a ride on imported ornamental plants. Whiteflies are piercing and sucking insects that feed on many plant species. While feeding, they can transmit damaging viruses to the plant. They are a common agricultural pest on ornamental plants like poinsettias and vegetable crops like cucumber. Whiteflies used to be a manageable problem in greenhouses in the US. But the Q-biotype whitefly is resistant to many commonly used pesticides, presenting new problems for growers. 

          +well
            h3 Related content
            |  Integrated Pest Management (IPM) has become an important method for managing  herbivorous pest insects that have developed pesticide resistance. Read more about it in 
            a(href='/content/herbivores/combatting/') Combating Herbivores in Agriculture
            | .
  
      .uk-width-medium-4-10
          figure
            img(src="images/inspection.jpg", alt="US Customs offical examines peppers")
            p During the winter months, the United States imports nearly 80 percent of its fresh fruits and vegetables from other countries. US Customs and Border Protection agriculture specialists must carefully inspect incoming produce for insect pests.

      .uk-width-medium-1-1  

        +references

          p
          | Emery, A., Billingsley, P., Ready, P., Djamgoz M. (1998). Review Insect Na+/K+-ATPase. Journal of Insect Physiology, 44, 197-210. 
          p
          | Dalla, S., Swarts, H., Koenderink, J., Dobler S. (2013). Amino acid substitutions of Na,K-ATPase conferring decreased sensitivity to cardenolides in insects compared to mammals. Insect Biochemistry and Molecular Biology, 43, 1109-1115. 
          
          p
          | Agrawal, A. (2017). Monarchs and Milkweed: A Migrating Butterfly, a Poisonous Plant, and Their Remarkable Story of Coevolution. Princeton, NJ: Princeton University Press.
          
          p
          | Scott, J. (1999). Cytochromes P450 and insecticide resistance. Insect Biochemistry and Molecular Biology, 29, 757-777. 
          p
          | Feyereisen, R. (2006). Evolution of insect P450. Biochemical Society Transactions, 34, 1252-1255. 
          p
          | Puinean, A., Foster, S., Oliphant, L., Denholm, I., Field, L., Millar, N., … Bass, C. (2010). Amplification of a Cytochrome P450 Gene Is Associated with Resistance to Neonicotinoid Insecticides in the Aphid <i>Myzus persicae</i>. PLoS Genet. 6(6): e1000999. 
          p
          | McGinley, S. (2005). Minding Our A’s, B’s and Q’s: Tracking Whitefly Biotypes Emergent Q type already in Arizona. 2005 Agricultural Experiment Station Research Report, 8-10. 
          

        +photocredits
          p <i>Milkweed bug</i>: Andrew Cannizzaro   
          p <i>Pepper inspection</i>: US Customs and Border Protection (CBP)    
        
