extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-6-10
         p Conservation Biology + Genetics = Conservation Genetics
         p
            | Destroying or changing habitats can endanger the animals, plants, and other organisms
            | that live there. By effective managing these ecosystems, we can help preserve threatened
            | and endangered species.
         p
            | The science of Conservation Biology looks at individuals and populations that
            | have been affected by habitat loss, exploitation, and/or environmental change.
            | Information gained from studying these organisms informs decisions that will
            | ensure their survival into the future.
         p
            | The science of Genetics looks at inherited characteristics and the genes that underlie them.
         p
            | Put the two together and you get the science of Conservation
            | Genetics.

      .uk-width-medium-4-10
         figure
            img(src='images/intro.jpg', height='528', width='352', alt='African Antelope')
            p
   +pod('What is Conservation Genetics?')
      .uk-width-medium-6-10
         p
            | Conservation genetics uses a combination of ecology, molecular biology, population
            | genetics, mathematical modeling, and evolutionary taxonomy (the study of family
            | relationships). It is both a basic and an applied science. First, scientists must
            | understand the genetic relationships among the organisms they&apos;re studying. Then
            | wildlife managers use techniques to preserve biological diversity in these species.

         p
            | The organisms that conservation geneticists study usually belong to endangered or
            | threatened populations. To develop ways to help these populations, scientists ask
            | two questions: What has brought these populations to the brink of extinction, and
            | what steps can we take to reverse this trend? Information about the genetic diversity
            | of the organisms under study helps scientists and managers form strategies to

         p
            | Past conservation efforts have addressed populations from a mathematical, evolutionary,
            | or taxonomic point of view. Modern efforts include genetic studies, giving conservation
            | scientists and ecological managers much more information about the diversity among
            | the individuals in a population. Without genetics, we may conserve the wrong population
            | or waste valuable resources on a population that isn&apos;t endangered!

      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src='images/butterfly.jpg', height='284', width='352', alt='butterfly')
            p
   +pod('Genetic Diversity')
      .uk-width-medium-6-10
         p
            | To measure the genetic diversity of a particular gene, scientists look at how many
            | different versions of it (called alleles) are present in a population. For example,
            | one gene may determine the flower color of a plant. Different alleles may exist
            | for that gene (e.g., a pink allele, a purple allele, and a white allele). In each
            | case, the same gene determines flower color&mdash;but the exact order of DNA letters
            | that make up the gene are different for each allele. When all or nearly all members
            | of a population have the same allele, that population is said to have low genetic
            | diversity at that gene. But when many different versions of the gene exist in a
            | population, the population has high genetic diversity at that gene.

         h3 Why is genetic diversity important?

         p
            | Populations or species with low genetic diversity at many genes are at risk. When
            | diversity is very low, all the individuals are nearly identical. If a new
            | environmental pressure, such as a disease, comes along, all of the individuals
            | within the population may get the disease and die. But in a population with high
            | genetic diversity, chances are better that some individuals will have a genetic
            | makeup that allows them to survive. These individuals will reproduce, and the
            | population will survive.

         p
            | The genetic diversity of a species is always changing. No matter how many variants
            | of a gene are present in a population today, only the variants that survive in the
            | next generation can contribute to species diversity in the future. Once gene variants
            | are lost, they cannot be recovered.

      .uk-width-medium-4-10
         figure
            img(src='images/geneticdiversity.jpg', height='530', width='352', alt='Genetic Diversity')
            p
   +pod('When is Conservation Genetics Used?')
      .uk-width-medium-6-10
         h3 Habitat Destruction

         p
            | When habitat destruction or other factors put a population at risk, scientists and
            | conservation managers may target that population for investigation. For example,
            | they may study a population of plants whose habitat will be destroyed by the
            | building of a new shopping mall. Or they may study duck and geese populations
            | when new hunting regulations have been put in place.

         p
            | Human interference is not the only danger to plants and animals. Natural factors,
            | such as storms and diseases, can also cause populations to dwindle.

         h3 Change in Population Size

         p
            | Surveillance of small populations is critical, because they are particularly sensitive
            | to change. Random or unpredictable events such as natural catastrophes, environmental
            | changes, or genetic mutations can cause a sudden decrease in population size. When the
            | population of a species is small to begin with, further reduction of their remaining
            | numbers can sharply reduce genetic diversity.

         p
            | Small populations are also more sensitive to genetic drift, as well as the problems
            | that come with geographic isolation and establishing a new population from only a
            | few individuals (founder effect). Each of these factors affects which individuals
            | will give rise to the next generation, and therefore which alleles will be passed on.

      .uk-width-medium-4-10
         figure
            img(src='images/destruction.jpg', height='486', width='352', alt='habitat destruction')
            p
   +pod('Genetic Drift')
      .uk-width-medium-6-10
         p
            | With each generation, some individuals survive to reproduce and pass on their genes,
            | while others are eliminated. Over time, individual alleles can become more or
            | less common in a population. When inherited characteristics determine who will
            | survive and who will not, the process is called natural selection. When random
            | factors determine who will survive, the process is called genetic drift. Through
            | genetic drift, some alleles can entirely disappear from a population.

         p
            | A small population is more susceptible to genetic drift than a large population.
            | When just a few individuals carry a particular allele, it becomes more likely
            | that just by chance those individuals will not reproduce, and the allele will be lost.

      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src='images/graywolf.jpg', height='312', width='352', alt='Gray wolf')
            p
   +pod('Geographical Isolation')
      .uk-width-medium-6-10
         p
            | Sometimes even a large population can lose genetic diversity. One way loss can
            | happen is through geographical isolation. Geographical isolation can happen if
            | a new barrier is imposed through a habitat. For example, if a river changes
            | course or a new housing subdivision is built, a population of plants or animals
            | may be divided into two groups. Just by chance, the pool of gene variants in the
            | two separated populations may differ from one another.

         p
            | As an example, imagine a flower species with two forms that share a habitat. A
            | new subdivision, including new houses and roads, divides the habitat, isolating
            | the two forms to different areas. The first form, a tall, sturdy plant with few
            | flowers, is isolated to the north end of the subdivision, while the second form,
            | a more delicate plant with prettier flowers, is isolated to the south end. Even
            | though the new homeowners may preserve both populations, the two are sufficiently
            | isolated from each other that they can no longer exchange genes. In this situation,
            | each type is exposed to environmental pressures without the ability to crossbreed
            | with the other type to form plants with new, perhaps more advantageous, combinations
            | of genes. The new pressures created by building the development may affect the two
            | types of plants differently. For example, the more-delicate variety might die from
            | a lack of shade caused when trees were cut down for the subdivision. When they are
            | gone, so is the allele responsible for the attractive flower&mdash;and the overall
            | population size decreases.

      .uk-width-medium-4-10
         figure
            img(src='images/subdivision.jpg', height='526', width='352', alt='subdivision')
            p
   +pod('How is Conservation Genetics Done?')
      .uk-width-medium-6-10
         p
            | Conservation geneticists use DNA data from an organism to inform management choices.
            | As in any scientific field, conservation scientists use a defined approach to their work:

         h3 Identification, Inventory, and Analysis

         ol
            li
               | Define populations and areas of interest. Because there are so many species of
               | organisms, endangered or threatened species usually take priority.
            li
               | Observe the population. What are the known forms of the species? What are known
               | or suspected relatives of the species? What are the physical characteristics used
               | to classify the different forms and species?
            li
               | Form hypotheses about relationships between populations and/or species and test
               | these hypotheses by examining genetic characteristics of the organisms (DNA or protein data).
            li
               | Use mathematical models to analyze the data. Determine how much diversity exists
               | in separate populations of the species, as well as the rate at which genes are
               | exchanged among populations (gene flow).

         h3 Interpretation and Management

         p
            | Scientists and managers work together to identify endangered organisms. To begin to
            | develop a management strategy, they investigate the organism&apos;s habitat:

         ol
            li
               | Determine the degree to which the organism is adaptable to various temperatures, soils, and water conditions.
            li
               | Examine factors that influence genetic diversity, such as the identity and characteristics of plant
               | pollinators. The health and welfare of pollinating species may be critical to the survival of an endangered
               | plant species.
            li
               | Study threats to the integrity of the species&apos; habitat, including human, climatic, and other factors.

         p
            | Once all of the aspects of the population and its environment are understood, scientists and managers can develop an intelligent preservation plan.

      .uk-width-medium-4-10
         figure
            img(src='images/researcher.jpg', height='715', width='352', alt='researcher in jungle')
            p
      .clear
      .uk-width-medium-6-10
         +bottom-menu("",'hhmi')
