extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-1-1
         | Lost in the midst of all the buzz about cloning is the fact that cloning is nothing new: its rich scientific history spans more than 100 years. The landmark examples below will take you on a journey through time, where you can learn more about the history of cloning.
      |    
      .uk-width-medium-4-10
   +pod('1885 - First-ever demonstration of artificial embryo twinning')
      |    
      .uk-width-medium-6-10
         h3 Sea urchin
          
         p:   em Hans Adolf Eduard Driesch
         p
            | The sea urchin is a relatively simple organism that is useful for studying development. Dreisch showed that by merely shaking two-celled sea urchin embryos, it was possible to separate the cells. Once separated, each cell grew into a complete sea urchin.
         p
            | This experiment showed that each cell in the early embryo has its own complete set of genetic instructions and can grow into a full organism.
      |    
      .uk-width-medium-4-10
         img(src='images/1-urchin.jpg', alt='Urchin', width='257', height='192')
   +pod('1902 - Artificial embryo twinning in a vertebrate')
      |    
      .uk-width-medium-6-10
         h3 Salamander
         p: em Hans Spemann
         p
            | Spemann&rsquo;s first challenge was to figure out how to split the two cells of an embryo much stickier than sea urchin cells. Spemann fashioned a tiny noose from a strand of baby hair and tightened it between two cells of a salamander embryo until they separated. Each cell grew into an adult salamander. Spemann also tried to divide more advanced salamander embryos using this method, but he found that cells from these embryos weren&rsquo;t as successful at developing into adult salamanders.
         p
            | This experiment showed that embryos from a more-complex animal can also be &ldquo;twinned&rdquo; to form multiple identical organisms&mdash;but only up to a certain stage in development.
      |    
      .uk-width-medium-4-10
         img(src='images/2-salamander.jpg', alt='Salamander', width='352', height='180')
   +pod('1928 - The cell nucleus controls embryonic development')
      |    
      .uk-width-medium-6-10
         h3 Salamander
         p: em Hans Spemann
         p
            | Again using a strand of baby hair tied into a noose, Spemann temporarily squeezed a fertilized salamander egg to push the nucleus to one side of the cytoplasm. The egg divided into cells&mdash;but only on the side with the nucleus. After four cell divisions, which made 16 cells, Spemann loosened the noose, letting the nucleus from one of the cells slide back into the non-dividing side of the egg. He used the noose to separate this &ldquo;new&rdquo; cell from the rest of the embryo. The single cell grew into a new salamander embryo, as did the remaining cells that were separated.
         p
            | Essentially the first instance of nuclear transfer, this experiment showed that the nucleus from an early embryonic cell directs the complete growth of a salamander, effectively substituting for the nucleus in a fertilized egg.
      |    
      .uk-width-medium-4-10
         img(src='images/3-salamander.jpg', alt='Salamander', width='352', height='264')
   +pod('1952 - First successful nuclear transfer')
      |    
      .uk-width-medium-6-10
         h3 Frog 
         p: em Robert Briggs and Thomas King
         p
            | Briggs and King transferred the nucleus from an early tadpole embryo into an enucleated frog egg (a frog egg from which the nucleus had been removed). The resulting cell developed into a tadpole.
         p
            | The scientists created many normal tadpole clones using nuclei from early embryos. But just like Spemann&rsquo;s salamander experiments, cloning was less successful with donor nuclei from more advanced embryos: the few tadpole clones that did survive grew abnormally.
         p
            | Most importantly, this experiment showed that nuclear transfer was a viable cloning technique. It also reinforced two earlier observations. First, the nucleus directs cell growth and, ultimately, an organism&rsquo;s development. Second, embryonic cells early in development are better for cloning than cells at later stages.
      |    
      .uk-width-medium-4-10
         img(src='images/4-frog.jpg', alt='Frog', width='352', height='256')
   +pod('1958 - Nuclear transfer from a differentiated cell')
      |    
      .uk-width-medium-6-10
         h3 Frog
         P: em John Gurdon
         p
            | Gurdon transplanted the nucleus of a tadpole intestinal cell into an enucleated frog egg. In this way, he created tadpoles that were genetically identical to the one from which the intestinal cell was taken.
         p
            | This experiment showed that, despite previous failures, nuclei from somatic cells in a fully developed animal could be used for cloning. Importantly, it suggested that cells retain all of their genetic material even as they divide and differentiate (although some wondered if the donor DNA came from a stem cell, which can differentiate into multiple types of cells).
      |    
      .uk-width-medium-4-10
         img(src='images/5-frog.jpg', alt='Frog', width='352', height='232')
   +pod('1975 - First mammalian embryo created by nuclear transfer')
      |    
      .uk-width-medium-6-10
         h3 Rabbit
         p: em J. Derek Bromhall
         p
            | Mammalian egg cells are much smaller than those of frogs or salamanders, so they are harder to manipulate. Using a glass pipette as a tiny straw, Bromhall transferred the nucleus from a rabbit embryo cell into an enucleated rabbit egg cell. He considered the procedure a success when a morula, or advanced embryo, developed after a couple of days.
         p
            | This experiment showed that mammalian embryos could be created by nuclear transfer. To show that the embryos could continue developing, Bromhall would have had to place them into a mother rabbit&apos;s womb. He never did this experiment.
      |    
      .uk-width-medium-4-10
         img(src='images/6-rabbit.jpg', alt='Rabbit', width='352', height='241')
   +pod('1984 - First mammal created by nuclear transfer')
      |    
      .uk-width-medium-6-10
         h3 Sheep
         p: em Steen Willadsen
         p
            | Willadsen used a chemical process to separated one cell from an 8-cell lamb embryo. The he used a small electrical shock to fuse it to an enucleated egg cell. As luck would have it, the new cell started dividing.
         p
            | By this time, in vitro fertilization techniques had been developed, and they had been used successfully to help couples have babies. So after a few days, Willadsen placed the lamb embryos into the womb of surrogate mother sheep. The result was the birth of three live lambs.
         p
            | This experiment showed that it was possible to clone a mammal by nuclear transfer&mdash;and that the clone could fully develop. Even though the donor nuclei came from early embryonic cells, the experiment was considered a great success.
      |    
      .uk-width-medium-4-10
         img(src='images/7-sheep.jpg', alt='Sheep', width='352', height='241')
   +pod('1987 - Nuclear transfer from embryonic cell')
      |    
      .uk-width-medium-6-10
         h3 Cow 
         p: em Neal First, Randal Prather, and Willard Eyestone
         p
            | Using methods very similar to those used by Willadsen on sheep, First, Prather, and Eyestone produced two cloned calves. Their names were Fusion and Copy.

         p
            | This experiment added cows to the list of mammals that could be cloned by nuclear transfer. Still, mammalian cloning was limited to using embryonic cells as nuclear donors. Cloning using nuclei from differentiated adult somatic cells still wasn&rsquo;t thought possible.
      |    
      .uk-width-medium-4-10
         img(src='images/8-cow.jpg', alt='Cow', width='352', height='252')
   +pod('1996 - Nuclear transfer from laboratory cells')
      |    
      .uk-width-medium-6-10
         h3 Sheep
         p: em Ian Wilmut and Keith Campbell 
         p
            | All previous cloning experiments used donor nuclei from cells in early embryos. In this experiment, the donor nuclei came from a slightly different source: cultured sheep cells, which were kept alive in the laboratory.
         |  
         p
            | Wilmut and Campbell transferred the nuclei from cultured cells into enucleated sheep egg cells. The lambs born from this procedure were named Megan and Morag.
         |  
         p
            | This experiment showed that cultured cells can supply donor nuclei for cloning by nuclear transfer. Because scientists had already learned how to transfer genes into cultured cells, this experiment showed that it might be possible to use such modified cells to create transgenic animals&mdash;such as cows that could make insulin for diabetics in their milk.
      |    
      .uk-width-medium-4-10
         img(src='images/9-sheep.jpg', alt='Sheep', width='352', height='246')
   +pod('1996 - Dolly: First mammal created by somatic cell nuclear transfer')
      |    
      .uk-width-medium-6-10
         h3 Sheep 
         p: em Ian Wilmut and Keith Campbell
         p
            | In this landmark experiment, Wilmut and Campbell created a lamb by transferring the nucleus from an adult sheep&apos;s udder cell into an enucleated egg. Never before had a mammal been cloned from an adult somatic cell. What was the big deal?
         p
            | Every cell&rsquo;s nucleus contains a complete set of genetic information. However, while embryonic cells are ready to activate any gene, differentiated adult cells have shut down the genes that they don&apos;t need for their specific functions. When an adult cell nucleus is used as a donor, its genetic information must be reset to an embryonic state. Often the resetting process is incomplete, and the embryos fail to develop.
         p
            | Of 277 attempts, only one produced an embryo that was carried to term in a surrogate mother. This famous lamb, named Dolly, brought cloning into the limelight. Her arrival started conversations about the implications of cloning, bringing controversies over human cloning and stem cell research into the public eye.
      |    
      .uk-width-medium-4-10
         img(src='images/10-dolly.jpg', alt='Dolly', width='352', height='263')
   +pod('1997 - First primate created by embryonic cell nuclear transfer')
      |    
      .uk-width-medium-6-10
         h3 Rhesus monkey 
         p: em Li Meng, John Ely, Richard Stouffer, and Don Wolf
         p
            | Primates are good models for studying human disorders. Cloning identical primates would decrease the genetic variation of research animals, and therefore the number of animals need in research studies.
         p
            | Similar to previous cloning experiments, Wolf&rsquo;s team of scientists fused early-stage embryonic cells with enucleated monkey egg cells using a small electrical shock. The resulting embryos were then implanted into surrogate mothers. Out of 29 cloned embryos, two monkeys were born. One was a female named Neti, and the other was a male named Ditto.
         p This experiment showed that primates, humans&rsquo; closest relatives, can be cloned.
      |    
      .uk-width-medium-4-10
         img(src='images/11-monkey.jpg', alt='Monkey', width='352', height='261')
   +pod('1997 - Nuclear transfer from genetically engineered laboratory cells')
      |    
      .uk-width-medium-6-10
         h3 Sheep
         p: em Angelika Schnieke, Keith Campbell, Ian Wilmut
         p
            | This experiment was an exciting combination of findings from earlier work. Campbell and Wilmut had already created a clone using the nucleus of a cultured cell. This time, the researchers introduced the human Factor IX (&ldquo;factor nine&rdquo;) gene into the genome of sheep skin cells grown in a laboratory dish. Factor IX codes for a protein that helps blood clot, and it&apos;s used to treat hemophilia, a genetic disorder where blood doesn&apos;t form proper clots.
         p
            | To create the transgenic sheep, the scientists performed nuclear transfer using donor DNA from the cultured transgenic cells. The result was Polly, a sheep that produced Factor IX protein in her milk.
         p
            | This experiment showed that sheep could be engineered to make therapeutic and other useful proteins in their milk, highlighting the potential medical and commercial uses for cloning.
      |    
      .uk-width-medium-4-10
         img(src='images/12-tgsheep.jpg', alt='Sheep', width='352', height='271')
   +pod('1998-1999 - More mammals cloned by somatic cell nuclear transfer')
      |    
      .uk-width-medium-6-10
         h3 Mice, cows, and goats 
         p: em Multiple groups
         p
            | After the successes leading up to Dolly and Polly, other scientists wanted to see if similar techniques could be used to clone other mammalian species. Before long, several more animals had been successfully cloned. Among them were transgenic animals, clones made from fetal and adult cells, and a male mouse; all previous clones had been female.
      |    
      .uk-width-medium-4-10
         img(src='images/13-mousecowgoat.jpg', alt='Mouse, Cow, Goat', width='352', height='132')
   +pod('2001 - Endangered animals cloned by somatic cell nuclear transfer')
      |    
      .uk-width-medium-6-10
         h3 Gaur and Mouflon
         p: em Multiple groups
         p
            | As the list of successfully cloned animals grew, scientists began to explore cloning as a way to create animals belonging to endangered or extinct species. A challenge to cloning endangered and extinct species is finding closely related animals to serve as egg donors and surrogates. The gaur and mouflon were chosen in part because they are close relatives of domestic cattle and sheep, respectively.
         p
            | In 2009, using goast as egg donors and surrogates, another group of researchers cloned the first extinct animal, a Spanish mountain goat called the bucardo. Sadly, the one kid that survived gestation died soon after birth due to a lung defect.
      |    
      .uk-width-medium-4-10
         img(src='images/14-cowgoat.jpg', alt='Cow, Goat', width='352', height='132')
   +pod('2007 - Primate embryonic stem cells created by somatic cell nuclear transfer')
      |    
      .uk-width-medium-6-10
         h3 Rhesus monkey
         p: em Shoukhrat Mitalipov and colleagues
         p
            | Researchers took a cell from an adult monkey and fused it with an enucleated egg cell. The embryo was allowed to develop for a time, then its cells were grown in a culture dish. These cells, because they can differentiate to form any cell type, are called embryonic stem cells.
         p
            | This experiment showed that nuclear transfer in a primate, which researchers had tried for years without success, was possible. It opened the door to the possibility of human therapeutic cloning: creating individual-specific stem cells that could be used to treat or study diseases.
      |    
      .uk-width-medium-4-10
         img(src='images/15-monkey.jpg', alt='Monkey', width='352', height='251')
   +pod('2013 - Human embryonic stem cells created by somatic cell nuclear transfer')
      |    
      .uk-width-medium-6-10
         h3 Human 
         p: em Shoukhrat Mitalipov and colleagues
         p
            | Overcoming decades of technical challenges, Mitalipov and colleagues were the first to use somatic cell nuclear transfer to create a human embryo that could be used as a source of embryonic stem cells. The resulting stem cell lines were specific to the patient they came from, a baby with a rare genetic disorder.
         p
            | In this experiment, researchers took a skin cell from the patient and fused it with a donated egg cell. Key to the success of the experiment were modifications to the culture liquid in which the procedure was done and to the series of electrical pulses used to stimulate the egg to begin dividing.
         p
            | Following the cloning controversy of 2004&ndash;2005, in which South Korean scientists falsely claimed to have used somatic cell nuclear transfer to create embryonic stem cell lines, the scientific community demanded much stronger evidence that the procedure had actually been successful.
      |    
      .uk-width-medium-4-10
         img(src='images/16-human.jpg', alt='Human', width='352', height='265')

   
   
