extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-4-10
         p
            | Microbes are tiny living things&mdash;so tiny that you need a microscope to see them. Yet unseen microbes have a collective mass greater than all the animals on the planet. They&apos;re everywhere! You can find microbes (also called microorganisms) in soil, lakes, oceans, and air. You&apos;ll find them on your own body, both inside and out. And even though we can&apos;t see them, microbes have a huge impact on us and our environment. In fact, we couldn&apos;t live without them.
         
         +well
               | Visit 
               a(href='/content/cells/scale/') Cell Size and Scale
               |  to learn about the size of microbes relative to human cells and other objects.

      .uk-width-medium-6-10
         figure
            img(src='images/01microbesatwork.jpg', alt='North and south arms of the lake')
            p
               | The north and south arms of the lake are different colors because of the different microbes that live there.
               em Image courtesy UDWR Great Salt Lake Ecosystem Program.
   +pod('Microbes Decompose and Recycle the Dead')
      .uk-width-medium-6-10
         figure
            img(src='images/02decompose.jpg', alt='Decompose')
            p
               | Unseen bacteria decompose brine fly pupal casings that wash up on the shore of Great Salt Lake.

      .uk-width-medium-4-10
         p
            | Without microbes, the earth would be filled with corpses. Bacteria break down (or decompose) dead organisms, animal waste, and plant litter to obtain nutrients. But microbes don&apos;t just eat nature&apos;s waste, they recycle it. The process of decomposition releases chemicals (such as carbon, nitrogen, and phosphorus) that can be used to build new plants and animals. That is, chemicals that used to be a flower or a vegetable will eventually become part of another living thing. So the next time you see cut flowers decay or a garden vegetable rot, remember, you&apos;re really seeing microbes at work.
   
   +pod('Microbes Feed the World')
      .uk-width-medium-4-10
         p
            | Many animals depend on microbes for food. The small size of microbes puts them at the very bottom of the food chain. For example, microbes at Great Salt Lake feed the brine flies and brine shrimp that in turn feed the birds. Millions of migratory birds representing hundreds of different species stop at Great Salt Lake to rest, feed, and nest.
            
         +well
            | Learn about the role of microbes in the 
            a(href='/content/gsl/foodweb/') Great Salt Lake food web.

      .uk-width-medium-6-10
         figure
            img(src='images/03feed.jpg')
            p
               | Eared grebes stop at Great Salt Lake for a brine shrimp feast.
     
   +pod('Microbes Keep Us Healthy') 
      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='images/04healthy.jpg')
            p
               | Just like us, brine shrimp are host to many different kinds of microbes. Adult brine shrimp host different microbes than their encysted embryos.
                 
      .uk-width-medium-4-10
         p(style='padding-right:10px;')
            | Some microbes cause disease, but most are harmless or even helpful. Microbes outnumber our own cells ten to one. Good bacteria in our mouth prevent fungal growth. Our forearm is home to over 100 species of bacteria that keep our skin healthy. We also have about three pounds of good bacteria in our digestive tract that help us digest food. They break down carbohydrates and provide us with essential vitamins. And we&apos;re not the only ones that benefit from a relationship with microbes. Every plant and animal unknowingly houses trillions of them.
            //
               <br /><br />
               <div style="background-color:#e6e6e6; padding:15px;">
               <span>Visit <a href="...">The Human Microbiome</a> to learn about the microbes in and on your body.</span>
               </div>

   +pod('Microbes Make the Oxygen We Breathe')  
      .uk-width-medium-4-10
         p
            | We typically think of plants as producing the oxygen we breathe. But plants are only part of the story. Photosynthetic bacteria (called cyanobacteria) living in lakes, ponds, and shallow oceans produce 50% of the oxygen we breathe. Our oxygen-filled atmosphere is the legacy of microbes that lived billions of years ago. Before the evolution of photosynthetic bacteria, ancient earth lacked oxygen and carbon dioxide was much more prevalent.
      |    
      .uk-width-medium-6-10
         figure
            img(src='images/05oxygen.jpg')
            p
               | Great Salt Lake coral (called bioherms) forms as layers of dead microbes, minerals, and sediment solidify over time. Living bacteria cover the surfaces of bioherms and fill the water with oxygen. 
               br
               em Image courtesy UDWR Great Salt Lake Ecosystem Program.
   +pod('Microbes Fix Nitrogen')
      .uk-width-medium-6-10
         figure
            img(src='images/06nitrogen.jpg', width='488', height='300')
            p
               | Pickleweed and other salt-loving plants can tolerate the salty soil surrounding Great Salt Lake.

      .uk-width-medium-4-10
         p(style='padding-right:10px;')
            | All living things require nitrogen for building DNA, RNA, and protein molecules. Although nitrogen is abundant in the atmosphere, a few species of microbes are the only organisms that can use it in this form. All other organisms depend on these bacteria.  Certain bacteria produce enzymes that convert or &quot;fix&quot; gaseous nitrogen (N
            sub 2
            | ) into a form other organisms can use, such as ammonium (NH
            sub 4
            | +) or nitrate (NO
            sub 3
            | -). Often nitrogen-fixing bacteria come to depend on plants for food, forming a symbiotic (or mutually beneficial) relationship. Animals in turn acquire nitrogen by eating plants and plant-eaters.

   +pod('Microbes Control Pollution')  
      .uk-width-medium-4-10
         p
            | Just about every decade, there is an unintentional oil spill somewhere in the world, and microbes are part of the solution. Researchers have discovered that certain aquatic microbes grow in number following an oil spill. It takes years, but the oil-eating bacteria eventually break down and recycle the oil&apos;s chemical components (mostly carbon and hydrogen).
         p
            | Other metabolically talented microbes can metabolize metals, acids, salt, methane, or even radioactive wastes. There seems to be a microbe for every pollutant. Thus microbes are routinely used to treat sewage, clean abandoned mines, and degrade a variety of industrial chemicals.
      |    
      .uk-width-medium-6-10
         figure
            img(src='images/07pollution.jpg')    
            p
               | Natural oil seeps in Great Salt Lake may be home to salt-tolerant bacteria that can digest oil. Oil-eating bacteria help with clean up after accidental oil spills. 
               br
               em Image courtesy UDWR Great Salt Lake Ecosystem Program.
    
   +pod('Microbes Are a Source of Renewable Fuel') 
      .uk-width-medium-6-10
         figure
            img(src='images/08fuel.jpg')
            p
               | Brine shrimp at Great Salt Lake feast on 
               em Dunaliella
               | , a type of algae. Biofuel researchers are investigating the potentional of brine shrimp to concentrate algal oils and improve the efficiency of oil extraction.

      .uk-width-medium-4-10
         p
            | It takes energy to light our homes, power our computers, and fuel our cars. Currently we get energy from underground fuels that take millions of years to make. These &quot;fossil&quot; fuels (petroleum, coal, oil, natural gas) will likely run out within the next 50-100 years. In contrast, sun, wind, and moving water can continue to provide energy every day. Microbes are another source of renewable energy, along with plant oils and animal fat. For example, microscopic algae store energy in the form of oil (when deprived of nutrients). These oils can be extracted and converted into usable fuel.
         p
            | The more we learn about microbes, the more we appreciate what these tiny creatures can do.

      +references
         p
            | Glausiusz, J. (2007). 
            a(href='http://discovermagazine.com/2007/jun/your-body-is-a-planet') Your Body Is a Planet.
            |  Discover.
         p
            | Prince, R.C. (1993). Petroleum spill bioremediation in marine environments. Critical Reviews in Microbiology, 19(4), 217-242.
         p
            | Biello, D. (2010). 
            a(href='http://www.scientificamerican.com/article.cfm?id=how-microbes-clean-up-oil-spills') Slick Solution: How Microbes Will Clean Up the Deepwater Horizon Oil Spill.
            |  Scientific American.
         p
            | Biello, D. (2010). 
            a(href='http://www.scientificamerican.com/slideshow.cfm?id=gulf-oil-eating-microbes-slide-show') Meet the Microbes Eating the Gulf Oil Spill [Slide Show]
            | . Scientific American.
         p
            | Steen, E.J., Kang, Y., Bokinsky, G., Hu, Z., Schirmer, A., McClure, A., del Cardayre, S.B., &amp; Keasling, J.D. (2010). Microbial production of fatty-acid-derived fuels and chemicals from plant biomass. Nature 463, 559-562. doi:10.1038/nature08721.      
         p
            | Wijffels, R.H., Barbosa, M.J. (2010). An outlook on microalgal biofuels. Science, 329(5993), 796-799.
   
   
