extends /shared/layout
block content
   +pageTitle
   +pod('')
      iframe.uk-responsive-width(src="//player.vimeo.com/video/104441786", width="920", height="518", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)
