extends /shared/layout

block content
   +pageTitle   

   +pod("Genetic discoveries change lives")
      .uk-width-medium-6-10
         p.
            The University of Utah has a long history of gene discovery. Our researchers have contributed to efforts to identify 
            nearly 40 disease-causing genetic variations. Not surprisingly, these discoveries have been life changing for the 
            families that are affected by these devastating diseases. For many, just knowing the cause of their illnesses is a 
            huge relief. But the benefits extend far beyond that.
         p.
            When doctors understand the genetic cause of a disease, they gain insight into which existing approaches might work 
            to treat or prevent it. For example, patients with Long QT syndrome are at risk for sudden cardiac arrest. But if 
            they know they carry the genetic variation that puts them at risk, they can take medication or have a device implanted 
            to help control their heart rhythm.
         p.
            Having the gene in hand also gives researchers something to work with for developing new drugs or other treatments.
            
         iframe.uk-responsive-width(src="https://player.vimeo.com/video/169121655" width="640" height="360", frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
         
         figure
            p Matthew Might, PhD, White House Strategist, likens his son’s battle with an undiagnosed genetic disorder to “fighting a professional boxer blindfolded.”
          
      .uk-width-medium-4-10
         
         figure   
            img.lg-no-shadow(src="images/disordertable.png" alt="Inherited Disorder Table")
            p 

   +pod("Rare cases can have broad impacts")
      .uk-width-medium-1-2
         p.
            The number of people with rare inherited forms of any particular disease, such as Long QT syndrome, is small. Yet 
            information gained from understanding the genetic causes of these diseases can reach far beyond the small number of 
            affected families.
         blockquote
            p 
               em "You can learn way more about what a gene does from a rare disease patient than from thousands of healthy patients."
            .uk-text-small.
               Matt Might, PhD, Associate Professor of Computing, University of Utah, and parent of a child with a rare genetic disease

         p.
            In addition to having a genetic cause, Long QT can also be caused by certain prescription drugs. Once researchers 
            discovered the cause of inherited Long QT syndrome, they quickly deduced that the drug-induced form is based on 
            interactions with the very same molecule: a protein called hERG (also called KCNH2). In inherited Long QT, a defective 
            hERG protein can cause the heart to beat erratically. In drug-induced Long QT, drug molecules stick to the hERG 
            protein and block its normal function. Today, thanks to this knowledge, any new drug must pass a hERG test before 
            it can be given to patients.
         p.
            The more researchers learn about each genetic contributor to any disease, the better they understand that disease in 
            general. Each new discovery is like a piece added to the puzzle, and together they make a clearer picture of how the 
            body works, and how to get it back on track when things go wrong.
      .uk-width-medium-1-2
         iframe.uk-responsive-width(src="https://player.vimeo.com/video/169123830" width="640" height="360", frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
         
         figure 
            p Matthew Might, PhD, explains why research on rare genetic disorders helps researchers zero in on possible treatments for common diseases, like cancer and diabetes.
         
         +well
            
            h3 Learn more about the University of Utah's efforts to help people with rare and undiagnosed diseases.
            p.
               <a href="http://healthsciences.utah.edu/innovation/algorithms/2015/five.php">Algorithms for Innovation</a> — 
               Keeping pace: Who's driving discovery and where are we headed 
            p.
               <a href="http://healthcare.utah.edu/publicaffairs/news/2016/02/precision-medicine-summit.php">University of 
               Utah Health Care News</a> — White House highlights University of Utah-led project to help patients with rare, 
               untreatable diseases at Precision Medicine Summit
            p.
               <a href="http://www.nature.com/nature/journal/v513/n7518/full/513445a.html">Nature article</a> — When Disease Strikes from Nowhere
   +pod("ARUP: Putting Discovery into Practice")
      .uk-width-medium-1-2
         p.
            Discovering a gene that influences disease risk is just a first step. It takes additional work to turn that discovery 
            into a practice that can help patients. That's where ARUP Laboratories comes in.
         p.
            ARUP is a non-profit medical laboratory and an enterprise of the University of Utah. With a staff of 3,000, it runs more 
            than 3,000 types of tests on 10 million biological samples from across the country each year. Many of its tests rely 
            on the tools at the leading edge of precision medicine, including screens for hereditary cancers, molecular profiling 
            panels for tumors, and even whole-genome next-generation sequencing.
         p.
            High quality diagnostic tests are key to bringing precision medicine to patients. In order to give the right treatments 
            to the right patients, doctors need tests that are reliable, accurate, and fast. Until a proper diagnostic test can be 
            developed, a new genetic discovery has no power to touch patients.
         p.
            Because ARUP has close ties to both research and patients, and thanks to the University of Utah's culture of 
            collaboration, they can translate new discoveries into diagnostic tests very quickly—in some cases, in less than one 
            year. Since 1996, ARUP's Institute for Clinical &amp; Experimental Pathology has developed or significantly improved more 
            than 600 tests, including tests for more than 40 types of hereditary cancer and a 50-gene panel for predicting breast 
            cancer outcomes.
      .uk-width-medium-1-2
         iframe.uk-responsive-width(src="https://player.vimeo.com/video/167304547" width="640" height="360", frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
         
         figure
            p ARUP Laboratories uses genetic discoveries to develop new tests for patients.
            
         +well
            h3 Related links
            a(href="https://www.aruplab.com/") ARUP
            br
            a(href="https://www.aruplab.com/research") Institute for Clinical &amp; Experimental Pathology
   +references
      p Sanguinetti, M.C., Jiang, C., Curran, M.E., & Keating, M.T. (1995). A mechanistic link between an inherited and an acquired cardiac arrhythmia: HERG encodes the IKr potassium channel. Cell 81, 2, 299-307. doi: 10.1016/0092-8674(95)90340-2
      p Sanguinetti, M.C. &amp; Tristani-Firouzi, M. (2006). hERG potassium channels and cardiac arrhythmia. Nature 440, 463-469. doi: 10.1038/nature04710         
