extends /shared/layout
block content
   +pageTitle   

   +pod("")
      .uk-width-1-1.uk-text-center
         iframe.uk-responsive-width(src='https://player.vimeo.com/video/167949562', width='920', height='520', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
         a.uk-button.uk-button-success(href="../dna/", data-uk-button)
            | Next Stop: What are DNA and Genes?
   +pod("Identical twins: same DNA, different environment")
      .uk-width-medium-5-10
         p.
            Identical twins have exactly the same DNA, but they are not exactly alike. Each twin has his or her own personality, 
            talents, likes, and dislikes. There are even diseases that appear in one twin but not the other, including arthritis, 
            diabetes, autism, schizophrenia, cancer, and many others. The differences between identical twins don't come from 
            DNA—they all come from external factors.
         p.
            Scientists often study twins to understand how genes and the environment work together to affect traits. They compare 
            traits in identical twins, who have identical DNA, and fraternal twins, who share half their DNA, just like any 
            siblings. If a characteristic appears more frequently in identical twin pairs than in fraternal twin pairs, then it 
            has an inherited component.
         
      .uk-width-medium-5-10
         figure
            img(src="images/tudes.jpg")
            p The differences between identical twins don't come from DNA—they all come from external factors.
