extends /shared/layout

block content
  +pageTitle
  article.lg-pod.lg-section
    .uk-container.uk-container-center
      +hype(1150, 680, 'herbivore_gallery.hyperesources/herbivoregallery_hype_generated_script.js?87601', 'herbivoregallery_hype_container', 'controlledWidth')
