
figure
   img(src='images/LUT.jpg', alt='Look-up table')
   |          
   p

figure
   img(src='images/LUT-key.jpg', alt='Look-up table Key')
   |          
   p

   span How to use this table
|       
figure
   img(src='images/LUT-howto.jpg', alt='Look-up table how to')
   |          
   p
