.uk-width-1-1
   p
      | It&apos;s not a mistake when we say that ATG is a start codon. Scientists generally consider AUG to be a start codon in mRNA sequence and ATG to be a start codon in a DNA sequence.
   p
      | But... 
      br
      | If AUG on an mRNA molecule means &quot;start,&quot;
      br
      | and mRNA is copied from a DNA template,
      br
      | and the DNA template is complementary to the mRNA copy,
      br
      | then why isn&apos;t a DNA start codon TAC?
   p  The key thing to remember is that DNA is double stranded. 
   p  Here&apos;s a DNA sequence, with the start codon in red:
   p
      | GC 
      span(style='color: red;') ATG
      |  CTG CGA AAC TTT GGC TGA
   p
      | We&apos;ve shown the sequence of just one of the DNA strands. It&apos;s a shortcut, and it&apos;s tidier to look at, and it&apos;s how DNA sequences are typically written. If we wanted to, we could include the sequences of both strands:
   p
      | GC 
      span(style='color: red;') ATG
      |  CTG CGA AAC TTT GGC TGA
      br
      | CG 
      span(style='color: red;') TAC
      |  GAC GCT TTG AAA CCG ACT
   p
      | While our shorthand version shows just the top strand, it&apos;s actually the bottom strand that RNA polymerase reads to build an mRNA molecule. And if we&apos;re being literal about the actual nucleotides in the DNA strand that are read to build the mRNA&apos;s AUG start codon, we might consider the start codon on a DNA molecule to be TAC.
   p
      | But that&apos;s not quite right. The chemical structure of DNA gives it a polarity, and the two complementary DNA strands are anti-parallel. That is, the 5&apos; (5-prime) and 3&apos; (3-prime) ends of the two DNA strands face in opposite directions:
   p
      | 5&apos;  GC 
      span(style='color: red;') ATG
      |  CTG CGA AAC TTT GGC TGA  3&apos;
      br
      | 3&apos;  CG 
      span(style='color: red;') TAC
      |  GAC GCT TTG AAA CCG ACT  5&apos;
   p
      | The scientific standard is to write a nucleotide sequence from 5&apos; to 3&apos;. That means we&apos;d have to write the sequence of the bottom strand like this:
   p
      | 5&apos;  TCA GCC AAA GTT TCG CAG 
      span(style='color: red;') CAT
      |  GC  3&apos;
   p
      | It would be more accurate to say that the DNA sequence of the &quot;start codon&quot; on the bottom strand is CAT. But that&apos;s an inconvenient way to talk about a protein-coding DNA sequence: everything&apos;s not only complementary but also backwards.
   p
      | For the sake of ease and clarity, scientists tend to ignore the bottom strand (they call it the &quot;non-coding&quot; or &quot;antisense&quot; strand). Instead, they refer to the sequence of the &quot;coding&quot; or &quot;sense&quot; strand: the one that&apos;s almost identical to mRNA&mdash;the difference of course being that every T in DNA is replaced by a U in RNA. They know there&apos;s another strand, and they know how to figure out what its sequence is if they need to.
