.uk-slidenav-position(data-uk-slideshow)
   ul.uk-slideshow
      li.item.uk-active
         img(src='assets/RB_v2-00.svg', alt='reproductive barriers')
      li.item
         img(src='assets/RB_v2-01.svg', alt='reproductive barriers')
         //-audio(src='audio/C&E-Audio-1.mp3', preload='auto')
      li.item
         img(src='assets/RB_v2-02.svg', alt='reproductive barriers')
         //-audio(src='audio/C&E-Audio-2.mp3', preload='auto')
      li.item
         img(src='assets/RB_v2-03.svg', alt='reproductive barriers')
         //-audio(src='audio/C&E-Audio-3.mp3', preload='auto')
      li.item
         img(src='assets/RB_v2-04.svg', alt='reproductive barriers')
         //-audio(src='audio/C&E-Audio-4.mp3', preload='auto')
      li.item
         img(src='assets/RB_v2-05.svg', alt='reproductive barriers')
         //-audio(src='audio/C&E-Audio-5.mp3', preload='auto')
      li.item
         img(src='assets/RB_v2-06.svg', alt='reproductive barriers')
         //-audio(src='audio/C&E-Audio-6.mp3', preload='auto')
      li.item
         img(src='assets/RB_v2-07.svg', alt='reproductive barriers')
         //-audio(src='audio/C&E-Audio-7.mp3', preload='auto')
      li.item
         img(src='assets/RB_v2-08.svg', alt='reproductive barriers')
         //-audio(src='audio/C&E-Audio-8.mp3', preload='auto')
      li.item
         img(src='assets/RB_v2-09.svg', alt='reproductive barriers')
         //-audio(src='audio/C&E-Audio-9.mp3', preload='auto')
      li.item
         img(src='assets/RB_v2-10.svg', alt='reproductive barriers')
         //-audio(src='audio/C&E-Audio-10.mp3', preload='auto')
      li.item
         img(src='assets/RB_v2-11.svg', alt='reproductive barriers')
         //-audio(src='audio/C&E-Audio-11.mp3', preload='auto')
      li.item
         img(src='assets/RB_v2-12.svg', alt='reproductive barriers')
         //-audio(src='audio/C&E-Audio-12.mp3', preload='auto')
      li.item
         img(src='assets/RB_v2-13.svg', alt='reproductive barriers')
         //-audio(src='audio/C&E-Audio-13.mp3', preload='auto')
      li.item
         img(src='assets/RB_v2-14.svg', alt='reproductive barriers')
         //-audio(src='audio/C&E-Audio-14.mp3', preload='auto')
      li.item
         img(src='assets/RB_v2-15.svg', alt='reproductive barriers')
         //-audio(src='audio/C&E-Audio-15.mp3', preload='auto')
      li.item
         img(src='assets/RB_v2-16.svg', alt='reproductive barriers')
         //-audio(src='audio/C&E-Audio-16.mp3', preload='auto')
   a.uk-slidenav.uk-slidenav-previous(href='', data-uk-slideshow-item='previous', style="color: #b8550e; font-size: 90px;")
   a.uk-slidenav.uk-slidenav-next(href='', data-uk-slideshow-item='next',  style="color: #b8550e; font-size: 90px;")
