extends /shared/layout
block content
  +pageTitle
  +pod('What is Marfan Syndrome?')
    .uk-width-medium-4-10
      p.
        Marfan syndrome is a genetic disorder that affects connective tissue. There are many types of connective tissue. It provides strength, elasticity, and cushioning to structures throughout the body. The most common effects of Marfan syndrome are in the areas of the body with the greatest amount of connective tissue. These include the heart, blood vessels, eyes, lungs, and skeleton.
      p.
        Some people are born with clear features of Marfan syndrome, while others develop symptoms as teens or adults. Marfan syndrome isn't simple to diagnose, and nearly half the affected people never realize they have it. Marfan syndrome gets worse with age. Recognizing the symptoms early helps to avoid serious complications later on.
    .uk-width-medium-6-10
      +vimeo('130241390')
      +well
        p Men, women, children, and people of all ethnic backgrounds can have Marfan syndrome. It affects about 1 in 5,000 births worldwide. Currently in the United States, an estimated 200,000 people have Marfan syndrome or a related connective tissue disorder.
        
  +pod('Affected Gene')
    .uk-width-medium-6-10
      img(src='images/marfan-gene.jpg')
      figure
        p Caption: Fibrillin-1 proteins assemble into strong fibers. These fibers add strength to connective tissue throughout the body. With too little or altered fibrillin-1 protein, connective tissue is weaker. 

    .uk-width-medium-4-10
      p.
        The affected gene in Marfan syndrome is FBN1, on chromosome 15. It codes for a large protein called fibrillin-1. People with Marfan syndrome have one non-working copy (allele) of FBN1 and one healthy copy. They make a mix of healthy and non-working protein.
      p.
        Cells that build connective tissue make fibrillin-1 protein and release it into the space around them. Here, many molecules of fibrillin-1 link together to make long, thread-like microfibrils. The main job of microfibrils is to make connective tissue strong and elastic. Their secondary job is to help control growth and development.
      p.
        Some people with Marfan syndrome make too little fibrillin-1 protein, and they have too few microfibrils. Other people make a combination of healthy and non-working fibrillin-1 proteins. They form microfibrils that can't do their job very well. 
      p.
        Not everyone who inherits a non-working copy of the FBN1 gene has Marfan syndrome. Some versions cause closely-related connective tissue disorders.
      
  +pod('Inheritance')
    .uk-width-medium-4-10
      p.
        Everyone inherits two copies (alleles) of the FBN1 gene: one from each parent. In people with Marfan syndrome, one of the alleles is non-working. Most people with Marfan syndrome inherit the non-working allele from a parent who also has the condition. But at least 25% of the time, the non-working allele comes from a new mutation in the mother's egg or the father's sperm. The new allele can be inherited if the affected person has children.
      p.
        From the perspective of having the genetic disorder, Marfan syndrome nearly always follows an autosomal dominant inheritance pattern: it only takes one non-working allele to cause the condition.
      p.
        From the perspective of the fibrillin-1 protein that is made, a person's two FBN1 alleles are co-dominant: protein is made from both.
      
    .uk-width-medium-6-10
      img(src='images/autosomal-inheritance.jpg' alt='autosomal inheritance')

  +pod('Protein Function and Interactions')
    .uk-width-medium-4-10
      p.
        Fibrillin-1 protein is the main building block of microfibrils &mdash; long, thread-like structures within connective tissue. In different tissues, fibrillin-1 is used to build two types of microfibrils: flexible and non-elastic. 
      p.
        Flexible microfibrils are important in tissues that expand and contract, like blood vessels, lungs, and skin. In these tissues, chains of fibrillin-1 protein wrap around another protein called elastin. This makes a strong, stretchy fiber.
      p.
        Non-elastic microfibrils are made up mainly of fibrillin-1 alone. They provide structure in rigid tissues like bones and tendons. They also anchor the lens of the eye.
      p.
        With less working fibrillin-1, both types of microfibrils are disorganized or fragmented. Flexible tissues are weak and lose their shape easily. Rigid tissues are unstable. This is why people with Marfan syndrome usually have effects in their skeletal system. The connective tissue holding joints together is too stretchy. People are often very flexible, and prone to dislocating knee, hip, and shoulder joints.
      p.
        Many fibrillin-1 microfibrils have a second job. They store other proteins, keeping them inactive until they're needed. One such protein is TGF-&beta; (transforming growth factor beta). TGF-&beta; helps to control muscle and bone growth. When microfibrils do not form properly, TGF-&beta; can act in the wrong places or at the wrong times, affecting a person's growth and development. This is one reason people with Marfan syndrome tend to be tall and thin.
    .uk-width-medium-6-10
      img(src='images/marfan-protein.jpg')
      figure
        p Caption: Flexible microfibrils are found in blood vessels, lungs, and skin. Non-elastic microfibrils are found in bones and tendons, and they help to anchor the lens of the eye.

  +pod('Normal Protein Expression')
    .uk-width-medium-6-10
      img(src='images/marfan-expression.jpg')
      figure
        p FBN1 protein is present in many tissues throughout the body. The cells that make  FBN1 protein release it to the space that surrounds them. There, it becomes part of the extracellular matrix.

    .uk-width-medium-4-10
      p.
        The FBN1 gene is switched on in cells that build connective tissue, which is present in almost every organ of the body. FBN1 is active at the highest levels in fat and smooth muscle cells (smooth muscle wraps around blood vessels and many organs). It is active at lower levels in the skin, lungs, heart, gallbladder, bladder, and digestive tract. In women, FBN1 is very active in placenta, uterus, and ovary cells.
      p.
        Fibrillin-1 protein is released to the outside of the cells that make it. It becomes part of the extracellular matrix: the framework that supports and anchors cells, tissues, and organs.
      p.
        While the FBN1 gene is switched on throughout a person's life, it's especially active during embryonic development and early childhood. It is very important during this time for helping the heart develop.
          
  +pod('Symptoms and Features of Marfan Syndrome')
    .uk-width-medium-5-10
      p.
        The effects of Marfan syndrome can be very different from person to person. Some people with Marfan syndrome experience only mild symptoms. Others can have life-threatening complications.
      p.
        Observable traits in people with Marfan syndrome can include the following:
      ul
        li Tall and slender build
        li Long arms, legs, and fingers 
        li Flexible joints
        li Flat feet
        li Protruding or sunken breast bone
        li Crowded teeth
        li Curved spine
        li Extreme nearsightedness
        li Dislocated lens in the eye
      p.
        The most dangerous effects of Marfan syndrome are harder to see. People with Marfan syndrome are at high risk for lung problems. Lungs may collapse or detach from the chest wall. Some people have heart complications, such as leaky valves. The most serious effects involve the aorta, the main artery that moves blood from the heart to the rest of the body. When microfibrils don't function normally, the aorta isn't as strong or elastic as it should be. The high pressure of blood leaving the heart can weaken the aorta over time, causing it to bulge, or even tear. Effects on the aorta are very common in Marfan syndrome. They are life-threatening if undetected. But, when people are diagnosed and treated early, there is a good chance for preventing the most serious effects.
    
    .uk-width-medium-5-10
      figure
        img(src='images/SymptomsAndFeaturesCombined.jpg' alt='long arms')
        p People with Marfan Syndrome often have a tall, slender build (top) and flexible joints (bottom). Photo Credits: The Marfan Foundation.      
      br
      img(src='images/marfan-aorta.jpg')
      figure
        p The aorta is a large blood vessel that carries blood from the heart to the rest of the body. Blood vessels in people with Marfan syndrome are often weakened. High pressure from within can cause the aorta to bulge, or even tear.
        
  +pod('Alleles, Protein, and Variability')
    .uk-width-medium-4-10
      p.
        Each person has two versions (alleles) of the FBN1 gene, and both code for fibrillin-1 protein. People with Marfan syndrome generally have one healthy and one disease-causing allele. They make some fibrillin-1 protein that works, and some that doesn't.
      p.
        Non-working fibrillin-1 protein can cause Marfan syndrome in two main ways. In some people, the non-working protein can't be used, and they have too few microfibrils. In others, the non-working protein is made into microfibrils, but the microfibrils do not work well. 
      p
        i Too few microfibrils
      p.
        Multiple FBN1 alleles fall into this category. In the simplest cases, cells make too little fibrillin-1 protein. With other alleles, cells make plenty of fibrillin-1 protein, but they don't release the non-working protein to the outside. A third type of allele codes for fibrillin-1 protein that is released from the cell, but the protein cannot be used as building blocks to make microfibrils. 
      p.
        Having any of these alleles causes Marfan syndrome. The fibrillin-1 protein that cells make from the one healthy allele is still made into microfibrils. But there is not enough protein. There are fewer microfibrils, and the connective tissue that relies on them is weak.
      i Microfibrils do not work well
      p.
        These FBN1 alleles code for fibrillin-1 protein that has an altered structure. This altered protein interferes with the healthy fibrillin-1 protein. The altered and healthy fibrillin-1 combine to make microfibrils that do not do their job properly.
      p.
        In some cases, the microfibrils are weak or disorganized. In others, the proteins don't wrap around elastin very well, and elastic microfibrils don't stretch properly. Some microfibrils don't store TGF-&beta; , which affects the development of bones and muscle.
      p.
        Microfibrils do different jobs in different tissues, and they interact with many other proteins. Depending on how fibrillin-1 proteins are altered, different jobs are disrupted. Researchers are still working to understand how specific versions of protein cause the varied characteristics seen among individuals who have Marfan syndrome.

    .uk-width-medium-6-10
      img(src='images/marfan-alleles.jpg')
      figure
        p Alleles of FBN1 that cause Marfan syndrome are categorized by two main features: how much fibrillin-1 protein is made, and how well the microfibrils work (microfibril quality).
        
  +pod('Other Factors')
    .uk-width-medium-4-10
      figure
        img(src='images/OtherFactors1Edited.jpg' alt='a couple')
        p.
          Even when Marfan Syndrome runs in a family, individual people can have different symptoms. The differences come from variations in genes other than FBN1, and exposure to different environments. Photo Credit: The Marfan Foundation.
    .uk-width-medium-6-10
      p.
        People with Marfan syndrome can be affected very differently, even when they have the same alleles of the FBN1 gene. Different parts of the body can be affected, and symptoms range from mild to severe. Even among family members, symptoms may appear at different times, from infancy through adulthood, or even before birth. 
      p.
        Some of this variability is due to variation in other genes. For example, some genes code for proteins that influence the amount of fibrillin-1 protein a person makes. This amount varies a lot even in healthy people. For unknown reasons, it tends to vary even more in people with Marfan syndrome. Other gene variations affect the risk for heart conditions that are part of Marfan syndrome. For example, heart symptoms may be worse in people who have gene variations that cause high blood pressure or increase the risk for heart disease.
      p.
        The symptoms of Marfan syndrome are also influenced by environmental factors. Anything that puts strain on a person's heart&mdash;from physical activities to pregnancy&mdash;can cause symptoms to appear earlier. Exposure to cigarette smoke can make lung effects worse.

  +pod('Treating and Managing Marfan Syndrome')
    .uk-width-medium-6-10
      p.
        Managing Marfan syndrome involves a combination of lifestyle behaviors and medical treatments. The aim of lifestyle behaviors is to reduce strain on the heart and lungs. Medical treatments can also help reduce this strain, as well as treat more severe symptoms. 
      p.
        Early diagnosis of Marfan syndrome is important, since a big goal of treatment is to delay or prevent serious complications. Just as Marfan syndrome varies from person to person, treatment does too. People with very mild symptoms may not need treatment beyond regular doctor visits to track disease progression. Others with more severe symptoms may need medications or surgery.
      
      p.
        Lifestyle behaviors
      ul
        li Choose low-impact activities like walking, tennis, or golf.
        li Limit strenuous activities like weightlifting, or high-impact sports like football.
        li Take extra precautions during pregnancy to reduce strain on the heart.
      p.
        Medical approaches
      ul
        li Wear contacts or glasses to help with vision; surgery can repair a dislocated lens or detached retina.
        li Use a back brace to prevent scoliosis (a curved spine) from progressing. In more serious cases, surgery can help.
        li Dental work can improve crowded teeth.
        li If lung conditions are minor, they may resolve on their own. Surgery helps in some severe cases.
        li Blood pressure medications or beta blockers can reduce strain on the heart and aorta. 
        li Surgery can repair or replace badly damaged sections of the aorta, or replace leaky heart valves.
      +well
        p Advances in diagnosis and treatment have greatly improved the lives of people with Marfan syndrome and related disorders. Much of the current progress is the result of activism by patients and families within the Marfan syndrome community, who advocate for quickly moving laboratory research into the clinic. 
          a(href='https://www.nhlbi.nih.gov/news/2017/marfan-syndrome-patient-led-movement-spells-brighter-future-those-rare-condition' target="_blank") Read the article.
        
        h3 More information
        a(href='https://www.marfan.org' target="_blank") The Marfan Foundation
        br
        a(href='https://www.marfanworld.org' target="_blank") Marfan World
        br
        a(href='https://www.heart.org' target="_blank") American Heart Association

    .uk-width-medium-4-10
      figure
        img(src='images/TreatingAndManaging1Edited.jpg')
        p.
          Swimming can be a way to exercise without stressing the aorta or the connective tissue around joints. Photo Credit: The Marfan Foundation.
      figure
        img(src='images/OtherFactors2Edited.jpg' alt='people sitting in heart')
        p.
          A person's overall heart health is affected by many factors. Each factor can increase or decrease the risk for serious heart complications from Marfan syndrome. Photo Credit: The Marfan Foundation. 
      
  
  +references
    p Aoyama, T., Francke, U., Dietz, H. C., &amp; Furthmayr, H. (1994). Quantitative differences in biosynthesis and extracellular deposition of fibrillin in cultured fibroblasts distinguish five groups of Marfan syndrome patients and suggest distinct pathogenetic mechanisms. The Journal of clinical investigation, 94(1), 130-137.
  
    p Jensen, S. A., &amp; Handford, P. A. (2016). New insights into the structure, assembly and biological roles of 10-12 nm connective tissue microfibrils from fibrillin-1 studies. Biochemical Journal, 473(7), 827-838.
  
    p Hilhorst-Hofstee, Y., Hamel, B. C., Verheij, J. B., Rijlaarsdam, M. E., Mancini, G. M., Cobben, J. M., ... &amp; Moll, H. A. (2011). The clinical spectrum of complete FBN1 allele deletions. European journal of human genetics, 19(3), 247.
