extends /shared/layout
block content
   +pageTitle
   
   +pod('')
      .uk-width-medium-5-10
         p
            | Inside the nucleus of a cell, our genes are arranged along twisted, double-stranded molecules of
            | DNA called chromosomes. At the ends of the chromosomes are stretches of DNA called telomeres, which
            | protect our genetic data, make it possible for cells to divide, and hold some secrets to how we age
            | and get cancer.
         |       
         p
            | Telomeres have been compared with the plastic tips on shoelaces, because they keep chromosome ends
            | from fraying and sticking to each other, which would destroy or scramble an organism&apos;s genetic information.
         |       
         p
            | Yet, each time a cell divides, the telomeres get shorter. When they get too short, the cell can no longer
            | divide; it becomes inactive or &quot;senescent&quot; or it dies. This shortening process is associated with aging, cancer,
            | and a higher risk of death. So telomeres also have been compared with a bomb fuse.
      |    
      .uk-width-medium-5-10
         figure
            img(src='images/telomeres_big.jpg', alt='Fluoresence-stained chromosomes')   
            p
               | Fluorescence-stained chromosomes (red) on a microscope slide. Telomeres (yellow) sit at the ends of each chromosome. Photo courtesy of
               | Dr. Robert Moyzis, UC Irvine, US Human Genome Program
   +pod('What are telomeres?')

      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='images/telomeres.png', alt='What are Telomeres')

      .uk-width-medium-4-10
         p
            | Like the rest of a chromosome, including its genes, telomeres are sequences of DNA  chains of chemical code.
            | Like all DNA, they are made of four nucleic acid bases: G for guanine, A for adenine, T for thymine,
            | and C for cytosine.
         |       
         p
            | Telomeres are made of repeating sequences of TTAGGG on one strand paired with AATCCC on the other
            | strand. Thus, one section of telomere is a &quot;repeat&quot; made of six &quot;base pairs.&quot;
         |       
         p
            | In white blood cells, the length of telomeres ranges from 8,000 base pairs in newborns to 3,000 base pairs
            | in adults and as low as 1,500 in elderly people. (An entire chromosome has about 150 million base
            | pairs.) Each time it divides, an average cell loses 30 to 200 base pairs from the ends of its telomeres.
         |       
         p
            | Cells normally can divide only about 50 to 70 times, with telomeres getting progressively shorter until
            | the cells become senescent or die.
         |       
         p
            | Telomeres do not shorten in tissues where cells do not continually divide, such as heart muscle.
   +pod('Why do chromosomes have telomeres?')
      |    
      .uk-width-medium-6-10
         p
            | Without telomeres, the main part of the chromosome  the part with genes essential for life  would get
            | shorter each time a cell divides. So telomeres allow cells to divide without losing genes. Cell division is
            | necessary for growing new skin, blood, bone, and other cells.
         |       
         p
            | Without telomeres, chromosome ends could fuse together and corrupt the cell&apos;s genetic blueprint, possibly causing
            | malfunction, cancer, or cell death. Because broken DNA is dangerous, a cell has the ability to sense and
            | repair chromosome damage. Without telomeres, the ends of chromosomes would look like broken DNA, and the cell
            | would try to fix something that wasn&apos;t broken. That also would make them stop dividing and eventually die.
      |    
      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src='images/brokendna.jpg', alt='Broken DNA')

   +pod('Why do telomeres get shorter each time a cell divides?')
      .uk-width-medium-6-10
         p
            | Before a cell can divide, it makes copies of its chromosomes so that both new cells will have
            | identical genetic material. To be copied, a chromosome&apos;s two DNA strands must unwind and separate. An enzyme
            | (DNA polymerase) then reads the existing strands to build two new strands. It begins the process with the
            | help of short pieces of RNA. When each new matching strand is complete, it is a
            | bit shorter than the original strand because of the room needed at the end for this small piece of RNA.
            | It is like someone who paints himself into a corner and cannot paint the corner.
      .uk-width-medium-4-10
         figure
            img(src='images/paintedintocorner.png', alt='Painted Into Corner')
   +pod('Telomerase counteracts telomere shortening')
      .uk-width-medium-6-10
         p
            | An enzyme named telomerase adds bases to the ends of telomeres. In young cells, telomerase keeps telomeres
            | from wearing down too much. But as cells divide repeatedly, there is not enough telomerase, so the telomeres
            | grow shorter and the cells age.
         |       
         p
            | Telomerase remains active in sperm and eggs, which are passed from one generation to the next. If reproductive
            | cells did not have telomerase to maintain the length of their telomeres, any organism with such cells
            | would soon go extinct.
      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src='images/3DU5.png', alt='TERT')  
            p Structure of the catalytic subunit of telomerase, TERT. From the Protein Data Bank (PDB entry 3DU5).
   +pod('Telomeres and cancer')
      |    
      .uk-width-medium-6-10
         p
            | As a cell begins to become cancerous, it divides more often, and its telomeres become very short. If its telomeres
            | get too short, the cell may die. Often times, these cells escape death by making more telomerase enzyme,
            | which prevents the telomeres from getting even shorter.
         |       
         p
            | Many cancers have shortened telomeres, including pancreatic, bone, prostate, bladder, lung, kidney,
            | and head and neck.
         |       
         p
            | Measuring telomerase may be a way to detect cancer. And if scientists can learn how to stop telomerase, they might be
            | able to fight cancer by making cancer cells age and die. In one experiment, researchers blocked telomerase activity
            | in human breast and prostate cancer cells growing in the laboratory, prompting the tumor cells to die. But there
            | are risks. Blocking telomerase could impair fertility, wound healing, and production of blood cells and immune
            | system cells.
      |    
      .uk-width-medium-4-10
         #flashContent
            object#cancer(classid='clsid:d27cdb6e-ae6d-11cf-96b8-444553540000', width='352', height='514', align='middle')
               param(name='movie', value='cancer.swf')
               
               param(name='quality', value='high')
               
               param(name='bgcolor', value='#cccccc')
               
               param(name='play', value='true')
               
               param(name='loop', value='true')
               
               param(name='wmode', value='window')
               
               param(name='scale', value='showall')
               
               param(name='menu', value='true')
               
               param(name='devicefont', value='false')
               
               param(name='salign', value='')
               
               param(name='allowScriptAccess', value='sameDomain')
               //if !IE
               
               object(type='application/x-shockwave-flash', data='cancer.swf', width='352', height='514')
                  param(name='movie', value='cancer.swf')
                  
                  param(name='quality', value='high')
                  
                  param(name='bgcolor', value='#cccccc')
                  
                  param(name='play', value='true')
                  
                  param(name='loop', value='true')
                  
                  param(name='wmode', value='window')
                  
                  param(name='scale', value='showall')
                  
                  param(name='menu', value='true')
                  
                  param(name='devicefont', value='false')
                  
                  param(name='salign', value='')
                  
                  param(name='allowScriptAccess', value='sameDomain')
                  // <![endif]
                  a(href='http://www.adobe.com/go/getflash')
                     img(src='http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif', alt='Get Adobe Flash player')
                  //if !IE
               // <![endif]
   +pod('Telomeres and aging')
      |    
      .uk-width-medium-6-10
         p
            | Geneticist Richard Cawthon and colleagues at the University of Utah found shorter telomeres are associated
            | with shorter lives. Among people older than 60, those with shorter telomeres were three times more likely
            | to die from heart disease and eight times more likely to die from infectious disease.
         |       
         p
            | While telomere shortening has been linked to the aging process, it is not yet known whether shorter telomeres
            | are just a sign of aging  like gray hair  or actually contribute to aging.
         |       
         p
            | If telomerase makes cancer cells immortal, could it prevent normal cells from aging? Could we extend lifespan
            | by preserving or restoring the length of telomeres with telomerase? If so, would that increase our risk of getting cancer?
         |       
         p
            | Scientists are not yet sure. But they have been able to use telomerase in the lab to keep human cells dividing far
            | beyond their normal limit, and the cells do not become cancerous.
         |       
         p
            | If we used telomerase to &quot;immortalize&quot; human cells, we may be able to mass
            | produce cells for transplantation, including insulin-producing cells to cure diabetes, muscle
            | cells for treating muscular dystrophy, cartilage cells for certain kinds of arthritis, and skin cells for
            | healing severe burns and wounds. An unlimited supply of normal human cells grown in the
            | laboratory would also help efforts to test new drugs and gene therapies.
      |    
      .uk-width-medium-4-10
         figure
            img(src='images/cawthon.jpg', alt='Dr. Richard Cawthon')
            p Dr. Richard Cawthon
         .mediaSunk
            p Listen to Dr. Richard Cawthon discuss his research on telomeres and aging.
            |          
            audio(controls='controls')
               source(src='bbcawthon050929.mp3')
   +pod('How big is the role of telomeres in aging?')
      |    
      .uk-width-medium-6-10
         p
            | Some long-lived species like humans have telomeres that are much shorter than species like
            | mice, which live only a few years. Nobody knows why. But it&apos;s evidence that telomeres
            | alone do not dictate lifespan.
         |       
         p
            | Cawthon&apos;s study found that when people are divided into two groups based on telomere length,
            | the half with longer telomeres lives an average of five years longer than those with shorter telomeres.
            | This study suggests that lifespan could be increased five years by increasing the length of telomeres
            | in people with shorter ones.
         |       
         p
            | People with longer telomeres still experience telomere shortening as they age. How many
            | years might be added to our lifespan by completely stopping telomere shortening? Cawthon
            | believes 10 years and perhaps 30 years.
         |       
         p
            | After age 60, the risk of death doubles every 8 years.
            | So a 68-year-old has twice the chance of dying within a year compared with a 60-year-old.
            | Cawthon&apos;s study found that differences in telomere length accounted for only 4% of
            | that difference. And while intuition tells us older people have a higher risk of death,
            | only 6% is due purely to chronological age. When telomere length,
            | chronological age, and gender are combined (women live longer than men), those factors
            | account for 37% of the variation in the risk of dying over age 60. So what causes
            | the other 63%?
         |       
         p
            | A major cause of aging is &quot;oxidative stress.&quot; It is the damage to DNA, proteins, and lipids
            | (fats) caused by oxidants, which are highly reactive substances containing oxygen.
            | These oxidants are produced normally when we breathe, and also result from inflammation,
            | infection, and consumption of alcohol and cigarettes. In one study, scientists exposed worms
            | to two substances that neutralize oxidants, and the worms&apos; lifespan increased an average 44%.
         |       
         p
            | Another factor in aging is &quot;glycation.&quot; It happens when glucose, the main sugar we use as energy,
            | binds to some of our DNA, proteins, and lipids, leaving them unable to do their jobs. The
            | problem becomes worse as we get older, causing body tissues to malfunction, resulting in
            | disease and death. Glycation may explain why studies in laboratory animals indicate
            | that restricting calorie intake extends lifespan.
         |       
         p
            | Most likely oxidative stress, glycation, telomere shortening, and chronological age
            |  along with various genes  all work together to cause aging.
      |    
      .uk-width-medium-4-10
         figure
            img(src='images/factors_in_aging.png', alt='factors in aging')

   +pod('Telomeres and other diseases')
      |    
      .uk-width-medium-6-10
         p
            | People with a disease named dyskeratosis congenita have telomeres that get short much more
            | quickly than normal. These people endure premature aging and death. They face a higher risk
            | of life-threatening infections, leukemia and other blood cancers, intestinal disorders,
            | cirrhosis of the liver, and pulmonary fibrosis, a deadly stiffening of lung tissue. They
            | also are more likely to endure gray hair, balding, poor wound healing, spots on the skin,
            | intestinal disorders, softening of the bones, and learning disabilities. The implication is
            | that telomeres may play a role in all those conditions, because they all involve tissues in
            | which cells divide often. There also is some evidence linking shortened telomeres to
            | Alzheimer disease, hardening of the arteries, high blood pressure, and type 2 diabetes.
      |    
      .uk-width-medium-4-10
         figure
            img(src='images/telomere_length.png', alt='telomere length declines with aging')
            |          
            p
   +pod('What are the prospects for human immortality?')
      |    
      .uk-width-medium-6-10
         p
            | Human lifespan has increased considerably since the 1600s, when the average lifespan was 30
            | years. By 2012, the average US life expectancy was nearly 79. Reasons for the increase include sewers and
            | other sanitation measures, antibiotics, clean water, refrigeration, vaccines and other
            | medical efforts to prevent children and babies from dying, improved diets, and better health care.
         |       
         p
            | Some scientists predict average life expectancy will continue to increase, although many doubt
            | the average will ever be much higher than 90. But a few say vastly longer lifespans are possible.
         |       
         p
            | Cawthon says that if all processes of aging could be eliminated and oxidative stress damage
            | could be repaired, &quot;one estimate is people could live 1,000 years.&quot;
      |    
      .uk-width-medium-4-10
         figure
            img(src='images/life_expectancy.png', alt='Life Expectancy')
            |          
            p
   script(src="/ruffle/ruffle.js")
   
