.uk-slidenav-position(data-uk-slideshow)
   ul.uk-slideshow
      li.item.uk-active
         img(src='images/balance1.PNG' alt='screen shot of balance app')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:30px").
      li.item
         img(src='images/balance2.PNG' alt='screen shot of balance app')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:30px").
      li.item
         img(src='images/balance3.PNG' alt='screen shot of balance app')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:30px").
      li.item
         img(src='images/balance4.PNG' alt='screen shot of balance app')
         div.uk-overlay-panel.uk-overlay-bottom(style="padding-bottom:30px").       
   a.uk-slidenav.uk-slidenav-previous(href='', data-uk-slideshow-item='previous', style="color: #fff; font-size: 90px; text-shadow: #000 1px 2px 5px; display:block;")
   a.uk-slidenav.uk-slidenav-next(href='', data-uk-slideshow-item='next',  style="color: #fff; font-size: 90px; text-shadow: #000 1px 2px 5px; display:block;")
   ul.uk-dotnav.uk-dotnav-contrast.uk-position-bottom.uk-flex-center
      li(data-uk-slideshow-item="0")
         a(href="")
      li(data-uk-slideshow-item="1")
         a(href="")
      li(data-uk-slideshow-item="2")
         a(href="")
      li(data-uk-slideshow-item="2")
         a(href="")
