extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-4-10
         p
            | Diabetes results when sugar (glucose) gets trapped in the blood, instead
            | of being taken up by cells and stored or used for energy. People with diabetes
            | often feel tired, thirsty, or need to urinate frequently.
         |       
         p
            | High levels of sugar in the blood can be toxic to certain organs in the
            | body.  Over time it can lead to kidney failure or blindness. In severe
            | cases, patients may have problems with blood circulation, leading to heart
            | disease and stroke, or even amputation of a limb.
      |    
      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='images/foodtocells.png', alt='insulin and sugar')
            |          
            p
   +pod('What Causes Diabetes?')
      |    
      .uk-width-medium-6-10
         p
            | The body needs energy to use during daily activities. The body gets that
            | energy when food is converted into glucose (a form of sugar) that is dumped into the bloodstream.
         |       
         p
            | When a person eats a meal, an organ called the pancreas secretes the hormone insulin. Insulin
            | encourages cells to drink up the new sugar or glucose circulating in the blood.  They can use it for energy, or store it to use later.
         |       
         p
            | People with type 1 diabetes don&apos;t make any insulin. People with type 2 diabetes make
            | insulin, but their cells do not respond to it very well. In both cases, the amount of sugar
            | circulating in the blood raises to toxic levels.
         |       
         h3 Who&apos;s At Risk?
         |       
         p
            | Diabetes is influenced by many genes and environmental factors. If type 2
            | diabetes runs in your family, you may have inherited factors that make you more susceptible
            | to this disease.
         |       
         p
            | A major risk factor for developing type 2 diabetes is obesity. Obesity
            | causes a person&apos;s cells to forget how to use insulin (the hormone that signals cells to take up sugar).
         |       
         p
            | The rate of Type 2 diabetes is rising dramatically among teenagers and young adults in the United
            | States, mirroring increasing rates of obesity.
      |    
      .uk-width-medium-4-10
         table(style='width: 100%;font-size: 11px; background-color: #dbd6e0; border: 1px solid black;')
            tr
               th
               |             
               th TYPE 1
               |             
               th TYPE 2
            |          
            tr
               td Age of Onset
               |             
               td Under 30 years
               |             
               td Over 30 years
            |          
            tr
               td Insulin Production
               |             
               td None
               |             
               td Partial
            |          
            tr
               td Obesity
               |             
               td Not common
               |             
               td Common
            |          
            tr
               td Genetic component
               |             
               td Weak
               |             
               td Strong
         |       
         figure
            img.lg-no-shadow(src='images/insulin_pen.jpg', alt='pen')
            |          
            table(style='width: 100%;')
               tr
                  td(style='width: 50%; padding: 10px; vertical-align: top;') People with type 1 diabetes require shots of insulin to lower their blood sugar.
                  |             
                  td(style='width: 50%;  padding: 10px; vertical-align: top;')
                     | People with type 2 diabetes reduce blood sugar levels by modifying their diet
                     | and increasing their physical activity. Medication may also be required.
   +pod('Reducing The Risk')
      |    
      .uk-width-medium-4-10
         p
            | The best way to reduce your risk of developing type 2 diabetes is to stay active. Physical
            | activity helps you maintain a healthy weight, and it helps your cells use insulin more
            | effectively. Proper nutrition will help you maintain a healthy body weight as well.
      |    
      .uk-width-medium-6-10
         figure
            img(src='images/healthymeal.jpg', alt='healthy eating')
            |          
            p
   
   
