extends /shared/layout
block content
   +pageTitle
   +pod('Additional Resources')
      .uk-width-1-1
         div
            h3 Drug Addiction, Genetics, and the Brain
            |        
            ul
               li
                  | Organization: 
                  a(href='http://www.nida.nih.gov/') National Institute on Drug Abuse
               |            
               li
                  | Organization: 
                  a(href='http://www.niaaa.nih.gov/') National Institute on Alcohol Abuse and Alcoholism
               |            
               li
                  | Organization: 
                  a(href='http://www.nlm.nih.gov/medlineplus/smoking.html') Smoking and Nicotine Addiction
                  |  (Medline Plus)
               |            
               li
                  | TV Show Website: 
                  a(href='http://www.pbs.org/wnet/closetohome/home.html') Moyers on Addiction
                  |  (Close to Home, PBS)
               |            
               li
                  | News Article: 
                  a(href='http://whyfiles.org/225drug_receptors/index.php?g=4.txt') Brain on Drugs: The Science of Drug Receptors
                  |  (The WhyFiles)
               |            
               li
                  | News Article: 
                  a(href='http://archives.drugabuse.gov/newsroom/98/MA-514.html') Scientists Identify Gene Involved in Sensitivity to Cocaine
                  |  (NIDA Media Advisory)
               |            
               li
                  | News Article: 
                  a(href='http://archives.drugabuse.gov/NIDA_Notes/NNVol13N6/Genes.html') Study Shows How Genes Can Help Protect From Addiction
                  |  (NIDA Notes)
               |            
               li
                  | Online Textbook: 
                  a(href='http://www.learner.org/channel/courses/biology/textbook/neuro/neuro_8.html')
                     | Unit 10 - Neurobiology: Neurotransmitters, Psychoactive Drugs, and the Reward Pathway
                  |  (Annenberg/ CPB)
               |            
               li
                  | Image Bank: 
                  a(href='http://www.cnsforum.com/educationalresources/imagebank/substance_abuse') Drugs of Abuse
                  |  (CNSforum)
   +pod('')
      .uk-width-1-1
         h3 The Brain and Neuroscience
         |  
         div
            ul
               li
                  | Education Website: 
                  a(href='http://www.thebrain.mcgill.ca/flash/index_d.html') The Brain from Top to Bottom
                  |  (McGill University)
               |         
               li
                  | Organization: 
                  a(href='http://www.bnl.gov/CTN/default.asp') Center for Translational Neuroimaging at Brookhaven National Laboratory
                  |  information about brain scanning technologies and research
               |         
               li
                  | Education Website: 
                  a(href='http://faculty.washington.edu/chudler/neurok.html') Neuroscience for Kids
                  |  (University of Washington)
               |         
               li
                  | Education Website: 
                  a(href='http://www.brainsrule.org') Brains Rule!
                  |  (University of Nebraska)
   +pod('')
      .uk-width-1-1
         h3
            span Adolescents and Drug Abuse
         |  
         div
            ul
               li
                  | TV Show Website: 
                  a(href='http://www.pbs.org/wgbh/pages/frontline/shows/teenbrain/') Inside the Teenage Brain
                  |  (Frontline, PBS)
               |            
               li
                  | News Article: 
                  a(href='http://archives.drugabuse.gov/NIDA_Notes/NNVol19N5/Marijuana.html')
                     | Marijuana Abuse: Age of Initiation, Pleasure of Response Foreshadow Young Adult Outcomes
                  |  (NIDA Notes)
                  
   +pod('')
      .uk-width-1-1
         h3
            span Social Circumstances and Drug Abuse
         |  
         div
            ul
               li
                  | Education Website:  
                  a(href='http://www.mass.gov/eohhs/gov/departments/dph/programs/substance-abuse/providers/prevention/risk-and-protective-factors.html')
                     | Substance Abuse Risk and Protective Factors (Massachusetts Department of Health)
   +pod('')
      .uk-width-1-1
         h3
            span Treatment, Prevention, and Policy
         div
            ul
               li
                  | Organization: 
                  a(href='http://www.naatp.org/home.php') National Association of Addiction Treatment Providers
               |            
               li
                  | Organization: 
                  a(href='http://www.samhsa.gov/') Substance Abuse and Mental Health Services Administration
               |             
               li
                  | Organization: 
                  a(href='http://www.who.int/substance_abuse/en/') World Health Organization, Management of Substance Abuse
               |         
               li
                  | News Story: 
                  a(href='http://www.villagevoice.com/2010-11-17/news/ibogaine-hallucingen-heroin/full/ offer-life-free-of-heroin.html#.U307aV7xHC8') Ibogaine: Can it Cure Addiction Without the Hallucinogenic Trip? 
                  |  (Village Voice)
               |         
               li
                  | News Story: 
                  a(href='http://www.motherjones.com/news/feature/2005/11/Respectable_Reefer.html') Respectable Reefer
                  |  (Mother Jones)
   +references
         p
            | Chambers, R.A., Taylor, J.R. &amp; Potenza, M.N. (2003). Developmental neurocircuitry of motivation in adolescence: a critical period of addiction vulnerability. American Journal of Psychiatry 160, 1041-1052. doi:10.1176/appi.ajp.160.6.1041
         p
            | Crabbe, J.C. (2002). Genetic Contributions to Addiction. Annual Review of Psychology 53, 435-462. doi: 10.1146/annurev.psych.53.100901.135142
         p
            | Fergusson, D.M., Horwood, L.J. &amp; Ridder, E.M. (2005). Tests of causal linkages between cannabis use and psychotic symptoms. Addiction 100:3, 354-366. doi: 10.1111/j.1360-0443.2005.01001.x
         p
            | Freund, T.F., Katona, Il, Piomelli, D. (2003). Role of endogenous cannabinoids in synaptic signaling. Physiological Reviews 83, 1017-1066. doi: 10.1152/physrev.00004.2003.
         p
            | Kelley, A.E. (2004). Memory and Addiction: Shared Neural Circuitry and Molecular Mechanisms. Neuron 44:1, 161-179. doi: 10.1016/j.neuron.2004.09.016
         p
            | Lovinger, D.M. (1999). The role of serotonin in alcohol&apos;s effects on the brain. Current Separations 18:1, 23-28.
         p
            | Mansvelder, H.D. &amp; McGehee, D.S. (2002). Cellular and synaptic mechanisms of nicotine addiction. Journal of Neurobiology 53:4, 606-617. doi: 10.1002/neu.10148
         p
            | Morgan, D. et al (2002). Social dominance in monkeys: dopamine D2 receptors and cocaine self-administration. Nature Neuroscience 5, 169-174. doi: 10.1038/nn798
         p
            | Nestler, E.J. (2000). Genes and addiction. Nature Genetics 26, 277-281. doi: 10.1038/81570
         p
            | Nestler, E.J. &amp; Landsman, D. (2001). Learning About Addiction From the Genome. Nature 409, 834-835. doi: 10.1038/35057015
         p
            | O&apos;Brien, C.P. (1997). A range of research-based pharmacotherapies for addiction. Science 278:5335, 66-70. doi: 10.1126/science.278.5335.66
         p
            | Pandey, S.C., Roy, A., Zhang, H. &amp; Xu, T. (2004). Partial deletion of the cAMP response element-binding protein gene promotes alcohol-drinking behaviors. The Journal of Neuroscience 24:21, 5022-5030. doi: 10.1523/JNEUROSCI.5557-03.2004
         p
            | Pianezza, M.L., Sellers, E.M., &amp; Tyndale, R.F. (1998). Nicotine metabolism defect reduces smoking. Nature 393:6687, 750. doi:10.1038/31623
         p
            | Rocha, B.A. et al (1998). Increased vulnerability to cocaine in mice lacking the serotonin-1B receptor. Nature 393, 175-178. doi: 10.1038/30259
         p
            | Schinka, J.A. et al (2002). A functional polymorphism within the mu-opioid receptor gene and risk for abuse of alcohol and other substances. Molecular Psychiatry 7:2, 224-228. doi: 10.1038/ sj/mp/4000951
         p
            | Shirley, R.L., Walter, N.A.R., Reilly, M.T., Fehr, C. &amp; Buck, K.J. (2004). Mpdz is a quantitative trait gene for drug withdrawal seizures. Nature Neuroscience 7, 699-700. doi: 10.1038/nn1271
         p
            | Tapper, A.R. et al (2004). Nicotine activation of alpha4 receptors: sufficient for reward, tolerance, and sensitization. Science 306:5698, 1029-1032. doi: 10.1126/science.1099420
         p
            | Volkow, N.D. et al (2001). Association of dopamine transporter reduction with psychomotor impairment in methamphetamine abusers. The American Journal of Psychiatry 158: 3, 377-382. doi: 10.1176/appi.ajp.158.3.377
         p
            | Volkow, N.D. et al (2001). Higher cortical and lower subcortical metabolism in detoxified methamphetamine abusers. The American Journal of Psychiatry 158: 3, 383-389. doi:10.1176/appi.ajp.158.3.383
         p
            | Yao, L., McFarland, K., Fan, P., Jiang, Z., Inoue, Y. &amp; Diamond, I. (2005). Activator of G protein signaling 3 regulates opiate activation of protein kinase A signaling and relapse of heroin-seeking behavior. Proceedings of the national Academy of Sciences of the United States of America 102:24, 8746-8751. doi: 10.1073/pnas.0503419102
   
