extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-4-10
         p
            | Many different microbes, including several types of algae, bacteria and archaea, float in the water of Great Salt Lake. This community of free-floating microbes is often referred to as plankton, phytoplankton, or a pelagic community. The types of microbes living in the water vary by location, season and salinity.
         p
            | Free-floating microbes harvest energy from the sun through the process of photosynthesis. In the south arm of Great Salt Lake, these organisms supply oxygen and food for the brine shrimp population.
      |    
      .uk-width-medium-3-10
         figure
            img.lg-no-shadow(src='images/veridis.jpg', alt='Veridis')
            p
               | A related species, the red colored 
               em Dunaliella salina
               | , lives in the more saline water of the north arm.     &gt;
      .uk-width-medium-3-10
         figure
            p
               | &lt; 
               em Dunaliella veridis
               |  is a single-celled green algae that thrives in the south arm of Great Salt Lake.
            
            img.lg-no-shadow(src='images/salina.jpg', alt='Salina')
         
   +pod('Following the food supply')
      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='images/Satellite_1985.jpg', alt='Satellite Image', width='420', height='474')
            
            p
               | In this May 1985 satellite image, the normally pink water of the north arm of Great Salt Lake is bright green due to the growth of 
               em Dunaliella veridis
            p
               | Image STS51B-146-0119 courtesy of the Image Science &amp; Analysis Laboratory, NASA Johnson Space Center.

      .uk-width-medium-4-10
         p
            | The algae 
            em Dunaliella veridis
            |  are the brine shrimp&apos;s favorite food. The success of 
            em Dunaliella
            |  largely determines to what extent the brine shrimp population thrives, and brine shrimp tend to thrive in areas where the 
            em Dunaliella
            |  population is greatest.
         p
            | During a period of flooding in the 1980s, excess fresh water poured into the lake, significantly decreasing the salinity. Diatoms, which prefer less saline waters, took over in the south arm. Because they are covered in hard silica cell walls, diatoms are tough to digest and make a poor diet for brine shrimp. The salinity in the north arm, which is normally too high to support brine shrimp, decreased to the perfect level for 
            em Dunaliella veridis
            |  to thrive. Brine shrimp, birds, and fleets of brine shrimp cyst fishing vessels soon followed.
         
   
   
