extends /shared/layout
block content
   +pageTitle

   style.
      p.credits {
      margin-bottom: 0px;
      margin-top: 0px;
      }

   +pod('')
      .uk-width-medium-6-10
         p
            | Model Earth was a collaborative project between The Genetic Science Learning Center at The University of Utah, a group of expert scientists, 11 high school teachers who participated in the 2013 CI-Water Summer Institute, and 6 middle and high school teachers, 8 high school students and 8 undergraduate students who participated in the 2013 iUtah Summer Research Institute.
      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src='images/iUtah1.jpg', height='180', width='352', alt='Students and Teachers')    
            p Students and teachers learning to take stream measurements in the 2013 iUtah Summer Research Institute
   +pod('Contributors from the 2013 CI-Water Teacher Summer Institute ')
      |    
      |    
      .uk-width-medium-6-10
         table(style='width: 488px;')
            tr
               td Teacher Participants:
            | &#x9;&#x9;
            tr
               td Jim Zlomke
               | &#x9;&#x9;
               td Cheyenne WY
            | &#x9;&#x9;
            tr
               td Colleen Collins-Burridge
               | &#x9;&#x9;
               td Casper WY
            | &#x9;&#x9;
            tr
               td Chris MacMurdo
               |  
               | &#x9;&#x9;
               td Hyrum UT
            | &#x9;&#x9;
            tr
               td Dewaye Tillman
               | &#x9;&#x9;
               td Laramie WY
            | &#x9;&#x9;
            tr
               td Jennifer Hammock
               | &#x9;&#x9;
               td Riverton WY
            | &#x9;&#x9;
            tr
               td George Vlastos
               | &#x9;&#x9;
               td Casper WY
            | &#x9;&#x9;
            tr
               td Nick Kiriazis
               | &#x9;&#x9;
               td Logan UT
            | &#x9;&#x9;
            tr
               td Bonnie Bourgeous
               | &#x9;&#x9;
               td Layton UT
            | &#x9;&#x9;
            tr
               td Greg Smith
               | &#x9;&#x9;
               td Grantsville UT
            | &#x9;&#x9;
            tr
               td Cameron Dixon
               | &#x9;&#x9;
               td Kaysville UT
            | &#x9;&#x9;
            tr
               td Heather Gooch
               | &#x9;&#x9;
               td Sandy UT
         |      
         figure  
            img(src='images/court_strong.jpg', height='300', width='488', alt='Courtenay Strong')      
            p Courtenay Strong giving his talk, Understanding and Using Climate Models for Teaching
      |     
      .uk-width-medium-4-10
         table(style='width: 352px;')
            tr
               td
                  | Scientist Collaborators: 
                  br
                  | Jeff Niermeyer, PE
                  br
                  | Director
                  br
                  | Salt Lake City Public Utilities
                  br
            |         
            tr
               td &nbsp;
            |       
            tr
               td
                  | Steven Burian, Ph.D. 
                  br
                  | Associate Professor
                  br
                  | Department of Civil and Environmental Engineering
                  br
                  | University of Utah
                  br
            |         
            tr
               td &nbsp;
            |     
            tr
               td
                  | Erfan Goharian
                  br
                  | Graduate Research Assistant
                  br
                  | Department of Civil and Environmental Engineering
                  br
                  | University of Utah
                  br
            |         
            tr
               td &nbsp;
            |         
            tr
               td
                  | Fred Ogden, Ph.D.
                  br
                  | Professor of Engineering
                  br
                  | College of Engineering and Applied Science
                  br
                  | University of Wyoming
                  br
            |         
            tr
               td &nbsp;
            |         
            tr
               td
                  | Norman Jones, Ph.D.
                  br
                  | Professor of Civil and Environmental Engineering
                  br
                  | Brigham Young University
                  br
            |         
            tr
               td &nbsp;
            |         
            tr
               td
                  | Courtenay Strong, Ph.D.
                  br
                  | Assistant Professor
                  br
                  | Department of Atmospheric Sciences
                  br
                  | University of Utah
                  br
   +pod('Contributors from the 2013 iUTAH Teacher Summer Institute ')
      |    
      |    
      .uk-width-medium-4-10
         table(style='width: 352px;')
            tr
               td Teacher Participants:
            |          
            tr
               td Heather Gooch, Jordan High School
            |          
            tr
               td Darlene Vincent, Thomas Edison Charter School-South
            |          
            tr
               td Candace Penrod, Hillside Middle School
            |          
            tr
               td Julie Gowans, Payson High School
            |          
            tr
               td Aaron Daniels, Murray High School
            |          
            tr
               td Brian Mangum, Timpview High School
            | &#x9;&#x9;
            tr
               td &nbsp;
            |          
            tr
               td Undergraduate Student Participants: 
            |          
            tr
               td Joel Manwaring, Utah Valley University
            |          
            tr
               td Lauren Rowell, Salt Lake Community College
            |          
            tr
               td Jeffery Josephson, Weber State University
            |          
            tr
               td Brianna Cencak, Westminster College
            |          
            tr
               td Haley Wilkins, &ZeroWidthSpace;Utah Valley University
            |          
            tr
               td Brian Bird, Utah Valley University&ZeroWidthSpace;
            |          
            tr
               td Brandon Davies, Utah Valley University
            |          
            tr
               td Alexis Smithson, Utah Valley University
            | &#x9;&#x9;
            tr
               td &nbsp;
            |          
            tr
               td Research Project Coordinators: 
            |          
            tr
               td all from University of Utah
            |          
            tr
               td &nbsp;
            |          
            tr
               td Thomas Walsh
            |          
            tr
               td Allison Chan
            |          
            tr
               td Carolyn Stwertka
            |          
            tr
               td Carolina-Gomez-Navarro
            |          
            tr
               td Philip Stoker
            |          
            tr
               td Megan Walsh
            |          
            tr
               td Zach Magdol
            |          
            tr
               td &nbsp;
            |          
            tr
               td Christine A. Pomeroy, Ph.D., P.E.
            |          
            tr
               td Civil And Environmental Engineering
            |          
            tr
               td University of Utah
            |          
            tr
               td &nbsp;
            |          
            tr
               td Research Project Volunteers: 
            |          
            tr
               td &nbsp;
            |          
            tr
               td Tiffany Kinder, Utah State University
            |          
            tr
               td Joe Kotynek, Utah State University
            |          
            tr
               td Kit Wheeler, Utah State University
            |          
            tr
               td Anne Armstrong, Utah State University
            |          
            tr
               td Erin Jones, BYU
      |     
      .uk-width-medium-6-10
         figure
            img(src='images/iUtah2.jpg', height='300', width='488', alt='Classroom setting')
            br
            br  
            img.lg-no-shadow(src='images/iUtah3.jpg', height='300', width='488', alt='Classroom setting')
   +pod('Special Acknowledgments')
      |    
      |    
      .uk-width-medium-4-10
         figure
            img(src='images/hulet_dam.jpg', height='250', width='352', alt='Hulet Dam')     
            p Steve Hulet giving a tour at the Flaming Gorge Dam
      |     
      .uk-width-medium-6-10
         p
            | Heather Patno, Hydraulic Engineer with the Bureau of Reclamation, who granted us video interviews and helped us arrange the filming at Flaming Gorge Dam.
         |  
         p
            | Steve Barfuss, Research Associate Professor at Utah State University, for allowing us to film the extraordinary physical water models at the USU Hydraulics Modeling Laboratory.
         |  
         p
            | Steve Hulet, manager for the Flaming Gorge Field Division at the Bureau of Reclamation, for giving us a tour of the Flaming Gorge dam and allowing us to film there.
         |  
         |  
         p
            | Benjamin Starr, PE, Managing Engineer with Integral Consulting Inc., who acted as general water science advisor throughout the curriculum development process.
   +pod('GSLC Staff')
      |    
      .uk-width-medium-4-10
         table(style='width: 352px;')
            tr
               td GSLC staff who contributed to this project.
            |          
            tr
               td Peter Anderson
            |          
            tr
               td Nicola Barber
            |          
            tr
               td Kagan Breitenbach
            |          
            tr
               td Sheila Homburger
            |          
            tr
               td Molly Malone
            |          
            tr
               td Brendan Nicholson
            | &#x9;&#x9;
            tr
               td Ryan Perkins
            |          
            tr
               td Kevin Pompei
            |          
            tr
               td Steve Reest
            |          
            tr
               td Louisa Stark
            |          
            tr
               td Harmony Starr
            |          
            tr
               td Mathew Weaver
      |    
      .uk-width-medium-6-10
         figure
            img(src='images/kagan_water.jpg', height='300', width='488', alt='Kagan Audio') 
            p Kagan Breitenbach recording audio at the Utah State University Hydraulics Modeling Laboratory
   +pod('Other Contributors')
      |    
      .uk-width-medium-4-10
         p Voiceover
         |        
         p
            | Joseph Zieja 
            br
            | Why We Need Models, Define a System
   
   
