extends /shared/layout
block content

   +pod('A 3D Model of the Golgi Region in an Insulin-Secreting Mammalian Cell')
      .uk-width-medium-1-1
         img(src='../images/PNASpanel.jpg', alt='A 3D Model of the Golgi Region in an Insulin-Secreting Mammalian Cell', width='910', height='631')
         p
            | Front and back views of a 3D model of the Golgi region in an insulin-secreting, mammalian cell.
            | Three serial 400-nm-thick sections cut from a high pressure frozen, freeze-substituted and
            | plastic-embedded HIT-T15 cell were reconstructed by dual axis EM tomography. &nbsp;The software
            | package IMOD was used to model all visible objects within the resulting reconstructed volume (3.1 x 3.2 x 1.2 um3).
            | The Golgi complex with seven cisternae (C1-C7) is at the center. &nbsp;The color coding is as follows: C1,
            | light blue; C2, pink; C3, cherry red; C4, green; C5, dark blue; C6, gold; C7, bright red. &nbsp;The Golgi is
            | displayed in the context of all surrounding organelles, vesicles, ribosomes, and microtubules: endoplasmic
            | reticulum (ER), yellow; membrane-bound ribosomes, blue; free ribosomes, orange; microtubules, bright green;
            | dense core vesicles, bright blue; clathrin-negative vesicles, white; clathrin-positive compartments and
            | vesicles, bright red; clathrin-negative compartments and vesicles, purple; mitochondria, dark green. Bar, 500 nm.
         p.uk-text-small
            | Image courtesy of Dr. Brad Marsh, Institute for Molecular Bioscience,
            | The University of Queensland, Australia. &nbsp;Originally published in the Inaugural Article:
            | Organellar relationships in the Golgi region of the pancreatic beta cell line, HIT-T15,
            | visualized by high resolution electron tomography. &nbsp;Proceedings of the National Academy
            | of Sciences USA (February 27, 2001)&mdash;volume 98, no. 5, pp 2399-2406. &copy; 2001 National Academy of Sciences, U.S.A.
