extends /shared/layout
block content
    +pageTitle
    +pod('')
        .uk-width-medium-7-10
            p
                | Genetic testing can help patients make better-informed decisions about their healthcare and treatment options. This video describes how the process works: the types of tests available, how tests are developed and interpreted, and how teams of medical professionals work together throughout the process to enhance medical care.
        
        .uk-width-1-1
            +vimeo('285406196')
