extends /shared/layout
block content
    +pageTitle
    +pod('')
        .uk-width-medium-5-10
            p 
                | The "Flowering Plants and Their Pollinators" materials are the product of a collaboration between the Genetic Science Learning Center at the University of Utah and the laboratory of Dr. Yaowu Yuan at the University of Connecticut.
            p
                | Funding for materials was provided by the National Science Foundation Award #1558083: Identification and Characterization of Transcription Factors Regulating Carotenoid Pigmentation During Mimulus Flower Development. These materials were developed as part of Dr. Yuan's Broader Impacts.
        .uk-width-medium-5-10    
            p
                img(src="images/bee_on_lewisii_1.jpg" alt="bee on flower" width="50%")

    +pod('Acknowledgements')
        .uk-width-medium-5-10    
            p
                | Yaowu Yuan, Ph.D
                br
                | Assistant Professor
                br
                | University of Connecticut
        
        .uk-width-medium-5-10

      
        .uk-width-medium-5-10 
            h3 GSLC Staff 
            p
                | The following Genetic Science Learning Center Staff contributed to this project:
            p
                | Pete Anderson
                br
                | Kagan Breitenbach
                br
                | Jonathan Conger
                br
                | Dina Drits-Esser
                br
                | Kristin Fenker
                br
                | Harmony Starr
                br
                | Ryan Perkins
                br
                | Julia Peterson
                br
                | Kevin Pompei
                br
                | Louisa Stark
        
        .uk-width-medium-5-10

        .uk-width-medium-5-10
            h3 Other Contributors
            p
                i An Introducton to Flowers
                |  - Kendra Hoffman (voiceover)