extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-1-1.uk-text-center
         iframe.uk-responsive-width(src='//player.vimeo.com/video/111750539', width='920', height='517', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
   
   +references
      p
         | Frigg, R., Hartmann, S. (2012). Models in Science. The Stanford Encyclopedia of Philosophy (Fall 2012 Edition). Edward N. Zalta (ed.).
         a(href='http://plato.stanford.edu/archives/fall2012/entries/models-science/') http://plato.stanford.edu/archives/fall2012/entries/models-science/
      p
         | Bull, J.J. (2014) Chapter 3: How Non-Scientists Use The Scientific Method and Chapter 4: Models Are The Building Blocks Of Science from the textbook for the course Biology for Business, Law and Liberal Arts (Bio301d), an undergraduate, non-majors science course taught at the University of Texas. 
         a(href='http://bio301d.com/scientific-decision-making/') http://bio301d.com/scientific-decision-making/
      p
         | Ford, F. A. (2009). Modeling the environment: an introduction to system dynamics models of environmental systems. Island Press.
         a(href='http://public.wsu.edu/~forda/AA2nd.html') http://public.wsu.edu/~forda/AA2nd.html
   
   
