.uk-slidenav-position(data-uk-slideshow)
   ul.uk-slideshow(style="background-image:url(assets/BBSFinal-16.svg); background-repeat:no-repeat;")
      li#q1.item.uk-active
         img(src='assets/BBSFinal-01.svg', alt='bbs')
      li#q2.item
         img(src='assets/BBSFinal-02.svg', alt='bbs')
         audio(src='audio/bbs2.mp3', preload='auto')
      li#q3.item
         img(src='assets/BBSFinal-03.svg', alt='bbs')
      li#q4.item
         img(src='assets/BBSFinal-04.svg', alt='bbs')
         audio(src='audio/bbs4.mp3', preload='auto')
      li#q5.item
         img(src='assets/BBSFinal-05.svg', alt='bbs')
         audio(src='audio/bbs5.mp3', preload='auto')
      li.item
         img(src='assets/BBSFinal-06.svg', alt='bbs')
         audio(src='audio/bbs6.mp3', preload='auto')
      li.item
         img(src='assets/BBSFinal-07.svg', alt='bbs')
         audio(src='audio/bbs7.mp3', preload='auto')
      li.item
         img(src='assets/BBSFinal-08.svg', alt='bbs')
         audio(src='audio/bbs8.mp3', preload='auto')
      li.item
         img(src='assets/BBSFinal-09.svg', alt='bbs')
         audio(src='audio/bbs9.mp3', preload='auto')
      li.item
         img(src='assets/BBSFinal-10.svg', alt='bbs')
         audio(src='audio/bbs10.mp3', preload='auto')
      li.item
         img(src='assets/BBSFinal-11.svg', alt='bbs')
         audio(src='audio/bbs11.mp3', preload='auto')
      li.item
         img(src='assets/BBSFinal-12.svg', alt='bbs')
         audio(src='audio/bbs12.mp3', preload='auto')
      li.item
         img(src='assets/BBSFinal-13.svg', alt='bbs')
         audio(src='audio/bbs13.mp3', preload='auto')
      li.item
         img(src='assets/BBSFinal-14.svg', alt='bbs')
         audio(src='audio/bbs14.mp3', preload='auto')
      li.item
         img(src='assets/BBSFinal-15.svg', alt='bbs')
         audio(src='audio/bbs15.mp3', preload='auto')
   a.uk-slidenav.uk-slidenav-previous(href='', data-uk-slideshow-item='previous')
   a.uk-slidenav.uk-slidenav-next(href='', data-uk-slideshow-item='next')
