extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-4-10
         p Stem cell therapies are not new. Doctors have been performing bone marrow stem cell transplants for decades. But when scientists learned how to remove stem cells from human embryos in 1998, both excitement and controversy ensued.
         p The excitement was due to the huge potential these cells have in curing human disease. The controversy centered on the moral implications of destroying human embryos. Political leaders began to debate over how to regulate and fund research involving human embryonic stem (hES) cells.
         p Newer breakthroughs may bring this debate to an end. In 2006 scientists learned how to stimulate a patient&apos;s own cells to behave like embryonic stem cells. These cells are reducing the need for human embryos in research and opening up exciting new possibilities for stem cell therapies.

      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='ThenNow.jpg', alt='Then / Now')
            p
               | Both human embryonic stem (hES) cells and induced pluripotent stem (iPS) cells are pluripotent: they can become any type of cell in the body. While hES cells are isolated from an embryo, iPS cells can be made from adult cells.
   +pod('The Ethical Questions')
      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='BabyEmbryo.jpg', alt='Baby / Embryo')

      .uk-width-medium-4-10
         p Until recently, the only way to get pluripotent stem cells for research was to remove the inner cell mass of an embryo and put it in a dish. The thought of destroying a human embryo can be unsettling, even if it is only five days old.
         p Stem cell research thus raised difficult questions:

         ul.lg-list
            li Does life begin at fertilization, in the womb, or at birth?
            li Is a human embryo equivalent to a human child?
            li Does a human embryo have any rights?
            li Might the destruction of a single embryo be justified if it provides a cure for a countless number of patients?
            li Since ES cells can grow indefinitely in a dish and can, in theory,   still grow into a human being, is the embryo really destroyed?
   +pod('Problem Solved?')
      .uk-width-medium-4-10
         p With alternatives to hES cells now available, the debate over stem cell research is becoming increasingly irrelevant. But ethical questions regarding hES cells may not entirely go away.
         p For now, some human embryos will still be needed for research. iPS cells are not exactly the same as hES cells, and hES cells still provide important controls: they are a gold standard against which the &quot;stemness&quot; of other cells is measured.
         p Some experts believe it&apos;s wise to continue the study of all stem cell types, since we&apos;re not sure yet which one will be the most useful for cell replacement therapies.
         p An additional ethical consideration is that iPS cells have the potential to develop into a human embryo, in effect producing a clone of the donor. Many nations are already prepared for this, having legislation in place that bans human cloning.

      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='MicroscopeCells_tilt.jpg', alt='Microscope Images')
   +pod('Stem Cell Research Legislation')
      .uk-width-medium-4-10
         figure
            img(src='ObamaSigns.jpg', alt='Obama Signs', width='350', height='197')
            p
               | Regulations and policies change frequently to keep up with the pace of research, as well as to reflect the views of different political parties. Here President Obama signs an executive order on stem cells, reversing some limits on federal research funding. (White House photo by Chuck Kennedy)

      .uk-width-medium-6-10
         p Governments around the globe have passed legislation to regulate stem cell research. In the United States, laws prohibit the creation of embryos for research purposes. Scientists instead receive &quot;leftover&quot; embryos from fertility clinics with consent from donors. Most people agree that these guidelines are appropriate.

         p Disagreements surface, however, when political parties debate about how to fund stem cell research. The federal government allocates billions of dollars each year to biomedical research. But should taxpayer dollars be used to fund embryo and stem cell research when some believe it to be unethical? Legislators have had the unique challenge of encouraging advances in science and medicine while preserving a respect for life.

         p U.S. President Bush, for example, limited federal funding to a study of 70 or so hES cell lines back in 2001. While this did slow the destruction of human embryos, many believe the restrictions set back the progress of stem cell research.

         p President Obama overturned Bush&apos;s stem cell policy in 2009 to expand the number of stem cell lines available to researchers. Policy-makers are now grappling with a new question: Should the laws that govern other types of pluripotent stem cells differ from those for hES cells? If so, what new legislation is needed?
