extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-1-1.uk-text-center
         iframe(src='SpaceAnimationMain.html', seamless='seamless', style='width: 900px; height: 518px; margin: 20px auto 20px auto; border: none;')
         |        
         +well
            | Life can survive in many places and in many conditions. All of these places have 
            | one thing in common: they provide a liquid medium, organic matter, and an energy source. Learn more 
            | about the basic 
            a(href='../conditions/', style='letter-spacing:normal;') Conditions that Support Life.
   +pod('Microbes Eat What?')
      |    
      .uk-width-medium-6-10
         figure
            img(src='pageimages/cows.jpg', alt='Cows')
            |          
            p
               | Cows do not secrete their own stomach acid.  All digestion in the rumen (part of a cow&apos;s stomach)
               | is done by microbes.
      |    
      .uk-width-medium-4-10
         p We often refer to microbes as &quot;eating&quot; chemicals. What does this really mean? 
         |       
         |         
         p
            | Up until a few decades ago, scientists thought all life on earth depended on
            | energy from the sun. Plants form the foundation of familiar food chains: through
            | the process of photosynthesis, they use energy from the sun and carbon dioxide
            | from the air to build more-complex carbon molecules. In other words, they transform
            | solar energy into chemical energy. It was commonly thought that everything else
            | either ate plants or they ate plant-eaters.
         |          
         |         
         p
            | In the 1970s, scientists started finding microorganisms in extreme environments
            | that could digest chemicals from the Earth itself. Instead of using light energy
            | from the sun, these organisms build carbon-based molecules using energy that&apos;s
            | released when they break apart chemicals like hydrogen sulfide and methane.
         |         
         |         
         p
            | The earliest life on Earth was probably fueled by processes that are similar
            | to the ones used by extremophiles today.
         |        
         |         
         +well
            | Visit 
            a(style='letter-spacing:normal', href='/content/gsl/microbes/') Microbes at Work
            |  to learn more about some of the jobs microbes have.

   +pod('Extremophiles represent all domains of life')
  
      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='pageimages/TreeOfLifeReal.jpg', alt='tree of life')
            |          
            p
      |    
      .uk-width-medium-4-10
         p
            | Most extremophiles are simple, single-celled life forms, yet many are not. Extremophiles
            | occur in all three domains of life: bacteria, archaea, and eukaryotes.
         |         
         p
            | Microscopic, single-celled bacteria are Earth&apos;s simplest life forms. They are also 
            | some of Earth&apos;s most successful organisms. Different types of 
            strong bacteria
            |  
            |            have adaptations that allow them to live in just about any environment. They fill our 
            |            oceans and rivers, our soil, and even the insides of our bodies. In fact, the total 
            |            mass of 
            strong bacteria
            |  on our planet is much greater than the collective
            |            mass of all of Earth&apos;s animals.
         |         
         p
            strong Archaea
            |  look a lot like 
            strong bacteria
            | : they are tiny, 
            |            single-celled, and relatively simple. But they are actually more closely related to 
            |            
            strong eukaryotes
            | , and they have some unique characteristics that put them 
            |            in a category of their own. For example, 
            strong archaea
            |  have a more stable 
            |            membrane chemistry than 
            strong bacteria
            |  and 
            strong eukaryotes
            |  have, 
            |            which may make them better able to survive in extreme environments. However, 
            |            
            strong archaea
            |  aren&apos;t restricted to extreme environments; they live in most 
            |            of the same places as 
            strong bacteria
            | .
         |         
         p
            strong Eukaryotes
            |  have larger, more-complex cells than 
            strong bacteria
            |  
            |            or 
            strong archaea
            | . This category includes microscopic, single-celled organisms 
            |            like protists and yeast, and also multi-cellular organisms like plants and animals. 
            |            
            strong Eukaryotes
            |  that live in extreme environments often depend on 
            strong bacteria
            |  
            |            and 
            strong archaea
            |  for food, much like we depend on plants and plant-eaters for our energy needs.
   |     
   |     

   
