extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-6-10
         p
            strong Earlier migrators (July&ndash;August)
            ul
               li American White Pelican
               br
               |     
               li Black-necked Stilt
               br
               |     
               li California and Franklin&rsquo;s Gulls
               br
               |     
               li Some ducks (Ruddy Duck, Redhead)
               br
               |     
               li Great Blue Heron
               br
               |     
               li Pied-billed Grebe
               br
               |     
               li Sandhill Crane
               br
               |     
               li Snowy Plover
               br
               |     
               li White-Faced Ibis
               br
               |     
               li Sandpipers
               br
               |     
               li Yellowlegs
               br
               |     
               li
                  | Wilson&rsquo;s Phalarope 
                  br
                  |         Phalaropes have a unique feeding behavior. They swim rapidly in circles, creating a vortex that draws their food (brine shrimp and brine fly larvae) up toward the surface. Phalaropes gain weight at Great Salt Lake before heading to their wintering grounds in South America. Interestingly, Phalaropes exhibit a sort of sexual role reversal. The females are larger and more colorful than the males, and the males build the nest and incubate the eggs.
               br
         p
            strong Later migrators (August&ndash;September)
            ul
               li
                  | American Avocet 
                  br
                  |  To feed, Avocets wade in the shallows and sweep their long, curved bills back and forth through the water. They gain weight at Great Salt Lake, often feeding alongside stilts, before migrating to Mexico.
               br
               |     
               li American Coot
               br
               |     
               li American Wigeon
               br
               |     
               li Black Tern
               br
               |     
               li Blue-winged Teal
               br
               |     
               li
                  | Some ducks (Green-winged Teal, Redhead, Canvasback (some), Cinnamon Teal, Ruddy Duck)
               br
               |     
               li
                  | Eared and Pied-billed Grebes 
                  br
                  |          Eared Grebes arrive at Great Salt Lake under the cover of darkness. They stay for several months, during which time they molt&mdash;they lose their old feathers and grow a new set. They can often be seen in large groups bobbing and diving in the lake&rsquo;s deeper open water.
               br
               |     
               li Gadwall
               br
               |     
               li Killdeer
               br
               |     
               li Long-billed Dowitcher
               br
               |     
               li Ring-billed Gull
               br
               |     
               li Red-necked Phalarope (some migrate, some spend the winter)
               br
               |     
               li Sandhill Crane
               br
               |     
               li Snowy Egret
               br
   
