extends /shared/layout

block content
   +pageTitle
   +pod('')
      .uk-width-medium-6-10
         p.
            A microbe, or “microscopic organism,” is a living thing that is too small to be seen with the naked eye. We need to 
            use a microscope to see them.
         p.
            The term is very general. It is used to describe many different types of life forms, with dramatically different 
            sizes and characteristics:
         ul.lg-list
            li <a href="#bacteria">Bacteria</a>
            li <a href="#archaea">Archaea</a>
            li <a href="#fungi">Fungi</a>
            li <a href="#protists">Protists</a>
            li <a href="#viruses">Viruses</a>
            li <a href="#animals">Microscopic Animals</a>
         p.
            The human body is home to microbes from all of these categories. <a href="#plants">Microscopic plants</a> are 
            also considered microbes, though they don’t generally live on or in the human body.
         +well
            p.
               Need help understanding how small microbes are? <br>Visit <a href="/content/cells/scale/">Cell Size and Scale</a>.
      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src="images/microbes.jpg")
   a(id="bacteria")
   +pod('Bacteria')
      .uk-width-medium-6-10
         p.
            Bacteria are microscopic, single-celled organisms that have no nucleus and a cell wall made of peptidoglycan. Bacteria 
            are the direct descendents of the first organisms that lived on Earth, with fossil evidence going back about 3.5 
            billion years.
         p.
            Most bacteria are much smaller than our own cells, though a few are much larger and some are as small as viruses. 
            They usually do not have any membrane-wrapped organelles (e.g., nucleus, mitochondria, endoplasmic reticulum), but 
            they do have an outer membrane. Most bacteria are also surrounded by at least one layer of cell wall.
         p.
            Bacteria are a huge and diverse group. Its members have many shapes, sizes, and functions, and they live in just 
            about every environment on the planet.
      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src="images/bacteria.jpg")
   a(id="archaea")
   +pod('Archaea')
      .uk-width-medium-6-10
         p.
            Archaea are microscopic, single-celled organisms that have no nucleus and an outer membrane containing unique 
            lipids. On the surface, archaea look a lot like bacteria: they can have a similar size and shape, their genetic 
            material forms a circle, they lack organelles, and they live in similar environments. But biochemically, archaea 
            are as different from bacteria as they are from us.
         p.
            Archaea are surrounded by a membrane made up of a type of lipid that isn’t found in any other organism. Most archaea 
            also have a cell wall, but theirs is very different from the peptidoglycan cell wall of bacteria.
         p.
            Archaea are best known for living in <a href="/content/astrobiology/environments/">extreme environments</a>, but they 
            also live in non-extreme environments, including the human gut and skin.
      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src="images/archaea.jpg")
   a(id="fungi")
   +pod('Fungi')
      .uk-width-medium-6-10
         p.
            Fungi are single-celled or multicellular organisms with nuclei and with cell walls made of chitin. They also have 
            membrane-wrapped organelles, including mitochondria. Unlike plants, fungi cannot make their own food.
         p.
            Familiar fungi include yeasts, molds, and mushrooms. Yeasts live as small, individual cells, between the size of 
            bacteria and our own cells. Molds and mushrooms are actually the fruiting bodies of fungi that live as long, 
            microscopic fibers.
         p.
            Fungi are important decomposers in most ecosystems. Their long, fibrous cells can penetrate plants and animals, 
            breaking them down and extracing nutrients. Several species of fungi, mostly yeasts, live harmlessly on the human body.
      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src="images/fungi.jpg")
   a(id="protists")
   +pod('Protists')
      .uk-width-medium-6-10
         p.
            Protists are single-celled or multi-cellular, microscopic organism with cell nuclei, and which aren't plants, 
            animals, or fungi. Multi-cellular protists live as colonies, without specialization. Protists are a category of 
            leftovers and oddballs that don’t fit into other groups, and taxonomists are continually reorganizing them.
         p.
            Because protists are defined more by what they don’t have than what they do, they’re a very diverse group. Some make 
            their own food using chloroplasts, but most don’t. They have many ways of moving around, including flagella, cilia, 
            and amoeboid action. They have multiple ways of reproducing, and some have quite complex life cycles. But they have 
            membrane-wrapped organelles and an outer cell membrane.
         p.
            Several parasitic protists can cause deadly diseases, including malaria, amoebic dysentery, and giardia. But the human 
            body is also home to beneficial and neutral protists.
      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src="images/protists.jpg")
   a(id="viruses")
   +pod('Viruses')
      .uk-width-medium-6-10
         p.
            Viruses are microscopic particles made of nucleic acids, proteins, and sometimes lipids. Viruses can’t reproduce on 
            their own. Instead, they reproduce by infecting other cells and hijacking their host’s cellular machinery. Viruses are 
            specialized to infect a certain host, and often a specific cell type within that host. HIV, for example, infects a 
            certain type of immune cell in primates. Other viruses infect plants, animals, bacteria, or archaea.
         p.
            Since the ability to reproduce is often listed as a requirement for life, some consider viruses to be non-living. 
            Regardless, viruses are an important part of all ecosystems, including the human body.
         p.
            In our bodies, viruses infect not only our cells, but also other microbes that live in our bodies. Viruses that infect 
            bacteria are called baceriophage. Viruses that infect archaea come in unusual shapes: some have two tails, others 
            are shaped like bottles or flowers.
      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src="images/viruses.jpg")
   a(id="animals")
   +pod('Microscopic Animals')
      .uk-width-medium-6-10
         p.
            Microscopic animals are also counted as microbes. Animals are multicellular, with different types of cells that carry 
            out specialized functions. Their cells have membrane-wrapped compartments, including nuclei. Flexible membranes 
            enclose each cell, but animal cells do not have rigid cell walls. In contrast to plants, they cannot make their own 
            food. Microscopic animals include mostly arthropods, crustaceans, and rotifers.
         p.
            Mites are one type of microscopic animal that can live on our bodies. These spider-like arachnids live in tight 
            spaces, including hair follicles. Most of us have them and don’t even know it.

      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src="images/animals.jpg")
   a(id="plants")
   +pod('Microscopic Plants')
      .uk-width-medium-6-10
         p.
            The "microbe" category includes microscopic plants. Most microscopic plants are counted among the “green algae” 
            (a general term), and they live as single cells (sometimes with flagella) or long fibers. Plant cells have 
            membrane-wrapped compartments, they’re surrounded by both an outer membrane and a cell wall made of cellulose, and 
            they have chloroplasts for making their own food.
         p.
            Microscopic plants generally do not live in or on the human body, but they are very important food sources for animals 
            in both freshwater and saltwater ecosystems. They also release oxygen, which is essential for animal life.

      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src="images/plants.jpg")
