extends /shared/layout
block content
   +pageTitle

   +pod('')
      .uk-width-medium-6-10
         p
            | Newborn genetic screening is a health program that identifies treatable genetic
            | disorders in newborn infants. Early intervention to treat these disorders can eliminate
            | or reduce symptoms that might otherwise cause a lifetime of disability.
      |    
      .uk-width-medium-4-10
         p
   +pod('Who performs newborn screening?')
      |     
      .uk-width-medium-6-10
         p
            | Newborn genetic screening programs are conducted worldwide. In the United States,
            | newborn screening programs are developed and run by individual states. Each state decides
            | which disorders to test for and how to cover the costs of screening.
      |    
      .narrrow
         img(src='images/whoperforms.jpg', alt='Who performs newborn screening', width='353', height='150')
   +pod('Newborn Screening: What Parents Need to Know')
      |    
      .uk-width-1-1(style='margin: auto;')
         iframe.uk-responsive-width(src='//player.vimeo.com/video/68248381', width='919', height='518', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
   +pod('Who is screened and how is it paid for?')
      |    
      .uk-width-medium-6-10
         p
            | In most cases, newborn infants are automatically screened in the hospital shortly after
            | delivery.
         |       
         p
            | Individual states in the United States finance their newborn screening programs in different
            | ways. Most states collect a fee for screening, which ranges from less than $15 to nearly $60
            | per newborn. Health insurance or other programs can pay this fee for the newborn&apos;s parents.
         | &#x9;&#x9;
         p
            | Often, the fee charged does not fully cover the cost of screening, so public health system
            | funding is used to supplement the program. Financing a screening program comes with an expectation
            | that the benefits of testing - early detection and treatment - will equal or exceed the cost.
      |    
      .uk-width-medium-4-10
         img(src='images/whoisscreened.jpg', alt='Who is screened?', width='353', height='208')
   +pod('Who decides?')
      |    
      .uk-width-medium-6-10
         p
            | Lawmakers in each state have enacted legislation that defines the state&apos;s newborn screening
            | program. From time to time, these programs need review and revision to incorporate new
            | technologies, address financial issues and ensure that the screening program is meeting the
            | needs of the state&apos;s residents.
         | &#x9;&#x9;
         p When developing a policy, lawmakers must consider the following questions
         | &#x9;&#x9;
         ul
            li Which disorders should be included in the screening program?
            | &#x9;&#x9;&#x9;
            li Who pays for the screening program, and how?
            | &#x9;&#x9;&#x9;
            li Who should be screened?
            | &#x9;&#x9;&#x9;
            li Who has access to test results?
            | &#x9;&#x9;&#x9;
            li Who benefits from the screening program?
            | &#x9;&#x9;&#x9;
            li What are the potential risks of screening?
      |    
      .uk-width-medium-4-10
         img(src='images/whodecides.jpg', alt='Who decides?', width='353', height='353')

      +bottom-menu("",'nbs')
   
   
