extend /shared/layout

block content
    +pageTitle
    +pod('')
        .uk-width-medium-5-10
            p
                | Fortification means adding micronutrients to food during processing. For example, calcium and vitamin D are often 
                | added to orange juice, or folic acid to rice and pasta. Biofortification is similar, but the goal is to grow crops 
                | that start with more nutients, rather than adding them later.
            p
                | Biofortified crops are grown and eaten by over 20 million people. They range from staples like corn and cassava, to 
                | others like broccoli and bananas. Many more are in development.
        .uk-width-medium-5-10
            figure
                img(src="images/StapleCrops.png" class="lg-no-shadow" alt="rice, corn, wheat, cassava, potato")
                p
                    | The world’s staple crops include wheat, cassava, rice, and corn. They
                    | provide a good source of calories, but contain few vitamins or minerals.
    
    +pod('Carotenoids and Public Health')
        .uk-width-medium-5-10
            figure
                img(src="images/Visual2NewTitleSmaller.png" class="lg-no-shadow" alt="world map of vitamin a deficiency")
                p
                    | Percent of children under 5 years with vitamin A deficiency. Based on
                    | the World Health Organization Global Database (2009).
        .uk-width-medium-5-10
            p
                | Many biofortifcation efforts focus on carotenoids. Carotenoids give flowers, fruits, and vegetables an orange color. 
                | They are also important for people. When we eat carotenoid-containing foods, our bodies convert the carotenoids into 
                | vitamin A.
            p
                | Vitamin A is vital for the health of our eyes and immune system. It is also needed for  normal function of our heart, 
                | lungs, and kidneys.
            p
                | Many people around the world are vitamin A deficient. This includes about 250 million young children, and many pregnant 
                | women. Lack of vitamin A can be life-threatening because it is needed to fight infections. Vitamin A deficiency is also 
                | the leading cause of preventable childhood blindness. Biofortified crops, especially those grown in areas where vitamin 
                | A deficiency is high, have the potential to help.
    
    +pod('Methods of Carotenoid Biofortification')
        .uk-width-medium-5-10
            p
                | For biofortification to work, it is important that researchers understand how plants make carotenoids. We know a lot 
                | about carotenoids, not just from crop research, but also from studying flower color. For example, from flowers we 
                | understand how plants make, store, and break down carotenoids. We also know about the genetics controlling these 
                | processes. Applying this knowledge leads to better crops.
            p
                | Biofortification is done using traditional breeding and/or genetic modification.
            h3 Traditional Breeding
            p
                | Traditional breeding involves many generations of crossing plants together, then selecting offspring with the desired trait. 
                | Levels of the carotenoid beta-carotene were increased by traditional breeding in corn and cassava.
            p
                | Sometimes traditional breeding is not an option. For example, it has not worked to increase beta-carotene in rice, potatoes, 
                | or wheat. For traditional breeding to work, nutrient levels in the starting crop need to vary. Some crop plants are very hard 
                | to breed. Others may not start out with a specific nutrient.
            h3 Transgenic Technology and Gene Editing
            p
                | Molecular apporaches to biofortification complement traditional breeding. Transgenic techniques move a beneficial gene from 
                | one species to another. Gene editing re-writes an existing gene to change its function.
            p
                | The exact approach may be different, but outcome of the genetic change usually fits one of the categories below. Combining 
                | strategies often results in the biggest impact
            ul
                li
                    strong Make more carotenoids.
                    |  Transgenic technology can give plants new carotenoid-building machinery. Other genetic changes increase the amount of 
                    | carotenoid-building machinery a plant already has. Some genes code for proteins that decrease the level of carotenoids 
                    | made. Turning these genes off or down results in more carotenoids.
                li
                    strong Increase carotenoid storage.
                    |  Carotenoids accumulate in special organelles called chromoplasts. Genetic changes cause plants to make more or bigger 
                    | chromoplasts.
                li
                    strong Slow carotenoid breakdown.
                    |  Genetic modifications increase compounds that stabilize carotenoids. They can also decrease the production of proteins 
                    | that breakdown carotenoids.
            p
                | Whether made through traditional breeding or molecular approaches, each new crop needs to be carefully evaluated. It is 
                | important that biofortified crops work in the real world to improve nutrition. High levels of nutrients are important, but 
                | they need to be in a form the body can digest and absorb. It is also important to consider if farmers will grow the new variety, 
                | and if consumers will eat it.
            +well
                h3 Related Content:
                p
                    | To learn more about the traditional and molecular techniques that are discussed 
                    a(href="/content/cotton/crop/") Crop Improvement Methods.
                    br
                    |  For molecular approaches to work, it’s important to understand the genetics
                    | behind a trait. Learn more about how plants make carotenoids in the 
                    a(href="/content/flowers/genetics/") Genetics of Flower Color.
        
        .uk-width-medium-5-10
            figure
                img(src="images/Biofort_visual3.jpg" alt="some orange flowers, including monkeyflowers")
                p
                    | Researchers in Dr. Yaowu Yuan’s lab at the University of Connecticut use monkeyflowers to learn about carotenoid pigments.
            figure
                img(src="images/ManyVegetables.png" alt="Many Vegetables")
                p
                    | Nearly every plant grown for food today has been improved through traditional breeding, molecular approaches, or both.
            +well
                .uk-column-small-1-2
                    strong Carotenoids in Egg Yolks
                    p
                        | Egg yolks get their color from carotenoids. The color varies, depending on the type and amount of carotenoids in a hen's 
                        | diet. A hen that eats carotenoid-rich carrots and tomatoes will lay eggs with dark orange yolks. Hens that get carotenoids 
                        | from greens and yellow cornmeal lay eggs with yellow yolks. Egg yolks can even be nearly colorless if a hen has a diet low 
                        | in carotenoids.
                    p
                        | Eggs are a good source of carotenoids for many people. There are lipids in egg yolks that make it easier for the body to 
                        | absorb and use carotenoids, which are fat-soluble.
                    figure
                        img(src="images/CrackedEgg.png" alt="cracked egg")
    
    +references
        p
            | Bouis, H. E., &amp; Saltzman, A. (2017). Improving nutrition through biofortification: a review of evidence from HarvestPlus, 2003 through 2016. Global Food Security, 12, 49-58.
        p
            | de Lourdes Samaniego-Vaesken, M., Alonso-Aperte, E., &amp; Varela-Moreiras, G. (2012). Bitamin food fortification today. Food &amp; Nutrition Research, 56(1), 5459.
        p
            | Garg, M., Sharma, N., Sharma, S., Kapoor, P., Kumar, A., Chunduri, V., &amp; Arora, P. (2018). Biofortified Crops Generated by Breeding, Agronomy, and Transgenic Approaches Are Improving Lives of Millions of People around the World. Frontiers in Nutrition, 5, 12.
        p
            | Giuliano, G. (2017). Provitamin A biofortification of crop plants: a gold rush with many miners. Current Opinion in Biotechnology, 44, 169-180.
        p
            | Van Der Straeten, D., Fitzpatrick, T. B., &amp; De Steur, H. (2017). Biofortification of crops: achievements, future challenges, socio-economic, health and ethical aspects. Current Opinion in Biotechnology, (44), vii-x.
        p
            | Wiseman, E. M., Bar-El Dadon, S., &amp; Reifen, R. (2017). The vicious cycle of vitamin A deficiency: A review. Critical Reviews in Food Science and Nutrition, 57(17), 3703-3714.
        p
            | World Health Organization. Global prevalence of vitamin A deficiency in populations at risk. 1995–2005. WHO Global Database on Vitamin A Deficiency. Geneva, WHO, 2009.
        p
            | Zaheer, K. (2017). Hen egg carotenoids (lutein and zeaxanthin) and nutritional impacts on human health: a review. CYTA-Journal of Food, 15(3), 474-487.
