extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-6-10
         p
            | High blood pressure is one of the precursors to developing heart disease and stroke.
         |       
         p
            | Because it is an important indicator, your blood pressure is typically checked each time you visit the doctor. When doctors
            | take your blood pressure, they are measuring the pressure that blood exerts on the walls of the blood
            | vessels as your heart contracts (systolic pressure) and relaxes (diastolic pressure).
      |    
      .uk-width-medium-4-10
         figure
            img.lg-no-shadow(src='images/bpmonitor.jpg', alt='blood pressure monitor')
            |          
            p
   +pod('High Blood Pressure')
      |    
      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='images/blood_vessel.png', alt='blood vessel')
            |          
            p
      |    
      .uk-width-medium-4-10
         p
            | High blood pressure (hypertension) results when blood places an excessive amount of force on the walls of the
            | blood vessels. The heart and kidneys (which filter blood to regulate blood pressure) have to work harder
            | than usual to do their jobs, leading over time to heart failure and kidney disease.
         |  
         |            
         |       
         p Blood vessels in the brain may also weaken and burst, causing a stroke.
         |       
         h3 Who&apos;s At Risk
         |       
         p
            | High blood pressure often runs in families. You may be at risk if a close relative (parent, grandparent, or sibling)
            | has been diagnosed with hypertension.
         |       
         p
            | That&apos;s why it&apos;s important to know your family medical history. When you know you&apos;re at risk, you can take
            | steps to prevent disease.
   +pod('Reducing The Risk')
      |    
      .uk-width-medium-6-10
         p
            | The best way to keep your blood pressure low is to avoid smoking tobacco. You can also reduce your risk by maintaining a
            | healthy body weight, participating in regular physical activity, and eating healthful foods. There are also medications
            | that can lower blood pressure.
      |    
      .uk-width-medium-4-10
         figure
            img(src='images/exercise.jpg', alt='healthy lifestyle')
            |          
            p
   
   
