extends /shared/layout

block content
   +pageTitle

   +pod('')
      .uk-width-medium-6-10
         p.
            The discovery that antibiotics can treat bacterial infections dramatically changed human health, and many once deadly infections are now curable. Yet often we hear about bacteria that are no longer killed effectively by antibiotics. These bacteria are known as antibiotic resistant, and they’re a growing problem in medicine.
         p.
            Frequent antibiotic use over long periods of time puts selective pressure on bacteria, and causes resistance to spread. When an antibiotic is used to treat a typical bacterial infection, most bacteria are killed. Sometimes, however, a bacterium with an advantage lives. This bacterium can then reproduce and pass its advantage on, creating many more antibiotic resistant bacteria.​
         p.
            Antibiotic resistance is not new. In fact, it existed long before people discovered how to use antibiotics as medicine. Many antibiotics are made from compounds bacteria or fungi produce to help them compete in their natural environments. This means that in nature, bacteria are under selective pressure to pass on advantages, just like they are when we treat an infection with antibiotics. Sometimes in medicine, antibiotics are used too often or incorrectly, which can cause resistance to spread faster than it would naturally.​
            
      .uk-width-medium-4-10
         figure
            img(src="images/resistance.jpg" alt="antibiotic resistance")
            
   +pod('Types of Antibiotic Resistance')
      .uk-width-medium-6-10
         figure
            img(src="images/intrinsic.jpg" alt="intrinsic resistance")
         figure
            img(src="images/genchange.jpg" alt="genetic change")
         figure
            img(src="images/dnatransfer.jpg" alt="dna transfer")
            
      .uk-width-medium-4-10
         h3   Intrinsic Resistance
         p.
            In some cases, a type of bacteria will survive antibiotic treatment and multiply because it is intrinsically resistant. For example, although many types of bacteria have cell walls, some don’t. An antibiotic like penicillin that prevents cell-wall building can’t harm a bacterium that doesn’t build a cell wall in the first place.

         h3   Acquired Resistance
         p.
            Bacteria can also acquire resistance. This happens when a type of bacteria changes in a way that protects it from the antibiotic. Bacteria can acquire resistance in two ways: either through a new genetic change that helps the bacterium survive, or by getting DNA from a bacterium that is already resistant.

         h3   Genetic Change
         p.
            So how can a simple DNA change protect bacteria from antibiotics? Remember, DNA provides instructions to make proteins, so a change in DNA can cause a change in a protein. Sometimes this DNA change will affect the protein’s shape. If this happens at the place on the protein where an antibiotic acts, the antibiotic may no longer be able to recognize where it needs to do its job.
         p.
            Changes like this can prevent an antibiotic from getting into the cell, or prevent the antibiotic from working once it’s inside. Once a change occurs, it can spread in a population of bacteria through processes like reproduction or DNA transfer.

         h3   DNA Transfer
         p.
            Bacteria are very good at sharing genes, including genes for antibiotic resistance. They can share resistance genes that have been in the population, as well as new genetic changes that occur.
         p.
            If you explored Agent Antibiotic, you saw a bacterium with an antibiotic resistance gene give a copy of that gene to another bacterium. This process is called lateral gene transfer.
         p.
            There are other ways bacteria can transfer DNA. Did you know bacteria can get infected with a type of virus called a bacteriophage? As part of its life cycle, the bacteriophage packages DNA. When the bacterium dies, these packages of DNA (which sometimes include antibiotic resistance genes) are released and can be taken up and used by other bacteria.
            
   +pod('New Challenges')
      .uk-width-medium-8-10
         p.
            The emergence of antibiotic resistance creates a new challenge for public health, and there is no simple solution. To treat a resistant infection and prevent resistance from spreading, doctors sometimes prescribe a broad-spectrum approach. This approach combines multiple antibiotics that attack bacteria in different ways. It can work better because it is unlikely that a single bacterium will be resistant to multiple antibiotics. Yet for the same reason, this approach kills many more friendly bacteria and can cause related health complications.
         p.
            Antibiotic resistance can also be prevented in other ways. Doctors are being extra careful not to prescribe antibiotics unless they’re absolutely necessary. You can help too. If you need to take an antibiotic, follow the instructions carefully and finish your prescription even if you start feeling better. Antibiotics are a valuable tool for fighting bacterial infections, and using them responsibly now will help make sure they continue working in the future.
            
   +references
      p.
         Hawkey, P.M. (1998). The origins and molecular basis of antibiotic resistance. British Medical Journal, 317(7159), 657-660.
      p.
         Charpentier, E. & Tuomanen, E. (2000). Mechanisms of antibiotic resistance and tolerance in Streptococcus pneumoniae. Microbes and Infection, 2(15), 1855-1864. doi: 10.1016/S1286-4579(00)01345-9
         
         
