extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-6-10
         p
            | Great Salt Lake supports an annual population of 2 to 5 million birds. Most birds spend just part of the year at Great Salt Lake, stopping over to grow new feathers, breed, or to fatten up during their migration.
         |    
         p
            | Birds have a variety of strategies for catching brine shrimp and brine flies. Gulls simply open their mouths wide and run through clouds of brine flies. Snowy Plovers run along the shore and pick them up one by one. American Avocets wade through the water, sweeping their curved bills back and forth to filter out brine shrimp.
   +pod('A massive refueling station')
      |    
      .uk-width-medium-4-10
         figure
            img(src='images/Phalaropes_sm.jpg', alt='Phalaropes')  
            p.
               A cloud of Wilson&apos;s phalaropes fly above Farmington Bay. Photo by Phil Douglass, Utah Division of Wildlife Resources.
         |     
      .uk-width-medium-6-10
         p
            | The sheer numbers of birds that stop to fill up at Great Salt Lake can be staggering. More than half a million Wilson&apos;s phalaropes, amounting to more than one third of the world&apos;s population, have been counted on the lake in a single day. While they&apos;re here they gorge themselves on brine shrimp and brine flies, nearly doubling their body weight before beginning a 5,400 mile migration.
         |         
         p
            | As many as 1.7 million Eared Grebesnearly half of the North American populationcome to Great Salt Lake in the early fall to grow new feathers (molt). Great Salt Lake is a safe place for them to spend this vulnerable time during which they cannot fly. Predators are rare, and they have access to huge numbers of brine shrimp, which supply them with the protein and calories they need to grow new feathers as quickly as possible. With full bellies and a new set of feathers, they are well prepared for their fall migration.
   +pod('Safe haven')
      |    
      .uk-width-medium-4-10
         p
            | Several threatened and endangered species of birds spend time at Great Salt Lake. It is home to the North America&apos;s (and possibly the world&apos;s) largest documented population of Snowy Plovers, whose nesting grounds along the Pacific coast are steadily being destroyed by development. These sparrow-sized birds nest in simple depressions on the open mud flats along the lakeshore, and forage for brine flies and other insects.
      |     
      .uk-width-medium-6-10
         figure
            img(src='images/SnowyPloverHiggins_425.jpg', alt='Snowy Plover')    
            p Snowy Plover, by Paul Higgins 
   +pod('A broader web')
      |    
      .uk-width-medium-6-10
            figure
               img(src='images/Eagle_lander_210.jpg', alt='Eagle') 
               p
                  | An American Bald Eagle eating a carp. Fish sometimes wash into Great
                  | Salt Lake from nearby rivers, but the water is too saline for them to
                  | survive for very long. Photo courtesy Kris Lander.
            figure
               img(src='images/RedFoxNPS_sm.jpg', alt='Red Fox')
               p Red Fox, courtesy U.S. National Park Service.  
      |    
      .uk-width-medium-4-10
         p
            | The brine flies and brine shrimp that live in the main body of Great Salt Lake are an important source of high-protein food. But many birds that visit Great Salt Lake eat a wider variety of food, depending on what is abundant during the time of their visit. Gulls supplement their diet with trips to the landfill where they fill up on the food we throw away. And many birds visit the highly productive wetlands and rivers that surround Great Salt Lake. There they dine on abundant plants, insects, fish and other food sources.
         p
            | Birds are subject to predation by higher level consumers. Red Foxes, coyotes bobcats and other mammals eat eggs, young birds or even adults. Predatory birds such as Bald Eagles and Peregrine Falcons prey on smaller birds.
   
   
