extends /shared/layout
block content
   +pageTitle
   +pod('Darwin and Pigeons')
      .uk-width-medium-5-10
         p
            | In his book
            em On the Origin of Species
            |  (1859), Charles Darwin wrote about the high degree of variation among domesticated plants and animals, and their differences from their wild ancestors. His view, a socially controversial one at the time, was that humans had created such vastly different breeds by selectively breeding the individuals that had the most-desirable characteristics&mdash;a process he referred to as &quot;artificial selection.&quot; Darwin&apos;s study of artificial selection helped him develop his theory of evolution through natural selection. If humans could create this degree of variation in a few hundred generations, Darwin reasoned, then nature, acting over much longer timescales, could have given rise to the diverse life forms that populate the earth.
         p
            | One of the animals Darwin studied in depth was the domestic rock pigeon. Pigeon breeding was an ancient pastime even in the 1850s, and through its long history fanciers had published books filled with practical advice and observations. Darwin decided to keep and breed pigeons himself. He joined two London pigeon clubs and attended pigeon competitions, where he connected with fanciers from around the world.
         p
            | In studying pigeons, Darwin made meticulous measurements of their skeletons and marveled at the breeds&apos; different behaviors, colors, and proportions. He also noted the patterns of inheritance of many characteristics, and he showed that birds of very different breeds can in fact produce fertile offspring, supporting the argument that they all arose from a single species.

      .uk-width-medium-5-10
         img(src='images/pigeon-skulls2.jpg', alt='Pigeon Skulls', width='352', height='161')

         .uk-text-small
            | Pigeon skulls from Darwin&apos;s The Variation of Animals and Plants Under Domestication (1868). A, Wild Rock Pigeon; B, Short-faced Tumbler; C, English Carrier; D, Bagadotten Carrier.
         br
         +well
            | &ldquo;Slow though the process of selection may be, if feeble man can do much by artificial selection, I can see no limit to the amount of change, to the beauty and complexity of the coadaptations between all organic beings, one with another and with their physical conditions of life, which may have been effected in the long course of time through nature&apos;s power of selection, that is by the survival of the fittest.&rdquo;
            br
            br
            em Excerpt from Charles Darwin, On the Origin of Species (1859)
   +pod('Studying Pigeons Today')

      .uk-width-medium-5-10
         p
            | Today&apos;s evolutionary biologists are looking at variation in pigeons once again. They&apos;re using modern tools like whole-genome sequencing to identify the molecular mechanisms through which inherited characteristics vary. And like Darwin, they are studying pigeons not for the sake of understanding pigeons, but to help understand how evolution works in general.

         p
            | Many of the characteristics that vary among pigeons are similar to characteristics that vary among wild animal species. Like the Fantail breed of pigeons, the wild turkey has a broad, up-turned tail. The male cardinal has a 
            a(href='../crest/') crest
            |  on the head, much like the ornaments in some pigeon breeds. Beak size and shape varies dramatically among pigeon breeds, as it does among other bird species. And the genetic variations that influence 
            a(href='../color/') feather color
            |  are similar to those that influence pigmentation in many animals, including not only other birds, but also reptiles and mammals&mdash;even people.
         p
            | If we can understand how artificial selection has acted on genetic variations in pigeons, we will gain insight into the molecular underpinnings of natural selection as well.

      .uk-width-medium-5-10
         img(src='images/002.jpg', alt='Pigeons', width='352', height='428')
   +pod('Why Pigeons?')

      .uk-width-medium-5-10
         p
            | What do we gain by understanding the molecular mechanism of feather color in pigeons, you might ask?
         p
            | Inherited characteristics are the products of genes that pass from parent to offspring. Genes code for proteins (and RNA), and proteins make our cells and bodies function. Some inherited characteristics involve single genes that follow predictable patterns of inheritance. But most involve multiple genes, and the inheritance patterns are complex and less predictable.
         p
            | Model organisms like pigeons, which are easy to breed and study in the lab, show promise for helping us understand not only simple but also complex characteristics. When scientists work out the molecular mechanism of feather pigmentation in pigeons, for example, they gain insight into how genes work together to produce complex and varied phenotypes. They can then apply this understanding to other complex characteristics, including human diseases.

         p
            a(href='../references/') References
