extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-medium-6-10
         | Neurons are the cells that pass chemical and electrical signals along the pathways in the brain. They come in many shapes and sizes. Their shapes and connections help them carry out specialized functions, such as storing memories or controlling muscles.
      .uk-width-1-1
         img(src='neurons-1.jpg', alt='Neurons')
   +pod('Neurons Communicate via the Synapse ')
      |    
      .uk-width-medium-4-10
         p
            | Information from one neuron flows to another neuron across a small gap called a synapse (SIN-aps). At the synapse, electrical signals are translated into chemical signals in order to cross the gap. Once on the other side, the signal becomes electrical again.
         p
            | One sending neuron can connect to several receiving neurons, and one receiving neuron can connect to several sending neurons.
      |    
      .uk-width-medium-6-10
         img(src='neurons-2.jpg', alt='Neurons')
   
