extends /shared/layout
block content
   +pageTitle
   +pod('Capecchi Wins 2007 Nobel Prize in Physiology or Medicine')

      .uk-width-medium-6-10
         h3
            a(href='../') Learn More
            |  about Mario Capecchi&apos;s research.
         | &#x9;&#x9;
         p
            | Mario R. Capecchi
            | talks with his hands, often holding a pencil, sharpened to a fine point, with
            | which he translates his ideas into lines and letters on a sheet of paper.
         | &#x9;&#x9;
         p &quot;A habit,&quot; admits Capecchi, who dismisses the marks as &quot;doodles.&quot; 
         | &#x9;&#x9;
         p
            | But the arrows unraveling from a circle into a straight line aren&apos;t aimless scribbles. They describe
            | homologous recombination, the technology Capecchi pioneered in his molecular genetics lab at the University
            | of Utah that has revolutionized mammalian biology--and was almost erased by the National Institutes of Health (NIH).
         | &#x9;&#x9;
         | &#x9;&#x9;
         p
            | In 1980, when Capecchi submitted a grant application to the National Institutes of Health that included experiments
            | testing the feasibility of gene targeting in mammalian cells, peer reviewers were skeptical about the probability of
            | success for this part of his proposal and thought that other experiments he planned would be more fruitful. But Capecchi,
            | distinguished professor of human genetics at the School of Medicine, investigator at the Howard Hughes Medical Institute
            | and distinguished professor of biology, had been drawn to molecular biology because of the aura of possibility. He received
            | NIH funding for all of the projects, which enabled him to carry out the mammalian gene targeting experiments, and persevered.
         | &#x9;&#x9;
         p
            | Perseverance is a common theme in stories of great achievements. Adversity can be the incentive an individual
            | needs to forge ahead. Besides, bravado characterized the field of molecular biology when Capecchi entered it as
            | a graduate student at Harvard University in the 1960s. His career, like the new discipline, was nurtured by the
            | legendary figure of James D. Watson, who, along with Francis Crick, determined the structure of DNA.
         | &#x9;&#x9;
         p
            | But Capecchi doesn&apos;t bear the reputedly brash manner of his mentor. He is a quiet-spoken man who contemplates
            | his thoughts before they become words--or sketches on a sheet of paper. He adds no flourishes to the lines of his
            | diagrams, no dramatic descriptions to the narrative of his life. Perhaps it is this sense of understatement that
            | draws one&apos;s attention to the line running down the side of the paper.
         | &#x9;&#x9;
         p
            | Capecchi&apos;s pencil zigzagged as he recounted wandering, homeless, for four years from the north of Italy,
            | where his mother left him with friends before she was deported to a Nazi concentration camp, to the south,
            | where she found him after World War II in a hospital.
         | &#x9;&#x9;
         p
            | &quot;It is not clear whether those early childhood experiences contributed to whatever successes I have enjoyed
            | or whether those achievements were attained in spite of those experiences,&quot; Capecchi told an audience in Japan
            | when he accepted the prestigious 1996 Kyoto Prize in Basic Sciences for his discovery of gene
            | targeting. &quot;When dealing with human life, we cannot do the appropriate controls. Could such experiences have
            | contributed to psychological factors such as self-reliance, self-confidence or ingenuity?&quot;
         | &#x9;&#x9;
         p
            | Capecchi is reluctant to draw a bold line linking these as cause and effect, but neither does he cross them
            | out. He may be a geneticist who uses probability theory to calculate the outcomes of experiments, but he also
            | is an individual whose personal life proves that, while some events are not probable, anything is possible.
      |    
      .uk-width-medium-4-10
         img(src='images/mario.jpg', width='236', height='303', alt='Mario')
   +pod('A heritage of creativity and ambition')
      |    
      .uk-width-medium-6-10
         p
            | In homologous recombination, Capecchi can trace precisely how targeted genes result in physical changes in
            | later generations. In his own life story, creativity and ambition, and a penchant for the unconventional likewise
            | can be traced back several generations.
         | &#x9;&#x9;
         p
            | Many young women at the turn of the century lived out their dreams of moving to Europe through the characters
            | in Henry James&apos; novels. But Capecchi&apos;s grandmother, Lucy Dodd, was determined to become a painter. The talented
            | young woman sailed from her home in Portland, Oregon, to Florence, Italy, chaperoned by her mother. Her father,
            | who&apos;d gained considerable wealth trading with Japan and China, stayed behind.
         | &#x9;&#x9;
         p
            | Lucy made her name as an impressionist painter in Florence, later hyphenating her signature with her husband&apos;s
            | surname: Lucy Dodd-Ramberg. She had met Walter Ramberg, a German archaeologist, while visiting Nice, France. The
            | couple married in 1905 and, by 1910, had three children: Walter, Lucy and Edward.
         | &#x9;&#x9;
         p
            | After her husband&apos;s death in 1915--he was conscripted by the German army and accidentally gunned down by his
            | own troops--Capecchi&apos;s grandmother bought a villa in Florence, which became &quot;The Ramberg Villa,&quot; a finishing
            | school for girls whom she recruited from the United States. She continued painting, often using her own children
            | as models. The large impressionist canvasses that now hang in Capecchi&apos;s home capture the idyllic childhood of
            | his mother, the young Lucy. In one painting, she and her brother, Edward, share a garden tea party. In another,
            | she picks artichokes in a lush green field near the villa. &quot;A nanny, gardeners, cooks, house cleaners and private
            | tutors for languages, literature and sciences,&quot; as Capecchi described their life.
         | &#x9;&#x9;
         p
            | When her brothers left for Oregon to attend Reed College, Lucy moved to Paris to study at the Sorbonne, where
            | she became an instructor in French literature and poetry. &quot;She had a passion for language. She spoke about 15,&quot;
            | recalled Capecchi. &quot;Even if she didn&apos;t know one, in a half hour, she could pick it up.&quot;
         | &#x9;&#x9;
         p
            | Through her love of poetry, which she wrote and published in German, Lucy met the Bohemians, a group of artists
            | opposed to the Fascists and Nazis. She joined them in northern Italy, where she met an officer in the Italian air
            | force, Luciano Capecchi.
         | &#x9;&#x9;
         p
            | &quot;This was time of extremes and the juxtaposition of opposites. They had a passionate love affair, and my mother
            | wisely chose not to marry him,&quot; said Capecchi, who was born in Verona, Italy, in 1937.
      |    
      .uk-width-medium-4-10

   +pod('Early childhood in Italy')

      .uk-width-medium-6-10
         p
            | While his mother&apos;s childhood was as playful as light shimmering on impressionist canvasses, the
            | early years of Capecchi&apos;s life became as dark as the boxes of pieces of poems that his mother would
            | seal after the war, never to publish again.
         | &#x9;&#x9;
         p
            | For nearly four years, Capecchi lived with his mother in a chalet in the Italian Alps. When World
            | War II broke out, his mother, along with other Bohemians, was sent to Dachau as a political prisoner.
            | Anticipating her arrest by the Gestapo, she had sold all her possessions and given the money to friends
            | to help raise her son on their farm.
         | &#x9;&#x9;
         p
            | &quot;It was an interesting life, a real rustic life,&quot; recalled Capecchi. &quot;They grew their own wheat,
            | harvested it and took it to the miller to be ground. From the flour, they made bread dough, which they
            | took to the baker to be baked.&quot;
         | &#x9;&#x9;
         p
            | He vividly remembers helping to make wine. &quot;All the kids would get into enormous vats and stomp
            | the grapes,&quot; becoming &quot;squealing masses of purple energy.&quot;
         | &#x9;&#x9;
         p
            | &quot;Then, I don&apos;t know what happened. It doesn&apos;t make sense,&quot; said Capecchi. &quot;Somehow, the money
            | that my mother left me ran out.&quot;
         | &#x9;&#x9;
         p He began four years of wandering. He was four and a half years old.
         |  
         | &#x9;&#x9;
         p
            | &quot;I headed south, sometimes living in the streets, sometimes joining gangs of other homeless
            | children, sometimes living in orphanages and most of the time hungry.&quot; He spent the last year
            | in the city of Reggio Emelia, hospitalized for malnutrition that would never be cured, since he,
            | like the other children, was given only one cup of coffee and a small crust of bread every day. He
            | wanted desperately to escape. &quot;Scores of beds lined the rooms and corridors of the hospital, one
            | bed touching the next. No sheets, no blankets. We lay naked on those stripped beds,&quot; said Capecchi.
            | &quot;The nurse promised me that, if I could go through one day without a high fever, I could leave
            | the hospital. She knew that, without any clothes, I was not likely to run away. By late morning, the
            | high burning fever would return, and we would pass into oblivion.&quot;
         | &#x9;&#x9;
         p
            | That was where his mother found him on his ninth birthday after a year of searching. She bought
            | him a Tyrolean outfit, &quot;complete with a small cap with a feather in it. I still have the hat,&quot; noted
            | Capecchi. Within weeks, the two set sail for America to join his uncle and aunt. His mother &quot;had
            | changed enormously. She wasn&apos;t recognizable.&quot; Nor did she ever recover psychologically. &quot;She lived
            | essentially in a world of imagination&quot; until she died in Arizona in 1989.
      |    
      .uk-width-medium-4-10
   +pod('Growing up in Quaker Pennsylvania')
      |    
      .uk-width-medium-6-10
         p
            | Capecchi made a &quot;huge transition&quot; in 1946, from surviving on the streets of Italy to thriving
            | in a utopian commune near Philadelphia.
         | &#x9;&#x9;
         p
            | His uncle and aunt, Edward and Sarah Ramberg, helped establish the commune, which, by the time,
            | Capecchi and his mother arrived, had grown to nearly 65 families. Each had a private home, but the
            | land was held in common. &quot;It was a great place to grow up,&quot; said Capecchi, who remembers &quot;lots of
            | kids and lots of activities.&quot;
         | &#x9;&#x9;
         p
            | The day after he arrived, his uncle and aunt sent him to the third grade, although he&apos;d never
            | before been to school. Nor did he speak English. &quot;The teachers allowed me to play with paints and
            | make murals,&quot; enabling him to &quot;learn socialization and the language.&quot;
         | &#x9;&#x9;
         p
            | &quot;I was very fortunate to go to Quaker schools,&quot; said Capecchi. Later, at the George
            | School, &quot;high school kids were treated liked college students. We had a dialogue between teachers
            | and students. There were no textbooks. It made learning enjoyable.&quot;
         | &#x9;&#x9;
         | &#x9;&#x9;
         p
            | He became very active in sports, playing on four varsity teams: football, baseball, soccer
            | and wrestling, where he was team captain his senior year. &quot;Sports are important from a psychological
            | point of view,&quot; noted Capecchi, a familiar figure at the University&apos;s Field House where he runs 5-9
            | miles every day. &quot;You learn about human psychology, things that you later transfer to relationships:
            | perseverance, pushing yourself beyond certain limits.&quot;
         | &#x9;&#x9;
         p
            | The sense of social responsibility permeating the atmosphere at school also influenced him. &quot;There
            | was a cognizance of world problems. It wasn&apos;t taught, but it was felt that you could--you should--do
            | something to make this a better world.&quot;
         | &#x9;&#x9;
         p
            | At home, &quot;most conversations at the dinner table were political.&quot; Edward Ramberg was a physicist
            | at the Princeton RCA Research Laboratory who worked out the theory behind the electron microscope
            | and helped build the first one. At the RCA laboratory, he also was involved with making both
            | black-and-white and color televisions. Rather than encouraging Capecchi to go to college, Ramberg
            | used &quot;subliminal indoctrination&quot; to persuade his nephew of the value of science. That, coupled with
            | Quaker emphasis on social responsibility, convinced Capecchi to study political science.
         | &#x9;&#x9;
         p
            | He selected Antioch College because of the work-study curriculum in which students augmented
            | their academic work with practical experiences. But after one political science class, Capecchi
            | found there &quot;wasn&apos;t anything to bite on. There was little science in politics.&quot; He switched to
            | science and math, graduating in 1961 with a double major in physics and chemistry.
      |    
      .uk-width-medium-4-10
         img(src='images/soccer.jpg', width='202', height='257', alt='Dr. Capecchi and daughter')
         | &#x9;
         p.caption Dr. Capecchi playing soccer with his daughter, Misha

   +pod('From physics to molecular biology')

      .uk-width-medium-6-10
         p
            | Capecchi never took a biology class; &quot;I learned about biology in the labs.&quot; For his practical
            | experience, he worked several terms at the Massachusetts Institute of Technology (MIT). Once, he worked
            | with Charles &quot;Pop&quot; Kettering, a &quot;very curious&quot; man who dismantled an experimental machine Capecchi
            | had worked three months to construct. Incredulous, Capecchi watched, later admitting that &quot;it was
            | fun watching Kettering and his excitement at seeing how it worked.&quot;
         | &#x9;&#x9;
         p
            | Although he &quot;really liked physics--its elegance and simplicity,&quot; Capecchi realized from his
            | lab experience that &quot;everything we learned [in physics] was only up to the 1920s. It was still classical
            | education.&quot; Physics lacked the excitement that Capecchi sensed in a new science being developed: molecular biology.
         | &#x9;&#x9;
         p
            | &quot;Here, you had a new field being born. The predominant feeling was that anything was possible. You
            | could ask any question. That&apos;s fairly unique,&quot; noted Capecchi. &quot;It doesn&apos;t occur that often in history.&quot;
         | &#x9;&#x9;
         p
            | He knew he would switch to molecular biology in graduate school, but the question was where. On one of
            | several trips to interview at Harvard University, Capecchi asked James D. Watson for his advice. &quot;You&apos;d be
            | f-- crazy to go anywhere else&quot; was the infamous response.
         | &#x9;&#x9;
         p
            | &quot;I believed him,&quot; said Capecchi, who discovered that &quot;doing science in Jim&apos;s laboratory was a blast.&quot; Watson
            | is &quot;a bold person who says anything that comes into his mind. His bravado encouraged self-confidence in
            | those around him. He taught me not to bother with small questions, for such pursuits were likely to produce small answers.&quot;
         | &#x9;&#x9;
         p
            | After earning his doctorate in biophysics in 1967, Capecchi was a junior fellow at Harvard for
            | two years. The next four years, he spent on the biochemistry faculty at the Harvard School of Medicine, but
            | realized that &quot;science was losing something.&quot;
         | &#x9;&#x9;
         p
            | Some 50 universities are located in the Boston area. Rather than collaboration, Capecchi felt that the
            | thousands of researchers were working in isolation on projects that promised &quot;immediate gratification.&quot; As
            | he explained, &quot;Everyone is so aware of what everyone else is doing. &apos;What&apos;s new?&apos; was asked every day. That
            | limits you to short-term returns, posing questions that you know can be answered in six months.&quot;
         | &#x9;&#x9;
         p
            | In contrast, the University of Utah in Salt Lake City offered &quot;a relaxed atmosphere, where you could
            | work on projects whose outcome may take 10 years. The relative isolation tends to make you more focused
            | on the biological question you&apos;re working on.
         | &#x9;&#x9;
         p
            | &quot;It was a good choice,&quot; said Capecchi of his decision to relocate to the U of U in 1973.
      |    
      .uk-width-medium-4-10

   +pod('Genetic research in Utah')
 
      .uk-width-medium-6-10
         p
            | Creativity, so essential to his grandmother&apos;s painting and his mother&apos;s poetry, permeates Capecchi&apos;s
            | science. It also drew him to Utah, where he sensed &quot;a more creative atmosphere.&quot; The biology department was
            | being restructured by Gordon Lark, Ph.D., former chair, who wanted to have the department include &quot;representation
            | of all biology--from molecular biology to evolution--under one umbrella. That was an attractive feature.
         | &#x9;&#x9;
         p
            | &quot;My main strength as a scientist is focus: I can think of one thing deeply. But you still want to see
            | how your work fits into all of biology. Just the exposure to a greater diversity of disciplines stimulates
            | you and directs your questions.&quot;
         | &#x9;&#x9;
         p
            | The fact that the University&apos;s biology department had only 20 faculty members at that time also was
            | appealing. &quot;If we couldn&apos;t create an atmosphere of creativity with 20,&quot; said Capecchi, &quot;then it simply
            | wouldn&apos;t exist.&quot;
         | &#x9;&#x9;
         | &#x9;&#x9;
         p
            | Gene targeting was &quot;inconceivable&quot; while Capecchi was at Harvard, essentially because &quot;the tools
            | weren&apos;t there to even think about it.&quot; But with the discovery of recombinant DNA technology, &quot;the stage
            | was set for us.&quot;
         | &#x9;&#x9;
         p
            | While injecting DNA into the nucleus of a cell, he noticed, &quot;almost by serendipity,&quot; polarity in
            | which the molecules lined up in the same direction. By 1977, he was able to prove that homologous
            | recombination had generated the ordered array of newly introduced DNA molecules in the recipient cells.
            | This implied that all mammalian cells had the machinery to mediate homologous recombination.
         | &#x9;&#x9;
         p
            | &quot;If we could harness this machinery to mediate homologous recombination between a DNA molecule
            | of our choice and the same DNA sequence in the living cell genome, then we would have the ability
            | to mutate any gene and even decide ahead of time what kind of mutation to introduce into the chosen
            | gene,&quot; explained Capecchi. Such a capability would revolutionize biology.
         | &#x9;&#x9;
         p
            | &quot;From then on, our objective was to do gene targeting,&quot; he said. The experiments started in 1980,
            | despite NIH&apos;s refusal to fund the work. By 1984, Capecchi had &quot;clear success.&quot; Three years later, he
            | applied the technology to mice. In 1989, he developed the first mice with targeted mutations.
         | &#x9;&#x9;
         p
            | Summarizing Capecchi&apos;s achievements makes his research seem effortless. &quot;From 1977-89 is a long
            | time, but it was a progression. At each step of the way, there were hurdles,&quot; he acknowledged. Was he
            | ever tempted to give up? &quot;No, no,&quot; was his immediate response.
         | &#x9;&#x9;
         p
            | &quot;We realized homologous recombination wasn&apos;t a simple problem, so we designed our tools to pick up
            | rare events. That was the reason for our success,&quot; said Capecchi. Others &quot;thought we were biting
            | off a big problem. Their question was: would we ever get there?
         | &#x9;&#x9;
         p
            | &quot;Once you have a signal, you try to improve it. We could see a signal with these techniques. We weren&apos;t
            | waffling around in the dark.&quot;
      |    
      .uk-width-medium-4-10
         img(src='images/mcaccepts.jpg', width='263', height='187', alt='Accepts Kyoto prize')
         | &#x9;&#x9;
         p.caption Dr. Capecchi accepts the 1996 Kyoto Prize in Japan
   +pod('At home in the canyon')
      |    
      .uk-width-medium-6-10
         p
            | Tree-studded mountain ridges fade to distant blue from the deck of the home Capecchi shares with his
            | wife, Laurie Fraser, and their daughter, Misha, at the top of a canyon in Salt Lake County.
         | &#x9;&#x9;
         p
            | &quot;Space is very important to me. I&apos;m claustrophobic,&quot; admits Capecchi. &quot;To be able see to for long
            | distances...that influences the way you think. Once you move out West and go back East, you notice it.&quot;
         | &#x9;&#x9;
         | &#x9;&#x9;
         p
            | Although many of Capecchi&apos;s neighbors use their homes as summer getaways, he and his family live
            | there year-round. When snow covers their 17 acres, they must hike up the narrow dirt road. &quot;I like the
            | transition, especially in the winter. With seven, eight feet of snow, it&apos;s really isolated.&quot;
         | &#x9;&#x9;
         p
            | In anticipation of being snowbound, Capecchi set up a computer station in an alcove off a bedroom. It
            | remains shrouded in plastic covers; the snow and ice have yet to deter him.
         | &#x9;&#x9;
         p
            | The rustic three-level home, paneled in pine, was built originally as a geodesic dome, but collapsed
            | the winter before they bought it in 1979. &quot;There&apos;s only one right angle,&quot; explained Capecchi, who recently
            | had to find space for an antique corner hutch he&apos;d inherited. The couple has added onto the house in stages,
            | so the spaces complement the eclectic decor.
         | &#x9;&#x9;
         p
            | Like the diversity Capecchi values in science, their home is a fascinating blend of art. Green and
            | orange papier-mache fish that Misha made dangle above a long wood chest dating from the 15th century,
            | which the family inherited from The Ramberg Villa in Florence. A Bali mask Capecchi brought back from
            | a scientific trip hangs on a nearby wall, while whimsical sculptures of a racoon and porcupine not only
            | adorn the loft, but &quot;actually hold up the roof.&quot;
         | &#x9;&#x9;
         p
            | Musical accompaniment inside the home is provided by two parakeets and two cockatiels, who live quite
            | peacefully with four cats, one dog and two rats. Fraser&apos;s horse--she specializes in dressage--is stabled
            | in Draper, since their property is so steep.
         | &#x9;&#x9;
         p
            | &quot;My wife wants to live somewhere she can have lots of horses,&quot; said Capecchi. &quot;But she thinks I&apos;ll
            | never retire. She envisions me dying in the lab.&quot;
         | &#x9;&#x9;
         p
            | Retirement doesn&apos;t seem to be in Capecchi&apos;s vocabulary, although he does find himself doing &quot;a different
            | style of science. Now, it&apos;s managing. My hands aren&apos;t in the experiments themselves. But I haven&apos;t put
            | thought into what will be the next phase of my life.&quot;
      |    
      .uk-width-medium-4-10
         img(src='images/family.jpg', width='199', height='295', alt='Family')
         | &#x9;&#x9;&#x9;
         p.caption Dr. Capecchi with his wife, Laurie Fraser, and daughter Misha

   +pod('Genetic engineering and human potentiality')
 
      .uk-width-medium-6-10
         p
            | World peace was more than an ideal to Capecchi&apos;s uncle, Edward Ramberg. A founder of Scientists for
            | Social Responsibility, Ramberg lived his belief that peace was possible. Until his death in January 1996,
            | the 88-year-old scientist walked three-and-a-half miles every day in Philadelphia to volunteer at the
            | American Friends Service Committee.
         | &#x9;&#x9;
         p
            | His nephew doesn&apos;t claim to be &quot;too religious,&quot; but feels that his life continues to be influenced by
            | the Quaker belief in social responsibility. &quot;It affects how I behave,&quot; said Capecchi. &quot;Not my research,
            | but how I treat my colleagues and run my lab and raise my family. My wife and I share these ideals. We&apos;re
            | strongly thinking of sending Misha to Quaker camp.&quot;
         | &#x9;&#x9;
         p
            | Genetic technology is raising ethical questions as complex as those surrounding world peace, but
            | &quot;for me, they&apos;re almost too specific,&quot; said Capecchi. &quot;How should insurance companies behave? That&apos;s not
            | the kind of thinking I like to do.&quot;
         | &#x9;&#x9;
         p
            | Overpopulation is of far more concern to the researcher. &quot;In the long run, that will be our most
            | critical problem. It&apos;s going to put enormous strains on this planet. How will we maintain an increasing
            | population base?&quot;
         | &#x9;&#x9;
         p
            | As the earth becomes more crowded, we not only deplete our resources, but also lessen the possibility
            | that we can offer an environment in which all children thrive as well as survive, a poignant concern for
            | Capecchi. His own childhood was &quot;the antithesis of a nurturing environment, which all of us deeply want
            | to believe is a conducive prerequisite for fostering thoughtful, creative human beings.&quot;
         | &#x9;&#x9;
         p
            | As Capecchi told the international audience at the Kyoto symposium, &quot;...our only course is to provide
            | all of our children with ample opportunity to pursue their passions and their dreams. Our level of understanding
            | of human development is too meager to allow us to foresee which of the children in our midst will be the next
            | Beethoven, Modigliani or Martin Luther King.&quot;
      |    
      .uk-width-medium-4-10
   div(style='clear:both')
   p.attrib First published in the University of Utah Health Sciences Report
   p.xsmallfont Author: Susan Sample
   
