extends /shared/layout
block content
   +pageTitle
   +pod('')
      .uk-width-1-1
         p
            | The cells in our bodies are constantly sending out and receiving signals. But what if a cell fails to send out a signal at the proper time? Or what
            | if a signal doesn&apos;t reach its target? What if a target cell does not respond to a signal, or a cell responds even though it has not received a signal?
            | These are just a few ways in which cell communication can go wrong, resulting in disease. In fact, most diseases involve at least one breakdown
            | in cell communication.
   +pod('Losing the Signal')

      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='images/type1diabetes.jpg', alt='Normal Blood Sugar Regulation')
            p
               strong Normal blood sugar regulation.
               |  After food enters the body (1), it is broken down
               |       and sugar enters the bloodstream (2). Sugar stimulates cells
               |     in the pancreas to release insulin (3). Insulin travels through the blood to other cells in the body and signals them to take up sugar (4).

      .uk-width-medium-4-10
         p
            | The food that you eat is broken down into sugar, which enters the blood stream. Normally, cells in the pancreas release a signal, called insulin,
            | that tells your liver, muscle and fat cells to store this sugar for later use. In type I diabetes, the pancreatic cells that produce insulin are
            | lost. Consequently, the insulin signal is also lost. As a result, sugar accumulates to toxic levels in the blood. Without treatment, diabetes can
            | lead to kidney failure, blindness and heart disease in later life.
   +pod("When a Signal Doesn't Reach Its Target")
      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='images/MS.jpg', alt='Multiple Sclerosis')
      .uk-width-medium-4-10
         p
            | Multiple sclerosis is a disease in which the protective wrappings around nerve cells in the brain and spinal cord are destroyed. The affected nerve
            | cells can no longer transmit signals from one area of the brain to another. The nerve damage caused by multiple sclerosis leads to many problems,
            | including muscle weakness, blurred or double vision, difficulty with balance, uncontrolled movements, and depression.
   +pod('When the Target Ignores the Signal')
      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='images/type1-vs-type2.jpg', alt='Type 1 Versus Type 2')
      .uk-width-medium-4-10
         p
            | Type I and type II diabetes have very similar symptoms, but they have different causes. While people who have type I diabetes are unable to produce
            | the insulin signal, those with type II diabetes do produce insulin. However, the cells of type II diabetics have lost the ability to respond to insulin.
            | The end result is the same: blood sugar levels become dangerously high.
   +pod('Too Much Signal')
      .uk-width-medium-6-10
         figure
            img.lg-no-shadow(src='images/stroke2.jpg', alt='Stroke')
            p
               strong Excitotoxicity:
               |  After a brain injury such as a stroke, lethal amounts of signaling molecules leak out of dying nerve cells resulting
               |     in widespread damage to the brain.

      .uk-width-medium-4-10
         p
            | A stroke occurs when a blockage forms in a blood vessel, cutting off blood flow to part of the brain. The immediate result is the death of nearby
            | brain cells. But the most catastrophic event comes later, when the dying cells release large amounts of the signaling molecule glutamate. Low
            | concentrations of glutamate control many actions in the brain, but at high concentrations it is toxic to cells. Through a process called excitotoxicity,
            | glutamate spreads through the brain and kills cells that were not affected by the blockage, often leading to widespread brain damage.
   +pod('Multiple Breakdowns')
      .uk-width-medium-6-10
         figure
            img(src='images/cancer.jpg', alt='Cancer')
            p
               | Many mechanisms maintain appropriate cell growth: Cell division occurs in response to external signals (1). Enzymes repair damaged DNA (2). Cells make connections
               | with their  neighbors (3). If these connections suddenly change, neighboring cells send out an alert. Cells respect and stay within tissue boundaries (4). If a
               | cell is beyond repair, it initiates its own death (5).

      .uk-width-medium-4-10
         p
            | Cell growth and division is such an important process that it is under tight control with many checks and balances. But even so, cell communication can break down.
            | The result is uncontrolled cell growth, often leading to cancer. Cancer can occur in many ways, but it always requires multiple signaling breakdowns. Often, cancer
            | begins when a cell gains the ability to grow and divide even in the absence of a signal. Ordinarily this unregulated growth triggers a signal for self-destruction.
            | But when the cell also loses the ability to respond to death signals, it divides out of control, forming a tumor. Later cell communication events cause blood vessels
            | to grow into the tumor, enabling it to grow larger. Additional signals allow the cancer to spread to other parts of the body.
   +pod('Treatments')
      .uk-width-medium-6-10
         figure
            img(src='images/asthma.jpg', alt='Asthma', width='390', height='193')
            p
               | During an asthma attack, signaling molecules cause a narrowing of breathing passages in the lungs, making it difficult to breathe.
            p
               | Many drugs that treat asthma mimic natural signals that tell muscle cells in the lungs to relax, allowing breathing passages to open.

      .uk-width-medium-4-10
         p
            | Just as cell communication can go wrong resulting in disease, many disease treatments rely on cell communication. If you think of disease as a roadblock in
            | cell communication, treatment is an alternate route. The first step is to locate the problem. The second step is to find a way around the problem. Sometimes
            | it&apos;s easy. The treatment for type I diabetes is to inject insulin into the blood stream. Other times it&apos;s more difficult, especially in diseases such as cancer
            | where cell communication has broken down in multiple places.
